# Momsitter User Sequence Analysis

Description

Goal: Extract ngram of the sequence data

Keyword: SPADE, WTP

## Data munging

Description

### Load the data

Description

In [ ]:
import csv
import pandas as pd

seq_data = pd.read_csv('./data/IP_GROUP_BY_SEQ.csv')
seq_data

### Declare SDB

Description

In [25]:
sdb = {}

### Define util analysis function

Description

In [31]:
# description
def sequence_tokenize(seq):
    return seq.replace('<', '').replace('>', '').split(',')

In [74]:
# description
def extract_ngram(ngram, seq_items):
    result = []
    for index, item in enumerate(seq_items):
        for x in seq_items[index:index + ngram]:
            print x
            print len(x)
            print '==='
            #result.append(','.join([str(x) for x in seq_items[index:index + ngram] if len(x) == ngram]))
    return result

In [19]:
if '87,89' in seq_data.iloc[0]['SEQUENCE_PARSE']:
    print 'Contains!'

Contains!

In [67]:
sequence_tokenize(seq_data.iloc[0]['SEQUENCE_PARSE'])

['87', '89', '80', '26', '1', '132', '93', '132', '93', '63', '1', '90', '92']

3

In [75]:
extract_ngram(4, sequence_tokenize(seq_data.iloc[0]['SEQUENCE_PARSE']))

87
2
===
89
2
===
80
2
===
26
2
===
89
2
===
80
2
===
26
2
===
1
1
===
80
2
===
26
2
===
1
1
===
132
3
===
26
2
===
1
1
===
132
3
===
93
2
===
1
1
===
132
3
===
93
2
===
132
3
===
132
3
===
93
2
===
132
3
===
93
2
===
93
2
===
132
3
===
93
2
===
63
2
===
132
3
===
93
2
===
63
2
===
1
1
===
93
2
===
63
2
===
1
1
===
90
2
===
63
2
===
1
1
===
90
2
===
92
2
===
1
1
===
90
2
===
92
2
===
90
2
===
92
2
===
92
2
===

[]

In [21]:
#for index, row in seq_data.iterrows():

ID                                                        1
IP_SPLIT_RESULT                              119.67.115.197
SEQUENCE_PARSE     <87,89,80,26,1,132,93,132,93,63,1,90,92>
Name: 0, dtype: object
ID                              2
IP_SPLIT_RESULT    119.67.115.197
SEQUENCE_PARSE         <23,23,90>
Name: 1, dtype: object
ID                                                                 3
IP_SPLIT_RESULT                                       211.104.55.131
SEQUENCE_PARSE     <1,26,26,1,93,93,1,5,1,93,132,93,132,93,93,93,...
Name: 2, dtype: object
ID                                                                 4
IP_SPLIT_RESULT                                           1.235.19.6
SEQUENCE_PARSE     <1,90,92,1,132,93,93,93,14,93,132,93,132,93,13...
Name: 3, dtype: object
ID                                                                 5
IP_SPLIT_RESULT                                           1.235.19.6
SEQUENCE_PARSE     <87,89,80,29,132,113,132,113,132,92,93,93,93,1...
Name: 4, dtype: object
ID                            6
IP_SPLIT_RESULT    66.249.69.29
SEQUENCE_PARSE              <1>
Name: 5, dtype: object
ID                             7
IP_SPLIT_RESULT    46.229.168.78
SEQUENCE_PARSE               <1>
Name: 6, dtype: object
ID                             8
IP_SPLIT_RESULT    46.229.168.71
SEQUENCE_PARSE               <1>
Name: 7, dtype: object
ID                             9
IP_SPLIT_RESULT    46.229.168.72
SEQUENCE_PARSE               <1>
Name: 8, dtype: object
ID                            10
IP_SPLIT_RESULT    46.229.168.66
SEQUENCE_PARSE               <1>
Name: 9, dtype: object
ID                            11
IP_SPLIT_RESULT    46.229.168.76
SEQUENCE_PARSE               <1>
Name: 10, dtype: object
ID                            12
IP_SPLIT_RESULT    46.229.168.73
SEQUENCE_PARSE               <1>
Name: 11, dtype: object
ID                            13
IP_SPLIT_RESULT    46.229.168.75
SEQUENCE_PARSE               <1>
Name: 12, dtype: object
ID                             14
IP_SPLIT_RESULT    211.104.55.131
SEQUENCE_PARSE                <1>
Name: 13, dtype: object
ID                            15
IP_SPLIT_RESULT    46.229.168.74
SEQUENCE_PARSE               <1>
Name: 14, dtype: object
ID                            16
IP_SPLIT_RESULT    46.229.168.70
SEQUENCE_PARSE               <1>
Name: 15, dtype: object
ID                            17
IP_SPLIT_RESULT    46.229.168.67
SEQUENCE_PARSE               <1>
Name: 16, dtype: object
ID                                                      18
IP_SPLIT_RESULT                             211.39.150.194
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1>
Name: 17, dtype: object
ID                            19
IP_SPLIT_RESULT    46.229.168.69
SEQUENCE_PARSE               <1>
Name: 18, dtype: object
ID                            20
IP_SPLIT_RESULT    46.229.168.79
SEQUENCE_PARSE               <1>
Name: 19, dtype: object
ID                            21
IP_SPLIT_RESULT    46.229.168.77
SEQUENCE_PARSE               <1>
Name: 20, dtype: object
ID                            22
IP_SPLIT_RESULT    46.229.168.65
SEQUENCE_PARSE               <1>
Name: 21, dtype: object
ID                            23
IP_SPLIT_RESULT    46.229.168.80
SEQUENCE_PARSE               <1>
Name: 22, dtype: object
ID                                                                24
IP_SPLIT_RESULT                                       211.104.55.131
SEQUENCE_PARSE     <26,132,132,5,1,5,1,5,1,5,1,93,132,93,132,1,13...
Name: 23, dtype: object
ID                            25
IP_SPLIT_RESULT    103.67.235.76
SEQUENCE_PARSE               <1>
Name: 24, dtype: object
ID                            26
IP_SPLIT_RESULT    66.249.75.150
SEQUENCE_PARSE               <1>
Name: 25, dtype: object
ID                                            27
IP_SPLIT_RESULT                    115.139.19.59
SEQUENCE_PARSE     <1,93,93,93,93,93,93,92,1,90>
Name: 26, dtype: object
ID                            28
IP_SPLIT_RESULT    115.139.19.59
SEQUENCE_PARSE           <90,92>
Name: 27, dtype: object
ID                              29
IP_SPLIT_RESULT    159.203.125.202
SEQUENCE_PARSE                 <1>
Name: 28, dtype: object
ID                           30
IP_SPLIT_RESULT    207.46.13.28
SEQUENCE_PARSE              <1>
Name: 29, dtype: object
ID                                                                31
IP_SPLIT_RESULT                                       211.39.150.194
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 30, dtype: object
ID                             32
IP_SPLIT_RESULT    203.217.254.11
SEQUENCE_PARSE                <1>
Name: 31, dtype: object
ID                                                      33
IP_SPLIT_RESULT                             223.33.164.128
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93>
Name: 32, dtype: object
ID                          34
IP_SPLIT_RESULT    62.28.97.19
SEQUENCE_PARSE             <1>
Name: 33, dtype: object
ID                                                                35
IP_SPLIT_RESULT                                      175.193.254.124
SEQUENCE_PARSE     <29,132,113,132,113,29,113,132,113,132,31,113,...
Name: 34, dtype: object
ID                           36
IP_SPLIT_RESULT    46.41.144.58
SEQUENCE_PARSE              <1>
Name: 35, dtype: object
ID                                                                37
IP_SPLIT_RESULT                                        223.38.11.234
SEQUENCE_PARSE     <1,113,113,113,113,113,113,113,113,113,23,90,9...
Name: 36, dtype: object
ID                                                      38
IP_SPLIT_RESULT                              175.223.37.30
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93>
Name: 37, dtype: object
ID                            39
IP_SPLIT_RESULT    124.83.115.83
SEQUENCE_PARSE               <1>
Name: 38, dtype: object
ID                            40
IP_SPLIT_RESULT    69.63.188.213
SEQUENCE_PARSE               <1>
Name: 39, dtype: object
ID                            41
IP_SPLIT_RESULT    40.77.167.118
SEQUENCE_PARSE               <1>
Name: 40, dtype: object
ID                                                                42
IP_SPLIT_RESULT                                       119.70.234.103
SEQUENCE_PARSE     <1,5,1,5,1,130,130,130,130,191,130,130,132,92,...
Name: 41, dtype: object
ID                             43
IP_SPLIT_RESULT    121.164.48.230
SEQUENCE_PARSE                <1>
Name: 42, dtype: object
ID                            44
IP_SPLIT_RESULT    66.249.75.152
SEQUENCE_PARSE               <1>
Name: 43, dtype: object
ID                             45
IP_SPLIT_RESULT    54.175.126.230
SEQUENCE_PARSE                <1>
Name: 44, dtype: object
ID                           46
IP_SPLIT_RESULT    37.99.58.100
SEQUENCE_PARSE              <1>
Name: 45, dtype: object
ID                            47
IP_SPLIT_RESULT    66.249.75.154
SEQUENCE_PARSE               <1>
Name: 46, dtype: object
ID                                                                48
IP_SPLIT_RESULT                                       211.226.105.96
SEQUENCE_PARSE     <1,93,93,93,93,93,93,1,93,93,93,93,93,93,93,93...
Name: 47, dtype: object
ID                                                                49
IP_SPLIT_RESULT                                       211.226.105.96
SEQUENCE_PARSE     <130,130,130,130,130,130,132,92,178,132,180,17...
Name: 48, dtype: object
ID                            50
IP_SPLIT_RESULT    66.249.75.133
SEQUENCE_PARSE               <1>
Name: 49, dtype: object
ID                             51
IP_SPLIT_RESULT    178.210.69.109
SEQUENCE_PARSE                <1>
Name: 50, dtype: object
ID                              52
IP_SPLIT_RESULT    186.225.221.170
SEQUENCE_PARSE                 <1>
Name: 51, dtype: object
ID                             53
IP_SPLIT_RESULT    175.119.158.98
SEQUENCE_PARSE              <179>
Name: 52, dtype: object
ID                             54
IP_SPLIT_RESULT    218.48.205.104
SEQUENCE_PARSE                <1>
Name: 53, dtype: object
ID                             55
IP_SPLIT_RESULT    175.119.158.98
SEQUENCE_PARSE              <179>
Name: 54, dtype: object
ID                           56
IP_SPLIT_RESULT    66.249.69.26
SEQUENCE_PARSE              <1>
Name: 55, dtype: object
ID                                                                57
IP_SPLIT_RESULT                                         122.42.16.20
SEQUENCE_PARSE     <113,132,162,132,132,158,160,132,132,158,160,1...
Name: 56, dtype: object
ID                                                                58
IP_SPLIT_RESULT                                      175.116.132.196
SEQUENCE_PARSE     <1,113,132,132,113,31,113,113,1,132,113,132,11...
Name: 57, dtype: object
ID                                                                59
IP_SPLIT_RESULT                                      175.116.132.196
SEQUENCE_PARSE     <31,113,113,113,31,1,132,113,132,113,1,132,113...
Name: 58, dtype: object
ID                                                                60
IP_SPLIT_RESULT                                         39.115.56.32
SEQUENCE_PARSE     <1,132,93,132,93,93,93,32,93,32,93,32,93,32,93...
Name: 59, dtype: object
ID                                                                61
IP_SPLIT_RESULT                                         39.115.56.32
SEQUENCE_PARSE     <93,93,93,32,93,132,162,113,1,132,93,132,93,93...
Name: 60, dtype: object
ID                                                                62
IP_SPLIT_RESULT                                         119.67.32.51
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,31,113,113,1,132...
Name: 61, dtype: object
ID                                                            63
IP_SPLIT_RESULT                                   203.226.207.87
SEQUENCE_PARSE     <1,113,132,113,113,132,113,1,132,113,132,113>
Name: 62, dtype: object
ID                                                                64
IP_SPLIT_RESULT                                         119.67.32.51
SEQUENCE_PARSE     <132,113,113,132,113,113,113,113,113,113,1,132...
Name: 63, dtype: object
ID                                                                65
IP_SPLIT_RESULT                                           39.7.58.13
SEQUENCE_PARSE     <1,132,93,132,132,93,132,132,93,132,93,93,93,3...
Name: 64, dtype: object
ID                                                                66
IP_SPLIT_RESULT                                       175.223.32.169
SEQUENCE_PARSE     <39,130,130,164,1,132,93,132,1,63,132,132,113,...
Name: 65, dtype: object
ID                                                                67
IP_SPLIT_RESULT                                       175.223.32.169
SEQUENCE_PARSE     <164,93,132,31,113,113,113,31,113,113,31,113,132>
Name: 66, dtype: object
ID                                                                68
IP_SPLIT_RESULT                                        218.38.239.13
SEQUENCE_PARSE     <38,1,63,132,93,132,93,32,93,32,93,32,93,32,93...
Name: 67, dtype: object
ID                             69
IP_SPLIT_RESULT    175.223.27.175
SEQUENCE_PARSE            <32,93>
Name: 68, dtype: object
ID                            70
IP_SPLIT_RESULT    188.95.227.10
SEQUENCE_PARSE               <1>
Name: 69, dtype: object
ID                             71
IP_SPLIT_RESULT    112.164.40.204
SEQUENCE_PARSE            <113,1>
Name: 70, dtype: object
ID                          72
IP_SPLIT_RESULT    89.38.98.44
SEQUENCE_PARSE             <1>
Name: 71, dtype: object
ID                                                                73
IP_SPLIT_RESULT                                       122.35.173.223
SEQUENCE_PARSE     <132,113,132,113,31,113,31,113,31,113,113,113,...
Name: 72, dtype: object
ID                            74
IP_SPLIT_RESULT    49.171.39.205
SEQUENCE_PARSE               <1>
Name: 73, dtype: object
ID                                                                75
IP_SPLIT_RESULT                                       122.35.173.223
SEQUENCE_PARSE     <113,113,31,113,31,113,31,113,113,29,132,113,1...
Name: 74, dtype: object
ID                                                                76
IP_SPLIT_RESULT                                          1.242.56.14
SEQUENCE_PARSE     <1,92,87,32,93,32,93,93,93,93,93,32,93,32,93,3...
Name: 75, dtype: object
ID                           77
IP_SPLIT_RESULT    66.249.69.24
SEQUENCE_PARSE              <1>
Name: 76, dtype: object
ID                                                                78
IP_SPLIT_RESULT                                        112.161.82.75
SEQUENCE_PARSE     <1,63,132,113,132,113,31,113,31,113,31,113,113...
Name: 77, dtype: object
ID                                                                79
IP_SPLIT_RESULT                                       49.171.151.213
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,113,113,31,1...
Name: 78, dtype: object
ID                                                                80
IP_SPLIT_RESULT                                        175.223.19.41
SEQUENCE_PARSE     <1,63,89,195,195,1,93,93,93,93,63,1,130,132,13...
Name: 79, dtype: object
ID                                                                81
IP_SPLIT_RESULT                                          1.242.56.14
SEQUENCE_PARSE     <90,87,89,80,30,132,93,132,93,93,93,113,113,11...
Name: 80, dtype: object
ID                                                82
IP_SPLIT_RESULT                        175.223.19.41
SEQUENCE_PARSE     <1,93,132,1,93,132,1,93,132,93,1>
Name: 81, dtype: object
ID                          83
IP_SPLIT_RESULT    2.11.72.234
SEQUENCE_PARSE             <1>
Name: 82, dtype: object
ID                           84
IP_SPLIT_RESULT    40.77.167.99
SEQUENCE_PARSE           <1,25>
Name: 83, dtype: object
ID                            85
IP_SPLIT_RESULT    23.17.238.176
SEQUENCE_PARSE               <1>
Name: 84, dtype: object
ID                            86
IP_SPLIT_RESULT    173.254.28.45
SEQUENCE_PARSE               <1>
Name: 85, dtype: object
ID                                                                87
IP_SPLIT_RESULT                                      182.172.135.110
SEQUENCE_PARSE     <1,90,92,87,89,132,132,132,132,113,132,113,113...
Name: 86, dtype: object
ID                                                                88
IP_SPLIT_RESULT                                      182.172.135.110
SEQUENCE_PARSE     <87,80,29,113,113,87,113,113,113,113,113,113,9...
Name: 87, dtype: object
ID                                                               89
IP_SPLIT_RESULT                                      218.158.229.14
SEQUENCE_PARSE     <1,5,1,132,93,132,93,89,198,132,81,63,132,81,93>
Name: 88, dtype: object
ID                             90
IP_SPLIT_RESULT    185.172.110.38
SEQUENCE_PARSE                <1>
Name: 89, dtype: object
ID                             91
IP_SPLIT_RESULT    185.172.110.38
SEQUENCE_PARSE                <1>
Name: 90, dtype: object
ID                                                                92
IP_SPLIT_RESULT                                        211.36.139.53
SEQUENCE_PARSE     <29,132,132,158,160,164,132,93,132,1,90,1,93,1...
Name: 91, dtype: object
ID                            93
IP_SPLIT_RESULT    66.249.75.137
SEQUENCE_PARSE          <1,44,1>
Name: 92, dtype: object
ID                            94
IP_SPLIT_RESULT    223.62.11.187
SEQUENCE_PARSE         <1,93,93>
Name: 93, dtype: object
ID                                                                95
IP_SPLIT_RESULT                                        116.37.193.46
SEQUENCE_PARSE     <33,32,93,32,93,32,93,32,93,1,33,164,32,93,32,...
Name: 94, dtype: object
ID                                                                96
IP_SPLIT_RESULT                                        211.36.139.53
SEQUENCE_PARSE     <132,158,160,132,132,113,132,113,31,113,1,132,...
Name: 95, dtype: object
ID                                                                97
IP_SPLIT_RESULT                                        223.62.169.98
SEQUENCE_PARSE     <93,93,32,5,1,132,93,132,1,132,132,158,160,132...
Name: 96, dtype: object
ID                            98
IP_SPLIT_RESULT    223.62.212.91
SEQUENCE_PARSE       <1,90,92,1>
Name: 97, dtype: object
ID                            99
IP_SPLIT_RESULT    180.76.15.152
SEQUENCE_PARSE               <1>
Name: 98, dtype: object
ID                                                               100
IP_SPLIT_RESULT                                         223.62.22.41
SEQUENCE_PARSE     <1,93,93,93,93,130,132,93,132,93,93,93,32,93,3...
Name: 99, dtype: object
ID                            101
IP_SPLIT_RESULT    58.124.175.102
SEQUENCE_PARSE                <1>
Name: 100, dtype: object
ID                                   102
IP_SPLIT_RESULT           175.223.17.246
SEQUENCE_PARSE     <1,113,113,1,132,132>
Name: 101, dtype: object
ID                                                               103
IP_SPLIT_RESULT                                       175.223.17.246
SEQUENCE_PARSE     <29,1,113,113,132,132,158,160,1,132,93,132,93,...
Name: 102, dtype: object
ID                                                               104
IP_SPLIT_RESULT                                        106.102.0.174
SEQUENCE_PARSE     <1,113,132,132,158,160,132,113,132,93,132,93,9...
Name: 103, dtype: object
ID                                                               105
IP_SPLIT_RESULT                                         223.62.22.41
SEQUENCE_PARSE     <93,32,93,93,32,93,32,93,32,93,93,93,32,93,32,...
Name: 104, dtype: object
ID                                                          106
IP_SPLIT_RESULT                                   117.111.2.220
SEQUENCE_PARSE     <25,90,25,90,29,132,113,132,132,132,158,160>
Name: 105, dtype: object
ID                         107
IP_SPLIT_RESULT    39.7.58.221
SEQUENCE_PARSE             <1>
Name: 106, dtype: object
ID                             108
IP_SPLIT_RESULT      203.251.181.2
SEQUENCE_PARSE     <1,5,1,5,1,132>
Name: 107, dtype: object
ID                           109
IP_SPLIT_RESULT    203.251.181.2
SEQUENCE_PARSE             <132>
Name: 108, dtype: object
ID                                                               110
IP_SPLIT_RESULT                                        223.62.178.29
SEQUENCE_PARSE     <1,93,93,93,93,32,93,93,93,93,93,32,93,1,132,9...
Name: 109, dtype: object
ID                                                         111
IP_SPLIT_RESULT                                   58.79.216.55
SEQUENCE_PARSE     <33,33,33,93,93,93,93,93,93,93,93,93,93,33>
Name: 110, dtype: object
ID                                                               112
IP_SPLIT_RESULT                                       223.62.216.211
SEQUENCE_PARSE     <1,130,132,113,132,113,31,113,31,113,113,113,3...
Name: 111, dtype: object
ID                            113
IP_SPLIT_RESULT    175.223.10.126
SEQUENCE_PARSE                <1>
Name: 112, dtype: object
ID                                                               114
IP_SPLIT_RESULT                                       223.62.216.211
SEQUENCE_PARSE     <113,113,31,113,31,113,31,113,31,113,31,113,11...
Name: 113, dtype: object
ID                                                               115
IP_SPLIT_RESULT                                        175.223.22.71
SEQUENCE_PARSE     <63,132,113,132,113,113,113,113,113,1,132,93,1...
Name: 114, dtype: object
ID                            116
IP_SPLIT_RESULT    175.214.46.145
SEQUENCE_PARSE                <1>
Name: 115, dtype: object
ID                                                               117
IP_SPLIT_RESULT                                        223.62.178.29
SEQUENCE_PARSE     <93,93,93,93,1,132,93,132,93,93,93,93,93,93,93...
Name: 116, dtype: object
ID                                                               118

ID                                 296
IP_SPLIT_RESULT          223.62.202.16
SEQUENCE_PARSE     <132,132,132,132,1>
Name: 295, dtype: object
ID                             297
IP_SPLIT_RESULT    123.111.225.252
SEQUENCE_PARSE             <93,93>
Name: 296, dtype: object
ID                         298
IP_SPLIT_RESULT    37.247.43.2
SEQUENCE_PARSE       <1,2,1,2>
Name: 297, dtype: object
ID                             299
IP_SPLIT_RESULT       59.7.236.121
SEQUENCE_PARSE     <1,5,1,5,1,132>
Name: 298, dtype: object
ID                                                               300
IP_SPLIT_RESULT                                        223.62.203.49
SEQUENCE_PARSE     <113,132,113,132,113,113,113,113,1,132,93,132,...
Name: 299, dtype: object
ID                                                         301
IP_SPLIT_RESULT                                    223.62.8.81
SEQUENCE_PARSE     <1,63,132,93,132,93,32,93,30,132,93,132,93>
Name: 300, dtype: object
ID                                                               302
IP_SPLIT_RESULT                                       117.111.19.205
SEQUENCE_PARSE     <1,132,174,132,132,158,160,132,132,113,132,113...
Name: 301, dtype: object
ID                                                               303
IP_SPLIT_RESULT                                       175.223.18.118
SEQUENCE_PARSE     <1,113,113,113,113,113,113,130,130,130,130,132...
Name: 302, dtype: object
ID                                                               304
IP_SPLIT_RESULT                                       175.223.18.118
SEQUENCE_PARSE     <93,113,132,113,93,132,113,113,113,113,31,113,...
Name: 303, dtype: object
ID                                                               305
IP_SPLIT_RESULT                                          36.39.56.16
SEQUENCE_PARSE     <29,132,113,132,113,31,113,29,132,113,132,113,...
Name: 304, dtype: object
ID                           306
IP_SPLIT_RESULT    176.74.13.222
SEQUENCE_PARSE               <1>
Name: 305, dtype: object
ID                           307
IP_SPLIT_RESULT    115.91.16.106
SEQUENCE_PARSE      <1,90,92,87>
Name: 306, dtype: object
ID                                                               308
IP_SPLIT_RESULT                                        112.152.96.54
SEQUENCE_PARSE     <1,63,89,195,195,195,195,195,195,195,65,89,65,...
Name: 307, dtype: object
ID                             309
IP_SPLIT_RESULT    175.195.250.131
SEQUENCE_PARSE        <1,90,92,87>
Name: 308, dtype: object
ID                                                               310
IP_SPLIT_RESULT                                         110.46.52.80
SEQUENCE_PARSE     <1,63,89,195,195,195,195,1,63,113,132,113,132,...
Name: 309, dtype: object
ID                                                               311
IP_SPLIT_RESULT                                       223.62.162.141
SEQUENCE_PARSE     <33,1,63,1,63,89,198,132,174,172,170,132,132,1...
Name: 310, dtype: object
ID                           312
IP_SPLIT_RESULT    85.128.142.12
SEQUENCE_PARSE               <1>
Name: 311, dtype: object
ID                                                               313
IP_SPLIT_RESULT                                        115.91.16.106
SEQUENCE_PARSE     <87,89,80,26,1,130,132,132,92,87,200,29,132,11...
Name: 312, dtype: object
ID                                                               314
IP_SPLIT_RESULT                                       211.205.37.198
SEQUENCE_PARSE     <1,113,132,113,132,113,113,113,113,132,113,132...
Name: 313, dtype: object
ID                                                             315
IP_SPLIT_RESULT                                      183.96.180.67
SEQUENCE_PARSE     <1,90,92,1,93,93,93,93,93,93,93,93,93,93,93,93>
Name: 314, dtype: object
ID                           316
IP_SPLIT_RESULT    147.47.204.40
SEQUENCE_PARSE       <1,5,1,132>
Name: 315, dtype: object
ID                            317
IP_SPLIT_RESULT    222.112.37.226
SEQUENCE_PARSE                <1>
Name: 316, dtype: object
ID                           318
IP_SPLIT_RESULT    183.96.180.67
SEQUENCE_PARSE              <92>
Name: 317, dtype: object
ID                          319
IP_SPLIT_RESULT    117.111.1.13
SEQUENCE_PARSE       <39,164,1>
Name: 318, dtype: object
ID                                                               320
IP_SPLIT_RESULT                                       222.112.37.226
SEQUENCE_PARSE     <1,90,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 319, dtype: object
ID                                         321
IP_SPLIT_RESULT                139.162.116.133
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1>
Name: 320, dtype: object
ID                             322
IP_SPLIT_RESULT    202.169.224.206
SEQUENCE_PARSE                 <1>
Name: 321, dtype: object
ID                                                       323
IP_SPLIT_RESULT                              211.227.130.119
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,1,92>
Name: 322, dtype: object
ID                             324
IP_SPLIT_RESULT    202.169.224.206
SEQUENCE_PARSE                 <1>
Name: 323, dtype: object
ID                                                               325
IP_SPLIT_RESULT                                      211.188.192.228
SEQUENCE_PARSE     <1,132,166,162,162,31,113,31,113,132,162,166,1...
Name: 324, dtype: object
ID                               326
IP_SPLIT_RESULT      211.227.130.119
SEQUENCE_PARSE     <130,130,130,132>
Name: 325, dtype: object
ID                                                  327
IP_SPLIT_RESULT                         218.155.206.213
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,92>
Name: 326, dtype: object
ID                                                         328
IP_SPLIT_RESULT                                211.188.192.228
SEQUENCE_PARSE     <1,132,113,132,113,31,113,31,113,31,113,31>
Name: 327, dtype: object
ID                             329
IP_SPLIT_RESULT    218.155.206.213
SEQUENCE_PARSE                <90>
Name: 328, dtype: object
ID                                     330
IP_SPLIT_RESULT              117.111.1.154
SEQUENCE_PARSE     <1,130,87,93,212,14,93>
Name: 329, dtype: object
ID                             331
IP_SPLIT_RESULT       164.132.91.1
SEQUENCE_PARSE     <1,5,1,5,1,5,1>
Name: 330, dtype: object
ID                                                               332
IP_SPLIT_RESULT                                          1.243.130.5
SEQUENCE_PARSE     <39,164,39,164,164,1,113,132,113,132,113,113,1...
Name: 331, dtype: object
ID                           333
IP_SPLIT_RESULT    175.197.94.69
SEQUENCE_PARSE               <1>
Name: 332, dtype: object
ID                                                               334
IP_SPLIT_RESULT                                        110.70.54.115
SEQUENCE_PARSE     <1,90,132,93,132,162,132,162,132,162,132,162,1...
Name: 333, dtype: object
ID                                                               335
IP_SPLIT_RESULT                                        110.70.54.115
SEQUENCE_PARSE     <93,93,132,162,93,93,93,14,93,93,93,132,93,132...
Name: 334, dtype: object
ID                                                               336
IP_SPLIT_RESULT                                        61.247.209.97
SEQUENCE_PARSE     <31,31,1,14,14,1,31,14,1,31,10,31,31,31,1,5,1,...
Name: 335, dtype: object
ID                           337
IP_SPLIT_RESULT    121.189.37.59
SEQUENCE_PARSE       <1,5,1,5,1>
Name: 336, dtype: object
ID                           338
IP_SPLIT_RESULT    121.189.37.59
SEQUENCE_PARSE       <1,5,1,5,1>
Name: 337, dtype: object
ID                             339
IP_SPLIT_RESULT     117.52.141.216
SEQUENCE_PARSE     <1,5,1,5,1,5,1>
Name: 338, dtype: object
ID                              340
IP_SPLIT_RESULT        211.249.68.9
SEQUENCE_PARSE     <1,5,1,5,1,27,1>
Name: 339, dtype: object
ID                                                               341
IP_SPLIT_RESULT                                          39.7.46.232
SEQUENCE_PARSE     <1,130,130,132,113,132,113,113,113,113,113,31,...
Name: 340, dtype: object
ID                                                               342
IP_SPLIT_RESULT                                         49.161.15.84
SEQUENCE_PARSE     <1,132,93,132,93,32,93,132,162,166,162,93,32,9...
Name: 341, dtype: object
ID                          343
IP_SPLIT_RESULT    59.16.38.234
SEQUENCE_PARSE              <1>
Name: 342, dtype: object
ID                                                  344
IP_SPLIT_RESULT                           220.123.64.59
SEQUENCE_PARSE     <1,63,132,113,132,113,31,113,31,113>
Name: 343, dtype: object
ID                             345
IP_SPLIT_RESULT    203.226.208.199
SEQUENCE_PARSE             <1,5,1>
Name: 344, dtype: object
ID                           346
IP_SPLIT_RESULT    117.111.4.218
SEQUENCE_PARSE         <1,90,92>
Name: 345, dtype: object
ID                          347
IP_SPLIT_RESULT    39.116.40.55
SEQUENCE_PARSE              <1>
Name: 346, dtype: object
ID                                                               348
IP_SPLIT_RESULT                                         223.38.10.59
SEQUENCE_PARSE     <1,63,132,113,113,132,31,113,31,113,113,113,31...
Name: 347, dtype: object
ID                                                             349
IP_SPLIT_RESULT                                      117.111.4.218
SEQUENCE_PARSE     <87,89,80,29,113,132,113,132,132,25,90,132,132>
Name: 348, dtype: object
ID                                                               350
IP_SPLIT_RESULT                                       211.188.182.37
SEQUENCE_PARSE     <1,132,113,132,113,31,113,132,162,166,31,113,1...
Name: 349, dtype: object
ID                                         351
IP_SPLIT_RESULT                  59.18.177.196
SEQUENCE_PARSE     <1,132,113,132,113,113,113>
Name: 350, dtype: object
ID                           352
IP_SPLIT_RESULT    59.18.177.196
SEQUENCE_PARSE              <31>
Name: 351, dtype: object
ID                           353
IP_SPLIT_RESULT    157.55.39.170
SEQUENCE_PARSE               <1>
Name: 352, dtype: object
ID                                                               354
IP_SPLIT_RESULT                                        223.62.10.187
SEQUENCE_PARSE     <1,113,132,113,132,113,113,113,113,31,113,132,...
Name: 353, dtype: object
ID                             355
IP_SPLIT_RESULT    180.182.188.249
SEQUENCE_PARSE                 <1>
Name: 354, dtype: object
ID                                                               356
IP_SPLIT_RESULT                                        223.39.140.81
SEQUENCE_PARSE     <1,90,92,93,93,93,113,132,132,212,132,132,132,...
Name: 355, dtype: object
ID                                                               357
IP_SPLIT_RESULT                                        223.62.169.38
SEQUENCE_PARSE     <93,32,32,93,32,93,32,93,93,93,32,93,32,93,32,...
Name: 356, dtype: object
ID                             358
IP_SPLIT_RESULT    125.209.235.183
SEQUENCE_PARSE         <1,5,1,5,1>
Name: 357, dtype: object
ID                            359
IP_SPLIT_RESULT    211.36.139.246
SEQUENCE_PARSE      <1,130,191,1>
Name: 358, dtype: object
ID                             360
IP_SPLIT_RESULT    210.183.123.136
SEQUENCE_PARSE                 <1>
Name: 359, dtype: object
ID                             361
IP_SPLIT_RESULT    210.183.123.136
SEQUENCE_PARSE                <90>
Name: 360, dtype: object
ID                                                               362
IP_SPLIT_RESULT                                          1.243.130.5
SEQUENCE_PARSE     <29,132,113,113,132,1,113,132,113,132,31,113,3...
Name: 361, dtype: object
ID                                                  363
IP_SPLIT_RESULT                           223.62.219.50
SEQUENCE_PARSE     <1,132,93,132,132,93,132,132,93,132>
Name: 362, dtype: object
ID                                                     364
IP_SPLIT_RESULT                             211.36.139.246
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93>
Name: 363, dtype: object
ID                            365
IP_SPLIT_RESULT    112.167.184.87
SEQUENCE_PARSE                <1>
Name: 364, dtype: object
ID                            366
IP_SPLIT_RESULT    121.132.211.14
SEQUENCE_PARSE                <1>
Name: 365, dtype: object
ID                            367
IP_SPLIT_RESULT    112.167.184.87
SEQUENCE_PARSE               <63>
Name: 366, dtype: object
ID                                                               368
IP_SPLIT_RESULT                                       121.132.211.14
SEQUENCE_PARSE     <93,1,191,63,132,132,132,132,87,92,189,132,132...
Name: 367, dtype: object
ID                                                               369
IP_SPLIT_RESULT                                        223.62.202.40
SEQUENCE_PARSE     <1,90,1,5,1,132,81,132,93,132,32,93,32,93,32,9...
Name: 368, dtype: object
ID                                                               370
IP_SPLIT_RESULT                                         110.70.27.75
SEQUENCE_PARSE     <93,93,93,93,93,93,113,113,113,113,113,113,113...
Name: 369, dtype: object
ID                           371
IP_SPLIT_RESULT    175.223.34.61
SEQUENCE_PARSE       <113,113,1>
Name: 370, dtype: object
ID                                        372
IP_SPLIT_RESULT                117.111.24.127
SEQUENCE_PARSE     <1,113,132,113,132,31,113>
Name: 371, dtype: object
ID                                                               373
IP_SPLIT_RESULT                                       121.132.211.14
SEQUENCE_PARSE     <132,113,113,31,1,132,132,132,1,132,130,132,1,...
Name: 372, dtype: object
ID                             374
IP_SPLIT_RESULT    216.172.168.171
SEQUENCE_PARSE                 <1>
Name: 373, dtype: object
ID                                                               375
IP_SPLIT_RESULT                                         49.161.15.84
SEQUENCE_PARSE     <1,132,93,132,93,32,93,93,93,93,93,93,93,93,93...
Name: 374, dtype: object
ID                         376
IP_SPLIT_RESULT    223.38.8.70
SEQUENCE_PARSE      <33,164,1>
Name: 375, dtype: object
ID                                                               377
IP_SPLIT_RESULT                                       223.33.178.214
SEQUENCE_PARSE     <1,63,132,113,132,31,113,132,162,166,162,132,1...
Name: 376, dtype: object
ID                           378
IP_SPLIT_RESULT    195.101.240.1
SEQUENCE_PARSE               <1>
Name: 377, dtype: object
ID                            379
IP_SPLIT_RESULT    175.193.46.167
SEQUENCE_PARSE            <1,5,1>
Name: 378, dtype: object
ID                         380
IP_SPLIT_RESULT    89.38.98.44
SEQUENCE_PARSE             <1>
Name: 379, dtype: object
ID                                                               381
IP_SPLIT_RESULT                                      118.221.230.227
SEQUENCE_PARSE     <1,132,113,113,132,31,113,113,113,31,113,31,11...
Name: 380, dtype: object
ID                                                               382
IP_SPLIT_RESULT                                        223.33.165.31
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,132,132,87,200,29...
Name: 381, dtype: object
ID                                                               383
IP_SPLIT_RESULT                                       211.36.142.239
SEQUENCE_PARSE     <1,63,89,195,195,29,132,113,132,113,29,132,113...
Name: 382, dtype: object
ID                             384
IP_SPLIT_RESULT    180.182.188.249
SEQUENCE_PARSE                 <1>
Name: 383, dtype: object
ID                                                               385
IP_SPLIT_RESULT                                        223.33.165.31
SEQUENCE_PARSE     <92,93,93,93,93,93,93,32,32,93,93,132,93,132,9...
Name: 384, dtype: object
ID                                                               386
IP_SPLIT_RESULT                                          39.7.57.189
SEQUENCE_PARSE     <1,132,87,92,87,80,29,212,132,113,132,132,93,3...
Name: 385, dtype: object
ID                                              387
IP_SPLIT_RESULT                         39.7.57.189
SEQUENCE_PARSE     <189,1,90,92,89,1,90,132,93,132>
Name: 386, dtype: object
ID                           388
IP_SPLIT_RESULT    79.151.65.111
SEQUENCE_PARSE               <1>
Name: 387, dtype: object
ID                                                               389
IP_SPLIT_RESULT                                       49.173.166.108
SEQUENCE_PARSE     <1,132,93,132,93,132,113,132,113,113,113,113,1...
Name: 388, dtype: object
ID                                                               390
IP_SPLIT_RESULT                                       223.62.188.146
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 389, dtype: object
ID                               391
IP_SPLIT_RESULT        223.62.202.40
SEQUENCE_PARSE     <1,93,93,93,93,1>
Name: 390, dtype: object
ID                                                               392
IP_SPLIT_RESULT                                        110.10.159.26
SEQUENCE_PARSE     <1,132,113,132,113,31,113,113,113,113,113,31,1...
Name: 391, dtype: object
ID                            393
IP_SPLIT_RESULT    110.15.105.202
SEQUENCE_PARSE                <1>
Name: 392, dtype: object
ID                             394
IP_SPLIT_RESULT    123.111.225.252
SEQUENCE_PARSE             <68,68>
Name: 393, dtype: object
ID                             395
IP_SPLIT_RESULT    220.181.125.178
SEQUENCE_PARSE             <1,5,1>
Name: 394, dtype: object
ID                                   396
IP_SPLIT_RESULT            210.99.31.118
SEQUENCE_PARSE     <1,93,93,93,93,93,93>
Name: 395, dtype: object
ID                                                   397
IP_SPLIT_RESULT                             115.91.95.10
SEQUENCE_PARSE     <1,132,113,132,113,1,132,113,132,113>
Name: 396, dtype: object
ID                          398
IP_SPLIT_RESULT    117.111.24.5
SEQUENCE_PARSE              <1>
Name: 397, dtype: object
ID                                                               399
IP_SPLIT_RESULT                                        175.223.48.87
SEQUENCE_PARSE     <1,113,132,132,158,160,132,113,132,81,81,81,81...
Name: 398, dtype: object
ID                                                               400
IP_SPLIT_RESULT                                        210.99.31.118
SEQUENCE_PARSE     <1,93,93,93,93,1,93,93,93,93,90,93,93,93,93,93...
Name: 399, dtype: object
ID                                                               401
IP_SPLIT_RESULT                                      115.126.216.125
SEQUENCE_PARSE     <1,63,1,130,191,63,89,195,195,195,63,113,113,1...
Name: 400, dtype: object
ID                                                      402
IP_SPLIT_RESULT                               223.33.164.92
SEQUENCE_PARSE     <1,132,81,132,158,160,132,113,132,32,32>
Name: 401, dtype: object
ID                          403
IP_SPLIT_RESULT    97.74.24.139
SEQUENCE_PARSE              <1>
Name: 402, dtype: object
ID                                                               404
IP_SPLIT_RESULT                                      115.126.216.125
SEQUENCE_PARSE     <1,132,132,132,158,160,132,132,132,132,132,132...
Name: 403, dtype: object
ID                           405
IP_SPLIT_RESULT    211.215.57.70
SEQUENCE_PARSE               <1>
Name: 404, dtype: object
ID                                                               406
IP_SPLIT_RESULT                                       223.62.172.202
SEQUENCE_PARSE     <31,113,132,132,158,160,132,132,132,132,158,16...
Name: 405, dtype: object
ID                                                               407
IP_SPLIT_RESULT                                          39.7.54.185
SEQUENCE_PARSE     <1,113,113,63,132,113,132,113,31,113,31,113,11...
Name: 406, dtype: object
ID                                                               408

ID                            550
IP_SPLIT_RESULT    221.156.62.213
SEQUENCE_PARSE                <1>
Name: 549, dtype: object
ID                                               551
IP_SPLIT_RESULT                        222.98.88.214
SEQUENCE_PARSE     <1,93,132,93,132,93,93,130,130,1>
Name: 550, dtype: object
ID                           552
IP_SPLIT_RESULT    218.146.6.131
SEQUENCE_PARSE               <1>
Name: 551, dtype: object
ID                          553
IP_SPLIT_RESULT    10.1.149.199
SEQUENCE_PARSE              <1>
Name: 552, dtype: object
ID                                                               554
IP_SPLIT_RESULT                                          1.243.61.55
SEQUENCE_PARSE     <41,130,130,130,130,130,63,41,1,198,1,63,132,9...
Name: 553, dtype: object
ID                                                               555
IP_SPLIT_RESULT                                          1.243.61.55
SEQUENCE_PARSE     <132,89,132,174,172,170,176,132,132,132,132,15...
Name: 554, dtype: object
ID                            556
IP_SPLIT_RESULT    173.252.90.247
SEQUENCE_PARSE                <1>
Name: 555, dtype: object
ID                            557
IP_SPLIT_RESULT    125.184.54.100
SEQUENCE_PARSE            <1,5,1>
Name: 556, dtype: object
ID                                                               558
IP_SPLIT_RESULT                                        49.170.62.243
SEQUENCE_PARSE     <41,63,132,132,132,174,172,170,132,132,93,132,...
Name: 557, dtype: object
ID                             559
IP_SPLIT_RESULT      211.207.15.79
SEQUENCE_PARSE     <1,93,93,93,93>
Name: 558, dtype: object
ID                            560
IP_SPLIT_RESULT    101.201.209.75
SEQUENCE_PARSE                <1>
Name: 559, dtype: object
ID                                         561
IP_SPLIT_RESULT                 211.36.156.216
SEQUENCE_PARSE     <29,31,113,132,113,132,113>
Name: 560, dtype: object
ID                            562
IP_SPLIT_RESULT    58.150.203.119
SEQUENCE_PARSE            <1,5,1>
Name: 561, dtype: object
ID                                                               563
IP_SPLIT_RESULT                                      112.186.202.170
SEQUENCE_PARSE     <1,132,113,113,132,1,132,113,132,113,1,132,113...
Name: 562, dtype: object
ID                                                               564
IP_SPLIT_RESULT                                        58.236.33.176
SEQUENCE_PARSE     <113,132,113,132,113,113,29,132,132,113,113,11...
Name: 563, dtype: object
ID                             565
IP_SPLIT_RESULT    121.142.215.131
SEQUENCE_PARSE             <1,5,1>
Name: 564, dtype: object
ID                                                               566
IP_SPLIT_RESULT                                        175.223.17.46
SEQUENCE_PARSE     <1,63,132,132,93,132,93,93,132,93,132,93,93,93...
Name: 565, dtype: object
ID                          567
IP_SPLIT_RESULT    124.50.50.27
SEQUENCE_PARSE              <1>
Name: 566, dtype: object
ID                            568
IP_SPLIT_RESULT    117.52.141.206
SEQUENCE_PARSE                <1>
Name: 567, dtype: object
ID                                 569
IP_SPLIT_RESULT          211.249.68.10
SEQUENCE_PARSE     <1,5,1,29,29,25,25>
Name: 568, dtype: object
ID                            570
IP_SPLIT_RESULT    175.114.27.163
SEQUENCE_PARSE                <1>
Name: 569, dtype: object
ID                             571
IP_SPLIT_RESULT    121.128.248.182
SEQUENCE_PARSE                 <1>
Name: 570, dtype: object
ID                             572
IP_SPLIT_RESULT    121.128.248.182
SEQUENCE_PARSE                <90>
Name: 571, dtype: object
ID                                                               573
IP_SPLIT_RESULT                                       124.80.109.129
SEQUENCE_PARSE     <1,5,1,31,113,31,113,113,113,113,113,113,113,1...
Name: 572, dtype: object
ID                                                               574
IP_SPLIT_RESULT                                         211.58.24.87
SEQUENCE_PARSE     <1,113,113,113,113,113,113,113,113,113,113,113...
Name: 573, dtype: object
ID                                                575
IP_SPLIT_RESULT                        124.80.109.129
SEQUENCE_PARSE     <5,1,113,39,164,39,164,164,31,113>
Name: 574, dtype: object
ID                                               576
IP_SPLIT_RESULT                         211.58.24.87
SEQUENCE_PARSE     <130,132,132,113,113,162,166,162>
Name: 575, dtype: object
ID                           577
IP_SPLIT_RESULT    61.85.188.219
SEQUENCE_PARSE           <1,130>
Name: 576, dtype: object
ID                          578
IP_SPLIT_RESULT    77.75.78.164
SEQUENCE_PARSE              <1>
Name: 577, dtype: object
ID                                                               579
IP_SPLIT_RESULT                                        218.38.239.13
SEQUENCE_PARSE     <113,132,132,158,160,132,113,113,113,14,113,11...
Name: 578, dtype: object
ID                                                               580
IP_SPLIT_RESULT                                        58.235.171.55
SEQUENCE_PARSE     <1,5,1,5,1,130,130,92,89,93,93,93,93,93,93,93,...
Name: 579, dtype: object
ID                            581
IP_SPLIT_RESULT    223.62.190.230
SEQUENCE_PARSE             <1,25>
Name: 580, dtype: object
ID                             582
IP_SPLIT_RESULT    220.126.226.153
SEQUENCE_PARSE                 <1>
Name: 581, dtype: object
ID                           583
IP_SPLIT_RESULT    50.62.208.147
SEQUENCE_PARSE               <1>
Name: 582, dtype: object
ID                             584
IP_SPLIT_RESULT    210.182.116.111
SEQUENCE_PARSE                 <1>
Name: 583, dtype: object
ID                             585
IP_SPLIT_RESULT    114.200.143.195
SEQUENCE_PARSE             <1,5,1>
Name: 584, dtype: object
ID                             586
IP_SPLIT_RESULT    125.209.235.168
SEQUENCE_PARSE         <1,5,1,5,1>
Name: 585, dtype: object
ID                                                               587
IP_SPLIT_RESULT                                        175.223.19.16
SEQUENCE_PARSE     <1,63,132,93,132,93,93,93,93,93,93,93,93,93,93...
Name: 586, dtype: object
ID                                    588
IP_SPLIT_RESULT             175.223.19.16
SEQUENCE_PARSE     <1,93,132,174,172,170>
Name: 587, dtype: object
ID                             589
IP_SPLIT_RESULT    210.182.116.111
SEQUENCE_PARSE                 <1>
Name: 588, dtype: object
ID                                 590
IP_SPLIT_RESULT         211.249.42.245
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1>
Name: 589, dtype: object
ID                                                               591
IP_SPLIT_RESULT                                       223.33.164.205
SEQUENCE_PARSE     <93,132,132,113,132,113,113,113,31,113,31,113,...
Name: 590, dtype: object
ID                                                               592
IP_SPLIT_RESULT                                       223.33.164.205
SEQUENCE_PARSE     <31,113,31,113,31,113,113,113,31,113,113,113,3...
Name: 591, dtype: object
ID                           593
IP_SPLIT_RESULT    157.55.39.121
SEQUENCE_PARSE               <1>
Name: 592, dtype: object
ID                            594
IP_SPLIT_RESULT    175.114.27.163
SEQUENCE_PARSE      <1,5,1,93,93>
Name: 593, dtype: object
ID                                                               595
IP_SPLIT_RESULT                                        118.32.76.211
SEQUENCE_PARSE     <1,113,113,113,113,113,113,113,113,113,113,113...
Name: 594, dtype: object
ID                            596
IP_SPLIT_RESULT    211.59.250.240
SEQUENCE_PARSE          <1,90,92>
Name: 595, dtype: object
ID                                                               597
IP_SPLIT_RESULT                                        119.70.242.20
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 596, dtype: object
ID                                                               598
IP_SPLIT_RESULT                                         61.82.172.90
SEQUENCE_PARSE     <1,90,90,92,93,93,93,93,93,93,93,93,93,93,1,13...
Name: 597, dtype: object
ID                                                        599
IP_SPLIT_RESULT                                117.111.21.228
SEQUENCE_PARSE     <93,93,1,93,93,93,93,93,93,93,93,93,93,93>
Name: 598, dtype: object
ID                                                               600
IP_SPLIT_RESULT                                         61.82.172.90
SEQUENCE_PARSE     <92,1,5,1,132,93,132,93,1,130,130,191,90,92,80...
Name: 599, dtype: object
ID                                                               601
IP_SPLIT_RESULT                                       115.137.184.16
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,1,132,113,132,11...
Name: 600, dtype: object
ID                                                               602
IP_SPLIT_RESULT                                        118.32.76.211
SEQUENCE_PARSE     <87,89,80,26,130,1,191,63,1,113,113,113,113,11...
Name: 601, dtype: object
ID                                                             603
IP_SPLIT_RESULT                                     211.36.156.245
SEQUENCE_PARSE     <29,113,113,1,113,113,113,113,113,113,31,113,1>
Name: 602, dtype: object
ID                                                604
IP_SPLIT_RESULT                        117.111.21.228
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93,93,93,93>
Name: 603, dtype: object
ID                                     605
IP_SPLIT_RESULT              220.121.98.52
SEQUENCE_PARSE     <1,130,130,191,191,130>
Name: 604, dtype: object
ID                                            606
IP_SPLIT_RESULT                    211.36.156.245
SEQUENCE_PARSE     <1,63,132,113,113,132,113,113>
Name: 605, dtype: object
ID                                                               607
IP_SPLIT_RESULT                                        49.170.62.243
SEQUENCE_PARSE     <1,63,132,174,172,170,132,132,132,132,158,160,...
Name: 606, dtype: object
ID                             608
IP_SPLIT_RESULT    124.248.221.204
SEQUENCE_PARSE                 <1>
Name: 607, dtype: object
ID                                                               609
IP_SPLIT_RESULT                                           39.7.58.72
SEQUENCE_PARSE     <1,63,132,113,132,113,31,113,113,113,113,113,3...
Name: 608, dtype: object
ID                                                               610
IP_SPLIT_RESULT                                           39.7.58.72
SEQUENCE_PARSE     <31,113,113,113,113,113,113,113,113,113,31,113...
Name: 609, dtype: object
ID                             611
IP_SPLIT_RESULT       58.76.176.44
SEQUENCE_PARSE     <5,1,132,1,5,1>
Name: 610, dtype: object
ID                                          612
IP_SPLIT_RESULT                   110.70.59.151
SEQUENCE_PARSE     <1,63,89,195,195,195,195,93>
Name: 611, dtype: object
ID                            613
IP_SPLIT_RESULT     110.70.59.151
SEQUENCE_PARSE     <65,89,1,63,1>
Name: 612, dtype: object
ID                            614
IP_SPLIT_RESULT    106.11.158.188
SEQUENCE_PARSE                <1>
Name: 613, dtype: object
ID                            615
IP_SPLIT_RESULT    211.222.122.47
SEQUENCE_PARSE                <1>
Name: 614, dtype: object
ID                                                               616
IP_SPLIT_RESULT                                         39.114.21.41
SEQUENCE_PARSE     <1,130,130,1,130,130,130,130,130,130,113,113,1...
Name: 615, dtype: object
ID                          617
IP_SPLIT_RESULT    46.17.46.213
SEQUENCE_PARSE              <1>
Name: 616, dtype: object
ID                            618
IP_SPLIT_RESULT    211.222.122.47
SEQUENCE_PARSE            <1,5,1>
Name: 617, dtype: object
ID                                                               619
IP_SPLIT_RESULT                                         1.242.81.111
SEQUENCE_PARSE     <113,132,1,113,1,132,1,132,113,132,113,132,132...
Name: 618, dtype: object
ID                                                               620
IP_SPLIT_RESULT                                         1.242.81.111
SEQUENCE_PARSE     <31,113,113,113,31,113,31,113,113,113,113,113,...
Name: 619, dtype: object
ID                                           621
IP_SPLIT_RESULT                   211.249.42.247
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5>
Name: 620, dtype: object
ID                                                               622
IP_SPLIT_RESULT                                      211.177.113.223
SEQUENCE_PARSE     <1,63,1,63,89,195,195,1,63,132,132,113,132,113...
Name: 621, dtype: object
ID                                                               623
IP_SPLIT_RESULT                                      211.177.113.223
SEQUENCE_PARSE     <113,113,31,113,31,113,31,113,31,113,31,113,31...
Name: 622, dtype: object
ID                             624
IP_SPLIT_RESULT    211.188.192.204
SEQUENCE_PARSE       <132,1,93,93>
Name: 623, dtype: object
ID                                                               625
IP_SPLIT_RESULT                                        218.39.113.32
SEQUENCE_PARSE     <29,113,113,132,113,132,31,113,113,31,113,31,1...
Name: 624, dtype: object
ID                          626
IP_SPLIT_RESULT    77.75.78.166
SEQUENCE_PARSE              <1>
Name: 625, dtype: object
ID                          627
IP_SPLIT_RESULT    61.250.153.7
SEQUENCE_PARSE        <1,5,132>
Name: 626, dtype: object
ID                          628
IP_SPLIT_RESULT    210.90.150.7
SEQUENCE_PARSE              <1>
Name: 627, dtype: object
ID                             629
IP_SPLIT_RESULT    203.217.241.128
SEQUENCE_PARSE                 <1>
Name: 628, dtype: object
ID                                                               630
IP_SPLIT_RESULT                                        122.44.173.69
SEQUENCE_PARSE     <39,63,164,39,63,164,164,164,1,63,132,113,132,...
Name: 629, dtype: object
ID                          631
IP_SPLIT_RESULT    207.46.13.28
SEQUENCE_PARSE              <1>
Name: 630, dtype: object
ID                          632
IP_SPLIT_RESULT    157.55.39.87
SEQUENCE_PARSE           <1,44>
Name: 631, dtype: object
ID                            633
IP_SPLIT_RESULT    117.52.141.198
SEQUENCE_PARSE            <1,5,1>
Name: 632, dtype: object
ID                                                            634
IP_SPLIT_RESULT                                     223.38.10.228
SEQUENCE_PARSE     <1,130,1,33,164,33,164,33,164,33,164,1,132,81>
Name: 633, dtype: object
ID                          635
IP_SPLIT_RESULT    61.54.27.143
SEQUENCE_PARSE              <1>
Name: 634, dtype: object
ID                                  636
IP_SPLIT_RESULT          106.251.83.242
SEQUENCE_PARSE     <1,130,191,130,1,90>
Name: 635, dtype: object
ID                                                               637
IP_SPLIT_RESULT                                       121.163.60.174
SEQUENCE_PARSE     <1,93,93,1,63,1,132,113,132,113,113,113,113,11...
Name: 636, dtype: object
ID                                                               638
IP_SPLIT_RESULT                                          117.111.2.4
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,1,130,132,93,132,93...
Name: 637, dtype: object
ID                             639
IP_SPLIT_RESULT    147.135.156.122
SEQUENCE_PARSE                 <1>
Name: 638, dtype: object
ID                            640
IP_SPLIT_RESULT    199.249.223.66
SEQUENCE_PARSE                <1>
Name: 639, dtype: object
ID                                                               641
IP_SPLIT_RESULT                                          117.111.2.4
SEQUENCE_PARSE     <32,93,32,93,1,90,89,25,25,25,25,25,25,25,25,2...
Name: 640, dtype: object
ID                           642
IP_SPLIT_RESULT    125.182.4.171
SEQUENCE_PARSE           <1,5,1>
Name: 641, dtype: object
ID                                           643
IP_SPLIT_RESULT                    125.182.4.171
SEQUENCE_PARSE     <1,5,1,5,1,93,93,93,93,90,92>
Name: 642, dtype: object
ID                             644
IP_SPLIT_RESULT    218.147.153.181
SEQUENCE_PARSE                 <1>
Name: 643, dtype: object
ID                          645
IP_SPLIT_RESULT    59.11.137.90
SEQUENCE_PARSE              <1>
Name: 644, dtype: object
ID                           646
IP_SPLIT_RESULT    157.55.39.170
SEQUENCE_PARSE               <1>
Name: 645, dtype: object
ID                            647
IP_SPLIT_RESULT    190.36.250.188
SEQUENCE_PARSE                <1>
Name: 646, dtype: object
ID                                   648
IP_SPLIT_RESULT           211.188.182.45
SEQUENCE_PARSE     <1,113,132,132,113,1>
Name: 647, dtype: object
ID                                          649
IP_SPLIT_RESULT                  211.188.182.45
SEQUENCE_PARSE     <31,31,113,132,166,31,113,1>
Name: 648, dtype: object
ID                            650
IP_SPLIT_RESULT    211.36.154.221
SEQUENCE_PARSE          <1,93,93>
Name: 649, dtype: object
ID                                                               651
IP_SPLIT_RESULT                                          39.7.56.184
SEQUENCE_PARSE     <29,132,113,132,113,113,113,132,93,132,93,93,9...
Name: 650, dtype: object
ID                                        652
IP_SPLIT_RESULT                211.36.142.135
SEQUENCE_PARSE     <25,1,176,132,174,172,170>
Name: 651, dtype: object
ID                                                               653
IP_SPLIT_RESULT                                       211.36.142.135
SEQUENCE_PARSE     <90,132,93,132,93,93,93,1,130,130,130,132,174,...
Name: 652, dtype: object
ID                                                               654
IP_SPLIT_RESULT                                        84.201.133.68
SEQUENCE_PARSE     <44,1,44,1,30,1,32,23,32,30,32,1,44,32,6,1,5,1...
Name: 653, dtype: object
ID                           655
IP_SPLIT_RESULT    34.252.55.219
SEQUENCE_PARSE               <1>
Name: 654, dtype: object
ID                            656
IP_SPLIT_RESULT    117.52.141.212
SEQUENCE_PARSE            <1,5,1>
Name: 655, dtype: object
ID                                                              657
IP_SPLIT_RESULT                                       211.249.68.24
SEQUENCE_PARSE     <1,5,1,29,132,113,132,113,1,5,1,5,1,5,1,30,1,29>
Name: 656, dtype: object
ID                           658
IP_SPLIT_RESULT    211.249.68.10
SEQUENCE_PARSE       <1,31,31,1>
Name: 657, dtype: object
ID                            659
IP_SPLIT_RESULT    222.99.189.250
SEQUENCE_PARSE                <1>
Name: 658, dtype: object
ID                                                               660
IP_SPLIT_RESULT                                      175.124.130.115
SEQUENCE_PARSE     <1,130,132,113,132,113,113,113,31,113,113,113,...
Name: 659, dtype: object
ID                             661
IP_SPLIT_RESULT    175.124.130.115
SEQUENCE_PARSE               <113>
Name: 660, dtype: object
ID                            662
IP_SPLIT_RESULT    117.52.141.204
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 661, dtype: object
ID                            663
IP_SPLIT_RESULT    112.160.137.43
SEQUENCE_PARSE                <1>
Name: 662, dtype: object
ID                                                               664
IP_SPLIT_RESULT                                        1.215.219.157
SEQUENCE_PARSE     <1,132,132,158,160,164,132,158,160,132,132,158...
Name: 663, dtype: object
ID                           665
IP_SPLIT_RESULT    122.32.59.130
SEQUENCE_PARSE               <1>
Name: 664, dtype: object
ID                                                               666
IP_SPLIT_RESULT                                        118.37.147.63
SEQUENCE_PARSE     <132,113,113,132,31,113,31,113,1,113,113,31,11...
Name: 665, dtype: object
ID                         667
IP_SPLIT_RESULT    77.75.79.62
SEQUENCE_PARSE             <1>
Name: 666, dtype: object

ID                                                               839
IP_SPLIT_RESULT                                        1.241.159.124
SEQUENCE_PARSE     <1,63,132,113,132,113,31,113,31,113,31,113,113...
Name: 838, dtype: object
ID                                                               840
IP_SPLIT_RESULT                                       175.223.38.230
SEQUENCE_PARSE     <33,130,130,130,130,130,1,63,33,63,33,63,1,113...
Name: 839, dtype: object
ID                           841
IP_SPLIT_RESULT    117.111.4.219
SEQUENCE_PARSE      <1,93,93,93>
Name: 840, dtype: object
ID                             842
IP_SPLIT_RESULT    103.212.223.146
SEQUENCE_PARSE                 <1>
Name: 841, dtype: object
ID                                                               843
IP_SPLIT_RESULT                                        14.33.224.123
SEQUENCE_PARSE     <1,5,1,132,132,158,160,132,132,93,132,132,132,...
Name: 842, dtype: object
ID                           844
IP_SPLIT_RESULT    175.115.8.150
SEQUENCE_PARSE               <5>
Name: 843, dtype: object
ID                                                 845
IP_SPLIT_RESULT                         175.223.23.145
SEQUENCE_PARSE     <1,113,113,113,113,113,113,113,113>
Name: 844, dtype: object
ID                            846
IP_SPLIT_RESULT    175.223.23.145
SEQUENCE_PARSE      <113,113,1,5>
Name: 845, dtype: object
ID                           847
IP_SPLIT_RESULT    117.111.4.219
SEQUENCE_PARSE            <1,93>
Name: 846, dtype: object
ID                                                              848
IP_SPLIT_RESULT                                     125.178.108.215
SEQUENCE_PARSE     <1,63,1,132,113,132,113,31,113,31,113,132,162,1>
Name: 847, dtype: object
ID                                                               849
IP_SPLIT_RESULT                                      175.193.117.216
SEQUENCE_PARSE     <33,1,63,89,198,132,132,158,160,132,113,132,13...
Name: 848, dtype: object
ID                                                               850
IP_SPLIT_RESULT                                      211.231.103.107
SEQUENCE_PARSE     <1,5,1,29,1,32,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 849, dtype: object
ID                                                               851
IP_SPLIT_RESULT                                      222.233.252.196
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,1,90,92,93,93,93,93...
Name: 850, dtype: object
ID                           852
IP_SPLIT_RESULT    117.52.157.73
SEQUENCE_PARSE            <1,32>
Name: 851, dtype: object
ID                                           853
IP_SPLIT_RESULT                  219.241.232.209
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 852, dtype: object
ID                                                               854
IP_SPLIT_RESULT                                      222.233.252.196
SEQUENCE_PARSE     <130,130,130,1,93,93,93,93,93,93,93,93,93,93,9...
Name: 853, dtype: object
ID                                                               855
IP_SPLIT_RESULT                                         27.0.238.117
SEQUENCE_PARSE     <1,5,1,5,1,32,1,5,1,31,1,30,5,1,5,1,27,1,5,29,...
Name: 854, dtype: object
ID                                                               856
IP_SPLIT_RESULT                                         117.111.6.23
SEQUENCE_PARSE     <1,63,89,195,195,1,63,132,113,132,113,31,113,1...
Name: 855, dtype: object
ID                           857
IP_SPLIT_RESULT    175.115.8.150
SEQUENCE_PARSE               <5>
Name: 856, dtype: object
ID                                                               858
IP_SPLIT_RESULT                                         117.111.6.23
SEQUENCE_PARSE     <113,113,113,113,31,113,113,113,132,113,132,11...
Name: 857, dtype: object
ID                                                               859
IP_SPLIT_RESULT                                          39.7.54.241
SEQUENCE_PARSE     <1,63,89,195,195,89,1,130,132,113,132,113,31,1...
Name: 858, dtype: object
ID                           860
IP_SPLIT_RESULT    185.84.137.56
SEQUENCE_PARSE               <1>
Name: 859, dtype: object
ID                                                               861
IP_SPLIT_RESULT                                          39.7.54.241
SEQUENCE_PARSE     <113,113,113,113,31,113,132,93,132,93,92,87,80...
Name: 860, dtype: object
ID                           862
IP_SPLIT_RESULT    223.62.162.13
SEQUENCE_PARSE               <1>
Name: 861, dtype: object
ID                                                               863
IP_SPLIT_RESULT                                        223.38.10.229
SEQUENCE_PARSE     <33,1,63,164,164,164,164,164,164,164,164,164,1...
Name: 862, dtype: object
ID                                                               864
IP_SPLIT_RESULT                                      211.215.141.235
SEQUENCE_PARSE     <1,132,93,132,93,132,132,132,158,160,164,132,1...
Name: 863, dtype: object
ID                                                               865
IP_SPLIT_RESULT                                         122.32.17.47
SEQUENCE_PARSE     <1,90,92,87,89,80,30,132,93,132,93,93,93,32,93...
Name: 864, dtype: object
ID                                                               866
IP_SPLIT_RESULT                                        223.38.10.171
SEQUENCE_PARSE     <1,63,113,31,113,113,1,93,132,132,93,32,93,1,9...
Name: 865, dtype: object
ID                                         867
IP_SPLIT_RESULT                121.144.201.130
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93>
Name: 866, dtype: object
ID                                                               868
IP_SPLIT_RESULT                                         110.35.18.70
SEQUENCE_PARSE     <1,93,93,63,89,195,195,195,1,63,132,113,113,13...
Name: 867, dtype: object
ID                                                               869
IP_SPLIT_RESULT                                        223.38.10.171
SEQUENCE_PARSE     <132,113,113,132,31,113,31,113,31,113,113,113,...
Name: 868, dtype: object
ID                          870
IP_SPLIT_RESULT    77.75.76.168
SEQUENCE_PARSE              <1>
Name: 869, dtype: object
ID                          871
IP_SPLIT_RESULT    122.32.17.98
SEQUENCE_PARSE          <1,5,1>
Name: 870, dtype: object
ID                                                               872
IP_SPLIT_RESULT                                         122.32.17.47
SEQUENCE_PARSE     <1,93,132,93,132,93,93,32,93,32,93,32,93,93,32...
Name: 871, dtype: object
ID                                                               873
IP_SPLIT_RESULT                                          39.7.55.192
SEQUENCE_PARSE     <132,162,132,113,132,113,29,31,113,132,162,166...
Name: 872, dtype: object
ID                                                               874
IP_SPLIT_RESULT                                         110.35.18.70
SEQUENCE_PARSE     <31,113,31,113,132,113,113,132,113,113,113,113...
Name: 873, dtype: object
ID                                   875
IP_SPLIT_RESULT           223.62.213.182
SEQUENCE_PARSE     <1,113,1,90,92,80,26>
Name: 874, dtype: object
ID                                                               876
IP_SPLIT_RESULT                                        211.249.68.14
SEQUENCE_PARSE     <1,29,132,113,132,5,113,1,5,1,5,1,5,1,5,1,5,1,...
Name: 875, dtype: object
ID                             877
IP_SPLIT_RESULT    112.210.133.177
SEQUENCE_PARSE                 <1>
Name: 876, dtype: object
ID                                                               878
IP_SPLIT_RESULT                                       223.33.165.119
SEQUENCE_PARSE     <1,63,132,132,158,160,164,132,158,160,132,132,...
Name: 877, dtype: object
ID                             879
IP_SPLIT_RESULT    175.119.158.104
SEQUENCE_PARSE               <179>
Name: 878, dtype: object
ID                                   880
IP_SPLIT_RESULT          122.128.143.108
SEQUENCE_PARSE     <1,90,90,92,87,25,90>
Name: 879, dtype: object
ID                           881
IP_SPLIT_RESULT    112.200.59.41
SEQUENCE_PARSE               <1>
Name: 880, dtype: object
ID                         882
IP_SPLIT_RESULT    80.12.83.49
SEQUENCE_PARSE             <1>
Name: 881, dtype: object
ID                                                               883
IP_SPLIT_RESULT                                         122.32.55.13
SEQUENCE_PARSE     <33,164,1,132,174,172,170,174,172,170,132,132,...
Name: 882, dtype: object
ID                                                               884
IP_SPLIT_RESULT                                       223.195.99.203
SEQUENCE_PARSE     <1,5,1,5,1,93,93,93,93,93,93,93,93,93,93,1,5,1...
Name: 883, dtype: object
ID                                                               885
IP_SPLIT_RESULT                                       223.195.99.203
SEQUENCE_PARSE     <5,1,93,93,93,93,93,93,93,32,93,93,32,93,32,93...
Name: 884, dtype: object
ID                            886
IP_SPLIT_RESULT    118.42.207.229
SEQUENCE_PARSE         <1,5,1,90>
Name: 885, dtype: object
ID                           887
IP_SPLIT_RESULT    185.84.137.56
SEQUENCE_PARSE               <1>
Name: 886, dtype: object
ID                            888
IP_SPLIT_RESULT    223.39.138.193
SEQUENCE_PARSE               <29>
Name: 887, dtype: object
ID                                                               889
IP_SPLIT_RESULT                                         223.62.179.3
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,113,113,113,1...
Name: 888, dtype: object
ID                                                               890
IP_SPLIT_RESULT                                       223.62.169.151
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,87,89,80,30,93,132,...
Name: 889, dtype: object
ID                                                          891
IP_SPLIT_RESULT                                    223.62.179.3
SEQUENCE_PARSE     <113,113,93,1,63,132,132,158,160,132,93,132>
Name: 890, dtype: object
ID                                                               892
IP_SPLIT_RESULT                                       223.62.169.151
SEQUENCE_PARSE     <1,93,93,93,93,90,92,1,93,132,93,132,93,93,93,...
Name: 891, dtype: object
ID                            893
IP_SPLIT_RESULT    188.152.22.107
SEQUENCE_PARSE                <1>
Name: 892, dtype: object
ID                                                               894
IP_SPLIT_RESULT                                       211.36.139.200
SEQUENCE_PARSE     <1,63,89,195,195,89,1,63,132,113,132,113,113,1...
Name: 893, dtype: object
ID                            895
IP_SPLIT_RESULT    117.52.141.214
SEQUENCE_PARSE                <1>
Name: 894, dtype: object
ID                                                               896
IP_SPLIT_RESULT                                       211.36.139.200
SEQUENCE_PARSE     <93,132,113,132,113,113,113,113,113,93,132,93,...
Name: 895, dtype: object
ID                                                               897
IP_SPLIT_RESULT                                        223.62.204.98
SEQUENCE_PARSE     <33,164,164,33,164,164,164,132,93,132,132,132,...
Name: 896, dtype: object
ID                            898
IP_SPLIT_RESULT    188.152.22.107
SEQUENCE_PARSE                <1>
Name: 897, dtype: object
ID                            899
IP_SPLIT_RESULT    175.195.150.23
SEQUENCE_PARSE                <1>
Name: 898, dtype: object
ID                                            900
IP_SPLIT_RESULT                    223.62.190.214
SEQUENCE_PARSE     <1,113,132,113,132,31,113,113>
Name: 899, dtype: object
ID                                             901
IP_SPLIT_RESULT                       124.58.65.21
SEQUENCE_PARSE     <1,5,1,113,113,113,113,113,113>
Name: 900, dtype: object
ID                          902
IP_SPLIT_RESULT    1.231.135.18
SEQUENCE_PARSE              <1>
Name: 901, dtype: object
ID                           903
IP_SPLIT_RESULT    203.229.94.35
SEQUENCE_PARSE               <1>
Name: 902, dtype: object
ID                                                               904
IP_SPLIT_RESULT                                         116.46.95.77
SEQUENCE_PARSE     <1,130,130,130,132,93,132,93,93,93,93,93,32,93...
Name: 903, dtype: object
ID                          905
IP_SPLIT_RESULT    116.46.95.77
SEQUENCE_PARSE             <32>
Name: 904, dtype: object
ID                           906
IP_SPLIT_RESULT    37.59.253.230
SEQUENCE_PARSE               <1>
Name: 905, dtype: object
ID                             907
IP_SPLIT_RESULT    125.178.108.215
SEQUENCE_PARSE                 <1>
Name: 906, dtype: object
ID                                                  908
IP_SPLIT_RESULT                          223.62.212.197
SEQUENCE_PARSE     <1,132,93,132,93,93,113,113,113,113>
Name: 907, dtype: object
ID                                               909
IP_SPLIT_RESULT                        223.33.164.58
SEQUENCE_PARSE     <1,63,113,113,14,93,1,132,31,113>
Name: 908, dtype: object
ID                                                               910
IP_SPLIT_RESULT                                        223.33.164.58
SEQUENCE_PARSE     <113,113,132,93,132,32,93,32,93,93,93,32,93,93...
Name: 909, dtype: object
ID                                        911
IP_SPLIT_RESULT                 117.111.27.17
SEQUENCE_PARSE     <1,132,113,132,113,31,113>
Name: 910, dtype: object
ID                            912
IP_SPLIT_RESULT    223.39.139.203
SEQUENCE_PARSE           <93,5,1>
Name: 911, dtype: object
ID                           913
IP_SPLIT_RESULT    67.229.34.210
SEQUENCE_PARSE               <1>
Name: 912, dtype: object
ID                                                               914
IP_SPLIT_RESULT                                        223.62.169.28
SEQUENCE_PARSE     <130,132,93,132,93,93,93,93,93,32,93,93,93,32,93>
Name: 913, dtype: object
ID                                                             915
IP_SPLIT_RESULT                                       223.56.72.27
SEQUENCE_PARSE     <1,132,113,132,113,31,113,31,113,31,113,31,113>
Name: 914, dtype: object
ID                            916
IP_SPLIT_RESULT     223.38.11.176
SEQUENCE_PARSE     <31,113,92,89>
Name: 915, dtype: object
ID                                                    917
IP_SPLIT_RESULT                              223.56.72.27
SEQUENCE_PARSE     <113,113,31,113,31,113,113,113,31,113>
Name: 916, dtype: object
ID                                                               918
IP_SPLIT_RESULT                                        223.62.216.73
SEQUENCE_PARSE     <39,63,89,195,195,195,39,63,164,164,132,81,174...
Name: 917, dtype: object
ID                           919
IP_SPLIT_RESULT    223.33.181.89
SEQUENCE_PARSE               <1>
Name: 918, dtype: object
ID                                                               920
IP_SPLIT_RESULT                                       117.111.23.189
SEQUENCE_PARSE     <1,63,132,132,158,160,132,132,158,160,132,132,...
Name: 919, dtype: object
ID                                  921
IP_SPLIT_RESULT          117.111.23.189
SEQUENCE_PARSE     <31,1,132,93,132,93>
Name: 920, dtype: object
ID                            922
IP_SPLIT_RESULT    164.132.161.39
SEQUENCE_PARSE                <1>
Name: 921, dtype: object
ID                              923
IP_SPLIT_RESULT       175.223.45.41
SEQUENCE_PARSE     <29,132,113,132>
Name: 922, dtype: object
ID                          924
IP_SPLIT_RESULT    117.111.8.67
SEQUENCE_PARSE              <1>
Name: 923, dtype: object
ID                                                           925
IP_SPLIT_RESULT                                   218.236.71.194
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93>
Name: 924, dtype: object
ID                             926
IP_SPLIT_RESULT    125.209.235.178
SEQUENCE_PARSE             <1,5,1>
Name: 925, dtype: object
ID                           927
IP_SPLIT_RESULT    121.189.37.60
SEQUENCE_PARSE           <1,5,1>
Name: 926, dtype: object
ID                           928
IP_SPLIT_RESULT    121.189.37.60
SEQUENCE_PARSE           <1,5,1>
Name: 927, dtype: object
ID                                                               929
IP_SPLIT_RESULT                                         1.233.40.103
SEQUENCE_PARSE     <1,93,93,93,93,90,92,23,27,27,27,93,1,93,93,93...
Name: 928, dtype: object
ID                           930
IP_SPLIT_RESULT    46.37.156.109
SEQUENCE_PARSE               <1>
Name: 929, dtype: object
ID                           931
IP_SPLIT_RESULT    175.223.2.250
SEQUENCE_PARSE           <1,113>
Name: 930, dtype: object
ID                            932
IP_SPLIT_RESULT    211.36.149.214
SEQUENCE_PARSE          <1,63,89>
Name: 931, dtype: object
ID                                          933
IP_SPLIT_RESULT                  211.36.149.214
SEQUENCE_PARSE     <195,195,1,113,113,63,90,92>
Name: 932, dtype: object
ID                                                               934
IP_SPLIT_RESULT                                         1.233.40.103
SEQUENCE_PARSE     <93,93,23,90,23,93,93,93,93,93,93,90,92,87,89,...
Name: 933, dtype: object
ID                            935
IP_SPLIT_RESULT    216.218.206.68
SEQUENCE_PARSE                <1>
Name: 934, dtype: object
ID                            936
IP_SPLIT_RESULT    223.39.141.105
SEQUENCE_PARSE        <1,132,113>
Name: 935, dtype: object
ID                            937
IP_SPLIT_RESULT    221.149.14.106
SEQUENCE_PARSE          <1,93,93>
Name: 936, dtype: object
ID                                                               938
IP_SPLIT_RESULT                                        211.220.36.19
SEQUENCE_PARSE     <1,33,164,1,130,93,93,93,93,32,32,32,93,93,93,...
Name: 937, dtype: object
ID                           939
IP_SPLIT_RESULT    223.62.213.66
SEQUENCE_PARSE               <1>
Name: 938, dtype: object
ID                                             940
IP_SPLIT_RESULT                     221.149.14.106
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93,93,93>
Name: 939, dtype: object
ID                                                               941
IP_SPLIT_RESULT                                         118.33.28.26
SEQUENCE_PARSE     <1,130,191,93,93,93,93,93,93,93,93,93,32,93,93...
Name: 940, dtype: object
ID                                                               942
IP_SPLIT_RESULT                                          223.38.8.84
SEQUENCE_PARSE     <1,63,132,132,158,160,132,132,93,132,93,32,93,...
Name: 941, dtype: object
ID                                                               943
IP_SPLIT_RESULT                                          223.38.8.84
SEQUENCE_PARSE     <132,113,113,132,31,113,31,113,113,113,1,132,9...
Name: 942, dtype: object
ID                                                               944
IP_SPLIT_RESULT                                        14.54.247.199
SEQUENCE_PARSE     <1,63,89,195,195,1,132,113,132,113,113,113,113...
Name: 943, dtype: object
ID                                                               945
IP_SPLIT_RESULT                                       211.226.14.218
SEQUENCE_PARSE     <1,63,89,132,132,113,132,113,31,113,113,113,31...
Name: 944, dtype: object
ID                                                               946
IP_SPLIT_RESULT                                          39.7.51.111
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 945, dtype: object
ID                           947
IP_SPLIT_RESULT    104.172.55.11
SEQUENCE_PARSE               <1>
Name: 946, dtype: object
ID                             948
IP_SPLIT_RESULT    125.209.235.178
SEQUENCE_PARSE             <1,5,1>
Name: 947, dtype: object
ID                                                               949
IP_SPLIT_RESULT                                       211.226.14.218
SEQUENCE_PARSE     <195,195,195,1,132,113,113,132,31,113,113,113,...
Name: 948, dtype: object

ID                          1132
IP_SPLIT_RESULT    60.191.49.187
SEQUENCE_PARSE               <1>
Name: 1131, dtype: object
ID                          1133
IP_SPLIT_RESULT    60.191.49.187
SEQUENCE_PARSE               <1>
Name: 1132, dtype: object
ID                          1134
IP_SPLIT_RESULT    23.247.67.146
SEQUENCE_PARSE               <1>
Name: 1133, dtype: object
ID                                                              1135
IP_SPLIT_RESULT                                       223.62.188.244
SEQUENCE_PARSE     <1,33,164,132,81,132,132,81,132,158,160,132,13...
Name: 1134, dtype: object
ID                           1136
IP_SPLIT_RESULT    193.108.249.71
SEQUENCE_PARSE                <1>
Name: 1135, dtype: object
ID                                                              1137
IP_SPLIT_RESULT                                         182.208.12.6
SEQUENCE_PARSE     <1,5,1,132,92,87,89,113,113,113,113,113,113,13...
Name: 1136, dtype: object
ID                          1138
IP_SPLIT_RESULT    1.234.177.207
SEQUENCE_PARSE               <1>
Name: 1137, dtype: object
ID                          1139
IP_SPLIT_RESULT    1.234.177.207
SEQUENCE_PARSE               <1>
Name: 1138, dtype: object
ID                         1140
IP_SPLIT_RESULT    66.249.66.79
SEQUENCE_PARSE              <1>
Name: 1139, dtype: object
ID                           1141
IP_SPLIT_RESULT    93.158.161.149
SEQUENCE_PARSE      <1,5,1,5,1,5>
Name: 1140, dtype: object
ID                                    1142
IP_SPLIT_RESULT              122.45.16.254
SEQUENCE_PARSE     <1,93,93,93,93,1,93,93>
Name: 1141, dtype: object
ID                         1143
IP_SPLIT_RESULT    23.228.74.98
SEQUENCE_PARSE              <1>
Name: 1142, dtype: object
ID                           1144
IP_SPLIT_RESULT    193.108.249.71
SEQUENCE_PARSE                <1>
Name: 1143, dtype: object
ID                           1145
IP_SPLIT_RESULT    177.10.127.141
SEQUENCE_PARSE                <1>
Name: 1144, dtype: object
ID                                                              1146
IP_SPLIT_RESULT                                       114.204.168.12
SEQUENCE_PARSE     <1,130,130,132,113,132,113,31,113,31,113,113,1...
Name: 1145, dtype: object
ID                                                              1147
IP_SPLIT_RESULT                                       114.204.168.12
SEQUENCE_PARSE     <113,113,113,113,113,113,113,113,31,113,31,113...
Name: 1146, dtype: object
ID                         1148
IP_SPLIT_RESULT    180.76.15.32
SEQUENCE_PARSE              <1>
Name: 1147, dtype: object
ID                           1149
IP_SPLIT_RESULT    203.217.240.67
SEQUENCE_PARSE                <1>
Name: 1148, dtype: object
ID                                                              1150
IP_SPLIT_RESULT                                        116.37.193.46
SEQUENCE_PARSE     <32,93,32,32,93,32,93,32,93,132,162,132,162,13...
Name: 1149, dtype: object
ID                            1151
IP_SPLIT_RESULT    164.132.162.155
SEQUENCE_PARSE                 <1>
Name: 1150, dtype: object
ID                         1152
IP_SPLIT_RESULT    164.52.7.131
SEQUENCE_PARSE              <1>
Name: 1151, dtype: object
ID                         1153
IP_SPLIT_RESULT    178.15.98.24
SEQUENCE_PARSE              <1>
Name: 1152, dtype: object
ID                          1154
IP_SPLIT_RESULT    66.249.73.195
SEQUENCE_PARSE               <1>
Name: 1153, dtype: object
ID                            1155
IP_SPLIT_RESULT    121.174.222.125
SEQUENCE_PARSE                 <1>
Name: 1154, dtype: object
ID                          1156
IP_SPLIT_RESULT    66.249.73.192
SEQUENCE_PARSE               <1>
Name: 1155, dtype: object
ID                            1157
IP_SPLIT_RESULT    125.209.235.173
SEQUENCE_PARSE             <1,5,1>
Name: 1156, dtype: object
ID                         1158
IP_SPLIT_RESULT    72.54.15.133
SEQUENCE_PARSE              <1>
Name: 1157, dtype: object
ID                          1159
IP_SPLIT_RESULT    66.249.73.203
SEQUENCE_PARSE               <1>
Name: 1158, dtype: object
ID                         1160
IP_SPLIT_RESULT    72.54.15.133
SEQUENCE_PARSE              <1>
Name: 1159, dtype: object
ID                            1161
IP_SPLIT_RESULT    182.224.145.161
SEQUENCE_PARSE                 <1>
Name: 1160, dtype: object
ID                        1162
IP_SPLIT_RESULT    81.23.8.162
SEQUENCE_PARSE             <1>
Name: 1161, dtype: object
ID                          1163
IP_SPLIT_RESULT    66.249.65.158
SEQUENCE_PARSE               <1>
Name: 1162, dtype: object
ID                          1164
IP_SPLIT_RESULT    66.249.65.157
SEQUENCE_PARSE               <1>
Name: 1163, dtype: object
ID                          1165
IP_SPLIT_RESULT    40.77.167.111
SEQUENCE_PARSE             <5,1>
Name: 1164, dtype: object
ID                                                      1166
IP_SPLIT_RESULT                               121.157.203.62
SEQUENCE_PARSE     <1,93,93,90,1,93,93,93,93,132,1,90,132,1>
Name: 1165, dtype: object
ID                                                              1167
IP_SPLIT_RESULT                                       121.157.203.62
SEQUENCE_PARSE     <90,130,63,132,132,132,93,132,93,132,63,1,63,1...
Name: 1166, dtype: object
ID                            1168
IP_SPLIT_RESULT    177.190.255.146
SEQUENCE_PARSE                 <1>
Name: 1167, dtype: object
ID                                                              1169
IP_SPLIT_RESULT                                      125.133.148.190
SEQUENCE_PARSE     <33,1,132,132,158,160,164,132,158,160,164,132,...
Name: 1168, dtype: object
ID                           1170
IP_SPLIT_RESULT    223.33.160.149
SEQUENCE_PARSE                <1>
Name: 1169, dtype: object
ID                                                              1171
IP_SPLIT_RESULT                                           39.7.56.95
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,93,93,93,93,93,1,1...
Name: 1170, dtype: object
ID                                                              1172
IP_SPLIT_RESULT                                          39.7.56.240
SEQUENCE_PARSE     <1,113,113,113,113,113,113,113,113,90,92,31,11...
Name: 1171, dtype: object
ID                                                              1173
IP_SPLIT_RESULT                                          39.7.56.240
SEQUENCE_PARSE     <87,89,1,63,132,113,132,113,113,113,31,113,31,...
Name: 1172, dtype: object
ID                           1174
IP_SPLIT_RESULT    173.252.90.125
SEQUENCE_PARSE                <1>
Name: 1173, dtype: object
ID                                                              1175
IP_SPLIT_RESULT                                        58.122.206.11
SEQUENCE_PARSE     <1,90,92,87,113,113,113,31,113,31,113,113,31,1...
Name: 1174, dtype: object
ID                                                              1176
IP_SPLIT_RESULT                                        58.122.206.11
SEQUENCE_PARSE     <92,1,90,89,80,24,212,132,212,132,113,132,113,...
Name: 1175, dtype: object
ID                                                              1177
IP_SPLIT_RESULT                                       110.35.144.207
SEQUENCE_PARSE     <1,63,132,113,132,113,31,113,113,113,31,113,31...
Name: 1176, dtype: object
ID                          1178
IP_SPLIT_RESULT    66.249.73.193
SEQUENCE_PARSE               <1>
Name: 1177, dtype: object
ID                            1179
IP_SPLIT_RESULT    191.179.200.209
SEQUENCE_PARSE                 <1>
Name: 1178, dtype: object
ID                           1180
IP_SPLIT_RESULT    191.180.35.173
SEQUENCE_PARSE                <1>
Name: 1179, dtype: object
ID                                                              1181
IP_SPLIT_RESULT                                          1.177.87.50
SEQUENCE_PARSE     <1,132,132,132,132,158,160,132,93,1,132,132,13...
Name: 1180, dtype: object
ID                           1182
IP_SPLIT_RESULT    218.39.162.185
SEQUENCE_PARSE                <1>
Name: 1181, dtype: object
ID                                                              1183
IP_SPLIT_RESULT                                          1.177.87.50
SEQUENCE_PARSE     <132,132,113,132,113,113,113,113,113,31,113,16...
Name: 1182, dtype: object
ID                           1184
IP_SPLIT_RESULT    151.249.164.95
SEQUENCE_PARSE                <1>
Name: 1183, dtype: object
ID                                                              1185
IP_SPLIT_RESULT                                       223.62.212.167
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 1184, dtype: object
ID                                                              1186
IP_SPLIT_RESULT                                       223.62.212.167
SEQUENCE_PARSE     <63,89,198,132,178,132,180,178,132,178,132,180...
Name: 1185, dtype: object
ID                          1187
IP_SPLIT_RESULT    66.249.65.150
SEQUENCE_PARSE               <1>
Name: 1186, dtype: object
ID                           1188
IP_SPLIT_RESULT    35.184.189.105
SEQUENCE_PARSE                <1>
Name: 1187, dtype: object
ID                                                              1189
IP_SPLIT_RESULT                                       223.62.169.132
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,32,93,9...
Name: 1188, dtype: object
ID                                                              1190
IP_SPLIT_RESULT                                         118.33.28.26
SEQUENCE_PARSE     <93,93,1,132,93,132,93,93,130,1,63,89,198,132,...
Name: 1189, dtype: object
ID                          1191
IP_SPLIT_RESULT    66.249.65.133
SEQUENCE_PARSE               <1>
Name: 1190, dtype: object
ID                                               1192
IP_SPLIT_RESULT                        223.62.169.132
SEQUENCE_PARSE     <130,132,132,93,93,93,93,93,93,93>
Name: 1191, dtype: object
ID                           1193
IP_SPLIT_RESULT      1.236.190.14
SEQUENCE_PARSE     <1,63,113,113>
Name: 1192, dtype: object
ID                           1194
IP_SPLIT_RESULT    81.206.239.202
SEQUENCE_PARSE                <1>
Name: 1193, dtype: object
ID                            1195
IP_SPLIT_RESULT    121.169.207.175
SEQUENCE_PARSE                 <1>
Name: 1194, dtype: object
ID                          1196
IP_SPLIT_RESULT    66.249.73.222
SEQUENCE_PARSE               <1>
Name: 1195, dtype: object
ID                                                              1197
IP_SPLIT_RESULT                                       58.122.174.181
SEQUENCE_PARSE     <1,93,93,130,93,93,93,93,93,93,93,93,93,93,93,...
Name: 1196, dtype: object
ID                                                              1198
IP_SPLIT_RESULT                                       39.119.168.158
SEQUENCE_PARSE     <1,63,89,195,195,195,65,89,195,1,63,132,132,93...
Name: 1197, dtype: object
ID                                                              1199
IP_SPLIT_RESULT                                       39.119.168.158
SEQUENCE_PARSE     <85,93,93,93,93,14,93,132,113,132,113,113,113,...
Name: 1198, dtype: object
ID                         1200
IP_SPLIT_RESULT    73.11.240.43
SEQUENCE_PARSE              <1>
Name: 1199, dtype: object
ID                                                              1201
IP_SPLIT_RESULT                                       58.122.174.181
SEQUENCE_PARSE     <1,130,130,130,130,130,132,132,158,160,132,132...
Name: 1200, dtype: object
ID                           1202
IP_SPLIT_RESULT    223.62.216.165
SEQUENCE_PARSE      <1,93,1,32,1>
Name: 1201, dtype: object
ID                            1203
IP_SPLIT_RESULT    125.209.235.185
SEQUENCE_PARSE               <1,5>
Name: 1202, dtype: object
ID                            1204
IP_SPLIT_RESULT    125.209.235.181
SEQUENCE_PARSE             <1,5,1>
Name: 1203, dtype: object
ID                            1205
IP_SPLIT_RESULT    125.209.235.171
SEQUENCE_PARSE             <1,5,1>
Name: 1204, dtype: object
ID                                                              1206
IP_SPLIT_RESULT                                          1.228.25.64
SEQUENCE_PARSE     <1,132,89,198,132,81,132,158,160,132,113,132,1...
Name: 1205, dtype: object
ID                                                              1207
IP_SPLIT_RESULT                                          119.67.27.9
SEQUENCE_PARSE     <1,132,93,93,132,93,93,32,93,32,93,132,162,32,...
Name: 1206, dtype: object
ID                         1208
IP_SPLIT_RESULT    40.77.167.95
SEQUENCE_PARSE        <1,14,45>
Name: 1207, dtype: object
ID                         1209
IP_SPLIT_RESULT    73.11.240.43
SEQUENCE_PARSE              <1>
Name: 1208, dtype: object
ID                                                              1210
IP_SPLIT_RESULT                                          119.67.27.9
SEQUENCE_PARSE     <90,92,42,1,132,93,132,93,93,93,93,93,32,93,13...
Name: 1209, dtype: object
ID                           1211
IP_SPLIT_RESULT    117.52.141.197
SEQUENCE_PARSE                <1>
Name: 1210, dtype: object
ID                          1212
IP_SPLIT_RESULT    66.249.73.223
SEQUENCE_PARSE               <1>
Name: 1211, dtype: object
ID                                                              1213
IP_SPLIT_RESULT                                        116.40.214.81
SEQUENCE_PARSE     <1,130,130,130,191,191,130,130,130,1,130,130,1...
Name: 1212, dtype: object
ID                                                              1214
IP_SPLIT_RESULT                                        175.223.11.16
SEQUENCE_PARSE     <1,130,1,132,93,132,93,93,93,32,93,32,93,32,93...
Name: 1213, dtype: object
ID                                                              1215
IP_SPLIT_RESULT                                       223.39.138.124
SEQUENCE_PARSE     <1,39,164,132,132,132,158,160,93,93,132,93,132...
Name: 1214, dtype: object
ID                                                           1216
IP_SPLIT_RESULT                                    223.39.138.124
SEQUENCE_PARSE     <130,164,132,93,93,93,93,93,93,93,93,93,14,93>
Name: 1215, dtype: object
ID                          1217
IP_SPLIT_RESULT    110.70.59.169
SEQUENCE_PARSE               <1>
Name: 1216, dtype: object
ID                                1218
IP_SPLIT_RESULT        121.138.171.161
SEQUENCE_PARSE     <93,93,93,93,93,93>
Name: 1217, dtype: object
ID                                                              1219
IP_SPLIT_RESULT                                         49.170.91.21
SEQUENCE_PARSE     <32,32,32,32,93,93,1,93,132,132,93,93,93,32,93...
Name: 1218, dtype: object
ID                                                              1220
IP_SPLIT_RESULT                                       115.136.197.87
SEQUENCE_PARSE     <30,132,93,132,93,132,113,132,113,113,113,132,...
Name: 1219, dtype: object
ID                                      1221
IP_SPLIT_RESULT                59.28.246.130
SEQUENCE_PARSE     <1,92,87,132,132,132,132>
Name: 1220, dtype: object
ID                                                              1222
IP_SPLIT_RESULT                                         14.39.158.51
SEQUENCE_PARSE     <132,93,93,132,93,93,93,93,93,93,32,93,32,93,3...
Name: 1221, dtype: object
ID                          1223
IP_SPLIT_RESULT    211.230.13.40
SEQUENCE_PARSE              <33>
Name: 1222, dtype: object
ID                                                              1224
IP_SPLIT_RESULT                                        175.223.11.16
SEQUENCE_PARSE     <32,93,32,93,1,130,1,132,93,132,93,93,93,32,93...
Name: 1223, dtype: object
ID                                                              1225
IP_SPLIT_RESULT                                       121.145.49.115
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,31,113,113,39,1...
Name: 1224, dtype: object
ID                            1226
IP_SPLIT_RESULT    125.138.112.100
SEQUENCE_PARSE                 <1>
Name: 1225, dtype: object
ID                          1227
IP_SPLIT_RESULT    123.59.78.122
SEQUENCE_PARSE               <1>
Name: 1226, dtype: object
ID                                                              1228
IP_SPLIT_RESULT                                       223.39.140.123
SEQUENCE_PARSE     <1,93,93,93,93,130,130,63,1,89,198,132,132,132...
Name: 1227, dtype: object
ID                                                              1229
IP_SPLIT_RESULT                                      121.176.127.150
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,31,113,29,1...
Name: 1228, dtype: object
ID                                                              1230
IP_SPLIT_RESULT                                      119.204.216.234
SEQUENCE_PARSE     <1,63,89,195,195,195,63,93,132,132,93,132,132,...
Name: 1229, dtype: object
ID                             1231
IP_SPLIT_RESULT      117.111.22.230
SEQUENCE_PARSE     <33,164,164,164>
Name: 1230, dtype: object
ID                                                              1232
IP_SPLIT_RESULT                                      119.204.216.234
SEQUENCE_PARSE     <1,93,93,93,14,93,93,93,14,93,93,93,14,93,132,...
Name: 1231, dtype: object
ID                                    1233
IP_SPLIT_RESULT              116.40.214.81
SEQUENCE_PARSE     <130,130,1,130,93,93,1>
Name: 1232, dtype: object
ID                                                              1234
IP_SPLIT_RESULT                                       115.21.127.234
SEQUENCE_PARSE     <1,93,93,93,93,93,93,90,92,130,132,92,32,93,93...
Name: 1233, dtype: object
ID                          1235
IP_SPLIT_RESULT    66.249.73.205
SEQUENCE_PARSE               <1>
Name: 1234, dtype: object
ID                          1236
IP_SPLIT_RESULT    93.174.95.106
SEQUENCE_PARSE               <1>
Name: 1235, dtype: object
ID                                                              1237
IP_SPLIT_RESULT                                       223.39.140.123
SEQUENCE_PARSE     <130,130,130,130,130,191,63,93,93,93,93,93,32,...
Name: 1236, dtype: object
ID                                                              1238
IP_SPLIT_RESULT                                        117.111.1.194
SEQUENCE_PARSE     <39,63,164,1,132,113,132,113,113,113,31,113,11...
Name: 1237, dtype: object
ID                           1239
IP_SPLIT_RESULT    117.111.11.179
SEQUENCE_PARSE                <1>
Name: 1238, dtype: object
ID                                                              1240
IP_SPLIT_RESULT                                       115.21.127.234
SEQUENCE_PARSE     <87,89,130,191,191,87,201,30,132,93,132,93,93,...
Name: 1239, dtype: object
ID                                                              1241
IP_SPLIT_RESULT                                        58.233.50.107
SEQUENCE_PARSE     <39,63,89,195,195,195,39,63,164,164,39,164,63,...
Name: 1240, dtype: object
ID                                    1242
IP_SPLIT_RESULT                39.7.18.201
SEQUENCE_PARSE     <1,63,1,174,172,170,93>
Name: 1241, dtype: object
ID                                                              1243
IP_SPLIT_RESULT                                         110.70.54.21
SEQUENCE_PARSE     <1,132,132,158,160,164,164,1,92,80,24,132,81,1...
Name: 1242, dtype: object
ID                          1244
IP_SPLIT_RESULT    157.55.39.157
SEQUENCE_PARSE               <1>
Name: 1243, dtype: object
ID                                                              1245
IP_SPLIT_RESULT                                          39.7.18.201
SEQUENCE_PARSE     <1,63,1,130,130,130,174,172,170,132,93,132,132...
Name: 1244, dtype: object
ID                                                              1246
IP_SPLIT_RESULT                                        117.111.1.194
SEQUENCE_PARSE     <164,164,164,164,164,1,132,113,132,113,113,113...
Name: 1245, dtype: object
ID                            1247
IP_SPLIT_RESULT    121.128.119.210
SEQUENCE_PARSE       <1,63,132,92>
Name: 1246, dtype: object

Name: 1375, dtype: object
ID                          1377
IP_SPLIT_RESULT    221.11.228.96
SEQUENCE_PARSE               <1>
Name: 1376, dtype: object
ID                          1378
IP_SPLIT_RESULT    211.36.156.74
SEQUENCE_PARSE           <164,1>
Name: 1377, dtype: object
ID                                                              1379
IP_SPLIT_RESULT                                       119.207.161.40
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 1378, dtype: object
ID                            1380
IP_SPLIT_RESULT    115.137.210.148
SEQUENCE_PARSE             <93,93>
Name: 1379, dtype: object
ID                          1381
IP_SPLIT_RESULT    223.39.141.30
SEQUENCE_PARSE               <1>
Name: 1380, dtype: object
ID                                                              1382
IP_SPLIT_RESULT                                          39.7.47.216
SEQUENCE_PARSE     <39,1,93,1,93,87,93,212,93,14,93,132,113,132,3...
Name: 1381, dtype: object
ID                                                              1383
IP_SPLIT_RESULT                                          39.7.47.216
SEQUENCE_PARSE     <63,164,93,93,132,132,158,160,132,93,132,113,1...
Name: 1382, dtype: object
ID                        1384
IP_SPLIT_RESULT    2.229.3.254
SEQUENCE_PARSE             <1>
Name: 1383, dtype: object
ID                                                              1385
IP_SPLIT_RESULT                                        182.226.90.79
SEQUENCE_PARSE     <1,93,93,63,1,130,1,63,195,195,1,113,113,113,1...
Name: 1384, dtype: object
ID                                                     1386
IP_SPLIT_RESULT                               182.226.90.79
SEQUENCE_PARSE     <89,132,113,132,113,132,113,132,113,113>
Name: 1385, dtype: object
ID                                                              1387
IP_SPLIT_RESULT                                        211.226.54.75
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 1386, dtype: object
ID                        1388
IP_SPLIT_RESULT    2.229.3.254
SEQUENCE_PARSE             <1>
Name: 1387, dtype: object
ID                           1389
IP_SPLIT_RESULT    175.198.85.181
SEQUENCE_PARSE                <1>
Name: 1388, dtype: object
ID                                                              1390
IP_SPLIT_RESULT                                        103.42.184.32
SEQUENCE_PARSE     <1,113,113,113,113,63,89,195,195,195,65,89,1,6...
Name: 1389, dtype: object
ID                          1391
IP_SPLIT_RESULT    211.36.146.47
SEQUENCE_PARSE         <1,63,63>
Name: 1390, dtype: object
ID                                                              1392
IP_SPLIT_RESULT                                       175.195.93.164
SEQUENCE_PARSE     <39,63,164,164,132,132,93,132,93,93,93,132,113...
Name: 1391, dtype: object
ID                                 1393
IP_SPLIT_RESULT           223.62.222.73
SEQUENCE_PARSE     <1,90,90,1,90,23,90>
Name: 1392, dtype: object
ID                                                    1394
IP_SPLIT_RESULT                             175.223.20.211
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93>
Name: 1393, dtype: object
ID                                                              1395
IP_SPLIT_RESULT                                       175.195.93.164
SEQUENCE_PARSE     <39,63,164,164,164,164,164,164,1,63,93,93,93,1...
Name: 1394, dtype: object
ID                          1396
IP_SPLIT_RESULT    66.249.65.131
SEQUENCE_PARSE               <1>
Name: 1395, dtype: object
ID                                                              1397
IP_SPLIT_RESULT                                      112.161.101.124
SEQUENCE_PARSE     <1,90,87,89,80,29,132,113,132,113,132,132,113,...
Name: 1396, dtype: object
ID                                                              1398
IP_SPLIT_RESULT                                       115.137.151.68
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,87,89,80,30,132,93,...
Name: 1397, dtype: object
ID                                                              1399
IP_SPLIT_RESULT                                      112.161.101.124
SEQUENCE_PARSE     <92,93,93,14,93,93,93,93,132,132,132,93,113,11...
Name: 1398, dtype: object
ID                           1400
IP_SPLIT_RESULT    115.137.151.68
SEQUENCE_PARSE      <90,92,30,30>
Name: 1399, dtype: object
ID                                                              1401
IP_SPLIT_RESULT                                        223.62.169.57
SEQUENCE_PARSE     <30,32,93,1,93,132,132,93,93,93,93,93,93,93,93...
Name: 1400, dtype: object
ID                                                              1402
IP_SPLIT_RESULT                                         59.15.215.68
SEQUENCE_PARSE     <1,63,132,113,113,132,113,113,113,113,113,113,...
Name: 1401, dtype: object
ID                                                              1403
IP_SPLIT_RESULT                                       121.159.72.220
SEQUENCE_PARSE     <1,63,63,132,113,132,113,132,113,132,113,113,1...
Name: 1402, dtype: object
ID                         1404
IP_SPLIT_RESULT    66.96.215.60
SEQUENCE_PARSE              <1>
Name: 1403, dtype: object
ID                                                              1405
IP_SPLIT_RESULT                                       121.159.72.220
SEQUENCE_PARSE     <89,195,195,195,1,132,113,132,113,1,132,113,13...
Name: 1404, dtype: object
ID                                                              1406
IP_SPLIT_RESULT                                       222.112.233.66
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 1405, dtype: object
ID                                                              1407
IP_SPLIT_RESULT                                         223.62.11.91
SEQUENCE_PARSE     <93,132,93,132,93,93,93,93,32,93,32,93,32,93,9...
Name: 1406, dtype: object
ID                                                              1408
IP_SPLIT_RESULT                                        220.95.252.19
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,31,113,31,113,11...
Name: 1407, dtype: object
ID                                    1409
IP_SPLIT_RESULT                1.228.25.64
SEQUENCE_PARSE     <1,132,132,158,160,132>
Name: 1408, dtype: object
ID                            1410
IP_SPLIT_RESULT     223.62.213.134
SEQUENCE_PARSE     <113,113,113,1>
Name: 1409, dtype: object
ID                          1411
IP_SPLIT_RESULT    220.75.180.55
SEQUENCE_PARSE      <1,90,92,87>
Name: 1410, dtype: object
ID                            1412
IP_SPLIT_RESULT      124.80.227.85
SEQUENCE_PARSE     <1,93,93,1,5,1>
Name: 1411, dtype: object
ID                                                              1413
IP_SPLIT_RESULT                                      125.131.126.157
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,87,89,80,3...
Name: 1412, dtype: object
ID                         1414
IP_SPLIT_RESULT    66.96.215.60
SEQUENCE_PARSE              <1>
Name: 1413, dtype: object
ID                                 1415
IP_SPLIT_RESULT           175.223.19.44
SEQUENCE_PARSE     <29,132,113,132,113>
Name: 1414, dtype: object
ID                         1416
IP_SPLIT_RESULT    58.101.3.171
SEQUENCE_PARSE              <1>
Name: 1415, dtype: object
ID                                  1417
IP_SPLIT_RESULT           223.33.165.131
SEQUENCE_PARSE     <33,63,130,164,164,1>
Name: 1416, dtype: object
ID                                                              1418
IP_SPLIT_RESULT                                       223.33.165.131
SEQUENCE_PARSE     <33,63,89,198,33,1,90,132,93,132,93,93,93,93,9...
Name: 1417, dtype: object
ID                                        1419
IP_SPLIT_RESULT                    14.45.227.2
SEQUENCE_PARSE     <1,130,63,132,92,87,39,164>
Name: 1418, dtype: object
ID                                                              1420
IP_SPLIT_RESULT                                      222.109.133.168
SEQUENCE_PARSE     <29,92,1,5,1,130,132,132,132,113,113,132,113,1...
Name: 1419, dtype: object
ID                              1421
IP_SPLIT_RESULT        223.39.140.27
SEQUENCE_PARSE     <1,90,41,164,130>
Name: 1420, dtype: object
ID                                                              1422
IP_SPLIT_RESULT                                         124.49.92.69
SEQUENCE_PARSE     <1,132,113,132,113,31,113,132,162,166,162,132,...
Name: 1421, dtype: object
ID                                                              1423
IP_SPLIT_RESULT                                        110.15.57.153
SEQUENCE_PARSE     <1,113,132,113,132,113,113,113,113,31,113,1,11...
Name: 1422, dtype: object
ID                                                              1424
IP_SPLIT_RESULT                                        223.33.160.77
SEQUENCE_PARSE     <132,132,158,160,164,132,158,160,132,132,132,9...
Name: 1423, dtype: object
ID                                                              1425
IP_SPLIT_RESULT                                        223.33.160.77
SEQUENCE_PARSE     <93,93,93,93,32,93,93,93,93,32,93,93,93,93,93,...
Name: 1424, dtype: object
ID                           1426
IP_SPLIT_RESULT    223.54.112.107
SEQUENCE_PARSE          <1,90,92>
Name: 1425, dtype: object
ID                           1427
IP_SPLIT_RESULT    183.97.197.127
SEQUENCE_PARSE                <1>
Name: 1426, dtype: object
ID                                       1428
IP_SPLIT_RESULT                 223.38.11.243
SEQUENCE_PARSE     <1,132,1,132,93,132,93,90>
Name: 1427, dtype: object
ID                         1429
IP_SPLIT_RESULT    110.11.84.92
SEQUENCE_PARSE              <1>
Name: 1428, dtype: object
ID                         1430
IP_SPLIT_RESULT    223.62.11.91
SEQUENCE_PARSE        <32,93,1>
Name: 1429, dtype: object
ID                                                              1431
IP_SPLIT_RESULT                                        122.35.204.14
SEQUENCE_PARSE     <1,132,113,113,132,113,113,113,113,113,113,113...
Name: 1430, dtype: object
ID                                            1432
IP_SPLIT_RESULT                      119.214.80.92
SEQUENCE_PARSE     <1,130,130,132,132,158,160,132>
Name: 1431, dtype: object
ID                                              1433
IP_SPLIT_RESULT                          14.45.227.2
SEQUENCE_PARSE     <89,200,29,132,113,132,113,132,1>
Name: 1432, dtype: object
ID                                                              1434
IP_SPLIT_RESULT                                        119.214.80.92
SEQUENCE_PARSE     <132,158,160,132,93,132,132,158,160,132,93,132...
Name: 1433, dtype: object
ID                                                              1435
IP_SPLIT_RESULT                                        39.114.10.146
SEQUENCE_PARSE     <1,5,1,63,89,195,195,1,130,132,113,132,113,113...
Name: 1434, dtype: object
ID                                        1436
IP_SPLIT_RESULT                     39.7.55.61
SEQUENCE_PARSE     <1,90,87,132,132,80,24,132>
Name: 1435, dtype: object
ID                                                              1437
IP_SPLIT_RESULT                                        223.62.10.225
SEQUENCE_PARSE     <1,132,132,158,160,1,132,113,132,113,113,113,3...
Name: 1436, dtype: object
ID                                                              1438
IP_SPLIT_RESULT                                      125.131.126.157
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,90,92,8...
Name: 1437, dtype: object
ID                                     1439
IP_SPLIT_RESULT                  39.7.55.61
SEQUENCE_PARSE     <92,1,90,92,87,89,212,1>
Name: 1438, dtype: object
ID                                                              1440
IP_SPLIT_RESULT                                          39.7.19.224
SEQUENCE_PARSE     <132,113,113,132,113,113,113,113,113,113,113,1...
Name: 1439, dtype: object
ID                                                      1441
IP_SPLIT_RESULT                                  39.7.19.224
SEQUENCE_PARSE     <113,1,132,81,132,132,158,160,132,81,132>
Name: 1440, dtype: object
ID                                                              1442
IP_SPLIT_RESULT                                         61.84.80.157
SEQUENCE_PARSE     <1,93,93,113,113,113,113,113,113,113,113,113,1...
Name: 1441, dtype: object
ID                                  1443
IP_SPLIT_RESULT            125.133.89.12
SEQUENCE_PARSE     <1,63,89,195,195,195>
Name: 1442, dtype: object
ID                                                              1444
IP_SPLIT_RESULT                                      211.245.131.231
SEQUENCE_PARSE     <1,90,87,89,132,162,166,162,132,113,132,113,11...
Name: 1443, dtype: object
ID                                                              1445
IP_SPLIT_RESULT                                      211.245.131.231
SEQUENCE_PARSE     <92,80,29,132,113,132,113,132,132,113,113,132,...
Name: 1444, dtype: object
ID                                             1446
IP_SPLIT_RESULT                       110.70.52.216
SEQUENCE_PARSE     <93,93,1,132,93,132,93,93,93,93>
Name: 1445, dtype: object
ID                                                              1447
IP_SPLIT_RESULT                                        125.133.89.12
SEQUENCE_PARSE     <89,1,132,81,212,81,81,212,93,132,113,132,113,...
Name: 1446, dtype: object
ID                          1448
IP_SPLIT_RESULT    110.70.52.216
SEQUENCE_PARSE           <93,93>
Name: 1447, dtype: object
ID                        1449
IP_SPLIT_RESULT    39.3.29.252
SEQUENCE_PARSE             <1>
Name: 1448, dtype: object
ID                                                              1450
IP_SPLIT_RESULT                                        220.75.180.55
SEQUENCE_PARSE     <89,80,29,1,93,93,93,93,93,93,93,93,130,93,93,...
Name: 1449, dtype: object
ID                                              1451
IP_SPLIT_RESULT                       175.223.21.105
SEQUENCE_PARSE     <93,93,93,132,93,132,113,132,113>
Name: 1450, dtype: object
ID                                                              1452
IP_SPLIT_RESULT                                        175.223.30.62
SEQUENCE_PARSE     <1,132,132,158,160,113,132,132,113,113,31,113,...
Name: 1451, dtype: object
ID                                  1453
IP_SPLIT_RESULT              39.7.18.231
SEQUENCE_PARSE     <113,132,113,132,113>
Name: 1452, dtype: object
ID                          1454
IP_SPLIT_RESULT    66.249.65.154
SEQUENCE_PARSE               <1>
Name: 1453, dtype: object
ID                            1455
IP_SPLIT_RESULT    222.108.204.205
SEQUENCE_PARSE                 <1>
Name: 1454, dtype: object
ID                                                              1456
IP_SPLIT_RESULT                                        106.102.1.108
SEQUENCE_PARSE     <33,63,164,164,164,164,164,164,33,63,164,164,1...
Name: 1455, dtype: object
ID                                                              1457
IP_SPLIT_RESULT                                       211.36.150.243
SEQUENCE_PARSE     <1,132,132,132,93,1,113,132,132,113,113,113,11...
Name: 1456, dtype: object
ID                                                              1458
IP_SPLIT_RESULT                                       175.223.20.252
SEQUENCE_PARSE     <39,63,1,63,89,195,195,195,195,195,65,89,1,63,...
Name: 1457, dtype: object
ID                                                              1459
IP_SPLIT_RESULT                                       223.39.140.146
SEQUENCE_PARSE     <1,90,92,87,89,80,30,132,93,132,93,93,93,93,93...
Name: 1458, dtype: object
ID                            1460
IP_SPLIT_RESULT    119.197.110.182
SEQUENCE_PARSE            <39,164>
Name: 1459, dtype: object
ID                                                              1461
IP_SPLIT_RESULT                                        117.111.6.176
SEQUENCE_PARSE     <1,90,92,90,92,130,132,113,132,113,113,113,113...
Name: 1460, dtype: object
ID                           1462
IP_SPLIT_RESULT    115.111.233.67
SEQUENCE_PARSE            <1,5,1>
Name: 1461, dtype: object
ID                                                              1463
IP_SPLIT_RESULT                                          39.7.59.244
SEQUENCE_PARSE     <132,113,132,113,113,113,113,113,113,113,31,11...
Name: 1462, dtype: object
ID                            1464
IP_SPLIT_RESULT      223.62.169.70
SEQUENCE_PARSE     <1,5,1,92,87,1>
Name: 1463, dtype: object
ID                                                              1465
IP_SPLIT_RESULT                                       211.36.150.243
SEQUENCE_PARSE     <132,132,93,132,93,93,93,93,93,32,93,93,93,93,...
Name: 1464, dtype: object
ID                                                              1466
IP_SPLIT_RESULT                                        117.111.6.176
SEQUENCE_PARSE     <132,113,132,113,113,113,113,113,113,113,113,1...
Name: 1465, dtype: object
ID                          1467
IP_SPLIT_RESULT    223.39.145.94
SEQUENCE_PARSE               <1>
Name: 1466, dtype: object
ID                                              1468
IP_SPLIT_RESULT                        223.62.169.70
SEQUENCE_PARSE     <1,132,132,158,160,1,90,92,90,92>
Name: 1467, dtype: object
ID                                                              1469
IP_SPLIT_RESULT                                          39.7.15.230
SEQUENCE_PARSE     <1,90,92,90,31,113,113,113,113,113,113,31,113,...
Name: 1468, dtype: object
ID                         1470
IP_SPLIT_RESULT    112.164.3.53
SEQUENCE_PARSE              <1>
Name: 1469, dtype: object
ID                                                              1471
IP_SPLIT_RESULT                                          39.7.15.230
SEQUENCE_PARSE     <90,92,25,90,1,63,132,113,132,113,31,113,31,11...
Name: 1470, dtype: object
ID                                                              1472
IP_SPLIT_RESULT                                          39.17.2.108
SEQUENCE_PARSE     <1,132,93,93,93,1,132,132,158,160,132,93,132,1...
Name: 1471, dtype: object
ID                           1473
IP_SPLIT_RESULT    203.210.48.182
SEQUENCE_PARSE        <89,195,65>
Name: 1472, dtype: object
ID                                                              1474
IP_SPLIT_RESULT                                          39.17.2.106
SEQUENCE_PARSE     <113,113,113,113,113,113,113,113,31,113,93,93,93>
Name: 1473, dtype: object
ID                       1475
IP_SPLIT_RESULT    74.82.47.5
SEQUENCE_PARSE            <1>
Name: 1474, dtype: object
ID                                                              1476
IP_SPLIT_RESULT                                       210.126.48.135
SEQUENCE_PARSE     <1,93,93,93,93,93,93,1,113,113,113,113,113,113...
Name: 1475, dtype: object
ID                                       1477
IP_SPLIT_RESULT                203.226.207.23
SEQUENCE_PARSE     <1,113,132,113,132,31,113>
Name: 1476, dtype: object
ID                           1478
IP_SPLIT_RESULT    203.226.207.23
SEQUENCE_PARSE        <113,113,1>
Name: 1477, dtype: object
ID                          1479
IP_SPLIT_RESULT    66.249.65.152
SEQUENCE_PARSE               <1>
Name: 1478, dtype: object
ID                                                     1480
IP_SPLIT_RESULT                               110.70.55.119
SEQUENCE_PARSE     <1,130,130,1,130,130,1,90,92,93,132,132>
Name: 1479, dtype: object
ID                                                              1481
IP_SPLIT_RESULT                                        223.62.21.102
SEQUENCE_PARSE     <1,93,132,132,32,93,132,162,166,162,93,93,93,3...
Name: 1480, dtype: object
ID                           1482
IP_SPLIT_RESULT    211.246.69.184
SEQUENCE_PARSE          <1,90,92>
Name: 1481, dtype: object
ID                                                              1483
IP_SPLIT_RESULT                                        211.36.135.90
SEQUENCE_PARSE     <1,130,1,63,1,191,63,195,195,195,63,93,132,93,...
Name: 1482, dtype: object

ID                                                              1646
IP_SPLIT_RESULT                                        115.22.211.75
SEQUENCE_PARSE     <39,63,89,195,195,39,63,164,164,1,132,113,132,...
Name: 1645, dtype: object
ID                           1647
IP_SPLIT_RESULT    173.252.90.110
SEQUENCE_PARSE                <1>
Name: 1646, dtype: object
ID                          1648
IP_SPLIT_RESULT    66.249.65.103
SEQUENCE_PARSE               <1>
Name: 1647, dtype: object
ID                         1649
IP_SPLIT_RESULT    77.89.162.82
SEQUENCE_PARSE              <1>
Name: 1648, dtype: object
ID                                                            1650
IP_SPLIT_RESULT                                     211.36.135.162
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93,93,93,93,93,1,132,132>
Name: 1649, dtype: object
ID                                                              1651
IP_SPLIT_RESULT                                        118.34.52.161
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,31,113,113,113,3...
Name: 1650, dtype: object
ID                                                              1652
IP_SPLIT_RESULT                                        118.34.52.161
SEQUENCE_PARSE     <31,113,113,113,31,113,1,63,132,113,132,113,11...
Name: 1651, dtype: object
ID                          1653
IP_SPLIT_RESULT    223.54.85.201
SEQUENCE_PARSE               <1>
Name: 1652, dtype: object
ID                           1654
IP_SPLIT_RESULT    211.104.55.131
SEQUENCE_PARSE                <1>
Name: 1653, dtype: object
ID                          1655
IP_SPLIT_RESULT    66.249.65.105
SEQUENCE_PARSE               <1>
Name: 1654, dtype: object
ID                                                              1656
IP_SPLIT_RESULT                                         49.170.97.76
SEQUENCE_PARSE     <1,132,113,113,132,31,113,31,113,31,113,31,113...
Name: 1655, dtype: object
ID                                          1657
IP_SPLIT_RESULT                    117.111.27.83
SEQUENCE_PARSE     <1,93,93,1,132,93,132,1,90,1>
Name: 1656, dtype: object
ID                       1658
IP_SPLIT_RESULT    49.246.2.4
SEQUENCE_PARSE        <1,5,1>
Name: 1657, dtype: object
ID                                                      1659
IP_SPLIT_RESULT                                223.38.11.218
SEQUENCE_PARSE     <1,130,130,130,132,81,113,32,5,32,5,32,5>
Name: 1658, dtype: object
ID                                                              1660
IP_SPLIT_RESULT                                       121.163.60.174
SEQUENCE_PARSE     <132,89,195,195,1,93,132,93,132,93,93,32,93,32...
Name: 1659, dtype: object
ID                              1661
IP_SPLIT_RESULT       115.23.206.215
SEQUENCE_PARSE     <39,164,39,164,1>
Name: 1660, dtype: object
ID                            1662
IP_SPLIT_RESULT    124.197.207.154
SEQUENCE_PARSE     <39,164,39,164>
Name: 1661, dtype: object
ID                                                              1663
IP_SPLIT_RESULT                                          39.7.19.193
SEQUENCE_PARSE     <39,1,132,132,158,160,132,93,132,130,164,164,1...
Name: 1662, dtype: object
ID                                            1664
IP_SPLIT_RESULT                      223.38.11.218
SEQUENCE_PARSE     <132,93,132,93,132,132,158,160>
Name: 1663, dtype: object
ID                              1665
IP_SPLIT_RESULT      124.197.207.154
SEQUENCE_PARSE     <130,130,164,164>
Name: 1664, dtype: object
ID                                                              1666
IP_SPLIT_RESULT                                        223.33.153.36
SEQUENCE_PARSE     <1,93,93,93,93,90,92,1,130,1,93,93,90,92,80,30...
Name: 1665, dtype: object
ID                            1667
IP_SPLIT_RESULT    115.140.191.219
SEQUENCE_PARSE         <1,5,1,132>
Name: 1666, dtype: object
ID                                                              1668
IP_SPLIT_RESULT                                       49.166.194.144
SEQUENCE_PARSE     <29,132,113,113,132,29,132,132,113,113,39,164,...
Name: 1667, dtype: object
ID                            1669
IP_SPLIT_RESULT    125.183.117.211
SEQUENCE_PARSE     <1,93,93,93,93>
Name: 1668, dtype: object
ID                                        1670
IP_SPLIT_RESULT                  223.33.153.36
SEQUENCE_PARSE     <87,89,87,89,132,132,92,87>
Name: 1669, dtype: object
ID                                                              1671
IP_SPLIT_RESULT                                       183.105.93.156
SEQUENCE_PARSE     <1,130,130,130,130,130,130,132,132,158,160,132...
Name: 1670, dtype: object
ID                            1672
IP_SPLIT_RESULT    211.198.219.138
SEQUENCE_PARSE             <1,5,1>
Name: 1671, dtype: object
ID                          1673
IP_SPLIT_RESULT    66.249.65.108
SEQUENCE_PARSE               <1>
Name: 1672, dtype: object
ID                                                              1674
IP_SPLIT_RESULT                                       183.105.93.156
SEQUENCE_PARSE     <1,93,93,132,93,132,93,93,93,32,93,32,93,93,32...
Name: 1673, dtype: object
ID                          1675
IP_SPLIT_RESULT    207.46.13.164
SEQUENCE_PARSE               <1>
Name: 1674, dtype: object
ID                            1676
IP_SPLIT_RESULT    115.161.104.152
SEQUENCE_PARSE              <1,90>
Name: 1675, dtype: object
ID                            1677
IP_SPLIT_RESULT    182.161.235.198
SEQUENCE_PARSE                 <1>
Name: 1676, dtype: object
ID                            1678
IP_SPLIT_RESULT    115.161.104.152
SEQUENCE_PARSE                <92>
Name: 1677, dtype: object
ID                                1679
IP_SPLIT_RESULT         139.162.114.70
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1>
Name: 1678, dtype: object
ID                         1680
IP_SPLIT_RESULT    125.184.2.12
SEQUENCE_PARSE     <39,130,164>
Name: 1679, dtype: object
ID                          1681
IP_SPLIT_RESULT    124.5.244.168
SEQUENCE_PARSE               <1>
Name: 1680, dtype: object
ID                         1682
IP_SPLIT_RESULT    218.75.30.39
SEQUENCE_PARSE              <1>
Name: 1681, dtype: object
ID                         1683
IP_SPLIT_RESULT    218.75.30.39
SEQUENCE_PARSE              <1>
Name: 1682, dtype: object
ID                                      1684
IP_SPLIT_RESULT                223.33.153.20
SEQUENCE_PARSE     <93,93,32,93,93,93,32,93>
Name: 1683, dtype: object
ID                          1685
IP_SPLIT_RESULT    121.189.37.57
SEQUENCE_PARSE               <1>
Name: 1684, dtype: object
ID                          1686
IP_SPLIT_RESULT    121.189.37.57
SEQUENCE_PARSE           <1,5,1>
Name: 1685, dtype: object
ID                          1687
IP_SPLIT_RESULT    124.5.244.168
SEQUENCE_PARSE               <1>
Name: 1686, dtype: object
ID                           1688
IP_SPLIT_RESULT    211.215.150.45
SEQUENCE_PARSE            <1,5,1>
Name: 1687, dtype: object
ID                                                              1689
IP_SPLIT_RESULT                                       223.62.202.150
SEQUENCE_PARSE     <1,132,113,113,132,132,93,132,93,132,113,113,1...
Name: 1688, dtype: object
ID                            1690
IP_SPLIT_RESULT    112.187.236.151
SEQUENCE_PARSE                 <1>
Name: 1689, dtype: object
ID                                                              1691
IP_SPLIT_RESULT                                        1.241.159.124
SEQUENCE_PARSE     <1,63,132,113,132,113,31,113,113,113,1,113,132...
Name: 1690, dtype: object
ID                                                              1692
IP_SPLIT_RESULT                                       223.62.202.150
SEQUENCE_PARSE     <113,113,113,113,31,113,31,113,31,113,113,113,...
Name: 1691, dtype: object
ID                                                              1693
IP_SPLIT_RESULT                                       121.165.158.59
SEQUENCE_PARSE     <1,93,93,113,113,113,113,113,113,113,113,113,1...
Name: 1692, dtype: object
ID                         1694
IP_SPLIT_RESULT    221.165.73.5
SEQUENCE_PARSE      <1,5,1,5,1>
Name: 1693, dtype: object
ID                         1695
IP_SPLIT_RESULT     223.62.10.7
SEQUENCE_PARSE     <33,130,164>
Name: 1694, dtype: object
ID                                           1696
IP_SPLIT_RESULT                   211.215.123.217
SEQUENCE_PARSE     <1,63,1,130,63,89,195,195,195>
Name: 1695, dtype: object
ID                                                              1697
IP_SPLIT_RESULT                                        61.79.238.245
SEQUENCE_PARSE     <1,130,132,132,132,132,158,160,132,132,132,132...
Name: 1696, dtype: object
ID                                                              1698
IP_SPLIT_RESULT                                      121.145.208.150
SEQUENCE_PARSE     <1,93,93,93,93,93,93,1,113,113,113,113,113,113...
Name: 1697, dtype: object
ID                                                              1699
IP_SPLIT_RESULT                                         59.5.133.150
SEQUENCE_PARSE     <1,5,1,113,113,113,113,113,113,113,113,31,113,...
Name: 1698, dtype: object
ID                          1700
IP_SPLIT_RESULT    120.150.89.54
SEQUENCE_PARSE               <1>
Name: 1699, dtype: object
ID                           1701
IP_SPLIT_RESULT    128.69.225.212
SEQUENCE_PARSE                <1>
Name: 1700, dtype: object
ID                           1702
IP_SPLIT_RESULT    221.194.47.198
SEQUENCE_PARSE                <1>
Name: 1701, dtype: object
ID                                                              1703
IP_SPLIT_RESULT                                        121.161.8.106
SEQUENCE_PARSE     <8,158,132,160,164,8,113,113,31,113,113,113,31...
Name: 1702, dtype: object
ID                           1704
IP_SPLIT_RESULT    221.194.47.198
SEQUENCE_PARSE                <1>
Name: 1703, dtype: object
ID                             1705
IP_SPLIT_RESULT      58.235.136.220
SEQUENCE_PARSE     <1,130,1,130,90>
Name: 1704, dtype: object
ID                                                              1706
IP_SPLIT_RESULT                                        223.39.141.81
SEQUENCE_PARSE     <1,90,92,87,89,132,132,132,93,32,93,93,93,32,9...
Name: 1705, dtype: object
ID                         1707
IP_SPLIT_RESULT    66.249.73.65
SEQUENCE_PARSE              <1>
Name: 1706, dtype: object
ID                           1708
IP_SPLIT_RESULT    58.235.136.220
SEQUENCE_PARSE      <93,93,93,93>
Name: 1707, dtype: object
ID                                                              1709
IP_SPLIT_RESULT                                        223.39.141.81
SEQUENCE_PARSE     <93,93,93,93,32,132,162,132,162,1,113,113,113,...
Name: 1708, dtype: object
ID                                                              1710
IP_SPLIT_RESULT                                       175.223.18.141
SEQUENCE_PARSE     <1,90,92,87,1,130,113,113,113,113,31,113,31,11...
Name: 1709, dtype: object
ID                                                              1711
IP_SPLIT_RESULT                                       223.62.219.109
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,132,93,132,132,...
Name: 1710, dtype: object
ID                         1712
IP_SPLIT_RESULT    66.249.73.95
SEQUENCE_PARSE              <1>
Name: 1711, dtype: object
ID                         1713
IP_SPLIT_RESULT    180.71.20.83
SEQUENCE_PARSE              <1>
Name: 1712, dtype: object
ID                                                              1714
IP_SPLIT_RESULT                                       223.62.219.109
SEQUENCE_PARSE     <31,113,113,113,113,113,113,113,31,113,31,113,...
Name: 1713, dtype: object
ID                                                              1715
IP_SPLIT_RESULT                                       175.223.18.141
SEQUENCE_PARSE     <89,80,29,132,113,132,113,113,113,31,113,1,132...
Name: 1714, dtype: object
ID                          1716
IP_SPLIT_RESULT    121.167.9.139
SEQUENCE_PARSE               <1>
Name: 1715, dtype: object
ID                          1717
IP_SPLIT_RESULT    124.50.243.57
SEQUENCE_PARSE              <27>
Name: 1716, dtype: object
ID                                                              1718
IP_SPLIT_RESULT                                        173.197.107.7
SEQUENCE_PARSE     <1,90,92,1,93,93,90,93,93,92,1,132,93,132,93,1...
Name: 1717, dtype: object
ID                                                              1719
IP_SPLIT_RESULT                                      210.178.130.157
SEQUENCE_PARSE     <1,5,1,63,63,132,113,132,113,113,31,113,113,31...
Name: 1718, dtype: object
ID                                                              1720
IP_SPLIT_RESULT                                          39.7.53.153
SEQUENCE_PARSE     <1,93,93,92,89,93,32,93,93,93,32,93,1,132,93,1...
Name: 1719, dtype: object
ID                          1721
IP_SPLIT_RESULT    192.99.55.164
SEQUENCE_PARSE               <1>
Name: 1720, dtype: object
ID                                                              1722
IP_SPLIT_RESULT                                          39.7.53.153
SEQUENCE_PARSE     <1,90,87,23,130,1,90,92,87,89,80,30,132,93,132...
Name: 1721, dtype: object
ID                                                              1723
IP_SPLIT_RESULT                                       220.116.11.113
SEQUENCE_PARSE     <1,132,113,113,132,31,113,31,113,113,113,113,1...
Name: 1722, dtype: object
ID                                                              1724
IP_SPLIT_RESULT                                        173.197.107.7
SEQUENCE_PARSE     <1,92,87,89,80,30,132,93,132,93,32,93,32,93,93...
Name: 1723, dtype: object
ID                                                              1725
IP_SPLIT_RESULT                                       220.116.11.113
SEQUENCE_PARSE     <113,113,31,113,132,113,132,113,113,113,113,11...
Name: 1724, dtype: object
ID                                    1726
IP_SPLIT_RESULT              211.249.68.22
SEQUENCE_PARSE     <1,29,29,8,8,1,30,30,1>
Name: 1725, dtype: object
ID                             1727
IP_SPLIT_RESULT        117.111.1.33
SEQUENCE_PARSE     <39,63,89,195,1>
Name: 1726, dtype: object
ID                            1728
IP_SPLIT_RESULT    195.202.226.156
SEQUENCE_PARSE                 <1>
Name: 1727, dtype: object
ID                         1729
IP_SPLIT_RESULT    8.36.123.217
SEQUENCE_PARSE              <1>
Name: 1728, dtype: object
ID                         1730
IP_SPLIT_RESULT    8.36.123.219
SEQUENCE_PARSE              <1>
Name: 1729, dtype: object
ID                          1731
IP_SPLIT_RESULT    66.249.65.126
SEQUENCE_PARSE               <1>
Name: 1730, dtype: object
ID                                                              1732
IP_SPLIT_RESULT                                        39.113.104.56
SEQUENCE_PARSE     <1,92,87,1,132,132,158,160,132,132,113,132,113...
Name: 1731, dtype: object
ID                                                              1733
IP_SPLIT_RESULT                                        39.113.104.56
SEQUENCE_PARSE     <90,113,113,113,113,113,113,31,113,132,113,113...
Name: 1732, dtype: object
ID                          1734
IP_SPLIT_RESULT    182.226.42.78
SEQUENCE_PARSE               <1>
Name: 1733, dtype: object
ID                         1735
IP_SPLIT_RESULT    223.62.22.65
SEQUENCE_PARSE              <1>
Name: 1734, dtype: object
ID                           1736
IP_SPLIT_RESULT    185.95.162.241
SEQUENCE_PARSE                <1>
Name: 1735, dtype: object
ID                                                         1737
IP_SPLIT_RESULT                                   114.202.19.74
SEQUENCE_PARSE     <1,63,132,93,132,93,93,93,32,93,32,93,32,93>
Name: 1736, dtype: object
ID                                                              1738
IP_SPLIT_RESULT                                      222.109.133.168
SEQUENCE_PARSE     <132,113,132,113,92,113,113,113,113,31,5,1,31,...
Name: 1737, dtype: object
ID                                                              1739
IP_SPLIT_RESULT                                        114.202.19.74
SEQUENCE_PARSE     <32,93,32,93,93,93,32,93,93,32,93,33,63,164,16...
Name: 1738, dtype: object
ID                          1740
IP_SPLIT_RESULT    204.79.180.15
SEQUENCE_PARSE               <1>
Name: 1739, dtype: object
ID                                                              1741
IP_SPLIT_RESULT                                      114.203.246.228
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,132,1,90,1,90,1,87,89,80,30...
Name: 1740, dtype: object
ID                                                              1742
IP_SPLIT_RESULT                                       117.16.239.172
SEQUENCE_PARSE     <1,63,1,191,63,1,191,63,1,132,132,113,132,113,...
Name: 1741, dtype: object
ID                                            1743
IP_SPLIT_RESULT                    182.215.128.227
SEQUENCE_PARSE     <33,130,63,198,164,164,164,164>
Name: 1742, dtype: object
ID                                                              1744
IP_SPLIT_RESULT                                      182.215.128.227
SEQUENCE_PARSE     <89,132,132,158,160,132,113,132,132,132,132,15...
Name: 1743, dtype: object
ID                                                              1745
IP_SPLIT_RESULT                                      112.150.113.145
SEQUENCE_PARSE     <1,93,93,93,93,63,132,93,132,93,93,93,32,93,32...
Name: 1744, dtype: object
ID                                                              1746
IP_SPLIT_RESULT                                       223.39.130.245
SEQUENCE_PARSE     <89,80,29,113,132,113,132,132,113,113,113,113,...
Name: 1745, dtype: object
ID                                                              1747
IP_SPLIT_RESULT                                        58.122.179.49
SEQUENCE_PARSE     <1,87,80,24,212,132,10,212,25,130,132,81,93,13...
Name: 1746, dtype: object
ID                        1748
IP_SPLIT_RESULT    14.52.210.9
SEQUENCE_PARSE             <1>
Name: 1747, dtype: object
ID                                                              1749
IP_SPLIT_RESULT                                      222.232.217.237
SEQUENCE_PARSE     <1,130,1,130,1,132,93,132,93,93,93,93,93,93,93...
Name: 1748, dtype: object
ID                              1750
IP_SPLIT_RESULT       223.39.130.245
SEQUENCE_PARSE     <87,31,113,1,132>
Name: 1749, dtype: object
ID                          1751
IP_SPLIT_RESULT    1.244.255.107
SEQUENCE_PARSE               <1>
Name: 1750, dtype: object
ID                                                              1752
IP_SPLIT_RESULT                                        175.223.18.12
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 1751, dtype: object
ID                                                              1753
IP_SPLIT_RESULT                                      222.232.217.237
SEQUENCE_PARSE     <93,1,32,93,93,93,32,93,1,132,93,132,93,93,32,...
Name: 1752, dtype: object
ID                                                              1754
IP_SPLIT_RESULT                                        175.223.18.12
SEQUENCE_PARSE     <90,92,164,132,30,132,93,132,93,93,93,32,93,11...
Name: 1753, dtype: object
ID                           1755
IP_SPLIT_RESULT    12.220.145.178
SEQUENCE_PARSE            <1,5,1>
Name: 1754, dtype: object
ID                           1756
IP_SPLIT_RESULT    208.80.194.123
SEQUENCE_PARSE                <1>
Name: 1755, dtype: object
ID                                                              1757
IP_SPLIT_RESULT                                       223.62.173.147
SEQUENCE_PARSE     <30,132,93,132,93,93,93,93,93,113,113,113,14,1...
Name: 1756, dtype: object
ID                          1758
IP_SPLIT_RESULT    124.60.180.64
SEQUENCE_PARSE            <1,92>
Name: 1757, dtype: object
ID                                                              1759
IP_SPLIT_RESULT                                       219.250.50.216
SEQUENCE_PARSE     <39,130,164,39,164,132,132,132,132,158,160,164...

ID                            1922
IP_SPLIT_RESULT    183.102.240.118
SEQUENCE_PARSE     <1,5,1,5,1,132>
Name: 1921, dtype: object
ID                            1923
IP_SPLIT_RESULT    163.152.115.212
SEQUENCE_PARSE             <1,5,1>
Name: 1922, dtype: object
ID                                                              1924
IP_SPLIT_RESULT                                      121.167.202.125
SEQUENCE_PARSE     <12,158,160,132,132,113,132,113,113,113,113,11...
Name: 1923, dtype: object
ID                                                              1925
IP_SPLIT_RESULT                                      211.186.141.197
SEQUENCE_PARSE     <1,113,113,113,113,130,132,113,132,113,113,113...
Name: 1924, dtype: object
ID                                                              1926
IP_SPLIT_RESULT                                       223.62.204.252
SEQUENCE_PARSE     <1,93,93,93,93,93,93,63,132,132,158,160,132,13...
Name: 1925, dtype: object
ID                          1927
IP_SPLIT_RESULT    2.235.212.135
SEQUENCE_PARSE               <1>
Name: 1926, dtype: object
ID                           1928
IP_SPLIT_RESULT    223.62.204.252
SEQUENCE_PARSE            <1,164>
Name: 1927, dtype: object
ID                                                              1929
IP_SPLIT_RESULT                                      211.186.141.197
SEQUENCE_PARSE     <113,113,113,113,31,113,31,113,31,113,132,162,...
Name: 1928, dtype: object
ID                           1930
IP_SPLIT_RESULT    121.147.80.206
SEQUENCE_PARSE            <1,5,1>
Name: 1929, dtype: object
ID                                          1931
IP_SPLIT_RESULT                    117.111.6.166
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,1>
Name: 1930, dtype: object
ID                          1932
IP_SPLIT_RESULT    117.111.6.166
SEQUENCE_PARSE     <93,93,93,93>
Name: 1931, dtype: object
ID                          1933
IP_SPLIT_RESULT    207.46.13.122
SEQUENCE_PARSE           <1,5,1>
Name: 1932, dtype: object
ID                           1934
IP_SPLIT_RESULT    175.211.187.55
SEQUENCE_PARSE            <1,5,1>
Name: 1933, dtype: object
ID                                                              1935
IP_SPLIT_RESULT                                        223.39.140.79
SEQUENCE_PARSE     <33,130,130,130,1,33,130,130,130,130,130,130,1...
Name: 1934, dtype: object
ID                          1936
IP_SPLIT_RESULT    203.130.102.8
SEQUENCE_PARSE           <1,5,1>
Name: 1935, dtype: object
ID                                                              1937
IP_SPLIT_RESULT                                       211.36.133.141
SEQUENCE_PARSE     <1,90,92,87,80,29,132,113,132,113,113,113,113,...
Name: 1936, dtype: object
ID                                                              1938
IP_SPLIT_RESULT                                        110.70.47.166
SEQUENCE_PARSE     <1,90,92,113,31,113,113,113,31,113,132,113,132...
Name: 1937, dtype: object
ID                                        1939
IP_SPLIT_RESULT                 211.36.156.244
SEQUENCE_PARSE     <1,113,113,113,113,113,113>
Name: 1938, dtype: object
ID                                                              1940
IP_SPLIT_RESULT                                        110.70.47.166
SEQUENCE_PARSE     <90,92,87,89,80,29,113,132,132,113,132,132,113...
Name: 1939, dtype: object
ID                                  1941
IP_SPLIT_RESULT            223.39.140.79
SEQUENCE_PARSE     <33,130,164,33,164,1>
Name: 1940, dtype: object
ID                          1942
IP_SPLIT_RESULT    180.81.107.12
SEQUENCE_PARSE           <1,5,1>
Name: 1941, dtype: object
ID                                                              1943
IP_SPLIT_RESULT                                      220.117.166.253
SEQUENCE_PARSE     <1,5,1,5,1,44,5,1,132,32,93,5,1,93,93,93,93,93...
Name: 1942, dtype: object
ID                            1944
IP_SPLIT_RESULT    211.223.220.201
SEQUENCE_PARSE             <1,5,1>
Name: 1943, dtype: object
ID                                                    1945
IP_SPLIT_RESULT                               175.214.51.5
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93>
Name: 1944, dtype: object
ID                           1946
IP_SPLIT_RESULT    211.36.133.141
SEQUENCE_PARSE               <89>
Name: 1945, dtype: object
ID                                                              1947
IP_SPLIT_RESULT                                      220.117.166.253
SEQUENCE_PARSE     <1,5,1,5,1,5,1,132,132,93,93,93,93,132,93,132,...
Name: 1946, dtype: object
ID                                                              1948
IP_SPLIT_RESULT                                        211.48.46.164
SEQUENCE_PARSE     <29,132,93,132,93,132,93,132,132,132,93,1,63,8...
Name: 1947, dtype: object
ID                                                              1949
IP_SPLIT_RESULT                                        211.48.46.164
SEQUENCE_PARSE     <93,93,132,93,93,132,132,132,132,132,87,92,189...
Name: 1948, dtype: object
ID                            1950
IP_SPLIT_RESULT    211.210.105.103
SEQUENCE_PARSE             <1,5,1>
Name: 1949, dtype: object
ID                           1951
IP_SPLIT_RESULT    175.193.191.32
SEQUENCE_PARSE            <1,5,1>
Name: 1950, dtype: object
ID                                                              1952
IP_SPLIT_RESULT                                        110.70.26.248
SEQUENCE_PARSE     <1,130,132,113,132,113,113,113,29,132,113,113,...
Name: 1951, dtype: object
ID                          1953
IP_SPLIT_RESULT    14.39.246.201
SEQUENCE_PARSE         <1,93,93>
Name: 1952, dtype: object
ID                             1954
IP_SPLIT_RESULT       110.70.26.248
SEQUENCE_PARSE     <113,113,31,113>
Name: 1953, dtype: object
ID                             1955
IP_SPLIT_RESULT       14.39.246.201
SEQUENCE_PARSE     <93,93,93,93,90>
Name: 1954, dtype: object
ID                                                              1956
IP_SPLIT_RESULT                                         211.249.40.3
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 1955, dtype: object
ID                                                              1957
IP_SPLIT_RESULT                                        175.223.35.70
SEQUENCE_PARSE     <39,63,164,164,113,1,132,93,113,31,113,31,113,...
Name: 1956, dtype: object
ID                                                              1958
IP_SPLIT_RESULT                                         218.39.90.34
SEQUENCE_PARSE     <1,178,132,178,132,178,178,132,32,93,132,93,13...
Name: 1957, dtype: object
ID                                1959
IP_SPLIT_RESULT         175.223.20.156
SEQUENCE_PARSE     <1,113,132,132,113>
Name: 1958, dtype: object
ID                                                              1960
IP_SPLIT_RESULT                                       223.33.164.154
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 1959, dtype: object
ID                         1961
IP_SPLIT_RESULT    82.100.59.23
SEQUENCE_PARSE              <1>
Name: 1960, dtype: object
ID                                                              1962
IP_SPLIT_RESULT                                        110.70.56.131
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,31,113,31,113...
Name: 1961, dtype: object
ID                                                              1963
IP_SPLIT_RESULT                                        110.70.56.131
SEQUENCE_PARSE     <1,63,132,132,158,160,132,132,93,132,93,32,93,...
Name: 1962, dtype: object
ID                                                              1964
IP_SPLIT_RESULT                                         218.39.90.34
SEQUENCE_PARSE     <1,30,93,93,32,93,132,93,93,132,89,93,132,93,1...
Name: 1963, dtype: object
ID                                                      1965
IP_SPLIT_RESULT                               203.207.17.203
SEQUENCE_PARSE     <1,132,132,158,160,1,132,132,158,160,164>
Name: 1964, dtype: object
ID                                            1966
IP_SPLIT_RESULT                      125.128.25.35
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93,93,93>
Name: 1965, dtype: object
ID                           1967
IP_SPLIT_RESULT    95.239.125.133
SEQUENCE_PARSE                <1>
Name: 1966, dtype: object
ID                          1968
IP_SPLIT_RESULT    110.70.59.169
SEQUENCE_PARSE               <1>
Name: 1967, dtype: object
ID                         1969
IP_SPLIT_RESULT    223.38.8.151
SEQUENCE_PARSE              <1>
Name: 1968, dtype: object
ID                                                              1970
IP_SPLIT_RESULT                                        211.48.46.154
SEQUENCE_PARSE     <1,63,113,1,63,132,113,132,31,113,113,31,113,1...
Name: 1969, dtype: object
ID                           1971
IP_SPLIT_RESULT    173.252.90.120
SEQUENCE_PARSE                <1>
Name: 1970, dtype: object
ID                          1972
IP_SPLIT_RESULT    58.151.94.253
SEQUENCE_PARSE               <1>
Name: 1971, dtype: object
ID                          1973
IP_SPLIT_RESULT    58.151.94.253
SEQUENCE_PARSE               <1>
Name: 1972, dtype: object
ID                          1974
IP_SPLIT_RESULT    183.99.191.62
SEQUENCE_PARSE           <1,5,1>
Name: 1973, dtype: object
ID                                                              1975
IP_SPLIT_RESULT                                        211.48.46.154
SEQUENCE_PARSE     <89,195,195,1,63,132,113,132,113,113,113,113,1...
Name: 1974, dtype: object
ID                          1976
IP_SPLIT_RESULT    220.123.14.99
SEQUENCE_PARSE           <1,5,1>
Name: 1975, dtype: object
ID                               1977
IP_SPLIT_RESULT         1.215.217.179
SEQUENCE_PARSE     <1,90,92,87,23,90>
Name: 1976, dtype: object
ID                                                              1978
IP_SPLIT_RESULT                                        121.131.87.40
SEQUENCE_PARSE     <1,5,1,90,90,92,25,90,1,93,132,132,93,132,93,1...
Name: 1977, dtype: object
ID                                                              1979
IP_SPLIT_RESULT                                        203.241.183.7
SEQUENCE_PARSE     <1,132,113,132,113,113,113,132,132,132,93,132,...
Name: 1978, dtype: object
ID                         1980
IP_SPLIT_RESULT    180.229.46.4
SEQUENCE_PARSE          <1,5,1>
Name: 1979, dtype: object
ID                           1981
IP_SPLIT_RESULT    220.70.145.130
SEQUENCE_PARSE              <1,5>
Name: 1980, dtype: object
ID                          1982
IP_SPLIT_RESULT    1.215.217.179
SEQUENCE_PARSE        <92,90,92>
Name: 1981, dtype: object
ID                               1983
IP_SPLIT_RESULT         223.62.202.52
SEQUENCE_PARSE     <1,13,174,172,170>
Name: 1982, dtype: object
ID                                        1984
IP_SPLIT_RESULT                220.117.234.177
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93>
Name: 1983, dtype: object
ID                                                              1985
IP_SPLIT_RESULT                                        121.131.87.40
SEQUENCE_PARSE     <132,1,90,92,25,90,90,92,1,113,1,113,132,132,1...
Name: 1984, dtype: object
ID                               1986
IP_SPLIT_RESULT       222.107.160.103
SEQUENCE_PARSE     <1,5,1,113,31,113>
Name: 1985, dtype: object
ID                                                              1987
IP_SPLIT_RESULT                                       223.33.164.154
SEQUENCE_PARSE     <93,93,23,1,93,132,132,93,93,93,93,93,93,93,13...
Name: 1986, dtype: object
ID                                                              1988
IP_SPLIT_RESULT                                           39.7.15.28
SEQUENCE_PARSE     <14,93,13,174,172,170,132,132,81,1,132,81,132,...
Name: 1987, dtype: object
ID                                                              1989
IP_SPLIT_RESULT                                      222.107.160.103
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,90,1,63,89,195,195,195,1,93...
Name: 1988, dtype: object
ID                           1990
IP_SPLIT_RESULT    112.184.78.132
SEQUENCE_PARSE            <1,5,1>
Name: 1989, dtype: object
ID                            1991
IP_SPLIT_RESULT    125.129.197.116
SEQUENCE_PARSE             <1,5,1>
Name: 1990, dtype: object
ID                                      1992
IP_SPLIT_RESULT               112.221.228.30
SEQUENCE_PARSE     <1,5,1,132,1,5,1,5,1,5,1>
Name: 1991, dtype: object
ID                                    1993
IP_SPLIT_RESULT              117.111.28.12
SEQUENCE_PARSE     <1,93,93,93,93,93,93,1>
Name: 1992, dtype: object
ID                                                              1994
IP_SPLIT_RESULT                                       211.36.142.242
SEQUENCE_PARSE     <31,31,29,1,132,113,132,113,113,113,31,113,113...
Name: 1993, dtype: object
ID                                      1995
IP_SPLIT_RESULT                117.111.28.12
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93>
Name: 1994, dtype: object
ID                                                              1996
IP_SPLIT_RESULT                                        223.62.172.81
SEQUENCE_PARSE     <29,113,132,113,132,113,113,113,113,29,113,113...
Name: 1995, dtype: object
ID                            1997
IP_SPLIT_RESULT    218.234.180.238
SEQUENCE_PARSE             <1,5,1>
Name: 1996, dtype: object
ID                                 1998
IP_SPLIT_RESULT          211.36.142.242
SEQUENCE_PARSE     <31,31,113,113,31,1>
Name: 1997, dtype: object
ID                                                              1999
IP_SPLIT_RESULT                                        223.62.172.81
SEQUENCE_PARSE     <113,113,132,132,113,113,39,164,39,164,1,39,16...
Name: 1998, dtype: object
ID                                              2000
IP_SPLIT_RESULT                        14.52.212.139
SEQUENCE_PARSE     <1,5,1,5,1,93,93,93,93,93,132,93>
Name: 1999, dtype: object
ID                                                              2001
IP_SPLIT_RESULT                                         61.73.103.35
SEQUENCE_PARSE     <1,90,1,90,92,89,31,113,31,113,1,132,93,132,93...
Name: 2000, dtype: object
ID                                                              2002
IP_SPLIT_RESULT                                       211.36.142.175
SEQUENCE_PARSE     <1,93,93,1,33,164,130,130,164,164,33,164,33,16...
Name: 2001, dtype: object
ID                          2008
IP_SPLIT_RESULT    58.122.93.190
SEQUENCE_PARSE              <30>
Name: 2002, dtype: object
ID                                                          2009
IP_SPLIT_RESULT                                    223.33.164.30
SEQUENCE_PARSE     <30,132,93,132,93,132,113,113,132,39,164,164>
Name: 2003, dtype: object
ID                                3426
IP_SPLIT_RESULT          106.247.13.73
SEQUENCE_PARSE     <93,93,93,93,93,93>
Name: 2004, dtype: object
ID                              3427
IP_SPLIT_RESULT      121.170.133.212
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 2005, dtype: object
ID                                         3428
IP_SPLIT_RESULT                     39.7.58.201
SEQUENCE_PARSE     <93,132,132,93,93,32,93,130>
Name: 2006, dtype: object
ID                                                              3429
IP_SPLIT_RESULT                                         218.48.36.91
SEQUENCE_PARSE     <93,93,93,130,130,130,113,132,113,132,132,93,1...
Name: 2007, dtype: object
ID                            3430
IP_SPLIT_RESULT    121.167.105.115
SEQUENCE_PARSE             <1,5,1>
Name: 2008, dtype: object
ID                           3431
IP_SPLIT_RESULT    220.95.111.242
SEQUENCE_PARSE            <80,26>
Name: 2009, dtype: object
ID                                                  3432
IP_SPLIT_RESULT                            211.36.144.18
SEQUENCE_PARSE     <93,93,132,113,132,132,31,113,113,31>
Name: 2010, dtype: object
ID                            3437
IP_SPLIT_RESULT    121.133.223.137
SEQUENCE_PARSE             <93,93>
Name: 2011, dtype: object
ID                         3443
IP_SPLIT_RESULT    1.240.162.90
SEQUENCE_PARSE              <1>
Name: 2012, dtype: object
ID                           4017
IP_SPLIT_RESULT    180.71.238.173
SEQUENCE_PARSE                <1>
Name: 2013, dtype: object
ID                          4018
IP_SPLIT_RESULT    1.244.187.145
SEQUENCE_PARSE     <93,93,93,93>
Name: 2014, dtype: object
ID                                4019
IP_SPLIT_RESULT         117.111.28.211
SEQUENCE_PARSE     <132,132,1,30,30,1>
Name: 2015, dtype: object
ID                                                              4020
IP_SPLIT_RESULT                                       117.111.28.211
SEQUENCE_PARSE     <93,93,93,93,1,132,113,132,31,113,113,31,113,1...
Name: 2016, dtype: object
ID                                                              4021
IP_SPLIT_RESULT                                          223.62.21.4
SEQUENCE_PARSE     <1,132,113,132,113,132,93,132,93,132,113,132,1...
Name: 2017, dtype: object
ID                          4022
IP_SPLIT_RESULT    121.66.38.149
SEQUENCE_PARSE           <93,93>
Name: 2018, dtype: object
ID                           4023
IP_SPLIT_RESULT    175.223.20.217
SEQUENCE_PARSE               <93>
Name: 2019, dtype: object
ID                                                              6663
IP_SPLIT_RESULT                                       117.111.28.253
SEQUENCE_PARSE     <132,113,132,113,31,113,31,113,113,113,113,113...
Name: 2020, dtype: object
ID                                                              6664
IP_SPLIT_RESULT                                        223.39.141.44
SEQUENCE_PARSE     <93,93,32,93,93,93,93,93,93,93,32,93,66,132,13...
Name: 2021, dtype: object
ID                                    6665
IP_SPLIT_RESULT             125.142.99.216
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 2022, dtype: object
ID                                                              6666
IP_SPLIT_RESULT                                       114.207.199.56
SEQUENCE_PARSE     <1,89,132,81,212,132,93,132,113,132,113,113,31...
Name: 2023, dtype: object
ID                              6667
IP_SPLIT_RESULT        115.93.159.68
SEQUENCE_PARSE     <1,30,132,5,93,1>
Name: 2024, dtype: object
ID                                             6668
IP_SPLIT_RESULT                      119.198.12.104
SEQUENCE_PARSE     <191,1,5,1,5,1,132,132,93,93,90>
Name: 2025, dtype: object
ID                                                              6669
IP_SPLIT_RESULT                                         49.164.9.102
SEQUENCE_PARSE     <1,113,113,1,113,132,113,132,113,113,113,113,1...
Name: 2026, dtype: object
ID                                                              6670
IP_SPLIT_RESULT                                       175.223.27.182
SEQUENCE_PARSE     <93,93,93,93,132,93,93,93,93,132,93,93,132,132...
Name: 2027, dtype: object
ID                                               6671
IP_SPLIT_RESULT                        175.223.22.234
SEQUENCE_PARSE     <1,132,93,93,93,93,93,93,93,93,93>
Name: 2028, dtype: object
ID                          6672
IP_SPLIT_RESULT    222.97.132.89
SEQUENCE_PARSE               <1>
Name: 2029, dtype: object
ID                                                6673
IP_SPLIT_RESULT                          211.36.134.66
SEQUENCE_PARSE     <1,132,93,93,132,93,93,93,93,32,93>
Name: 2030, dtype: object
ID                            6674
IP_SPLIT_RESULT     175.223.22.234
SEQUENCE_PARSE     <132,93,132,93>
Name: 2031, dtype: object
ID                                                              6675
IP_SPLIT_RESULT                                       112.166.62.130
SEQUENCE_PARSE     <1,5,1,132,93,132,93,93,93,1,5,1,132,132,93,13...
Name: 2032, dtype: object
ID                                                              6676
IP_SPLIT_RESULT                                          223.62.8.58
SEQUENCE_PARSE     <1,93,132,93,132,93,93,32,93,132,93,132,93,32,...
Name: 2033, dtype: object

ID                                                              6841
IP_SPLIT_RESULT                                       211.36.142.246
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,31,11...
Name: 2197, dtype: object
ID                           6842
IP_SPLIT_RESULT    115.126.204.77
SEQUENCE_PARSE                <1>
Name: 2198, dtype: object
ID                         6843
IP_SPLIT_RESULT    61.81.94.181
SEQUENCE_PARSE      <1,5,1,132>
Name: 2199, dtype: object
ID                                                              6844
IP_SPLIT_RESULT                                         223.62.22.12
SEQUENCE_PARSE     <89,80,29,132,113,132,113,132,132,113,132,113,...
Name: 2200, dtype: object
ID                                                              6845
IP_SPLIT_RESULT                                            39.7.59.8
SEQUENCE_PARSE     <113,1,113,113,132,113,132,31,31,132,132,158,160>
Name: 2201, dtype: object
ID                          6846
IP_SPLIT_RESULT    121.161.52.47
SEQUENCE_PARSE         <132,132>
Name: 2202, dtype: object
ID                           6847
IP_SPLIT_RESULT    223.62.162.140
SEQUENCE_PARSE                <1>
Name: 2203, dtype: object
ID                           6848
IP_SPLIT_RESULT    58.150.195.155
SEQUENCE_PARSE                <1>
Name: 2204, dtype: object
ID                                                              6849
IP_SPLIT_RESULT                                            39.7.59.8
SEQUENCE_PARSE     <29,113,132,132,158,160,132,132,113,132,113,11...
Name: 2205, dtype: object
ID                           6850
IP_SPLIT_RESULT    175.197.223.52
SEQUENCE_PARSE                <1>
Name: 2206, dtype: object
ID                                                              6851
IP_SPLIT_RESULT                                        121.185.51.40
SEQUENCE_PARSE     <1,63,89,195,113,132,113,132,113,113,132,132,1...
Name: 2207, dtype: object
ID                                                              6852
IP_SPLIT_RESULT                                         113.10.29.95
SEQUENCE_PARSE     <1,5,1,132,132,132,132,132,132,30,132,132,1,13...
Name: 2208, dtype: object
ID                          6853
IP_SPLIT_RESULT    203.238.63.33
SEQUENCE_PARSE               <1>
Name: 2209, dtype: object
ID                          6854
IP_SPLIT_RESULT    223.62.169.77
SEQUENCE_PARSE               <1>
Name: 2210, dtype: object
ID                            6855
IP_SPLIT_RESULT    222.114.239.130
SEQUENCE_PARSE                 <1>
Name: 2211, dtype: object
ID                                                              6856
IP_SPLIT_RESULT                                         113.10.29.95
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,93,93,93,...
Name: 2212, dtype: object
ID                       6857
IP_SPLIT_RESULT    39.7.47.80
SEQUENCE_PARSE            <1>
Name: 2213, dtype: object
ID                                                              6858
IP_SPLIT_RESULT                                       61.109.201.226
SEQUENCE_PARSE     <1,63,5,1,5,1,5,1,132,1,63,132,113,132,113,31,...
Name: 2214, dtype: object
ID                              6859
IP_SPLIT_RESULT      112.152.252.191
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 2215, dtype: object
ID                                 6860
IP_SPLIT_RESULT           223.62.188.13
SEQUENCE_PARSE     <1,93,132,132,93,93>
Name: 2216, dtype: object
ID                          6861
IP_SPLIT_RESULT    117.111.4.186
SEQUENCE_PARSE               <1>
Name: 2217, dtype: object
ID                           6862
IP_SPLIT_RESULT    175.197.223.52
SEQUENCE_PARSE                <1>
Name: 2218, dtype: object
ID                           6863
IP_SPLIT_RESULT    117.111.22.200
SEQUENCE_PARSE           <33,164>
Name: 2219, dtype: object
ID                                                              6864
IP_SPLIT_RESULT                                       223.62.173.182
SEQUENCE_PARSE     <1,132,113,132,113,31,113,31,113,31,113,31,113...
Name: 2220, dtype: object
ID                                                              6865
IP_SPLIT_RESULT                                        211.48.46.130
SEQUENCE_PARSE     <132,113,132,113,31,113,31,113,31,113,113,113,...
Name: 2221, dtype: object
ID                           6866
IP_SPLIT_RESULT    124.58.149.134
SEQUENCE_PARSE                <1>
Name: 2222, dtype: object
ID                          6867
IP_SPLIT_RESULT    59.31.200.253
SEQUENCE_PARSE               <1>
Name: 2223, dtype: object
ID                            6868
IP_SPLIT_RESULT    210.178.101.190
SEQUENCE_PARSE                 <1>
Name: 2224, dtype: object
ID                         6869
IP_SPLIT_RESULT    58.230.98.70
SEQUENCE_PARSE              <1>
Name: 2225, dtype: object
ID                                                              6870
IP_SPLIT_RESULT                                        112.170.45.65
SEQUENCE_PARSE     <1,132,93,132,93,93,93,90,92,80,30,132,93,132,...
Name: 2226, dtype: object
ID                                                              6871
IP_SPLIT_RESULT                                        211.48.46.130
SEQUENCE_PARSE     <113,113,31,113,31,113,113,113,31,113,31,113,1...
Name: 2227, dtype: object
ID                           6872
IP_SPLIT_RESULT    175.223.10.218
SEQUENCE_PARSE                <1>
Name: 2228, dtype: object
ID                          6873
IP_SPLIT_RESULT    85.89.181.159
SEQUENCE_PARSE               <1>
Name: 2229, dtype: object
ID                                                6874
IP_SPLIT_RESULT                          223.62.188.68
SEQUENCE_PARSE     <30,1,5,1,132,93,132,93,93,93,93,1>
Name: 2230, dtype: object
ID                         6875
IP_SPLIT_RESULT    110.70.26.67
SEQUENCE_PARSE      <33,164,63>
Name: 2231, dtype: object
ID                           6876
IP_SPLIT_RESULT    211.252.20.113
SEQUENCE_PARSE                <1>
Name: 2232, dtype: object
ID                                          6877
IP_SPLIT_RESULT                    110.70.59.212
SEQUENCE_PARSE     <132,132,158,160,132,113,132>
Name: 2233, dtype: object
ID                                                    6878
IP_SPLIT_RESULT                              223.62.188.68
SEQUENCE_PARSE     <93,93,93,93,93,93,32,93,32,93,32,93,1>
Name: 2234, dtype: object
ID                           6879
IP_SPLIT_RESULT    123.213.39.105
SEQUENCE_PARSE                <1>
Name: 2235, dtype: object
ID                                                              6880
IP_SPLIT_RESULT                                        112.170.45.65
SEQUENCE_PARSE     <87,89,93,32,32,93,14,113,132,132,93,132,93,93...
Name: 2236, dtype: object
ID                                    6881
IP_SPLIT_RESULT             211.108.218.90
SEQUENCE_PARSE     <1,93,132,132,93,90,92>
Name: 2237, dtype: object
ID                                                              6882
IP_SPLIT_RESULT                                          39.7.55.224
SEQUENCE_PARSE     <1,63,89,195,132,113,132,113,113,113,113,113,1...
Name: 2238, dtype: object
ID                           6883
IP_SPLIT_RESULT    223.62.202.130
SEQUENCE_PARSE                <1>
Name: 2239, dtype: object
ID                              6884
IP_SPLIT_RESULT          59.7.133.53
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 2240, dtype: object
ID                                                              6885
IP_SPLIT_RESULT                                       121.128.205.11
SEQUENCE_PARSE     <1,90,92,1,132,10,132,113,132,113,31,113,31,11...
Name: 2241, dtype: object
ID                                 6886
IP_SPLIT_RESULT            66.249.79.58
SEQUENCE_PARSE     <1,5,1,44,1,5,1,5,1>
Name: 2242, dtype: object
ID                                       6887
IP_SPLIT_RESULT               221.157.103.108
SEQUENCE_PARSE     <1,90,92,90,92,90,1,90,92>
Name: 2243, dtype: object
ID                           6888
IP_SPLIT_RESULT    223.62.202.237
SEQUENCE_PARSE         <1,33,164>
Name: 2244, dtype: object
ID                                                              6889
IP_SPLIT_RESULT                                       223.62.216.127
SEQUENCE_PARSE     <14,113,132,132,158,160,132,113,132,93,132,93,...
Name: 2245, dtype: object
ID                          6890
IP_SPLIT_RESULT    59.31.193.198
SEQUENCE_PARSE         <1,90,90>
Name: 2246, dtype: object
ID                                                6891
IP_SPLIT_RESULT                         122.34.126.233
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93>
Name: 2247, dtype: object
ID                                                              6892
IP_SPLIT_RESULT                                       223.62.202.174
SEQUENCE_PARSE     <1,132,113,132,113,1,132,132,81,132,158,160,13...
Name: 2248, dtype: object
ID                            6893
IP_SPLIT_RESULT    217.182.132.185
SEQUENCE_PARSE                 <1>
Name: 2249, dtype: object
ID                                  6894
IP_SPLIT_RESULT           220.69.235.137
SEQUENCE_PARSE     <23,23,90,5,1,90,5,1>
Name: 2250, dtype: object
ID                                                              6895
IP_SPLIT_RESULT                                       117.111.20.100
SEQUENCE_PARSE     <1,130,113,113,113,14,113,113,113,14,113,32,93,1>
Name: 2251, dtype: object
ID                                          6896
IP_SPLIT_RESULT                   223.62.202.237
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93,1>
Name: 2252, dtype: object
ID                                                              6897
IP_SPLIT_RESULT                                        117.16.199.45
SEQUENCE_PARSE     <1,63,132,113,113,132,31,113,113,113,31,113,31...
Name: 2253, dtype: object
ID                                                              6898
IP_SPLIT_RESULT                                       117.16.199.132
SEQUENCE_PARSE     <29,132,113,132,113,113,113,31,113,113,113,29,...
Name: 2254, dtype: object
ID                           6899
IP_SPLIT_RESULT    211.215.24.208
SEQUENCE_PARSE       <1,90,92,90>
Name: 2255, dtype: object
ID                                                              6900
IP_SPLIT_RESULT                                       117.16.198.190
SEQUENCE_PARSE     <1,63,89,195,132,113,132,113,113,113,113,132,1...
Name: 2256, dtype: object
ID                                                              6901
IP_SPLIT_RESULT                                        223.62.162.21
SEQUENCE_PARSE     <1,132,132,158,160,164,132,158,160,132,132,93,...
Name: 2257, dtype: object
ID                           6902
IP_SPLIT_RESULT    58.239.152.181
SEQUENCE_PARSE                <1>
Name: 2258, dtype: object
ID                          6903
IP_SPLIT_RESULT    182.222.22.58
SEQUENCE_PARSE               <1>
Name: 2259, dtype: object
ID                          6904
IP_SPLIT_RESULT    211.54.54.237
SEQUENCE_PARSE               <1>
Name: 2260, dtype: object
ID                         6905
IP_SPLIT_RESULT    223.33.160.3
SEQUENCE_PARSE              <1>
Name: 2261, dtype: object
ID                           6906
IP_SPLIT_RESULT    117.16.198.190
SEQUENCE_PARSE       <113,113,31>
Name: 2262, dtype: object
ID                                                              6907
IP_SPLIT_RESULT                                      114.203.108.107
SEQUENCE_PARSE     <1,113,132,132,113,31,113,113,113,31,113,113,1...
Name: 2263, dtype: object
ID                           6908
IP_SPLIT_RESULT    118.221.245.16
SEQUENCE_PARSE            <1,5,1>
Name: 2264, dtype: object
ID                                                              6909
IP_SPLIT_RESULT                                          39.7.54.242
SEQUENCE_PARSE     <31,113,113,113,31,113,31,113,113,113,31,113,1...
Name: 2265, dtype: object
ID                                                              6910
IP_SPLIT_RESULT                                        223.62.162.21
SEQUENCE_PARSE     <93,132,162,166,162,93,132,132,93,93,130,130,1...
Name: 2266, dtype: object
ID                                                              6911
IP_SPLIT_RESULT                                        211.36.142.63
SEQUENCE_PARSE     <1,63,63,1,191,63,1,132,113,132,113,63,1,132,1...
Name: 2267, dtype: object
ID                                                             6912
IP_SPLIT_RESULT                                       117.16.197.62
SEQUENCE_PARSE     <1,63,1,113,113,113,113,113,113,113,113,113,113>
Name: 2268, dtype: object
ID                                                              6913
IP_SPLIT_RESULT                                       223.62.173.182
SEQUENCE_PARSE     <132,132,158,160,132,132,132,113,113,31,113,1,...
Name: 2269, dtype: object
ID                                                              6914
IP_SPLIT_RESULT                                       117.111.20.100
SEQUENCE_PARSE     <93,132,93,132,93,93,93,93,32,93,32,93,32,93,3...
Name: 2270, dtype: object
ID                               6915
IP_SPLIT_RESULT          223.62.8.127
SEQUENCE_PARSE     <1,32,93,132,93,1>
Name: 2271, dtype: object
ID                        6916
IP_SPLIT_RESULT    39.7.54.242
SEQUENCE_PARSE       <113,113>
Name: 2272, dtype: object
ID                                                              6917
IP_SPLIT_RESULT                                       223.62.202.219
SEQUENCE_PARSE     <132,132,158,160,164,1,31,113,132,113,132,31,1...
Name: 2273, dtype: object
ID                                                              6918
IP_SPLIT_RESULT                                       211.246.116.27
SEQUENCE_PARSE     <1,132,132,132,132,113,132,113,113,113,113,113...
Name: 2274, dtype: object
ID                          6919
IP_SPLIT_RESULT    211.36.142.63
SEQUENCE_PARSE       <1,93,93,1>
Name: 2275, dtype: object
ID                                                              6920
IP_SPLIT_RESULT                                        223.62.22.191
SEQUENCE_PARSE     <113,113,113,113,31,113,113,113,31,113,113,31,...
Name: 2276, dtype: object
ID                                                              6921
IP_SPLIT_RESULT                                         211.44.70.72
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,90,87...
Name: 2277, dtype: object
ID                           6922
IP_SPLIT_RESULT    117.111.14.193
SEQUENCE_PARSE                <1>
Name: 2278, dtype: object
ID                         6923
IP_SPLIT_RESULT    61.81.94.181
SEQUENCE_PARSE          <1,5,1>
Name: 2279, dtype: object
ID                           6924
IP_SPLIT_RESULT    103.226.74.195
SEQUENCE_PARSE                <1>
Name: 2280, dtype: object
ID                           6925
IP_SPLIT_RESULT    49.167.161.185
SEQUENCE_PARSE                <1>
Name: 2281, dtype: object
ID                           6926
IP_SPLIT_RESULT    117.111.14.193
SEQUENCE_PARSE                <1>
Name: 2282, dtype: object
ID                                                              6927
IP_SPLIT_RESULT                                        27.122.242.71
SEQUENCE_PARSE     <1,93,132,132,93,1,5,1,5,1,5,1,5,1,5,1,5,1,132...
Name: 2283, dtype: object
ID                           6928
IP_SPLIT_RESULT    117.111.14.193
SEQUENCE_PARSE                <1>
Name: 2284, dtype: object
ID                                                              6929
IP_SPLIT_RESULT                                         211.44.70.72
SEQUENCE_PARSE     <92,80,30,132,93,132,93,93,93,32,93,32,93,93,9...
Name: 2285, dtype: object
ID                                                              6930
IP_SPLIT_RESULT                                        211.249.40.14
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 2286, dtype: object
ID                           6931
IP_SPLIT_RESULT    112.151.59.122
SEQUENCE_PARSE                <1>
Name: 2287, dtype: object
ID                           6932
IP_SPLIT_RESULT    223.39.130.216
SEQUENCE_PARSE                <1>
Name: 2288, dtype: object
ID                                             6933
IP_SPLIT_RESULT                       223.33.180.14
SEQUENCE_PARSE     <33,164,164,164,164,164,164,164>
Name: 2289, dtype: object
ID                                                              6934
IP_SPLIT_RESULT                                       61.251.194.198
SEQUENCE_PARSE     <29,113,31,113,132,113,31,31,113,31,113,113,11...
Name: 2290, dtype: object
ID                                                              6935
IP_SPLIT_RESULT                                       61.251.194.198
SEQUENCE_PARSE     <132,113,113,31,113,113,113,113,113,113,113,11...
Name: 2291, dtype: object
ID                                                              6936
IP_SPLIT_RESULT                                       61.251.194.198
SEQUENCE_PARSE     <132,113,113,113,31,113,113,113,113,113,31,113...
Name: 2292, dtype: object
ID                                                        6937
IP_SPLIT_RESULT                                 112.151.59.118
SEQUENCE_PARSE     <1,132,93,132,93,93,132,132,93,93,93,93,93>
Name: 2293, dtype: object
ID                                               6938
IP_SPLIT_RESULT                        61.251.194.198
SEQUENCE_PARSE     <31,113,29,113,113,113,113,113,31>
Name: 2294, dtype: object
ID                                                              6939
IP_SPLIT_RESULT                                       61.251.194.198
SEQUENCE_PARSE     <113,113,113,132,113,31,113,113,113,113,113,31...
Name: 2295, dtype: object
ID                                                              6940
IP_SPLIT_RESULT                                       223.62.216.127
SEQUENCE_PARSE     <132,93,93,132,132,93,132,93,93,93,93,93,32,93...
Name: 2296, dtype: object
ID                                           6941
IP_SPLIT_RESULT                    223.39.140.168
SEQUENCE_PARSE     <1,93,93,93,93,93,93,130,63,1>
Name: 2297, dtype: object
ID                           6942
IP_SPLIT_RESULT    223.33.165.246
SEQUENCE_PARSE                <1>
Name: 2298, dtype: object
ID                                             6943
IP_SPLIT_RESULT                      61.251.194.198
SEQUENCE_PARSE     <113,113,113,113,31,113,113,113>
Name: 2299, dtype: object
ID                              6944
IP_SPLIT_RESULT         115.94.35.58
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 2300, dtype: object
ID                           6945
IP_SPLIT_RESULT    150.70.188.167
SEQUENCE_PARSE                <1>
Name: 2301, dtype: object
ID                                                              6946
IP_SPLIT_RESULT                                       117.111.11.250
SEQUENCE_PARSE     <1,160,158,132,132,113,132,113,113,113,113,113...
Name: 2302, dtype: object
ID                          6947
IP_SPLIT_RESULT    61.253.158.33
SEQUENCE_PARSE               <1>
Name: 2303, dtype: object
ID                          6948
IP_SPLIT_RESULT    210.103.46.25
SEQUENCE_PARSE               <1>
Name: 2304, dtype: object
ID                                                      6949
IP_SPLIT_RESULT                                61.253.158.33
SEQUENCE_PARSE     <132,93,132,93,93,93,132,93,132,93,93,93>
Name: 2305, dtype: object
ID                           6950
IP_SPLIT_RESULT    210.126.254.68
SEQUENCE_PARSE                <1>
Name: 2306, dtype: object
ID                           6951
IP_SPLIT_RESULT    219.249.27.229
SEQUENCE_PARSE        <1,132,132>
Name: 2307, dtype: object
ID                                                              6952
IP_SPLIT_RESULT                                       218.238.42.118
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 2308, dtype: object
ID                          6953
IP_SPLIT_RESULT    211.214.251.4
SEQUENCE_PARSE               <1>
Name: 2309, dtype: object
ID                            6954
IP_SPLIT_RESULT    219.240.101.251
SEQUENCE_PARSE             <1,5,1>
Name: 2310, dtype: object
ID                                            6955
IP_SPLIT_RESULT                      14.42.206.192

ID                                                              7022
IP_SPLIT_RESULT                                       223.62.179.134
SEQUENCE_PARSE     <90,1,90,132,87,189,1,132,93,132,32,93,92,132,...
Name: 2378, dtype: object
ID                           7023
IP_SPLIT_RESULT    175.125.124.39
SEQUENCE_PARSE             <1,90>
Name: 2379, dtype: object
ID                                                              7024
IP_SPLIT_RESULT                                           39.7.58.66
SEQUENCE_PARSE     <1,113,113,87,89,201,30,132,93,132,93,132,81,1...
Name: 2380, dtype: object
ID                                                              7025
IP_SPLIT_RESULT                                        223.62.216.86
SEQUENCE_PARSE     <1,132,178,132,132,132,158,160,132,132,93,132,...
Name: 2381, dtype: object
ID                                                              7026
IP_SPLIT_RESULT                                      203.226.208.148
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93,93,93,93,32,93,93,93,...
Name: 2382, dtype: object
ID                          7027
IP_SPLIT_RESULT    117.111.11.80
SEQUENCE_PARSE               <1>
Name: 2383, dtype: object
ID                          7028
IP_SPLIT_RESULT    223.54.31.192
SEQUENCE_PARSE               <1>
Name: 2384, dtype: object
ID                           7029
IP_SPLIT_RESULT    175.125.124.39
SEQUENCE_PARSE               <92>
Name: 2385, dtype: object
ID                                                              7030
IP_SPLIT_RESULT                                       223.62.190.185
SEQUENCE_PARSE     <1,93,132,132,93,93,93,90,87,89,80,30,132,93,1...
Name: 2386, dtype: object
ID                                                              7031
IP_SPLIT_RESULT                                        175.223.30.89
SEQUENCE_PARSE     <132,113,113,132,1,132,132,158,160,132,132,113...
Name: 2387, dtype: object
ID                          7032
IP_SPLIT_RESULT    1.221.202.100
SEQUENCE_PARSE               <1>
Name: 2388, dtype: object
ID                               7033
IP_SPLIT_RESULT        223.62.190.185
SEQUENCE_PARSE     <92,29,113,31,113>
Name: 2389, dtype: object
ID                                                              7034
IP_SPLIT_RESULT                                        223.62.172.11
SEQUENCE_PARSE     <33,164,164,164,90,92,113,31,113,31,113,113,29...
Name: 2390, dtype: object
ID                         7035
IP_SPLIT_RESULT    121.125.0.31
SEQUENCE_PARSE              <1>
Name: 2391, dtype: object
ID                           7036
IP_SPLIT_RESULT    112.187.25.141
SEQUENCE_PARSE                <1>
Name: 2392, dtype: object
ID                                                              7037
IP_SPLIT_RESULT                                         223.62.11.97
SEQUENCE_PARSE     <1,90,93,32,93,93,93,32,93,23,90,1,132,93,132,...
Name: 2393, dtype: object
ID                                                              7038
IP_SPLIT_RESULT                                         1.239.68.207
SEQUENCE_PARSE     <1,32,93,1,132,93,132,1,130,113,132,93,132,113...
Name: 2394, dtype: object
ID                                                              7039
IP_SPLIT_RESULT                                         223.62.11.97
SEQUENCE_PARSE     <92,1,92,87,89,80,30,132,93,132,93,32,93,93,93...
Name: 2395, dtype: object
ID                                                              7040
IP_SPLIT_RESULT                                          218.50.9.91
SEQUENCE_PARSE     <1,5,1,90,92,130,132,93,93,132,93,93,93,93,32,...
Name: 2396, dtype: object
ID                                               7041
IP_SPLIT_RESULT                            39.7.19.80
SEQUENCE_PARSE     <39,164,164,132,132,158,160,164,1>
Name: 2397, dtype: object
ID                                                              7042
IP_SPLIT_RESULT                                      203.237.172.100
SEQUENCE_PARSE     <1,130,132,87,189,132,132,113,113,113,113,31,1...
Name: 2398, dtype: object
ID                                7043
IP_SPLIT_RESULT         211.36.139.145
SEQUENCE_PARSE     <1,130,132,113,132>
Name: 2399, dtype: object
ID                           7044
IP_SPLIT_RESULT    58.237.227.250
SEQUENCE_PARSE                <1>
Name: 2400, dtype: object
ID                                                              7045
IP_SPLIT_RESULT                                        223.39.138.46
SEQUENCE_PARSE     <39,164,132,132,158,160,164,1,113,132,113,132,...
Name: 2401, dtype: object
ID                                                              7046
IP_SPLIT_RESULT                                       223.62.162.151
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,31,113,29,132,11...
Name: 2402, dtype: object
ID                                                              7047
IP_SPLIT_RESULT                                          39.7.47.110
SEQUENCE_PARSE     <1,92,31,113,31,113,1,132,113,132,31,113,113,3...
Name: 2403, dtype: object
ID                        7048
IP_SPLIT_RESULT    39.7.47.110
SEQUENCE_PARSE      <90,92,12>
Name: 2404, dtype: object
ID                            7049
IP_SPLIT_RESULT    211.176.108.201
SEQUENCE_PARSE                 <1>
Name: 2405, dtype: object
ID                           7050
IP_SPLIT_RESULT    203.253.228.32
SEQUENCE_PARSE                <1>
Name: 2406, dtype: object
ID                                   7051
IP_SPLIT_RESULT             223.39.138.46
SEQUENCE_PARSE     <1,63,164,132,132,132>
Name: 2407, dtype: object
ID                                                         7052
IP_SPLIT_RESULT                                   223.62.21.215
SEQUENCE_PARSE     <1,87,89,1,132,93,132,93,93,93,1,132,93,132>
Name: 2408, dtype: object
ID                           7053
IP_SPLIT_RESULT    203.207.24.154
SEQUENCE_PARSE             <1,90>
Name: 2409, dtype: object
ID                        7054
IP_SPLIT_RESULT    39.7.18.159
SEQUENCE_PARSE             <1>
Name: 2410, dtype: object
ID                                                             7055
IP_SPLIT_RESULT                                       211.36.139.78
SEQUENCE_PARSE     <1,130,1,132,113,132,31,113,113,31,113,31,113,1>
Name: 2411, dtype: object
ID                            7056
IP_SPLIT_RESULT    211.228.128.158
SEQUENCE_PARSE                 <1>
Name: 2412, dtype: object
ID                                                              7057
IP_SPLIT_RESULT                                       223.62.162.151
SEQUENCE_PARSE     <1,29,132,113,132,113,113,113,31,113,31,113,31...
Name: 2413, dtype: object
ID                                                              7058
IP_SPLIT_RESULT                                         61.37.123.78
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 2414, dtype: object
ID                          7059
IP_SPLIT_RESULT    211.36.139.78
SEQUENCE_PARSE       <1,130,130>
Name: 2415, dtype: object
ID                            7060
IP_SPLIT_RESULT    112.166.173.205
SEQUENCE_PARSE                 <1>
Name: 2416, dtype: object
ID                                                  7061
IP_SPLIT_RESULT                             61.78.108.67
SEQUENCE_PARSE     <32,93,32,93,132,132,158,160,132,132>
Name: 2417, dtype: object
ID                                                              7062
IP_SPLIT_RESULT                                       117.111.28.214
SEQUENCE_PARSE     <1,113,132,132,113,113,113,113,113,113,113,93,...
Name: 2418, dtype: object
ID                                                              7063
IP_SPLIT_RESULT                                        175.119.102.3
SEQUENCE_PARSE     <1,93,132,132,93,33,164,1,132,93,132,93,1,132,...
Name: 2419, dtype: object
ID                                                              7064
IP_SPLIT_RESULT                                       223.33.180.222
SEQUENCE_PARSE     <1,130,132,113,132,132,158,160,132,174,172,170...
Name: 2420, dtype: object
ID                          7065
IP_SPLIT_RESULT    112.26.236.61
SEQUENCE_PARSE               <1>
Name: 2421, dtype: object
ID                                                         7066
IP_SPLIT_RESULT                                  223.33.180.222
SEQUENCE_PARSE     <93,93,1,132,93,132,93,93,93,93,93,93,87,89>
Name: 2422, dtype: object
ID                           7067
IP_SPLIT_RESULT    222.100.97.163
SEQUENCE_PARSE                <1>
Name: 2423, dtype: object
ID                           7068
IP_SPLIT_RESULT    183.98.143.216
SEQUENCE_PARSE                <1>
Name: 2424, dtype: object
ID                         7069
IP_SPLIT_RESULT    58.122.93.21
SEQUENCE_PARSE              <1>
Name: 2425, dtype: object
ID                                    7610
IP_SPLIT_RESULT              59.16.233.169
SEQUENCE_PARSE     <92,25,90,92,87,89,113>
Name: 2426, dtype: object
ID                                 7611
IP_SPLIT_RESULT          223.57.232.174
SEQUENCE_PARSE     <113,113,31,113,113>
Name: 2427, dtype: object
ID                                                        7612
IP_SPLIT_RESULT                                  118.131.69.50
SEQUENCE_PARSE     <93,32,93,32,93,32,93,32,93,32,93,93,93,93>
Name: 2428, dtype: object
ID                                                              7613
IP_SPLIT_RESULT                                        223.33.178.71
SEQUENCE_PARSE     <93,93,93,93,32,93,32,93,32,93,32,93,1,132,93,...
Name: 2429, dtype: object
ID                           7614
IP_SPLIT_RESULT    223.62.163.249
SEQUENCE_PARSE       <39,164,164>
Name: 2430, dtype: object
ID                                                              7615
IP_SPLIT_RESULT                                       211.36.141.199
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,32,93,32,93,1,1...
Name: 2431, dtype: object
ID                            7623
IP_SPLIT_RESULT    172.104.108.109
SEQUENCE_PARSE                 <1>
Name: 2432, dtype: object
ID                         7628
IP_SPLIT_RESULT    117.111.3.33
SEQUENCE_PARSE              <1>
Name: 2433, dtype: object
ID                                                              7629
IP_SPLIT_RESULT                                         14.38.146.38
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 2434, dtype: object
ID                           7630
IP_SPLIT_RESULT    211.36.156.126
SEQUENCE_PARSE                <1>
Name: 2435, dtype: object
ID                                                              7631
IP_SPLIT_RESULT                                       223.62.212.170
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,32,93,32,93,32,93...
Name: 2436, dtype: object
ID                                                              7632
IP_SPLIT_RESULT                                        59.16.233.169
SEQUENCE_PARSE     <80,29,132,113,132,113,132,132,113,132,113,113...
Name: 2437, dtype: object
ID                            7633
IP_SPLIT_RESULT    125.209.235.183
SEQUENCE_PARSE             <1,5,1>
Name: 2438, dtype: object
ID                           7634
IP_SPLIT_RESULT    117.52.141.195
SEQUENCE_PARSE     <1,5,1,5,1,32>
Name: 2439, dtype: object
ID                                              7635
IP_SPLIT_RESULT                        115.23.76.180
SEQUENCE_PARSE     <8,93,93,132,113,132,113,113,113>
Name: 2440, dtype: object
ID                          7636
IP_SPLIT_RESULT    175.214.88.10
SEQUENCE_PARSE               <1>
Name: 2441, dtype: object
ID                         7637
IP_SPLIT_RESULT    222.101.9.93
SEQUENCE_PARSE          <1,5,1>
Name: 2442, dtype: object
ID                              7638
IP_SPLIT_RESULT        175.223.19.20
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 2443, dtype: object
ID                       7639
IP_SPLIT_RESULT    39.7.53.19
SEQUENCE_PARSE            <1>
Name: 2444, dtype: object
ID                                   7640
IP_SPLIT_RESULT                39.7.19.37
SEQUENCE_PARSE     <1,132,113,132,31,113>
Name: 2445, dtype: object
ID                                 7641
IP_SPLIT_RESULT             218.50.9.91
SEQUENCE_PARSE     <1,132,93,93,132,93>
Name: 2446, dtype: object
ID                            7642
IP_SPLIT_RESULT    221.167.223.195
SEQUENCE_PARSE             <1,5,1>
Name: 2447, dtype: object
ID                          7643
IP_SPLIT_RESULT    122.47.16.130
SEQUENCE_PARSE         <1,90,92>
Name: 2448, dtype: object
ID                                       7644
IP_SPLIT_RESULT                175.223.36.113
SEQUENCE_PARSE     <1,132,113,113,132,31,113>
Name: 2449, dtype: object
ID                           7645
IP_SPLIT_RESULT    124.58.178.210
SEQUENCE_PARSE                <1>
Name: 2450, dtype: object
ID                                                              7646
IP_SPLIT_RESULT                                       223.62.212.202
SEQUENCE_PARSE     <1,31,113,113,113,31,113,113,31,113,113,132,11...
Name: 2451, dtype: object
ID                                                              7647
IP_SPLIT_RESULT                                       211.178.212.84
SEQUENCE_PARSE     <1,132,113,132,113,31,113,113,113,113,113,113,...
Name: 2452, dtype: object
ID                                                              7648
IP_SPLIT_RESULT                                        180.64.195.79
SEQUENCE_PARSE     <1,63,93,93,93,93,93,32,93,93,132,93,132,93,93...
Name: 2453, dtype: object
ID                                                              7649
IP_SPLIT_RESULT                                       211.36.135.181
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,93,93,132,113,1,9...
Name: 2454, dtype: object
ID                                                              7650
IP_SPLIT_RESULT                                        180.64.195.79
SEQUENCE_PARSE     <132,132,158,160,132,132,132,93,32,93,32,93,1,...
Name: 2455, dtype: object
ID                                              7651
IP_SPLIT_RESULT                       223.53.194.149
SEQUENCE_PARSE     <1,93,93,93,93,93,93,1,93,93,130>
Name: 2456, dtype: object
ID                           7652
IP_SPLIT_RESULT    223.39.140.245
SEQUENCE_PARSE                <1>
Name: 2457, dtype: object
ID                                      7653
IP_SPLIT_RESULT               121.158.235.29
SEQUENCE_PARSE     <1,5,1,132,93,132,132,93>
Name: 2458, dtype: object
ID                           7654
IP_SPLIT_RESULT    223.53.194.149
SEQUENCE_PARSE        <130,93,93>
Name: 2459, dtype: object
ID                                             7655
IP_SPLIT_RESULT                       223.62.216.11
SEQUENCE_PARSE     <1,93,93,1,93,93,212,14,93,93,1>
Name: 2460, dtype: object
ID                                         7656
IP_SPLIT_RESULT                   223.62.216.11
SEQUENCE_PARSE     <130,130,130,31,113,132,113>
Name: 2461, dtype: object
ID                            7657
IP_SPLIT_RESULT     117.52.141.210
SEQUENCE_PARSE     <1,5,1,5,1,5,1>
Name: 2462, dtype: object
ID                                                7658
IP_SPLIT_RESULT                           61.42.197.26
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,93,93>
Name: 2463, dtype: object
ID                           7659
IP_SPLIT_RESULT    118.221.225.41
SEQUENCE_PARSE                <1>
Name: 2464, dtype: object
ID                                                              7660
IP_SPLIT_RESULT                                      121.148.161.125
SEQUENCE_PARSE     <1,90,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 2465, dtype: object
ID                                                              7661
IP_SPLIT_RESULT                                       211.36.141.242
SEQUENCE_PARSE     <1,132,132,90,92,87,132,93,132,93,1,132,132,13...
Name: 2466, dtype: object
ID                         7662
IP_SPLIT_RESULT    117.111.2.97
SEQUENCE_PARSE         <33,164>
Name: 2467, dtype: object
ID                                         7663
IP_SPLIT_RESULT                 121.148.161.125
SEQUENCE_PARSE     <92,132,132,93,132,93,132,1>
Name: 2468, dtype: object
ID                                        7664
IP_SPLIT_RESULT                   223.62.11.43
SEQUENCE_PARSE     <1,132,113,132,113,113,113>
Name: 2469, dtype: object
ID                         7665
IP_SPLIT_RESULT    61.42.197.26
SEQUENCE_PARSE          <1,5,1>
Name: 2470, dtype: object
ID                                                              7666
IP_SPLIT_RESULT                                           39.7.19.41
SEQUENCE_PARSE     <1,132,93,132,93,93,93,130,130,63,1,132,93,132...
Name: 2471, dtype: object
ID                          7667
IP_SPLIT_RESULT    223.55.109.69
SEQUENCE_PARSE           <1,5,1>
Name: 2472, dtype: object
ID                                                        7668
IP_SPLIT_RESULT                                  223.38.11.122
SEQUENCE_PARSE     <39,39,1,132,93,132,93,93,132,132,93,93,93>
Name: 2473, dtype: object
ID                                                              7669
IP_SPLIT_RESULT                                        223.62.222.96
SEQUENCE_PARSE     <70,132,132,93,1,132,132,158,160,164,1,132,132...
Name: 2474, dtype: object
ID                                                              7670
IP_SPLIT_RESULT                                           39.7.19.41
SEQUENCE_PARSE     <92,201,30,93,93,93,93,93,93,32,32,93,93,93,93...
Name: 2475, dtype: object
ID                          7671
IP_SPLIT_RESULT    110.70.59.147
SEQUENCE_PARSE               <1>
Name: 2476, dtype: object
ID                                                              7672
IP_SPLIT_RESULT                                        110.70.26.151
SEQUENCE_PARSE     <1,132,113,132,31,113,1,132,113,132,31,113,31,...
Name: 2477, dtype: object
ID                                                              7673
IP_SPLIT_RESULT                                       211.36.141.199
SEQUENCE_PARSE     <32,32,93,93,93,32,93,93,93,32,93,32,93,32,93,...
Name: 2478, dtype: object
ID                                                              7674
IP_SPLIT_RESULT                                        110.70.47.241
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,32,113,32,3...
Name: 2479, dtype: object
ID                                               7675
IP_SPLIT_RESULT                          223.38.11.27
SEQUENCE_PARSE     <39,164,1,63,132,39,164,130,164,1>
Name: 2480, dtype: object
ID                                           7676
IP_SPLIT_RESULT                    121.158.235.29
SEQUENCE_PARSE     <93,93,93,93,90,1,5,1,132,191>
Name: 2481, dtype: object
ID                                       7677
IP_SPLIT_RESULT               121.188.102.109
SEQUENCE_PARSE     <39,164,63,39,164,130,164>
Name: 2482, dtype: object
ID                                                              7678
IP_SPLIT_RESULT                                        58.122.17.124
SEQUENCE_PARSE     <1,5,1,132,93,132,93,93,93,93,93,90,92,87,90,9...
Name: 2483, dtype: object
ID                           7679
IP_SPLIT_RESULT    216.218.206.66
SEQUENCE_PARSE                <1>
Name: 2484, dtype: object
ID                                           7680
IP_SPLIT_RESULT                     119.67.147.67
SEQUENCE_PARSE     <33,164,130,164,33,164,33,164>
Name: 2485, dtype: object
ID                                                 7681
IP_SPLIT_RESULT                         121.188.102.109
SEQUENCE_PARSE     <89,195,132,132,158,160,132,132,164>
Name: 2486, dtype: object
ID                           7682
IP_SPLIT_RESULT    125.191.90.238
SEQUENCE_PARSE        <1,5,1,132>
Name: 2487, dtype: object
ID                                                              7683
IP_SPLIT_RESULT                                       211.36.158.119
SEQUENCE_PARSE     <1,92,87,113,113,63,63,132,93,132,93,132,113,1...
Name: 2488, dtype: object
ID                                                              7684
IP_SPLIT_RESULT                                       211.36.158.119
SEQUENCE_PARSE     <63,132,92,132,92,89,200,29,132,113,132,113,11...
Name: 2489, dtype: object

ID                            7803
IP_SPLIT_RESULT    125.209.251.213
SEQUENCE_PARSE                 <1>
Name: 2608, dtype: object
ID                          7804
IP_SPLIT_RESULT    203.243.20.68
SEQUENCE_PARSE               <1>
Name: 2609, dtype: object
ID                          7805
IP_SPLIT_RESULT    112.165.39.64
SEQUENCE_PARSE               <1>
Name: 2610, dtype: object
ID                          7806
IP_SPLIT_RESULT    59.28.102.206
SEQUENCE_PARSE               <1>
Name: 2611, dtype: object
ID                                       7807
IP_SPLIT_RESULT                49.169.105.197
SEQUENCE_PARSE     <1,132,93,132,93,93,93,90>
Name: 2612, dtype: object
ID                                                              7808
IP_SPLIT_RESULT                                        222.235.78.51
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,93,132,93,132,93,13...
Name: 2613, dtype: object
ID                           7809
IP_SPLIT_RESULT    49.169.105.197
SEQUENCE_PARSE               <92>
Name: 2614, dtype: object
ID                          7810
IP_SPLIT_RESULT    1.243.199.231
SEQUENCE_PARSE               <1>
Name: 2615, dtype: object
ID                          7811
IP_SPLIT_RESULT    222.235.78.51
SEQUENCE_PARSE           <93,93>
Name: 2616, dtype: object
ID                           7812
IP_SPLIT_RESULT    182.225.244.17
SEQUENCE_PARSE                <1>
Name: 2617, dtype: object
ID                         7813
IP_SPLIT_RESULT    211.243.9.61
SEQUENCE_PARSE              <1>
Name: 2618, dtype: object
ID                           7814
IP_SPLIT_RESULT    223.39.139.242
SEQUENCE_PARSE             <1,90>
Name: 2619, dtype: object
ID                          7815
IP_SPLIT_RESULT    106.102.0.226
SEQUENCE_PARSE               <1>
Name: 2620, dtype: object
ID                                                              7816
IP_SPLIT_RESULT                                        223.62.10.233
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,132,93,132,1,5,1,...
Name: 2621, dtype: object
ID                         7817
IP_SPLIT_RESULT    1.231.192.39
SEQUENCE_PARSE              <1>
Name: 2622, dtype: object
ID                           7818
IP_SPLIT_RESULT    182.225.244.17
SEQUENCE_PARSE          <1,90,92>
Name: 2623, dtype: object
ID                                                              7819
IP_SPLIT_RESULT                                       223.39.139.242
SEQUENCE_PARSE     <92,132,93,132,93,93,93,93,93,93,93,93,93,33,1...
Name: 2624, dtype: object
ID                                     7820
IP_SPLIT_RESULT               223.62.10.233
SEQUENCE_PARSE     <93,164,132,132,158,160>
Name: 2625, dtype: object
ID                                                              7821
IP_SPLIT_RESULT                                         59.16.183.80
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,1,29,...
Name: 2626, dtype: object
ID                                   7822
IP_SPLIT_RESULT              223.38.11.27
SEQUENCE_PARSE     <39,164,63,89,195,5,1>
Name: 2627, dtype: object
ID                                                              7823
IP_SPLIT_RESULT                                      121.124.223.165
SEQUENCE_PARSE     <30,93,93,93,93,93,93,93,93,93,93,93,93,30,132...
Name: 2628, dtype: object
ID                            7824
IP_SPLIT_RESULT    121.124.223.165
SEQUENCE_PARSE           <132,132>
Name: 2629, dtype: object
ID                                7825
IP_SPLIT_RESULT          163.172.4.153
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1>
Name: 2630, dtype: object
ID                           7826
IP_SPLIT_RESULT    211.222.231.59
SEQUENCE_PARSE                <1>
Name: 2631, dtype: object
ID                                                              7827
IP_SPLIT_RESULT                                        58.225.99.207
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,63,1,63,92,80,26,26,63,...
Name: 2632, dtype: object
ID                                                              7828
IP_SPLIT_RESULT                                        223.62.10.249
SEQUENCE_PARSE     <1,132,93,132,93,87,132,132,93,93,93,93,32,93,...
Name: 2633, dtype: object
ID                           7829
IP_SPLIT_RESULT    101.235.72.127
SEQUENCE_PARSE                <1>
Name: 2634, dtype: object
ID                                                            7830
IP_SPLIT_RESULT                                      163.152.3.162
SEQUENCE_PARSE     <1,132,81,132,113,132,31,113,113,31,113,132,81>
Name: 2635, dtype: object
ID                           7831
IP_SPLIT_RESULT    220.124.181.93
SEQUENCE_PARSE                <1>
Name: 2636, dtype: object
ID                           7832
IP_SPLIT_RESULT    101.235.72.127
SEQUENCE_PARSE               <90>
Name: 2637, dtype: object
ID                                                              7833
IP_SPLIT_RESULT                                         118.38.28.54
SEQUENCE_PARSE     <1,132,113,113,132,113,113,31,113,31,113,31,11...
Name: 2638, dtype: object
ID                           7834
IP_SPLIT_RESULT    121.141.61.148
SEQUENCE_PARSE            <1,5,1>
Name: 2639, dtype: object
ID                                                              7835
IP_SPLIT_RESULT                                       180.92.105.106
SEQUENCE_PARSE     <1,5,1,130,130,130,90,92,89,80,26,113,132,113,...
Name: 2640, dtype: object
ID                                                              7836
IP_SPLIT_RESULT                                        211.36.147.85
SEQUENCE_PARSE     <33,164,132,93,132,1,93,93,93,93,32,93,93,93,3...
Name: 2641, dtype: object
ID                         7837
IP_SPLIT_RESULT    59.25.231.17
SEQUENCE_PARSE          <1,5,1>
Name: 2642, dtype: object
ID                                                              7838
IP_SPLIT_RESULT                                          61.84.172.4
SEQUENCE_PARSE     <1,5,1,132,93,132,93,132,113,132,113,1,5,1,5,1...
Name: 2643, dtype: object
ID                            7839
IP_SPLIT_RESULT    125.128.136.199
SEQUENCE_PARSE                 <1>
Name: 2644, dtype: object
ID                          7840
IP_SPLIT_RESULT    115.138.30.29
SEQUENCE_PARSE               <1>
Name: 2645, dtype: object
ID                                                              7841
IP_SPLIT_RESULT                                          61.84.172.4
SEQUENCE_PARSE     <1,5,1,5,1,130,132,113,132,113,113,113,113,113...
Name: 2646, dtype: object
ID                                                              7842
IP_SPLIT_RESULT                                        58.123.23.107
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,32,93,93,93...
Name: 2647, dtype: object
ID                                                              7843
IP_SPLIT_RESULT                                      121.184.155.246
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,132,9...
Name: 2648, dtype: object
ID                        7844
IP_SPLIT_RESULT    117.111.5.9
SEQUENCE_PARSE          <1,90>
Name: 2649, dtype: object
ID                         7845
IP_SPLIT_RESULT    123.215.1.97
SEQUENCE_PARSE              <1>
Name: 2650, dtype: object
ID                           7846
IP_SPLIT_RESULT    166.137.244.30
SEQUENCE_PARSE                <1>
Name: 2651, dtype: object
ID                           7847
IP_SPLIT_RESULT    223.33.164.162
SEQUENCE_PARSE                <1>
Name: 2652, dtype: object
ID                                                              7848
IP_SPLIT_RESULT                                         58.231.7.244
SEQUENCE_PARSE     <1,130,113,87,113,113,1,178,132,180,132,132,93...
Name: 2653, dtype: object
ID                        7849
IP_SPLIT_RESULT    117.111.5.9
SEQUENCE_PARSE            <92>
Name: 2654, dtype: object
ID                          7850
IP_SPLIT_RESULT    39.121.50.150
SEQUENCE_PARSE               <1>
Name: 2655, dtype: object
ID                                            7851
IP_SPLIT_RESULT                        39.7.58.244
SEQUENCE_PARSE     <1,93,93,93,93,130,93,93,93,93>
Name: 2656, dtype: object
ID                                                              7852
IP_SPLIT_RESULT                                       180.92.105.106
SEQUENCE_PARSE     <87,93,132,93,132,32,93,93,93,113,132,113,132,...
Name: 2657, dtype: object
ID                         7853
IP_SPLIT_RESULT    49.167.89.41
SEQUENCE_PARSE              <1>
Name: 2658, dtype: object
ID                            7854
IP_SPLIT_RESULT    180.233.209.247
SEQUENCE_PARSE                 <1>
Name: 2659, dtype: object
ID                                                              7855
IP_SPLIT_RESULT                                        58.123.23.107
SEQUENCE_PARSE     <93,93,132,93,93,132,93,93,93,93,93,93,32,93,1...
Name: 2660, dtype: object
ID                                            7856
IP_SPLIT_RESULT                        39.7.58.244
SEQUENCE_PARSE     <1,132,93,132,93,132,93,93,132>
Name: 2661, dtype: object
ID                                          7857
IP_SPLIT_RESULT                    175.223.3.220
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 2662, dtype: object
ID                           7858
IP_SPLIT_RESULT    112.152.14.103
SEQUENCE_PARSE          <1,90,92>
Name: 2663, dtype: object
ID                          7859
IP_SPLIT_RESULT    1.249.178.141
SEQUENCE_PARSE               <1>
Name: 2664, dtype: object
ID                                          7860
IP_SPLIT_RESULT                    122.34.88.205
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 2665, dtype: object
ID                                                              7861
IP_SPLIT_RESULT                                        112.151.1.125
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,93,93,93,113,113,...
Name: 2666, dtype: object
ID                                                              7865
IP_SPLIT_RESULT                                        112.151.1.125
SEQUENCE_PARSE     <132,132,132,132,1,130,132,113,132,113,113,113...
Name: 2667, dtype: object
ID                                                              7866
IP_SPLIT_RESULT                                         110.70.58.30
SEQUENCE_PARSE     <1,93,132,132,90,92,87,80,22,33,164,130,164,93...
Name: 2668, dtype: object
ID                          7867
IP_SPLIT_RESULT    117.111.27.15
SEQUENCE_PARSE               <1>
Name: 2669, dtype: object
ID                                                              7868
IP_SPLIT_RESULT                                       175.209.214.65
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 2670, dtype: object
ID                          7869
IP_SPLIT_RESULT    116.121.50.78
SEQUENCE_PARSE               <1>
Name: 2671, dtype: object
ID                          7870
IP_SPLIT_RESULT    175.223.37.53
SEQUENCE_PARSE               <1>
Name: 2672, dtype: object
ID                                                              7871
IP_SPLIT_RESULT                                       175.209.214.65
SEQUENCE_PARSE     <132,93,132,90,92,87,89,80,30,132,93,132,93,32...
Name: 2673, dtype: object
ID                                                              7872
IP_SPLIT_RESULT                                       211.223.45.102
SEQUENCE_PARSE     <1,130,132,113,132,113,113,113,113,113,31,113,...
Name: 2674, dtype: object
ID                          7873
IP_SPLIT_RESULT    211.185.42.88
SEQUENCE_PARSE               <1>
Name: 2675, dtype: object
ID                                                              7874
IP_SPLIT_RESULT                                       117.16.237.191
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,39,164,63,164,63,132,113,13...
Name: 2676, dtype: object
ID                                                              7875
IP_SPLIT_RESULT                                       117.16.237.191
SEQUENCE_PARSE     <1,63,1,113,113,132,132,113,113,113,113,164,13...
Name: 2677, dtype: object
ID                            7876
IP_SPLIT_RESULT     211.223.45.102
SEQUENCE_PARSE     <132,93,132,93>
Name: 2678, dtype: object
ID                                                              7877
IP_SPLIT_RESULT                                        27.115.200.30
SEQUENCE_PARSE     <39,164,130,164,164,132,93,132,31,113,31,113,1...
Name: 2679, dtype: object
ID                           7878
IP_SPLIT_RESULT    211.107.42.223
SEQUENCE_PARSE                <1>
Name: 2680, dtype: object
ID                           7879
IP_SPLIT_RESULT    182.231.172.39
SEQUENCE_PARSE                <1>
Name: 2681, dtype: object
ID                         7880
IP_SPLIT_RESULT    118.35.55.11
SEQUENCE_PARSE              <1>
Name: 2682, dtype: object
ID                                                              7881
IP_SPLIT_RESULT                                       49.171.151.213
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,31,11...
Name: 2683, dtype: object
ID                                                              7882
IP_SPLIT_RESULT                                      116.127.186.139
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,87,89,80,30,132,9...
Name: 2684, dtype: object
ID                                                              7883
IP_SPLIT_RESULT                                        27.115.200.30
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,113,1...
Name: 2685, dtype: object
ID                          7884
IP_SPLIT_RESULT    117.53.247.48
SEQUENCE_PARSE               <1>
Name: 2686, dtype: object
ID                                                             7885
IP_SPLIT_RESULT                                     116.127.186.139
SEQUENCE_PARSE     <90,92,93,32,93,32,93,33,164,132,132,158,160,93>
Name: 2687, dtype: object
ID                            7886
IP_SPLIT_RESULT    123.212.146.190
SEQUENCE_PARSE                 <1>
Name: 2688, dtype: object
ID                         7887
IP_SPLIT_RESULT    110.70.15.38
SEQUENCE_PARSE              <1>
Name: 2689, dtype: object
ID                            7888
IP_SPLIT_RESULT    112.170.179.180
SEQUENCE_PARSE                 <1>
Name: 2690, dtype: object
ID                            7889
IP_SPLIT_RESULT    104.237.134.155
SEQUENCE_PARSE                 <1>
Name: 2691, dtype: object
ID                                             7890
IP_SPLIT_RESULT                        117.111.2.66
SEQUENCE_PARSE     <1,132,93,132,93,93,93,32,93,93>
Name: 2692, dtype: object
ID                                           7891
IP_SPLIT_RESULT                    223.62.213.233
SEQUENCE_PARSE     <1,130,130,1,90,92,87,89,27,1>
Name: 2693, dtype: object
ID                           7892
IP_SPLIT_RESULT    175.223.35.180
SEQUENCE_PARSE                <1>
Name: 2694, dtype: object
ID                           7893
IP_SPLIT_RESULT    223.33.178.140
SEQUENCE_PARSE                <1>
Name: 2695, dtype: object
ID                          7894
IP_SPLIT_RESULT    1.224.126.211
SEQUENCE_PARSE               <1>
Name: 2696, dtype: object
ID                                                              7895
IP_SPLIT_RESULT                                         117.111.2.66
SEQUENCE_PARSE     <93,93,32,93,32,93,32,93,32,93,32,93,132,93,93...
Name: 2697, dtype: object
ID                            7896
IP_SPLIT_RESULT    125.134.120.199
SEQUENCE_PARSE            <39,164>
Name: 2698, dtype: object
ID                         7897
IP_SPLIT_RESULT    119.70.50.67
SEQUENCE_PARSE              <1>
Name: 2699, dtype: object
ID                                                              7898
IP_SPLIT_RESULT                                          61.98.49.71
SEQUENCE_PARSE     <1,132,93,132,93,93,93,90,32,32,32,93,93,32,32...
Name: 2700, dtype: object
ID                          7899
IP_SPLIT_RESULT    175.116.32.86
SEQUENCE_PARSE               <1>
Name: 2701, dtype: object
ID                          7900
IP_SPLIT_RESULT    175.116.32.86
SEQUENCE_PARSE               <1>
Name: 2702, dtype: object
ID                                                              7901
IP_SPLIT_RESULT                                         14.48.152.19
SEQUENCE_PARSE     <1,63,89,195,113,132,113,132,113,113,113,113,3...
Name: 2703, dtype: object
ID                                                              7902
IP_SPLIT_RESULT                                          61.98.49.71
SEQUENCE_PARSE     <92,87,89,80,30,132,93,132,93,93,93,32,93,32,3...
Name: 2704, dtype: object
ID                                                              7903
IP_SPLIT_RESULT                                       222.237.225.53
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 2705, dtype: object
ID                        7904
IP_SPLIT_RESULT    1.238.89.86
SEQUENCE_PARSE          <1,90>
Name: 2706, dtype: object
ID                                                              7905
IP_SPLIT_RESULT                                       223.39.138.204
SEQUENCE_PARSE     <1,90,92,89,1,93,93,90,132,31,113,164,1,113,13...
Name: 2707, dtype: object
ID                          7906
IP_SPLIT_RESULT    223.62.222.16
SEQUENCE_PARSE               <1>
Name: 2708, dtype: object
ID                                                              7907
IP_SPLIT_RESULT                                       223.39.138.204
SEQUENCE_PARSE     <132,93,132,93,92,87,80,29,113,132,113,132,132...
Name: 2709, dtype: object
ID                                                              7908
IP_SPLIT_RESULT                                       222.237.225.53
SEQUENCE_PARSE     <132,132,132,132,132,132,1,130,132,81,132,132,...
Name: 2710, dtype: object
ID                                                              7909
IP_SPLIT_RESULT                                         14.48.152.19
SEQUENCE_PARSE     <132,93,132,132,132,132,93,93,132,132,93,132,9...
Name: 2711, dtype: object
ID                         7910
IP_SPLIT_RESULT    61.72.40.100
SEQUENCE_PARSE              <1>
Name: 2712, dtype: object
ID                                                              7911
IP_SPLIT_RESULT                                        117.111.1.247
SEQUENCE_PARSE     <113,1,90,1,132,113,132,113,31,113,31,113,113,...
Name: 2713, dtype: object
ID                            7912
IP_SPLIT_RESULT    211.200.100.171
SEQUENCE_PARSE                 <1>
Name: 2714, dtype: object
ID                          7913
IP_SPLIT_RESULT    49.172.72.117
SEQUENCE_PARSE               <1>
Name: 2715, dtype: object
ID                                                              7914
IP_SPLIT_RESULT                                       58.123.233.155
SEQUENCE_PARSE     <29,132,113,132,113,31,113,31,113,113,113,31,1...
Name: 2716, dtype: object
ID                                                              7915
IP_SPLIT_RESULT                                       58.236.151.120
SEQUENCE_PARSE     <1,191,130,130,130,191,191,130,132,132,93,93,9...
Name: 2717, dtype: object
ID                                                             7916
IP_SPLIT_RESULT                                      182.228.10.147
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,90,93,93,132,132,93,1>
Name: 2718, dtype: object
ID                           7917
IP_SPLIT_RESULT    210.123.254.80
SEQUENCE_PARSE            <1,5,1>
Name: 2719, dtype: object
ID                                                              7918
IP_SPLIT_RESULT                                        110.35.136.26
SEQUENCE_PARSE     <1,63,132,113,132,113,31,113,31,113,113,113,11...
Name: 2720, dtype: object
ID                          7919
IP_SPLIT_RESULT    180.71.180.36
SEQUENCE_PARSE               <1>
Name: 2721, dtype: object
ID                                                              7920
IP_SPLIT_RESULT                                       182.228.10.147
SEQUENCE_PARSE     <63,89,198,132,93,132,93,93,93,32,93,32,93,32,...
Name: 2722, dtype: object
ID                                                              7921
IP_SPLIT_RESULT                                        202.31.255.11

ID                                                              9135
IP_SPLIT_RESULT                                        223.62.11.125
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 2884, dtype: object
ID                          9136
IP_SPLIT_RESULT    14.48.168.206
SEQUENCE_PARSE               <1>
Name: 2885, dtype: object
ID                      9137
IP_SPLIT_RESULT    59.7.50.2
SEQUENCE_PARSE           <1>
Name: 2886, dtype: object
ID                                                              9138
IP_SPLIT_RESULT                                       211.187.44.163
SEQUENCE_PARSE     <1,132,93,132,93,93,93,1,132,93,132,1,132,93,1...
Name: 2887, dtype: object
ID                           9139
IP_SPLIT_RESULT    121.170.121.55
SEQUENCE_PARSE                <1>
Name: 2888, dtype: object
ID                                                              9140
IP_SPLIT_RESULT                                        39.121.109.12
SEQUENCE_PARSE     <1,90,87,89,91,26,25,130,132,113,132,113,113,1...
Name: 2889, dtype: object
ID                                                              9141
IP_SPLIT_RESULT                                       223.62.172.229
SEQUENCE_PARSE     <113,113,1,130,130,1,191,191,130,132,132,132,1...
Name: 2890, dtype: object
ID                            9142
IP_SPLIT_RESULT      203.250.45.83
SEQUENCE_PARSE     <1,5,1,5,1,5,1>
Name: 2891, dtype: object
ID                            9143
IP_SPLIT_RESULT    183.108.224.128
SEQUENCE_PARSE                 <1>
Name: 2892, dtype: object
ID                                      9144
IP_SPLIT_RESULT              182.230.101.208
SEQUENCE_PARSE     <1,5,1,5,1,132,1,5,1,132>
Name: 2893, dtype: object
ID                          9145
IP_SPLIT_RESULT    121.191.51.73
SEQUENCE_PARSE               <1>
Name: 2894, dtype: object
ID                          9146
IP_SPLIT_RESULT    58.124.135.99
SEQUENCE_PARSE               <1>
Name: 2895, dtype: object
ID                          9147
IP_SPLIT_RESULT    39.121.109.12
SEQUENCE_PARSE              <92>
Name: 2896, dtype: object
ID                            9148
IP_SPLIT_RESULT    211.245.156.130
SEQUENCE_PARSE             <1,5,1>
Name: 2897, dtype: object
ID                          9149
IP_SPLIT_RESULT    39.120.23.149
SEQUENCE_PARSE               <1>
Name: 2898, dtype: object
ID                           9150
IP_SPLIT_RESULT    221.141.141.68
SEQUENCE_PARSE                <1>
Name: 2899, dtype: object
ID                           9151
IP_SPLIT_RESULT    183.96.135.222
SEQUENCE_PARSE                <1>
Name: 2900, dtype: object
ID                                                              9152
IP_SPLIT_RESULT                                       211.36.156.114
SEQUENCE_PARSE     <29,132,113,132,113,29,132,113,132,113,31,113,...
Name: 2901, dtype: object
ID                                                    9153
IP_SPLIT_RESULT                              223.62.21.177
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,1,46,1,90>
Name: 2902, dtype: object
ID                                                              9154
IP_SPLIT_RESULT                                       114.202.115.44
SEQUENCE_PARSE     <29,132,113,132,113,1,113,132,132,113,1,132,93...
Name: 2903, dtype: object
ID                                            9155
IP_SPLIT_RESULT                     223.33.153.146
SEQUENCE_PARSE     <1,90,92,1,132,93,132,93,93,93>
Name: 2904, dtype: object
ID                                                              9156
IP_SPLIT_RESULT                                       211.36.139.199
SEQUENCE_PARSE     <29,132,132,113,132,113,31,113,31,113,113,113,...
Name: 2905, dtype: object
ID                            9157
IP_SPLIT_RESULT    182.226.249.168
SEQUENCE_PARSE                 <1>
Name: 2906, dtype: object
ID                          9158
IP_SPLIT_RESULT    117.111.28.76
SEQUENCE_PARSE               <8>
Name: 2907, dtype: object
ID                          9159
IP_SPLIT_RESULT    119.56.241.98
SEQUENCE_PARSE               <1>
Name: 2908, dtype: object
ID                           9160
IP_SPLIT_RESULT    211.36.133.168
SEQUENCE_PARSE                <1>
Name: 2909, dtype: object
ID                            9161
IP_SPLIT_RESULT    115.143.211.137
SEQUENCE_PARSE                 <1>
Name: 2910, dtype: object
ID                              9162
IP_SPLIT_RESULT       211.36.147.241
SEQUENCE_PARSE     <1,31,113,31,113>
Name: 2911, dtype: object
ID                                            9163
IP_SPLIT_RESULT                     211.36.147.241
SEQUENCE_PARSE     <132,113,113,132,31,113,31,113>
Name: 2912, dtype: object
ID                         9164
IP_SPLIT_RESULT    1.221.43.212
SEQUENCE_PARSE          <1,5,1>
Name: 2913, dtype: object
ID                         9165
IP_SPLIT_RESULT    82.221.105.6
SEQUENCE_PARSE              <1>
Name: 2914, dtype: object
ID                                    9166
IP_SPLIT_RESULT             125.134.91.184
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 2915, dtype: object
ID                          9167
IP_SPLIT_RESULT    1.221.213.237
SEQUENCE_PARSE               <1>
Name: 2916, dtype: object
ID                                    9168
IP_SPLIT_RESULT               1.210.233.67
SEQUENCE_PARSE     <113,31,113,113,31,113>
Name: 2917, dtype: object
ID                           9169
IP_SPLIT_RESULT    218.238.103.27
SEQUENCE_PARSE                <1>
Name: 2918, dtype: object
ID                            9170
IP_SPLIT_RESULT       76.171.77.13
SEQUENCE_PARSE     <1,5,1,5,1,5,1>
Name: 2919, dtype: object
ID                            9171
IP_SPLIT_RESULT    210.180.192.226
SEQUENCE_PARSE             <1,5,1>
Name: 2920, dtype: object
ID                               9172
IP_SPLIT_RESULT        175.223.44.205
SEQUENCE_PARSE     <33,164,164,130,1>
Name: 2921, dtype: object
ID                                                              9173
IP_SPLIT_RESULT                                         110.70.52.39
SEQUENCE_PARSE     <1,93,132,132,93,90,92,89,80,30,132,93,132,93,...
Name: 2922, dtype: object
ID                          9174
IP_SPLIT_RESULT    122.47.16.130
SEQUENCE_PARSE         <1,90,92>
Name: 2923, dtype: object
ID                            9175
IP_SPLIT_RESULT    112.152.168.216
SEQUENCE_PARSE                 <1>
Name: 2924, dtype: object
ID                                           9176
IP_SPLIT_RESULT                    211.36.139.199
SEQUENCE_PARSE     <162,113,31,113,1,113,132,132>
Name: 2925, dtype: object
ID                            9177
IP_SPLIT_RESULT    182.215.241.252
SEQUENCE_PARSE                 <1>
Name: 2926, dtype: object
ID                                            9178
IP_SPLIT_RESULT                      124.58.239.84
SEQUENCE_PARSE     <1,93,132,132,93,132,132,93,45>
Name: 2927, dtype: object
ID                            9179
IP_SPLIT_RESULT    112.153.184.178
SEQUENCE_PARSE                 <1>
Name: 2928, dtype: object
ID                          9180
IP_SPLIT_RESULT    138.197.69.45
SEQUENCE_PARSE               <1>
Name: 2929, dtype: object
ID                         9181
IP_SPLIT_RESULT    1.252.66.192
SEQUENCE_PARSE              <1>
Name: 2930, dtype: object
ID                           9182
IP_SPLIT_RESULT    141.212.122.96
SEQUENCE_PARSE                <1>
Name: 2931, dtype: object
ID                                        9183
IP_SPLIT_RESULT                182.215.241.252
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93>
Name: 2932, dtype: object
ID                                                              9184
IP_SPLIT_RESULT                                        119.70.11.176
SEQUENCE_PARSE     <1,132,113,132,113,113,113,63,132,113,132,113,...
Name: 2933, dtype: object
ID                                       9185
IP_SPLIT_RESULT                  61.37.123.74
SEQUENCE_PARSE     <1,5,1,5,1,5,1,93,132,132>
Name: 2934, dtype: object
ID                                             9186
IP_SPLIT_RESULT                      223.33.181.141
SEQUENCE_PARSE     <1,130,113,31,113,113,113,113,1>
Name: 2935, dtype: object
ID                        9187
IP_SPLIT_RESULT    39.7.54.243
SEQUENCE_PARSE             <1>
Name: 2936, dtype: object
ID                                         9188
IP_SPLIT_RESULT                   124.58.239.84
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93,93>
Name: 2937, dtype: object
ID                          9189
IP_SPLIT_RESULT    117.111.6.211
SEQUENCE_PARSE               <1>
Name: 2938, dtype: object
ID                                                              9190
IP_SPLIT_RESULT                                       121.128.211.15
SEQUENCE_PARSE     <1,132,113,113,113,132,113,113,113,113,113,113...
Name: 2939, dtype: object
ID                           9191
IP_SPLIT_RESULT      211.249.68.9
SEQUENCE_PARSE     <1,5,1,5,1,27>
Name: 2940, dtype: object
ID                                             9192
IP_SPLIT_RESULT                        211.249.68.5
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,14,1,31,31,1>
Name: 2941, dtype: object
ID                                                              9193
IP_SPLIT_RESULT                                         110.70.52.39
SEQUENCE_PARSE     <87,93,93,32,93,32,93,32,93,93,93,32,93,93,93,...
Name: 2942, dtype: object
ID                           9194
IP_SPLIT_RESULT    211.36.130.129
SEQUENCE_PARSE                <1>
Name: 2943, dtype: object
ID                                                              9195
IP_SPLIT_RESULT                                        117.111.22.85
SEQUENCE_PARSE     <25,90,92,87,89,87,189,132,113,132,113,31,113,...
Name: 2944, dtype: object
ID                            9196
IP_SPLIT_RESULT    211.197.243.215
SEQUENCE_PARSE             <1,5,1>
Name: 2945, dtype: object
ID                                9197
IP_SPLIT_RESULT         223.62.163.111
SEQUENCE_PARSE     <1,132,158,160,132>
Name: 2946, dtype: object
ID                                           9198
IP_SPLIT_RESULT                    175.223.38.186
SEQUENCE_PARSE     <1,130,132,81,132,113,132,113>
Name: 2947, dtype: object
ID                           9199
IP_SPLIT_RESULT    203.226.208.83
SEQUENCE_PARSE                <1>
Name: 2948, dtype: object
ID                           9200
IP_SPLIT_RESULT    118.221.147.37
SEQUENCE_PARSE            <1,5,1>
Name: 2949, dtype: object
ID                           9201
IP_SPLIT_RESULT    223.32.108.219
SEQUENCE_PARSE                <1>
Name: 2950, dtype: object
ID                         9202
IP_SPLIT_RESULT    121.88.224.5
SEQUENCE_PARSE              <1>
Name: 2951, dtype: object
ID                          9203
IP_SPLIT_RESULT    223.39.130.87
SEQUENCE_PARSE           <93,93>
Name: 2952, dtype: object
ID                        9204
IP_SPLIT_RESULT    49.169.72.9
SEQUENCE_PARSE             <1>
Name: 2953, dtype: object
ID                       9205
IP_SPLIT_RESULT    39.7.14.65
SEQUENCE_PARSE            <1>
Name: 2954, dtype: object
ID                          9206
IP_SPLIT_RESULT    117.111.3.218
SEQUENCE_PARSE               <1>
Name: 2955, dtype: object
ID                              9207
IP_SPLIT_RESULT       61.100.202.137
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 2956, dtype: object
ID                                                              9208
IP_SPLIT_RESULT                                        117.111.22.85
SEQUENCE_PARSE     <80,29,132,113,132,113,132,93,113,113,113,113,...
Name: 2957, dtype: object
ID                          9209
IP_SPLIT_RESULT    14.43.105.135
SEQUENCE_PARSE               <1>
Name: 2958, dtype: object
ID                           9210
IP_SPLIT_RESULT    124.254.165.97
SEQUENCE_PARSE            <1,5,1>
Name: 2959, dtype: object
ID                                                              9211
IP_SPLIT_RESULT                                          59.5.25.151
SEQUENCE_PARSE     <1,132,113,132,113,31,113,31,113,31,113,113,31...
Name: 2960, dtype: object
ID                         9212
IP_SPLIT_RESULT    98.114.33.25
SEQUENCE_PARSE              <1>
Name: 2961, dtype: object
ID                            9213
IP_SPLIT_RESULT    121.128.201.246
SEQUENCE_PARSE                 <1>
Name: 2962, dtype: object
ID                                                              9214
IP_SPLIT_RESULT                                        222.233.87.31
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,93,93,132,93,132,...
Name: 2963, dtype: object
ID                                                              9215
IP_SPLIT_RESULT                                         223.38.8.222
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,93,93,1,93,132,93...
Name: 2964, dtype: object
ID                                                              9216
IP_SPLIT_RESULT                                        175.223.21.13
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 2965, dtype: object
ID                           9217
IP_SPLIT_RESULT    39.118.127.173
SEQUENCE_PARSE                <1>
Name: 2966, dtype: object
ID                         9218
IP_SPLIT_RESULT    1.226.137.17
SEQUENCE_PARSE          <1,5,1>
Name: 2967, dtype: object
ID                                                              9219
IP_SPLIT_RESULT                                       183.96.142.198
SEQUENCE_PARSE     <1,5,1,132,1,132,93,132,93,93,93,93,93,93,93,9...
Name: 2968, dtype: object
ID                           9220
IP_SPLIT_RESULT    220.119.68.156
SEQUENCE_PARSE                <1>
Name: 2969, dtype: object
ID                                                              9221
IP_SPLIT_RESULT                                       175.119.245.94
SEQUENCE_PARSE     <113,31,113,113,1,68,113,113,39,164,1,113,132,...
Name: 2970, dtype: object
ID                                                              9222
IP_SPLIT_RESULT                                         106.102.0.54
SEQUENCE_PARSE     <39,164,63,164,39,164,132,113,132,113,113,113,...
Name: 2971, dtype: object
ID                                                              9223
IP_SPLIT_RESULT                                         106.102.0.54
SEQUENCE_PARSE     <63,132,113,132,113,113,113,31,113,31,113,113,...
Name: 2972, dtype: object
ID                                                      9224
IP_SPLIT_RESULT                                168.115.16.15
SEQUENCE_PARSE     <1,113,132,132,113,113,113,31,113,31,113>
Name: 2973, dtype: object
ID                           9225
IP_SPLIT_RESULT    223.33.153.238
SEQUENCE_PARSE                <1>
Name: 2974, dtype: object
ID                                                              9226
IP_SPLIT_RESULT                                       211.246.69.155
SEQUENCE_PARSE     <1,93,132,132,158,160,132,132,113,132,113,113,...
Name: 2975, dtype: object
ID                                   9227
IP_SPLIT_RESULT             117.111.2.215
SEQUENCE_PARSE     <33,164,92,32,32,25,1>
Name: 2976, dtype: object
ID                           9228
IP_SPLIT_RESULT    106.102.129.98
SEQUENCE_PARSE                <1>
Name: 2977, dtype: object
ID                          9229
IP_SPLIT_RESULT    175.223.44.56
SEQUENCE_PARSE           <113,1>
Name: 2978, dtype: object
ID                          9230
IP_SPLIT_RESULT    182.211.202.2
SEQUENCE_PARSE               <1>
Name: 2979, dtype: object
ID                           9231
IP_SPLIT_RESULT    175.223.26.184
SEQUENCE_PARSE                <1>
Name: 2980, dtype: object
ID                                                              9232
IP_SPLIT_RESULT                                        211.36.139.85
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,132,93,132,93,1,5...
Name: 2981, dtype: object
ID                           9233
IP_SPLIT_RESULT    77.179.179.172
SEQUENCE_PARSE                <1>
Name: 2982, dtype: object
ID                           9234
IP_SPLIT_RESULT    118.33.245.202
SEQUENCE_PARSE                <1>
Name: 2983, dtype: object
ID                         9235
IP_SPLIT_RESULT    1.243.210.73
SEQUENCE_PARSE              <1>
Name: 2984, dtype: object
ID                                                              9236
IP_SPLIT_RESULT                                         223.38.8.222
SEQUENCE_PARSE     <63,89,198,132,93,132,93,93,93,93,93,93,93,32,...
Name: 2985, dtype: object
ID                          9237
IP_SPLIT_RESULT    117.111.20.74
SEQUENCE_PARSE               <1>
Name: 2986, dtype: object
ID                            9238
IP_SPLIT_RESULT    125.138.112.100
SEQUENCE_PARSE             <1,5,1>
Name: 2987, dtype: object
ID                          9239
IP_SPLIT_RESULT    218.235.5.175
SEQUENCE_PARSE               <1>
Name: 2988, dtype: object
ID                         9240
IP_SPLIT_RESULT    122.32.16.58
SEQUENCE_PARSE              <1>
Name: 2989, dtype: object
ID                                        9241
IP_SPLIT_RESULT                 175.223.15.247
SEQUENCE_PARSE     <29,132,113,132,113,31,113>
Name: 2990, dtype: object
ID                            9242
IP_SPLIT_RESULT    121.146.106.111
SEQUENCE_PARSE                 <1>
Name: 2991, dtype: object
ID                            9243
IP_SPLIT_RESULT    180.182.188.217
SEQUENCE_PARSE                 <1>
Name: 2992, dtype: object
ID                          9244
IP_SPLIT_RESULT    117.111.12.43
SEQUENCE_PARSE               <1>
Name: 2993, dtype: object
ID                          9245
IP_SPLIT_RESULT    223.33.180.41
SEQUENCE_PARSE               <1>
Name: 2994, dtype: object
ID                                                        9246
IP_SPLIT_RESULT                                  223.33.165.74
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,1>
Name: 2995, dtype: object
ID                                                              9247
IP_SPLIT_RESULT                                       223.62.219.221
SEQUENCE_PARSE     <33,164,63,164,1,132,93,132,132,93,132,93,132,...
Name: 2996, dtype: object
ID                                                              9248
IP_SPLIT_RESULT                                       211.36.142.253
SEQUENCE_PARSE     <1,113,132,132,113,130,132,113,132,113,113,113...
Name: 2997, dtype: object
ID                                                              9249
IP_SPLIT_RESULT                                       182.212.53.244
SEQUENCE_PARSE     <1,93,132,93,132,93,93,130,130,130,130,1,93,1,...
Name: 2998, dtype: object
ID                          9250
IP_SPLIT_RESULT    92.80.100.234
SEQUENCE_PARSE               <1>
Name: 2999, dtype: object
ID                            9251
IP_SPLIT_RESULT    211.176.108.134
SEQUENCE_PARSE                 <1>
Name: 3000, dtype: object
ID                                                              9252
IP_SPLIT_RESULT                                       211.36.142.253
SEQUENCE_PARSE     <113,113,31,113,1,132,113,132,113,113,113,113,...
Name: 3001, dtype: object
ID                           9253
IP_SPLIT_RESULT    223.62.169.119
SEQUENCE_PARSE                <1>
Name: 3002, dtype: object
ID                                                              9254
IP_SPLIT_RESULT                                       223.62.179.249
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,132,93,132,93,93,...
Name: 3003, dtype: object
ID                                                              9255
IP_SPLIT_RESULT                                       182.212.53.244
SEQUENCE_PARSE     <1,130,132,93,132,93,93,93,32,93,32,93,32,93,3...
Name: 3004, dtype: object
ID                          9256
IP_SPLIT_RESULT    223.33.165.74
SEQUENCE_PARSE        <90,90,92>
Name: 3005, dtype: object
ID                                                         9257
IP_SPLIT_RESULT                                   117.111.4.103
SEQUENCE_PARSE     <10,10,132,93,132,93,132,132,81,132,158,160>
Name: 3006, dtype: object
ID                          9258
IP_SPLIT_RESULT    117.111.4.103
SEQUENCE_PARSE          <132,12>
Name: 3007, dtype: object
ID                          9259
IP_SPLIT_RESULT    122.101.20.49

ID                          9911
IP_SPLIT_RESULT    122.36.80.126
SEQUENCE_PARSE               <1>
Name: 3151, dtype: object
ID                            9915
IP_SPLIT_RESULT    221.146.190.121
SEQUENCE_PARSE     <132,93,132,93>
Name: 3152, dtype: object
ID                           9916
IP_SPLIT_RESULT    121.166.53.184
SEQUENCE_PARSE            <1,5,1>
Name: 3153, dtype: object
ID                           9917
IP_SPLIT_RESULT    115.178.71.183
SEQUENCE_PARSE              <1,5>
Name: 3154, dtype: object
ID                                                             10072
IP_SPLIT_RESULT                                       122.44.155.159
SEQUENCE_PARSE     <93,93,1,130,132,132,158,160,1,132,132,158,160...
Name: 3155, dtype: object
ID                      10074
IP_SPLIT_RESULT    59.5.132.3
SEQUENCE_PARSE           <87>
Name: 3156, dtype: object
ID                          10549
IP_SPLIT_RESULT    175.210.253.32
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 3157, dtype: object
ID                                                             10550
IP_SPLIT_RESULT                                        211.34.42.201
SEQUENCE_PARSE     <93,93,1,5,1,90,92,87,89,80,29,132,113,132,113...
Name: 3158, dtype: object
ID                                           10552
IP_SPLIT_RESULT                       14.36.20.227
SEQUENCE_PARSE     <5,1,132,5,1,132,5,1,132,1,5,1>
Name: 3159, dtype: object
ID                                                10553
IP_SPLIT_RESULT                             39.7.56.210
SEQUENCE_PARSE     <30,132,93,132,93,93,93,32,93,93,93>
Name: 3160, dtype: object
ID                                 10554
IP_SPLIT_RESULT           175.223.11.187
SEQUENCE_PARSE     <132,132,132,132,132>
Name: 3161, dtype: object
ID                                                    10555
IP_SPLIT_RESULT                              223.39.140.182
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,31,113,93>
Name: 3162, dtype: object
ID                          10556
IP_SPLIT_RESULT    218.235.241.46
SEQUENCE_PARSE            <1,5,1>
Name: 3163, dtype: object
ID                              10557
IP_SPLIT_RESULT        218.235.241.47
SEQUENCE_PARSE     <90,1,90,92,87,89>
Name: 3164, dtype: object
ID                         10558
IP_SPLIT_RESULT    185.45.33.143
SEQUENCE_PARSE               <1>
Name: 3165, dtype: object
ID                         10559
IP_SPLIT_RESULT    110.70.59.122
SEQUENCE_PARSE        <1,132,81>
Name: 3166, dtype: object
ID                                10560
IP_SPLIT_RESULT            223.52.9.124
SEQUENCE_PARSE     <29,132,113,113,113>
Name: 3167, dtype: object
ID                                         10561
IP_SPLIT_RESULT                    110.70.15.143
SEQUENCE_PARSE     <1,90,92,27,132,93,132,93,93>
Name: 3168, dtype: object
ID                         10562
IP_SPLIT_RESULT    211.36.141.63
SEQUENCE_PARSE               <1>
Name: 3169, dtype: object
ID                        10563
IP_SPLIT_RESULT    122.43.13.77
SEQUENCE_PARSE              <1>
Name: 3170, dtype: object
ID                              10564
IP_SPLIT_RESULT         110.70.14.135
SEQUENCE_PARSE     <1,132,164,39,164>
Name: 3171, dtype: object
ID                                 10565
IP_SPLIT_RESULT            110.70.14.135
SEQUENCE_PARSE     <130,132,158,160,1,5>
Name: 3172, dtype: object
ID                                                             10566
IP_SPLIT_RESULT                                         14.40.45.128
SEQUENCE_PARSE     <1,132,93,132,93,93,93,90,1,130,132,93,132,93,...
Name: 3173, dtype: object
ID                           10567
IP_SPLIT_RESULT    219.254.232.105
SEQUENCE_PARSE                 <1>
Name: 3174, dtype: object
ID                          10568
IP_SPLIT_RESULT    211.246.69.149
SEQUENCE_PARSE       <92,1,132,1>
Name: 3175, dtype: object
ID                                                             10569
IP_SPLIT_RESULT                                         14.40.45.128
SEQUENCE_PARSE     <1,90,1,27,5,1,166,178,132,180,132,132,158,160...
Name: 3176, dtype: object
ID                          10570
IP_SPLIT_RESULT    124.56.189.139
SEQUENCE_PARSE          <1,90,92>
Name: 3177, dtype: object
ID                                                             10571
IP_SPLIT_RESULT                                       223.62.172.171
SEQUENCE_PARSE     <1,130,130,130,191,63,89,198,132,81,81,81,113,...
Name: 3178, dtype: object
ID                                 10572
IP_SPLIT_RESULT           117.111.11.205
SEQUENCE_PARSE     <1,87,31,113,132,130>
Name: 3179, dtype: object
ID                        10573
IP_SPLIT_RESULT    49.171.76.78
SEQUENCE_PARSE           <1,90>
Name: 3180, dtype: object
ID                         10574
IP_SPLIT_RESULT    175.223.45.93
SEQUENCE_PARSE          <29,113>
Name: 3181, dtype: object
ID                         10575
IP_SPLIT_RESULT    211.36.136.34
SEQUENCE_PARSE         <1,90,92>
Name: 3182, dtype: object
ID                                                             10576
IP_SPLIT_RESULT                                        211.36.150.37
SEQUENCE_PARSE     <1,90,92,87,89,132,113,132,113,113,113,113,113...
Name: 3183, dtype: object
ID                                                             10577
IP_SPLIT_RESULT                                        211.36.150.37
SEQUENCE_PARSE     <92,87,80,29,113,132,113,132,132,29,113,132,11...
Name: 3184, dtype: object
ID                                                             10578
IP_SPLIT_RESULT                                        223.57.50.135
SEQUENCE_PARSE     <132,132,158,160,132,132,113,132,132,113,132,1...
Name: 3185, dtype: object
ID                                                             10579
IP_SPLIT_RESULT                                       211.246.116.62
SEQUENCE_PARSE     <1,93,132,132,32,93,32,93,32,93,132,162,166,16...
Name: 3186, dtype: object
ID                        10580
IP_SPLIT_RESULT    88.12.21.204
SEQUENCE_PARSE              <1>
Name: 3187, dtype: object
ID                                                             10581
IP_SPLIT_RESULT                                       223.62.172.171
SEQUENCE_PARSE     <93,132,162,166,162,132,132,93,93,93,93,32,93,...
Name: 3188, dtype: object
ID                        10582
IP_SPLIT_RESULT    122.45.3.236
SEQUENCE_PARSE              <1>
Name: 3189, dtype: object
ID                        10583
IP_SPLIT_RESULT    151.80.34.34
SEQUENCE_PARSE              <1>
Name: 3190, dtype: object
ID                           10584
IP_SPLIT_RESULT    164.132.205.146
SEQUENCE_PARSE                 <1>
Name: 3191, dtype: object
ID                          10585
IP_SPLIT_RESULT    175.214.199.55
SEQUENCE_PARSE                <1>
Name: 3192, dtype: object
ID                                                             10586
IP_SPLIT_RESULT                                        223.62.163.15
SEQUENCE_PARSE     <39,113,31,113,29,132,113,132,113,89,132,113,1...
Name: 3193, dtype: object
ID                                                             10587
IP_SPLIT_RESULT                                        58.239.210.36
SEQUENCE_PARSE     <1,90,92,113,31,113,31,113,1,132,81,132,113,13...
Name: 3194, dtype: object
ID                                                 10588
IP_SPLIT_RESULT                           175.223.30.254
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,93,93,93>
Name: 3195, dtype: object
ID                                       10589
IP_SPLIT_RESULT                 218.235.241.47
SEQUENCE_PARSE     <80,29,132,113,132,113,132>
Name: 3196, dtype: object
ID                          10590
IP_SPLIT_RESULT    223.56.165.122
SEQUENCE_PARSE           <31,113>
Name: 3197, dtype: object
ID                         10591
IP_SPLIT_RESULT    223.38.10.217
SEQUENCE_PARSE               <1>
Name: 3198, dtype: object
ID                          10592
IP_SPLIT_RESULT    211.36.149.240
SEQUENCE_PARSE          <166,162>
Name: 3199, dtype: object
ID                         10593
IP_SPLIT_RESULT    223.62.162.75
SEQUENCE_PARSE               <1>
Name: 3200, dtype: object
ID                           10594
IP_SPLIT_RESULT         14.52.2.82
SEQUENCE_PARSE     <39,164,63,164>
Name: 3201, dtype: object
ID                        10595
IP_SPLIT_RESULT    124.5.71.191
SEQUENCE_PARSE              <1>
Name: 3202, dtype: object
ID                                  10596
IP_SPLIT_RESULT              222.96.93.94
SEQUENCE_PARSE     <93,1,132,1,93,132,93>
Name: 3203, dtype: object
ID                                                             10597
IP_SPLIT_RESULT                                       211.246.69.149
SEQUENCE_PARSE     <132,132,158,160,1,132,132,93,132,93,32,93,93,...
Name: 3204, dtype: object
ID                                10598
IP_SPLIT_RESULT             39.7.18.169
SEQUENCE_PARSE     <29,132,113,132,113>
Name: 3205, dtype: object
ID                              10599
IP_SPLIT_RESULT           39.7.20.240
SEQUENCE_PARSE     <30,132,93,132,93>
Name: 3206, dtype: object
ID                                                             10600
IP_SPLIT_RESULT                                       211.246.69.187
SEQUENCE_PARSE     <1,63,113,113,113,14,113,29,132,113,132,29,132...
Name: 3207, dtype: object
ID                      10601
IP_SPLIT_RESULT    39.7.56.45
SEQUENCE_PARSE            <1>
Name: 3208, dtype: object
ID                           10602
IP_SPLIT_RESULT     223.33.180.116
SEQUENCE_PARSE     <33,164,33,164>
Name: 3209, dtype: object
ID                                                             10603
IP_SPLIT_RESULT                                        223.62.202.65
SEQUENCE_PARSE     <32,93,132,162,30,93,93,93,32,93,93,132,93,132...
Name: 3210, dtype: object
ID                      10604
IP_SPLIT_RESULT    39.7.18.71
SEQUENCE_PARSE            <1>
Name: 3211, dtype: object
ID                                                             10605
IP_SPLIT_RESULT                                      182.222.157.228
SEQUENCE_PARSE     <1,90,87,89,31,113,132,162,93,31,113,31,113,11...
Name: 3212, dtype: object
ID                                                             10606
IP_SPLIT_RESULT                                        175.223.33.48
SEQUENCE_PARSE     <1,132,113,132,113,31,113,31,113,1,113,132,113...
Name: 3213, dtype: object
ID                           10607
IP_SPLIT_RESULT    112.217.178.242
SEQUENCE_PARSE        <1,90,87,89>
Name: 3214, dtype: object
ID                                                             10608
IP_SPLIT_RESULT                                       117.111.28.229
SEQUENCE_PARSE     <39,164,63,164,132,132,93,132,93,93,93,93,90,9...
Name: 3215, dtype: object
ID                             10609
IP_SPLIT_RESULT       117.52.141.207
SEQUENCE_PARSE     <29,29,1,5,1,5,1>
Name: 3216, dtype: object
ID                         10610
IP_SPLIT_RESULT    110.70.59.122
SEQUENCE_PARSE               <1>
Name: 3217, dtype: object
ID                         10611
IP_SPLIT_RESULT    106.252.13.74
SEQUENCE_PARSE               <1>
Name: 3218, dtype: object
ID                                                             10612
IP_SPLIT_RESULT                                      182.222.157.228
SEQUENCE_PARSE     <92,80,29,132,113,132,113,132,132,113,132,113,...
Name: 3219, dtype: object
ID                                                             10613
IP_SPLIT_RESULT                                      112.217.178.242
SEQUENCE_PARSE     <92,80,30,132,93,132,93,32,93,93,93,32,93,5,1,...
Name: 3220, dtype: object
ID                        10614
IP_SPLIT_RESULT    61.253.74.88
SEQUENCE_PARSE              <1>
Name: 3221, dtype: object
ID                                                             10615
IP_SPLIT_RESULT                                      220.117.166.129
SEQUENCE_PARSE     <30,132,93,132,93,29,132,113,132,113,31,1,132,...
Name: 3222, dtype: object
ID                                                             10616
IP_SPLIT_RESULT                                         117.111.3.25
SEQUENCE_PARSE     <1,90,92,87,89,80,29,113,132,113,132,113,113,3...
Name: 3223, dtype: object
ID                                                             10617
IP_SPLIT_RESULT                                         117.111.3.25
SEQUENCE_PARSE     <92,130,130,130,132,132,113,113,32,93,132,113,...
Name: 3224, dtype: object
ID                         10618
IP_SPLIT_RESULT    175.223.34.44
SEQUENCE_PARSE               <1>
Name: 3225, dtype: object
ID                                                             10619
IP_SPLIT_RESULT                                       117.111.28.229
SEQUENCE_PARSE     <164,132,33,164,33,164,1,93,93,132,132,93,80,2...
Name: 3226, dtype: object
ID                         10620
IP_SPLIT_RESULT    38.145.71.146
SEQUENCE_PARSE               <1>
Name: 3227, dtype: object
ID                                   10621
IP_SPLIT_RESULT                220.70.68.2
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 3228, dtype: object
ID                         10622
IP_SPLIT_RESULT    223.62.202.65
SEQUENCE_PARSE           <162,1>
Name: 3229, dtype: object
ID                                               10623
IP_SPLIT_RESULT                         117.111.12.118
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113>
Name: 3230, dtype: object
ID                                                             10624
IP_SPLIT_RESULT                                        223.62.11.228
SEQUENCE_PARSE     <1,130,132,93,132,93,93,93,93,93,93,93,32,93,9...
Name: 3231, dtype: object
ID                                                             10625
IP_SPLIT_RESULT                                        223.62.11.228
SEQUENCE_PARSE     <32,93,32,93,32,93,32,93,93,93,93,93,32,93,32,...
Name: 3232, dtype: object
ID                                                             10626
IP_SPLIT_RESULT                                       218.236.54.252
SEQUENCE_PARSE     <132,113,113,113,113,31,113,113,113,113,113,11...
Name: 3233, dtype: object
ID                         10627
IP_SPLIT_RESULT    122.47.55.222
SEQUENCE_PARSE           <1,5,1>
Name: 3234, dtype: object
ID                                                             10628
IP_SPLIT_RESULT                                       218.236.54.252
SEQUENCE_PARSE     <132,132,132,132,132,87,92,189,132,132,87,92,1...
Name: 3235, dtype: object
ID                                                             10629
IP_SPLIT_RESULT                                        183.98.99.133
SEQUENCE_PARSE     <1,5,1,5,130,132,93,132,132,93,132,93,132,166,...
Name: 3236, dtype: object
ID                      10630
IP_SPLIT_RESULT    74.82.47.3
SEQUENCE_PARSE            <1>
Name: 3237, dtype: object
ID                                                             10631
IP_SPLIT_RESULT                                       115.139.73.241
SEQUENCE_PARSE     <1,132,93,132,93,93,93,1,132,93,132,93,1,132,9...
Name: 3238, dtype: object
ID                               10632
IP_SPLIT_RESULT         211.36.149.240
SEQUENCE_PARSE     <113,31,113,31,113>
Name: 3239, dtype: object
ID                                                   10633
IP_SPLIT_RESULT                            114.205.208.181
SEQUENCE_PARSE     <132,93,132,93,93,93,32,93,132,162,166>
Name: 3240, dtype: object
ID                                                             10634
IP_SPLIT_RESULT                                        58.239.210.36
SEQUENCE_PARSE     <87,89,80,29,132,113,132,113,113,113,31,31,113...
Name: 3241, dtype: object
ID                           10635
IP_SPLIT_RESULT    171.240.240.224
SEQUENCE_PARSE                 <1>
Name: 3242, dtype: object
ID                         10636
IP_SPLIT_RESULT    175.123.38.25
SEQUENCE_PARSE               <1>
Name: 3243, dtype: object
ID                        10637
IP_SPLIT_RESULT    118.218.9.25
SEQUENCE_PARSE          <1,5,1>
Name: 3244, dtype: object
ID                          10638
IP_SPLIT_RESULT    115.139.73.241
SEQUENCE_PARSE               <92>
Name: 3245, dtype: object
ID                         10639
IP_SPLIT_RESULT    66.220.146.21
SEQUENCE_PARSE               <1>
Name: 3246, dtype: object
ID                             10640
IP_SPLIT_RESULT         110.70.27.55
SEQUENCE_PARSE     <1,30,93,132,132>
Name: 3247, dtype: object
ID                           10641
IP_SPLIT_RESULT    116.123.150.158
SEQUENCE_PARSE                 <1>
Name: 3248, dtype: object
ID                          10642
IP_SPLIT_RESULT    219.250.43.141
SEQUENCE_PARSE                <1>
Name: 3249, dtype: object
ID                                                             10643
IP_SPLIT_RESULT                                          39.7.18.169
SEQUENCE_PARSE     <29,132,113,132,113,31,113,29,132,113,132,113,...
Name: 3250, dtype: object
ID                                                             10644
IP_SPLIT_RESULT                                        221.139.96.92
SEQUENCE_PARSE     <33,164,1,132,93,132,93,93,93,63,132,113,132,3...
Name: 3251, dtype: object
ID                                             10645
IP_SPLIT_RESULT                        221.139.96.92
SEQUENCE_PARSE     <33,164,1,164,164,164,32,93,32,5>
Name: 3252, dtype: object
ID                                                             10646
IP_SPLIT_RESULT                                        223.62.163.15
SEQUENCE_PARSE     <1,132,93,132,93,63,132,113,132,113,31,113,31,...
Name: 3253, dtype: object
ID                          10647
IP_SPLIT_RESULT    61.254.209.143
SEQUENCE_PARSE                <1>
Name: 3254, dtype: object
ID                        10648
IP_SPLIT_RESULT    1.255.176.56
SEQUENCE_PARSE              <1>
Name: 3255, dtype: object
ID                          10649
IP_SPLIT_RESULT    121.168.20.205
SEQUENCE_PARSE         <1,132,93>
Name: 3256, dtype: object
ID                            10650
IP_SPLIT_RESULT          61.77.99.7
SEQUENCE_PARSE     <1,5,1,132,1,90>
Name: 3257, dtype: object
ID                          10651
IP_SPLIT_RESULT    58.140.185.208
SEQUENCE_PARSE                <1>
Name: 3258, dtype: object
ID                          10652
IP_SPLIT_RESULT    223.131.13.118
SEQUENCE_PARSE                <1>
Name: 3259, dtype: object
ID                          10653
IP_SPLIT_RESULT    211.231.70.223
SEQUENCE_PARSE            <113,1>
Name: 3260, dtype: object
ID                       10654
IP_SPLIT_RESULT    61.33.228.2
SEQUENCE_PARSE             <1>
Name: 3261, dtype: object
ID                      10655
IP_SPLIT_RESULT    61.77.99.7
SEQUENCE_PARSE           <92>
Name: 3262, dtype: object
ID                           10656
IP_SPLIT_RESULT    221.148.112.147
SEQUENCE_PARSE                 <1>
Name: 3263, dtype: object
ID                          10657
IP_SPLIT_RESULT    118.36.134.155
SEQUENCE_PARSE                <1>
Name: 3264, dtype: object
ID                                                             10658
IP_SPLIT_RESULT                                        14.47.236.131
SEQUENCE_PARSE     <113,113,113,113,132,113,132,113,31,113,113,11...
Name: 3265, dtype: object
ID                                                             10659
IP_SPLIT_RESULT                                       115.137.184.16
SEQUENCE_PARSE     <93,93,14,93,132,113,132,113,113,113,113,113,1...
Name: 3266, dtype: object
ID                        10660
IP_SPLIT_RESULT    59.20.66.243
SEQUENCE_PARSE          <1,5,1>
Name: 3267, dtype: object
ID                          10661
IP_SPLIT_RESULT    223.39.130.151
SEQUENCE_PARSE                <1>
Name: 3268, dtype: object
ID                             10662
IP_SPLIT_RESULT        223.33.160.19
SEQUENCE_PARSE     <164,164,164,164>
Name: 3269, dtype: object
ID                                                             10663
IP_SPLIT_RESULT                                         183.96.69.33
SEQUENCE_PARSE     <39,164,164,132,93,132,93,132,39,164,132,81,13...
Name: 3270, dtype: object
ID                                              10664
IP_SPLIT_RESULT                         211.36.141.93

ID                        10733
IP_SPLIT_RESULT    58.235.6.143
SEQUENCE_PARSE              <1>
Name: 3340, dtype: object
ID                          10734
IP_SPLIT_RESULT    211.243.166.63
SEQUENCE_PARSE                <1>
Name: 3341, dtype: object
ID                         10735
IP_SPLIT_RESULT    175.116.40.54
SEQUENCE_PARSE               <1>
Name: 3342, dtype: object
ID                                                       10736
IP_SPLIT_RESULT                                   14.33.184.94
SEQUENCE_PARSE     <87,80,29,132,113,113,132,31,113,113,113,1>
Name: 3343, dtype: object
ID                         10737
IP_SPLIT_RESULT    79.255.200.87
SEQUENCE_PARSE               <1>
Name: 3344, dtype: object
ID                         10738
IP_SPLIT_RESULT    222.116.30.30
SEQUENCE_PARSE             <5,1>
Name: 3345, dtype: object
ID                                   10739
IP_SPLIT_RESULT             61.255.175.143
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 3346, dtype: object
ID                           10740
IP_SPLIT_RESULT    211.220.224.240
SEQUENCE_PARSE             <1,5,1>
Name: 3347, dtype: object
ID                          10741
IP_SPLIT_RESULT    203.226.192.78
SEQUENCE_PARSE                <1>
Name: 3348, dtype: object
ID                                                10742
IP_SPLIT_RESULT                            1.214.103.87
SEQUENCE_PARSE     <29,113,132,113,132,113,113,113,113>
Name: 3349, dtype: object
ID                        10743
IP_SPLIT_RESULT    58.125.5.193
SEQUENCE_PARSE              <1>
Name: 3350, dtype: object
ID                                                     10744
IP_SPLIT_RESULT                                 39.117.198.4
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93>
Name: 3351, dtype: object
ID                         10745
IP_SPLIT_RESULT    210.103.77.10
SEQUENCE_PARSE               <1>
Name: 3352, dtype: object
ID                                                             10746
IP_SPLIT_RESULT                                        117.111.11.23
SEQUENCE_PARSE     <1,132,132,158,160,164,164,132,132,158,160,132...
Name: 3353, dtype: object
ID                         10747
IP_SPLIT_RESULT    78.194.32.104
SEQUENCE_PARSE               <1>
Name: 3354, dtype: object
ID                                         10748
IP_SPLIT_RESULT                     39.117.198.4
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 3355, dtype: object
ID                                                             10749
IP_SPLIT_RESULT                                       175.120.16.225
SEQUENCE_PARSE     <1,132,113,132,113,31,113,113,113,113,113,31,1...
Name: 3356, dtype: object
ID                         10750
IP_SPLIT_RESULT    223.195.9.107
SEQUENCE_PARSE               <1>
Name: 3357, dtype: object
ID                           10751
IP_SPLIT_RESULT    210.210.207.118
SEQUENCE_PARSE                 <1>
Name: 3358, dtype: object
ID                                                             10752
IP_SPLIT_RESULT                                          1.228.83.68
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 3359, dtype: object
ID                          10753
IP_SPLIT_RESULT    124.50.149.143
SEQUENCE_PARSE                <1>
Name: 3360, dtype: object
ID                          10754
IP_SPLIT_RESULT    117.52.141.213
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 3361, dtype: object
ID                           10755
IP_SPLIT_RESULT    222.249.239.216
SEQUENCE_PARSE                 <1>
Name: 3362, dtype: object
ID                                                             10756
IP_SPLIT_RESULT                                        175.223.3.166
SEQUENCE_PARSE     <1,93,93,93,93,93,93,1,90,92,87,89,80,24,212,1...
Name: 3363, dtype: object
ID                                                             10757
IP_SPLIT_RESULT                                         218.50.35.63
SEQUENCE_PARSE     <1,5,1,132,90,5,1,10,132,10,132,63,132,132,132...
Name: 3364, dtype: object
ID                                                             10758
IP_SPLIT_RESULT                                       222.251.232.69
SEQUENCE_PARSE     <1,132,93,132,93,90,1,132,93,132,93,93,93,93,9...
Name: 3365, dtype: object
ID                             10759
IP_SPLIT_RESULT        175.223.3.166
SEQUENCE_PARSE     <132,132,90,92,1>
Name: 3366, dtype: object
ID                                                             10760
IP_SPLIT_RESULT                                         218.50.35.63
SEQUENCE_PARSE     <92,87,1,63,93,132,1,5,1,130,130,93,93,30,132,...
Name: 3367, dtype: object
ID                          10761
IP_SPLIT_RESULT    121.164.38.221
SEQUENCE_PARSE              <5,1>
Name: 3368, dtype: object
ID                                                             10762
IP_SPLIT_RESULT                                          1.228.83.68
SEQUENCE_PARSE     <92,132,132,132,113,132,113,132,132,158,160,13...
Name: 3369, dtype: object
ID                       10763
IP_SPLIT_RESULT    124.53.0.23
SEQUENCE_PARSE             <1>
Name: 3370, dtype: object
ID                           10764
IP_SPLIT_RESULT    175.121.106.100
SEQUENCE_PARSE                 <1>
Name: 3371, dtype: object
ID                       10765
IP_SPLIT_RESULT    180.70.3.80
SEQUENCE_PARSE             <1>
Name: 3372, dtype: object
ID                          10766
IP_SPLIT_RESULT    175.123.83.198
SEQUENCE_PARSE                <1>
Name: 3373, dtype: object
ID                         10767
IP_SPLIT_RESULT    49.165.238.72
SEQUENCE_PARSE             <5,1>
Name: 3374, dtype: object
ID                                               10768
IP_SPLIT_RESULT                            49.167.72.2
SEQUENCE_PARSE     <1,92,1,90,92,87,89,93,32,93,32,93>
Name: 3375, dtype: object
ID                          10769
IP_SPLIT_RESULT    112.144.165.78
SEQUENCE_PARSE                <1>
Name: 3376, dtype: object
ID                                 10770
IP_SPLIT_RESULT           112.170.165.92
SEQUENCE_PARSE     <1,63,89,132,132,132>
Name: 3377, dtype: object
ID                         10771
IP_SPLIT_RESULT    175.223.14.32
SEQUENCE_PARSE               <1>
Name: 3378, dtype: object
ID                                                             10772
IP_SPLIT_RESULT                                       223.62.190.240
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,90,92,93,93,93,93...
Name: 3379, dtype: object
ID                         10773
IP_SPLIT_RESULT    58.235.227.32
SEQUENCE_PARSE           <1,5,1>
Name: 3380, dtype: object
ID                                                             10774
IP_SPLIT_RESULT                                       223.62.190.240
SEQUENCE_PARSE     <93,93,93,93,87,89,80,30,93,132,132,93,93,93,3...
Name: 3381, dtype: object
ID                                   10775
IP_SPLIT_RESULT              122.34.94.212
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 3382, dtype: object
ID                                         10776
IP_SPLIT_RESULT                   112.170.165.92
SEQUENCE_PARSE     <195,113,113,113,113,113,113>
Name: 3383, dtype: object
ID                                           10777
IP_SPLIT_RESULT                     175.223.45.202
SEQUENCE_PARSE     <1,132,132,132,132,158,160,164>
Name: 3384, dtype: object
ID                                                             10778
IP_SPLIT_RESULT                                         203.243.15.4
SEQUENCE_PARSE     <5,1,27,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,...
Name: 3385, dtype: object
ID                         10779
IP_SPLIT_RESULT    58.124.136.36
SEQUENCE_PARSE             <5,1>
Name: 3386, dtype: object
ID                                                             10780
IP_SPLIT_RESULT                                         223.62.22.49
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,31,11...
Name: 3387, dtype: object
ID                                                             10781
IP_SPLIT_RESULT                                       183.96.114.190
SEQUENCE_PARSE     <1,90,92,29,113,113,113,113,113,113,113,113,11...
Name: 3388, dtype: object
ID                                                             10782
IP_SPLIT_RESULT                                         203.243.15.4
SEQUENCE_PARSE     <132,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5...
Name: 3389, dtype: object
ID                                                             10783
IP_SPLIT_RESULT                                         223.57.21.39
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,31,11...
Name: 3390, dtype: object
ID                         10784
IP_SPLIT_RESULT    120.136.85.42
SEQUENCE_PARSE               <1>
Name: 3391, dtype: object
ID                         10785
IP_SPLIT_RESULT    175.124.35.18
SEQUENCE_PARSE               <1>
Name: 3392, dtype: object
ID                                     10786
IP_SPLIT_RESULT               223.62.188.200
SEQUENCE_PARSE     <1,132,132,158,160,164,1>
Name: 3393, dtype: object
ID                         10787
IP_SPLIT_RESULT    211.36.136.83
SEQUENCE_PARSE               <1>
Name: 3394, dtype: object
ID                         10788
IP_SPLIT_RESULT    180.230.90.13
SEQUENCE_PARSE               <1>
Name: 3395, dtype: object
ID                                                             10789
IP_SPLIT_RESULT                                       183.96.114.190
SEQUENCE_PARSE     <87,1,130,130,132,93,132,93,93,93,93,93,132,11...
Name: 3396, dtype: object
ID                                                             10790
IP_SPLIT_RESULT                                      221.142.215.220
SEQUENCE_PARSE     <29,1,132,113,132,113,113,113,29,132,113,132,3...
Name: 3397, dtype: object
ID                      10791
IP_SPLIT_RESULT    74.82.47.3
SEQUENCE_PARSE            <1>
Name: 3398, dtype: object
ID                        10792
IP_SPLIT_RESULT    223.57.21.39
SEQUENCE_PARSE         <31,113>
Name: 3399, dtype: object
ID                        10793
IP_SPLIT_RESULT    66.249.64.81
SEQUENCE_PARSE          <1,5,1>
Name: 3400, dtype: object
ID                                                             10794
IP_SPLIT_RESULT                                         223.38.8.144
SEQUENCE_PARSE     <1,31,113,39,164,39,164,1,132,81,132,113,132,1...
Name: 3401, dtype: object
ID                         10795
IP_SPLIT_RESULT    211.179.61.48
SEQUENCE_PARSE               <1>
Name: 3402, dtype: object
ID                                                             10796
IP_SPLIT_RESULT                                        122.36.142.79
SEQUENCE_PARSE     <5,1,132,5,1,132,5,1,132,93,132,93,93,93,93,93...
Name: 3403, dtype: object
ID                                                             10797
IP_SPLIT_RESULT                                         223.38.8.144
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93,1,132,81,132,132,11...
Name: 3404, dtype: object
ID                           10798
IP_SPLIT_RESULT    182.224.171.132
SEQUENCE_PARSE                 <1>
Name: 3405, dtype: object
ID                         10799
IP_SPLIT_RESULT    122.36.142.79
SEQUENCE_PARSE           <1,5,1>
Name: 3406, dtype: object
ID                                             10800
IP_SPLIT_RESULT                      203.226.207.250
SEQUENCE_PARSE     <1,113,132,132,113,31,113,31,113>
Name: 3407, dtype: object
ID                                              10801
IP_SPLIT_RESULT                         118.39.60.148
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113>
Name: 3408, dtype: object
ID                                  10802
IP_SPLIT_RESULT             223.62.163.77
SEQUENCE_PARSE     <1,113,113,113,14,113>
Name: 3409, dtype: object
ID                        10803
IP_SPLIT_RESULT    40.77.167.28
SEQUENCE_PARSE              <1>
Name: 3410, dtype: object
ID                         10804
IP_SPLIT_RESULT    175.223.34.16
SEQUENCE_PARSE            <29,1>
Name: 3411, dtype: object
ID                        10805
IP_SPLIT_RESULT    59.2.103.225
SEQUENCE_PARSE           <1,87>
Name: 3412, dtype: object
ID                                   10806
IP_SPLIT_RESULT              223.39.146.45
SEQUENCE_PARSE     <132,8,132,132,158,160>
Name: 3413, dtype: object
ID                         10807
IP_SPLIT_RESULT    78.194.32.104
SEQUENCE_PARSE               <1>
Name: 3414, dtype: object
ID                           10808
IP_SPLIT_RESULT    211.184.151.179
SEQUENCE_PARSE           <1,90,89>
Name: 3415, dtype: object
ID                          10809
IP_SPLIT_RESULT    182.221.116.77
SEQUENCE_PARSE                <1>
Name: 3416, dtype: object
ID                           10810
IP_SPLIT_RESULT    211.184.151.179
SEQUENCE_PARSE             <92,87>
Name: 3417, dtype: object
ID                             10811
IP_SPLIT_RESULT       175.223.45.241
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 3418, dtype: object
ID                                         10812
IP_SPLIT_RESULT                     220.72.226.8
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 3419, dtype: object
ID                                                             10813
IP_SPLIT_RESULT                                        110.70.14.244
SEQUENCE_PARSE     <1,132,113,132,113,31,113,113,113,113,113,31,1...
Name: 3420, dtype: object
ID                                           10814
IP_SPLIT_RESULT                      124.56.10.200
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93>
Name: 3421, dtype: object
ID                          10815
IP_SPLIT_RESULT    175.223.45.241
SEQUENCE_PARSE          <93,93,1>
Name: 3422, dtype: object
ID                               10816
IP_SPLIT_RESULT          203.226.208.1
SEQUENCE_PARSE     <1,113,132,113,132>
Name: 3423, dtype: object
ID                           10817
IP_SPLIT_RESULT      118.217.99.37
SEQUENCE_PARSE     <1,130,1,92,87>
Name: 3424, dtype: object
ID                         10818
IP_SPLIT_RESULT    110.70.51.202
SEQUENCE_PARSE           <1,130>
Name: 3425, dtype: object
ID                         10819
IP_SPLIT_RESULT    125.180.6.183
SEQUENCE_PARSE               <1>
Name: 3426, dtype: object
ID                           10820
IP_SPLIT_RESULT    112.144.131.248
SEQUENCE_PARSE                 <1>
Name: 3427, dtype: object
ID                                                             10821
IP_SPLIT_RESULT                                        118.217.99.37
SEQUENCE_PARSE     <130,130,191,191,191,130,132,92,200,29,132,113...
Name: 3428, dtype: object
ID                         10822
IP_SPLIT_RESULT    223.52.213.19
SEQUENCE_PARSE               <1>
Name: 3429, dtype: object
ID                                                             10827
IP_SPLIT_RESULT                                        110.70.14.244
SEQUENCE_PARSE     <113,31,113,113,113,113,113,113,113,113,113,31...
Name: 3430, dtype: object
ID                                                       10828
IP_SPLIT_RESULT                                  175.223.26.66
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,1>
Name: 3431, dtype: object
ID                          10829
IP_SPLIT_RESULT    114.203.91.225
SEQUENCE_PARSE                <1>
Name: 3432, dtype: object
ID                                                     10830
IP_SPLIT_RESULT                               122.32.223.169
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93>
Name: 3433, dtype: object
ID                        10831
IP_SPLIT_RESULT    27.118.80.62
SEQUENCE_PARSE      <1,5,1,5,1>
Name: 3434, dtype: object
ID                                             10832
IP_SPLIT_RESULT                         175.223.21.8
SEQUENCE_PARSE     <1,132,93,132,93,132,132,93,93,1>
Name: 3435, dtype: object
ID                           10833
IP_SPLIT_RESULT     122.32.223.169
SEQUENCE_PARSE     <132,132,90,92>
Name: 3436, dtype: object
ID                                                             10834
IP_SPLIT_RESULT                                          117.111.3.8
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,93,132,93,132,93,13...
Name: 3437, dtype: object
ID                                                      10835
IP_SPLIT_RESULT                                  223.62.213.8
SEQUENCE_PARSE     <1,113,132,113,132,113,113,113,113,31,113>
Name: 3438, dtype: object
ID                                                       10836
IP_SPLIT_RESULT                                 211.36.141.113
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,1>
Name: 3439, dtype: object
ID                                                             10837
IP_SPLIT_RESULT                                         124.50.13.50
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,93,93,132...
Name: 3440, dtype: object
ID                                    10838
IP_SPLIT_RESULT                223.62.213.8
SEQUENCE_PARSE     <31,113,132,162,166,162>
Name: 3441, dtype: object
ID                                                             10839
IP_SPLIT_RESULT                                      180.224.220.251
SEQUENCE_PARSE     <39,164,63,164,39,164,63,164,39,164,63,164,164...
Name: 3442, dtype: object
ID                         10840
IP_SPLIT_RESULT    182.222.93.62
SEQUENCE_PARSE               <1>
Name: 3443, dtype: object
ID                        10841
IP_SPLIT_RESULT    66.102.8.206
SEQUENCE_PARSE            <5,1>
Name: 3444, dtype: object
ID                                                             10842
IP_SPLIT_RESULT                                        220.75.199.69
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,93,93,93,...
Name: 3445, dtype: object
ID                                                             10843
IP_SPLIT_RESULT                                        61.247.149.74
SEQUENCE_PARSE     <39,164,63,164,29,132,113,132,113,31,113,93,13...
Name: 3446, dtype: object
ID                                            10844
IP_SPLIT_RESULT                       220.75.199.69
SEQUENCE_PARSE     <132,93,132,93,90,92,1,90,92,90>
Name: 3447, dtype: object
ID                                                             10845
IP_SPLIT_RESULT                                      180.224.220.251
SEQUENCE_PARSE     <164,1,113,132,132,113,63,132,93,132,93,93,93,...
Name: 3448, dtype: object
ID                         10846
IP_SPLIT_RESULT     175.223.21.8
SEQUENCE_PARSE     <93,93,93,93>
Name: 3449, dtype: object
ID                                                             10847
IP_SPLIT_RESULT                                       114.204.38.118
SEQUENCE_PARSE     <1,63,1,63,132,93,132,93,93,93,93,32,93,32,93,...
Name: 3450, dtype: object
ID                                                             10848
IP_SPLIT_RESULT                                        1.233.171.207
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,1,132,113,13...
Name: 3451, dtype: object
ID                        10849
IP_SPLIT_RESULT    58.235.6.143
SEQUENCE_PARSE              <1>
Name: 3452, dtype: object
ID                          10850
IP_SPLIT_RESULT    180.229.87.123
SEQUENCE_PARSE                <1>
Name: 3453, dtype: object
ID                          10851
IP_SPLIT_RESULT    210.126.48.174
SEQUENCE_PARSE          <1,63,63>
Name: 3454, dtype: object
ID                                                             10852
IP_SPLIT_RESULT                                       114.204.38.118
SEQUENCE_PARSE     <63,1,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 3455, dtype: object
ID                        10853
IP_SPLIT_RESULT    110.9.92.244
SEQUENCE_PARSE              <1>
Name: 3456, dtype: object
ID                          10854
IP_SPLIT_RESULT    211.36.135.253
SEQUENCE_PARSE                <1>
Name: 3457, dtype: object
ID                         10855
IP_SPLIT_RESULT    123.99.108.21
SEQUENCE_PARSE               <1>
Name: 3458, dtype: object
ID                                                         10856
IP_SPLIT_RESULT                                    211.249.68.18
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,29,29>

ID                                                             11012
IP_SPLIT_RESULT                                      121.168.102.241
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 3615, dtype: object
ID                             11013
IP_SPLIT_RESULT      121.168.102.241
SEQUENCE_PARSE     <132,132,132,132>
Name: 3616, dtype: object
ID                           11014
IP_SPLIT_RESULT    116.120.238.194
SEQUENCE_PARSE                 <1>
Name: 3617, dtype: object
ID                         11015
IP_SPLIT_RESULT    210.205.33.59
SEQUENCE_PARSE             <5,1>
Name: 3618, dtype: object
ID                         11016
IP_SPLIT_RESULT    118.35.216.50
SEQUENCE_PARSE               <1>
Name: 3619, dtype: object
ID                                         11017
IP_SPLIT_RESULT                   112.173.69.144
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 3620, dtype: object
ID                         11018
IP_SPLIT_RESULT    87.147.45.185
SEQUENCE_PARSE               <1>
Name: 3621, dtype: object
ID                          11019
IP_SPLIT_RESULT    223.62.190.144
SEQUENCE_PARSE                <1>
Name: 3622, dtype: object
ID                                                             11020
IP_SPLIT_RESULT                                        223.62.178.15
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,113,113,93,...
Name: 3623, dtype: object
ID                                                             11021
IP_SPLIT_RESULT                                      118.220.119.249
SEQUENCE_PARSE     <1,32,93,1,132,93,132,93,32,93,132,162,166,162...
Name: 3624, dtype: object
ID                                                             11022
IP_SPLIT_RESULT                                       106.253.102.14
SEQUENCE_PARSE     <1,90,92,87,89,87,189,132,132,93,93,93,93,93,1...
Name: 3625, dtype: object
ID                                                             11023
IP_SPLIT_RESULT                                       118.32.183.181
SEQUENCE_PARSE     <1,132,132,158,160,132,113,132,113,132,132,158...
Name: 3626, dtype: object
ID                               11024
IP_SPLIT_RESULT          223.62.178.15
SEQUENCE_PARSE     <132,132,132,132,1>
Name: 3627, dtype: object
ID                                                             11025
IP_SPLIT_RESULT                                        211.36.141.59
SEQUENCE_PARSE     <1,132,93,132,90,87,89,23,1,27,132,93,132,32,5...
Name: 3628, dtype: object
ID                                                             11026
IP_SPLIT_RESULT                                        49.166.194.69
SEQUENCE_PARSE     <1,63,89,195,93,93,93,14,93,93,93,14,93,132,93...
Name: 3629, dtype: object
ID                                                             11027
IP_SPLIT_RESULT                                          39.7.51.175
SEQUENCE_PARSE     <93,93,32,93,32,93,32,93,63,178,132,178,132,17...
Name: 3630, dtype: object
ID                                         11028
IP_SPLIT_RESULT                   175.119.12.105
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 3631, dtype: object
ID                                                             11029
IP_SPLIT_RESULT                                       118.32.183.181
SEQUENCE_PARSE     <93,93,132,93,93,132,93,93,32,32,32,93,93,32,9...
Name: 3632, dtype: object
ID                          11030
IP_SPLIT_RESULT    49.161.201.222
SEQUENCE_PARSE                <1>
Name: 3633, dtype: object
ID                                                             11031
IP_SPLIT_RESULT                                        49.166.194.69
SEQUENCE_PARSE     <93,132,93,8,132,132,158,160,132,132,132,93,11...
Name: 3634, dtype: object
ID                                                         11032
IP_SPLIT_RESULT                                    110.70.46.208
SEQUENCE_PARSE     <1,132,93,132,93,90,1,90,132,113,132,1,130,1>
Name: 3635, dtype: object
ID                      11033
IP_SPLIT_RESULT    188.70.9.5
SEQUENCE_PARSE            <1>
Name: 3636, dtype: object
ID                          11034
IP_SPLIT_RESULT    117.111.18.107
SEQUENCE_PARSE           <31,113>
Name: 3637, dtype: object
ID                           11035
IP_SPLIT_RESULT    221.143.114.207
SEQUENCE_PARSE                 <1>
Name: 3638, dtype: object
ID                                                             11036
IP_SPLIT_RESULT                                         223.62.22.17
SEQUENCE_PARSE     <1,113,132,113,93,30,93,32,93,132,132,132,93,1...
Name: 3639, dtype: object
ID                                                             11037
IP_SPLIT_RESULT                                         39.114.21.41
SEQUENCE_PARSE     <39,164,39,164,132,132,132,1,5,1,93,93,14,93,1...
Name: 3640, dtype: object
ID                                           11038
IP_SPLIT_RESULT                     223.39.145.168
SEQUENCE_PARSE     <1,31,113,1,132,113,132,31,113>
Name: 3641, dtype: object
ID                         11039
IP_SPLIT_RESULT    124.62.231.94
SEQUENCE_PARSE               <1>
Name: 3642, dtype: object
ID                                   11040
IP_SPLIT_RESULT              211.207.71.99
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 3643, dtype: object
ID                                                        11041
IP_SPLIT_RESULT                                  223.62.203.116
SEQUENCE_PARSE     <1,90,92,89,80,26,130,130,63,132,92,164,132>
Name: 3644, dtype: object
ID                          11042
IP_SPLIT_RESULT    180.71.103.214
SEQUENCE_PARSE                <1>
Name: 3645, dtype: object
ID                         11043
IP_SPLIT_RESULT    116.33.223.53
SEQUENCE_PARSE               <1>
Name: 3646, dtype: object
ID                                         11044
IP_SPLIT_RESULT                    211.211.10.93
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 3647, dtype: object
ID                                               11045
IP_SPLIT_RESULT                         223.62.203.116
SEQUENCE_PARSE     <87,39,39,164,130,130,164,164,81,1>
Name: 3648, dtype: object
ID                          11046
IP_SPLIT_RESULT    221.153.14.140
SEQUENCE_PARSE                <1>
Name: 3649, dtype: object
ID                                                        11047
IP_SPLIT_RESULT                                  125.180.167.74
SEQUENCE_PARSE     <1,132,93,132,93,132,113,132,113,113,113,87>
Name: 3650, dtype: object
ID                          11048
IP_SPLIT_RESULT    125.180.167.74
SEQUENCE_PARSE         <90,92,87>
Name: 3651, dtype: object
ID                                                             11049
IP_SPLIT_RESULT                                       106.253.102.14
SEQUENCE_PARSE     <80,29,132,113,132,113,132,1,93,132,93,132,93,...
Name: 3652, dtype: object
ID                                                             11050
IP_SPLIT_RESULT                                        110.70.46.208
SEQUENCE_PARSE     <1,90,29,113,113,31,113,31,113,132,132,81,132,...
Name: 3653, dtype: object
ID                        11051
IP_SPLIT_RESULT    118.33.95.39
SEQUENCE_PARSE              <1>
Name: 3654, dtype: object
ID                         11052
IP_SPLIT_RESULT    27.118.65.235
SEQUENCE_PARSE               <1>
Name: 3655, dtype: object
ID                          11053
IP_SPLIT_RESULT    49.173.159.125
SEQUENCE_PARSE                <1>
Name: 3656, dtype: object
ID                                 11054
IP_SPLIT_RESULT             110.70.59.51
SEQUENCE_PARSE     <1,93,93,93,93,93,93>
Name: 3657, dtype: object
ID                                                             11055
IP_SPLIT_RESULT                                        49.166.194.50
SEQUENCE_PARSE     <1,63,89,195,132,113,113,132,113,113,31,113,11...
Name: 3658, dtype: object
ID                                                             11056
IP_SPLIT_RESULT                                       175.197.78.117
SEQUENCE_PARSE     <31,113,31,113,113,113,31,113,31,113,31,113,31...
Name: 3659, dtype: object
ID                                   11057
IP_SPLIT_RESULT             222.232.41.217
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 3660, dtype: object
ID                          11058
IP_SPLIT_RESULT    182.228.150.70
SEQUENCE_PARSE                <1>
Name: 3661, dtype: object
ID                         11059
IP_SPLIT_RESULT    211.34.74.228
SEQUENCE_PARSE               <1>
Name: 3662, dtype: object
ID                          11060
IP_SPLIT_RESULT    125.179.155.34
SEQUENCE_PARSE                <1>
Name: 3663, dtype: object
ID                          11061
IP_SPLIT_RESULT    221.148.218.37
SEQUENCE_PARSE            <1,5,1>
Name: 3664, dtype: object
ID                        11062
IP_SPLIT_RESULT    117.111.5.16
SEQUENCE_PARSE              <1>
Name: 3665, dtype: object
ID                                                             11063
IP_SPLIT_RESULT                                       223.62.202.242
SEQUENCE_PARSE     <1,31,113,1,132,93,132,93,93,93,93,93,93,132,9...
Name: 3666, dtype: object
ID                                                             11064
IP_SPLIT_RESULT                                        183.98.39.230
SEQUENCE_PARSE     <1,87,23,90,132,113,132,132,93,132,1,90,1,90,9...
Name: 3667, dtype: object
ID                           11065
IP_SPLIT_RESULT    218.235.197.159
SEQUENCE_PARSE                 <1>
Name: 3668, dtype: object
ID                           11066
IP_SPLIT_RESULT      211.34.74.228
SEQUENCE_PARSE     <132,93,132,93>
Name: 3669, dtype: object
ID                           11067
IP_SPLIT_RESULT    115.126.216.143
SEQUENCE_PARSE                 <1>
Name: 3670, dtype: object
ID                          11068
IP_SPLIT_RESULT    182.231.58.198
SEQUENCE_PARSE                <1>
Name: 3671, dtype: object
ID                         11069
IP_SPLIT_RESULT    58.239.128.89
SEQUENCE_PARSE               <1>
Name: 3672, dtype: object
ID                         11070
IP_SPLIT_RESULT    116.42.46.207
SEQUENCE_PARSE       <1,90,92,1>
Name: 3673, dtype: object
ID                                                             11071
IP_SPLIT_RESULT                                        121.163.21.77
SEQUENCE_PARSE     <39,164,1,132,81,212,132,132,132,158,160,132,9...
Name: 3674, dtype: object
ID                                                             11072
IP_SPLIT_RESULT                                        121.163.21.77
SEQUENCE_PARSE     <39,164,164,93,93,93,212,14,93,132,31,113,132,...
Name: 3675, dtype: object
ID                                                             11073
IP_SPLIT_RESULT                                       117.111.13.207
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,132,93,132,93,9...
Name: 3676, dtype: object
ID                           11074
IP_SPLIT_RESULT    175.211.166.167
SEQUENCE_PARSE                 <1>
Name: 3677, dtype: object
ID                         11075
IP_SPLIT_RESULT    121.161.80.37
SEQUENCE_PARSE               <1>
Name: 3678, dtype: object
ID                                                             11076
IP_SPLIT_RESULT                                      175.203.119.234
SEQUENCE_PARSE     <9,132,132,93,132,93,93,93,32,93,93,93,32,93,3...
Name: 3679, dtype: object
ID                          11077
IP_SPLIT_RESULT    117.111.13.207
SEQUENCE_PARSE               <90>
Name: 3680, dtype: object
ID                         11078
IP_SPLIT_RESULT    125.132.32.83
SEQUENCE_PARSE               <1>
Name: 3681, dtype: object
ID                                                             11079
IP_SPLIT_RESULT                                       175.120.19.120
SEQUENCE_PARSE     <1,93,132,93,132,93,93,113,93,93,93,93,132,162...
Name: 3682, dtype: object
ID                         11080
IP_SPLIT_RESULT    87.147.45.185
SEQUENCE_PARSE               <1>
Name: 3683, dtype: object
ID                                                             11081
IP_SPLIT_RESULT                                      211.178.117.202
SEQUENCE_PARSE     <39,164,1,63,195,63,63,132,132,93,132,93,132,1...
Name: 3684, dtype: object
ID                          11082
IP_SPLIT_RESULT    221.138.73.222
SEQUENCE_PARSE            <1,5,1>
Name: 3685, dtype: object
ID                           11083
IP_SPLIT_RESULT    211.186.252.202
SEQUENCE_PARSE                 <1>
Name: 3686, dtype: object
ID                                                             11084
IP_SPLIT_RESULT                                       223.33.165.156
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,31,113,132,...
Name: 3687, dtype: object
ID                            11085
IP_SPLIT_RESULT     211.178.117.202
SEQUENCE_PARSE     <89,130,130,191>
Name: 3688, dtype: object
ID                                                             11086
IP_SPLIT_RESULT                                      115.161.158.111
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,93,93,93,93,32,93...
Name: 3689, dtype: object
ID                          11087
IP_SPLIT_RESULT    116.33.185.119
SEQUENCE_PARSE        <1,90,1,90>
Name: 3690, dtype: object
ID                                                             11088
IP_SPLIT_RESULT                                       116.127.135.58
SEQUENCE_PARSE     <32,93,32,93,132,162,33,164,63,164,164,164,1,6...
Name: 3691, dtype: object
ID                                                             11089
IP_SPLIT_RESULT                                       218.154.115.66
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,113,132,113,113,113...
Name: 3692, dtype: object
ID                                                             11090
IP_SPLIT_RESULT                                       116.127.135.58
SEQUENCE_PARSE     <166,162,132,93,132,93,93,93,93,93,32,93,132,1...
Name: 3693, dtype: object
ID                         11091
IP_SPLIT_RESULT    223.33.164.81
SEQUENCE_PARSE               <1>
Name: 3694, dtype: object
ID                                                             11092
IP_SPLIT_RESULT                                       222.109.50.181
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 3695, dtype: object
ID                                            11093
IP_SPLIT_RESULT                     211.177.217.209
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,92>
Name: 3696, dtype: object
ID                        11094
IP_SPLIT_RESULT    117.111.26.2
SEQUENCE_PARSE     <39,130,164>
Name: 3697, dtype: object
ID                        11095
IP_SPLIT_RESULT    117.111.26.2
SEQUENCE_PARSE            <164>
Name: 3698, dtype: object
ID                                               11096
IP_SPLIT_RESULT                          58.231.174.62
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93>
Name: 3699, dtype: object
ID                          11097
IP_SPLIT_RESULT    116.33.185.119
SEQUENCE_PARSE          <1,90,92>
Name: 3700, dtype: object
ID                          11098
IP_SPLIT_RESULT    175.223.33.199
SEQUENCE_PARSE              <113>
Name: 3701, dtype: object
ID                         11099
IP_SPLIT_RESULT    220.123.98.98
SEQUENCE_PARSE               <1>
Name: 3702, dtype: object
ID                                                             11100
IP_SPLIT_RESULT                                      211.177.217.209
SEQUENCE_PARSE     <90,1,90,1,130,130,130,130,130,130,1,90,92,90,...
Name: 3703, dtype: object
ID                                                   11101
IP_SPLIT_RESULT                              42.82.124.219
SEQUENCE_PARSE     <29,113,132,113,132,29,132,113,132,113>
Name: 3704, dtype: object
ID                         11102
IP_SPLIT_RESULT    124.58.61.132
SEQUENCE_PARSE               <1>
Name: 3705, dtype: object
ID                          11103
IP_SPLIT_RESULT    218.24.223.247
SEQUENCE_PARSE                <1>
Name: 3706, dtype: object
ID                                                             11104
IP_SPLIT_RESULT                                      210.178.130.134
SEQUENCE_PARSE     <1,130,130,1,132,113,132,31,113,1,132,113,132,...
Name: 3707, dtype: object
ID                          11105
IP_SPLIT_RESULT    223.33.160.122
SEQUENCE_PARSE                <1>
Name: 3708, dtype: object
ID                          11106
IP_SPLIT_RESULT    211.33.205.134
SEQUENCE_PARSE                <1>
Name: 3709, dtype: object
ID                          11107
IP_SPLIT_RESULT    112.144.234.67
SEQUENCE_PARSE                <1>
Name: 3710, dtype: object
ID                        11108
IP_SPLIT_RESULT    61.250.153.7
SEQUENCE_PARSE              <1>
Name: 3711, dtype: object
ID                        11109
IP_SPLIT_RESULT    61.76.93.138
SEQUENCE_PARSE          <1,5,1>
Name: 3712, dtype: object
ID                                                             11110
IP_SPLIT_RESULT                                        114.204.41.26
SEQUENCE_PARSE     <1,132,93,132,93,1,130,132,93,93,132,32,93,113...
Name: 3713, dtype: object
ID                           11111
IP_SPLIT_RESULT    123.213.175.105
SEQUENCE_PARSE                 <1>
Name: 3714, dtype: object
ID                                                             11112
IP_SPLIT_RESULT                                       119.200.33.110
SEQUENCE_PARSE     <1,90,92,90,92,87,89,132,113,113,132,113,113,1...
Name: 3715, dtype: object
ID                                                             11113
IP_SPLIT_RESULT                                        114.204.41.26
SEQUENCE_PARSE     <132,113,132,113,31,113,113,113,31,113,31,113,...
Name: 3716, dtype: object
ID                                                             11114
IP_SPLIT_RESULT                                        58.236.244.49
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 3717, dtype: object
ID                                                             11115
IP_SPLIT_RESULT                                        58.236.244.49
SEQUENCE_PARSE     <132,132,132,132,113,113,113,113,113,90,92,87,...
Name: 3718, dtype: object
ID                                         11116
IP_SPLIT_RESULT                   106.102.130.26
SEQUENCE_PARSE     <1,132,113,113,132,113,113,1>
Name: 3719, dtype: object
ID                        11117
IP_SPLIT_RESULT    175.119.6.42
SEQUENCE_PARSE              <1>
Name: 3720, dtype: object
ID                                                             11118
IP_SPLIT_RESULT                                      121.175.118.146
SEQUENCE_PARSE     <1,132,93,132,93,93,93,1,90,92,93,93,93,93,32,...
Name: 3721, dtype: object
ID                                                             11119
IP_SPLIT_RESULT                                       119.200.33.110
SEQUENCE_PARSE     <25,80,29,132,113,132,113,113,113,31,113,113,1...
Name: 3722, dtype: object
ID                                                             11120
IP_SPLIT_RESULT                                       175.223.10.160
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,90,132,93,132,93,...
Name: 3723, dtype: object
ID                           11121
IP_SPLIT_RESULT        14.62.0.242
SEQUENCE_PARSE     <1,93,93,93,93>
Name: 3724, dtype: object
ID                       11122
IP_SPLIT_RESULT    14.62.0.242
SEQUENCE_PARSE       <132,132>
Name: 3725, dtype: object
ID                        11123
IP_SPLIT_RESULT    66.249.64.76
SEQUENCE_PARSE          <1,5,1>
Name: 3726, dtype: object
ID                        11124
IP_SPLIT_RESULT    66.249.64.80
SEQUENCE_PARSE              <1>
Name: 3727, dtype: object
ID                          11125
IP_SPLIT_RESULT    175.223.10.160
SEQUENCE_PARSE               <93>
Name: 3728, dtype: object
ID                                                             11126
IP_SPLIT_RESULT                                      121.175.118.146
SEQUENCE_PARSE     <87,89,80,30,132,93,132,93,93,93,93,93,93,93,9...
Name: 3729, dtype: object
ID                                                             11127
IP_SPLIT_RESULT                                      121.142.130.120

ID                           11280
IP_SPLIT_RESULT    125.209.235.181
SEQUENCE_PARSE             <1,5,1>
Name: 3883, dtype: object
ID                           11281
IP_SPLIT_RESULT    125.209.235.171
SEQUENCE_PARSE             <1,5,1>
Name: 3884, dtype: object
ID                           11282
IP_SPLIT_RESULT    125.209.235.167
SEQUENCE_PARSE                 <1>
Name: 3885, dtype: object
ID                         11283
IP_SPLIT_RESULT    72.14.199.100
SEQUENCE_PARSE               <5>
Name: 3886, dtype: object
ID                         11284
IP_SPLIT_RESULT    72.14.199.103
SEQUENCE_PARSE               <1>
Name: 3887, dtype: object
ID                                   11285
IP_SPLIT_RESULT             211.249.42.246
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1>
Name: 3888, dtype: object
ID                         11286
IP_SPLIT_RESULT    212.51.143.37
SEQUENCE_PARSE               <1>
Name: 3889, dtype: object
ID                           11287
IP_SPLIT_RESULT    180.230.185.248
SEQUENCE_PARSE                 <1>
Name: 3890, dtype: object
ID                       11288
IP_SPLIT_RESULT    39.120.8.84
SEQUENCE_PARSE            <90>
Name: 3891, dtype: object
ID                                                             11289
IP_SPLIT_RESULT                                       211.36.135.181
SEQUENCE_PARSE     <93,93,32,93,32,93,32,93,93,32,93,32,93,93,32,...
Name: 3892, dtype: object
ID                          11290
IP_SPLIT_RESULT    223.55.171.172
SEQUENCE_PARSE                <1>
Name: 3893, dtype: object
ID                                                             11291
IP_SPLIT_RESULT                                         223.38.8.188
SEQUENCE_PARSE     <132,113,132,113,31,113,31,113,113,113,31,113,...
Name: 3894, dtype: object
ID                                                           11292
IP_SPLIT_RESULT                                       223.62.163.7
SEQUENCE_PARSE     <92,90,92,113,1,93,132,132,132,93,132,93,93,93>
Name: 3895, dtype: object
ID                        11293
IP_SPLIT_RESULT    223.38.8.188
SEQUENCE_PARSE           <31,1>
Name: 3896, dtype: object
ID                           11294
IP_SPLIT_RESULT    125.209.235.182
SEQUENCE_PARSE             <1,5,1>
Name: 3897, dtype: object
ID                           11295
IP_SPLIT_RESULT    125.209.235.175
SEQUENCE_PARSE             <1,5,1>
Name: 3898, dtype: object
ID                                         11296
IP_SPLIT_RESULT                   218.234.84.169
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 3899, dtype: object
ID                         11297
IP_SPLIT_RESULT    211.201.76.37
SEQUENCE_PARSE             <5,1>
Name: 3900, dtype: object
ID                                                             11298
IP_SPLIT_RESULT                                        119.71.139.74
SEQUENCE_PARSE     <1,63,132,113,113,132,113,113,31,113,113,113,1...
Name: 3901, dtype: object
ID                        11299
IP_SPLIT_RESULT    66.249.79.71
SEQUENCE_PARSE              <1>
Name: 3902, dtype: object
ID                                                11300
IP_SPLIT_RESULT                            110.70.54.74
SEQUENCE_PARSE     <31,113,31,113,31,113,93,132,132,93>
Name: 3903, dtype: object
ID                                         11301
IP_SPLIT_RESULT                  125.138.106.247
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93>
Name: 3904, dtype: object
ID                          11302
IP_SPLIT_RESULT    115.137.247.80
SEQUENCE_PARSE            <1,5,1>
Name: 3905, dtype: object
ID                        11303
IP_SPLIT_RESULT    211.36.142.8
SEQUENCE_PARSE              <1>
Name: 3906, dtype: object
ID                                                             11304
IP_SPLIT_RESULT                                           59.7.59.14
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,1,130,130,130,130...
Name: 3907, dtype: object
ID                                                             11305
IP_SPLIT_RESULT                                       117.111.28.139
SEQUENCE_PARSE     <132,132,158,160,132,132,158,160,132,132,113,1...
Name: 3908, dtype: object
ID                                                             11306
IP_SPLIT_RESULT                                           59.7.59.14
SEQUENCE_PARSE     <1,93,132,93,132,132,93,132,93,93,93,63,89,198...
Name: 3909, dtype: object
ID                                                             11307
IP_SPLIT_RESULT                                       117.111.28.139
SEQUENCE_PARSE     <29,132,113,132,113,31,113,31,113,113,113,31,1...
Name: 3910, dtype: object
ID                          11308
IP_SPLIT_RESULT    211.186.141.13
SEQUENCE_PARSE                <1>
Name: 3911, dtype: object
ID                         11309
IP_SPLIT_RESULT    91.43.113.188
SEQUENCE_PARSE               <1>
Name: 3912, dtype: object
ID                        11310
IP_SPLIT_RESULT    164.52.0.141
SEQUENCE_PARSE              <1>
Name: 3913, dtype: object
ID                                                             11311
IP_SPLIT_RESULT                                       211.186.141.13
SEQUENCE_PARSE     <1,113,132,113,132,113,113,113,113,113,113,113...
Name: 3914, dtype: object
ID                                          11312
IP_SPLIT_RESULT                    121.184.14.132
SEQUENCE_PARSE     <39,164,130,164,39,164,31,113>
Name: 3915, dtype: object
ID                                              11313
IP_SPLIT_RESULT                          223.62.163.7
SEQUENCE_PARSE     <92,1,5,1,5,1,132,93,132,93,93,93>
Name: 3916, dtype: object
ID                      11314
IP_SPLIT_RESULT    1.210.6.29
SEQUENCE_PARSE      <1,90,27>
Name: 3917, dtype: object
ID                           11315
IP_SPLIT_RESULT     121.184.14.132
SEQUENCE_PARSE     <164,31,31,113>
Name: 3918, dtype: object
ID                                                             11316
IP_SPLIT_RESULT                                      121.171.232.175
SEQUENCE_PARSE     <1,132,132,158,160,132,132,93,132,93,93,93,93,...
Name: 3919, dtype: object
ID                                                             11317
IP_SPLIT_RESULT                                        117.111.4.112
SEQUENCE_PARSE     <1,132,113,113,132,113,113,93,32,93,93,32,93,3...
Name: 3920, dtype: object
ID                                          11318
IP_SPLIT_RESULT                    211.36.143.226
SEQUENCE_PARSE     <30,132,93,132,93,93,93,32,93>
Name: 3921, dtype: object
ID                      11319
IP_SPLIT_RESULT    1.210.6.29
SEQUENCE_PARSE           <92>
Name: 3922, dtype: object
ID                                                             11320
IP_SPLIT_RESULT                                      121.171.232.175
SEQUENCE_PARSE     <32,32,93,93,113,14,93,93,32,93,93,93,93,93,93...
Name: 3923, dtype: object
ID                                                             11321
IP_SPLIT_RESULT                                         223.62.202.2
SEQUENCE_PARSE     <1,39,164,164,132,23,92,87,89,91,26,1,132,93,1...
Name: 3924, dtype: object
ID                             11322
IP_SPLIT_RESULT      221.161.224.170
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 3925, dtype: object
ID                          11323
IP_SPLIT_RESULT    223.39.141.182
SEQUENCE_PARSE                <1>
Name: 3926, dtype: object
ID                        11324
IP_SPLIT_RESULT    1.211.74.135
SEQUENCE_PARSE     <29,113,113>
Name: 3927, dtype: object
ID                        11325
IP_SPLIT_RESULT    1.211.74.135
SEQUENCE_PARSE         <29,132>
Name: 3928, dtype: object
ID                                11326
IP_SPLIT_RESULT            1.211.74.135
SEQUENCE_PARSE     <113,132,31,113,113>
Name: 3929, dtype: object
ID                           11327
IP_SPLIT_RESULT     218.235.71.119
SEQUENCE_PARSE     <1,132,132,132>
Name: 3930, dtype: object
ID                         11328
IP_SPLIT_RESULT    223.62.219.48
SEQUENCE_PARSE        <39,164,1>
Name: 3931, dtype: object
ID                          11329
IP_SPLIT_RESULT    203.229.82.247
SEQUENCE_PARSE                <1>
Name: 3932, dtype: object
ID                         11330
IP_SPLIT_RESULT    125.137.54.58
SEQUENCE_PARSE             <5,1>
Name: 3933, dtype: object
ID                                                             11331
IP_SPLIT_RESULT                                        223.62.219.48
SEQUENCE_PARSE     <1,63,132,132,158,160,132,132,132,132,81,1,132...
Name: 3934, dtype: object
ID                                                             11332
IP_SPLIT_RESULT                                       211.36.151.184
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,93,93,93,93,1,164...
Name: 3935, dtype: object
ID                                                             11333
IP_SPLIT_RESULT                                       211.36.151.184
SEQUENCE_PARSE     <93,132,93,132,132,93,132,93,93,93,1,93,132,13...
Name: 3936, dtype: object
ID                         11334
IP_SPLIT_RESULT    223.38.10.195
SEQUENCE_PARSE               <1>
Name: 3937, dtype: object
ID                                                             11335
IP_SPLIT_RESULT                                       203.229.82.247
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,132,93,132,93,9...
Name: 3938, dtype: object
ID                                     11336
IP_SPLIT_RESULT                211.48.46.156
SEQUENCE_PARSE     <1,63,89,113,113,113,113>
Name: 3939, dtype: object
ID                                                             11337
IP_SPLIT_RESULT                                        211.48.46.156
SEQUENCE_PARSE     <195,132,113,132,113,31,113,31,113,113,113,113...
Name: 3940, dtype: object
ID                                                             11338
IP_SPLIT_RESULT                                        106.102.0.139
SEQUENCE_PARSE     <39,164,63,89,195,39,164,63,164,93,212,93,14,1...
Name: 3941, dtype: object
ID                          11339
IP_SPLIT_RESULT    112.220.236.98
SEQUENCE_PARSE                <1>
Name: 3942, dtype: object
ID                                                             11340
IP_SPLIT_RESULT                                         1.177.145.32
SEQUENCE_PARSE     <29,132,113,132,113,113,113,31,113,31,113,31,1...
Name: 3943, dtype: object
ID                                               11341
IP_SPLIT_RESULT                             39.7.47.69
SEQUENCE_PARSE     <1,132,93,93,132,93,93,93,93,93,93>
Name: 3944, dtype: object
ID                                               11342
IP_SPLIT_RESULT                           110.70.55.55
SEQUENCE_PARSE     <90,92,1,132,93,132,1,132,93,132,1>
Name: 3945, dtype: object
ID                                                             11343
IP_SPLIT_RESULT                                      112.187.150.122
SEQUENCE_PARSE     <1,130,113,113,113,14,113,113,113,14,113,113,1...
Name: 3946, dtype: object
ID                          11344
IP_SPLIT_RESULT    220.77.109.234
SEQUENCE_PARSE                <1>
Name: 3947, dtype: object
ID                         11345
IP_SPLIT_RESULT    125.128.69.77
SEQUENCE_PARSE            <1,90>
Name: 3948, dtype: object
ID                                                             11346
IP_SPLIT_RESULT                                      112.187.150.122
SEQUENCE_PARSE     <113,113,14,113,113,113,14,113,93,93,93,93,32,...
Name: 3949, dtype: object
ID                                                             11347
IP_SPLIT_RESULT                                        112.169.63.66
SEQUENCE_PARSE     <30,132,93,132,93,93,93,32,93,93,93,32,93,32,9...
Name: 3950, dtype: object
ID                              11348
IP_SPLIT_RESULT          110.70.55.55
SEQUENCE_PARSE     <93,132,132,93,93>
Name: 3951, dtype: object
ID                         11349
IP_SPLIT_RESULT    117.111.2.191
SEQUENCE_PARSE               <1>
Name: 3952, dtype: object
ID                        11350
IP_SPLIT_RESULT    66.249.79.68
SEQUENCE_PARSE              <1>
Name: 3953, dtype: object
ID                        11351
IP_SPLIT_RESULT    66.249.79.65
SEQUENCE_PARSE              <1>
Name: 3954, dtype: object
ID                         11352
IP_SPLIT_RESULT    210.99.172.34
SEQUENCE_PARSE           <1,5,1>
Name: 3955, dtype: object
ID                                                         11353
IP_SPLIT_RESULT                                    223.62.169.56
SEQUENCE_PARSE     <1,113,132,132,31,113,113,31,113,113,1,32,93>
Name: 3956, dtype: object
ID                          11354
IP_SPLIT_RESULT    203.207.21.102
SEQUENCE_PARSE          <1,90,92>
Name: 3957, dtype: object
ID                                 11355
IP_SPLIT_RESULT           106.245.179.69
SEQUENCE_PARSE     <1,5,1,132,1,5,1,132>
Name: 3958, dtype: object
ID                         11356
IP_SPLIT_RESULT    117.111.2.191
SEQUENCE_PARSE               <1>
Name: 3959, dtype: object
ID                           11357
IP_SPLIT_RESULT    175.192.163.106
SEQUENCE_PARSE                 <5>
Name: 3960, dtype: object
ID                           11358
IP_SPLIT_RESULT    175.192.163.106
SEQUENCE_PARSE                 <1>
Name: 3961, dtype: object
ID                           11359
IP_SPLIT_RESULT    175.192.163.106
SEQUENCE_PARSE                 <1>
Name: 3962, dtype: object
ID                                                             11360
IP_SPLIT_RESULT                                        112.169.63.66
SEQUENCE_PARSE     <162,93,32,93,93,93,32,93,32,93,132,162,166,16...
Name: 3963, dtype: object
ID                           11361
IP_SPLIT_RESULT    124.197.202.206
SEQUENCE_PARSE     <39,164,39,164>
Name: 3964, dtype: object
ID                           11362
IP_SPLIT_RESULT    114.207.158.139
SEQUENCE_PARSE                 <1>
Name: 3965, dtype: object
ID                                                        11363
IP_SPLIT_RESULT                                  219.255.207.77
SEQUENCE_PARSE     <39,164,130,130,63,89,195,39,164,130,63,164>
Name: 3966, dtype: object
ID                           11364
IP_SPLIT_RESULT    116.127.241.106
SEQUENCE_PARSE               <5,1>
Name: 3967, dtype: object
ID                         11365
IP_SPLIT_RESULT    182.209.93.76
SEQUENCE_PARSE             <5,1>
Name: 3968, dtype: object
ID                          11366
IP_SPLIT_RESULT    114.200.86.199
SEQUENCE_PARSE                <1>
Name: 3969, dtype: object
ID                                               11367
IP_SPLIT_RESULT                             39.7.55.29
SEQUENCE_PARSE     <1,132,132,158,160,132,132,113,132>
Name: 3970, dtype: object
ID                         11368
IP_SPLIT_RESULT    210.220.67.73
SEQUENCE_PARSE             <5,1>
Name: 3971, dtype: object
ID                          11369
IP_SPLIT_RESULT    54.198.232.186
SEQUENCE_PARSE                <1>
Name: 3972, dtype: object
ID                           11370
IP_SPLIT_RESULT    175.125.103.114
SEQUENCE_PARSE                 <1>
Name: 3973, dtype: object
ID                       11371
IP_SPLIT_RESULT    54.81.36.64
SEQUENCE_PARSE             <1>
Name: 3974, dtype: object
ID                        11372
IP_SPLIT_RESULT    54.161.54.88
SEQUENCE_PARSE              <1>
Name: 3975, dtype: object
ID                         11373
IP_SPLIT_RESULT    54.196.21.243
SEQUENCE_PARSE               <1>
Name: 3976, dtype: object
ID                                                             11374
IP_SPLIT_RESULT                                       117.111.27.107
SEQUENCE_PARSE     <1,90,92,90,92,89,80,29,132,113,132,113,132,13...
Name: 3977, dtype: object
ID                                           11375
IP_SPLIT_RESULT                    182.230.207.113
SEQUENCE_PARSE     <1,130,130,130,132,132,158,160>
Name: 3978, dtype: object
ID                          11376
IP_SPLIT_RESULT    116.127.192.81
SEQUENCE_PARSE                <1>
Name: 3979, dtype: object
ID                        11377
IP_SPLIT_RESULT    59.15.79.151
SEQUENCE_PARSE              <1>
Name: 3980, dtype: object
ID                               11378
IP_SPLIT_RESULT          106.247.0.166
SEQUENCE_PARSE     <39,164,63,164,164>
Name: 3981, dtype: object
ID                          11379
IP_SPLIT_RESULT    222.233.139.44
SEQUENCE_PARSE              <5,1>
Name: 3982, dtype: object
ID                         11380
IP_SPLIT_RESULT    221.145.29.40
SEQUENCE_PARSE       <1,5,1,132>
Name: 3983, dtype: object
ID                         11381
IP_SPLIT_RESULT    195.62.53.168
SEQUENCE_PARSE               <1>
Name: 3984, dtype: object
ID                                                             11382
IP_SPLIT_RESULT                                        223.33.164.48
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,93,132,93,93,93,93,...
Name: 3985, dtype: object
ID                         11383
IP_SPLIT_RESULT    221.145.29.40
SEQUENCE_PARSE         <1,90,92>
Name: 3986, dtype: object
ID                                         11384
IP_SPLIT_RESULT                   117.111.17.177
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93>
Name: 3987, dtype: object
ID                                                             11385
IP_SPLIT_RESULT                                        175.223.22.91
SEQUENCE_PARSE     <1,132,93,132,93,93,93,63,89,1,130,130,130,191...
Name: 3988, dtype: object
ID                                                             11386
IP_SPLIT_RESULT                                        117.111.1.135
SEQUENCE_PARSE     <164,132,158,160,1,32,93,32,93,132,162,166,162...
Name: 3989, dtype: object
ID                                                             11387
IP_SPLIT_RESULT                                       175.223.26.145
SEQUENCE_PARSE     <113,113,132,113,113,132,113,113,132,113,132,1...
Name: 3990, dtype: object
ID                         11388
IP_SPLIT_RESULT    13.229.91.101
SEQUENCE_PARSE       <1,5,1,5,1>
Name: 3991, dtype: object
ID                          11389
IP_SPLIT_RESULT    117.111.27.107
SEQUENCE_PARSE               <87>
Name: 3992, dtype: object
ID                                                11390
IP_SPLIT_RESULT                           175.223.22.91
SEQUENCE_PARSE     <63,89,132,132,93,93,93,93,93,93,32>
Name: 3993, dtype: object
ID                         11391
IP_SPLIT_RESULT    125.128.69.77
SEQUENCE_PARSE       <23,90,5,1>
Name: 3994, dtype: object
ID                                                             11392
IP_SPLIT_RESULT                                      210.216.159.200
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 3995, dtype: object
ID                                                             11393
IP_SPLIT_RESULT                                        223.33.164.48
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93,1,132,1,132,113,132,1...
Name: 3996, dtype: object
ID                          11394
IP_SPLIT_RESULT    175.193.182.65
SEQUENCE_PARSE      <90,92,87,89>
Name: 3997, dtype: object
ID                                                             11395
IP_SPLIT_RESULT                                       175.119.245.94
SEQUENCE_PARSE     <29,132,113,1,90,92,87,89,80,24,212,132,212,11...
Name: 3998, dtype: object
ID                           11396
IP_SPLIT_RESULT     116.34.118.211
SEQUENCE_PARSE     <1,5,1,5,1,132>
Name: 3999, dtype: object
ID                                                             11397
IP_SPLIT_RESULT                                       175.223.45.157
SEQUENCE_PARSE     <1,132,93,132,93,93,164,132,1,132,113,132,113,...
Name: 4000, dtype: object
ID                         11398
IP_SPLIT_RESULT    175.124.46.10
SEQUENCE_PARSE            <39,1>
Name: 4001, dtype: object
ID                         11399
IP_SPLIT_RESULT    175.124.46.10
SEQUENCE_PARSE        <164,1,63>
Name: 4002, dtype: object
ID                                                             11400
IP_SPLIT_RESULT                                         58.236.58.73
SEQUENCE_PARSE     <1,5,1,132,132,93,93,93,93,93,132,93,132,93,93...
Name: 4003, dtype: object
ID                                                             11401

ID                                                             24191
IP_SPLIT_RESULT                                          1.249.31.86
SEQUENCE_PARSE     <1,90,87,80,29,132,113,132,113,132,130,130,130...
Name: 4161, dtype: object
ID                                                             24192
IP_SPLIT_RESULT                                        182.224.71.71
SEQUENCE_PARSE     <132,93,132,93,132,93,132,93,93,93,93,93,93,93...
Name: 4162, dtype: object
ID                                 24193
IP_SPLIT_RESULT          112.217.205.155
SEQUENCE_PARSE     <1,32,32,32,32,32,32>
Name: 4163, dtype: object
ID                                                             24194
IP_SPLIT_RESULT                                       58.143.158.148
SEQUENCE_PARSE     <132,132,132,158,160,132,132,93,132,93,93,93,3...
Name: 4164, dtype: object
ID                         24195
IP_SPLIT_RESULT    220.85.93.135
SEQUENCE_PARSE               <1>
Name: 4165, dtype: object
ID                         24196
IP_SPLIT_RESULT    223.62.219.89
SEQUENCE_PARSE              <92>
Name: 4166, dtype: object
ID                                                             24197
IP_SPLIT_RESULT                                        223.62.216.71
SEQUENCE_PARSE     <32,93,32,93,113,132,93,132,132,132,158,160,93...
Name: 4167, dtype: object
ID                                                             24198
IP_SPLIT_RESULT                                        175.117.4.121
SEQUENCE_PARSE     <1,5,1,5,1,5,44,44,5,1,5,1,132,93,132,93,93,93...
Name: 4168, dtype: object
ID                         24199
IP_SPLIT_RESULT    39.121.81.180
SEQUENCE_PARSE            <1,90>
Name: 4169, dtype: object
ID                          24200
IP_SPLIT_RESULT    203.226.142.55
SEQUENCE_PARSE            <1,5,1>
Name: 4170, dtype: object
ID                                                             24201
IP_SPLIT_RESULT                                          1.249.31.86
SEQUENCE_PARSE     <92,89,1,87,80,26,132,93,132,93,93,93,93,93,93...
Name: 4171, dtype: object
ID                          24202
IP_SPLIT_RESULT    125.128.69.132
SEQUENCE_PARSE              <5,1>
Name: 4172, dtype: object
ID                                                             24203
IP_SPLIT_RESULT                                         59.9.254.182
SEQUENCE_PARSE     <31,113,31,113,113,113,31,113,31,113,93,93,63,...
Name: 4173, dtype: object
ID                          24204
IP_SPLIT_RESULT    223.33.184.246
SEQUENCE_PARSE         <92,87,89>
Name: 4174, dtype: object
ID                             24205
IP_SPLIT_RESULT        223.39.130.97
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 4175, dtype: object
ID                                                             24206
IP_SPLIT_RESULT                                         59.9.254.182
SEQUENCE_PARSE     <29,132,113,132,113,31,113,31,113,31,113,31,11...
Name: 4176, dtype: object
ID                         24207
IP_SPLIT_RESULT    54.174.92.112
SEQUENCE_PARSE               <1>
Name: 4177, dtype: object
ID                                                             24208
IP_SPLIT_RESULT                                        175.125.46.62
SEQUENCE_PARSE     <113,113,31,113,113,113,113,113,31,113,31,113,...
Name: 4178, dtype: object
ID                                  24209
IP_SPLIT_RESULT              223.62.8.193
SEQUENCE_PARSE     <1,30,132,93,132,93,1>
Name: 4179, dtype: object
ID                        24210
IP_SPLIT_RESULT    180.81.32.77
SEQUENCE_PARSE            <5,1>
Name: 4180, dtype: object
ID                         24211
IP_SPLIT_RESULT    223.39.130.29
SEQUENCE_PARSE               <1>
Name: 4181, dtype: object
ID                                                             24212
IP_SPLIT_RESULT                                        1.218.189.202
SEQUENCE_PARSE     <1,132,93,132,93,63,132,93,132,93,32,93,93,93,...
Name: 4182, dtype: object
ID                                         24213
IP_SPLIT_RESULT                  175.125.205.139
SEQUENCE_PARSE     <5,1,132,1,5,1,132,132,1,5,1>
Name: 4183, dtype: object
ID                           24214
IP_SPLIT_RESULT       223.62.8.193
SEQUENCE_PARSE     <132,93,132,93>
Name: 4184, dtype: object
ID                                                             24215
IP_SPLIT_RESULT                                       223.33.184.246
SEQUENCE_PARSE     <80,29,132,113,132,132,113,132,113,132,113,113...
Name: 4185, dtype: object
ID                                                             24216
IP_SPLIT_RESULT                                      221.148.107.253
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,132,132,93,93,93,93,93>
Name: 4186, dtype: object
ID                           24217
IP_SPLIT_RESULT     223.39.146.183
SEQUENCE_PARSE     <39,164,130,63>
Name: 4187, dtype: object
ID                                                             24218
IP_SPLIT_RESULT                                       211.36.142.194
SEQUENCE_PARSE     <5,1,132,93,132,93,93,132,93,132,1,132,93,132,...
Name: 4188, dtype: object
ID                                                             24219
IP_SPLIT_RESULT                                         117.111.11.8
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 4189, dtype: object
ID                          24220
IP_SPLIT_RESULT    121.166.35.232
SEQUENCE_PARSE                <1>
Name: 4190, dtype: object
ID                                                             24221
IP_SPLIT_RESULT                                         223.38.10.77
SEQUENCE_PARSE     <1,130,132,93,132,93,93,93,93,93,32,93,32,93,3...
Name: 4191, dtype: object
ID                                                             24222
IP_SPLIT_RESULT                                        223.56.28.106
SEQUENCE_PARSE     <39,164,1,132,132,158,160,132,174,172,170,176,...
Name: 4192, dtype: object
ID                                                             24223
IP_SPLIT_RESULT                                       223.33.164.181
SEQUENCE_PARSE     <32,93,93,32,93,32,93,32,93,32,93,32,93,93,93,...
Name: 4193, dtype: object
ID                          24224
IP_SPLIT_RESULT    117.123.147.84
SEQUENCE_PARSE                <1>
Name: 4194, dtype: object
ID                                                        24225
IP_SPLIT_RESULT                                   175.223.38.65
SEQUENCE_PARSE     <1,90,93,132,93,132,93,93,93,93,93,93,93,93>
Name: 4195, dtype: object
ID                                    24226
IP_SPLIT_RESULT               39.121.81.180
SEQUENCE_PARSE     <132,162,93,113,132,162>
Name: 4196, dtype: object
ID                         24227
IP_SPLIT_RESULT    175.223.38.65
SEQUENCE_PARSE              <92>
Name: 4197, dtype: object
ID                                                             24228
IP_SPLIT_RESULT                                       175.223.10.207
SEQUENCE_PARSE     <1,93,132,93,132,93,93,32,93,32,93,32,93,93,93...
Name: 4198, dtype: object
ID                        24229
IP_SPLIT_RESULT    59.12.56.229
SEQUENCE_PARSE              <1>
Name: 4199, dtype: object
ID                          24230
IP_SPLIT_RESULT    175.223.36.194
SEQUENCE_PARSE                <1>
Name: 4200, dtype: object
ID                                                  24231
IP_SPLIT_RESULT                           219.255.212.204
SEQUENCE_PARSE     <1,90,92,87,89,39,164,130,130,164,164>
Name: 4201, dtype: object
ID                               24232
IP_SPLIT_RESULT         175.223.10.207
SEQUENCE_PARSE     <32,32,32,32,32,32>
Name: 4202, dtype: object
ID                                                             24233
IP_SPLIT_RESULT                                        110.70.54.179
SEQUENCE_PARSE     <1,132,93,132,93,178,132,180,1,178,132,180,132...
Name: 4203, dtype: object
ID                                         24234
IP_SPLIT_RESULT                    124.56.48.102
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 4204, dtype: object
ID                          24235
IP_SPLIT_RESULT    112.66.104.240
SEQUENCE_PARSE                <1>
Name: 4205, dtype: object
ID                                                             24236
IP_SPLIT_RESULT                                         14.52.10.171
SEQUENCE_PARSE     <1,132,93,93,132,132,93,93,92,87,89,23,132,93,...
Name: 4206, dtype: object
ID                        24237
IP_SPLIT_RESULT    14.52.10.171
SEQUENCE_PARSE      <132,93,93>
Name: 4207, dtype: object
ID                                24238
IP_SPLIT_RESULT          121.175.86.129
SEQUENCE_PARSE     <29,132,5,113,132,1>
Name: 4208, dtype: object
ID                                                             24239
IP_SPLIT_RESULT                                        223.33.165.19
SEQUENCE_PARSE     <90,1,87,89,80,22,212,132,93,132,93,32,93,32,9...
Name: 4209, dtype: object
ID                        24240
IP_SPLIT_RESULT    223.38.11.54
SEQUENCE_PARSE              <1>
Name: 4210, dtype: object
ID                                                             24241
IP_SPLIT_RESULT                                       112.166.64.119
SEQUENCE_PARSE     <39,164,130,63,89,195,132,132,158,160,164,39,1...
Name: 4211, dtype: object
ID                                                             24242
IP_SPLIT_RESULT                                      219.255.212.204
SEQUENCE_PARSE     <80,29,132,113,132,113,132,132,113,132,113,113...
Name: 4212, dtype: object
ID                          24243
IP_SPLIT_RESULT    210.204.123.45
SEQUENCE_PARSE                <1>
Name: 4213, dtype: object
ID                                                             24244
IP_SPLIT_RESULT                                        165.132.5.130
SEQUENCE_PARSE     <80,29,132,5,113,1,90,92,87,89,80,29,212,132,1...
Name: 4214, dtype: object
ID                                24245
IP_SPLIT_RESULT          223.62.179.112
SEQUENCE_PARSE     <1,93,93,93,93,93,1>
Name: 4215, dtype: object
ID                                    24246
IP_SPLIT_RESULT              175.223.19.167
SEQUENCE_PARSE     <29,90,87,89,189,31,113>
Name: 4216, dtype: object
ID                       24247
IP_SPLIT_RESULT    52.51.33.45
SEQUENCE_PARSE             <1>
Name: 4217, dtype: object
ID                                              24248
IP_SPLIT_RESULT                        218.148.94.225
SEQUENCE_PARSE     <39,164,39,164,164,132,39,164,132>
Name: 4218, dtype: object
ID                                                            24249
IP_SPLIT_RESULT                                      223.62.188.114
SEQUENCE_PARSE     <33,164,33,164,1,132,113,132,132,158,160,132,81>
Name: 4219, dtype: object
ID                       24250
IP_SPLIT_RESULT    39.7.51.135
SEQUENCE_PARSE           <5,1>
Name: 4220, dtype: object
ID                         24251
IP_SPLIT_RESULT    152.99.253.14
SEQUENCE_PARSE       <1,5,1,132>
Name: 4221, dtype: object
ID                          24252
IP_SPLIT_RESULT    211.185.219.47
SEQUENCE_PARSE              <5,1>
Name: 4222, dtype: object
ID                                                             24253
IP_SPLIT_RESULT                                       211.36.143.227
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 4223, dtype: object
ID                             24254
IP_SPLIT_RESULT      112.221.138.214
SEQUENCE_PARSE     <1,5,1,132,90,92>
Name: 4224, dtype: object
ID                         24255
IP_SPLIT_RESULT    220.78.31.243
SEQUENCE_PARSE           <32,93>
Name: 4225, dtype: object
ID                          24256
IP_SPLIT_RESULT    152.99.104.253
SEQUENCE_PARSE      <5,1,132,5,1>
Name: 4226, dtype: object
ID                                                             24257
IP_SPLIT_RESULT                                      112.172.255.172
SEQUENCE_PARSE     <39,164,63,164,1,132,1,132,81,132,158,160,164,...
Name: 4227, dtype: object
ID                              24258
IP_SPLIT_RESULT        175.223.15.166
SEQUENCE_PARSE     <39,164,63,164,32>
Name: 4228, dtype: object
ID                          24259
IP_SPLIT_RESULT    175.223.30.167
SEQUENCE_PARSE          <1,90,92>
Name: 4229, dtype: object
ID                         24260
IP_SPLIT_RESULT    207.46.13.143
SEQUENCE_PARSE               <1>
Name: 4230, dtype: object
ID                                                             24261
IP_SPLIT_RESULT                                       223.62.173.159
SEQUENCE_PARSE     <41,130,132,162,166,162,1,113,132,132,113,31,1...
Name: 4231, dtype: object
ID                         24262
IP_SPLIT_RESULT    203.247.149.6
SEQUENCE_PARSE               <5>
Name: 4232, dtype: object
ID                                     24263
IP_SPLIT_RESULT                223.52.25.191
SEQUENCE_PARSE     <113,113,113,113,113,113>
Name: 4233, dtype: object
ID                                                             24264
IP_SPLIT_RESULT                                          1.241.246.2
SEQUENCE_PARSE     <1,132,132,132,113,132,93,93,132,93,93,93,14,9...
Name: 4234, dtype: object
ID                             24265
IP_SPLIT_RESULT          39.7.15.164
SEQUENCE_PARSE     <1,93,132,132,93>
Name: 4235, dtype: object
ID                                                             24266
IP_SPLIT_RESULT                                        175.223.45.70
SEQUENCE_PARSE     <1,132,93,132,93,1,132,93,132,93,93,93,93,93,9...
Name: 4236, dtype: object
ID                          24267
IP_SPLIT_RESULT    123.212.195.98
SEQUENCE_PARSE            <29,29>
Name: 4237, dtype: object
ID                                                             24268
IP_SPLIT_RESULT                                          1.241.246.2
SEQUENCE_PARSE     <113,113,132,63,113,31,31,113,31,132,162,132,1...
Name: 4238, dtype: object
ID                         24269
IP_SPLIT_RESULT    175.223.45.70
SEQUENCE_PARSE               <1>
Name: 4239, dtype: object
ID                                                           24270
IP_SPLIT_RESULT                                      223.56.33.251
SEQUENCE_PARSE     <1,93,93,132,132,93,93,93,93,93,93,93,93,93,93>
Name: 4240, dtype: object
ID                          24271
IP_SPLIT_RESULT    101.201.52.186
SEQUENCE_PARSE                <1>
Name: 4241, dtype: object
ID                                                             24272
IP_SPLIT_RESULT                                        110.70.26.105
SEQUENCE_PARSE     <1,90,87,32,93,132,162,132,166,162,178,132,178...
Name: 4242, dtype: object
ID                         24273
IP_SPLIT_RESULT    115.94.61.109
SEQUENCE_PARSE            <1,90>
Name: 4243, dtype: object
ID                                                             24274
IP_SPLIT_RESULT                                        110.70.26.105
SEQUENCE_PARSE     <92,87,89,80,30,93,132,93,132,93,93,180,1,63,1...
Name: 4244, dtype: object
ID                                                             24275
IP_SPLIT_RESULT                                        220.72.181.68
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,113,113,113...
Name: 4245, dtype: object
ID                                                             24276
IP_SPLIT_RESULT                                       211.235.38.246
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,132,113,132...
Name: 4246, dtype: object
ID                           24277
IP_SPLIT_RESULT    125.129.191.235
SEQUENCE_PARSE               <5,1>
Name: 4247, dtype: object
ID                                                  24278
IP_SPLIT_RESULT                               39.7.51.178
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,113,113>
Name: 4248, dtype: object
ID                                                             24279
IP_SPLIT_RESULT                                       211.202.89.111
SEQUENCE_PARSE     <1,132,113,113,113,14,113,113,178,132,180,178,...
Name: 4249, dtype: object
ID                          24280
IP_SPLIT_RESULT    203.250.49.117
SEQUENCE_PARSE          <5,1,132>
Name: 4250, dtype: object
ID                          24281
IP_SPLIT_RESULT    211.235.38.246
SEQUENCE_PARSE          <132,132>
Name: 4251, dtype: object
ID                         24282
IP_SPLIT_RESULT    204.79.180.12
SEQUENCE_PARSE               <1>
Name: 4252, dtype: object
ID                         24283
IP_SPLIT_RESULT    59.23.204.206
SEQUENCE_PARSE            <1,90>
Name: 4253, dtype: object
ID                        24284
IP_SPLIT_RESULT    1.215.174.91
SEQUENCE_PARSE            <5,1>
Name: 4254, dtype: object
ID                                                 24285
IP_SPLIT_RESULT                            175.223.2.115
SEQUENCE_PARSE     <1,93,132,132,93,93,93,32,93,1,32,93>
Name: 4255, dtype: object
ID                                                       24286
IP_SPLIT_RESULT                                  110.70.54.179
SEQUENCE_PARSE     <42,178,132,180,1,132,81,132,158,160,132,1>
Name: 4256, dtype: object
ID                          24287
IP_SPLIT_RESULT    175.223.48.210
SEQUENCE_PARSE          <1,132,1>
Name: 4257, dtype: object
ID                                                     24288
IP_SPLIT_RESULT                                 223.39.140.8
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,93,93,93,93>
Name: 4258, dtype: object
ID                         24289
IP_SPLIT_RESULT    59.23.204.206
SEQUENCE_PARSE           <92,87>
Name: 4259, dtype: object
ID                                                             24290
IP_SPLIT_RESULT                                        175.223.2.115
SEQUENCE_PARSE     <132,162,113,32,93,132,162,113,113,1,113,1,113...
Name: 4260, dtype: object
ID                                                             24291
IP_SPLIT_RESULT                                      106.102.129.168
SEQUENCE_PARSE     <1,113,132,113,132,31,113,31,113,31,113,113,11...
Name: 4261, dtype: object
ID                                                 24292
IP_SPLIT_RESULT                            223.38.10.160
SEQUENCE_PARSE     <5,1,132,93,132,93,93,93,93,93,90,92>
Name: 4262, dtype: object
ID                                                             24293
IP_SPLIT_RESULT                                       175.223.30.220
SEQUENCE_PARSE     <1,93,132,93,132,32,93,93,93,93,93,93,93,32,32...
Name: 4263, dtype: object
ID                          24294
IP_SPLIT_RESULT    211.43.166.203
SEQUENCE_PARSE                <1>
Name: 4264, dtype: object
ID                         24295
IP_SPLIT_RESULT    58.148.59.162
SEQUENCE_PARSE            <1,90>
Name: 4265, dtype: object
ID                         24296
IP_SPLIT_RESULT    180.76.15.150
SEQUENCE_PARSE               <1>
Name: 4266, dtype: object
ID                           24297
IP_SPLIT_RESULT    106.102.129.168
SEQUENCE_PARSE               <113>
Name: 4267, dtype: object
ID                          24298
IP_SPLIT_RESULT    121.170.149.83
SEQUENCE_PARSE                <1>
Name: 4268, dtype: object
ID                                                             24299
IP_SPLIT_RESULT                                        223.62.11.206
SEQUENCE_PARSE     <1,93,132,93,132,132,113,113,132,31,113,113,11...
Name: 4269, dtype: object
ID                                                             24300
IP_SPLIT_RESULT                                       223.62.203.148
SEQUENCE_PARSE     <1,63,132,113,132,113,31,113,132,162,166,162,1...
Name: 4270, dtype: object
ID                                                             24301
IP_SPLIT_RESULT                                         223.39.138.2
SEQUENCE_PARSE     <1,93,132,93,132,1,132,132,1,132,113,132,31,11...
Name: 4271, dtype: object
ID                                                             24302
IP_SPLIT_RESULT                                       121.170.149.83
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 4272, dtype: object
ID                                                             24303
IP_SPLIT_RESULT                                         223.39.138.2
SEQUENCE_PARSE     <1,93,132,93,132,132,93,132,93,93,93,93,93,93,...

ID                                                             24621
IP_SPLIT_RESULT                                        223.62.173.19
SEQUENCE_PARSE     <31,113,31,113,113,113,5,1,93,93,93,63,1,63,1,...
Name: 4415, dtype: object
ID                          24622
IP_SPLIT_RESULT    51.254.205.221
SEQUENCE_PARSE                <1>
Name: 4416, dtype: object
ID                                                             24623
IP_SPLIT_RESULT                                          39.7.54.194
SEQUENCE_PARSE     <29,132,113,132,113,1,113,132,132,31,113,113,3...
Name: 4417, dtype: object
ID                                                        24624
IP_SPLIT_RESULT                                   175.223.35.13
SEQUENCE_PARSE     <1,33,164,63,164,164,132,81,132,158,160,132>
Name: 4418, dtype: object
ID                          24625
IP_SPLIT_RESULT    123.143.97.117
SEQUENCE_PARSE          <5,1,132>
Name: 4419, dtype: object
ID                                                             24626
IP_SPLIT_RESULT                                        117.111.2.254
SEQUENCE_PARSE     <1,31,113,1,132,81,132,113,132,113,113,113,31,...
Name: 4420, dtype: object
ID                           24627
IP_SPLIT_RESULT    104.128.144.131
SEQUENCE_PARSE                 <1>
Name: 4421, dtype: object
ID                                        24628
IP_SPLIT_RESULT                  58.143.135.183
SEQUENCE_PARSE     <1,92,87,89,80,24,212,132,1>
Name: 4422, dtype: object
ID                                                             24629
IP_SPLIT_RESULT                                        223.62.188.95
SEQUENCE_PARSE     <1,132,132,1,132,93,132,93,132,93,132,93,132,9...
Name: 4423, dtype: object
ID                                                             24630
IP_SPLIT_RESULT                                      211.217.226.129
SEQUENCE_PARSE     <132,93,132,93,32,93,132,93,132,132,93,132,93,...
Name: 4424, dtype: object
ID                           24631
IP_SPLIT_RESULT      39.115.22.211
SEQUENCE_PARSE     <39,164,63,164>
Name: 4425, dtype: object
ID                                                             24632
IP_SPLIT_RESULT                                        223.62.219.74
SEQUENCE_PARSE     <32,93,32,93,32,93,93,93,32,93,39,164,90,92,13...
Name: 4426, dtype: object
ID                                           24633
IP_SPLIT_RESULT                      61.98.214.249
SEQUENCE_PARSE     <1,33,164,33,33,164,164,87,189>
Name: 4427, dtype: object
ID                         24634
IP_SPLIT_RESULT    115.90.183.14
SEQUENCE_PARSE             <5,1>
Name: 4428, dtype: object
ID                                                             24635
IP_SPLIT_RESULT                                         223.62.21.61
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 4429, dtype: object
ID                                                             24636
IP_SPLIT_RESULT                                       175.223.10.145
SEQUENCE_PARSE     <113,132,113,113,132,113,1,132,113,132,113,113...
Name: 4430, dtype: object
ID                                                         24637
IP_SPLIT_RESULT                                   175.223.21.247
SEQUENCE_PARSE     <29,132,113,132,113,1,132,93,132,93,93,93,93>
Name: 4431, dtype: object
ID                                                             24638
IP_SPLIT_RESULT                                        220.68.193.13
SEQUENCE_PARSE     <1,130,130,130,130,31,113,1,63,132,113,132,113...
Name: 4432, dtype: object
ID                         24639
IP_SPLIT_RESULT    175.223.17.39
SEQUENCE_PARSE        <1,31,113>
Name: 4433, dtype: object
ID                                                             24640
IP_SPLIT_RESULT                                        223.62.188.95
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93,93,93,1,93,93,93,93...
Name: 4434, dtype: object
ID                                                             24641
IP_SPLIT_RESULT                                         223.62.21.61
SEQUENCE_PARSE     <93,132,93,132,1,130,132,132,93,132,93,93,93,1...
Name: 4435, dtype: object
ID                                                             24642
IP_SPLIT_RESULT                                        211.36.141.31
SEQUENCE_PARSE     <29,113,132,113,132,29,132,113,132,113,29,113,...
Name: 4436, dtype: object
ID                           24643
IP_SPLIT_RESULT    114.199.205.249
SEQUENCE_PARSE           <5,1,132>
Name: 4437, dtype: object
ID                         24644
IP_SPLIT_RESULT    207.46.13.167
SEQUENCE_PARSE               <1>
Name: 4438, dtype: object
ID                                                             24645
IP_SPLIT_RESULT                                        117.111.9.134
SEQUENCE_PARSE     <1,31,39,164,164,132,39,164,132,130,32,93,8,13...
Name: 4439, dtype: object
ID                          24646
IP_SPLIT_RESULT    223.62.219.252
SEQUENCE_PARSE           <39,164>
Name: 4440, dtype: object
ID                          24647
IP_SPLIT_RESULT    223.62.215.217
SEQUENCE_PARSE                <1>
Name: 4441, dtype: object
ID                                                           24648
IP_SPLIT_RESULT                                      218.209.11.81
SEQUENCE_PARSE     <39,164,63,89,195,39,164,39,164,63,164,164,164>
Name: 4442, dtype: object
ID                        24649
IP_SPLIT_RESULT    1.255.77.102
SEQUENCE_PARSE        <5,1,132>
Name: 4443, dtype: object
ID                         24650
IP_SPLIT_RESULT    175.223.27.56
SEQUENCE_PARSE            <1,90>
Name: 4444, dtype: object
ID                                                             24651
IP_SPLIT_RESULT                                        202.8.191.103
SEQUENCE_PARSE     <5,1,132,93,132,93,93,93,93,93,93,93,93,1,93,1...
Name: 4445, dtype: object
ID                           24652
IP_SPLIT_RESULT    175.208.163.162
SEQUENCE_PARSE             <1,5,1>
Name: 4446, dtype: object
ID                         24653
IP_SPLIT_RESULT    58.238.79.143
SEQUENCE_PARSE         <1,90,92>
Name: 4447, dtype: object
ID                                                             24654
IP_SPLIT_RESULT                                       223.62.172.216
SEQUENCE_PARSE     <132,113,113,1,92,80,22,212,132,93,132,93,93,1...
Name: 4448, dtype: object
ID                        24655
IP_SPLIT_RESULT    60.253.29.87
SEQUENCE_PARSE            <5,1>
Name: 4449, dtype: object
ID                         24656
IP_SPLIT_RESULT    114.206.93.34
SEQUENCE_PARSE             <5,1>
Name: 4450, dtype: object
ID                           24657
IP_SPLIT_RESULT    175.207.171.170
SEQUENCE_PARSE               <5,1>
Name: 4451, dtype: object
ID                                                    24734
IP_SPLIT_RESULT                               175.223.45.92
SEQUENCE_PARSE     <1,31,113,31,113,132,93,132,93,93,90,92>
Name: 4452, dtype: object
ID                                                             24735
IP_SPLIT_RESULT                                       223.62.162.169
SEQUENCE_PARSE     <113,113,31,113,31,113,113,113,113,113,113,113...
Name: 4453, dtype: object
ID                          24736
IP_SPLIT_RESULT    121.160.90.126
SEQUENCE_PARSE               <93>
Name: 4454, dtype: object
ID                                                             24739
IP_SPLIT_RESULT                                       117.111.18.176
SEQUENCE_PARSE     <90,87,89,93,93,93,93,93,93,32,93,93,93,1,93,1...
Name: 4455, dtype: object
ID                          24740
IP_SPLIT_RESULT    223.62.212.135
SEQUENCE_PARSE         <39,39,39>
Name: 4456, dtype: object
ID                          24741
IP_SPLIT_RESULT    211.36.131.121
SEQUENCE_PARSE          <164,164>
Name: 4457, dtype: object
ID                                                  24742
IP_SPLIT_RESULT                             175.223.45.92
SEQUENCE_PARSE     <113,113,31,113,1,132,93,132,93,93,93>
Name: 4458, dtype: object
ID                           24743
IP_SPLIT_RESULT      223.62.169.91
SEQUENCE_PARSE     <1,32,93,93,29>
Name: 4459, dtype: object
ID                                                             24744
IP_SPLIT_RESULT                                       175.223.27.202
SEQUENCE_PARSE     <5,93,32,93,113,113,31,113,113,31,31,31,113,31...
Name: 4460, dtype: object
ID                         24745
IP_SPLIT_RESULT    110.15.52.118
SEQUENCE_PARSE              <25>
Name: 4461, dtype: object
ID                                 24746
IP_SPLIT_RESULT              61.32.45.44
SEQUENCE_PARSE     <132,93,132,93,93,93>
Name: 4462, dtype: object
ID                          24747
IP_SPLIT_RESULT    218.51.251.201
SEQUENCE_PARSE            <1,5,1>
Name: 4463, dtype: object
ID                                                             24748
IP_SPLIT_RESULT                                       117.111.18.176
SEQUENCE_PARSE     <92,1,90,92,80,30,132,93,132,93,32,93,32,93,32...
Name: 4464, dtype: object
ID                           24749
IP_SPLIT_RESULT    114.202.175.130
SEQUENCE_PARSE           <5,1,5,1>
Name: 4465, dtype: object
ID                                                             24750
IP_SPLIT_RESULT                                          223.62.21.8
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,31,113,31,113,11...
Name: 4466, dtype: object
ID                        24751
IP_SPLIT_RESULT    58.232.66.78
SEQUENCE_PARSE              <1>
Name: 4467, dtype: object
ID                          24752
IP_SPLIT_RESULT    211.186.107.35
SEQUENCE_PARSE                <1>
Name: 4468, dtype: object
ID                                                           24753
IP_SPLIT_RESULT                                      113.216.12.32
SEQUENCE_PARSE     <1,63,132,93,63,132,132,132,174,172,170,132,93>
Name: 4469, dtype: object
ID                         24754
IP_SPLIT_RESULT    116.37.58.181
SEQUENCE_PARSE               <1>
Name: 4470, dtype: object
ID                         24755
IP_SPLIT_RESULT    223.62.10.144
SEQUENCE_PARSE           <113,1>
Name: 4471, dtype: object
ID                                                             24756
IP_SPLIT_RESULT                                       223.62.163.138
SEQUENCE_PARSE     <1,132,132,158,160,132,132,93,132,93,93,93,93,...
Name: 4472, dtype: object
ID                                                             24757
IP_SPLIT_RESULT                                       218.52.115.131
SEQUENCE_PARSE     <113,1,5,1,132,1,93,132,132,93,1,132,93,132,93...
Name: 4473, dtype: object
ID                                                             24758
IP_SPLIT_RESULT                                         59.13.128.54
SEQUENCE_PARSE     <5,1,132,93,132,93,93,93,93,93,93,93,93,93,93,...
Name: 4474, dtype: object
ID                                  24759
IP_SPLIT_RESULT            223.62.212.135
SEQUENCE_PARSE     <39,39,1,132,93,132,1>
Name: 4475, dtype: object
ID                                                             24760
IP_SPLIT_RESULT                                        211.246.68.11
SEQUENCE_PARSE     <1,132,113,113,113,14,113,113,113,14,113,132,9...
Name: 4476, dtype: object
ID                                                             24761
IP_SPLIT_RESULT                                        117.111.2.230
SEQUENCE_PARSE     <1,132,132,158,160,132,93,87,93,93,14,93,31,11...
Name: 4477, dtype: object
ID                                                             24762
IP_SPLIT_RESULT                                        113.216.12.32
SEQUENCE_PARSE     <132,162,93,93,93,14,93,132,93,132,93,132,93,1...
Name: 4478, dtype: object
ID                         24763
IP_SPLIT_RESULT    52.10.245.104
SEQUENCE_PARSE       <1,5,1,5,1>
Name: 4479, dtype: object
ID                                                             24764
IP_SPLIT_RESULT                                       211.36.144.193
SEQUENCE_PARSE     <39,63,1,130,130,130,130,63,65,130,130,130,130...
Name: 4480, dtype: object
ID                                                             24765
IP_SPLIT_RESULT                                       211.36.144.193
SEQUENCE_PARSE     <1,63,89,195,132,132,158,160,132,132,158,160,1...
Name: 4481, dtype: object
ID                           24766
IP_SPLIT_RESULT    220.120.134.100
SEQUENCE_PARSE                 <1>
Name: 4482, dtype: object
ID                          24767
IP_SPLIT_RESULT    49.172.175.173
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 4483, dtype: object
ID                                 24768
IP_SPLIT_RESULT            223.62.22.214
SEQUENCE_PARSE     <1,93,93,93,93,93,93>
Name: 4484, dtype: object
ID                           24769
IP_SPLIT_RESULT      223.62.22.214
SEQUENCE_PARSE     <132,93,132,93>
Name: 4485, dtype: object
ID                         24770
IP_SPLIT_RESULT    218.54.178.15
SEQUENCE_PARSE               <1>
Name: 4486, dtype: object
ID                       24771
IP_SPLIT_RESULT    210.99.29.6
SEQUENCE_PARSE          <1,90>
Name: 4487, dtype: object
ID                           24772
IP_SPLIT_RESULT    222.108.246.114
SEQUENCE_PARSE             <1,5,1>
Name: 4488, dtype: object
ID                          24773
IP_SPLIT_RESULT    178.22.116.157
SEQUENCE_PARSE                <1>
Name: 4489, dtype: object
ID                                                         24774
IP_SPLIT_RESULT                                     175.223.2.87
SEQUENCE_PARSE     <132,113,132,132,158,160,132,113,132,162,132>
Name: 4490, dtype: object
ID                          24775
IP_SPLIT_RESULT    112.171.10.129
SEQUENCE_PARSE        <1,5,1,132>
Name: 4491, dtype: object
ID                                                             24776
IP_SPLIT_RESULT                                           39.7.53.33
SEQUENCE_PARSE     <39,39,63,164,1,90,92,25,92,90,92,87,80,24,212...
Name: 4492, dtype: object
ID                               24777
IP_SPLIT_RESULT             39.7.53.33
SEQUENCE_PARSE     <164,164,164,87,89>
Name: 4493, dtype: object
ID                                                             24778
IP_SPLIT_RESULT                                          39.7.15.187
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,31,113,113,113,3...
Name: 4494, dtype: object
ID                                24779
IP_SPLIT_RESULT             183.98.71.7
SEQUENCE_PARSE     <1,132,93,132,93,90>
Name: 4495, dtype: object
ID                                                             24780
IP_SPLIT_RESULT                                      182.229.165.103
SEQUENCE_PARSE     <1,63,1,130,130,1,63,89,195,132,113,113,132,11...
Name: 4496, dtype: object
ID                                                             24781
IP_SPLIT_RESULT                                          39.7.15.187
SEQUENCE_PARSE     <113,132,162,113,113,31,113,31,113,132,162,166...
Name: 4497, dtype: object
ID                       24782
IP_SPLIT_RESULT    183.98.71.7
SEQUENCE_PARSE            <92>
Name: 4498, dtype: object
ID                         24783
IP_SPLIT_RESULT    211.36.137.35
SEQUENCE_PARSE             <5,1>
Name: 4499, dtype: object
ID                         24784
IP_SPLIT_RESULT    125.128.68.50
SEQUENCE_PARSE               <1>
Name: 4500, dtype: object
ID                                                             24785
IP_SPLIT_RESULT                                      182.229.165.103
SEQUENCE_PARSE     <31,113,113,113,31,113,113,113,113,113,113,113...
Name: 4501, dtype: object
ID                                                             24786
IP_SPLIT_RESULT                                      182.221.148.177
SEQUENCE_PARSE     <1,130,130,130,130,130,130,132,93,132,93,132,9...
Name: 4502, dtype: object
ID                                                         24787
IP_SPLIT_RESULT                                   223.62.172.208
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,33,164,90,1,5,1>
Name: 4503, dtype: object
ID                                                             24788
IP_SPLIT_RESULT                                      182.221.148.177
SEQUENCE_PARSE     <89,132,132,93,32,93,93,93,93,93,93,93,32,93,3...
Name: 4504, dtype: object
ID                                                             24789
IP_SPLIT_RESULT                                       223.62.172.253
SEQUENCE_PARSE     <1,132,132,93,132,93,93,93,32,93,32,93,93,93,3...
Name: 4505, dtype: object
ID                                   24790
IP_SPLIT_RESULT            168.188.238.159
SEQUENCE_PARSE     <1,132,113,132,113,113>
Name: 4506, dtype: object
ID                         24791
IP_SPLIT_RESULT    223.32.32.239
SEQUENCE_PARSE               <1>
Name: 4507, dtype: object
ID                                                             24792
IP_SPLIT_RESULT                                         223.63.10.69
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,113,113,31,113,3...
Name: 4508, dtype: object
ID                                                          24793
IP_SPLIT_RESULT                                      211.36.150.2
SEQUENCE_PARSE     <1,132,132,113,132,113,113,113,113,113,31,113>
Name: 4509, dtype: object
ID                        24794
IP_SPLIT_RESULT    59.25.253.98
SEQUENCE_PARSE          <1,5,1>
Name: 4510, dtype: object
ID                                                             24795
IP_SPLIT_RESULT                                       223.62.219.227
SEQUENCE_PARSE     <1,132,81,81,81,132,132,132,93,132,93,132,132,...
Name: 4511, dtype: object
ID                                                             24796
IP_SPLIT_RESULT                                       223.62.219.227
SEQUENCE_PARSE     <130,31,113,1,132,132,113,132,31,113,132,162,9...
Name: 4512, dtype: object
ID                                                             24797
IP_SPLIT_RESULT                                         59.28.70.193
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,93,93,93,132,132,...
Name: 4513, dtype: object
ID                                                             24798
IP_SPLIT_RESULT                                        211.36.141.31
SEQUENCE_PARSE     <29,132,113,132,113,29,113,132,113,132,1,44,1,...
Name: 4514, dtype: object
ID                             24799
IP_SPLIT_RESULT       220.72.174.220
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 4515, dtype: object
ID                           24800
IP_SPLIT_RESULT     223.57.111.250
SEQUENCE_PARSE     <31,113,31,113>
Name: 4516, dtype: object
ID                                                   24801
IP_SPLIT_RESULT                                39.7.47.121
SEQUENCE_PARSE     <1,93,132,132,93,132,93,132,93,90,92,1>
Name: 4517, dtype: object
ID                           24802
IP_SPLIT_RESULT    175.121.208.170
SEQUENCE_PARSE                 <1>
Name: 4518, dtype: object
ID                                                             24803
IP_SPLIT_RESULT                                      118.222.191.217
SEQUENCE_PARSE     <1,132,32,1,132,113,113,132,113,113,113,113,31...
Name: 4519, dtype: object
ID                          24804
IP_SPLIT_RESULT    101.236.60.239
SEQUENCE_PARSE                <1>
Name: 4520, dtype: object
ID                         24805
IP_SPLIT_RESULT    223.54.56.228
SEQUENCE_PARSE             <5,1>
Name: 4521, dtype: object
ID                                            24806
IP_SPLIT_RESULT                     118.222.191.217
SEQUENCE_PARSE     <132,93,132,93,32,93,93,93,93,1>
Name: 4522, dtype: object
ID                         24807
IP_SPLIT_RESULT    61.78.131.245
SEQUENCE_PARSE             <5,1>
Name: 4523, dtype: object
ID                                   24808
IP_SPLIT_RESULT               59.28.70.193
SEQUENCE_PARSE     <1,93,132,93,132,93,93>
Name: 4524, dtype: object
ID                              24809
IP_SPLIT_RESULT        175.214.186.27
SEQUENCE_PARSE     <30,132,93,132,93>
Name: 4525, dtype: object
ID                                                             24810
IP_SPLIT_RESULT                                       223.33.164.116
SEQUENCE_PARSE     <1,132,93,132,93,63,89,198,113,132,132,158,160...

ID                           24902
IP_SPLIT_RESULT    125.185.184.131
SEQUENCE_PARSE                 <1>
Name: 4618, dtype: object
ID                        24903
IP_SPLIT_RESULT    61.33.176.72
SEQUENCE_PARSE            <5,1>
Name: 4619, dtype: object
ID                                               24904
IP_SPLIT_RESULT                        125.185.184.131
SEQUENCE_PARSE     <132,93,132,93,93,93,132,93,132,93>
Name: 4620, dtype: object
ID                        24905
IP_SPLIT_RESULT    116.36.97.83
SEQUENCE_PARSE          <1,5,1>
Name: 4621, dtype: object
ID                          24906
IP_SPLIT_RESULT    116.37.115.110
SEQUENCE_PARSE            <1,5,1>
Name: 4622, dtype: object
ID                           24907
IP_SPLIT_RESULT    112.149.161.183
SEQUENCE_PARSE                 <1>
Name: 4623, dtype: object
ID                             24908
IP_SPLIT_RESULT       27.124.170.118
SEQUENCE_PARSE     <1,132,132,93,93>
Name: 4624, dtype: object
ID                          24909
IP_SPLIT_RESULT    156.215.121.85
SEQUENCE_PARSE                <1>
Name: 4625, dtype: object
ID                                   24910
IP_SPLIT_RESULT             222.236.84.142
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 4626, dtype: object
ID                                                             24911
IP_SPLIT_RESULT                                       124.61.192.221
SEQUENCE_PARSE     <1,113,113,132,132,113,113,31,113,31,113,113,1...
Name: 4627, dtype: object
ID                          24912
IP_SPLIT_RESULT    175.223.44.202
SEQUENCE_PARSE              <5,1>
Name: 4628, dtype: object
ID                                                             24913
IP_SPLIT_RESULT                                       175.223.49.233
SEQUENCE_PARSE     <39,132,132,130,132,113,132,113,113,113,31,113...
Name: 4629, dtype: object
ID                                                             24914
IP_SPLIT_RESULT                                       175.223.49.233
SEQUENCE_PARSE     <164,164,29,113,113,113,113,31,113,113,113,113...
Name: 4630, dtype: object
ID                                                             24915
IP_SPLIT_RESULT                                       124.61.192.221
SEQUENCE_PARSE     <31,113,31,113,31,113,31,113,31,113,31,113,31,...
Name: 4631, dtype: object
ID                           24916
IP_SPLIT_RESULT    104.128.144.131
SEQUENCE_PARSE                 <1>
Name: 4632, dtype: object
ID                                                             24917
IP_SPLIT_RESULT                                       27.124.170.118
SEQUENCE_PARSE     <5,1,132,1,132,93,93,132,93,93,93,93,93,93,93,...
Name: 4633, dtype: object
ID                                                 24918
IP_SPLIT_RESULT                            223.38.17.242
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,1>
Name: 4634, dtype: object
ID                                                             24919
IP_SPLIT_RESULT                                         1.253.90.253
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,1,132,132,132,132...
Name: 4635, dtype: object
ID                                                             24920
IP_SPLIT_RESULT                                       218.52.115.131
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,130,132,113,132,132,93,...
Name: 4636, dtype: object
ID                          24921
IP_SPLIT_RESULT    184.105.139.70
SEQUENCE_PARSE                <1>
Name: 4637, dtype: object
ID                                                             24922
IP_SPLIT_RESULT                                        113.52.203.54
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,31,113,113,113,3...
Name: 4638, dtype: object
ID                                                             24923
IP_SPLIT_RESULT                                        165.132.5.134
SEQUENCE_PARSE     <1,130,130,1,130,132,93,93,93,93,132,93,132,93...
Name: 4639, dtype: object
ID                         24924
IP_SPLIT_RESULT    113.52.203.54
SEQUENCE_PARSE         <113,113>
Name: 4640, dtype: object
ID                                                             24925
IP_SPLIT_RESULT                                       175.223.38.180
SEQUENCE_PARSE     <5,1,132,1,93,132,132,93,132,93,132,93,93,93,9...
Name: 4641, dtype: object
ID                       24926
IP_SPLIT_RESULT    1.246.31.52
SEQUENCE_PARSE             <1>
Name: 4642, dtype: object
ID                                                             24927
IP_SPLIT_RESULT                                        223.62.21.217
SEQUENCE_PARSE     <1,132,113,113,132,31,113,31,113,113,113,31,11...
Name: 4643, dtype: object
ID                          24928
IP_SPLIT_RESULT    222.121.152.75
SEQUENCE_PARSE       <39,164,130>
Name: 4644, dtype: object
ID                          24929
IP_SPLIT_RESULT    125.184.84.176
SEQUENCE_PARSE          <5,1,5,1>
Name: 4645, dtype: object
ID                          24930
IP_SPLIT_RESULT    118.221.102.94
SEQUENCE_PARSE            <1,5,1>
Name: 4646, dtype: object
ID                             24931
IP_SPLIT_RESULT       222.121.152.75
SEQUENCE_PARSE     <130,130,130,164>
Name: 4647, dtype: object
ID                                                             24932
IP_SPLIT_RESULT                                       175.223.38.180
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93,93,93,93,93,30,93,93,...
Name: 4648, dtype: object
ID                           24933
IP_SPLIT_RESULT    218.155.238.250
SEQUENCE_PARSE              <1,90>
Name: 4649, dtype: object
ID                                                             24934
IP_SPLIT_RESULT                                        124.199.0.129
SEQUENCE_PARSE     <29,132,113,132,113,113,113,113,113,113,113,11...
Name: 4650, dtype: object
ID                                       24935
IP_SPLIT_RESULT                 175.223.33.121
SEQUENCE_PARSE     <29,132,113,132,113,31,113>
Name: 4651, dtype: object
ID                                                             24936
IP_SPLIT_RESULT                                         1.253.14.222
SEQUENCE_PARSE     <1,63,89,195,63,132,132,158,160,132,174,172,17...
Name: 4652, dtype: object
ID                                   24937
IP_SPLIT_RESULT            112.152.164.154
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 4653, dtype: object
ID                                                             24938
IP_SPLIT_RESULT                                        223.38.11.251
SEQUENCE_PARSE     <39,164,63,164,1,132,132,158,160,113,132,132,3...
Name: 4654, dtype: object
ID                                                             24939
IP_SPLIT_RESULT                                        211.36.139.99
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,31,11...
Name: 4655, dtype: object
ID                                 24940
IP_SPLIT_RESULT             223.62.21.31
SEQUENCE_PARSE     <39,164,39,164,1,113>
Name: 4656, dtype: object
ID                                     24941
IP_SPLIT_RESULT              175.120.176.134
SEQUENCE_PARSE     <5,1,132,93,132,93,93,93>
Name: 4657, dtype: object
ID                                                         24942
IP_SPLIT_RESULT                                    223.63.24.183
SEQUENCE_PARSE     <1,132,93,93,132,32,93,32,93,32,93,32,31,113>
Name: 4658, dtype: object
ID                                                     24943
IP_SPLIT_RESULT                               125.180.148.42
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93>
Name: 4659, dtype: object
ID                                                             24944
IP_SPLIT_RESULT                                       223.33.165.177
SEQUENCE_PARSE     <32,93,93,93,32,93,32,93,30,132,93,132,93,32,9...
Name: 4660, dtype: object
ID                                                             24945
IP_SPLIT_RESULT                                         59.11.20.114
SEQUENCE_PARSE     <1,132,113,132,113,113,113,130,132,93,132,93,3...
Name: 4661, dtype: object
ID                                                             24946
IP_SPLIT_RESULT                                       223.33.165.177
SEQUENCE_PARSE     <93,93,32,93,32,93,29,132,113,132,113,132,93,1...
Name: 4662, dtype: object
ID                         24947
IP_SPLIT_RESULT    175.115.65.45
SEQUENCE_PARSE               <1>
Name: 4663, dtype: object
ID                         24948
IP_SPLIT_RESULT    66.249.82.173
SEQUENCE_PARSE               <1>
Name: 4664, dtype: object
ID                             24949
IP_SPLIT_RESULT       211.201.155.88
SEQUENCE_PARSE     <1,132,93,93,132>
Name: 4665, dtype: object
ID                        24950
IP_SPLIT_RESULT    59.11.20.114
SEQUENCE_PARSE             <32>
Name: 4666, dtype: object
ID                       24951
IP_SPLIT_RESULT    124.50.0.63
SEQUENCE_PARSE             <1>
Name: 4667, dtype: object
ID                           24952
IP_SPLIT_RESULT    115.136.235.114
SEQUENCE_PARSE        <1,90,92,90>
Name: 4668, dtype: object
ID                                         24953
IP_SPLIT_RESULT                   106.102.128.39
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 4669, dtype: object
ID                                                             24954
IP_SPLIT_RESULT                                       117.111.10.249
SEQUENCE_PARSE     <1,113,132,113,132,113,113,113,113,31,113,31,1...
Name: 4670, dtype: object
ID                                                             24955
IP_SPLIT_RESULT                                      125.128.128.117
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,32,93,93,93,93,93...
Name: 4671, dtype: object
ID                           24956
IP_SPLIT_RESULT     117.111.10.249
SEQUENCE_PARSE     <31,113,31,113>
Name: 4672, dtype: object
ID                       24957
IP_SPLIT_RESULT    122.37.7.68
SEQUENCE_PARSE         <1,5,1>
Name: 4673, dtype: object
ID                          24958
IP_SPLIT_RESULT    218.148.94.225
SEQUENCE_PARSE                <1>
Name: 4674, dtype: object
ID                             24959
IP_SPLIT_RESULT        220.77.39.187
SEQUENCE_PARSE     <1,132,93,93,132>
Name: 4675, dtype: object
ID                        24960
IP_SPLIT_RESULT    210.95.170.2
SEQUENCE_PARSE      <132,113,1>
Name: 4676, dtype: object
ID                                                             24961
IP_SPLIT_RESULT                                       49.170.219.175
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 4677, dtype: object
ID                       24962
IP_SPLIT_RESULT    124.50.0.63
SEQUENCE_PARSE             <1>
Name: 4678, dtype: object
ID                                                        24963
IP_SPLIT_RESULT                                 115.136.235.114
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,92>
Name: 4679, dtype: object
ID                                      24964
IP_SPLIT_RESULT                 223.62.173.10
SEQUENCE_PARSE     <31,113,32,93,132,63,93,1>
Name: 4680, dtype: object
ID                                                             24965
IP_SPLIT_RESULT                                       49.170.219.175
SEQUENCE_PARSE     <93,93,93,93,132,93,132,93,93,132,132,93,30,13...
Name: 4681, dtype: object
ID                                                             24966
IP_SPLIT_RESULT                                       211.36.139.225
SEQUENCE_PARSE     <1,90,92,87,132,93,132,93,132,93,132,93,93,93,...
Name: 4682, dtype: object
ID                         24967
IP_SPLIT_RESULT    117.111.4.184
SEQUENCE_PARSE          <33,164>
Name: 4683, dtype: object
ID                                                       24968
IP_SPLIT_RESULT                                 211.36.141.188
SEQUENCE_PARSE     <1,113,132,132,113,113,113,113,113,113,113>
Name: 4684, dtype: object
ID                                   24969
IP_SPLIT_RESULT             175.223.30.165
SEQUENCE_PARSE     <1,63,132,132,1,63,132>
Name: 4685, dtype: object
ID                         24970
IP_SPLIT_RESULT    124.61.124.14
SEQUENCE_PARSE               <1>
Name: 4686, dtype: object
ID                          24971
IP_SPLIT_RESULT    223.62.172.163
SEQUENCE_PARSE                <1>
Name: 4687, dtype: object
ID                                        24972
IP_SPLIT_RESULT                    223.38.10.75
SEQUENCE_PARSE     <1,132,113,132,113,33,164,1>
Name: 4688, dtype: object
ID                            24973
IP_SPLIT_RESULT      175.223.30.165
SEQUENCE_PARSE     <92,132,92,87,1>
Name: 4689, dtype: object
ID                                 24974
IP_SPLIT_RESULT             223.62.162.4
SEQUENCE_PARSE     <39,164,1,132,93,132>
Name: 4690, dtype: object
ID                        24975
IP_SPLIT_RESULT    223.62.162.4
SEQUENCE_PARSE     <164,39,164>
Name: 4691, dtype: object
ID                                         24976
IP_SPLIT_RESULT                     61.253.82.74
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 4692, dtype: object
ID                                                             24977
IP_SPLIT_RESULT                                       211.36.139.225
SEQUENCE_PARSE     <89,93,14,93,93,93,93,93,93,93,132,162,166,162...
Name: 4693, dtype: object
ID                         24978
IP_SPLIT_RESULT    220.92.29.219
SEQUENCE_PARSE             <5,1>
Name: 4694, dtype: object
ID                          24979
IP_SPLIT_RESULT    192.151.148.52
SEQUENCE_PARSE                <1>
Name: 4695, dtype: object
ID                                   24980
IP_SPLIT_RESULT            112.168.140.240
SEQUENCE_PARSE     <8,132,132,158,160,132>
Name: 4696, dtype: object
ID                          24981
IP_SPLIT_RESULT    106.102.129.81
SEQUENCE_PARSE                <1>
Name: 4697, dtype: object
ID                         24982
IP_SPLIT_RESULT    39.117.57.120
SEQUENCE_PARSE               <1>
Name: 4698, dtype: object
ID                          24983
IP_SPLIT_RESULT    114.199.53.214
SEQUENCE_PARSE                <1>
Name: 4699, dtype: object
ID                                                             24984
IP_SPLIT_RESULT                                      112.187.219.103
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,132,93,132,93,90,...
Name: 4700, dtype: object
ID                          24985
IP_SPLIT_RESULT    121.144.33.243
SEQUENCE_PARSE                <1>
Name: 4701, dtype: object
ID                                                             24986
IP_SPLIT_RESULT                                        122.34.214.60
SEQUENCE_PARSE     <1,5,1,132,5,1,132,1,5,1,132,93,132,93,132,93,...
Name: 4702, dtype: object
ID                           24987
IP_SPLIT_RESULT    175.197.233.245
SEQUENCE_PARSE               <5,1>
Name: 4703, dtype: object
ID                                                             24988
IP_SPLIT_RESULT                                        175.223.30.62
SEQUENCE_PARSE     <89,200,29,132,113,132,113,113,113,113,113,113...
Name: 4704, dtype: object
ID                         24989
IP_SPLIT_RESULT    1.216.224.150
SEQUENCE_PARSE          <39,164>
Name: 4705, dtype: object
ID                                                             24990
IP_SPLIT_RESULT                                       117.111.16.115
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,113,113,113...
Name: 4706, dtype: object
ID                                                             24991
IP_SPLIT_RESULT                                        223.38.11.251
SEQUENCE_PARSE     <39,164,63,164,8,132,132,158,160,113,132,113,1...
Name: 4707, dtype: object
ID                        24992
IP_SPLIT_RESULT    117.111.3.10
SEQUENCE_PARSE            <164>
Name: 4708, dtype: object
ID                                                             24993
IP_SPLIT_RESULT                                      112.187.219.103
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,32,93,32,93,32,93...
Name: 4709, dtype: object
ID                            24994
IP_SPLIT_RESULT      58.143.158.148
SEQUENCE_PARSE     <32,93,32,93,30>
Name: 4710, dtype: object
ID                          24995
IP_SPLIT_RESULT    117.111.24.211
SEQUENCE_PARSE                <1>
Name: 4711, dtype: object
ID                          24996
IP_SPLIT_RESULT    223.62.169.174
SEQUENCE_PARSE            <1,5,1>
Name: 4712, dtype: object
ID                         24997
IP_SPLIT_RESULT    58.120.77.156
SEQUENCE_PARSE               <1>
Name: 4713, dtype: object
ID                          24998
IP_SPLIT_RESULT    211.36.136.254
SEQUENCE_PARSE      <32,93,32,93>
Name: 4714, dtype: object
ID                        24999
IP_SPLIT_RESULT    223.62.11.60
SEQUENCE_PARSE              <1>
Name: 4715, dtype: object
ID                           25000
IP_SPLIT_RESULT    106.102.128.120
SEQUENCE_PARSE                <39>
Name: 4716, dtype: object
ID                          25001
IP_SPLIT_RESULT    124.62.235.106
SEQUENCE_PARSE              <164>
Name: 4717, dtype: object
ID                         25002
IP_SPLIT_RESULT    118.223.25.17
SEQUENCE_PARSE           <1,5,1>
Name: 4718, dtype: object
ID                                                             25003
IP_SPLIT_RESULT                                       223.62.190.244
SEQUENCE_PARSE     <1,63,132,132,158,160,132,132,113,132,113,113,...
Name: 4719, dtype: object
ID                                      25004
IP_SPLIT_RESULT                  61.80.102.66
SEQUENCE_PARSE     <1,63,132,132,158,160,164>
Name: 4720, dtype: object
ID                         25005
IP_SPLIT_RESULT    223.33.165.77
SEQUENCE_PARSE          <1,90,1>
Name: 4721, dtype: object
ID                                                             25006
IP_SPLIT_RESULT                                       192.19.208.250
SEQUENCE_PARSE     <1,5,1,93,132,132,93,93,93,93,93,93,93,1,5,1,5...
Name: 4722, dtype: object
ID                                                             25007
IP_SPLIT_RESULT                                       211.36.139.205
SEQUENCE_PARSE     <1,90,113,113,39,164,63,164,39,164,63,164,31,1...
Name: 4723, dtype: object
ID                                                             25008
IP_SPLIT_RESULT                                       211.36.139.205
SEQUENCE_PARSE     <92,87,89,80,29,132,113,132,113,31,113,39,164,...
Name: 4724, dtype: object
ID                                                             25009
IP_SPLIT_RESULT                                        211.114.91.31
SEQUENCE_PARSE     <1,132,93,132,93,90,1,132,93,132,93,93,93,93,9...
Name: 4725, dtype: object
ID                                                             25010
IP_SPLIT_RESULT                                      168.131.107.143
SEQUENCE_PARSE     <164,132,93,132,132,158,160,164,132,158,160,13...
Name: 4726, dtype: object
ID                                                             25011
IP_SPLIT_RESULT                                        211.114.91.31
SEQUENCE_PARSE     <92,1,132,93,132,93,93,93,90,92,89,93,93,93,93...
Name: 4727, dtype: object
ID                         25012
IP_SPLIT_RESULT    59.31.244.221
SEQUENCE_PARSE             <5,1>
Name: 4728, dtype: object
ID                           25013
IP_SPLIT_RESULT    168.131.107.143
SEQUENCE_PARSE                 <1>
Name: 4729, dtype: object
ID                          25014
IP_SPLIT_RESULT    106.102.128.68
SEQUENCE_PARSE        <63,132,93>
Name: 4730, dtype: object
ID                          25015
IP_SPLIT_RESULT    124.50.226.145
SEQUENCE_PARSE                <1>
Name: 4731, dtype: object
ID                                                             25016
IP_SPLIT_RESULT                                       175.223.38.145
SEQUENCE_PARSE     <1,90,92,93,132,132,93,93,93,93,93,93,93,93,93...
Name: 4732, dtype: object
ID                                    25017
IP_SPLIT_RESULT                  1.210.0.49
SEQUENCE_PARSE     <39,164,130,164,164,132>
Name: 4733, dtype: object
ID                                    25018
IP_SPLIT_RESULT               14.54.178.140
SEQUENCE_PARSE     <30,132,93,132,93,93,93>

ID                           25098
IP_SPLIT_RESULT    125.178.111.168
SEQUENCE_PARSE                 <1>
Name: 4814, dtype: object
ID                          25099
IP_SPLIT_RESULT    124.111.103.12
SEQUENCE_PARSE                <1>
Name: 4815, dtype: object
ID                                     25100
IP_SPLIT_RESULT                  39.7.19.102
SEQUENCE_PARSE     <1,29,132,113,132,31,113>
Name: 4816, dtype: object
ID                          25101
IP_SPLIT_RESULT    117.17.130.122
SEQUENCE_PARSE                <1>
Name: 4817, dtype: object
ID                          25102
IP_SPLIT_RESULT    125.178.218.71
SEQUENCE_PARSE                <1>
Name: 4818, dtype: object
ID                         25103
IP_SPLIT_RESULT    124.62.107.42
SEQUENCE_PARSE               <1>
Name: 4819, dtype: object
ID                          25104
IP_SPLIT_RESULT    124.59.246.234
SEQUENCE_PARSE                <1>
Name: 4820, dtype: object
ID                         25105
IP_SPLIT_RESULT    218.156.84.62
SEQUENCE_PARSE               <1>
Name: 4821, dtype: object
ID                                                             25106
IP_SPLIT_RESULT                                       211.36.138.112
SEQUENCE_PARSE     <29,113,132,113,132,29,132,113,132,113,29,113,...
Name: 4822, dtype: object
ID                          25107
IP_SPLIT_RESULT    220.122.251.11
SEQUENCE_PARSE                <1>
Name: 4823, dtype: object
ID                           25108
IP_SPLIT_RESULT    182.161.235.198
SEQUENCE_PARSE                 <1>
Name: 4824, dtype: object
ID                         25109
IP_SPLIT_RESULT    175.223.45.52
SEQUENCE_PARSE              <87>
Name: 4825, dtype: object
ID                           25110
IP_SPLIT_RESULT    125.180.158.243
SEQUENCE_PARSE                 <1>
Name: 4826, dtype: object
ID                                                             25111
IP_SPLIT_RESULT                                       175.223.15.188
SEQUENCE_PARSE     <1,132,132,113,132,113,31,113,113,113,113,113,...
Name: 4827, dtype: object
ID                          25112
IP_SPLIT_RESULT    114.203.239.23
SEQUENCE_PARSE                <1>
Name: 4828, dtype: object
ID                                                            25113
IP_SPLIT_RESULT                                       58.232.241.24
SEQUENCE_PARSE     <1,63,89,195,132,132,113,113,132,132,63,164,164>
Name: 4829, dtype: object
ID                                         25114
IP_SPLIT_RESULT                     61.98.217.98
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 4830, dtype: object
ID                          25115
IP_SPLIT_RESULT    223.39.131.191
SEQUENCE_PARSE           <39,164>
Name: 4831, dtype: object
ID                                                             25116
IP_SPLIT_RESULT                                         59.24.25.226
SEQUENCE_PARSE     <1,5,1,5,1,90,87,89,80,24,212,132,39,164,130,1...
Name: 4832, dtype: object
ID                                                         25117
IP_SPLIT_RESULT                                    223.39.146.82
SEQUENCE_PARSE     <1,90,92,87,1,132,132,158,160,93,132,158,160>
Name: 4833, dtype: object
ID                         25118
IP_SPLIT_RESULT    110.70.56.178
SEQUENCE_PARSE               <1>
Name: 4834, dtype: object
ID                                                         25119
IP_SPLIT_RESULT                                      14.53.24.67
SEQUENCE_PARSE     <132,132,93,93,93,93,93,93,90,92,87,89,23,27>
Name: 4835, dtype: object
ID                          25120
IP_SPLIT_RESULT    122.45.189.104
SEQUENCE_PARSE          <1,90,92>
Name: 4836, dtype: object
ID                           25121
IP_SPLIT_RESULT     182.172.153.15
SEQUENCE_PARSE     <39,164,31,113>
Name: 4837, dtype: object
ID                                                             25122
IP_SPLIT_RESULT                                       117.111.28.231
SEQUENCE_PARSE     <5,1,31,113,132,31,113,132,113,132,1,130,132,1...
Name: 4838, dtype: object
ID                         25123
IP_SPLIT_RESULT    61.82.161.224
SEQUENCE_PARSE             <5,1>
Name: 4839, dtype: object
ID                               25124
IP_SPLIT_RESULT         175.223.15.188
SEQUENCE_PARSE     <93,93,14,93,32,93>
Name: 4840, dtype: object
ID                                                        25125
IP_SPLIT_RESULT                                   223.39.146.82
SEQUENCE_PARSE     <92,89,80,29,132,113,132,113,132,10,132,132>
Name: 4841, dtype: object
ID                                                            25126
IP_SPLIT_RESULT                                         14.53.24.67
SEQUENCE_PARSE     <87,80,30,132,93,132,93,93,93,32,93,32,93,93,93>
Name: 4842, dtype: object
ID                          25127
IP_SPLIT_RESULT    211.202.93.194
SEQUENCE_PARSE                <1>
Name: 4843, dtype: object
ID                          25128
IP_SPLIT_RESULT    211.215.65.220
SEQUENCE_PARSE              <5,1>
Name: 4844, dtype: object
ID                         25129
IP_SPLIT_RESULT    125.31.138.96
SEQUENCE_PARSE       <1,5,1,132>
Name: 4845, dtype: object
ID                        25130
IP_SPLIT_RESULT    1.244.148.28
SEQUENCE_PARSE          <30,93>
Name: 4846, dtype: object
ID                        25131
IP_SPLIT_RESULT    196.52.43.61
SEQUENCE_PARSE              <1>
Name: 4847, dtype: object
ID                                                             25132
IP_SPLIT_RESULT                                       124.56.182.223
SEQUENCE_PARSE     <39,164,63,164,164,164,39,164,63,164,164,164,1...
Name: 4848, dtype: object
ID                                                       25133
IP_SPLIT_RESULT                                  117.111.2.206
SEQUENCE_PARSE     <1,93,132,132,31,113,113,31,113,113,31,113>
Name: 4849, dtype: object
ID                          25134
IP_SPLIT_RESULT    182.162.194.52
SEQUENCE_PARSE              <1,5>
Name: 4850, dtype: object
ID                           25135
IP_SPLIT_RESULT    211.179.243.169
SEQUENCE_PARSE                 <1>
Name: 4851, dtype: object
ID                       25136
IP_SPLIT_RESULT    59.9.240.78
SEQUENCE_PARSE       <5,1,132>
Name: 4852, dtype: object
ID                         25137
IP_SPLIT_RESULT    39.112.17.128
SEQUENCE_PARSE               <1>
Name: 4853, dtype: object
ID                                                             25138
IP_SPLIT_RESULT                                          1.210.43.83
SEQUENCE_PARSE     <1,132,113,132,113,31,113,113,31,113,113,132,1...
Name: 4854, dtype: object
ID                         25139
IP_SPLIT_RESULT    115.21.24.142
SEQUENCE_PARSE       <113,113,1>
Name: 4855, dtype: object
ID                          25140
IP_SPLIT_RESULT    117.52.141.219
SEQUENCE_PARSE            <1,5,1>
Name: 4856, dtype: object
ID                         25141
IP_SPLIT_RESULT    27.126.24.176
SEQUENCE_PARSE               <1>
Name: 4857, dtype: object
ID                           25142
IP_SPLIT_RESULT    112.170.156.212
SEQUENCE_PARSE                 <1>
Name: 4858, dtype: object
ID                                                             25143
IP_SPLIT_RESULT                                      175.125.223.109
SEQUENCE_PARSE     <5,29,132,132,113,31,113,132,132,158,160,113,1...
Name: 4859, dtype: object
ID                                                             25144
IP_SPLIT_RESULT                                      121.128.211.116
SEQUENCE_PARSE     <39,164,1,113,132,113,132,31,113,113,113,31,11...
Name: 4860, dtype: object
ID                                                             25145
IP_SPLIT_RESULT                                       211.36.153.102
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,90,92,89,132,132,...
Name: 4861, dtype: object
ID                        25146
IP_SPLIT_RESULT    122.45.5.146
SEQUENCE_PARSE              <1>
Name: 4862, dtype: object
ID                                                 25147
IP_SPLIT_RESULT                           116.34.203.188
SEQUENCE_PARSE     <1,113,130,130,130,164,164,164,164,1>
Name: 4863, dtype: object
ID                                                             25148
IP_SPLIT_RESULT                                       211.36.153.102
SEQUENCE_PARSE     <93,93,87,80,30,93,93,93,93,1,93,132,93,132,13...
Name: 4864, dtype: object
ID                                                             25149
IP_SPLIT_RESULT                                       114.205.236.27
SEQUENCE_PARSE     <1,132,132,113,113,113,113,113,113,31,113,113,...
Name: 4865, dtype: object
ID                         25150
IP_SPLIT_RESULT    124.58.72.233
SEQUENCE_PARSE             <5,1>
Name: 4866, dtype: object
ID                                                             25151
IP_SPLIT_RESULT                                       49.166.193.213
SEQUENCE_PARSE     <31,113,31,113,31,113,31,113,31,113,31,113,113...
Name: 4867, dtype: object
ID                          25152
IP_SPLIT_RESULT    175.200.19.234
SEQUENCE_PARSE                <1>
Name: 4868, dtype: object
ID                                                             25153
IP_SPLIT_RESULT                                       125.177.52.120
SEQUENCE_PARSE     <1,132,93,132,93,90,92,90,23,1,132,93,132,93,9...
Name: 4869, dtype: object
ID                                                             25154
IP_SPLIT_RESULT                                        1.231.118.183
SEQUENCE_PARSE     <93,132,93,93,132,93,132,93,93,87,93,93,14,93,...
Name: 4870, dtype: object
ID                                                             25155
IP_SPLIT_RESULT                                        1.230.163.115
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,1,93,93,90>
Name: 4871, dtype: object
ID                                                             25156
IP_SPLIT_RESULT                                      182.210.135.135
SEQUENCE_PARSE     <1,5,1,5,1,132,5,1,132,132,93,132,93,93,93,93,...
Name: 4872, dtype: object
ID                                               25157
IP_SPLIT_RESULT                          1.230.163.115
SEQUENCE_PARSE     <132,93,132,93,93,30,132,93,132,93>
Name: 4873, dtype: object
ID                                                             25158
IP_SPLIT_RESULT                                       121.175.213.12
SEQUENCE_PARSE     <1,90,93,132,93,132,93,93,93,93,113,113,113,11...
Name: 4874, dtype: object
ID                          25159
IP_SPLIT_RESULT    125.177.52.120
SEQUENCE_PARSE               <92>
Name: 4875, dtype: object
ID                          25160
IP_SPLIT_RESULT    121.175.213.12
SEQUENCE_PARSE          <132,132>
Name: 4876, dtype: object
ID                        25161
IP_SPLIT_RESULT    66.249.69.76
SEQUENCE_PARSE              <1>
Name: 4877, dtype: object
ID                                 25162
IP_SPLIT_RESULT           211.246.116.36
SEQUENCE_PARSE     <1,132,132,87,92,189>
Name: 4878, dtype: object
ID                                                             25163
IP_SPLIT_RESULT                                         223.62.219.6
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,90,92,87,89,1,132...
Name: 4879, dtype: object
ID                                                             25166
IP_SPLIT_RESULT                                       211.246.116.36
SEQUENCE_PARSE     <10,87,92,189,132,93,132,132,132,113,113,113,1...
Name: 4880, dtype: object
ID                                                             25167
IP_SPLIT_RESULT                                         223.62.219.6
SEQUENCE_PARSE     <80,30,132,93,132,93,32,93,132,93,132,93,93,93...
Name: 4881, dtype: object
ID                         25168
IP_SPLIT_RESULT    61.79.155.154
SEQUENCE_PARSE       <1,5,1,5,1>
Name: 4882, dtype: object
ID                          25169
IP_SPLIT_RESULT    118.46.203.104
SEQUENCE_PARSE              <5,1>
Name: 4883, dtype: object
ID                                                             25170
IP_SPLIT_RESULT                                        175.223.19.66
SEQUENCE_PARSE     <1,113,132,113,132,31,31,1,132,158,160,93,132,...
Name: 4884, dtype: object
ID                        25171
IP_SPLIT_RESULT    1.240.251.10
SEQUENCE_PARSE              <1>
Name: 4885, dtype: object
ID                          25172
IP_SPLIT_RESULT    125.142.10.224
SEQUENCE_PARSE              <5,1>
Name: 4886, dtype: object
ID                                                             25173
IP_SPLIT_RESULT                                       211.41.205.185
SEQUENCE_PARSE     <113,113,113,31,113,113,113,31,31,113,1,113,13...
Name: 4887, dtype: object
ID                                 25174
IP_SPLIT_RESULT             1.240.251.10
SEQUENCE_PARSE     <93,132,132,93,93,93>
Name: 4888, dtype: object
ID                        25175
IP_SPLIT_RESULT    116.37.41.45
SEQUENCE_PARSE              <1>
Name: 4889, dtype: object
ID                                        25176
IP_SPLIT_RESULT                   110.70.52.113
SEQUENCE_PARSE     <1,132,93,132,93,90,92,1,31>
Name: 4890, dtype: object
ID                                                             25177
IP_SPLIT_RESULT                                       182.221.236.34
SEQUENCE_PARSE     <1,63,1,63,132,93,132,93,132,113,113,132,31,11...
Name: 4891, dtype: object
ID                         25178
IP_SPLIT_RESULT    223.33.165.11
SEQUENCE_PARSE               <1>
Name: 4892, dtype: object
ID                        25179
IP_SPLIT_RESULT    125.177.0.14
SEQUENCE_PARSE              <1>
Name: 4893, dtype: object
ID                                                             25180
IP_SPLIT_RESULT                                       182.221.236.34
SEQUENCE_PARSE     <113,31,113,31,113,113,132,132,113,31,113,113,...
Name: 4894, dtype: object
ID                                                             25181
IP_SPLIT_RESULT                                       223.39.146.134
SEQUENCE_PARSE     <132,93,132,93,132,132,158,160,132,93,1,93,93,...
Name: 4895, dtype: object
ID                                                             25182
IP_SPLIT_RESULT                                         14.51.31.230
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,1,132,93,132,93,9...
Name: 4896, dtype: object
ID                                                             25183
IP_SPLIT_RESULT                                       223.39.146.134
SEQUENCE_PARSE     <93,93,14,93,93,93,14,93,132,132,132,158,160,1...
Name: 4897, dtype: object
ID                                                             25184
IP_SPLIT_RESULT                                         118.46.88.20
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,93,132,93,132,93,13...
Name: 4898, dtype: object
ID                                                             25185
IP_SPLIT_RESULT                                       211.36.149.213
SEQUENCE_PARSE     <1,132,81,132,132,81,132,132,132,81,132,132,13...
Name: 4899, dtype: object
ID                          25186
IP_SPLIT_RESULT    121.152.243.35
SEQUENCE_PARSE                <1>
Name: 4900, dtype: object
ID                         25187
IP_SPLIT_RESULT    117.111.5.162
SEQUENCE_PARSE               <1>
Name: 4901, dtype: object
ID                                                     25188
IP_SPLIT_RESULT                              175.200.128.186
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93>
Name: 4902, dtype: object
ID                        25189
IP_SPLIT_RESULT    1.231.192.39
SEQUENCE_PARSE              <1>
Name: 4903, dtype: object
ID                                                             25190
IP_SPLIT_RESULT                                        124.50.240.66
SEQUENCE_PARSE     <1,132,93,132,93,93,93,90,92,87,1,130,93,132,8...
Name: 4904, dtype: object
ID                         25191
IP_SPLIT_RESULT    125.177.19.53
SEQUENCE_PARSE               <1>
Name: 4905, dtype: object
ID                                             25192
IP_SPLIT_RESULT                        124.50.240.66
SEQUENCE_PARSE     <87,89,80,29,132,113,132,113,132>
Name: 4906, dtype: object
ID                                                             25193
IP_SPLIT_RESULT                                      221.138.212.156
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 4907, dtype: object
ID                                                 25194
IP_SPLIT_RESULT                          175.118.144.112
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93>
Name: 4908, dtype: object
ID                         25195
IP_SPLIT_RESULT    207.46.13.147
SEQUENCE_PARSE               <1>
Name: 4909, dtype: object
ID                          25196
IP_SPLIT_RESULT    175.197.211.77
SEQUENCE_PARSE                <1>
Name: 4910, dtype: object
ID                                   25197
IP_SPLIT_RESULT             210.179.100.97
SEQUENCE_PARSE     <1,93,132,132,93,93,93>
Name: 4911, dtype: object
ID                         25198
IP_SPLIT_RESULT    112.140.153.4
SEQUENCE_PARSE               <1>
Name: 4912, dtype: object
ID                         25199
IP_SPLIT_RESULT    208.80.192.33
SEQUENCE_PARSE               <1>
Name: 4913, dtype: object
ID                          25200
IP_SPLIT_RESULT    221.162.248.78
SEQUENCE_PARSE                <1>
Name: 4914, dtype: object
ID                         25201
IP_SPLIT_RESULT    121.183.24.46
SEQUENCE_PARSE               <1>
Name: 4915, dtype: object
ID                        25202
IP_SPLIT_RESULT    180.76.15.32
SEQUENCE_PARSE              <1>
Name: 4916, dtype: object
ID                          25203
IP_SPLIT_RESULT    125.182.218.60
SEQUENCE_PARSE                <1>
Name: 4917, dtype: object
ID                        25204
IP_SPLIT_RESULT    124.63.8.108
SEQUENCE_PARSE       <1,5,1,87>
Name: 4918, dtype: object
ID                          25205
IP_SPLIT_RESULT    110.13.103.215
SEQUENCE_PARSE                <1>
Name: 4919, dtype: object
ID                                                             25206
IP_SPLIT_RESULT                                         124.63.8.108
SEQUENCE_PARSE     <1,5,1,132,1,90,92,89,80,26,25,27,63,63,1,63,1...
Name: 4920, dtype: object
ID                                                             25207
IP_SPLIT_RESULT                                         223.38.11.87
SEQUENCE_PARSE     <1,93,132,132,93,39,164,39,164,39,1,132,93,132...
Name: 4921, dtype: object
ID                                                             25208
IP_SPLIT_RESULT                                         223.38.11.87
SEQUENCE_PARSE     <132,93,132,93,164,1,132,132,132,158,160,164,1...
Name: 4922, dtype: object
ID                           25209
IP_SPLIT_RESULT    112.148.112.137
SEQUENCE_PARSE                 <1>
Name: 4923, dtype: object
ID                                                             25210
IP_SPLIT_RESULT                                         222.118.2.44
SEQUENCE_PARSE     <1,63,132,10,132,113,132,113,113,113,31,113,11...
Name: 4924, dtype: object
ID                         25211
IP_SPLIT_RESULT    114.207.36.92
SEQUENCE_PARSE         <5,1,132>
Name: 4925, dtype: object
ID                        25212
IP_SPLIT_RESULT    180.67.30.96
SEQUENCE_PARSE              <1>
Name: 4926, dtype: object
ID                                    25213
IP_SPLIT_RESULT              218.235.148.14
SEQUENCE_PARSE     <1,90,92,87,89,91,26,26>
Name: 4927, dtype: object
ID                        25214
IP_SPLIT_RESULT    1.231.88.126
SEQUENCE_PARSE              <1>
Name: 4928, dtype: object
ID                                                             25215
IP_SPLIT_RESULT                                      112.152.173.221
SEQUENCE_PARSE     <132,132,113,113,1,113,113,113,29,132,113,29,1...
Name: 4929, dtype: object
ID                        25216
IP_SPLIT_RESULT    58.121.89.12
SEQUENCE_PARSE              <1>
Name: 4930, dtype: object
ID                          25217
IP_SPLIT_RESULT    122.255.191.58
SEQUENCE_PARSE                <1>
Name: 4931, dtype: object
ID                                                             25218

ID                                                             25286
IP_SPLIT_RESULT                                        117.111.1.130
SEQUENCE_PARSE     <1,32,1,130,132,132,132,132,189,132,132,132,93...
Name: 5000, dtype: object
ID                                                             25287
IP_SPLIT_RESULT                                          39.7.19.186
SEQUENCE_PARSE     <90,92,89,80,29,132,113,132,113,132,10,132,113...
Name: 5001, dtype: object
ID                          25288
IP_SPLIT_RESULT    175.223.44.170
SEQUENCE_PARSE      <1,31,113,31>
Name: 5002, dtype: object
ID                                                             25289
IP_SPLIT_RESULT                                        14.33.183.143
SEQUENCE_PARSE     <1,130,1,31,113,31,113,31,113,1,63,132,113,132...
Name: 5003, dtype: object
ID                           25290
IP_SPLIT_RESULT    114.201.112.124
SEQUENCE_PARSE                 <1>
Name: 5004, dtype: object
ID                          25291
IP_SPLIT_RESULT    218.239.192.43
SEQUENCE_PARSE            <1,5,1>
Name: 5005, dtype: object
ID                           25292
IP_SPLIT_RESULT    123.248.213.128
SEQUENCE_PARSE              <1,90>
Name: 5006, dtype: object
ID                          25293
IP_SPLIT_RESULT    118.40.159.253
SEQUENCE_PARSE                <1>
Name: 5007, dtype: object
ID                         25294
IP_SPLIT_RESULT    58.236.16.194
SEQUENCE_PARSE               <1>
Name: 5008, dtype: object
ID                                                             25295
IP_SPLIT_RESULT                                        58.121.69.130
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,90,92,90,92,87,89...
Name: 5009, dtype: object
ID                           25296
IP_SPLIT_RESULT    123.248.213.128
SEQUENCE_PARSE             <92,87>
Name: 5010, dtype: object
ID                                                             25297
IP_SPLIT_RESULT                                        58.121.69.130
SEQUENCE_PARSE     <132,93,132,93,132,113,132,113,113,113,113,113...
Name: 5011, dtype: object
ID                                                             25298
IP_SPLIT_RESULT                                         1.230.165.75
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 5012, dtype: object
ID                                                             25299
IP_SPLIT_RESULT                                      222.237.157.227
SEQUENCE_PARSE     <1,89,132,10,32,93,32,93,32,93,32,93,93,87,93,...
Name: 5013, dtype: object
ID                          25300
IP_SPLIT_RESULT    211.36.131.206
SEQUENCE_PARSE                <1>
Name: 5014, dtype: object
ID                          25301
IP_SPLIT_RESULT    211.226.48.150
SEQUENCE_PARSE                <1>
Name: 5015, dtype: object
ID                         25302
IP_SPLIT_RESULT    120.92.32.141
SEQUENCE_PARSE               <1>
Name: 5016, dtype: object
ID                                                             25303
IP_SPLIT_RESULT                                       121.161.136.72
SEQUENCE_PARSE     <1,90,92,87,89,80,30,132,93,132,93,93,93,93,93...
Name: 5017, dtype: object
ID                          25304
IP_SPLIT_RESULT    49.174.255.254
SEQUENCE_PARSE                <1>
Name: 5018, dtype: object
ID                                                             25305
IP_SPLIT_RESULT                                       121.161.136.72
SEQUENCE_PARSE     <87,93,32,93,93,93,93,93,93,93,32,93,32,93,32,...
Name: 5019, dtype: object
ID                         25306
IP_SPLIT_RESULT    211.201.27.70
SEQUENCE_PARSE               <1>
Name: 5020, dtype: object
ID                             25307
IP_SPLIT_RESULT          124.56.5.19
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 5021, dtype: object
ID                        25308
IP_SPLIT_RESULT    223.62.22.69
SEQUENCE_PARSE              <1>
Name: 5022, dtype: object
ID                          25309
IP_SPLIT_RESULT    211.210.49.194
SEQUENCE_PARSE                <1>
Name: 5023, dtype: object
ID                          25310
IP_SPLIT_RESULT    115.138.70.232
SEQUENCE_PARSE                <1>
Name: 5024, dtype: object
ID                          25311
IP_SPLIT_RESULT    61.251.194.198
SEQUENCE_PARSE               <29>
Name: 5025, dtype: object
ID                          25312
IP_SPLIT_RESULT    61.251.194.198
SEQUENCE_PARSE              <132>
Name: 5026, dtype: object
ID                          25313
IP_SPLIT_RESULT    61.251.194.198
SEQUENCE_PARSE       <132,31,113>
Name: 5027, dtype: object
ID                           25314
IP_SPLIT_RESULT    219.249.178.227
SEQUENCE_PARSE                 <1>
Name: 5028, dtype: object
ID                                                        25315
IP_SPLIT_RESULT                                   121.148.17.16
SEQUENCE_PARSE     <29,113,132,132,158,160,132,132,113,132,113>
Name: 5029, dtype: object
ID                         25316
IP_SPLIT_RESULT    211.36.158.68
SEQUENCE_PARSE               <1>
Name: 5030, dtype: object
ID                               25317
IP_SPLIT_RESULT         139.162.108.53
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1>
Name: 5031, dtype: object
ID                         25318
IP_SPLIT_RESULT    157.55.39.198
SEQUENCE_PARSE             <1,4>
Name: 5032, dtype: object
ID                        25319
IP_SPLIT_RESULT    77.53.126.46
SEQUENCE_PARSE              <1>
Name: 5033, dtype: object
ID                                                             25320
IP_SPLIT_RESULT                                        182.226.54.31
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,90,92,87,89...
Name: 5034, dtype: object
ID                                                             25321
IP_SPLIT_RESULT                                        182.226.54.31
SEQUENCE_PARSE     <92,87,80,30,132,93,132,93,93,93,93,93,93,93,9...
Name: 5035, dtype: object
ID                          25322
IP_SPLIT_RESULT    211.204.111.97
SEQUENCE_PARSE             <1,92>
Name: 5036, dtype: object
ID                          25323
IP_SPLIT_RESULT    211.204.111.97
SEQUENCE_PARSE               <90>
Name: 5037, dtype: object
ID                           25324
IP_SPLIT_RESULT    203.217.241.128
SEQUENCE_PARSE                 <1>
Name: 5038, dtype: object
ID                          25325
IP_SPLIT_RESULT    223.33.178.176
SEQUENCE_PARSE          <93,93,1>
Name: 5039, dtype: object
ID                          25326
IP_SPLIT_RESULT    112.152.133.49
SEQUENCE_PARSE              <5,1>
Name: 5040, dtype: object
ID                           25327
IP_SPLIT_RESULT       112.152.17.5
SEQUENCE_PARSE     <30,132,93,132>
Name: 5041, dtype: object
ID                                         25328
IP_SPLIT_RESULT                     112.152.17.5
SEQUENCE_PARSE     <93,33,164,32,93,32,93,32,93>
Name: 5042, dtype: object
ID                        25329
IP_SPLIT_RESULT    61.79.162.47
SEQUENCE_PARSE              <1>
Name: 5043, dtype: object
ID                       25330
IP_SPLIT_RESULT    70.70.10.49
SEQUENCE_PARSE             <1>
Name: 5044, dtype: object
ID                          25331
IP_SPLIT_RESULT    179.217.138.55
SEQUENCE_PARSE                <1>
Name: 5045, dtype: object
ID                         25332
IP_SPLIT_RESULT    122.38.108.67
SEQUENCE_PARSE               <1>
Name: 5046, dtype: object
ID                                                             25333
IP_SPLIT_RESULT                                         121.184.8.57
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,132,113,132,113,1...
Name: 5047, dtype: object
ID                           25334
IP_SPLIT_RESULT    179.218.117.115
SEQUENCE_PARSE                 <1>
Name: 5048, dtype: object
ID                                                             25335
IP_SPLIT_RESULT                                       211.36.142.116
SEQUENCE_PARSE     <1,31,113,132,113,132,31,113,113,113,31,31,113...
Name: 5049, dtype: object
ID                                                             25336
IP_SPLIT_RESULT                                        222.233.87.31
SEQUENCE_PARSE     <1,5,1,90,92,87,93,93,93,93,32,93,32,93,93,93,...
Name: 5050, dtype: object
ID                        25337
IP_SPLIT_RESULT    46.17.46.213
SEQUENCE_PARSE              <1>
Name: 5051, dtype: object
ID                                                             25338
IP_SPLIT_RESULT                                       175.223.14.171
SEQUENCE_PARSE     <33,164,130,130,130,132,132,158,160,132,132,15...
Name: 5052, dtype: object
ID                                                             25339
IP_SPLIT_RESULT                                       175.223.14.171
SEQUENCE_PARSE     <1,191,87,113,113,14,113,132,113,132,27,1,33,1...
Name: 5053, dtype: object
ID                          25340
IP_SPLIT_RESULT    141.212.122.81
SEQUENCE_PARSE                <1>
Name: 5054, dtype: object
ID                           25341
IP_SPLIT_RESULT    173.212.201.191
SEQUENCE_PARSE                 <1>
Name: 5055, dtype: object
ID                        25342
IP_SPLIT_RESULT    49.168.45.67
SEQUENCE_PARSE              <1>
Name: 5056, dtype: object
ID                          25343
IP_SPLIT_RESULT    197.82.221.165
SEQUENCE_PARSE                <1>
Name: 5057, dtype: object
ID                          25344
IP_SPLIT_RESULT    13.115.119.220
SEQUENCE_PARSE      <5,1,5,1,5,1>
Name: 5058, dtype: object
ID                                                             25345
IP_SPLIT_RESULT                                       122.38.154.175
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,32,93,1,132,93,13...
Name: 5059, dtype: object
ID                                                             25346
IP_SPLIT_RESULT                                         110.70.59.22
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,132,93,132,...
Name: 5060, dtype: object
ID                        25347
IP_SPLIT_RESULT    1.211.218.50
SEQUENCE_PARSE              <1>
Name: 5061, dtype: object
ID                           25348
IP_SPLIT_RESULT    221.161.111.103
SEQUENCE_PARSE                 <1>
Name: 5062, dtype: object
ID                          25349
IP_SPLIT_RESULT    58.232.133.230
SEQUENCE_PARSE                <1>
Name: 5063, dtype: object
ID                                                             25350
IP_SPLIT_RESULT                                       223.62.172.132
SEQUENCE_PARSE     <1,93,132,93,132,93,93,32,93,32,93,132,162,166...
Name: 5064, dtype: object
ID                                                            25351
IP_SPLIT_RESULT                                      175.223.30.253
SEQUENCE_PARSE     <39,39,164,130,164,164,132,39,164,39,164,39,164>
Name: 5065, dtype: object
ID                           25352
IP_SPLIT_RESULT    112.155.183.182
SEQUENCE_PARSE                 <1>
Name: 5066, dtype: object
ID                          25353
IP_SPLIT_RESULT    175.223.30.253
SEQUENCE_PARSE              <164>
Name: 5067, dtype: object
ID                                                         25354
IP_SPLIT_RESULT                                     69.11.104.99
SEQUENCE_PARSE     <39,1,130,81,81,132,158,160,164,132,81,81,81>
Name: 5068, dtype: object
ID                                    25355
IP_SPLIT_RESULT                69.11.104.99
SEQUENCE_PARSE     <164,39,164,130,132,164>
Name: 5069, dtype: object
ID                                                             25356
IP_SPLIT_RESULT                                         223.62.212.4
SEQUENCE_PARSE     <1,90,92,87,1,132,93,132,93,1,132,93,132,93,93...
Name: 5070, dtype: object
ID                                                             25357
IP_SPLIT_RESULT                                        122.32.165.44
SEQUENCE_PARSE     <1,132,132,113,132,113,113,113,31,113,113,113,...
Name: 5071, dtype: object
ID                                                             25358
IP_SPLIT_RESULT                                        122.32.165.44
SEQUENCE_PARSE     <31,113,113,113,113,113,113,113,31,113,113,113...
Name: 5072, dtype: object
ID                                                             25359
IP_SPLIT_RESULT                                        211.48.46.177
SEQUENCE_PARSE     <1,132,93,132,132,132,132,132,158,160,132,132,...
Name: 5073, dtype: object
ID                         25360
IP_SPLIT_RESULT    110.70.55.129
SEQUENCE_PARSE               <1>
Name: 5074, dtype: object
ID                         25361
IP_SPLIT_RESULT    175.223.19.63
SEQUENCE_PARSE        <132,31,1>
Name: 5075, dtype: object
ID                           25362
IP_SPLIT_RESULT    180.229.206.151
SEQUENCE_PARSE           <5,1,5,1>
Name: 5076, dtype: object
ID                          25363
IP_SPLIT_RESULT    175.223.33.234
SEQUENCE_PARSE           <39,164>
Name: 5077, dtype: object
ID                                                             25364
IP_SPLIT_RESULT                                          1.236.38.68
SEQUENCE_PARSE     <1,132,132,158,160,132,132,113,132,113,113,113...
Name: 5078, dtype: object
ID                                   25365
IP_SPLIT_RESULT            112.163.143.137
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 5079, dtype: object
ID                         25366
IP_SPLIT_RESULT    66.249.82.176
SEQUENCE_PARSE               <1>
Name: 5080, dtype: object
ID                         25367
IP_SPLIT_RESULT    66.249.82.178
SEQUENCE_PARSE               <1>
Name: 5081, dtype: object
ID                          25368
IP_SPLIT_RESULT    223.62.162.171
SEQUENCE_PARSE                <1>
Name: 5082, dtype: object
ID                                                             25369
IP_SPLIT_RESULT                                          1.236.38.68
SEQUENCE_PARSE     <93,93,32,93,93,32,93,1,5,1,132,93,132,93,93,9...
Name: 5083, dtype: object
ID                          25370
IP_SPLIT_RESULT    222.237.116.55
SEQUENCE_PARSE                <1>
Name: 5084, dtype: object
ID                                           25371
IP_SPLIT_RESULT                      223.39.146.12
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,1>
Name: 5085, dtype: object
ID                                                             25372
IP_SPLIT_RESULT                                        117.111.24.78
SEQUENCE_PARSE     <29,132,113,132,113,31,113,113,113,31,113,31,1...
Name: 5086, dtype: object
ID                         25373
IP_SPLIT_RESULT    223.39.146.12
SEQUENCE_PARSE               <1>
Name: 5087, dtype: object
ID                                                             25374
IP_SPLIT_RESULT                                           59.0.38.75
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,132,113,132,113,1...
Name: 5088, dtype: object
ID                         25375
IP_SPLIT_RESULT    218.156.40.49
SEQUENCE_PARSE               <1>
Name: 5089, dtype: object
ID                           25376
IP_SPLIT_RESULT    125.137.186.222
SEQUENCE_PARSE                 <1>
Name: 5090, dtype: object
ID                         25377
IP_SPLIT_RESULT    175.223.39.18
SEQUENCE_PARSE               <1>
Name: 5091, dtype: object
ID                                                             25378
IP_SPLIT_RESULT                                       223.62.162.231
SEQUENCE_PARSE     <1,63,132,93,132,132,85,132,132,113,132,113,31...
Name: 5092, dtype: object
ID                                                             25379
IP_SPLIT_RESULT                                       223.62.162.231
SEQUENCE_PARSE     <31,113,113,113,113,113,113,113,31,113,113,113...
Name: 5093, dtype: object
ID                                                             25380
IP_SPLIT_RESULT                                          223.38.8.78
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,130,130,113,132,1...
Name: 5094, dtype: object
ID                         25381
IP_SPLIT_RESULT    59.16.234.121
SEQUENCE_PARSE               <1>
Name: 5095, dtype: object
ID                                                             25382
IP_SPLIT_RESULT                                        223.62.10.243
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,1,132,93,132,9...
Name: 5096, dtype: object
ID                          25383
IP_SPLIT_RESULT    175.194.24.162
SEQUENCE_PARSE           <39,164>
Name: 5097, dtype: object
ID                                                             25384
IP_SPLIT_RESULT                                        223.62.10.243
SEQUENCE_PARSE     <32,93,93,93,93,93,93,93,93,93,32,93,93,32,32,...
Name: 5098, dtype: object
ID                                                             25385
IP_SPLIT_RESULT                                        223.62.204.52
SEQUENCE_PARSE     <1,132,158,160,113,132,158,160,113,132,158,160...
Name: 5099, dtype: object
ID                                                             25386
IP_SPLIT_RESULT                                          223.38.8.78
SEQUENCE_PARSE     <93,93,132,113,113,113,14,113,132,93,132,162,9...
Name: 5100, dtype: object
ID                         25387
IP_SPLIT_RESULT    175.223.11.26
SEQUENCE_PARSE               <1>
Name: 5101, dtype: object
ID                          25388
IP_SPLIT_RESULT    211.250.145.78
SEQUENCE_PARSE              <5,1>
Name: 5102, dtype: object
ID                         25389
IP_SPLIT_RESULT    223.57.58.178
SEQUENCE_PARSE               <1>
Name: 5103, dtype: object
ID                          25390
IP_SPLIT_RESULT    117.52.141.193
SEQUENCE_PARSE            <1,5,1>
Name: 5104, dtype: object
ID                                   25391
IP_SPLIT_RESULT             182.231.184.67
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 5105, dtype: object
ID                         25392
IP_SPLIT_RESULT    223.33.184.87
SEQUENCE_PARSE               <1>
Name: 5106, dtype: object
ID                                                             25393
IP_SPLIT_RESULT                                           113.30.3.3
SEQUENCE_PARSE     <39,164,63,164,1,29,132,113,132,113,1,132,93,1...
Name: 5107, dtype: object
ID                          25394
IP_SPLIT_RESULT    117.111.21.241
SEQUENCE_PARSE          <1,90,87>
Name: 5108, dtype: object
ID                            25395
IP_SPLIT_RESULT      175.223.44.170
SEQUENCE_PARSE     <113,113,31,113>
Name: 5109, dtype: object
ID                                    25396
IP_SPLIT_RESULT               118.91.69.141
SEQUENCE_PARSE     <1,39,164,1,130,130,130>
Name: 5110, dtype: object
ID                                                             25397
IP_SPLIT_RESULT                                        115.140.26.55
SEQUENCE_PARSE     <1,132,93,132,93,90,132,132,93,132,93,132,93,9...
Name: 5111, dtype: object
ID                                                             25398
IP_SPLIT_RESULT                                       117.111.21.241
SEQUENCE_PARSE     <92,89,80,29,113,132,113,132,113,113,31,113,13...
Name: 5112, dtype: object
ID                         25399
IP_SPLIT_RESULT    115.140.26.55
SEQUENCE_PARSE         <92,1,93>
Name: 5113, dtype: object
ID                                                             25400
IP_SPLIT_RESULT                                        175.223.36.43
SEQUENCE_PARSE     <1,113,113,113,14,113,113,113,14,113,132,132,1...
Name: 5114, dtype: object
ID                                                             25401
IP_SPLIT_RESULT                                       175.223.36.177
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,113,113,31,113,3...
Name: 5115, dtype: object
ID                          25402
IP_SPLIT_RESULT    211.251.47.177
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 5116, dtype: object
ID                                                             25403
IP_SPLIT_RESULT                                      210.216.159.200
SEQUENCE_PARSE     <1,5,1,5,1,93,93,93,93,93,93,93,93,93,132,93,1...
Name: 5117, dtype: object
ID                         25404
IP_SPLIT_RESULT    210.125.253.2
SEQUENCE_PARSE               <1>
Name: 5118, dtype: object
ID                          25405
IP_SPLIT_RESULT    175.223.36.177
SEQUENCE_PARSE      <113,113,113>

ID                                                           25486
IP_SPLIT_RESULT                                      223.62.21.158
SEQUENCE_PARSE     <1,132,132,158,160,132,132,132,33,164,33,164,1>
Name: 5197, dtype: object
ID                         25487
IP_SPLIT_RESULT    61.73.207.202
SEQUENCE_PARSE               <6>
Name: 5198, dtype: object
ID                                                25488
IP_SPLIT_RESULT                           223.62.21.158
SEQUENCE_PARSE     <1,33,164,1,132,132,158,160,164,132>
Name: 5199, dtype: object
ID                           25489
IP_SPLIT_RESULT      221.142.5.236
SEQUENCE_PARSE     <1,90,92,90,92>
Name: 5200, dtype: object
ID                      25490
IP_SPLIT_RESULT    1.210.0.13
SEQUENCE_PARSE            <1>
Name: 5201, dtype: object
ID                                                             25491
IP_SPLIT_RESULT                                       182.231.198.60
SEQUENCE_PARSE     <93,93,93,1,132,93,132,93,93,93,32,93,32,93,32...
Name: 5202, dtype: object
ID                                                             25492
IP_SPLIT_RESULT                                           1.210.0.13
SEQUENCE_PARSE     <63,113,132,113,132,113,113,31,113,113,113,31,...
Name: 5203, dtype: object
ID                         25493
IP_SPLIT_RESULT    221.142.5.236
SEQUENCE_PARSE              <92>
Name: 5204, dtype: object
ID                          25494
IP_SPLIT_RESULT    223.62.188.179
SEQUENCE_PARSE         <1,39,164>
Name: 5205, dtype: object
ID                                                             25495
IP_SPLIT_RESULT                                        122.35.180.22
SEQUENCE_PARSE     <39,164,63,89,195,132,132,158,160,132,132,113,...
Name: 5206, dtype: object
ID                                                           25496
IP_SPLIT_RESULT                                     223.62.188.179
SEQUENCE_PARSE     <1,63,1,132,93,93,132,93,93,93,93,32,93,31,113>
Name: 5207, dtype: object
ID                                                             25497
IP_SPLIT_RESULT                                       175.223.26.137
SEQUENCE_PARSE     <1,132,93,132,8,1,31,113,1,93,1,132,93,1,132,1...
Name: 5208, dtype: object
ID                          25498
IP_SPLIT_RESULT    220.120.230.48
SEQUENCE_PARSE              <5,1>
Name: 5209, dtype: object
ID                                                 25499
IP_SPLIT_RESULT                           223.62.219.206
SEQUENCE_PARSE     <1,132,93,132,93,93,93,30,132,93,132>
Name: 5210, dtype: object
ID                                                         25500
IP_SPLIT_RESULT                                     110.70.51.17
SEQUENCE_PARSE     <164,130,130,164,113,1,39,164,1,39,164,1,130>
Name: 5211, dtype: object
ID                          25501
IP_SPLIT_RESULT    123.142.91.134
SEQUENCE_PARSE              <5,1>
Name: 5212, dtype: object
ID                         25502
IP_SPLIT_RESULT    1.233.247.226
SEQUENCE_PARSE               <1>
Name: 5213, dtype: object
ID                          25503
IP_SPLIT_RESULT    180.182.180.52
SEQUENCE_PARSE                <1>
Name: 5214, dtype: object
ID                         25504
IP_SPLIT_RESULT    175.223.3.152
SEQUENCE_PARSE     <1,63,93,132>
Name: 5215, dtype: object
ID                          25505
IP_SPLIT_RESULT    125.209.213.86
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 5216, dtype: object
ID                          25506
IP_SPLIT_RESULT    125.209.213.87
SEQUENCE_PARSE            <1,5,1>
Name: 5217, dtype: object
ID                                              25507
IP_SPLIT_RESULT                        117.111.28.125
SEQUENCE_PARSE     <1,90,92,1,90,87,89,212,130,1,130>
Name: 5218, dtype: object
ID                                                        25508
IP_SPLIT_RESULT                                    1.236.66.224
SEQUENCE_PARSE     <39,164,164,31,12,132,158,160,39,164,39,164>
Name: 5219, dtype: object
ID                                                             25509
IP_SPLIT_RESULT                                        110.70.52.108
SEQUENCE_PARSE     <1,92,89,80,24,212,132,87,1,93,132,132,132,1,6...
Name: 5220, dtype: object
ID                           25510
IP_SPLIT_RESULT    121.161.172.111
SEQUENCE_PARSE           <5,1,5,1>
Name: 5221, dtype: object
ID                               25511
IP_SPLIT_RESULT        203.244.220.251
SEQUENCE_PARSE     <30,132,5,93,132,1>
Name: 5222, dtype: object
ID                                                             25512
IP_SPLIT_RESULT                                        223.38.10.143
SEQUENCE_PARSE     <1,130,89,80,26,191,130,132,93,132,93,33,164,3...
Name: 5223, dtype: object
ID                                                             25513
IP_SPLIT_RESULT                                        223.38.10.143
SEQUENCE_PARSE     <132,93,132,93,1,90,92,87,89,93,132,132,93,32,...
Name: 5224, dtype: object
ID                                                             25514
IP_SPLIT_RESULT                                        122.35.180.22
SEQUENCE_PARSE     <31,113,31,113,31,113,113,113,31,113,93,1,63,6...
Name: 5225, dtype: object
ID                                                             25515
IP_SPLIT_RESULT                                       223.62.162.150
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,63,132,113,132,11...
Name: 5226, dtype: object
ID                           25516
IP_SPLIT_RESULT    222.236.146.130
SEQUENCE_PARSE              <1,90>
Name: 5227, dtype: object
ID                          25517
IP_SPLIT_RESULT    58.143.251.179
SEQUENCE_PARSE                <1>
Name: 5228, dtype: object
ID                                                             25518
IP_SPLIT_RESULT                                       222.117.69.199
SEQUENCE_PARSE     <1,93,132,132,93,93,93,1,132,93,132,93,93,93,9...
Name: 5229, dtype: object
ID                                                             25519
IP_SPLIT_RESULT                                      222.236.146.130
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 5230, dtype: object
ID                                                             25520
IP_SPLIT_RESULT                                       222.117.69.199
SEQUENCE_PARSE     <93,93,132,93,132,93,93,93,93,30,132,93,132,93...
Name: 5231, dtype: object
ID                         25521
IP_SPLIT_RESULT    223.62.10.167
SEQUENCE_PARSE        <1,33,164>
Name: 5232, dtype: object
ID                        25522
IP_SPLIT_RESULT    1.230.105.89
SEQUENCE_PARSE              <1>
Name: 5233, dtype: object
ID                                                             25523
IP_SPLIT_RESULT                                         223.38.10.33
SEQUENCE_PARSE     <63,132,113,132,113,113,113,113,113,31,113,113...
Name: 5234, dtype: object
ID                         25524
IP_SPLIT_RESULT    117.111.25.48
SEQUENCE_PARSE         <132,113>
Name: 5235, dtype: object
ID                        25525
IP_SPLIT_RESULT    223.38.10.33
SEQUENCE_PARSE     <113,31,113>
Name: 5236, dtype: object
ID                        25526
IP_SPLIT_RESULT    1.247.181.10
SEQUENCE_PARSE              <1>
Name: 5237, dtype: object
ID                                                             25527
IP_SPLIT_RESULT                                        211.36.150.78
SEQUENCE_PARSE     <1,92,87,89,80,29,132,113,132,113,132,132,113,...
Name: 5238, dtype: object
ID                                                    25528
IP_SPLIT_RESULT                               211.36.150.78
SEQUENCE_PARSE     <90,93,93,93,93,32,93,32,93,32,93,32,32>
Name: 5239, dtype: object
ID                        25529
IP_SPLIT_RESULT    210.14.78.91
SEQUENCE_PARSE              <1>
Name: 5240, dtype: object
ID                                                             25530
IP_SPLIT_RESULT                                        117.111.5.238
SEQUENCE_PARSE     <1,132,93,132,93,63,93,132,93,132,93,93,32,93,...
Name: 5241, dtype: object
ID                                                             25531
IP_SPLIT_RESULT                                        175.223.3.152
SEQUENCE_PARSE     <1,63,132,10,132,1,132,113,132,113,113,113,31,...
Name: 5242, dtype: object
ID                           25532
IP_SPLIT_RESULT    119.207.192.132
SEQUENCE_PARSE                 <1>
Name: 5243, dtype: object
ID                         25533
IP_SPLIT_RESULT    1.235.147.171
SEQUENCE_PARSE               <1>
Name: 5244, dtype: object
ID                           25534
IP_SPLIT_RESULT    210.204.199.122
SEQUENCE_PARSE                 <1>
Name: 5245, dtype: object
ID                            25535
IP_SPLIT_RESULT        223.62.8.177
SEQUENCE_PARSE     <1,130,1,33,164>
Name: 5246, dtype: object
ID                        25536
IP_SPLIT_RESULT    66.249.91.36
SEQUENCE_PARSE            <5,1>
Name: 5247, dtype: object
ID                                                             25537
IP_SPLIT_RESULT                                         1.247.181.10
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 5248, dtype: object
ID                         25538
IP_SPLIT_RESULT    180.76.15.149
SEQUENCE_PARSE               <1>
Name: 5249, dtype: object
ID                        25539
IP_SPLIT_RESULT    66.249.91.39
SEQUENCE_PARSE        <5,1,5,1>
Name: 5250, dtype: object
ID                                                             25540
IP_SPLIT_RESULT                                         58.65.97.151
SEQUENCE_PARSE     <113,132,132,113,113,113,113,113,113,31,113,31...
Name: 5251, dtype: object
ID                                                             25541
IP_SPLIT_RESULT                                        223.62.10.128
SEQUENCE_PARSE     <1,132,174,172,170,9,174,172,170,132,32,93,132...
Name: 5252, dtype: object
ID                                         25542
IP_SPLIT_RESULT                    1.237.249.152
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 5253, dtype: object
ID                               25543
IP_SPLIT_RESULT          223.62.10.128
SEQUENCE_PARSE     <176,132,1,32,93,1>
Name: 5254, dtype: object
ID                                                        25544
IP_SPLIT_RESULT                                    58.65.97.151
SEQUENCE_PARSE     <113,113,113,113,113,113,113,113,113,31,113>
Name: 5255, dtype: object
ID                         25545
IP_SPLIT_RESULT    27.122.242.70
SEQUENCE_PARSE         <5,1,132>
Name: 5256, dtype: object
ID                                                             25546
IP_SPLIT_RESULT                                        117.111.2.215
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,93,93,1,93,132,13...
Name: 5257, dtype: object
ID                                                             25547
IP_SPLIT_RESULT                                        122.36.222.57
SEQUENCE_PARSE     <39,164,63,164,164,132,132,113,132,113,113,113...
Name: 5258, dtype: object
ID                                                             25548
IP_SPLIT_RESULT                                        121.169.145.1
SEQUENCE_PARSE     <41,130,130,41,41,130,1,130,1,132,132,158,160,...
Name: 5259, dtype: object
ID                                                             25549
IP_SPLIT_RESULT                                        211.109.6.250
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,63,89,195,1...
Name: 5260, dtype: object
ID                         25550
IP_SPLIT_RESULT    1.237.249.152
SEQUENCE_PARSE     <93,93,93,93>
Name: 5261, dtype: object
ID                                             25551
IP_SPLIT_RESULT                       211.36.139.157
SEQUENCE_PARSE     <1,31,12,132,158,160,1,93,132,93>
Name: 5262, dtype: object
ID                          25552
IP_SPLIT_RESULT    58.232.164.243
SEQUENCE_PARSE              <5,1>
Name: 5263, dtype: object
ID                                                             25553
IP_SPLIT_RESULT                                        125.130.12.23
SEQUENCE_PARSE     <130,130,130,130,132,113,132,113,113,113,113,1...
Name: 5264, dtype: object
ID                        25554
IP_SPLIT_RESULT    1.241.196.68
SEQUENCE_PARSE              <1>
Name: 5265, dtype: object
ID                           25555
IP_SPLIT_RESULT    183.108.191.224
SEQUENCE_PARSE               <5,1>
Name: 5266, dtype: object
ID                                               25556
IP_SPLIT_RESULT                         211.36.131.240
SEQUENCE_PARSE     <1,130,1,130,130,90,89,92,87,132,1>
Name: 5267, dtype: object
ID                                                           25557
IP_SPLIT_RESULT                                    183.102.142.230
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93>
Name: 5268, dtype: object
ID                           25558
IP_SPLIT_RESULT    222.237.239.183
SEQUENCE_PARSE             <132,1>
Name: 5269, dtype: object
ID                          25559
IP_SPLIT_RESULT    223.194.27.240
SEQUENCE_PARSE       <29,113,113>
Name: 5270, dtype: object
ID                          25560
IP_SPLIT_RESULT    223.194.27.240
SEQUENCE_PARSE          <132,132>
Name: 5271, dtype: object
ID                         25561
IP_SPLIT_RESULT    207.46.13.167
SEQUENCE_PARSE               <1>
Name: 5272, dtype: object
ID                                           25562
IP_SPLIT_RESULT                     211.36.131.240
SEQUENCE_PARSE     <130,1,191,130,130,191,191,130>
Name: 5273, dtype: object
ID                                                             25563
IP_SPLIT_RESULT                                       223.62.162.150
SEQUENCE_PARSE     <1,132,93,132,93,93,93,1,132,93,132,1,93,132,1...
Name: 5274, dtype: object
ID                                          25564
IP_SPLIT_RESULT                    220.76.163.183
SEQUENCE_PARSE     <33,164,63,164,63,32,5,32,5,1>
Name: 5275, dtype: object
ID                                                             25565
IP_SPLIT_RESULT                                       223.62.188.101
SEQUENCE_PARSE     <1,130,32,93,32,93,32,93,93,93,32,93,32,93,32,...
Name: 5276, dtype: object
ID                                             25566
IP_SPLIT_RESULT                       220.76.163.183
SEQUENCE_PARSE     <164,132,33,164,164,32,32,5,32,5>
Name: 5277, dtype: object
ID                                                             25567
IP_SPLIT_RESULT                                       223.62.188.101
SEQUENCE_PARSE     <132,93,132,93,93,93,32,93,32,93,32,93,93,93,3...
Name: 5278, dtype: object
ID                           25568
IP_SPLIT_RESULT    121.163.215.103
SEQUENCE_PARSE                 <1>
Name: 5279, dtype: object
ID                                  25569
IP_SPLIT_RESULT             117.111.178.3
SEQUENCE_PARSE     <30,132,5,93,132,93,1>
Name: 5280, dtype: object
ID                                            25570
IP_SPLIT_RESULT                       223.39.146.68
SEQUENCE_PARSE     <1,31,113,132,113,132,113,113,1>
Name: 5281, dtype: object
ID                                      25571
IP_SPLIT_RESULT                211.216.35.239
SEQUENCE_PARSE     <1,132,93,132,93,93,93,90>
Name: 5282, dtype: object
ID                         25572
IP_SPLIT_RESULT    121.143.15.52
SEQUENCE_PARSE               <1>
Name: 5283, dtype: object
ID                                                             25573
IP_SPLIT_RESULT                                       203.229.206.59
SEQUENCE_PARSE     <1,132,113,132,113,31,113,113,113,113,113,31,1...
Name: 5284, dtype: object
ID                               25574
IP_SPLIT_RESULT          220.73.255.23
SEQUENCE_PARSE     <1,93,132,93,132,1>
Name: 5285, dtype: object
ID                        25575
IP_SPLIT_RESULT    61.37.86.130
SEQUENCE_PARSE          <1,5,1>
Name: 5286, dtype: object
ID                                                             25576
IP_SPLIT_RESULT                                       175.223.21.228
SEQUENCE_PARSE     <1,113,113,1,132,132,113,132,93,132,113,132,13...
Name: 5287, dtype: object
ID                         25577
IP_SPLIT_RESULT    35.185.170.20
SEQUENCE_PARSE             <5,1>
Name: 5288, dtype: object
ID                         25578
IP_SPLIT_RESULT    35.185.170.20
SEQUENCE_PARSE         <5,1,5,1>
Name: 5289, dtype: object
ID                                                    25579
IP_SPLIT_RESULT                                117.111.1.17
SEQUENCE_PARSE     <41,1,132,132,93,31,113,132,162,166,162>
Name: 5290, dtype: object
ID                         25580
IP_SPLIT_RESULT    211.214.52.66
SEQUENCE_PARSE               <1>
Name: 5291, dtype: object
ID                           25581
IP_SPLIT_RESULT      211.36.134.15
SEQUENCE_PARSE     <39,164,63,164>
Name: 5292, dtype: object
ID                          25582
IP_SPLIT_RESULT    175.223.21.228
SEQUENCE_PARSE             <1,90>
Name: 5293, dtype: object
ID                         25583
IP_SPLIT_RESULT    223.62.222.38
SEQUENCE_PARSE        <1,31,113>
Name: 5294, dtype: object
ID                          25584
IP_SPLIT_RESULT    175.112.165.35
SEQUENCE_PARSE          <5,1,132>
Name: 5295, dtype: object
ID                        25585
IP_SPLIT_RESULT    61.82.95.227
SEQUENCE_PARSE           <1,90>
Name: 5296, dtype: object
ID                                                             25586
IP_SPLIT_RESULT                                         223.38.10.84
SEQUENCE_PARSE     <1,132,132,158,160,132,132,93,132,93,93,93,93,...
Name: 5297, dtype: object
ID                            25587
IP_SPLIT_RESULT      117.111.28.247
SEQUENCE_PARSE     <41,1,90,31,113>
Name: 5298, dtype: object
ID                         25588
IP_SPLIT_RESULT    211.36.134.15
SEQUENCE_PARSE         <164,132>
Name: 5299, dtype: object
ID                                   25589
IP_SPLIT_RESULT               223.62.11.45
SEQUENCE_PARSE     <1,132,113,132,113,113>
Name: 5300, dtype: object
ID                                                             25590
IP_SPLIT_RESULT                                        211.36.155.30
SEQUENCE_PARSE     <1,132,132,113,113,113,113,113,113,31,113,132,...
Name: 5301, dtype: object
ID                                                       25591
IP_SPLIT_RESULT                                  122.101.20.49
SEQUENCE_PARSE     <5,1,132,93,132,93,93,93,93,93,93,93,93,93>
Name: 5302, dtype: object
ID                           25592
IP_SPLIT_RESULT    220.125.183.135
SEQUENCE_PARSE                 <1>
Name: 5303, dtype: object
ID                         25593
IP_SPLIT_RESULT    223.62.11.145
SEQUENCE_PARSE        <1,33,164>
Name: 5304, dtype: object
ID                            25594
IP_SPLIT_RESULT        223.38.10.84
SEQUENCE_PARSE     <32,32,93,132,1>
Name: 5305, dtype: object
ID                           25595
IP_SPLIT_RESULT    123.215.122.145
SEQUENCE_PARSE                 <1>
Name: 5306, dtype: object
ID                          25596
IP_SPLIT_RESULT    117.52.141.220
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 5307, dtype: object
ID                         25597
IP_SPLIT_RESULT    211.36.155.30
SEQUENCE_PARSE        <31,113,1>
Name: 5308, dtype: object
ID                           25598
IP_SPLIT_RESULT    218.152.156.140
SEQUENCE_PARSE               <5,1>
Name: 5309, dtype: object
ID                        25599
IP_SPLIT_RESULT    180.71.73.98
SEQUENCE_PARSE            <5,1>
Name: 5310, dtype: object
ID                                                             25600
IP_SPLIT_RESULT                                        223.62.10.189
SEQUENCE_PARSE     <1,63,132,113,132,113,93,132,113,132,113,93,93...
Name: 5311, dtype: object
ID                            25601
IP_SPLIT_RESULT      121.161.219.48
SEQUENCE_PARSE     <5,1,132,93,132>
Name: 5312, dtype: object
ID                           25602
IP_SPLIT_RESULT    203.247.149.244
SEQUENCE_PARSE               <5,1>
Name: 5313, dtype: object
ID                        25603
IP_SPLIT_RESULT    223.62.21.13
SEQUENCE_PARSE              <1>
Name: 5314, dtype: object
ID                           25604
IP_SPLIT_RESULT    165.246.228.183

ID                                                             25728
IP_SPLIT_RESULT                                           223.38.8.1
SEQUENCE_PARSE     <1,93,132,132,93,90,80,30,132,93,132,93,93,93,...
Name: 5439, dtype: object
ID                          25729
IP_SPLIT_RESULT    211.36.147.220
SEQUENCE_PARSE           <33,164>
Name: 5440, dtype: object
ID                                           25730
IP_SPLIT_RESULT                     182.226.31.168
SEQUENCE_PARSE     <132,113,132,113,132,93,132,93>
Name: 5441, dtype: object
ID                          25731
IP_SPLIT_RESULT    211.36.147.220
SEQUENCE_PARSE          <164,164>
Name: 5442, dtype: object
ID                                     25732
IP_SPLIT_RESULT               221.144.73.220
SEQUENCE_PARSE     <1,90,92,132,132,132,132>
Name: 5443, dtype: object
ID                        25733
IP_SPLIT_RESULT    61.99.51.192
SEQUENCE_PARSE              <1>
Name: 5444, dtype: object
ID                        25734
IP_SPLIT_RESULT    61.99.51.192
SEQUENCE_PARSE              <1>
Name: 5445, dtype: object
ID                                                             25735
IP_SPLIT_RESULT                                       221.144.73.220
SEQUENCE_PARSE     <87,89,25,132,93,132,93,132,93,132,93,93,93,93...
Name: 5446, dtype: object
ID                        25736
IP_SPLIT_RESULT    1.218.128.81
SEQUENCE_PARSE         <31,113>
Name: 5447, dtype: object
ID                          25737
IP_SPLIT_RESULT    175.223.10.103
SEQUENCE_PARSE                <1>
Name: 5448, dtype: object
ID                                   25738
IP_SPLIT_RESULT              117.111.2.150
SEQUENCE_PARSE     <31,113,113,31,1,90,92>
Name: 5449, dtype: object
ID                         25739
IP_SPLIT_RESULT    180.66.133.34
SEQUENCE_PARSE          <39,164>
Name: 5450, dtype: object
ID                                                             25740
IP_SPLIT_RESULT                                        121.127.97.84
SEQUENCE_PARSE     <1,63,132,113,132,113,113,113,113,113,31,113,1...
Name: 5451, dtype: object
ID                                                             25741
IP_SPLIT_RESULT                                        117.111.2.124
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,63,89,195,1...
Name: 5452, dtype: object
ID                           25742
IP_SPLIT_RESULT    175.119.193.187
SEQUENCE_PARSE                 <1>
Name: 5453, dtype: object
ID                                                             25743
IP_SPLIT_RESULT                                          1.219.65.68
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,132,93,13...
Name: 5454, dtype: object
ID                          25744
IP_SPLIT_RESULT    117.52.141.196
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 5455, dtype: object
ID                                   25745
IP_SPLIT_RESULT             218.236.54.246
SEQUENCE_PARSE     <113,113,31,113,31,113>
Name: 5456, dtype: object
ID                           25746
IP_SPLIT_RESULT    182.231.144.229
SEQUENCE_PARSE                 <1>
Name: 5457, dtype: object
ID                                                             25747
IP_SPLIT_RESULT                                       165.132.37.242
SEQUENCE_PARSE     <5,1,90,5,1,132,93,132,93,93,93,90,5,1,132,93,...
Name: 5458, dtype: object
ID                          25748
IP_SPLIT_RESULT    220.126.68.130
SEQUENCE_PARSE                <1>
Name: 5459, dtype: object
ID                                                             25749
IP_SPLIT_RESULT                                        223.62.212.18
SEQUENCE_PARSE     <1,132,174,172,170,176,132,13,172,39,164,39,16...
Name: 5460, dtype: object
ID                           25750
IP_SPLIT_RESULT    112.221.190.187
SEQUENCE_PARSE               <5,1>
Name: 5461, dtype: object
ID                                                             25751
IP_SPLIT_RESULT                                         220.81.46.89
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,93,93,93,...
Name: 5462, dtype: object
ID                        25754
IP_SPLIT_RESULT    220.81.46.89
SEQUENCE_PARSE          <90,92>
Name: 5463, dtype: object
ID                         25755
IP_SPLIT_RESULT    124.80.227.85
SEQUENCE_PARSE           <1,5,1>
Name: 5464, dtype: object
ID                         25756
IP_SPLIT_RESULT    110.70.26.226
SEQUENCE_PARSE              <29>
Name: 5465, dtype: object
ID                                         25757
IP_SPLIT_RESULT                    223.62.169.16
SEQUENCE_PARSE     <41,113,132,93,132,93,113,25>
Name: 5466, dtype: object
ID                          25758
IP_SPLIT_RESULT    223.62.188.117
SEQUENCE_PARSE           <33,164>
Name: 5467, dtype: object
ID                         25759
IP_SPLIT_RESULT    66.249.91.206
SEQUENCE_PARSE               <5>
Name: 5468, dtype: object
ID                                              25760
IP_SPLIT_RESULT                        223.62.178.126
SEQUENCE_PARSE     <39,164,164,1,132,93,132,93,93,93>
Name: 5469, dtype: object
ID                                                             25761
IP_SPLIT_RESULT                                       182.172.135.99
SEQUENCE_PARSE     <1,5,1,90,92,87,89,80,30,132,93,132,93,93,93,9...
Name: 5470, dtype: object
ID                               25762
IP_SPLIT_RESULT          223.33.178.59
SEQUENCE_PARSE     <1,113,132,113,132>
Name: 5471, dtype: object
ID                                                             25763
IP_SPLIT_RESULT                                        117.111.13.88
SEQUENCE_PARSE     <1,130,132,132,158,160,132,132,132,132,93,93,1...
Name: 5472, dtype: object
ID                                             25764
IP_SPLIT_RESULT                       175.223.27.245
SEQUENCE_PARSE     <1,132,132,132,9,1,132,93,132,93>
Name: 5473, dtype: object
ID                                                             25765
IP_SPLIT_RESULT                                       211.36.149.155
SEQUENCE_PARSE     <1,93,132,132,93,93,93,80,30,132,93,132,93,32,93>
Name: 5474, dtype: object
ID                             25766
IP_SPLIT_RESULT       211.246.69.199
SEQUENCE_PARSE     <31,113,31,113,1>
Name: 5475, dtype: object
ID                                                             25767
IP_SPLIT_RESULT                                        211.253.60.18
SEQUENCE_PARSE     <1,30,132,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,...
Name: 5476, dtype: object
ID                          25768
IP_SPLIT_RESULT    211.36.149.155
SEQUENCE_PARSE      <90,92,87,89>
Name: 5477, dtype: object
ID                                                            25769
IP_SPLIT_RESULT                                       1.229.234.116
SEQUENCE_PARSE     <1,5,1,130,130,130,92,1,5,1,92,1,5,1,130,132,92>
Name: 5478, dtype: object
ID                                         25770
IP_SPLIT_RESULT                    58.232.216.73
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 5479, dtype: object
ID                           25771
IP_SPLIT_RESULT    112.154.125.191
SEQUENCE_PARSE                 <1>
Name: 5480, dtype: object
ID                                                             25772
IP_SPLIT_RESULT                                       211.246.69.199
SEQUENCE_PARSE     <31,113,113,113,31,113,113,113,31,113,31,113,1...
Name: 5481, dtype: object
ID                          25773
IP_SPLIT_RESULT    106.244.228.40
SEQUENCE_PARSE                <1>
Name: 5482, dtype: object
ID                         25774
IP_SPLIT_RESULT    14.52.224.191
SEQUENCE_PARSE               <1>
Name: 5483, dtype: object
ID                          25775
IP_SPLIT_RESULT    168.188.235.55
SEQUENCE_PARSE      <1,63,1,63,1>
Name: 5484, dtype: object
ID                          25776
IP_SPLIT_RESULT    118.176.125.42
SEQUENCE_PARSE                <1>
Name: 5485, dtype: object
ID                                                             25777
IP_SPLIT_RESULT                                           223.38.8.1
SEQUENCE_PARSE     <92,87,89,132,132,93,33,164,130,130,1,130,33,1...
Name: 5486, dtype: object
ID                         25778
IP_SPLIT_RESULT    223.62.172.37
SEQUENCE_PARSE       <1,5,1,5,1>
Name: 5487, dtype: object
ID                           25779
IP_SPLIT_RESULT      223.62.172.37
SEQUENCE_PARSE     <132,1,90,92,1>
Name: 5488, dtype: object
ID                          25780
IP_SPLIT_RESULT    117.111.10.106
SEQUENCE_PARSE                <1>
Name: 5489, dtype: object
ID                                                             25781
IP_SPLIT_RESULT                                         223.62.212.4
SEQUENCE_PARSE     <93,132,132,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 5490, dtype: object
ID                                                             25782
IP_SPLIT_RESULT                                       125.176.39.216
SEQUENCE_PARSE     <93,93,93,93,32,93,23,90,23,90,27,132,93,132,9...
Name: 5491, dtype: object
ID                                      25783
IP_SPLIT_RESULT                  218.52.38.24
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93>
Name: 5492, dtype: object
ID                                                             25787
IP_SPLIT_RESULT                                       182.221.56.107
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,1,113,132,1...
Name: 5493, dtype: object
ID                                     25788
IP_SPLIT_RESULT               223.33.164.112
SEQUENCE_PARSE     <1,130,130,1,93,93,32,93>
Name: 5494, dtype: object
ID                                               25789
IP_SPLIT_RESULT                         175.223.45.150
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93>
Name: 5495, dtype: object
ID                                                             25790
IP_SPLIT_RESULT                                       175.223.45.150
SEQUENCE_PARSE     <132,93,132,93,1,132,93,132,93,93,93,93,93,93,...
Name: 5496, dtype: object
ID                                           25791
IP_SPLIT_RESULT                     137.68.249.121
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93>
Name: 5497, dtype: object
ID                         25792
IP_SPLIT_RESULT    122.35.50.193
SEQUENCE_PARSE             <5,1>
Name: 5498, dtype: object
ID                         25793
IP_SPLIT_RESULT    203.90.32.247
SEQUENCE_PARSE           <1,113>
Name: 5499, dtype: object
ID                           25794
IP_SPLIT_RESULT    211.189.176.107
SEQUENCE_PARSE                 <1>
Name: 5500, dtype: object
ID                           25795
IP_SPLIT_RESULT    211.210.160.128
SEQUENCE_PARSE               <5,1>
Name: 5501, dtype: object
ID                               25796
IP_SPLIT_RESULT        112.217.187.252
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1>
Name: 5502, dtype: object
ID                             25797
IP_SPLIT_RESULT       222.236.96.168
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 5503, dtype: object
ID                             25798
IP_SPLIT_RESULT        203.90.32.247
SEQUENCE_PARSE     <1,93,132,93,132>
Name: 5504, dtype: object
ID                          25832
IP_SPLIT_RESULT    182.172.135.99
SEQUENCE_PARSE      <93,93,1,5,1>
Name: 5505, dtype: object
ID                          25835
IP_SPLIT_RESULT    211.206.25.140
SEQUENCE_PARSE              <5,1>
Name: 5506, dtype: object
ID                       25836
IP_SPLIT_RESULT    59.27.222.2
SEQUENCE_PARSE         <1,5,1>
Name: 5507, dtype: object
ID                                                             25837
IP_SPLIT_RESULT                                       223.33.164.112
SEQUENCE_PARSE     <1,130,130,130,130,132,93,132,93,93,93,32,93,1...
Name: 5508, dtype: object
ID                           25838
IP_SPLIT_RESULT    173.212.201.191
SEQUENCE_PARSE                 <1>
Name: 5509, dtype: object
ID                          25839
IP_SPLIT_RESULT    211.36.150.124
SEQUENCE_PARSE                <1>
Name: 5510, dtype: object
ID                         25840
IP_SPLIT_RESULT    66.249.91.207
SEQUENCE_PARSE               <1>
Name: 5511, dtype: object
ID                                                             25841
IP_SPLIT_RESULT                                       203.226.207.43
SEQUENCE_PARSE     <1,132,132,158,160,132,93,132,132,1,132,113,13...
Name: 5512, dtype: object
ID                          25842
IP_SPLIT_RESULT    211.36.141.125
SEQUENCE_PARSE                <1>
Name: 5513, dtype: object
ID                         25843
IP_SPLIT_RESULT    61.74.186.175
SEQUENCE_PARSE             <5,1>
Name: 5514, dtype: object
ID                         25844
IP_SPLIT_RESULT    119.67.164.25
SEQUENCE_PARSE             <5,1>
Name: 5515, dtype: object
ID                                                             25845
IP_SPLIT_RESULT                                       203.226.207.43
SEQUENCE_PARSE     <31,113,31,113,113,113,132,113,132,31,113,132,...
Name: 5516, dtype: object
ID                        25846
IP_SPLIT_RESULT    61.108.2.132
SEQUENCE_PARSE            <5,1>
Name: 5517, dtype: object
ID                                                             25847
IP_SPLIT_RESULT                                        183.99.123.63
SEQUENCE_PARSE     <87,113,113,14,113,132,162,178,132,180,132,113...
Name: 5518, dtype: object
ID                                                             25848
IP_SPLIT_RESULT                                        119.67.164.21
SEQUENCE_PARSE     <1,90,92,1,132,93,132,93,93,93,93,87,80,22,212...
Name: 5519, dtype: object
ID                          25849
IP_SPLIT_RESULT    175.223.11.201
SEQUENCE_PARSE               <44>
Name: 5520, dtype: object
ID                                                             25850
IP_SPLIT_RESULT                                         59.21.109.88
SEQUENCE_PARSE     <1,90,92,87,89,132,25,113,132,113,132,113,113,...
Name: 5521, dtype: object
ID                                                             25851
IP_SPLIT_RESULT                                        119.67.164.21
SEQUENCE_PARSE     <90,1,90,92,1,132,93,132,93,93,1,90,92,87,23,9...
Name: 5522, dtype: object
ID                          25852
IP_SPLIT_RESULT    137.68.248.216
SEQUENCE_PARSE            <1,5,1>
Name: 5523, dtype: object
ID                        25853
IP_SPLIT_RESULT    10.138.52.78
SEQUENCE_PARSE            <5,1>
Name: 5524, dtype: object
ID                                                             25854
IP_SPLIT_RESULT                                       203.246.82.182
SEQUENCE_PARSE     <1,5,1,132,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5...
Name: 5525, dtype: object
ID                                                             25855
IP_SPLIT_RESULT                                        223.39.130.26
SEQUENCE_PARSE     <132,113,113,132,1,132,81,132,132,113,31,113,3...
Name: 5526, dtype: object
ID                                                           25856
IP_SPLIT_RESULT                                     203.246.82.182
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1>
Name: 5527, dtype: object
ID                         25857
IP_SPLIT_RESULT    66.249.91.209
SEQUENCE_PARSE              <29>
Name: 5528, dtype: object
ID                        25858
IP_SPLIT_RESULT    66.102.8.145
SEQUENCE_PARSE        <5,25,25>
Name: 5529, dtype: object
ID                        25859
IP_SPLIT_RESULT    66.102.8.143
SEQUENCE_PARSE           <1,25>
Name: 5530, dtype: object
ID                                                             25860
IP_SPLIT_RESULT                                      203.226.208.109
SEQUENCE_PARSE     <23,90,1,93,93,33,164,164,1,132,93,132,93,93,9...
Name: 5531, dtype: object
ID                                                             25861
IP_SPLIT_RESULT                                      211.211.133.144
SEQUENCE_PARSE     <1,113,113,113,113,113,31,132,93,132,132,158,1...
Name: 5532, dtype: object
ID                         25862
IP_SPLIT_RESULT    64.41.200.102
SEQUENCE_PARSE               <1>
Name: 5533, dtype: object
ID                                         25863
IP_SPLIT_RESULT                    1.224.111.249
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 5534, dtype: object
ID                                                             25864
IP_SPLIT_RESULT                                      211.211.133.144
SEQUENCE_PARSE     <1,132,87,92,189,93,93,93,14,93,132,132,113,11...
Name: 5535, dtype: object
ID                         25865
IP_SPLIT_RESULT    64.41.200.102
SEQUENCE_PARSE               <1>
Name: 5536, dtype: object
ID                                                          25866
IP_SPLIT_RESULT                                      106.251.77.6
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,1,89>
Name: 5537, dtype: object
ID                        25867
IP_SPLIT_RESULT    110.70.53.97
SEQUENCE_PARSE              <1>
Name: 5538, dtype: object
ID                                                             25868
IP_SPLIT_RESULT                                         59.21.109.88
SEQUENCE_PARSE     <80,29,113,132,113,132,132,113,113,113,113,113...
Name: 5539, dtype: object
ID                          25869
IP_SPLIT_RESULT    175.223.18.245
SEQUENCE_PARSE                <1>
Name: 5540, dtype: object
ID                          25870
IP_SPLIT_RESULT    121.143.74.212
SEQUENCE_PARSE          <5,1,5,1>
Name: 5541, dtype: object
ID                           25871
IP_SPLIT_RESULT    125.130.221.191
SEQUENCE_PARSE                 <1>
Name: 5542, dtype: object
ID                          25872
IP_SPLIT_RESULT    165.227.102.29
SEQUENCE_PARSE                <1>
Name: 5543, dtype: object
ID                                                             25873
IP_SPLIT_RESULT                                      203.237.172.100
SEQUENCE_PARSE     <1,63,113,132,113,132,113,113,113,113,31,113,1...
Name: 5544, dtype: object
ID                         25874
IP_SPLIT_RESULT    116.47.51.159
SEQUENCE_PARSE               <1>
Name: 5545, dtype: object
ID                                                             25875
IP_SPLIT_RESULT                                        183.99.123.63
SEQUENCE_PARSE     <87,89,80,30,132,93,132,93,132,113,132,113,87,...
Name: 5546, dtype: object
ID                         25876
IP_SPLIT_RESULT    195.62.53.168
SEQUENCE_PARSE               <1>
Name: 5547, dtype: object
ID                        25877
IP_SPLIT_RESULT    211.36.153.9
SEQUENCE_PARSE        <1,90,92>
Name: 5548, dtype: object
ID                                         25878
IP_SPLIT_RESULT                     122.32.36.41
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 5549, dtype: object
ID                        25879
IP_SPLIT_RESULT    211.36.153.9
SEQUENCE_PARSE             <92>
Name: 5550, dtype: object
ID                                                             25880
IP_SPLIT_RESULT                                      222.112.126.115
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,1,93,93...
Name: 5551, dtype: object
ID                        25881
IP_SPLIT_RESULT    54.175.72.14
SEQUENCE_PARSE              <1>
Name: 5552, dtype: object
ID                        25882
IP_SPLIT_RESULT    54.175.72.14
SEQUENCE_PARSE              <1>
Name: 5553, dtype: object
ID                           25883
IP_SPLIT_RESULT    199.101.132.234
SEQUENCE_PARSE                 <1>
Name: 5554, dtype: object
ID                           25884
IP_SPLIT_RESULT    199.101.132.162
SEQUENCE_PARSE                 <1>
Name: 5555, dtype: object
ID                                            25885
IP_SPLIT_RESULT                      125.191.43.114
SEQUENCE_PARSE     <1,90,132,93,132,93,93,93,93,93>
Name: 5556, dtype: object
ID                         25886
IP_SPLIT_RESULT    54.80.253.160
SEQUENCE_PARSE               <1>
Name: 5557, dtype: object
ID                           25887
IP_SPLIT_RESULT        39.7.19.114
SEQUENCE_PARSE     <1,25,90,92,87>
Name: 5558, dtype: object
ID                                  25888
IP_SPLIT_RESULT            175.223.26.161
SEQUENCE_PARSE     <1,29,132,113,132,113>

Name: 5662, dtype: object
ID                          26366
IP_SPLIT_RESULT    211.117.130.20
SEQUENCE_PARSE                <1>
Name: 5663, dtype: object
ID                         26367
IP_SPLIT_RESULT    117.111.25.38
SEQUENCE_PARSE               <1>
Name: 5664, dtype: object
ID                          26368
IP_SPLIT_RESULT    112.162.108.84
SEQUENCE_PARSE                <1>
Name: 5665, dtype: object
ID                          26369
IP_SPLIT_RESULT    27.117.241.248
SEQUENCE_PARSE                <1>
Name: 5666, dtype: object
ID                         26370
IP_SPLIT_RESULT    66.249.79.133
SEQUENCE_PARSE       <1,5,1,5,1>
Name: 5667, dtype: object
ID                         26371
IP_SPLIT_RESULT    122.42.75.207
SEQUENCE_PARSE               <1>
Name: 5668, dtype: object
ID                         26372
IP_SPLIT_RESULT    223.63.29.123
SEQUENCE_PARSE               <1>
Name: 5669, dtype: object
ID                        26373
IP_SPLIT_RESULT    122.35.58.33
SEQUENCE_PARSE              <1>
Name: 5670, dtype: object
ID                                                   26374
IP_SPLIT_RESULT                            121.176.177.198
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,1>
Name: 5671, dtype: object
ID                         26375
IP_SPLIT_RESULT    118.223.19.66
SEQUENCE_PARSE               <1>
Name: 5672, dtype: object
ID                         26376
IP_SPLIT_RESULT    121.133.3.237
SEQUENCE_PARSE               <1>
Name: 5673, dtype: object
ID                                                             26377
IP_SPLIT_RESULT                                        223.38.17.187
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,1,132,81,132,113,132,3...
Name: 5674, dtype: object
ID                           26378
IP_SPLIT_RESULT    210.100.202.239
SEQUENCE_PARSE                 <1>
Name: 5675, dtype: object
ID                                              26379
IP_SPLIT_RESULT                        223.62.215.111
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,90,1>
Name: 5676, dtype: object
ID                       26380
IP_SPLIT_RESULT    1.226.47.36
SEQUENCE_PARSE             <1>
Name: 5677, dtype: object
ID                          26381
IP_SPLIT_RESULT    125.191.20.199
SEQUENCE_PARSE             <1,92>
Name: 5678, dtype: object
ID                                                             26382
IP_SPLIT_RESULT                                      203.226.207.143
SEQUENCE_PARSE     <1,31,113,63,113,132,162,166,162,113,132,132,1...
Name: 5679, dtype: object
ID                           26383
IP_SPLIT_RESULT    175.192.215.156
SEQUENCE_PARSE                 <1>
Name: 5680, dtype: object
ID                                                             26384
IP_SPLIT_RESULT                                        211.36.142.95
SEQUENCE_PARSE     <1,113,132,132,113,113,31,113,31,113,31,113,11...
Name: 5681, dtype: object
ID                                                             26385
IP_SPLIT_RESULT                                       211.179.142.76
SEQUENCE_PARSE     <1,5,1,132,132,158,160,132,1,5,1,5,1,5,1,5,1,1...
Name: 5682, dtype: object
ID                         26386
IP_SPLIT_RESULT    122.46.67.103
SEQUENCE_PARSE               <1>
Name: 5683, dtype: object
ID                          26387
IP_SPLIT_RESULT    211.202.234.72
SEQUENCE_PARSE                <1>
Name: 5684, dtype: object
ID                           26388
IP_SPLIT_RESULT    128.134.145.190
SEQUENCE_PARSE                 <1>
Name: 5685, dtype: object
ID                         26389
IP_SPLIT_RESULT    223.62.216.15
SEQUENCE_PARSE      <39,164,130>
Name: 5686, dtype: object
ID                                                             26390
IP_SPLIT_RESULT                                       223.62.216.170
SEQUENCE_PARSE     <1,132,93,132,93,32,93,132,162,32,93,32,93,32,...
Name: 5687, dtype: object
ID                          26391
IP_SPLIT_RESULT    210.222.42.222
SEQUENCE_PARSE            <1,5,1>
Name: 5688, dtype: object
ID                         26392
IP_SPLIT_RESULT    116.127.43.32
SEQUENCE_PARSE               <1>
Name: 5689, dtype: object
ID                        26393
IP_SPLIT_RESULT    220.70.31.28
SEQUENCE_PARSE              <1>
Name: 5690, dtype: object
ID                           26394
IP_SPLIT_RESULT    175.121.232.234
SEQUENCE_PARSE                 <1>
Name: 5691, dtype: object
ID                                                             26395
IP_SPLIT_RESULT                                      211.243.230.168
SEQUENCE_PARSE     <1,90,92,1,90,92,80,24,212,132,113,132,113,113...
Name: 5692, dtype: object
ID                                                             26396
IP_SPLIT_RESULT                                         220.73.0.190
SEQUENCE_PARSE     <1,132,93,132,93,93,93,32,93,93,93,32,93,32,93...
Name: 5693, dtype: object
ID                                                             26397
IP_SPLIT_RESULT                                       211.179.142.76
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 5694, dtype: object
ID                        26398
IP_SPLIT_RESULT    1.239.41.212
SEQUENCE_PARSE              <1>
Name: 5695, dtype: object
ID                        26399
IP_SPLIT_RESULT    61.101.4.216
SEQUENCE_PARSE              <1>
Name: 5696, dtype: object
ID                                                             26400
IP_SPLIT_RESULT                                         110.11.52.61
SEQUENCE_PARSE     <1,132,93,132,93,93,93,80,30,212,132,93,132,93...
Name: 5697, dtype: object
ID                                                             26401
IP_SPLIT_RESULT                                       119.200.135.11
SEQUENCE_PARSE     <1,90,89,80,30,212,132,93,132,93,93,93,93,93,9...
Name: 5698, dtype: object
ID                                                             26402
IP_SPLIT_RESULT                                      175.202.199.132
SEQUENCE_PARSE     <92,87,89,93,132,162,132,162,32,93,1,130,132,113>
Name: 5699, dtype: object
ID                          26403
IP_SPLIT_RESULT    218.239.111.80
SEQUENCE_PARSE                <1>
Name: 5700, dtype: object
ID                        26404
IP_SPLIT_RESULT    223.33.165.4
SEQUENCE_PARSE              <1>
Name: 5701, dtype: object
ID                         26405
IP_SPLIT_RESULT    211.36.138.27
SEQUENCE_PARSE               <1>
Name: 5702, dtype: object
ID                         26406
IP_SPLIT_RESULT    1.254.210.123
SEQUENCE_PARSE               <1>
Name: 5703, dtype: object
ID                                                             26407
IP_SPLIT_RESULT                                         110.11.52.61
SEQUENCE_PARSE     <93,93,90,92,1,132,93,132,93,90,92,87,89,164,1...
Name: 5704, dtype: object
ID                                                             26408
IP_SPLIT_RESULT                                       119.200.135.11
SEQUENCE_PARSE     <92,87,93,93,93,93,93,132,93,132,93,93,32,93,3...
Name: 5705, dtype: object
ID                        26409
IP_SPLIT_RESULT    117.111.1.47
SEQUENCE_PARSE              <1>
Name: 5706, dtype: object
ID                         26410
IP_SPLIT_RESULT    58.235.19.121
SEQUENCE_PARSE               <1>
Name: 5707, dtype: object
ID                           26411
IP_SPLIT_RESULT    118.200.187.190
SEQUENCE_PARSE                 <1>
Name: 5708, dtype: object
ID                                                   26412
IP_SPLIT_RESULT                              175.223.10.98
SEQUENCE_PARSE     <1,29,132,113,132,113,31,113,164,164,1>
Name: 5709, dtype: object
ID                                       26413
IP_SPLIT_RESULT                  1.254.210.123
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93>
Name: 5710, dtype: object
ID                                                             26414
IP_SPLIT_RESULT                                        52.79.196.166
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 5711, dtype: object
ID                          26415
IP_SPLIT_RESULT    221.165.203.51
SEQUENCE_PARSE                <1>
Name: 5712, dtype: object
ID                                   26416
IP_SPLIT_RESULT            219.255.246.130
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 5713, dtype: object
ID                          26417
IP_SPLIT_RESULT    223.62.172.122
SEQUENCE_PARSE            <1,132>
Name: 5714, dtype: object
ID                          26418
IP_SPLIT_RESULT    125.191.20.199
SEQUENCE_PARSE       <1,90,92,25>
Name: 5715, dtype: object
ID                        26419
IP_SPLIT_RESULT    117.111.1.44
SEQUENCE_PARSE         <31,113>
Name: 5716, dtype: object
ID                                                             26420
IP_SPLIT_RESULT                                      116.123.124.248
SEQUENCE_PARSE     <14,1,31,1,113,132,113,132,31,113,31,113,31,11...
Name: 5717, dtype: object
ID                           26421
IP_SPLIT_RESULT    219.240.249.108
SEQUENCE_PARSE            <31,113>
Name: 5718, dtype: object
ID                        26422
IP_SPLIT_RESULT    66.249.79.84
SEQUENCE_PARSE      <1,5,1,5,1>
Name: 5719, dtype: object
ID                           26423
IP_SPLIT_RESULT    121.176.177.198
SEQUENCE_PARSE             <93,93>
Name: 5720, dtype: object
ID                                                             26424
IP_SPLIT_RESULT                                           39.7.59.83
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,90,87,80,22,212,178,...
Name: 5721, dtype: object
ID                          26425
IP_SPLIT_RESULT    223.33.180.142
SEQUENCE_PARSE                <1>
Name: 5722, dtype: object
ID                           26426
IP_SPLIT_RESULT    211.200.189.212
SEQUENCE_PARSE                 <1>
Name: 5723, dtype: object
ID                                26427
IP_SPLIT_RESULT            117.111.1.81
SEQUENCE_PARSE     <39,164,164,132,164>
Name: 5724, dtype: object
ID                                                             26428
IP_SPLIT_RESULT                                         1.236.239.47
SEQUENCE_PARSE     <31,113,31,113,132,132,158,160,132,81,132,85,1...
Name: 5725, dtype: object
ID                         26429
IP_SPLIT_RESULT    115.23.72.243
SEQUENCE_PARSE          <31,113>
Name: 5726, dtype: object
ID                          26430
IP_SPLIT_RESULT    183.109.98.219
SEQUENCE_PARSE                <1>
Name: 5727, dtype: object
ID                                                             26431
IP_SPLIT_RESULT                                         220.73.0.190
SEQUENCE_PARSE     <32,93,93,93,32,93,93,93,32,93,32,93,132,162,1...
Name: 5728, dtype: object
ID                        26432
IP_SPLIT_RESULT    210.95.96.35
SEQUENCE_PARSE              <1>
Name: 5729, dtype: object
ID                                                             26433
IP_SPLIT_RESULT                                        122.46.231.96
SEQUENCE_PARSE     <31,113,31,113,29,132,113,132,113,113,113,113,...
Name: 5730, dtype: object
ID                                                 26434
IP_SPLIT_RESULT                            223.62.173.51
SEQUENCE_PARSE     <31,132,162,1,93,132,132,93,1,31,113>
Name: 5731, dtype: object
ID                         26435
IP_SPLIT_RESULT    223.62.173.51
SEQUENCE_PARSE             <113>
Name: 5732, dtype: object
ID                          26436
IP_SPLIT_RESULT    106.249.114.74
SEQUENCE_PARSE                <1>
Name: 5733, dtype: object
ID                         26437
IP_SPLIT_RESULT    211.187.3.204
SEQUENCE_PARSE           <25,90>
Name: 5734, dtype: object
ID                          26438
IP_SPLIT_RESULT    58.127.237.100
SEQUENCE_PARSE                <1>
Name: 5735, dtype: object
ID                          26439
IP_SPLIT_RESULT    211.192.52.184
SEQUENCE_PARSE                <1>
Name: 5736, dtype: object
ID                          26440
IP_SPLIT_RESULT    122.45.103.187
SEQUENCE_PARSE         <113,1,39>
Name: 5737, dtype: object
ID                         26441
IP_SPLIT_RESULT    165.132.5.129
SEQUENCE_PARSE               <1>
Name: 5738, dtype: object
ID                                                             26442
IP_SPLIT_RESULT                                      121.161.123.177
SEQUENCE_PARSE     <32,93,32,93,132,130,93,132,162,166,162,132,93...
Name: 5739, dtype: object
ID                                                             26443
IP_SPLIT_RESULT                                      120.142.220.209
SEQUENCE_PARSE     <31,113,132,113,132,113,31,113,31,113,113,113,...
Name: 5740, dtype: object
ID                                             26444
IP_SPLIT_RESULT                         14.53.84.247
SEQUENCE_PARSE     <5,1,5,1,132,93,132,93,93,93,5,1>
Name: 5741, dtype: object
ID                         26445
IP_SPLIT_RESULT    118.223.19.66
SEQUENCE_PARSE               <1>
Name: 5742, dtype: object
ID                                                          26446
IP_SPLIT_RESULT                                     175.223.38.51
SEQUENCE_PARSE     <1,93,132,132,1,93,132,132,130,130,191,191,90>
Name: 5743, dtype: object
ID                         26447
IP_SPLIT_RESULT    218.238.4.155
SEQUENCE_PARSE               <1>
Name: 5744, dtype: object
ID                                                             26448
IP_SPLIT_RESULT                                      120.142.220.209
SEQUENCE_PARSE     <31,113,31,113,113,113,113,113,29,132,113,132,...
Name: 5745, dtype: object
ID                        26449
IP_SPLIT_RESULT    211.33.24.98
SEQUENCE_PARSE              <1>
Name: 5746, dtype: object
ID                         26450
IP_SPLIT_RESULT    221.142.5.194
SEQUENCE_PARSE               <1>
Name: 5747, dtype: object
ID                       26451
IP_SPLIT_RESULT    59.9.112.87
SEQUENCE_PARSE             <1>
Name: 5748, dtype: object
ID                                                             26452
IP_SPLIT_RESULT                                      211.197.155.200
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,113,1...
Name: 5749, dtype: object
ID                                                             26453
IP_SPLIT_RESULT                                       182.230.70.200
SEQUENCE_PARSE     <29,132,113,132,113,39,164,30,132,93,132,93,39...
Name: 5750, dtype: object
ID                         26454
IP_SPLIT_RESULT    175.117.95.37
SEQUENCE_PARSE               <1>
Name: 5751, dtype: object
ID                                   26455
IP_SPLIT_RESULT              121.147.70.12
SEQUENCE_PARSE     <31,113,1,5,1,5,31,113>
Name: 5752, dtype: object
ID                          26456
IP_SPLIT_RESULT    198.148.15.221
SEQUENCE_PARSE                <5>
Name: 5753, dtype: object
ID                                                             26457
IP_SPLIT_RESULT                                        115.160.59.76
SEQUENCE_PARSE     <29,132,132,113,113,113,113,113,113,113,113,11...
Name: 5754, dtype: object
ID                                                             26458
IP_SPLIT_RESULT                                       223.62.172.122
SEQUENCE_PARSE     <1,130,1,132,113,1,132,113,132,113,31,113,31,1...
Name: 5755, dtype: object
ID                                                             26459
IP_SPLIT_RESULT                                           39.7.18.96
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,32,93,132,1...
Name: 5756, dtype: object
ID                           26460
IP_SPLIT_RESULT     211.36.131.177
SEQUENCE_PARSE     <39,164,39,164>
Name: 5757, dtype: object
ID                                                             26461
IP_SPLIT_RESULT                                         61.84.170.98
SEQUENCE_PARSE     <31,113,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,...
Name: 5758, dtype: object
ID                         26462
IP_SPLIT_RESULT    198.148.27.12
SEQUENCE_PARSE               <1>
Name: 5759, dtype: object
ID                           26463
IP_SPLIT_RESULT    112.186.132.149
SEQUENCE_PARSE                 <1>
Name: 5760, dtype: object
ID                          26464
IP_SPLIT_RESULT    58.230.105.176
SEQUENCE_PARSE            <1,5,1>
Name: 5761, dtype: object
ID                        26465
IP_SPLIT_RESULT    110.70.52.10
SEQUENCE_PARSE              <1>
Name: 5762, dtype: object
ID                         26466
IP_SPLIT_RESULT    223.62.10.132
SEQUENCE_PARSE         <30,93,1>
Name: 5763, dtype: object
ID                         26467
IP_SPLIT_RESULT    223.62.10.132
SEQUENCE_PARSE       <132,132,1>
Name: 5764, dtype: object
ID                           26468
IP_SPLIT_RESULT    175.210.179.207
SEQUENCE_PARSE                 <1>
Name: 5765, dtype: object
ID                                                             26469
IP_SPLIT_RESULT                                         223.33.180.6
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,132,93,132,93,132...
Name: 5766, dtype: object
ID                         26470
IP_SPLIT_RESULT    220.81.48.138
SEQUENCE_PARSE               <1>
Name: 5767, dtype: object
ID                                                     26471
IP_SPLIT_RESULT                                117.111.28.53
SEQUENCE_PARSE     <1,132,132,158,160,164,132,158,160,132,1>
Name: 5768, dtype: object
ID                          26472
IP_SPLIT_RESULT    211.36.131.177
SEQUENCE_PARSE           <164,41>
Name: 5769, dtype: object
ID                         26473
IP_SPLIT_RESULT    115.21.162.18
SEQUENCE_PARSE               <1>
Name: 5770, dtype: object
ID                          26474
IP_SPLIT_RESULT    117.111.23.120
SEQUENCE_PARSE         <1,212,23>
Name: 5771, dtype: object
ID                          26475
IP_SPLIT_RESULT    124.56.184.157
SEQUENCE_PARSE                <1>
Name: 5772, dtype: object
ID                         26476
IP_SPLIT_RESULT    211.52.226.45
SEQUENCE_PARSE               <1>
Name: 5773, dtype: object
ID                         26477
IP_SPLIT_RESULT    110.70.51.208
SEQUENCE_PARSE               <1>
Name: 5774, dtype: object
ID                          26478
IP_SPLIT_RESULT     223.62.222.66
SEQUENCE_PARSE     <1,132,93,132>
Name: 5775, dtype: object
ID                       26479
IP_SPLIT_RESULT    223.38.18.5
SEQUENCE_PARSE             <1>
Name: 5776, dtype: object
ID                                                             26480
IP_SPLIT_RESULT                                        211.48.46.177
SEQUENCE_PARSE     <39,164,1,85,93,93,132,132,93,132,93,32,93,93,...
Name: 5777, dtype: object
ID                         26481
IP_SPLIT_RESULT    58.231.186.80
SEQUENCE_PARSE               <1>
Name: 5778, dtype: object
ID                                                             26482
IP_SPLIT_RESULT                                           39.7.18.96
SEQUENCE_PARSE     <113,14,113,132,93,132,93,93,93,93,93,32,93,93...
Name: 5779, dtype: object
ID                                                             26483
IP_SPLIT_RESULT                                       182.230.70.200
SEQUENCE_PARSE     <164,132,93,31,113,39,164,31,113,89,130,130,13...
Name: 5780, dtype: object
ID                                                             26484
IP_SPLIT_RESULT                                         1.227.209.16
SEQUENCE_PARSE     <1,132,132,1,132,113,132,113,113,1,113,31,113,...
Name: 5781, dtype: object
ID                        26485
IP_SPLIT_RESULT    27.175.72.59
SEQUENCE_PARSE              <1>
Name: 5782, dtype: object
ID                                          26486
IP_SPLIT_RESULT                     223.33.164.83
SEQUENCE_PARSE     <1,31,132,113,31,113,1,33,164>
Name: 5783, dtype: object
ID                           26487
IP_SPLIT_RESULT    121.138.246.150
SEQUENCE_PARSE                 <1>
Name: 5784, dtype: object
ID                           26488
IP_SPLIT_RESULT    114.206.174.125
SEQUENCE_PARSE                 <1>
Name: 5785, dtype: object
ID                                                             26489
IP_SPLIT_RESULT                                      121.161.123.177
SEQUENCE_PARSE     <93,93,93,93,32,32,32,1,132,93,132,1,93,93,93,32>
Name: 5786, dtype: object

Name: 5926, dtype: object
ID                           26630
IP_SPLIT_RESULT      49.164.10.130
SEQUENCE_PARSE     <32,32,32,5,32>
Name: 5927, dtype: object
ID                          26631
IP_SPLIT_RESULT    211.104.55.131
SEQUENCE_PARSE                <1>
Name: 5928, dtype: object
ID                                                             26632
IP_SPLIT_RESULT                                        58.77.186.243
SEQUENCE_PARSE     <132,132,93,93,32,93,93,93,32,93,32,93,32,93,9...
Name: 5929, dtype: object
ID                                                             26633
IP_SPLIT_RESULT                                       115.137.53.150
SEQUENCE_PARSE     <1,113,132,113,132,113,113,113,113,31,113,113,...
Name: 5930, dtype: object
ID                                                             26634
IP_SPLIT_RESULT                                        122.42.229.89
SEQUENCE_PARSE     <31,113,132,93,132,93,93,93,32,93,132,113,113,...
Name: 5931, dtype: object
ID                          26635
IP_SPLIT_RESULT    217.182.132.83
SEQUENCE_PARSE                <1>
Name: 5932, dtype: object
ID                         26636
IP_SPLIT_RESULT    110.70.55.139
SEQUENCE_PARSE      <31,113,1,5>
Name: 5933, dtype: object
ID                                                             26637
IP_SPLIT_RESULT                                       175.223.38.225
SEQUENCE_PARSE     <1,132,93,132,93,93,93,87,89,91,26,26,1,130,87...
Name: 5934, dtype: object
ID                                               26638
IP_SPLIT_RESULT                         180.230.134.73
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93>
Name: 5935, dtype: object
ID                              26639
IP_SPLIT_RESULT         175.223.30.26
SEQUENCE_PARSE     <31,113,31,113,93>
Name: 5936, dtype: object
ID                          26640
IP_SPLIT_RESULT    125.178.180.74
SEQUENCE_PARSE                <1>
Name: 5937, dtype: object
ID                                      26641
IP_SPLIT_RESULT                175.223.35.185
SEQUENCE_PARSE     <68,29,132,113,132,31,113>
Name: 5938, dtype: object
ID                                                             26642
IP_SPLIT_RESULT                                      221.140.182.253
SEQUENCE_PARSE     <1,132,132,132,132,158,160,93,132,158,160,93,1...
Name: 5939, dtype: object
ID                           26643
IP_SPLIT_RESULT    112.155.246.198
SEQUENCE_PARSE                 <1>
Name: 5940, dtype: object
ID                                                   26644
IP_SPLIT_RESULT                              223.62.179.21
SEQUENCE_PARSE     <1,90,92,87,80,24,132,132,1,93,132,132>
Name: 5941, dtype: object
ID                                                             26645
IP_SPLIT_RESULT                                        175.116.7.174
SEQUENCE_PARSE     <1,132,132,158,160,1,113,132,132,31,113,1,132,...
Name: 5942, dtype: object
ID                           26646
IP_SPLIT_RESULT    125.177.240.151
SEQUENCE_PARSE           <5,1,132>
Name: 5943, dtype: object
ID                           26647
IP_SPLIT_RESULT        59.17.80.80
SEQUENCE_PARSE     <39,164,39,164>
Name: 5944, dtype: object
ID                         26648
IP_SPLIT_RESULT    49.173.153.62
SEQUENCE_PARSE               <1>
Name: 5945, dtype: object
ID                                                             26649
IP_SPLIT_RESULT                                        106.102.0.226
SEQUENCE_PARSE     <31,113,130,132,113,132,113,113,113,31,113,31,...
Name: 5946, dtype: object
ID                         26650
IP_SPLIT_RESULT    1.225.203.195
SEQUENCE_PARSE               <1>
Name: 5947, dtype: object
ID                                                             26651
IP_SPLIT_RESULT                                       211.199.81.122
SEQUENCE_PARSE     <87,80,30,212,132,93,132,93,93,93,32,93,32,93,...
Name: 5948, dtype: object
ID                        26652
IP_SPLIT_RESULT    60.191.38.78
SEQUENCE_PARSE              <1>
Name: 5949, dtype: object
ID                        26653
IP_SPLIT_RESULT    36.35.31.226
SEQUENCE_PARSE              <1>
Name: 5950, dtype: object
ID                          26654
IP_SPLIT_RESULT    139.170.71.237
SEQUENCE_PARSE                <1>
Name: 5951, dtype: object
ID                          26655
IP_SPLIT_RESULT    111.162.149.22
SEQUENCE_PARSE                <1>
Name: 5952, dtype: object
ID                          26656
IP_SPLIT_RESULT    171.117.21.173
SEQUENCE_PARSE                <1>
Name: 5953, dtype: object
ID                         26657
IP_SPLIT_RESULT    112.66.87.121
SEQUENCE_PARSE               <1>
Name: 5954, dtype: object
ID                           26658
IP_SPLIT_RESULT    150.255.190.184
SEQUENCE_PARSE                 <1>
Name: 5955, dtype: object
ID                          26659
IP_SPLIT_RESULT    171.37.173.174
SEQUENCE_PARSE                <1>
Name: 5956, dtype: object
ID                         26660
IP_SPLIT_RESULT    117.111.25.99
SEQUENCE_PARSE       <132,132,1>
Name: 5957, dtype: object
ID                        26661
IP_SPLIT_RESULT    106.45.8.237
SEQUENCE_PARSE              <1>
Name: 5958, dtype: object
ID                                                             26662
IP_SPLIT_RESULT                                       175.223.18.219
SEQUENCE_PARSE     <1,90,92,87,89,31,113,31,113,31,113,31,113,31,...
Name: 5959, dtype: object
ID                          26663
IP_SPLIT_RESULT    116.113.51.191
SEQUENCE_PARSE                <1>
Name: 5960, dtype: object
ID                           26664
IP_SPLIT_RESULT    222.244.110.145
SEQUENCE_PARSE                 <1>
Name: 5961, dtype: object
ID                         26665
IP_SPLIT_RESULT    27.211.180.81
SEQUENCE_PARSE               <1>
Name: 5962, dtype: object
ID                          26666
IP_SPLIT_RESULT    139.212.96.193
SEQUENCE_PARSE                <1>
Name: 5963, dtype: object
ID                         26667
IP_SPLIT_RESULT    111.85.179.46
SEQUENCE_PARSE               <1>
Name: 5964, dtype: object
ID                          26668
IP_SPLIT_RESULT    175.17.192.175
SEQUENCE_PARSE                <1>
Name: 5965, dtype: object
ID                         26669
IP_SPLIT_RESULT    125.76.60.118
SEQUENCE_PARSE               <1>
Name: 5966, dtype: object
ID                        26670
IP_SPLIT_RESULT    124.88.55.34
SEQUENCE_PARSE              <1>
Name: 5967, dtype: object
ID                       26671
IP_SPLIT_RESULT    59.5.161.28
SEQUENCE_PARSE           <5,1>
Name: 5968, dtype: object
ID                           26672
IP_SPLIT_RESULT    221.162.216.131
SEQUENCE_PARSE                 <1>
Name: 5969, dtype: object
ID                                                             26673
IP_SPLIT_RESULT                                       211.199.81.122
SEQUENCE_PARSE     <87,89,132,93,132,93,32,93,93,93,93,32,132,93,...
Name: 5970, dtype: object
ID                         26674
IP_SPLIT_RESULT    119.64.114.37
SEQUENCE_PARSE               <1>
Name: 5971, dtype: object
ID                                 26675
IP_SPLIT_RESULT            1.242.209.131
SEQUENCE_PARSE     <5,1,132,5,1,132,132>
Name: 5972, dtype: object
ID                          26676
IP_SPLIT_RESULT    211.199.38.171
SEQUENCE_PARSE           <31,113>
Name: 5973, dtype: object
ID                                                             26677
IP_SPLIT_RESULT                                       223.62.222.139
SEQUENCE_PARSE     <31,113,31,113,31,113,31,113,31,113,1,132,113,...
Name: 5974, dtype: object
ID                                                             26678
IP_SPLIT_RESULT                                      182.230.150.214
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,31,11...
Name: 5975, dtype: object
ID                                          26679
IP_SPLIT_RESULT                    58.230.138.168
SEQUENCE_PARSE     <1,132,93,132,93,1,132,93,132>
Name: 5976, dtype: object
ID                          26680
IP_SPLIT_RESULT    211.33.114.218
SEQUENCE_PARSE            <1,5,1>
Name: 5977, dtype: object
ID                                                             26681
IP_SPLIT_RESULT                                        223.62.219.69
SEQUENCE_PARSE     <1,90,92,89,80,29,113,212,132,113,132,132,132,...
Name: 5978, dtype: object
ID                                  26682
IP_SPLIT_RESULT             222.98.239.17
SEQUENCE_PARSE     <1,5,1,63,5,1,63,1,63>
Name: 5979, dtype: object
ID                                                             26683
IP_SPLIT_RESULT                                       114.129.211.61
SEQUENCE_PARSE     <31,113,31,113,29,132,132,113,31,113,31,113,31...
Name: 5980, dtype: object
ID                          26684
IP_SPLIT_RESULT    211.105.120.13
SEQUENCE_PARSE                <1>
Name: 5981, dtype: object
ID                                                             26685
IP_SPLIT_RESULT                                         1.241.84.234
SEQUENCE_PARSE     <1,132,113,132,113,31,113,132,162,166,162,113,...
Name: 5982, dtype: object
ID                                                             26686
IP_SPLIT_RESULT                                        59.22.108.106
SEQUENCE_PARSE     <1,113,132,113,132,113,113,113,113,113,113,1,1...
Name: 5983, dtype: object
ID                        26687
IP_SPLIT_RESULT    61.34.252.16
SEQUENCE_PARSE         <31,113>
Name: 5984, dtype: object
ID                        26688
IP_SPLIT_RESULT    66.249.79.90
SEQUENCE_PARSE         <1,44,1>
Name: 5985, dtype: object
ID                        26689
IP_SPLIT_RESULT    49.172.44.73
SEQUENCE_PARSE              <1>
Name: 5986, dtype: object
ID                           26690
IP_SPLIT_RESULT      124.61.180.10
SEQUENCE_PARSE     <31,113,31,113>
Name: 5987, dtype: object
ID                                                             26691
IP_SPLIT_RESULT                                       175.223.18.219
SEQUENCE_PARSE     <80,29,113,212,132,113,132,113,113,31,113,31,1...
Name: 5988, dtype: object
ID                           26692
IP_SPLIT_RESULT    121.143.114.148
SEQUENCE_PARSE       <32,93,44,32>
Name: 5989, dtype: object
ID                         26693
IP_SPLIT_RESULT    157.55.39.244
SEQUENCE_PARSE               <1>
Name: 5990, dtype: object
ID                         26694
IP_SPLIT_RESULT    219.255.68.83
SEQUENCE_PARSE               <1>
Name: 5991, dtype: object
ID                          26695
IP_SPLIT_RESULT    58.143.248.221
SEQUENCE_PARSE                <1>
Name: 5992, dtype: object
ID                                       26696
IP_SPLIT_RESULT                   42.82.40.170
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93>
Name: 5993, dtype: object
ID                                   26697
IP_SPLIT_RESULT              110.70.15.139
SEQUENCE_PARSE     <1,132,132,158,160,132>
Name: 5994, dtype: object
ID                                 26698
IP_SPLIT_RESULT            223.62.219.69
SEQUENCE_PARSE     <87,31,113,63,93,132>
Name: 5995, dtype: object
ID                        26699
IP_SPLIT_RESULT    42.82.40.170
SEQUENCE_PARSE        <132,132>
Name: 5996, dtype: object
ID                         26700
IP_SPLIT_RESULT    122.47.254.31
SEQUENCE_PARSE               <1>
Name: 5997, dtype: object
ID                         26701
IP_SPLIT_RESULT    122.45.124.81
SEQUENCE_PARSE               <1>
Name: 5998, dtype: object
ID                        26702
IP_SPLIT_RESULT    52.11.138.96
SEQUENCE_PARSE              <1>
Name: 5999, dtype: object
ID                                                             26703
IP_SPLIT_RESULT                                       223.62.190.182
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,90,87...
Name: 6000, dtype: object
ID                                  26704
IP_SPLIT_RESULT            58.225.196.203
SEQUENCE_PARSE     <31,113,31,113,31,113>
Name: 6001, dtype: object
ID                        26705
IP_SPLIT_RESULT    1.236.234.47
SEQUENCE_PARSE              <1>
Name: 6002, dtype: object
ID                                                             26706
IP_SPLIT_RESULT                                           39.7.15.65
SEQUENCE_PARSE     <29,132,1,113,132,113,29,113,132,113,132,113,2...
Name: 6003, dtype: object
ID                        26707
IP_SPLIT_RESULT    124.5.85.182
SEQUENCE_PARSE              <1>
Name: 6004, dtype: object
ID                                                             26708
IP_SPLIT_RESULT                                      175.125.223.109
SEQUENCE_PARSE     <113,29,1,132,113,132,113,29,132,113,113,132,1...
Name: 6005, dtype: object
ID                                                             26709
IP_SPLIT_RESULT                                        14.52.251.207
SEQUENCE_PARSE     <5,1,5,1,5,1,93,132,132,93,93,113,212,14,113,1...
Name: 6006, dtype: object
ID                                                             26710
IP_SPLIT_RESULT                                       223.62.190.182
SEQUENCE_PARSE     <92,89,80,30,212,93,132,132,93,93,93,93,93,93,...
Name: 6007, dtype: object
ID                                         26711
IP_SPLIT_RESULT                     59.12.116.75
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 6008, dtype: object
ID                                                             26712
IP_SPLIT_RESULT                                         124.54.178.3
SEQUENCE_PARSE     <1,132,132,158,160,132,93,132,113,113,132,113,...
Name: 6009, dtype: object
ID                                                             26713
IP_SPLIT_RESULT                                           39.7.15.65
SEQUENCE_PARSE     <1,63,90,113,113,113,132,113,132,31,113,31,113...
Name: 6010, dtype: object
ID                         26714
IP_SPLIT_RESULT    223.62.162.13
SEQUENCE_PARSE               <1>
Name: 6011, dtype: object
ID                        26715
IP_SPLIT_RESULT    49.172.44.73
SEQUENCE_PARSE              <1>
Name: 6012, dtype: object
ID                           26716
IP_SPLIT_RESULT    121.134.108.242
SEQUENCE_PARSE                 <1>
Name: 6013, dtype: object
ID                         26717
IP_SPLIT_RESULT    223.62.190.76
SEQUENCE_PARSE               <1>
Name: 6014, dtype: object
ID                                                             26718
IP_SPLIT_RESULT                                         122.35.220.4
SEQUENCE_PARSE     <1,93,132,132,93,93,93,132,93,132,93,93,93,30,...
Name: 6015, dtype: object
ID                                                             26719
IP_SPLIT_RESULT                                        110.70.51.121
SEQUENCE_PARSE     <1,132,132,93,93,93,93,90,92,87,89,80,29,132,2...
Name: 6016, dtype: object
ID                                                             26720
IP_SPLIT_RESULT                                       219.250.119.29
SEQUENCE_PARSE     <1,132,93,132,93,93,93,32,93,32,93,93,93,93,93...
Name: 6017, dtype: object
ID                         26721
IP_SPLIT_RESULT    117.111.24.82
SEQUENCE_PARSE               <1>
Name: 6018, dtype: object
ID                         26722
IP_SPLIT_RESULT    1.228.111.191
SEQUENCE_PARSE               <1>
Name: 6019, dtype: object
ID                                                     26723
IP_SPLIT_RESULT                              125.137.136.167
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93>
Name: 6020, dtype: object
ID                         26724
IP_SPLIT_RESULT    218.38.195.88
SEQUENCE_PARSE               <1>
Name: 6021, dtype: object
ID                          26725
IP_SPLIT_RESULT    121.148.213.81
SEQUENCE_PARSE           <31,113>
Name: 6022, dtype: object
ID                                                             26726
IP_SPLIT_RESULT                                          1.218.80.28
SEQUENCE_PARSE     <31,113,1,130,130,1,130,130,31,113,132,113,132...
Name: 6023, dtype: object
ID                          26727
IP_SPLIT_RESULT    223.62.215.207
SEQUENCE_PARSE           <31,113>
Name: 6024, dtype: object
ID                                                             26728
IP_SPLIT_RESULT                                        14.55.201.135
SEQUENCE_PARSE     <1,90,92,87,89,80,29,212,132,113,132,113,132,2...
Name: 6025, dtype: object
ID                                                             26729
IP_SPLIT_RESULT                                        122.34.190.33
SEQUENCE_PARSE     <113,113,113,113,31,113,1,132,113,132,113,113,...
Name: 6026, dtype: object
ID                         26730
IP_SPLIT_RESULT    49.169.26.168
SEQUENCE_PARSE              <29>
Name: 6027, dtype: object
ID                                                             26731
IP_SPLIT_RESULT                                        223.39.138.79
SEQUENCE_PARSE     <1,93,132,93,132,93,93,32,93,32,93,132,162,166...
Name: 6028, dtype: object
ID                                                             26732
IP_SPLIT_RESULT                                        122.34.190.33
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,1,132...
Name: 6029, dtype: object
ID                                        26733
IP_SPLIT_RESULT                   223.39.138.79
SEQUENCE_PARSE     <93,32,32,32,32,32,32,32,32>
Name: 6030, dtype: object
ID                          26734
IP_SPLIT_RESULT    58.235.111.248
SEQUENCE_PARSE                <1>
Name: 6031, dtype: object
ID                         26735
IP_SPLIT_RESULT    1.216.236.118
SEQUENCE_PARSE               <1>
Name: 6032, dtype: object
ID                                                             26736
IP_SPLIT_RESULT                                       211.196.199.80
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,93,93,93,93,93,93...
Name: 6033, dtype: object
ID                                                             26737
IP_SPLIT_RESULT                                       203.226.207.95
SEQUENCE_PARSE     <31,113,93,212,93,14,132,93,81,93,212,93,14,93...
Name: 6034, dtype: object
ID                         26738
IP_SPLIT_RESULT    198.148.27.25
SEQUENCE_PARSE               <1>
Name: 6035, dtype: object
ID                           26739
IP_SPLIT_RESULT    175.115.105.155
SEQUENCE_PARSE                 <1>
Name: 6036, dtype: object
ID                           26740
IP_SPLIT_RESULT    175.115.105.155
SEQUENCE_PARSE             <90,92>
Name: 6037, dtype: object
ID                                                             26741
IP_SPLIT_RESULT                                       175.223.35.253
SEQUENCE_PARSE     <1,113,132,113,132,113,113,31,113,132,162,166,...
Name: 6038, dtype: object
ID                          26742
IP_SPLIT_RESULT    38.140.183.154
SEQUENCE_PARSE            <1,5,1>
Name: 6039, dtype: object
ID                        26743
IP_SPLIT_RESULT    14.39.145.95
SEQUENCE_PARSE     <1,93,93,93>
Name: 6040, dtype: object
ID                                                             26744
IP_SPLIT_RESULT                                       175.223.35.253
SEQUENCE_PARSE     <132,132,158,160,1,113,132,132,113,113,113,31,...
Name: 6041, dtype: object
ID                                                             26745
IP_SPLIT_RESULT                                          39.7.47.133
SEQUENCE_PARSE     <1,90,92,212,132,29,132,113,132,29,132,113,132...
Name: 6042, dtype: object
ID                                                             26746
IP_SPLIT_RESULT                                       211.196.199.80
SEQUENCE_PARSE     <90,87,23,87,89,80,26,1,93,132,132,93,93,90,87...
Name: 6043, dtype: object
ID                        26747
IP_SPLIT_RESULT    223.56.44.17
SEQUENCE_PARSE              <1>
Name: 6044, dtype: object
ID                                                             26748
IP_SPLIT_RESULT                                         14.39.145.95
SEQUENCE_PARSE     <1,132,93,93,132,93,93,93,93,93,93,132,93,132,...
Name: 6045, dtype: object
ID                           26749
IP_SPLIT_RESULT    210.204.146.156
SEQUENCE_PARSE                 <1>
Name: 6046, dtype: object
ID                          26750
IP_SPLIT_RESULT    211.246.69.217

ID                                            26889
IP_SPLIT_RESULT                       112.169.74.69
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,90>
Name: 6186, dtype: object
ID                          26890
IP_SPLIT_RESULT    121.172.165.10
SEQUENCE_PARSE                <1>
Name: 6187, dtype: object
ID                          26891
IP_SPLIT_RESULT    58.233.130.110
SEQUENCE_PARSE                <1>
Name: 6188, dtype: object
ID                                                       26892
IP_SPLIT_RESULT                                 210.220.80.150
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,93,93>
Name: 6189, dtype: object
ID                         26893
IP_SPLIT_RESULT    222.98.172.40
SEQUENCE_PARSE               <1>
Name: 6190, dtype: object
ID                         26894
IP_SPLIT_RESULT    120.142.20.93
SEQUENCE_PARSE               <1>
Name: 6191, dtype: object
ID                         26895
IP_SPLIT_RESULT    223.38.17.248
SEQUENCE_PARSE          <31,113>
Name: 6192, dtype: object
ID                           26896
IP_SPLIT_RESULT    219.251.158.210
SEQUENCE_PARSE                 <1>
Name: 6193, dtype: object
ID                                                             26897
IP_SPLIT_RESULT                                        39.115.86.219
SEQUENCE_PARSE     <29,1,132,113,132,113,113,113,113,31,113,31,11...
Name: 6194, dtype: object
ID                                                             26898
IP_SPLIT_RESULT                                        110.70.50.254
SEQUENCE_PARSE     <1,31,93,132,132,132,113,132,29,113,132,132,13...
Name: 6195, dtype: object
ID                           26899
IP_SPLIT_RESULT    221.145.239.122
SEQUENCE_PARSE                 <1>
Name: 6196, dtype: object
ID                        26900
IP_SPLIT_RESULT    1.224.205.92
SEQUENCE_PARSE              <1>
Name: 6197, dtype: object
ID                         26901
IP_SPLIT_RESULT    218.146.10.76
SEQUENCE_PARSE               <1>
Name: 6198, dtype: object
ID                                                             26902
IP_SPLIT_RESULT                                      121.152.243.164
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,113,113,113...
Name: 6199, dtype: object
ID                          26903
IP_SPLIT_RESULT    211.36.143.119
SEQUENCE_PARSE          <1,90,92>
Name: 6200, dtype: object
ID                         26904
IP_SPLIT_RESULT    117.111.21.22
SEQUENCE_PARSE               <1>
Name: 6201, dtype: object
ID                          26905
IP_SPLIT_RESULT    117.111.23.248
SEQUENCE_PARSE                <1>
Name: 6202, dtype: object
ID                           26906
IP_SPLIT_RESULT    112.185.184.120
SEQUENCE_PARSE                 <1>
Name: 6203, dtype: object
ID                          26907
IP_SPLIT_RESULT    220.118.128.12
SEQUENCE_PARSE                <1>
Name: 6204, dtype: object
ID                          26908
IP_SPLIT_RESULT    220.88.250.225
SEQUENCE_PARSE            <1,5,1>
Name: 6205, dtype: object
ID                         26909
IP_SPLIT_RESULT    14.40.102.197
SEQUENCE_PARSE               <1>
Name: 6206, dtype: object
ID                          26910
IP_SPLIT_RESULT    220.71.178.121
SEQUENCE_PARSE                <1>
Name: 6207, dtype: object
ID                          26911
IP_SPLIT_RESULT    211.196.145.86
SEQUENCE_PARSE                <1>
Name: 6208, dtype: object
ID                          26912
IP_SPLIT_RESULT    222.111.68.217
SEQUENCE_PARSE                <1>
Name: 6209, dtype: object
ID                                                             26913
IP_SPLIT_RESULT                                       175.223.33.137
SEQUENCE_PARSE     <1,132,113,132,132,113,132,113,113,31,113,31,1...
Name: 6210, dtype: object
ID                           26914
IP_SPLIT_RESULT    123.214.238.162
SEQUENCE_PARSE                 <1>
Name: 6211, dtype: object
ID                          26915
IP_SPLIT_RESULT    116.124.59.212
SEQUENCE_PARSE              <5,1>
Name: 6212, dtype: object
ID                          26916
IP_SPLIT_RESULT    175.116.98.144
SEQUENCE_PARSE          <1,90,92>
Name: 6213, dtype: object
ID                         26917
IP_SPLIT_RESULT    119.75.91.153
SEQUENCE_PARSE               <1>
Name: 6214, dtype: object
ID                                                     26918
IP_SPLIT_RESULT                               223.39.131.208
SEQUENCE_PARSE     <1,132,93,132,93,1,132,93,132,93,93,93,1>
Name: 6215, dtype: object
ID                         26919
IP_SPLIT_RESULT    223.38.17.248
SEQUENCE_PARSE              <39>
Name: 6216, dtype: object
ID                          26920
IP_SPLIT_RESULT    61.255.161.118
SEQUENCE_PARSE                <1>
Name: 6217, dtype: object
ID                           26921
IP_SPLIT_RESULT    125.209.235.169
SEQUENCE_PARSE               <5,1>
Name: 6218, dtype: object
ID                                                             26922
IP_SPLIT_RESULT                                       221.141.34.112
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 6219, dtype: object
ID                          26923
IP_SPLIT_RESULT    211.36.136.103
SEQUENCE_PARSE         <1,31,113>
Name: 6220, dtype: object
ID                        26924
IP_SPLIT_RESULT    117.111.17.5
SEQUENCE_PARSE              <1>
Name: 6221, dtype: object
ID                                                         26925
IP_SPLIT_RESULT                                   211.36.137.224
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93>
Name: 6222, dtype: object
ID                                             26926
IP_SPLIT_RESULT                       211.36.137.224
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93,93,93>
Name: 6223, dtype: object
ID                         26927
IP_SPLIT_RESULT    210.123.63.32
SEQUENCE_PARSE               <1>
Name: 6224, dtype: object
ID                          26928
IP_SPLIT_RESULT    122.35.154.201
SEQUENCE_PARSE                <1>
Name: 6225, dtype: object
ID                                                             26929
IP_SPLIT_RESULT                                        223.62.11.212
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,93,132,93,1,132,93,...
Name: 6226, dtype: object
ID                          26930
IP_SPLIT_RESULT    117.111.23.248
SEQUENCE_PARSE                <1>
Name: 6227, dtype: object
ID                         26931
IP_SPLIT_RESULT    211.186.11.49
SEQUENCE_PARSE               <1>
Name: 6228, dtype: object
ID                         26932
IP_SPLIT_RESULT    58.232.170.26
SEQUENCE_PARSE               <1>
Name: 6229, dtype: object
ID                                                             26933
IP_SPLIT_RESULT                                        122.34.48.194
SEQUENCE_PARSE     <1,90,92,1,90,92,132,132,93,93,90,132,93,132,9...
Name: 6230, dtype: object
ID                                                             26934
IP_SPLIT_RESULT                                       223.62.188.100
SEQUENCE_PARSE     <5,1,132,132,1,132,132,158,160,132,93,132,132,...
Name: 6231, dtype: object
ID                           26935
IP_SPLIT_RESULT    218.238.119.102
SEQUENCE_PARSE                 <1>
Name: 6232, dtype: object
ID                                                             26936
IP_SPLIT_RESULT                                       117.16.239.169
SEQUENCE_PARSE     <1,113,113,113,113,113,113,113,113,132,132,132...
Name: 6233, dtype: object
ID                        26937
IP_SPLIT_RESULT    198.148.27.7
SEQUENCE_PARSE              <1>
Name: 6234, dtype: object
ID                          26938
IP_SPLIT_RESULT    223.62.219.234
SEQUENCE_PARSE                <1>
Name: 6235, dtype: object
ID                         26939
IP_SPLIT_RESULT    60.253.63.100
SEQUENCE_PARSE               <1>
Name: 6236, dtype: object
ID                       26940
IP_SPLIT_RESULT    66.249.77.2
SEQUENCE_PARSE             <1>
Name: 6237, dtype: object
ID                          26941
IP_SPLIT_RESULT    175.223.38.130
SEQUENCE_PARSE                <1>
Name: 6238, dtype: object
ID                                                             26942
IP_SPLIT_RESULT                                        122.34.48.194
SEQUENCE_PARSE     <90,132,93,132,93,93,93,93,93,89,25,90,92,87,8...
Name: 6239, dtype: object
ID                                                             26943
IP_SPLIT_RESULT                                         175.124.46.6
SEQUENCE_PARSE     <10,132,85,29,132,132,158,160,132,132,132,31,1...
Name: 6240, dtype: object
ID                           26944
IP_SPLIT_RESULT    221.145.239.122
SEQUENCE_PARSE                 <1>
Name: 6241, dtype: object
ID                                                             26945
IP_SPLIT_RESULT                                       223.62.216.199
SEQUENCE_PARSE     <1,132,93,132,93,93,93,1,132,93,132,33,164,1,3...
Name: 6242, dtype: object
ID                          26946
IP_SPLIT_RESULT    118.219.193.68
SEQUENCE_PARSE                <1>
Name: 6243, dtype: object
ID                                                             26947
IP_SPLIT_RESULT                                         58.142.25.86
SEQUENCE_PARSE     <1,90,89,31,113,113,113,31,113,31,113,31,113,3...
Name: 6244, dtype: object
ID                        26948
IP_SPLIT_RESULT    59.15.88.148
SEQUENCE_PARSE              <1>
Name: 6245, dtype: object
ID                                                             26949
IP_SPLIT_RESULT                                         58.142.25.86
SEQUENCE_PARSE     <92,87,80,29,212,132,113,132,113,132,132,132,1...
Name: 6246, dtype: object
ID                          26950
IP_SPLIT_RESULT    49.171.237.164
SEQUENCE_PARSE                <1>
Name: 6247, dtype: object
ID                         26951
IP_SPLIT_RESULT    58.231.131.42
SEQUENCE_PARSE             <5,1>
Name: 6248, dtype: object
ID                          26952
IP_SPLIT_RESULT    112.158.38.213
SEQUENCE_PARSE                <1>
Name: 6249, dtype: object
ID                          26953
IP_SPLIT_RESULT    171.66.209.130
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 6250, dtype: object
ID                           26954
IP_SPLIT_RESULT    218.235.241.100
SEQUENCE_PARSE               <1,5>
Name: 6251, dtype: object
ID                             26955
IP_SPLIT_RESULT       54.219.178.100
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5>
Name: 6252, dtype: object
ID                           26956
IP_SPLIT_RESULT    125.177.167.131
SEQUENCE_PARSE               <5,1>
Name: 6253, dtype: object
ID                          26957
IP_SPLIT_RESULT    35.194.253.138
SEQUENCE_PARSE                <1>
Name: 6254, dtype: object
ID                      26958
IP_SPLIT_RESULT    92.2.3.103
SEQUENCE_PARSE        <1,5,1>
Name: 6255, dtype: object
ID                                                             26959
IP_SPLIT_RESULT                                       175.223.39.106
SEQUENCE_PARSE     <1,90,132,132,158,160,113,132,158,160,113,132,...
Name: 6256, dtype: object
ID                          26960
IP_SPLIT_RESULT    35.194.253.138
SEQUENCE_PARSE                <1>
Name: 6257, dtype: object
ID                         26961
IP_SPLIT_RESULT    180.65.132.94
SEQUENCE_PARSE               <1>
Name: 6258, dtype: object
ID                                                             26962
IP_SPLIT_RESULT                                       175.223.39.106
SEQUENCE_PARSE     <92,132,93,132,93,132,93,132,93,93,93,132,93,1...
Name: 6259, dtype: object
ID                         26963
IP_SPLIT_RESULT    198.148.27.27
SEQUENCE_PARSE               <1>
Name: 6260, dtype: object
ID                          26964
IP_SPLIT_RESULT    112.164.29.224
SEQUENCE_PARSE       <5,1,132,92>
Name: 6261, dtype: object
ID                          26965
IP_SPLIT_RESULT    175.123.247.68
SEQUENCE_PARSE                <1>
Name: 6262, dtype: object
ID                         26966
IP_SPLIT_RESULT    211.215.28.34
SEQUENCE_PARSE               <1>
Name: 6263, dtype: object
ID                          26967
IP_SPLIT_RESULT    112.164.29.224
SEQUENCE_PARSE             <1,90>
Name: 6264, dtype: object
ID                        26968
IP_SPLIT_RESULT    157.55.39.58
SEQUENCE_PARSE              <1>
Name: 6265, dtype: object
ID                      26969
IP_SPLIT_RESULT    39.7.19.61
SEQUENCE_PARSE          <1,5>
Name: 6266, dtype: object
ID                          26970
IP_SPLIT_RESULT    77.174.115.207
SEQUENCE_PARSE                <1>
Name: 6267, dtype: object
ID                           26971
IP_SPLIT_RESULT    121.142.247.229
SEQUENCE_PARSE             <32,93>
Name: 6268, dtype: object
ID                                                             26972
IP_SPLIT_RESULT                                       222.107.17.128
SEQUENCE_PARSE     <1,191,191,130,130,1,130,132,132,93,132,93,93,...
Name: 6269, dtype: object
ID                         26973
IP_SPLIT_RESULT    207.46.13.178
SEQUENCE_PARSE               <1>
Name: 6270, dtype: object
ID                          26974
IP_SPLIT_RESULT    208.80.194.123
SEQUENCE_PARSE                <1>
Name: 6271, dtype: object
ID                                                             26975
IP_SPLIT_RESULT                                       220.118.22.174
SEQUENCE_PARSE     <31,113,32,113,132,132,132,132,158,160,113,132...
Name: 6272, dtype: object
ID                                                26976
IP_SPLIT_RESULT                           182.226.198.2
SEQUENCE_PARSE     <39,164,130,130,130,130,164,164,132>
Name: 6273, dtype: object
ID                        26977
IP_SPLIT_RESULT    116.46.131.5
SEQUENCE_PARSE              <1>
Name: 6274, dtype: object
ID                         26978
IP_SPLIT_RESULT    121.168.29.85
SEQUENCE_PARSE             <5,1>
Name: 6275, dtype: object
ID                         26979
IP_SPLIT_RESULT    198.148.27.14
SEQUENCE_PARSE               <1>
Name: 6276, dtype: object
ID                          26980
IP_SPLIT_RESULT    115.22.176.126
SEQUENCE_PARSE                <1>
Name: 6277, dtype: object
ID                          26981
IP_SPLIT_RESULT    221.165.35.201
SEQUENCE_PARSE                <1>
Name: 6278, dtype: object
ID                             26982
IP_SPLIT_RESULT        110.70.15.147
SEQUENCE_PARSE     <1,32,132,31,113>
Name: 6279, dtype: object
ID                           26983
IP_SPLIT_RESULT    221.152.100.237
SEQUENCE_PARSE                 <1>
Name: 6280, dtype: object
ID                         26984
IP_SPLIT_RESULT    58.235.236.83
SEQUENCE_PARSE               <1>
Name: 6281, dtype: object
ID                                                             26985
IP_SPLIT_RESULT                                        211.36.139.29
SEQUENCE_PARSE     <1,90,92,89,80,29,113,132,113,132,113,113,113,...
Name: 6282, dtype: object
ID                         26986
IP_SPLIT_RESULT    1.227.244.209
SEQUENCE_PARSE          <31,113>
Name: 6283, dtype: object
ID                        26987
IP_SPLIT_RESULT    218.48.46.66
SEQUENCE_PARSE              <1>
Name: 6284, dtype: object
ID                        26988
IP_SPLIT_RESULT    122.36.23.59
SEQUENCE_PARSE          <1,5,1>
Name: 6285, dtype: object
ID                        26989
IP_SPLIT_RESULT    58.239.1.189
SEQUENCE_PARSE              <1>
Name: 6286, dtype: object
ID                           26990
IP_SPLIT_RESULT    218.159.225.134
SEQUENCE_PARSE           <5,1,132>
Name: 6287, dtype: object
ID                        26991
IP_SPLIT_RESULT    122.36.23.59
SEQUENCE_PARSE            <132>
Name: 6288, dtype: object
ID                          26992
IP_SPLIT_RESULT    109.236.80.127
SEQUENCE_PARSE                <1>
Name: 6289, dtype: object
ID                                                             26993
IP_SPLIT_RESULT                                          122.34.6.37
SEQUENCE_PARSE     <1,113,132,113,132,113,113,31,113,31,113,113,113>
Name: 6290, dtype: object
ID                          26994
IP_SPLIT_RESULT    211.109.43.207
SEQUENCE_PARSE                <1>
Name: 6291, dtype: object
ID                                         26995
IP_SPLIT_RESULT                   218.39.133.104
SEQUENCE_PARSE     <1,92,90,92,130,132,93,32,93>
Name: 6292, dtype: object
ID                        26996
IP_SPLIT_RESULT    24.80.100.63
SEQUENCE_PARSE          <1,5,1>
Name: 6293, dtype: object
ID                        26997
IP_SPLIT_RESULT    110.13.93.56
SEQUENCE_PARSE              <1>
Name: 6294, dtype: object
ID                                                             26998
IP_SPLIT_RESULT                                       218.39.133.104
SEQUENCE_PARSE     <90,90,132,93,93,93,32,93,32,93,93,93,132,93,1...
Name: 6295, dtype: object
ID                          26999
IP_SPLIT_RESULT    72.198.187.163
SEQUENCE_PARSE            <1,5,1>
Name: 6296, dtype: object
ID                          27000
IP_SPLIT_RESULT    68.180.229.175
SEQUENCE_PARSE                <1>
Name: 6297, dtype: object
ID                                       27001
IP_SPLIT_RESULT                  58.143.112.48
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93>
Name: 6298, dtype: object
ID                                                             27002
IP_SPLIT_RESULT                                         14.138.25.16
SEQUENCE_PARSE     <1,90,90,92,87,89,80,29,212,113,132,113,132,13...
Name: 6299, dtype: object
ID                                             27003
IP_SPLIT_RESULT                        58.143.112.48
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93,93,93>
Name: 6300, dtype: object
ID                         27004
IP_SPLIT_RESULT    157.55.39.235
SEQUENCE_PARSE               <1>
Name: 6301, dtype: object
ID                                       27005
IP_SPLIT_RESULT                   14.138.25.16
SEQUENCE_PARSE     <87,25,1,132,93,132,31,113>
Name: 6302, dtype: object
ID                          27006
IP_SPLIT_RESULT    122.46.121.251
SEQUENCE_PARSE              <5,1>
Name: 6303, dtype: object
ID                          27007
IP_SPLIT_RESULT    124.53.183.142
SEQUENCE_PARSE                <1>
Name: 6304, dtype: object
ID                          27008
IP_SPLIT_RESULT    12.106.179.162
SEQUENCE_PARSE            <1,5,1>
Name: 6305, dtype: object
ID                           27009
IP_SPLIT_RESULT    222.232.115.222
SEQUENCE_PARSE                 <1>
Name: 6306, dtype: object
ID                         27010
IP_SPLIT_RESULT    1.237.109.169
SEQUENCE_PARSE      <33,164,164>
Name: 6307, dtype: object
ID                          27011
IP_SPLIT_RESULT    182.215.69.149
SEQUENCE_PARSE                <1>
Name: 6308, dtype: object
ID                                                             27012
IP_SPLIT_RESULT                                       220.103.255.57
SEQUENCE_PARSE     <32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,...
Name: 6309, dtype: object
ID                         27013
IP_SPLIT_RESULT    58.233.24.113
SEQUENCE_PARSE               <1>
Name: 6310, dtype: object
ID                                                             27014
IP_SPLIT_RESULT                                        61.83.123.239
SEQUENCE_PARSE     <1,130,132,113,132,174,172,170,132,132,132,1,1...
Name: 6311, dtype: object
ID                          27015
IP_SPLIT_RESULT    219.248.69.162
SEQUENCE_PARSE                <1>
Name: 6312, dtype: object
ID                          27016
IP_SPLIT_RESULT    121.174.127.95
SEQUENCE_PARSE                <1>
Name: 6313, dtype: object
ID                                                         27017
IP_SPLIT_RESULT                                       52.27.2.86
SEQUENCE_PARSE     <1,5,89,1,5,92,87,5,89,113,92,1,5,1,5,1,5,89>
Name: 6314, dtype: object
ID                                                             27018
IP_SPLIT_RESULT                                      114.201.186.135
SEQUENCE_PARSE     <32,93,32,93,132,162,132,162,132,162,132,162,1...
Name: 6315, dtype: object
ID                       27019
IP_SPLIT_RESULT    14.42.98.27
SEQUENCE_PARSE             <1>
Name: 6316, dtype: object

ID                           27170
IP_SPLIT_RESULT    182.226.114.152
SEQUENCE_PARSE                 <1>
Name: 6467, dtype: object
ID                                                             27171
IP_SPLIT_RESULT                                       175.223.20.191
SEQUENCE_PARSE     <1,31,113,132,113,132,113,113,31,113,113,132,1...
Name: 6468, dtype: object
ID                                                             27172
IP_SPLIT_RESULT                                         223.62.8.218
SEQUENCE_PARSE     <1,132,93,132,93,93,93,1,90,92,80,22,212,212,1...
Name: 6469, dtype: object
ID                         27173
IP_SPLIT_RESULT    175.223.48.53
SEQUENCE_PARSE               <1>
Name: 6470, dtype: object
ID                          27174
IP_SPLIT_RESULT    119.200.188.51
SEQUENCE_PARSE                <1>
Name: 6471, dtype: object
ID                         27175
IP_SPLIT_RESULT    110.70.56.144
SEQUENCE_PARSE         <1,90,90>
Name: 6472, dtype: object
ID                                                             27176
IP_SPLIT_RESULT                                        218.55.20.130
SEQUENCE_PARSE     <1,5,1,180,132,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5...
Name: 6473, dtype: object
ID                                                             27177
IP_SPLIT_RESULT                                        218.55.20.130
SEQUENCE_PARSE     <1,178,132,32,93,132,162,166,162,132,93,132,93...
Name: 6474, dtype: object
ID                          27178
IP_SPLIT_RESULT    223.33.184.212
SEQUENCE_PARSE                <1>
Name: 6475, dtype: object
ID                                                       27179
IP_SPLIT_RESULT                                  110.70.56.144
SEQUENCE_PARSE     <93,132,132,93,93,93,93,93,93,93,93,93,1,5>
Name: 6476, dtype: object
ID                         27180
IP_SPLIT_RESULT    86.247.76.186
SEQUENCE_PARSE               <1>
Name: 6477, dtype: object
ID                         27181
IP_SPLIT_RESULT    220.72.251.78
SEQUENCE_PARSE               <1>
Name: 6478, dtype: object
ID                                                             27182
IP_SPLIT_RESULT                                       223.62.204.193
SEQUENCE_PARSE     <1,89,80,22,212,132,93,132,32,93,32,93,32,93,3...
Name: 6479, dtype: object
ID                                                             27183
IP_SPLIT_RESULT                                       175.223.35.211
SEQUENCE_PARSE     <9,132,132,158,160,9,132,132,158,160,12,132,16...
Name: 6480, dtype: object
ID                                                             27184
IP_SPLIT_RESULT                                       175.223.35.211
SEQUENCE_PARSE     <132,12,160,158,132,132,158,160,132,132,132,15...
Name: 6481, dtype: object
ID                         27185
IP_SPLIT_RESULT    207.46.13.178
SEQUENCE_PARSE               <1>
Name: 6482, dtype: object
ID                          27186
IP_SPLIT_RESULT    121.172.87.193
SEQUENCE_PARSE         <93,93,90>
Name: 6483, dtype: object
ID                                27187
IP_SPLIT_RESULT         121.164.108.179
SEQUENCE_PARSE     <32,32,93,32,5,32,5>
Name: 6484, dtype: object
ID                                                             27188
IP_SPLIT_RESULT                                      203.226.207.229
SEQUENCE_PARSE     <1,93,132,132,93,93,32,93,32,93,93,93,93,93,93...
Name: 6485, dtype: object
ID                         27189
IP_SPLIT_RESULT    117.111.26.22
SEQUENCE_PARSE               <1>
Name: 6486, dtype: object
ID                          27190
IP_SPLIT_RESULT    222.106.208.15
SEQUENCE_PARSE            <32,93>
Name: 6487, dtype: object
ID                         27191
IP_SPLIT_RESULT    150.70.173.12
SEQUENCE_PARSE               <1>
Name: 6488, dtype: object
ID                         27192
IP_SPLIT_RESULT    121.131.176.2
SEQUENCE_PARSE               <1>
Name: 6489, dtype: object
ID                                           27193
IP_SPLIT_RESULT                      211.36.145.92
SEQUENCE_PARSE     <93,93,32,93,93,32,93,93,32,93>
Name: 6490, dtype: object
ID                         27194
IP_SPLIT_RESULT    211.36.145.92
SEQUENCE_PARSE     <32,93,32,93>
Name: 6491, dtype: object
ID                                                             27195
IP_SPLIT_RESULT                                        1.235.150.172
SEQUENCE_PARSE     <1,90,87,89,80,30,212,132,93,132,93,93,93,93,9...
Name: 6492, dtype: object
ID                         27196
IP_SPLIT_RESULT    175.223.15.14
SEQUENCE_PARSE               <1>
Name: 6493, dtype: object
ID                                                             27197
IP_SPLIT_RESULT                                         116.34.80.25
SEQUENCE_PARSE     <1,33,164,1,132,132,158,160,164,132,158,160,13...
Name: 6494, dtype: object
ID                                                             27198
IP_SPLIT_RESULT                                        1.235.150.172
SEQUENCE_PARSE     <92,93,212,93,93,93,93,32,93,93,93,93,93,33,16...
Name: 6495, dtype: object
ID                         27199
IP_SPLIT_RESULT    223.62.21.170
SEQUENCE_PARSE            <1,31>
Name: 6496, dtype: object
ID                         27200
IP_SPLIT_RESULT    110.70.54.226
SEQUENCE_PARSE        <1,31,113>
Name: 6497, dtype: object
ID                          27201
IP_SPLIT_RESULT    117.111.26.143
SEQUENCE_PARSE            <1,113>
Name: 6498, dtype: object
ID                          27202
IP_SPLIT_RESULT      223.62.21.43
SEQUENCE_PARSE     <93,93,162,93>
Name: 6499, dtype: object
ID                          27203
IP_SPLIT_RESULT    49.170.222.119
SEQUENCE_PARSE                <1>
Name: 6500, dtype: object
ID                                                             27204
IP_SPLIT_RESULT                                         223.62.203.4
SEQUENCE_PARSE     <1,113,132,113,132,31,113,113,113,31,113,113,3...
Name: 6501, dtype: object
ID                          27205
IP_SPLIT_RESULT    211.105.44.130
SEQUENCE_PARSE        <39,164,63>
Name: 6502, dtype: object
ID                                     27206
IP_SPLIT_RESULT               175.223.26.245
SEQUENCE_PARSE     <1,132,113,132,113,93,93>
Name: 6503, dtype: object
ID                                                           27207
IP_SPLIT_RESULT                                     211.105.44.130
SEQUENCE_PARSE     <89,195,39,164,63,164,164,132,81,39,164,63,164>
Name: 6504, dtype: object
ID                                                             27208
IP_SPLIT_RESULT                                         223.62.203.4
SEQUENCE_PARSE     <113,113,31,113,113,113,113,113,113,113,113,31...
Name: 6505, dtype: object
ID                         27209
IP_SPLIT_RESULT    58.120.83.247
SEQUENCE_PARSE           <32,93>
Name: 6506, dtype: object
ID                                 27210
IP_SPLIT_RESULT            211.36.130.51
SEQUENCE_PARSE     <1,92,29,113,132,132>
Name: 6507, dtype: object
ID                          27211
IP_SPLIT_RESULT    125.134.72.154
SEQUENCE_PARSE                <1>
Name: 6508, dtype: object
ID                                             27212
IP_SPLIT_RESULT                        223.62.172.88
SEQUENCE_PARSE     <29,1,132,93,132,93,32,93,31,113>
Name: 6509, dtype: object
ID                                  27213
IP_SPLIT_RESULT               39.7.18.161
SEQUENCE_PARSE     <32,93,13,174,172,170>
Name: 6510, dtype: object
ID                                                             27214
IP_SPLIT_RESULT                                        175.223.2.200
SEQUENCE_PARSE     <1,132,113,132,113,31,113,113,113,31,113,113,3...
Name: 6511, dtype: object
ID                           27215
IP_SPLIT_RESULT    121.149.203.231
SEQUENCE_PARSE                 <1>
Name: 6512, dtype: object
ID                         27216
IP_SPLIT_RESULT    50.19.154.226
SEQUENCE_PARSE       <1,5,1,5,1>
Name: 6513, dtype: object
ID                         27217
IP_SPLIT_RESULT    68.175.19.184
SEQUENCE_PARSE           <1,5,1>
Name: 6514, dtype: object
ID                                                             27218
IP_SPLIT_RESULT                                        36.38.225.161
SEQUENCE_PARSE     <1,132,93,132,130,130,130,1,191,63,132,92,87,8...
Name: 6515, dtype: object
ID                                                             27219
IP_SPLIT_RESULT                                        175.223.2.200
SEQUENCE_PARSE     <113,1,132,113,132,113,113,113,113,113,31,113,...
Name: 6516, dtype: object
ID                        27220
IP_SPLIT_RESULT    59.2.206.107
SEQUENCE_PARSE             <67>
Name: 6517, dtype: object
ID                          27221
IP_SPLIT_RESULT    219.240.44.123
SEQUENCE_PARSE                <1>
Name: 6518, dtype: object
ID                                             27222
IP_SPLIT_RESULT                      222.104.186.182
SEQUENCE_PARSE     <39,39,164,39,164,164,132,39,164>
Name: 6519, dtype: object
ID                                                             27223
IP_SPLIT_RESULT                                         223.62.8.172
SEQUENCE_PARSE     <30,132,132,132,93,132,93,132,93,132,93,132,93...
Name: 6520, dtype: object
ID                          27224
IP_SPLIT_RESULT    125.209.213.87
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 6521, dtype: object
ID                        27225
IP_SPLIT_RESULT    117.111.1.92
SEQUENCE_PARSE            <1,5>
Name: 6522, dtype: object
ID                          27226
IP_SPLIT_RESULT    180.224.75.185
SEQUENCE_PARSE                <1>
Name: 6523, dtype: object
ID                          27227
IP_SPLIT_RESULT    138.246.253.19
SEQUENCE_PARSE                <1>
Name: 6524, dtype: object
ID                          27228
IP_SPLIT_RESULT    118.221.242.99
SEQUENCE_PARSE        <1,5,1,132>
Name: 6525, dtype: object
ID                        27229
IP_SPLIT_RESULT    223.38.8.160
SEQUENCE_PARSE              <1>
Name: 6526, dtype: object
ID                         27230
IP_SPLIT_RESULT    110.70.47.225
SEQUENCE_PARSE              <30>
Name: 6527, dtype: object
ID                           27231
IP_SPLIT_RESULT    221.145.242.110
SEQUENCE_PARSE                 <1>
Name: 6528, dtype: object
ID                        27232
IP_SPLIT_RESULT    210.94.76.74
SEQUENCE_PARSE              <1>
Name: 6529, dtype: object
ID                           27233
IP_SPLIT_RESULT    119.205.159.197
SEQUENCE_PARSE                 <1>
Name: 6530, dtype: object
ID                          27234
IP_SPLIT_RESULT    211.36.132.247
SEQUENCE_PARSE                <1>
Name: 6531, dtype: object
ID                                     27235
IP_SPLIT_RESULT               211.36.147.114
SEQUENCE_PARSE     <31,113,93,93,93,1,90,92>
Name: 6532, dtype: object
ID                          27236
IP_SPLIT_RESULT    125.209.212.19
SEQUENCE_PARSE            <1,5,1>
Name: 6533, dtype: object
ID                                                        27237
IP_SPLIT_RESULT                                  210.117.76.117
SEQUENCE_PARSE     <32,93,32,93,132,162,93,32,93,132,162,32,93>
Name: 6534, dtype: object
ID                                                             27238
IP_SPLIT_RESULT                                       223.32.115.138
SEQUENCE_PARSE     <87,89,23,27,132,93,132,93,132,93,132,93,93,93...
Name: 6535, dtype: object
ID                         27239
IP_SPLIT_RESULT    61.77.179.179
SEQUENCE_PARSE               <1>
Name: 6536, dtype: object
ID                                                             27240
IP_SPLIT_RESULT                                       210.117.76.117
SEQUENCE_PARSE     <132,162,32,93,132,162,132,162,132,162,32,93,1...
Name: 6537, dtype: object
ID                                                             27241
IP_SPLIT_RESULT                                         54.154.6.237
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 6538, dtype: object
ID                                                             27242
IP_SPLIT_RESULT                                       58.238.199.178
SEQUENCE_PARSE     <1,113,132,113,132,31,113,113,113,113,113,31,1...
Name: 6539, dtype: object
ID                                                             27243
IP_SPLIT_RESULT                                          39.7.59.179
SEQUENCE_PARSE     <1,132,113,132,31,113,132,132,158,160,113,132,...
Name: 6540, dtype: object
ID                        27244
IP_SPLIT_RESULT    211.205.5.57
SEQUENCE_PARSE              <1>
Name: 6541, dtype: object
ID                        27245
IP_SPLIT_RESULT    1.232.168.89
SEQUENCE_PARSE          <32,93>
Name: 6542, dtype: object
ID                          27246
IP_SPLIT_RESULT    211.243.90.204
SEQUENCE_PARSE           <31,113>
Name: 6543, dtype: object
ID                                                             27247
IP_SPLIT_RESULT                                         1.235.205.90
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,113,113,113...
Name: 6544, dtype: object
ID                         27248
IP_SPLIT_RESULT    58.237.243.75
SEQUENCE_PARSE               <1>
Name: 6545, dtype: object
ID                           27249
IP_SPLIT_RESULT    222.111.167.235
SEQUENCE_PARSE         <1,5,1,132>
Name: 6546, dtype: object
ID                          27250
IP_SPLIT_RESULT    175.116.33.233
SEQUENCE_PARSE                <1>
Name: 6547, dtype: object
ID                        27251
IP_SPLIT_RESULT    222.105.76.4
SEQUENCE_PARSE              <1>
Name: 6548, dtype: object
ID                       27252
IP_SPLIT_RESULT    61.99.61.55
SEQUENCE_PARSE             <1>
Name: 6549, dtype: object
ID                         27253
IP_SPLIT_RESULT    125.143.3.109
SEQUENCE_PARSE               <1>
Name: 6550, dtype: object
ID                        27254
IP_SPLIT_RESULT    117.111.5.94
SEQUENCE_PARSE              <1>
Name: 6551, dtype: object
ID                       27255
IP_SPLIT_RESULT    1.209.175.1
SEQUENCE_PARSE             <1>
Name: 6552, dtype: object
ID                           27256
IP_SPLIT_RESULT     221.140.12.163
SEQUENCE_PARSE     <32,32,32,93,1>
Name: 6553, dtype: object
ID                           27257
IP_SPLIT_RESULT    116.127.130.135
SEQUENCE_PARSE                 <1>
Name: 6554, dtype: object
ID                                                             27258
IP_SPLIT_RESULT                                         223.38.17.39
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 6555, dtype: object
ID                           27259
IP_SPLIT_RESULT    125.130.111.164
SEQUENCE_PARSE                 <1>
Name: 6556, dtype: object
ID                         27260
IP_SPLIT_RESULT    66.249.79.145
SEQUENCE_PARSE       <1,5,1,5,1>
Name: 6557, dtype: object
ID                                                             27261
IP_SPLIT_RESULT                                        61.98.171.191
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,1,29,1,113,1...
Name: 6558, dtype: object
ID                         27262
IP_SPLIT_RESULT    118.42.74.195
SEQUENCE_PARSE               <1>
Name: 6559, dtype: object
ID                                                             27263
IP_SPLIT_RESULT                                       117.111.17.132
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,1,63,89,198,63,...
Name: 6560, dtype: object
ID                                                             27264
IP_SPLIT_RESULT                                        61.98.171.191
SEQUENCE_PARSE     <113,113,113,113,113,132,132,132,132,113,132,1...
Name: 6561, dtype: object
ID                                                 27265
IP_SPLIT_RESULT                             112.170.41.1
SEQUENCE_PARSE     <5,1,132,93,132,93,93,93,93,93,93,93>
Name: 6562, dtype: object
ID                         27266
IP_SPLIT_RESULT    118.43.85.194
SEQUENCE_PARSE               <1>
Name: 6563, dtype: object
ID                                                             27267
IP_SPLIT_RESULT                                       175.223.20.210
SEQUENCE_PARSE     <1,132,132,158,160,164,132,158,160,132,25,90,8...
Name: 6564, dtype: object
ID                                              27268
IP_SPLIT_RESULT                        211.36.158.189
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113>
Name: 6565, dtype: object
ID                                                       27269
IP_SPLIT_RESULT                                   223.62.21.35
SEQUENCE_PARSE     <1,32,93,31,113,1,132,93,132,93,132,93,132>
Name: 6566, dtype: object
ID                          27270
IP_SPLIT_RESULT    220.88.254.165
SEQUENCE_PARSE                <1>
Name: 6567, dtype: object
ID                                   27271
IP_SPLIT_RESULT             211.36.150.251
SEQUENCE_PARSE     <1,93,132,93,132,93,93>
Name: 6568, dtype: object
ID                         27272
IP_SPLIT_RESULT    119.64.199.79
SEQUENCE_PARSE               <1>
Name: 6569, dtype: object
ID                         27273
IP_SPLIT_RESULT    125.143.3.109
SEQUENCE_PARSE               <1>
Name: 6570, dtype: object
ID                                         27274
IP_SPLIT_RESULT                   49.163.144.132
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 6571, dtype: object
ID                        27275
IP_SPLIT_RESULT    110.70.54.92
SEQUENCE_PARSE            <5,1>
Name: 6572, dtype: object
ID                                                             27276
IP_SPLIT_RESULT                                          39.7.51.239
SEQUENCE_PARSE     <32,93,132,132,113,1,132,113,132,31,113,132,16...
Name: 6573, dtype: object
ID                           27277
IP_SPLIT_RESULT    180.134.166.206
SEQUENCE_PARSE                 <1>
Name: 6574, dtype: object
ID                                                    27278
IP_SPLIT_RESULT                              117.111.17.132
SEQUENCE_PARSE     <130,130,130,132,132,93,132,132,132,132>
Name: 6575, dtype: object
ID                                                             27279
IP_SPLIT_RESULT                                       175.223.14.197
SEQUENCE_PARSE     <10,132,1,132,113,132,113,113,113,31,113,31,11...
Name: 6576, dtype: object
ID                               27280
IP_SPLIT_RESULT         49.163.144.132
SEQUENCE_PARSE     <93,93,93,93,93,93>
Name: 6577, dtype: object
ID                                                 27281
IP_SPLIT_RESULT                             223.62.10.24
SEQUENCE_PARSE     <5,1,31,31,31,31,113,1,132,93,132,93>
Name: 6578, dtype: object
ID                                                             27282
IP_SPLIT_RESULT                                          39.115.54.8
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,93,93,132,93,132,93>
Name: 6579, dtype: object
ID                         27283
IP_SPLIT_RESULT    58.224.47.114
SEQUENCE_PARSE               <1>
Name: 6580, dtype: object
ID                                   27284
IP_SPLIT_RESULT              211.36.157.26
SEQUENCE_PARSE     <1,130,132,113,132,113>
Name: 6581, dtype: object
ID                          27285
IP_SPLIT_RESULT    124.194.98.115
SEQUENCE_PARSE                <1>
Name: 6582, dtype: object
ID                           27286
IP_SPLIT_RESULT    211.213.120.108
SEQUENCE_PARSE                 <1>
Name: 6583, dtype: object
ID                                                             27287
IP_SPLIT_RESULT                                         223.62.8.211
SEQUENCE_PARSE     <1,31,1,132,93,132,93,1,130,132,132,158,160,16...
Name: 6584, dtype: object
ID                          27288
IP_SPLIT_RESULT    58.230.231.181
SEQUENCE_PARSE              <5,1>
Name: 6585, dtype: object
ID                                                             27289
IP_SPLIT_RESULT                                        220.81.180.13
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 6586, dtype: object
ID                                                             27290
IP_SPLIT_RESULT                                        223.222.24.51
SEQUENCE_PARSE     <1,93,132,93,132,93,93,113,93,93,132,132,132,1...
Name: 6587, dtype: object

ID                                                    27426
IP_SPLIT_RESULT                               165.132.5.136
SEQUENCE_PARSE     <31,113,164,31,113,132,162,166,162,1,90>
Name: 6723, dtype: object
ID                         27427
IP_SPLIT_RESULT    211.36.142.43
SEQUENCE_PARSE             <113>
Name: 6724, dtype: object
ID                                                27428
IP_SPLIT_RESULT                          124.56.118.122
SEQUENCE_PARSE     <31,113,31,113,31,113,12,132,158,63>
Name: 6725, dtype: object
ID                                                             27429
IP_SPLIT_RESULT                                        223.63.15.230
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 6726, dtype: object
ID                          27430
IP_SPLIT_RESULT    223.62.162.101
SEQUENCE_PARSE                <1>
Name: 6727, dtype: object
ID                                                             27431
IP_SPLIT_RESULT                                        211.36.139.54
SEQUENCE_PARSE     <113,113,1,132,93,132,130,130,130,130,130,1,13...
Name: 6728, dtype: object
ID                        27432
IP_SPLIT_RESULT    106.102.0.20
SEQUENCE_PARSE         <31,113>
Name: 6729, dtype: object
ID                                             27433
IP_SPLIT_RESULT                        211.36.139.54
SEQUENCE_PARSE     <113,113,1,93,132,132,93,93,93,1>
Name: 6730, dtype: object
ID                         27434
IP_SPLIT_RESULT    207.46.13.114
SEQUENCE_PARSE               <1>
Name: 6731, dtype: object
ID                         27435
IP_SPLIT_RESULT    211.36.135.61
SEQUENCE_PARSE               <1>
Name: 6732, dtype: object
ID                         27436
IP_SPLIT_RESULT    58.78.224.106
SEQUENCE_PARSE               <1>
Name: 6733, dtype: object
ID                         27437
IP_SPLIT_RESULT    175.223.27.80
SEQUENCE_PARSE             <5,1>
Name: 6734, dtype: object
ID                         27438
IP_SPLIT_RESULT    110.70.46.168
SEQUENCE_PARSE               <1>
Name: 6735, dtype: object
ID                           27439
IP_SPLIT_RESULT    125.129.163.122
SEQUENCE_PARSE            <31,113>
Name: 6736, dtype: object
ID                                               27440
IP_SPLIT_RESULT                          223.62.178.95
SEQUENCE_PARSE     <1,93,1,31,132,162,132,113,132,132>
Name: 6737, dtype: object
ID                                                             27441
IP_SPLIT_RESULT                                        223.62.178.95
SEQUENCE_PARSE     <14,1,93,132,113,132,113,113,113,93,93,93,14,9...
Name: 6738, dtype: object
ID                                                             27442
IP_SPLIT_RESULT                                      210.205.222.188
SEQUENCE_PARSE     <31,113,132,63,89,195,31,113,132,1,191,63,31,1...
Name: 6739, dtype: object
ID                                                             27443
IP_SPLIT_RESULT                                          39.7.51.116
SEQUENCE_PARSE     <29,132,113,132,113,31,113,31,113,31,113,89,13...
Name: 6740, dtype: object
ID                         27444
IP_SPLIT_RESULT    183.108.71.38
SEQUENCE_PARSE               <1>
Name: 6741, dtype: object
ID                          27445
IP_SPLIT_RESULT    125.129.19.134
SEQUENCE_PARSE                <1>
Name: 6742, dtype: object
ID                          27446
IP_SPLIT_RESULT    210.181.171.14
SEQUENCE_PARSE                <1>
Name: 6743, dtype: object
ID                                                             27447
IP_SPLIT_RESULT                                         66.102.8.156
SEQUENCE_PARSE     <5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5...
Name: 6744, dtype: object
ID                                                             27448
IP_SPLIT_RESULT                                       168.115.27.116
SEQUENCE_PARSE     <1,113,132,113,132,113,113,1,113,132,113,132,1...
Name: 6745, dtype: object
ID                        27449
IP_SPLIT_RESULT    61.79.201.39
SEQUENCE_PARSE           <1,90>
Name: 6746, dtype: object
ID                         27450
IP_SPLIT_RESULT    82.208.129.45
SEQUENCE_PARSE               <1>
Name: 6747, dtype: object
ID                                       27451
IP_SPLIT_RESULT                  61.102.63.235
SEQUENCE_PARSE     <29,132,113,132,113,31,113>
Name: 6748, dtype: object
ID                          27452
IP_SPLIT_RESULT    222.110.189.86
SEQUENCE_PARSE           <31,113>
Name: 6749, dtype: object
ID                                       27453
IP_SPLIT_RESULT                 211.36.148.176
SEQUENCE_PARSE     <31,113,132,158,160,31,113>
Name: 6750, dtype: object
ID                           27454
IP_SPLIT_RESULT    121.136.136.233
SEQUENCE_PARSE              <1,90>
Name: 6751, dtype: object
ID                                                             27455
IP_SPLIT_RESULT                                         1.218.38.168
SEQUENCE_PARSE     <32,93,1,132,132,132,132,158,160,164,164,164,1...
Name: 6752, dtype: object
ID                         27456
IP_SPLIT_RESULT    49.169.183.52
SEQUENCE_PARSE               <1>
Name: 6753, dtype: object
ID                        27457
IP_SPLIT_RESULT    223.57.97.39
SEQUENCE_PARSE              <1>
Name: 6754, dtype: object
ID                          27458
IP_SPLIT_RESULT    118.40.227.146
SEQUENCE_PARSE                <1>
Name: 6755, dtype: object
ID                                                             27459
IP_SPLIT_RESULT                                        110.12.111.58
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,93,132,93,90,92,87,...
Name: 6756, dtype: object
ID                           27460
IP_SPLIT_RESULT    121.136.136.233
SEQUENCE_PARSE                <92>
Name: 6757, dtype: object
ID                                                             27461
IP_SPLIT_RESULT                                       223.62.169.191
SEQUENCE_PARSE     <31,113,1,132,93,132,93,93,90,92,1,30,32,93,93...
Name: 6758, dtype: object
ID                       27462
IP_SPLIT_RESULT    14.39.143.7
SEQUENCE_PARSE        <31,113>
Name: 6759, dtype: object
ID                                 27463
IP_SPLIT_RESULT           118.221.242.89
SEQUENCE_PARSE     <1,5,1,132,93,132,93>
Name: 6760, dtype: object
ID                          27464
IP_SPLIT_RESULT    125.128.163.85
SEQUENCE_PARSE                <1>
Name: 6761, dtype: object
ID                          27465
IP_SPLIT_RESULT    203.234.192.81
SEQUENCE_PARSE              <5,1>
Name: 6762, dtype: object
ID                                                             27466
IP_SPLIT_RESULT                                       175.223.18.154
SEQUENCE_PARSE     <132,113,132,113,113,113,1,93,93,1,90,92,89,80...
Name: 6763, dtype: object
ID                                                             27467
IP_SPLIT_RESULT                                       175.223.18.154
SEQUENCE_PARSE     <113,113,113,113,113,113,113,113,93,132,132,93...
Name: 6764, dtype: object
ID                               27468
IP_SPLIT_RESULT         103.246.38.196
SEQUENCE_PARSE     <1,5,1,132,87,89,1>
Name: 6765, dtype: object
ID                          27469
IP_SPLIT_RESULT    211.242.221.98
SEQUENCE_PARSE            <1,5,1>
Name: 6766, dtype: object
ID                                       27470
IP_SPLIT_RESULT                 103.246.38.196
SEQUENCE_PARSE     <1,5,93,132,1,90,92,89,130>
Name: 6767, dtype: object
ID                                                        27471
IP_SPLIT_RESULT                                   110.70.26.239
SEQUENCE_PARSE     <39,63,63,1,63,130,63,63,164,31,132,162,132>
Name: 6768, dtype: object
ID                                                  27472
IP_SPLIT_RESULT                             110.70.26.239
SEQUENCE_PARSE     <164,1,63,1,191,39,113,132,130,113,87>
Name: 6769, dtype: object
ID                                                             27473
IP_SPLIT_RESULT                                        202.8.191.103
SEQUENCE_PARSE     <1,33,164,130,130,130,164,130,164,33,164,1,113...
Name: 6770, dtype: object
ID                         27474
IP_SPLIT_RESULT    5.135.143.179
SEQUENCE_PARSE               <1>
Name: 6771, dtype: object
ID                        27475
IP_SPLIT_RESULT    1.231.28.220
SEQUENCE_PARSE              <1>
Name: 6772, dtype: object
ID                        27476
IP_SPLIT_RESULT    124.5.236.11
SEQUENCE_PARSE              <1>
Name: 6773, dtype: object
ID                         27477
IP_SPLIT_RESULT    175.223.35.56
SEQUENCE_PARSE               <1>
Name: 6774, dtype: object
ID                         27478
IP_SPLIT_RESULT    14.37.104.132
SEQUENCE_PARSE            <1,92>
Name: 6775, dtype: object
ID                           27479
IP_SPLIT_RESULT    125.149.114.161
SEQUENCE_PARSE        <1,90,92,87>
Name: 6776, dtype: object
ID                                                             27480
IP_SPLIT_RESULT                                        110.12.111.58
SEQUENCE_PARSE     <89,80,29,212,132,113,132,113,132,212,132,113,...
Name: 6777, dtype: object
ID                        27481
IP_SPLIT_RESULT    110.70.58.26
SEQUENCE_PARSE              <1>
Name: 6778, dtype: object
ID                         27482
IP_SPLIT_RESULT    117.111.10.37
SEQUENCE_PARSE               <1>
Name: 6779, dtype: object
ID                        27483
IP_SPLIT_RESULT    58.140.55.72
SEQUENCE_PARSE         <39,164>
Name: 6780, dtype: object
ID                                                  27484
IP_SPLIT_RESULT                             14.37.104.132
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,90>
Name: 6781, dtype: object
ID                                                  27485
IP_SPLIT_RESULT                           125.134.204.154
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,90,92,87>
Name: 6782, dtype: object
ID                                                             27486
IP_SPLIT_RESULT                                       211.36.142.126
SEQUENCE_PARSE     <1,132,93,132,93,132,113,132,90,92,1,132,93,13...
Name: 6783, dtype: object
ID                              27487
IP_SPLIT_RESULT         61.74.190.137
SEQUENCE_PARSE     <1,5,1,90,90,92,1>
Name: 6784, dtype: object
ID                          27488
IP_SPLIT_RESULT    223.62.190.148
SEQUENCE_PARSE            <32,32>
Name: 6785, dtype: object
ID                         27489
IP_SPLIT_RESULT    223.38.11.199
SEQUENCE_PARSE               <1>
Name: 6786, dtype: object
ID                          27490
IP_SPLIT_RESULT    211.216.123.68
SEQUENCE_PARSE            <5,1,5>
Name: 6787, dtype: object
ID                        27491
IP_SPLIT_RESULT    175.223.36.1
SEQUENCE_PARSE        <1,32,93>
Name: 6788, dtype: object
ID                                              27492
IP_SPLIT_RESULT                        118.128.37.123
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,1>
Name: 6789, dtype: object
ID                                                             27493
IP_SPLIT_RESULT                                       222.111.69.103
SEQUENCE_PARSE     <1,93,93,132,93,132,93,93,93,32,93,93,93,93,93...
Name: 6790, dtype: object
ID                                                          27494
IP_SPLIT_RESULT                                     223.33.184.53
SEQUENCE_PARSE     <87,89,80,30,93,212,132,93,132,31,113,132,162>
Name: 6791, dtype: object
ID                                   27495
IP_SPLIT_RESULT             58.140.211.137
SEQUENCE_PARSE     <1,132,132,158,160,113>
Name: 6792, dtype: object
ID                        27496
IP_SPLIT_RESULT    115.88.48.19
SEQUENCE_PARSE          <1,5,1>
Name: 6793, dtype: object
ID                           27497
IP_SPLIT_RESULT    112.185.232.196
SEQUENCE_PARSE                 <1>
Name: 6794, dtype: object
ID                         27498
IP_SPLIT_RESULT    223.62.190.30
SEQUENCE_PARSE               <1>
Name: 6795, dtype: object
ID                         27499
IP_SPLIT_RESULT    114.206.72.90
SEQUENCE_PARSE               <1>
Name: 6796, dtype: object
ID                         27500
IP_SPLIT_RESULT    117.111.2.193
SEQUENCE_PARSE               <1>
Name: 6797, dtype: object
ID                                          27501
IP_SPLIT_RESULT                    223.62.188.124
SEQUENCE_PARSE     <5,1,132,93,132,93,1,90,92,23>
Name: 6798, dtype: object
ID                           27502
IP_SPLIT_RESULT    113.160.226.232
SEQUENCE_PARSE             <1,5,1>
Name: 6799, dtype: object
ID                                                     27503
IP_SPLIT_RESULT                               211.36.147.136
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,1>
Name: 6800, dtype: object
ID                           27504
IP_SPLIT_RESULT     211.36.147.136
SEQUENCE_PARSE     <132,93,132,93>
Name: 6801, dtype: object
ID                         27505
IP_SPLIT_RESULT    14.39.165.110
SEQUENCE_PARSE           <1,5,1>
Name: 6802, dtype: object
ID                           27506
IP_SPLIT_RESULT    118.131.210.141
SEQUENCE_PARSE               <5,1>
Name: 6803, dtype: object
ID                                                             27507
IP_SPLIT_RESULT                                         210.94.41.89
SEQUENCE_PARSE     <5,1,5,1,5,1,5,1,132,32,5,1,5,1,5,1,5,1,5,1,5,...
Name: 6804, dtype: object
ID                          27508
IP_SPLIT_RESULT    124.56.101.166
SEQUENCE_PARSE              <5,1>
Name: 6805, dtype: object
ID                           27509
IP_SPLIT_RESULT    125.149.114.161
SEQUENCE_PARSE                <87>
Name: 6806, dtype: object
ID                          27510
IP_SPLIT_RESULT    211.36.144.238
SEQUENCE_PARSE             <1,92>
Name: 6807, dtype: object
ID                           27511
IP_SPLIT_RESULT    211.245.157.253
SEQUENCE_PARSE                 <1>
Name: 6808, dtype: object
ID                                                             27512
IP_SPLIT_RESULT                                           39.7.51.27
SEQUENCE_PARSE     <1,93,132,93,132,93,93,1,93,132,132,93,93,93,3...
Name: 6809, dtype: object
ID                          27513
IP_SPLIT_RESULT    223.55.152.157
SEQUENCE_PARSE                <1>
Name: 6810, dtype: object
ID                           27514
IP_SPLIT_RESULT    222.112.179.199
SEQUENCE_PARSE           <5,1,132>
Name: 6811, dtype: object
ID                                                             27515
IP_SPLIT_RESULT                                         223.38.10.27
SEQUENCE_PARSE     <5,1,93,132,132,93,1,132,93,132,1,132,93,132,9...
Name: 6812, dtype: object
ID                         27516
IP_SPLIT_RESULT    221.157.69.92
SEQUENCE_PARSE               <1>
Name: 6813, dtype: object
ID                             27517
IP_SPLIT_RESULT       222.110.189.20
SEQUENCE_PARSE     <113,113,113,113>
Name: 6814, dtype: object
ID                     27518
IP_SPLIT_RESULT    39.7.55.2
SEQUENCE_PARSE           <1>
Name: 6815, dtype: object
ID                          27519
IP_SPLIT_RESULT    122.45.136.177
SEQUENCE_PARSE                <1>
Name: 6816, dtype: object
ID                                                             27520
IP_SPLIT_RESULT                                            39.7.55.2
SEQUENCE_PARSE     <90,90,92,132,93,132,93,93,93,93,93,93,93,93,9...
Name: 6817, dtype: object
ID                                27521
IP_SPLIT_RESULT           222.100.80.69
SEQUENCE_PARSE     <29,132,113,132,113>
Name: 6818, dtype: object
ID                        27522
IP_SPLIT_RESULT    1.225.57.163
SEQUENCE_PARSE          <1,5,1>
Name: 6819, dtype: object
ID                       27523
IP_SPLIT_RESULT    61.73.16.52
SEQUENCE_PARSE           <5,1>
Name: 6820, dtype: object
ID                                         27524
IP_SPLIT_RESULT                     1.227.120.27
SEQUENCE_PARSE     <1,93,93,132,132,93,93,130,1>
Name: 6821, dtype: object
ID                           27525
IP_SPLIT_RESULT    121.138.128.244
SEQUENCE_PARSE             <1,5,1>
Name: 6822, dtype: object
ID                          27526
IP_SPLIT_RESULT    150.70.188.165
SEQUENCE_PARSE                <1>
Name: 6823, dtype: object
ID                        27527
IP_SPLIT_RESULT    1.225.57.164
SEQUENCE_PARSE              <1>
Name: 6824, dtype: object
ID                        27528
IP_SPLIT_RESULT    1.227.120.27
SEQUENCE_PARSE        <130,130>
Name: 6825, dtype: object
ID                             27529
IP_SPLIT_RESULT        211.36.146.27
SEQUENCE_PARSE     <113,113,113,113>
Name: 6826, dtype: object
ID                         27530
IP_SPLIT_RESULT    223.62.169.59
SEQUENCE_PARSE          <31,113>
Name: 6827, dtype: object
ID                         27531
IP_SPLIT_RESULT    1.238.136.253
SEQUENCE_PARSE               <1>
Name: 6828, dtype: object
ID                       27532
IP_SPLIT_RESULT    59.18.82.53
SEQUENCE_PARSE     <1,5,1,132>
Name: 6829, dtype: object
ID                          27533
IP_SPLIT_RESULT    223.33.164.176
SEQUENCE_PARSE          <1,164,1>
Name: 6830, dtype: object
ID                          27534
IP_SPLIT_RESULT    66.220.151.182
SEQUENCE_PARSE                <1>
Name: 6831, dtype: object
ID                         27535
IP_SPLIT_RESULT    69.171.225.12
SEQUENCE_PARSE               <1>
Name: 6832, dtype: object
ID                          27536
IP_SPLIT_RESULT    173.252.92.211
SEQUENCE_PARSE              <1,5>
Name: 6833, dtype: object
ID                          27537
IP_SPLIT_RESULT    173.252.92.214
SEQUENCE_PARSE                <1>
Name: 6834, dtype: object
ID                                                             27538
IP_SPLIT_RESULT                                        211.36.142.21
SEQUENCE_PARSE     <1,12,132,158,160,12,132,158,160,12,132,158,16...
Name: 6835, dtype: object
ID                                                           27539
IP_SPLIT_RESULT                                     175.223.14.197
SEQUENCE_PARSE     <29,1,132,93,132,93,93,93,93,93,93,93,93,93,93>
Name: 6836, dtype: object
ID                          27540
IP_SPLIT_RESULT    223.62.222.222
SEQUENCE_PARSE              <1,5>
Name: 6837, dtype: object
ID                                                        27541
IP_SPLIT_RESULT                                   211.36.130.20
SEQUENCE_PARSE     <5,1,89,198,132,93,132,93,93,32,93,93,32,93>
Name: 6838, dtype: object
ID                          27542
IP_SPLIT_RESULT    218.154.115.74
SEQUENCE_PARSE                <1>
Name: 6839, dtype: object
ID                           27543
IP_SPLIT_RESULT    222.112.179.199
SEQUENCE_PARSE               <5,1>
Name: 6840, dtype: object
ID                      27544
IP_SPLIT_RESULT    39.7.54.59
SEQUENCE_PARSE       <1,30,1>
Name: 6841, dtype: object
ID                         27545
IP_SPLIT_RESULT    79.120.215.95
SEQUENCE_PARSE               <1>
Name: 6842, dtype: object
ID                         27546
IP_SPLIT_RESULT    223.52.119.10
SEQUENCE_PARSE               <1>
Name: 6843, dtype: object
ID                                                             27547
IP_SPLIT_RESULT                                       128.134.138.33
SEQUENCE_PARSE     <5,1,93,132,93,132,93,93,93,93,93,93,32,93,32,...
Name: 6844, dtype: object
ID                         27548
IP_SPLIT_RESULT    60.196.147.67
SEQUENCE_PARSE           <1,5,1>
Name: 6845, dtype: object
ID                                      27549
IP_SPLIT_RESULT                 110.70.27.222
SEQUENCE_PARSE     <132,93,132,93,93,93,1,90>
Name: 6846, dtype: object
ID                         27550
IP_SPLIT_RESULT    183.98.134.18
SEQUENCE_PARSE           <1,5,1>
Name: 6847, dtype: object
ID                          27551
IP_SPLIT_RESULT    39.118.179.211
SEQUENCE_PARSE              <5,1>
Name: 6848, dtype: object
ID                         27552
IP_SPLIT_RESULT    110.70.27.222
SEQUENCE_PARSE               <1>
Name: 6849, dtype: object
ID                         27553
IP_SPLIT_RESULT    182.226.198.2
SEQUENCE_PARSE          <39,164>
Name: 6850, dtype: object
ID                          27554
IP_SPLIT_RESULT    203.235.72.228
SEQUENCE_PARSE          <5,1,5,1>

ID                                                             27663
IP_SPLIT_RESULT                                      180.230.183.207
SEQUENCE_PARSE     <1,132,132,93,93,132,32,93,32,93,32,93,32,93,1...
Name: 6960, dtype: object
ID                          27664
IP_SPLIT_RESULT    211.248.172.57
SEQUENCE_PARSE            <1,5,1>
Name: 6961, dtype: object
ID                          27665
IP_SPLIT_RESULT    117.111.27.249
SEQUENCE_PARSE                <1>
Name: 6962, dtype: object
ID                                                             27666
IP_SPLIT_RESULT                                       116.126.252.51
SEQUENCE_PARSE     <1,132,93,132,93,93,93,32,93,32,93,32,93,32,93...
Name: 6963, dtype: object
ID                                                             27667
IP_SPLIT_RESULT                                       223.62.188.156
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,132,113,93,113,132,1...
Name: 6964, dtype: object
ID                          27668
IP_SPLIT_RESULT    114.205.84.194
SEQUENCE_PARSE                <1>
Name: 6965, dtype: object
ID                                                             27669
IP_SPLIT_RESULT                                       116.126.252.51
SEQUENCE_PARSE     <93,93,32,93,93,93,93,93,32,93,32,93,93,32,93,...
Name: 6966, dtype: object
ID                          27670
IP_SPLIT_RESULT    211.36.154.211
SEQUENCE_PARSE                <1>
Name: 6967, dtype: object
ID                          27671
IP_SPLIT_RESULT    223.63.179.161
SEQUENCE_PARSE                <1>
Name: 6968, dtype: object
ID                        27672
IP_SPLIT_RESULT    66.249.77.25
SEQUENCE_PARSE              <1>
Name: 6969, dtype: object
ID                        27673
IP_SPLIT_RESULT    183.96.16.90
SEQUENCE_PARSE          <1,5,1>
Name: 6970, dtype: object
ID                         27674
IP_SPLIT_RESULT    119.149.26.15
SEQUENCE_PARSE               <1>
Name: 6971, dtype: object
ID                                                             27675
IP_SPLIT_RESULT                                       175.223.35.210
SEQUENCE_PARSE     <1,90,92,87,89,1,113,113,93,14,93,14,93,14,113...
Name: 6972, dtype: object
ID                            27676
IP_SPLIT_RESULT        114.70.4.158
SEQUENCE_PARSE     <90,89,91,26,26>
Name: 6973, dtype: object
ID                        27677
IP_SPLIT_RESULT    121.254.5.54
SEQUENCE_PARSE          <1,5,1>
Name: 6974, dtype: object
ID                           27678
IP_SPLIT_RESULT    112.162.220.172
SEQUENCE_PARSE                 <1>
Name: 6975, dtype: object
ID                                                             27679
IP_SPLIT_RESULT                                      180.230.183.207
SEQUENCE_PARSE     <32,93,32,93,32,93,32,93,32,93,32,93,32,93,33,...
Name: 6976, dtype: object
ID                                 27680
IP_SPLIT_RESULT            211.36.155.18
SEQUENCE_PARSE     <132,113,132,113,113>
Name: 6977, dtype: object
ID                          27681
IP_SPLIT_RESULT    211.36.138.223
SEQUENCE_PARSE               <39>
Name: 6978, dtype: object
ID                                                             27682
IP_SPLIT_RESULT                                       211.36.138.223
SEQUENCE_PARSE     <164,1,132,81,132,113,132,113,113,113,31,113,1...
Name: 6979, dtype: object
ID                          27683
IP_SPLIT_RESULT    223.62.188.156
SEQUENCE_PARSE         <93,32,32>
Name: 6980, dtype: object
ID                        27684
IP_SPLIT_RESULT    110.70.51.15
SEQUENCE_PARSE              <1>
Name: 6981, dtype: object
ID                         27685
IP_SPLIT_RESULT    223.39.141.18
SEQUENCE_PARSE               <1>
Name: 6982, dtype: object
ID                                                             27686
IP_SPLIT_RESULT                                        223.38.18.171
SEQUENCE_PARSE     <1,132,93,132,93,90,92,39,164,164,132,132,164,...
Name: 6983, dtype: object
ID                             27687
IP_SPLIT_RESULT          220.86.95.2
SEQUENCE_PARSE     <27,1,132,93,132>
Name: 6984, dtype: object
ID                           27688
IP_SPLIT_RESULT    180.229.131.212
SEQUENCE_PARSE                 <1>
Name: 6985, dtype: object
ID                         27689
IP_SPLIT_RESULT    182.223.80.37
SEQUENCE_PARSE             <5,1>
Name: 6986, dtype: object
ID                                                             27690
IP_SPLIT_RESULT                                          223.62.8.75
SEQUENCE_PARSE     <1,132,93,132,132,113,132,113,113,113,31,113,3...
Name: 6987, dtype: object
ID                                                             27691
IP_SPLIT_RESULT                                        223.38.18.171
SEQUENCE_PARSE     <92,87,23,90,27,39,164,39,164,1,39,164,39,164,...
Name: 6988, dtype: object
ID                         27692
IP_SPLIT_RESULT    101.18.209.36
SEQUENCE_PARSE               <1>
Name: 6989, dtype: object
ID                       27693
IP_SPLIT_RESULT    59.1.62.222
SEQUENCE_PARSE           <5,1>
Name: 6990, dtype: object
ID                           27694
IP_SPLIT_RESULT    106.120.160.119
SEQUENCE_PARSE        <1,27,23,26>
Name: 6991, dtype: object
ID                           27695
IP_SPLIT_RESULT    220.181.132.178
SEQUENCE_PARSE                 <1>
Name: 6992, dtype: object
ID                   27696
IP_SPLIT_RESULT    unknown
SEQUENCE_PARSE         <1>
Name: 6993, dtype: object
ID                           27697
IP_SPLIT_RESULT    220.181.132.193
SEQUENCE_PARSE                 <1>
Name: 6994, dtype: object
ID                                27698
IP_SPLIT_RESULT          211.36.148.176
SEQUENCE_PARSE     <31,113,130,130,132>
Name: 6995, dtype: object
ID                          27699
IP_SPLIT_RESULT    112.161.87.208
SEQUENCE_PARSE                <1>
Name: 6996, dtype: object
ID                          27700
IP_SPLIT_RESULT    64.233.172.188
SEQUENCE_PARSE              <5,1>
Name: 6997, dtype: object
ID                          27701
IP_SPLIT_RESULT    64.233.172.165
SEQUENCE_PARSE                <1>
Name: 6998, dtype: object
ID                                                             27702
IP_SPLIT_RESULT                                       175.223.35.210
SEQUENCE_PARSE     <191,130,130,130,130,90,132,132,132,93,212,93,...
Name: 6999, dtype: object
ID                         27703
IP_SPLIT_RESULT    61.101.199.46
SEQUENCE_PARSE               <1>
Name: 7000, dtype: object
ID                           27704
IP_SPLIT_RESULT    121.143.214.110
SEQUENCE_PARSE                 <5>
Name: 7001, dtype: object
ID                           27705
IP_SPLIT_RESULT    121.143.214.110
SEQUENCE_PARSE                 <1>
Name: 7002, dtype: object
ID                          27706
IP_SPLIT_RESULT    185.112.177.18
SEQUENCE_PARSE                <1>
Name: 7003, dtype: object
ID                                      27707
IP_SPLIT_RESULT                   223.62.11.9
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93>
Name: 7004, dtype: object
ID                        27708
IP_SPLIT_RESULT     223.62.11.9
SEQUENCE_PARSE     <1,93,93,93>
Name: 7005, dtype: object
ID                                                             27709
IP_SPLIT_RESULT                                        117.111.5.197
SEQUENCE_PARSE     <33,164,33,164,164,164,33,164,33,164,33,164,33...
Name: 7006, dtype: object
ID                       27710
IP_SPLIT_RESULT    144.76.23.4
SEQUENCE_PARSE             <1>
Name: 7007, dtype: object
ID                          27711
IP_SPLIT_RESULT    223.32.192.216
SEQUENCE_PARSE               <67>
Name: 7008, dtype: object
ID                                           27712
IP_SPLIT_RESULT                      14.35.205.250
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1>
Name: 7009, dtype: object
ID                       27713
IP_SPLIT_RESULT    117.111.4.3
SEQUENCE_PARSE             <1>
Name: 7010, dtype: object
ID                          27714
IP_SPLIT_RESULT    185.112.177.18
SEQUENCE_PARSE                <1>
Name: 7011, dtype: object
ID                                                             27715
IP_SPLIT_RESULT                                        223.62.10.162
SEQUENCE_PARSE     <31,113,1,132,81,132,93,81,132,81,132,93,81,93...
Name: 7012, dtype: object
ID                          27716
IP_SPLIT_RESULT    116.121.210.61
SEQUENCE_PARSE                <1>
Name: 7013, dtype: object
ID                          27717
IP_SPLIT_RESULT    114.71.101.200
SEQUENCE_PARSE                <1>
Name: 7014, dtype: object
ID                        27718
IP_SPLIT_RESULT    175.197.10.6
SEQUENCE_PARSE              <1>
Name: 7015, dtype: object
ID                          27719
IP_SPLIT_RESULT    175.223.44.183
SEQUENCE_PARSE           <31,113>
Name: 7016, dtype: object
ID                         27720
IP_SPLIT_RESULT    211.110.53.25
SEQUENCE_PARSE               <1>
Name: 7017, dtype: object
ID                                27721
IP_SPLIT_RESULT          223.62.179.217
SEQUENCE_PARSE     <1,113,113,1,31,113>
Name: 7018, dtype: object
ID                          27722
IP_SPLIT_RESULT    175.223.35.178
SEQUENCE_PARSE            <1,113>
Name: 7019, dtype: object
ID                                                             27723
IP_SPLIT_RESULT                                        223.38.10.105
SEQUENCE_PARSE     <1,93,132,93,132,93,93,1,93,93,93,93,93,93,93,...
Name: 7020, dtype: object
ID                                                             27724
IP_SPLIT_RESULT                                        223.62.11.165
SEQUENCE_PARSE     <1,132,132,81,132,33,164,164,178,132,180,132,8...
Name: 7021, dtype: object
ID                          27725
IP_SPLIT_RESULT    211.36.154.211
SEQUENCE_PARSE                <1>
Name: 7022, dtype: object
ID                                                             27726
IP_SPLIT_RESULT                                       121.142.130.66
SEQUENCE_PARSE     <31,113,132,113,132,113,113,113,31,113,31,113,...
Name: 7023, dtype: object
ID                        27727
IP_SPLIT_RESULT    117.111.2.39
SEQUENCE_PARSE              <1>
Name: 7024, dtype: object
ID                                                             27728
IP_SPLIT_RESULT                                          14.32.74.29
SEQUENCE_PARSE     <1,5,1,132,132,132,132,93,132,93,93,93,93,93,9...
Name: 7025, dtype: object
ID                                                             27729
IP_SPLIT_RESULT                                        223.38.10.105
SEQUENCE_PARSE     <132,132,1,132,93,132,93,93,93,32,93,132,93,13...
Name: 7026, dtype: object
ID                                                    27730
IP_SPLIT_RESULT                                 14.32.74.29
SEQUENCE_PARSE     <1,132,93,132,93,93,93,30,93,93,132,132>
Name: 7027, dtype: object
ID                        27731
IP_SPLIT_RESULT    1.236.158.62
SEQUENCE_PARSE              <1>
Name: 7028, dtype: object
ID                          27732
IP_SPLIT_RESULT    222.232.65.183
SEQUENCE_PARSE              <5,1>
Name: 7029, dtype: object
ID                          27733
IP_SPLIT_RESULT    175.223.10.243
SEQUENCE_PARSE                <1>
Name: 7030, dtype: object
ID                                                             27734
IP_SPLIT_RESULT                                       121.142.130.66
SEQUENCE_PARSE     <113,113,113,31,113,31,113,29,130,130,164,39,1...
Name: 7031, dtype: object
ID                           27735
IP_SPLIT_RESULT    119.204.106.194
SEQUENCE_PARSE               <5,1>
Name: 7032, dtype: object
ID                          27736
IP_SPLIT_RESULT    182.225.30.116
SEQUENCE_PARSE                <1>
Name: 7033, dtype: object
ID                           27737
IP_SPLIT_RESULT    203.244.220.250
SEQUENCE_PARSE           <1,90,92>
Name: 7034, dtype: object
ID                         27738
IP_SPLIT_RESULT    1.229.237.216
SEQUENCE_PARSE               <1>
Name: 7035, dtype: object
ID                          27739
IP_SPLIT_RESULT    122.32.207.240
SEQUENCE_PARSE                <1>
Name: 7036, dtype: object
ID                        27740
IP_SPLIT_RESULT    59.10.15.111
SEQUENCE_PARSE            <5,1>
Name: 7037, dtype: object
ID                                                             27741
IP_SPLIT_RESULT                                          14.42.86.31
SEQUENCE_PARSE     <31,113,31,113,29,132,113,132,113,31,113,31,11...
Name: 7038, dtype: object
ID                                               27742
IP_SPLIT_RESULT                           1.219.94.150
SEQUENCE_PARSE     <1,113,132,132,113,113,113,113,113>
Name: 7039, dtype: object
ID                                           27743
IP_SPLIT_RESULT                     122.32.207.240
SEQUENCE_PARSE     <132,113,132,113,113,113,90,92>
Name: 7040, dtype: object
ID                           27744
IP_SPLIT_RESULT    125.143.111.174
SEQUENCE_PARSE                 <1>
Name: 7041, dtype: object
ID                                                             27745
IP_SPLIT_RESULT                                        223.62.173.81
SEQUENCE_PARSE     <113,113,113,113,113,113,113,113,132,113,132,1...
Name: 7042, dtype: object
ID                              27746
IP_SPLIT_RESULT         223.62.173.81
SEQUENCE_PARSE     <113,113,63,1,113>
Name: 7043, dtype: object
ID                          27747
IP_SPLIT_RESULT    121.161.236.49
SEQUENCE_PARSE              <5,1>
Name: 7044, dtype: object
ID                                                             27748
IP_SPLIT_RESULT                                       175.223.14.134
SEQUENCE_PARSE     <29,132,113,132,113,113,113,113,113,113,113,11...
Name: 7045, dtype: object
ID                           27749
IP_SPLIT_RESULT    218.209.123.183
SEQUENCE_PARSE               <5,1>
Name: 7046, dtype: object
ID                                                             27750
IP_SPLIT_RESULT                                       223.62.216.150
SEQUENCE_PARSE     <1,29,113,132,132,132,132,158,160,132,132,113,...
Name: 7047, dtype: object
ID                                                         27751
IP_SPLIT_RESULT                                     223.38.10.21
SEQUENCE_PARSE     <113,113,31,113,113,113,31,113,31,113,31,113>
Name: 7048, dtype: object
ID                         27752
IP_SPLIT_RESULT    1.251.104.135
SEQUENCE_PARSE               <1>
Name: 7049, dtype: object
ID                                    27753
IP_SPLIT_RESULT               110.70.52.106
SEQUENCE_PARSE     <1,31,113,1,132,113,132>
Name: 7050, dtype: object
ID                                                             27754
IP_SPLIT_RESULT                                        211.246.68.40
SEQUENCE_PARSE     <30,93,93,93,93,93,93,93,93,93,93,32,93,93,93,...
Name: 7051, dtype: object
ID                         27755
IP_SPLIT_RESULT    211.193.42.90
SEQUENCE_PARSE             <5,1>
Name: 7052, dtype: object
ID                          27756
IP_SPLIT_RESULT    118.218.172.24
SEQUENCE_PARSE            <32,93>
Name: 7053, dtype: object
ID                         27757
IP_SPLIT_RESULT    117.111.6.149
SEQUENCE_PARSE        <1,31,113>
Name: 7054, dtype: object
ID                          27758
IP_SPLIT_RESULT    58.120.202.187
SEQUENCE_PARSE              <5,1>
Name: 7055, dtype: object
ID                         27759
IP_SPLIT_RESULT    220.92.50.163
SEQUENCE_PARSE             <5,1>
Name: 7056, dtype: object
ID                                                             27760
IP_SPLIT_RESULT                                        110.70.54.248
SEQUENCE_PARSE     <1,132,132,158,160,132,113,113,113,212,14,113,...
Name: 7057, dtype: object
ID                         27761
IP_SPLIT_RESULT    220.70.22.227
SEQUENCE_PARSE             <5,1>
Name: 7058, dtype: object
ID                        27762
IP_SPLIT_RESULT    59.23.235.26
SEQUENCE_PARSE          <1,5,1>
Name: 7059, dtype: object
ID                                                 27763
IP_SPLIT_RESULT                           211.36.130.180
SEQUENCE_PARSE     <1,132,132,93,93,93,93,32,93,32,93,1>
Name: 7060, dtype: object
ID                        27764
IP_SPLIT_RESULT    59.11.140.54
SEQUENCE_PARSE        <5,1,132>
Name: 7061, dtype: object
ID                         27765
IP_SPLIT_RESULT    223.39.150.70
SEQUENCE_PARSE               <1>
Name: 7062, dtype: object
ID                                                       27766
IP_SPLIT_RESULT                                   223.38.18.75
SEQUENCE_PARSE     <29,31,113,1,33,164,130,164,12,132,158,160>
Name: 7063, dtype: object
ID                                                            27767
IP_SPLIT_RESULT                                      175.223.14.134
SEQUENCE_PARSE     <113,113,1,132,81,132,113,132,113,31,113,132,81>
Name: 7064, dtype: object
ID                                                         27768
IP_SPLIT_RESULT                                     218.234.42.7
SEQUENCE_PARSE     <39,164,130,130,130,130,39,164,93,132,93,132>
Name: 7065, dtype: object
ID                          27769
IP_SPLIT_RESULT    94.230.146.241
SEQUENCE_PARSE           <31,113>
Name: 7066, dtype: object
ID                                                             27770
IP_SPLIT_RESULT                                        110.70.54.248
SEQUENCE_PARSE     <113,212,14,113,1,132,113,132,31,113,113,132,1...
Name: 7067, dtype: object
ID                          27771
IP_SPLIT_RESULT    49.181.242.164
SEQUENCE_PARSE                <1>
Name: 7068, dtype: object
ID                                       27772
IP_SPLIT_RESULT                 223.39.130.173
SEQUENCE_PARSE     <39,164,39,164,130,164,132>
Name: 7069, dtype: object
ID                          27773
IP_SPLIT_RESULT    222.107.72.141
SEQUENCE_PARSE                <1>
Name: 7070, dtype: object
ID                          27774
IP_SPLIT_RESULT    124.54.116.182
SEQUENCE_PARSE                <1>
Name: 7071, dtype: object
ID                                            27775
IP_SPLIT_RESULT                      111.65.181.120
SEQUENCE_PARSE     <39,164,63,89,195,39,164,63,164>
Name: 7072, dtype: object
ID                       27776
IP_SPLIT_RESULT    106.102.1.2
SEQUENCE_PARSE             <1>
Name: 7073, dtype: object
ID                         27777
IP_SPLIT_RESULT    147.47.86.118
SEQUENCE_PARSE               <1>
Name: 7074, dtype: object
ID                           27778
IP_SPLIT_RESULT    112.185.245.121
SEQUENCE_PARSE                 <1>
Name: 7075, dtype: object
ID                         27779
IP_SPLIT_RESULT    211.46.136.83
SEQUENCE_PARSE         <5,1,132>
Name: 7076, dtype: object
ID                                                             27780
IP_SPLIT_RESULT                                       175.223.11.119
SEQUENCE_PARSE     <39,164,1,5,31,113,113,113,1,132,113,132,31,11...
Name: 7077, dtype: object
ID                                            27781
IP_SPLIT_RESULT                      223.39.130.173
SEQUENCE_PARSE     <39,164,130,164,132,158,160,164>
Name: 7078, dtype: object
ID                                                             27782
IP_SPLIT_RESULT                                        223.38.17.229
SEQUENCE_PARSE     <29,132,113,132,113,113,113,29,132,113,132,113...
Name: 7079, dtype: object
ID                         27783
IP_SPLIT_RESULT    117.111.6.115
SEQUENCE_PARSE               <1>
Name: 7080, dtype: object
ID                         27784
IP_SPLIT_RESULT    222.106.97.88
SEQUENCE_PARSE               <1>
Name: 7081, dtype: object
ID                                                          27785
IP_SPLIT_RESULT                                    175.223.35.139
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,23,87,89,1>
Name: 7082, dtype: object
ID                                                             27786
IP_SPLIT_RESULT                                       223.33.165.164
SEQUENCE_PARSE     <31,113,1,132,113,132,113,113,31,113,132,162,3...
Name: 7083, dtype: object
ID                           27787
IP_SPLIT_RESULT    125.129.136.105
SEQUENCE_PARSE                 <1>
Name: 7084, dtype: object

ID                             29837
IP_SPLIT_RESULT       175.223.34.141
SEQUENCE_PARSE     <132,93,132,93,1>
Name: 7201, dtype: object
ID                        29838
IP_SPLIT_RESULT    113.30.53.16
SEQUENCE_PARSE            <5,1>
Name: 7202, dtype: object
ID                                         29839
IP_SPLIT_RESULT                   175.201.166.92
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 7203, dtype: object
ID                                                     29840
IP_SPLIT_RESULT                                218.38.143.34
SEQUENCE_PARSE     <41,176,132,1,93,93,132,81,212,93,132,93>
Name: 7204, dtype: object
ID                            29841
IP_SPLIT_RESULT      175.223.10.169
SEQUENCE_PARSE     <1,90,92,1,90,1>
Name: 7205, dtype: object
ID                                                             29842
IP_SPLIT_RESULT                                         183.98.39.46
SEQUENCE_PARSE     <1,130,1,132,93,132,93,93,93,32,93,32,93,132,9...
Name: 7206, dtype: object
ID                                                             29843
IP_SPLIT_RESULT                                      118.176.228.125
SEQUENCE_PARSE     <90,80,26,23,27,23,23,23,23,1,130,191,63,1,130...
Name: 7207, dtype: object
ID                                     29844
IP_SPLIT_RESULT              210.178.124.204
SEQUENCE_PARSE     <32,32,32,32,32,93,32,93>
Name: 7208, dtype: object
ID                                                    29845
IP_SPLIT_RESULT                             218.144.169.111
SEQUENCE_PARSE     <32,32,32,93,32,5,32,5,32,93,32,5,32,93>
Name: 7209, dtype: object
ID                         29846
IP_SPLIT_RESULT    223.62.162.83
SEQUENCE_PARSE         <32,93,1>
Name: 7210, dtype: object
ID                         29847
IP_SPLIT_RESULT    175.117.7.232
SEQUENCE_PARSE           <32,93>
Name: 7211, dtype: object
ID                                                             29848
IP_SPLIT_RESULT                                       49.175.158.188
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,80,30,212,1...
Name: 7212, dtype: object
ID                          29849
IP_SPLIT_RESULT    223.39.138.162
SEQUENCE_PARSE        <1,31,31,1>
Name: 7213, dtype: object
ID                                                             29850
IP_SPLIT_RESULT                                       211.114.35.194
SEQUENCE_PARSE     <1,41,1,5,30,1,212,1,92,5,92,5,1,164,1,30,1,41...
Name: 7214, dtype: object
ID                           29851
IP_SPLIT_RESULT    112.163.154.180
SEQUENCE_PARSE              <1,90>
Name: 7215, dtype: object
ID                                                          29852
IP_SPLIT_RESULT                                     183.109.32.25
SEQUENCE_PARSE     <93,32,93,93,93,93,30,93,93,32,93,32,93,32,93>
Name: 7216, dtype: object
ID                                                             29853
IP_SPLIT_RESULT                                        223.62.162.83
SEQUENCE_PARSE     <32,93,132,130,93,132,162,93,33,164,130,164,33...
Name: 7217, dtype: object
ID                         29854
IP_SPLIT_RESULT    119.70.111.88
SEQUENCE_PARSE           <1,5,1>
Name: 7218, dtype: object
ID                                                      29855
IP_SPLIT_RESULT                                223.62.163.157
SEQUENCE_PARSE     <32,93,1,113,132,93,212,93,93,132,132,132>
Name: 7219, dtype: object
ID                          29856
IP_SPLIT_RESULT    121.179.180.20
SEQUENCE_PARSE           <31,113>
Name: 7220, dtype: object
ID                                      29857
IP_SPLIT_RESULT                  106.102.0.42
SEQUENCE_PARSE     <31,113,113,113,113,113,1>
Name: 7221, dtype: object
ID                                                     29858
IP_SPLIT_RESULT                                121.178.88.39
SEQUENCE_PARSE     <31,113,132,132,132,93,132,93,1,90,87,89>
Name: 7222, dtype: object
ID                        29859
IP_SPLIT_RESULT    172.98.85.44
SEQUENCE_PARSE              <1>
Name: 7223, dtype: object
ID                         29860
IP_SPLIT_RESULT    49.165.103.50
SEQUENCE_PARSE           <1,5,1>
Name: 7224, dtype: object
ID                                                             29861
IP_SPLIT_RESULT                                        117.111.26.75
SEQUENCE_PARSE     <31,31,113,132,113,132,113,132,113,113,132,113...
Name: 7225, dtype: object
ID                                                             29862
IP_SPLIT_RESULT                                        117.111.26.75
SEQUENCE_PARSE     <113,31,113,113,113,130,31,113,132,132,93,93,9...
Name: 7226, dtype: object
ID                                           29863
IP_SPLIT_RESULT                       106.102.0.42
SEQUENCE_PARSE     <113,113,93,93,113,113,113,113>
Name: 7227, dtype: object
ID                                                             29864
IP_SPLIT_RESULT                                           113.30.3.3
SEQUENCE_PARSE     <113,113,93,93,32,32,113,113,31,29,113,113,132...
Name: 7228, dtype: object
ID                                                             29865
IP_SPLIT_RESULT                                         183.98.39.46
SEQUENCE_PARSE     <93,93,32,93,32,93,178,132,180,93,180,1,93,93,...
Name: 7229, dtype: object
ID                           29866
IP_SPLIT_RESULT    211.228.109.135
SEQUENCE_PARSE              <1,90>
Name: 7230, dtype: object
ID                                                             29867
IP_SPLIT_RESULT                                        121.178.88.39
SEQUENCE_PARSE     <93,212,93,14,93,92,80,24,212,132,113,132,113,...
Name: 7231, dtype: object
ID                           29868
IP_SPLIT_RESULT    203.227.183.210
SEQUENCE_PARSE                 <1>
Name: 7232, dtype: object
ID                                        29869
IP_SPLIT_RESULT                  49.175.158.188
SEQUENCE_PARSE     <90,92,87,89,93,32,93,32,93>
Name: 7233, dtype: object
ID                          29870
IP_SPLIT_RESULT    211.205.100.10
SEQUENCE_PARSE                <1>
Name: 7234, dtype: object
ID                                                             29871
IP_SPLIT_RESULT                                      112.160.139.225
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,130,132,9...
Name: 7235, dtype: object
ID                        29872
IP_SPLIT_RESULT    157.55.39.58
SEQUENCE_PARSE           <1,30>
Name: 7236, dtype: object
ID                          29873
IP_SPLIT_RESULT    211.117.65.124
SEQUENCE_PARSE                <1>
Name: 7237, dtype: object
ID                           29874
IP_SPLIT_RESULT    211.248.162.188
SEQUENCE_PARSE                 <1>
Name: 7238, dtype: object
ID                                                             29875
IP_SPLIT_RESULT                                        39.121.52.247
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,90,132,93,1...
Name: 7239, dtype: object
ID                                         29876
IP_SPLIT_RESULT                     223.62.22.80
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93>
Name: 7240, dtype: object
ID                        29877
IP_SPLIT_RESULT    1.230.161.92
SEQUENCE_PARSE           <1,63>
Name: 7241, dtype: object
ID                                                 29878
IP_SPLIT_RESULT                          112.160.139.225
SEQUENCE_PARSE     <92,87,89,132,93,132,93,90,130,130,1>
Name: 7242, dtype: object
ID                                                             29879
IP_SPLIT_RESULT                                         1.230.161.92
SEQUENCE_PARSE     <1,113,132,113,132,113,113,113,113,113,113,113...
Name: 7243, dtype: object
ID                          29880
IP_SPLIT_RESULT    203.171.179.38
SEQUENCE_PARSE                <1>
Name: 7244, dtype: object
ID                          29881
IP_SPLIT_RESULT    122.44.138.248
SEQUENCE_PARSE            <1,5,1>
Name: 7245, dtype: object
ID                        29882
IP_SPLIT_RESULT    223.33.178.8
SEQUENCE_PARSE              <1>
Name: 7246, dtype: object
ID                                                             29883
IP_SPLIT_RESULT                                        223.33.178.21
SEQUENCE_PARSE     <1,93,93,14,93,93,14,93,93,132,93,132,113,132,...
Name: 7247, dtype: object
ID                                                             29884
IP_SPLIT_RESULT                                        218.39.61.238
SEQUENCE_PARSE     <1,31,113,93,93,93,1,130,132,90,113,113,31,31,...
Name: 7248, dtype: object
ID                             29885
IP_SPLIT_RESULT       211.208.112.64
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 7249, dtype: object
ID                                               29886
IP_SPLIT_RESULT                         125.177.147.21
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93>
Name: 7250, dtype: object
ID                                     29887
IP_SPLIT_RESULT               223.39.140.168
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93>
Name: 7251, dtype: object
ID                                                             29888
IP_SPLIT_RESULT                                        223.62.22.160
SEQUENCE_PARSE     <1,132,132,158,160,1,132,113,132,113,113,113,3...
Name: 7252, dtype: object
ID                                                             29889
IP_SPLIT_RESULT                                       121.172.178.39
SEQUENCE_PARSE     <1,132,93,132,93,93,93,191,130,1,132,93,132,93...
Name: 7253, dtype: object
ID                         29890
IP_SPLIT_RESULT    118.46.96.207
SEQUENCE_PARSE               <1>
Name: 7254, dtype: object
ID                          29891
IP_SPLIT_RESULT    211.208.112.64
SEQUENCE_PARSE                <1>
Name: 7255, dtype: object
ID                                                             29892
IP_SPLIT_RESULT                                        223.62.22.160
SEQUENCE_PARSE     <113,113,113,113,113,113,113,113,31,113,31,113...
Name: 7256, dtype: object
ID                                                             29893
IP_SPLIT_RESULT                                       211.36.141.109
SEQUENCE_PARSE     <1,33,164,1,132,1,132,93,132,93,132,93,93,132,...
Name: 7257, dtype: object
ID                          29894
IP_SPLIT_RESULT    211.36.147.198
SEQUENCE_PARSE           <31,113>
Name: 7258, dtype: object
ID                                                             29895
IP_SPLIT_RESULT                                       121.172.178.39
SEQUENCE_PARSE     <1,130,130,132,92,201,201,201,201,66,201,201,6...
Name: 7259, dtype: object
ID                                                             29896
IP_SPLIT_RESULT                                      121.158.147.143
SEQUENCE_PARSE     <1,5,1,130,132,93,93,132,32,93,132,132,132,132...
Name: 7260, dtype: object
ID                                                             29897
IP_SPLIT_RESULT                                       211.36.141.109
SEQUENCE_PARSE     <93,93,32,93,1,93,93,32,93,32,93,93,93,32,93,3...
Name: 7261, dtype: object
ID                          29898
IP_SPLIT_RESULT    117.111.17.243
SEQUENCE_PARSE                <1>
Name: 7262, dtype: object
ID                         29899
IP_SPLIT_RESULT    118.91.59.177
SEQUENCE_PARSE               <1>
Name: 7263, dtype: object
ID                         29900
IP_SPLIT_RESULT    58.239.87.228
SEQUENCE_PARSE               <1>
Name: 7264, dtype: object
ID                         29901
IP_SPLIT_RESULT    222.98.71.140
SEQUENCE_PARSE               <1>
Name: 7265, dtype: object
ID                                               29902
IP_SPLIT_RESULT                          116.42.137.86
SEQUENCE_PARSE     <31,113,93,212,14,93,39,164,63,164>
Name: 7266, dtype: object
ID                          29903
IP_SPLIT_RESULT    211.48.177.232
SEQUENCE_PARSE                <1>
Name: 7267, dtype: object
ID                             29904
IP_SPLIT_RESULT       180.224.67.100
SEQUENCE_PARSE     <1,132,93,93,132>
Name: 7268, dtype: object
ID                                                   29905
IP_SPLIT_RESULT                              211.36.133.19
SEQUENCE_PARSE     <31,113,1,93,132,132,32,93,93,32,93,93>
Name: 7269, dtype: object
ID                        29906
IP_SPLIT_RESULT    1.231.83.106
SEQUENCE_PARSE              <1>
Name: 7270, dtype: object
ID                          29907
IP_SPLIT_RESULT    211.243.46.106
SEQUENCE_PARSE                <1>
Name: 7271, dtype: object
ID                         29908
IP_SPLIT_RESULT    211.179.34.91
SEQUENCE_PARSE               <1>
Name: 7272, dtype: object
ID                         29909
IP_SPLIT_RESULT    122.34.227.85
SEQUENCE_PARSE         <32,93,1>
Name: 7273, dtype: object
ID                         29910
IP_SPLIT_RESULT    1.228.171.149
SEQUENCE_PARSE               <1>
Name: 7274, dtype: object
ID                          29911
IP_SPLIT_RESULT    117.111.14.161
SEQUENCE_PARSE                <1>
Name: 7275, dtype: object
ID                                           29912
IP_SPLIT_RESULT                    114.204.190.209
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93>
Name: 7276, dtype: object
ID                                                             29913
IP_SPLIT_RESULT                                       175.114.57.225
SEQUENCE_PARSE     <32,93,32,93,32,1,93,1,132,130,93,132,162,113,...
Name: 7277, dtype: object
ID                                                             29914
IP_SPLIT_RESULT                                        175.223.31.44
SEQUENCE_PARSE     <1,29,132,113,132,1,132,81,132,113,132,31,113,...
Name: 7278, dtype: object
ID                                                             29915
IP_SPLIT_RESULT                                       122.44.163.199
SEQUENCE_PARSE     <39,164,164,164,29,113,132,132,132,174,172,170...
Name: 7279, dtype: object
ID                                                             29916
IP_SPLIT_RESULT                                      121.136.217.220
SEQUENCE_PARSE     <1,113,132,113,132,31,113,113,113,31,113,113,1...
Name: 7280, dtype: object
ID                                                             29917
IP_SPLIT_RESULT                                        211.36.137.75
SEQUENCE_PARSE     <1,90,92,1,90,92,25,90,92,25,90,92,93,132,93,1...
Name: 7281, dtype: object
ID                                                             29918
IP_SPLIT_RESULT                                         118.39.45.46
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,132,162,166,...
Name: 7282, dtype: object
ID                                                             29919
IP_SPLIT_RESULT                                        122.42.229.89
SEQUENCE_PARSE     <39,164,164,164,1,132,113,132,113,31,113,113,3...
Name: 7283, dtype: object
ID                          29920
IP_SPLIT_RESULT    219.240.186.74
SEQUENCE_PARSE                <1>
Name: 7284, dtype: object
ID                         29921
IP_SPLIT_RESULT    49.169.179.83
SEQUENCE_PARSE               <1>
Name: 7285, dtype: object
ID                          29922
IP_SPLIT_RESULT    58.122.211.138
SEQUENCE_PARSE                <1>
Name: 7286, dtype: object
ID                              29923
IP_SPLIT_RESULT         123.111.33.29
SEQUENCE_PARSE     <1,130,130,130,63>
Name: 7287, dtype: object
ID                          29924
IP_SPLIT_RESULT    175.223.39.253
SEQUENCE_PARSE         <39,164,1>
Name: 7288, dtype: object
ID                                                             29925
IP_SPLIT_RESULT                                      121.136.217.220
SEQUENCE_PARSE     <113,113,31,113,31,113,31,113,31,113,31,113,31...
Name: 7289, dtype: object
ID                                                             29926
IP_SPLIT_RESULT                                       175.223.39.253
SEQUENCE_PARSE     <164,132,81,1,31,113,31,113,113,113,31,113,132...
Name: 7290, dtype: object
ID                         29927
IP_SPLIT_RESULT    1.230.179.175
SEQUENCE_PARSE               <1>
Name: 7291, dtype: object
ID                                                             29928
IP_SPLIT_RESULT                                      222.106.152.142
SEQUENCE_PARSE     <1,5,1,132,1,132,93,132,93,1,130,130,1,93,93,1...
Name: 7292, dtype: object
ID                                                             29929
IP_SPLIT_RESULT                                       182.228.201.16
SEQUENCE_PARSE     <1,93,132,93,132,93,93,63,63,1,63,132,132,93,3...
Name: 7293, dtype: object
ID                                                29930
IP_SPLIT_RESULT                          223.62.203.250
SEQUENCE_PARSE     <1,39,164,39,164,164,132,164,39,164>
Name: 7294, dtype: object
ID                          29931
IP_SPLIT_RESULT    117.111.11.153
SEQUENCE_PARSE         <31,113,1>
Name: 7295, dtype: object
ID                                                        29932
IP_SPLIT_RESULT                                     61.254.89.8
SEQUENCE_PARSE     <1,132,93,132,93,1,132,93,132,93,132,93,132>
Name: 7296, dtype: object
ID                         29933
IP_SPLIT_RESULT    122.45.209.26
SEQUENCE_PARSE           <1,5,1>
Name: 7297, dtype: object
ID                           29934
IP_SPLIT_RESULT     210.100.148.50
SEQUENCE_PARSE     <30,132,132,93>
Name: 7298, dtype: object
ID                             29935
IP_SPLIT_RESULT           14.41.5.76
SEQUENCE_PARSE     <1,5,1,132,1,5,1>
Name: 7299, dtype: object
ID                         29936
IP_SPLIT_RESULT    220.72.113.27
SEQUENCE_PARSE               <1>
Name: 7300, dtype: object
ID                                      29937
IP_SPLIT_RESULT                180.224.67.100
SEQUENCE_PARSE     <93,93,93,93,1,132,93,132>
Name: 7301, dtype: object
ID                                                             29938
IP_SPLIT_RESULT                                      222.106.152.142
SEQUENCE_PARSE     <1,5,1,5,1,5,1,90,87,89,80,30,212,132,93,132,9...
Name: 7302, dtype: object
ID                         29939
IP_SPLIT_RESULT    118.44.230.13
SEQUENCE_PARSE               <1>
Name: 7303, dtype: object
ID                       29940
IP_SPLIT_RESULT    14.41.5.103
SEQUENCE_PARSE       <1,63,63>
Name: 7304, dtype: object
ID                              29941
IP_SPLIT_RESULT        182.228.201.16
SEQUENCE_PARSE     <1,93,93,93,93,32>
Name: 7305, dtype: object
ID                                                             29942
IP_SPLIT_RESULT                                          14.41.5.103
SEQUENCE_PARSE     <1,130,132,113,132,113,113,113,132,93,132,93,9...
Name: 7306, dtype: object
ID                                                             29943
IP_SPLIT_RESULT                                       115.137.97.143
SEQUENCE_PARSE     <132,113,113,132,113,113,113,113,113,31,113,31...
Name: 7307, dtype: object
ID                         29944
IP_SPLIT_RESULT    49.173.139.79
SEQUENCE_PARSE               <1>
Name: 7308, dtype: object
ID                             29945
IP_SPLIT_RESULT        211.55.111.50
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 7309, dtype: object
ID                                                             29946
IP_SPLIT_RESULT                                       124.50.255.137
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,132,93,132,93,93,...
Name: 7310, dtype: object
ID                                                             29947
IP_SPLIT_RESULT                                       180.224.23.165
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,93,93,92,...
Name: 7311, dtype: object
ID                         29948
IP_SPLIT_RESULT    14.37.212.151
SEQUENCE_PARSE               <1>
Name: 7312, dtype: object
ID                        29949
IP_SPLIT_RESULT    1.240.77.104
SEQUENCE_PARSE              <1>
Name: 7313, dtype: object
ID                                                             29950
IP_SPLIT_RESULT                                       117.111.15.204
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,63,132,81,13...
Name: 7314, dtype: object
ID                                                             29951

ID                         32945
IP_SPLIT_RESULT       1.230.59.3
SEQUENCE_PARSE     <93,93,93,93>
Name: 7459, dtype: object
ID                                                             32946
IP_SPLIT_RESULT                                       115.41.135.216
SEQUENCE_PARSE     <32,93,32,93,132,93,132,93,32,93,93,93,93,93,3...
Name: 7460, dtype: object
ID                                                             32947
IP_SPLIT_RESULT                                          39.7.50.195
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,113,113,113...
Name: 7461, dtype: object
ID                                                             32948
IP_SPLIT_RESULT                                        223.62.219.61
SEQUENCE_PARSE     <31,113,1,132,93,132,132,93,132,132,93,132,132...
Name: 7462, dtype: object
ID                                       32949
IP_SPLIT_RESULT                    39.7.50.195
SEQUENCE_PARSE     <113,113,113,113,113,113,1>
Name: 7463, dtype: object
ID                                                             32950
IP_SPLIT_RESULT                                       223.62.172.187
SEQUENCE_PARSE     <1,132,93,132,93,90,87,32,93,32,93,32,93,93,93...
Name: 7464, dtype: object
ID                                                             32951
IP_SPLIT_RESULT                                      121.163.249.198
SEQUENCE_PARSE     <132,113,132,113,132,132,158,160,113,132,132,1...
Name: 7465, dtype: object
ID                         32952
IP_SPLIT_RESULT    223.62.11.138
SEQUENCE_PARSE          <31,113>
Name: 7466, dtype: object
ID                                           32953
IP_SPLIT_RESULT                     218.151.58.133
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93>
Name: 7467, dtype: object
ID                          32954
IP_SPLIT_RESULT    118.201.205.64
SEQUENCE_PARSE            <1,5,1>
Name: 7468, dtype: object
ID                                                             32955
IP_SPLIT_RESULT                                       223.62.172.187
SEQUENCE_PARSE     <90,92,87,1,93,132,132,93,93,93,92,89,80,30,93...
Name: 7469, dtype: object
ID                                                             32956
IP_SPLIT_RESULT                                       211.36.139.150
SEQUENCE_PARSE     <1,113,132,113,132,113,113,31,113,31,113,113,113>
Name: 7470, dtype: object
ID                                           32957
IP_SPLIT_RESULT                         39.7.47.49
SEQUENCE_PARSE     <1,130,113,132,158,160,1,90,87>
Name: 7471, dtype: object
ID                                 32958
IP_SPLIT_RESULT               39.7.47.49
SEQUENCE_PARSE     <132,1,132,164,92,87>
Name: 7472, dtype: object
ID                                       32959
IP_SPLIT_RESULT                   110.8.16.246
SEQUENCE_PARSE     <1,5,1,132,132,93,93,93,90>
Name: 7473, dtype: object
ID                                                             32960
IP_SPLIT_RESULT                                        115.41.131.29
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,90,92,80,29...
Name: 7474, dtype: object
ID                                  32961
IP_SPLIT_RESULT               110.70.55.9
SEQUENCE_PARSE     <33,164,130,164,164,1>
Name: 7475, dtype: object
ID                        32962
IP_SPLIT_RESULT    220.71.16.78
SEQUENCE_PARSE              <1>
Name: 7476, dtype: object
ID                         32963
IP_SPLIT_RESULT    59.20.179.182
SEQUENCE_PARSE               <1>
Name: 7477, dtype: object
ID                                       32964
IP_SPLIT_RESULT                  124.111.8.192
SEQUENCE_PARSE     <1,132,113,132,113,113,113>
Name: 7478, dtype: object
ID                                                             32965
IP_SPLIT_RESULT                                         223.62.190.5
SEQUENCE_PARSE     <1,113,132,132,113,113,113,113,113,29,113,113,...
Name: 7479, dtype: object
ID                                                             32966
IP_SPLIT_RESULT                                         223.62.190.5
SEQUENCE_PARSE     <113,113,113,113,31,113,132,162,166,162,113,13...
Name: 7480, dtype: object
ID                                                             32967
IP_SPLIT_RESULT                                      116.127.216.170
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,87,89,80,22...
Name: 7481, dtype: object
ID                                              32968
IP_SPLIT_RESULT                        223.62.216.166
SEQUENCE_PARSE     <1,132,132,113,113,113,113,31,113>
Name: 7482, dtype: object
ID                           32969
IP_SPLIT_RESULT    115.138.182.204
SEQUENCE_PARSE                 <1>
Name: 7483, dtype: object
ID                          32970
IP_SPLIT_RESULT    211.219.13.163
SEQUENCE_PARSE                <1>
Name: 7484, dtype: object
ID                          32971
IP_SPLIT_RESULT    121.175.101.20
SEQUENCE_PARSE                <1>
Name: 7485, dtype: object
ID                                   32972
IP_SPLIT_RESULT                 39.7.59.13
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 7486, dtype: object
ID                          32973
IP_SPLIT_RESULT    223.62.222.147
SEQUENCE_PARSE               <33>
Name: 7487, dtype: object
ID                          32974
IP_SPLIT_RESULT    223.62.222.147
SEQUENCE_PARSE              <164>
Name: 7488, dtype: object
ID                          32975
IP_SPLIT_RESULT    121.127.133.35
SEQUENCE_PARSE                <1>
Name: 7489, dtype: object
ID                           32976
IP_SPLIT_RESULT    220.116.191.126
SEQUENCE_PARSE          <39,164,1>
Name: 7490, dtype: object
ID                                                             32977
IP_SPLIT_RESULT                                      211.178.215.129
SEQUENCE_PARSE     <1,113,132,113,132,113,113,1,113,31,1,113,132,...
Name: 7491, dtype: object
ID                         32978
IP_SPLIT_RESULT    115.41.131.29
SEQUENCE_PARSE           <87,89>
Name: 7492, dtype: object
ID                           32979
IP_SPLIT_RESULT      61.79.164.158
SEQUENCE_PARSE     <31,113,31,113>
Name: 7493, dtype: object
ID                                               32980
IP_SPLIT_RESULT                          116.38.135.11
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93>
Name: 7494, dtype: object
ID                              32981
IP_SPLIT_RESULT        175.223.15.189
SEQUENCE_PARSE     <113,113,31,113,1>
Name: 7495, dtype: object
ID                                32982
IP_SPLIT_RESULT          175.223.19.205
SEQUENCE_PARSE     <39,164,164,164,132>
Name: 7496, dtype: object
ID                                                             32983
IP_SPLIT_RESULT                                         223.62.202.6
SEQUENCE_PARSE     <1,93,132,162,166,162,132,113,132,1,132,81,132...
Name: 7497, dtype: object
ID                         32984
IP_SPLIT_RESULT    114.204.29.51
SEQUENCE_PARSE            <1,90>
Name: 7498, dtype: object
ID                           32985
IP_SPLIT_RESULT    112.152.107.187
SEQUENCE_PARSE                 <1>
Name: 7499, dtype: object
ID                         32986
IP_SPLIT_RESULT    114.204.29.51
SEQUENCE_PARSE              <92>
Name: 7500, dtype: object
ID                                             32987
IP_SPLIT_RESULT                       175.223.19.205
SEQUENCE_PARSE     <132,39,1,130,39,164,130,164,164>
Name: 7501, dtype: object
ID                         32988
IP_SPLIT_RESULT    222.98.88.214
SEQUENCE_PARSE             <191>
Name: 7502, dtype: object
ID                         32989
IP_SPLIT_RESULT    223.57.79.173
SEQUENCE_PARSE              <39>
Name: 7503, dtype: object
ID                                                             35537
IP_SPLIT_RESULT                                       211.204.31.220
SEQUENCE_PARSE     <1,132,132,93,93,93,32,93,132,162,166,162,93,3...
Name: 7504, dtype: object
ID                                                             35538
IP_SPLIT_RESULT                                       119.204.86.138
SEQUENCE_PARSE     <93,1,5,1,132,93,132,93,132,93,132,93,93,132,1...
Name: 7505, dtype: object
ID                                                             36227
IP_SPLIT_RESULT                                      218.232.175.228
SEQUENCE_PARSE     <113,113,113,113,113,113,113,113,93,93,132,132...
Name: 7506, dtype: object
ID                          36230
IP_SPLIT_RESULT    183.97.225.167
SEQUENCE_PARSE           <31,113>
Name: 7507, dtype: object
ID                                                             36231
IP_SPLIT_RESULT                                       175.223.44.168
SEQUENCE_PARSE     <132,113,113,132,132,93,132,113,132,113,132,11...
Name: 7508, dtype: object
ID                                                             36236
IP_SPLIT_RESULT                                          223.62.22.2
SEQUENCE_PARSE     <130,130,130,113,33,164,130,164,164,132,113,13...
Name: 7509, dtype: object
ID                           36237
IP_SPLIT_RESULT     221.155.182.70
SEQUENCE_PARSE     <31,113,31,113>
Name: 7510, dtype: object
ID                          36238
IP_SPLIT_RESULT    211.36.145.197
SEQUENCE_PARSE                <1>
Name: 7511, dtype: object
ID                             36239
IP_SPLIT_RESULT      183.100.206.115
SEQUENCE_PARSE     <132,132,158,160>
Name: 7512, dtype: object
ID                                                             36240
IP_SPLIT_RESULT                                         117.111.3.69
SEQUENCE_PARSE     <1,132,113,113,132,113,113,31,113,132,162,166,...
Name: 7513, dtype: object
ID                                                             36241
IP_SPLIT_RESULT                                           14.47.27.7
SEQUENCE_PARSE     <1,132,93,132,93,32,93,93,32,93,1,93,132,132,9...
Name: 7514, dtype: object
ID                           36242
IP_SPLIT_RESULT    183.100.206.115
SEQUENCE_PARSE                <93>
Name: 7515, dtype: object
ID                          36243
IP_SPLIT_RESULT    123.215.23.188
SEQUENCE_PARSE            <32,93>
Name: 7516, dtype: object
ID                                                             36244
IP_SPLIT_RESULT                                           39.7.55.19
SEQUENCE_PARSE     <33,33,164,130,1,132,93,132,93,132,132,93,93,130>
Name: 7517, dtype: object
ID                      36245
IP_SPLIT_RESULT    1.216.57.2
SEQUENCE_PARSE            <1>
Name: 7518, dtype: object
ID                                                             36246
IP_SPLIT_RESULT                                           39.7.55.19
SEQUENCE_PARSE     <164,132,93,93,132,33,164,33,164,33,164,130,30...
Name: 7519, dtype: object
ID                         36247
IP_SPLIT_RESULT    223.56.118.56
SEQUENCE_PARSE               <1>
Name: 7520, dtype: object
ID                                                       36248
IP_SPLIT_RESULT                                 117.111.11.242
SEQUENCE_PARSE     <29,132,113,132,113,31,113,113,113,113,113>
Name: 7521, dtype: object
ID                                                             36249
IP_SPLIT_RESULT                                       124.146.36.168
SEQUENCE_PARSE     <31,113,31,113,31,113,31,113,31,113,31,113,31,...
Name: 7522, dtype: object
ID                                                             36250
IP_SPLIT_RESULT                                        110.70.59.105
SEQUENCE_PARSE     <31,113,130,93,93,93,132,113,132,113,113,113,3...
Name: 7523, dtype: object
ID                                   36251
IP_SPLIT_RESULT             117.111.11.242
SEQUENCE_PARSE     <32,93,132,132,113,113>
Name: 7524, dtype: object
ID                           36252
IP_SPLIT_RESULT    121.135.248.180
SEQUENCE_PARSE             <32,93>
Name: 7525, dtype: object
ID                          36253
IP_SPLIT_RESULT    211.179.61.183
SEQUENCE_PARSE            <1,5,1>
Name: 7526, dtype: object
ID                                                             36254
IP_SPLIT_RESULT                                        223.38.10.243
SEQUENCE_PARSE     <32,93,132,63,93,32,93,132,63,93,132,162,132,1...
Name: 7527, dtype: object
ID                         36255
IP_SPLIT_RESULT    211.36.157.38
SEQUENCE_PARSE              <32>
Name: 7528, dtype: object
ID                         36256
IP_SPLIT_RESULT    220.71.221.63
SEQUENCE_PARSE             <5,1>
Name: 7529, dtype: object
ID                         36257
IP_SPLIT_RESULT    220.86.151.76
SEQUENCE_PARSE           <32,93>
Name: 7530, dtype: object
ID                                             36258
IP_SPLIT_RESULT                       175.223.19.135
SEQUENCE_PARSE     <32,1,132,132,93,93,93,30,132,93>
Name: 7531, dtype: object
ID                                   36259
IP_SPLIT_RESULT             175.223.19.135
SEQUENCE_PARSE     <93,1,132,132,93,90,92>
Name: 7532, dtype: object
ID                                                             36260
IP_SPLIT_RESULT                                        223.38.10.243
SEQUENCE_PARSE     <32,93,132,1,63,93,132,162,132,162,63,32,93,63...
Name: 7533, dtype: object
ID                         36261
IP_SPLIT_RESULT    223.38.10.166
SEQUENCE_PARSE              <27>
Name: 7534, dtype: object
ID                                                             36262
IP_SPLIT_RESULT                                       223.62.219.185
SEQUENCE_PARSE     <1,63,130,130,63,63,32,93,132,132,158,160,113,...
Name: 7535, dtype: object
ID                          36263
IP_SPLIT_RESULT    119.70.110.135
SEQUENCE_PARSE              <5,1>
Name: 7536, dtype: object
ID                                                             36264
IP_SPLIT_RESULT                                       223.62.219.185
SEQUENCE_PARSE     <130,132,93,93,132,132,113,113,212,113,14,113,...
Name: 7537, dtype: object
ID                          36265
IP_SPLIT_RESULT    118.39.164.183
SEQUENCE_PARSE                <1>
Name: 7538, dtype: object
ID                         36266
IP_SPLIT_RESULT    120.50.66.227
SEQUENCE_PARSE               <1>
Name: 7539, dtype: object
ID                         36267
IP_SPLIT_RESULT    211.55.238.82
SEQUENCE_PARSE               <1>
Name: 7540, dtype: object
ID                                                             36268
IP_SPLIT_RESULT                                        121.144.79.95
SEQUENCE_PARSE     <1,5,1,5,1,5,1,130,130,130,130,130,130,191,90,...
Name: 7541, dtype: object
ID                        36269
IP_SPLIT_RESULT    168.1.128.34
SEQUENCE_PARSE              <1>
Name: 7542, dtype: object
ID                                                             36270
IP_SPLIT_RESULT                                           39.7.56.33
SEQUENCE_PARSE     <39,164,92,113,130,164,1,132,132,132,180,132,1...
Name: 7543, dtype: object
ID                       36271
IP_SPLIT_RESULT    39.7.18.125
SEQUENCE_PARSE             <1>
Name: 7544, dtype: object
ID                           36272
IP_SPLIT_RESULT    119.192.133.229
SEQUENCE_PARSE               <5,1>
Name: 7545, dtype: object
ID                                    36273
IP_SPLIT_RESULT               14.50.140.209
SEQUENCE_PARSE     <33,164,132,132,130,164>
Name: 7546, dtype: object
ID                          36274
IP_SPLIT_RESULT    223.62.190.125
SEQUENCE_PARSE               <92>
Name: 7547, dtype: object
ID                             36275
IP_SPLIT_RESULT        222.236.10.75
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 7548, dtype: object
ID                         36276
IP_SPLIT_RESULT    66.249.92.155
SEQUENCE_PARSE               <1>
Name: 7549, dtype: object
ID                          36277
IP_SPLIT_RESULT    223.62.219.116
SEQUENCE_PARSE                <1>
Name: 7550, dtype: object
ID                                                             36278
IP_SPLIT_RESULT                                        222.236.10.75
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 7551, dtype: object
ID                                                             36279
IP_SPLIT_RESULT                                        211.36.140.38
SEQUENCE_PARSE     <1,132,132,93,132,93,93,93,132,113,113,132,113...
Name: 7552, dtype: object
ID                                                             36280
IP_SPLIT_RESULT                                       223.62.215.118
SEQUENCE_PARSE     <39,164,31,113,132,162,93,113,132,162,166,162,...
Name: 7553, dtype: object
ID                                                             36281
IP_SPLIT_RESULT                                        211.36.135.97
SEQUENCE_PARSE     <1,130,132,93,132,113,132,113,113,31,113,31,11...
Name: 7554, dtype: object
ID                                                             36282
IP_SPLIT_RESULT                                        211.36.135.97
SEQUENCE_PARSE     <132,113,132,113,113,113,113,113,1,132,81,93,1...
Name: 7555, dtype: object
ID                         36283
IP_SPLIT_RESULT    223.39.140.68
SEQUENCE_PARSE     <1,164,132,1>
Name: 7556, dtype: object
ID                            36284
IP_SPLIT_RESULT       58.143.254.26
SEQUENCE_PARSE     <1,33,164,32,93>
Name: 7557, dtype: object
ID                         36285
IP_SPLIT_RESULT    177.21.36.234
SEQUENCE_PARSE               <1>
Name: 7558, dtype: object
ID                        36286
IP_SPLIT_RESULT    58.230.67.27
SEQUENCE_PARSE              <1>
Name: 7559, dtype: object
ID                         36287
IP_SPLIT_RESULT    58.231.75.133
SEQUENCE_PARSE             <5,1>
Name: 7560, dtype: object
ID                                                             36288
IP_SPLIT_RESULT                                         58.230.67.27
SEQUENCE_PARSE     <132,113,132,113,113,113,113,113,113,113,113,1...
Name: 7561, dtype: object
ID                                                             36289
IP_SPLIT_RESULT                                       175.118.139.96
SEQUENCE_PARSE     <1,90,92,80,29,212,132,113,132,113,132,189,87,...
Name: 7562, dtype: object
ID                        36290
IP_SPLIT_RESULT    91.200.12.81
SEQUENCE_PARSE              <1>
Name: 7563, dtype: object
ID                          36291
IP_SPLIT_RESULT    222.116.167.55
SEQUENCE_PARSE                <1>
Name: 7564, dtype: object
ID                        36292
IP_SPLIT_RESULT    223.62.21.70
SEQUENCE_PARSE              <1>
Name: 7565, dtype: object
ID                                                             36293
IP_SPLIT_RESULT                                         115.21.57.63
SEQUENCE_PARSE     <31,113,1,39,164,31,113,31,113,132,162,93,93,3...
Name: 7566, dtype: object
ID                                                36294
IP_SPLIT_RESULT                            223.62.21.84
SEQUENCE_PARSE     <1,90,92,32,93,130,130,1,132,93,132>
Name: 7567, dtype: object
ID                          36295
IP_SPLIT_RESULT    175.118.139.96
SEQUENCE_PARSE         <87,89,87>
Name: 7568, dtype: object
ID                                                             36296
IP_SPLIT_RESULT                                        124.53.90.136
SEQUENCE_PARSE     <1,90,92,25,90,87,89,1,90,92,93,132,93,132,132...
Name: 7569, dtype: object
ID                                              36297
IP_SPLIT_RESULT                        211.36.156.101
SEQUENCE_PARSE     <1,132,113,132,113,31,113,113,113>
Name: 7570, dtype: object
ID                          36298
IP_SPLIT_RESULT    223.62.213.226
SEQUENCE_PARSE                <1>
Name: 7571, dtype: object
ID                               36299
IP_SPLIT_RESULT          211.36.157.38
SEQUENCE_PARSE     <32,93,32,93,32,93>
Name: 7572, dtype: object
ID                          36300
IP_SPLIT_RESULT    117.111.28.166
SEQUENCE_PARSE       <1,31,113,1>
Name: 7573, dtype: object
ID                                                             36301
IP_SPLIT_RESULT                                         66.102.8.135
SEQUENCE_PARSE     <5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5...
Name: 7574, dtype: object
ID                                                             36302
IP_SPLIT_RESULT                                       218.237.27.110

ID                          36455
IP_SPLIT_RESULT    173.252.90.164
SEQUENCE_PARSE                <1>
Name: 7728, dtype: object
ID                          36456
IP_SPLIT_RESULT    211.36.150.121
SEQUENCE_PARSE                <1>
Name: 7729, dtype: object
ID                          36457
IP_SPLIT_RESULT    173.252.90.166
SEQUENCE_PARSE                <5>
Name: 7730, dtype: object
ID                          36458
IP_SPLIT_RESULT    173.252.90.168
SEQUENCE_PARSE                <1>
Name: 7731, dtype: object
ID                          36459
IP_SPLIT_RESULT    173.252.90.165
SEQUENCE_PARSE                <1>
Name: 7732, dtype: object
ID                        36460
IP_SPLIT_RESULT    117.111.2.74
SEQUENCE_PARSE        <1,90,92>
Name: 7733, dtype: object
ID                           36461
IP_SPLIT_RESULT    121.138.167.200
SEQUENCE_PARSE             <32,93>
Name: 7734, dtype: object
ID                                                             36462
IP_SPLIT_RESULT                                       175.223.48.223
SEQUENCE_PARSE     <1,90,92,80,30,93,212,132,93,132,93,93,93,93,3...
Name: 7735, dtype: object
ID                                                             36463
IP_SPLIT_RESULT                                      210.178.124.204
SEQUENCE_PARSE     <32,93,32,93,132,93,93,132,93,93,32,93,32,93,9...
Name: 7736, dtype: object
ID                          36464
IP_SPLIT_RESULT    175.223.14.116
SEQUENCE_PARSE                <1>
Name: 7737, dtype: object
ID                           36465
IP_SPLIT_RESULT       211.223.31.6
SEQUENCE_PARSE     <132,93,132,93>
Name: 7738, dtype: object
ID                         36466
IP_SPLIT_RESULT    222.109.4.186
SEQUENCE_PARSE               <1>
Name: 7739, dtype: object
ID                          36467
IP_SPLIT_RESULT    218.53.242.212
SEQUENCE_PARSE                <1>
Name: 7740, dtype: object
ID                         36468
IP_SPLIT_RESULT    218.232.77.36
SEQUENCE_PARSE           <32,93>
Name: 7741, dtype: object
ID                                                             36469
IP_SPLIT_RESULT                                       175.223.48.223
SEQUENCE_PARSE     <93,132,93,132,93,93,1,130,90,92,87,89,23,1,13...
Name: 7742, dtype: object
ID                                       36470
IP_SPLIT_RESULT                 223.62.173.133
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93>
Name: 7743, dtype: object
ID                                                             36471
IP_SPLIT_RESULT                                        223.62.203.53
SEQUENCE_PARSE     <32,93,132,130,130,130,93,132,162,31,31,31,113...
Name: 7744, dtype: object
ID                           36472
IP_SPLIT_RESULT    121.152.219.171
SEQUENCE_PARSE                <87>
Name: 7745, dtype: object
ID                                                             36473
IP_SPLIT_RESULT                                        124.5.244.222
SEQUENCE_PARSE     <1,132,132,132,158,160,132,93,132,132,158,160,...
Name: 7746, dtype: object
ID                        36474
IP_SPLIT_RESULT    223.62.8.161
SEQUENCE_PARSE       <31,113,1>
Name: 7747, dtype: object
ID                                                             36475
IP_SPLIT_RESULT                                       175.223.49.196
SEQUENCE_PARSE     <31,113,1,132,113,132,31,113,31,31,113,31,113,...
Name: 7748, dtype: object
ID                        36476
IP_SPLIT_RESULT    59.8.168.222
SEQUENCE_PARSE              <1>
Name: 7749, dtype: object
ID                       36477
IP_SPLIT_RESULT    1.226.91.16
SEQUENCE_PARSE           <5,1>
Name: 7750, dtype: object
ID                                                             36478
IP_SPLIT_RESULT                                         121.190.2.32
SEQUENCE_PARSE     <1,90,92,80,29,212,132,113,132,113,132,212,132...
Name: 7751, dtype: object
ID                         36479
IP_SPLIT_RESULT    64.209.89.103
SEQUENCE_PARSE               <1>
Name: 7752, dtype: object
ID                       36480
IP_SPLIT_RESULT    77.75.77.95
SEQUENCE_PARSE             <1>
Name: 7753, dtype: object
ID                           36481
IP_SPLIT_RESULT      58.143.254.26
SEQUENCE_PARSE     <33,164,33,164>
Name: 7754, dtype: object
ID                          36482
IP_SPLIT_RESULT    175.198.91.120
SEQUENCE_PARSE                <1>
Name: 7755, dtype: object
ID                        36483
IP_SPLIT_RESULT    27.35.72.137
SEQUENCE_PARSE              <1>
Name: 7756, dtype: object
ID                          36484
IP_SPLIT_RESULT    211.36.132.120
SEQUENCE_PARSE               <31>
Name: 7757, dtype: object
ID                                             36485
IP_SPLIT_RESULT                        211.36.142.21
SEQUENCE_PARSE     <1,12,132,158,160,12,132,158,160>
Name: 7758, dtype: object
ID                          36486
IP_SPLIT_RESULT    211.36.132.120
SEQUENCE_PARSE              <113>
Name: 7759, dtype: object
ID                                                             36487
IP_SPLIT_RESULT                                        218.38.255.81
SEQUENCE_PARSE     <1,93,93,93,113,113,113,113,113,113,113,113,31...
Name: 7760, dtype: object
ID                          36488
IP_SPLIT_RESULT    175.157.237.69
SEQUENCE_PARSE                <1>
Name: 7761, dtype: object
ID                          36489
IP_SPLIT_RESULT    175.157.237.69
SEQUENCE_PARSE                <1>
Name: 7762, dtype: object
ID                                                             36490
IP_SPLIT_RESULT                                       117.111.28.162
SEQUENCE_PARSE     <1,32,32,32,93,32,32,32,93,132,93,132,93,132,9...
Name: 7763, dtype: object
ID                                                             36491
IP_SPLIT_RESULT                                        218.38.255.81
SEQUENCE_PARSE     <93,14,87,93,212,14,93,132,85,93,113,132,132,1...
Name: 7764, dtype: object
ID                                              36492
IP_SPLIT_RESULT                        223.33.165.195
SEQUENCE_PARSE     <1,132,113,132,113,113,212,14,113>
Name: 7765, dtype: object
ID                                      36493
IP_SPLIT_RESULT                 110.70.58.134
SEQUENCE_PARSE     <1,132,93,132,93,90,92,93>
Name: 7766, dtype: object
ID                          36494
IP_SPLIT_RESULT    223.54.125.247
SEQUENCE_PARSE                <1>
Name: 7767, dtype: object
ID                        36495
IP_SPLIT_RESULT    114.30.149.4
SEQUENCE_PARSE              <1>
Name: 7768, dtype: object
ID                                                             36496
IP_SPLIT_RESULT                                        116.37.96.174
SEQUENCE_PARSE     <29,132,113,132,113,113,113,29,132,113,113,132...
Name: 7769, dtype: object
ID                                                             36497
IP_SPLIT_RESULT                                        117.111.2.108
SEQUENCE_PARSE     <1,90,130,130,130,130,130,130,130,130,130,1,19...
Name: 7770, dtype: object
ID                                 36498
IP_SPLIT_RESULT           223.54.125.247
SEQUENCE_PARSE     <132,93,132,93,93,93>
Name: 7771, dtype: object
ID                         36499
IP_SPLIT_RESULT    117.111.2.108
SEQUENCE_PARSE        <130,1,90>
Name: 7772, dtype: object
ID                           36500
IP_SPLIT_RESULT    104.131.147.112
SEQUENCE_PARSE                 <1>
Name: 7773, dtype: object
ID                                                             36501
IP_SPLIT_RESULT                                       211.36.134.115
SEQUENCE_PARSE     <1,113,113,31,113,31,113,113,31,113,113,113,31...
Name: 7774, dtype: object
ID                                                           36502
IP_SPLIT_RESULT                                     211.36.134.115
SEQUENCE_PARSE     <132,113,132,113,113,113,113,31,113,113,31,113>
Name: 7775, dtype: object
ID                          36503
IP_SPLIT_RESULT    175.223.44.206
SEQUENCE_PARSE         <32,93,32>
Name: 7776, dtype: object
ID                                                             36504
IP_SPLIT_RESULT                                      211.184.238.123
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,132,93,132,93,1...
Name: 7777, dtype: object
ID                        36505
IP_SPLIT_RESULT    208.95.14.28
SEQUENCE_PARSE              <1>
Name: 7778, dtype: object
ID                                                             36506
IP_SPLIT_RESULT                                      106.250.138.184
SEQUENCE_PARSE     <1,63,132,93,132,93,63,63,1,132,113,132,113,11...
Name: 7779, dtype: object
ID                        36507
IP_SPLIT_RESULT    66.249.66.75
SEQUENCE_PARSE              <1>
Name: 7780, dtype: object
ID                      36508
IP_SPLIT_RESULT    59.31.4.34
SEQUENCE_PARSE     <32,32,32>
Name: 7781, dtype: object
ID                                                             36509
IP_SPLIT_RESULT                                         110.70.55.84
SEQUENCE_PARSE     <32,132,162,180,90,92,87,80,24,25,1,113,132,13...
Name: 7782, dtype: object
ID                                                             36510
IP_SPLIT_RESULT                                         110.70.55.84
SEQUENCE_PARSE     <93,32,93,178,132,1,92,89,212,132,31,113,113,1...
Name: 7783, dtype: object
ID                                36511
IP_SPLIT_RESULT           211.36.131.42
SEQUENCE_PARSE     <1,93,132,93,132,92>
Name: 7784, dtype: object
ID                         36512
IP_SPLIT_RESULT    211.36.131.42
SEQUENCE_PARSE           <90,92>
Name: 7785, dtype: object
ID                                                       36513
IP_SPLIT_RESULT                                223.194.196.113
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,113,113>
Name: 7786, dtype: object
ID                                                             36514
IP_SPLIT_RESULT                                       223.62.203.195
SEQUENCE_PARSE     <32,33,1,132,1,132,132,158,160,164,33,164,1,13...
Name: 7787, dtype: object
ID                                                             36515
IP_SPLIT_RESULT                                          39.119.98.9
SEQUENCE_PARSE     <29,132,113,132,113,29,132,113,132,113,132,81,...
Name: 7788, dtype: object
ID                                                             36516
IP_SPLIT_RESULT                                      106.250.138.184
SEQUENCE_PARSE     <1,63,63,63,113,113,113,113,31,113,113,132,113...
Name: 7789, dtype: object
ID                                                             36517
IP_SPLIT_RESULT                                       117.111.15.203
SEQUENCE_PARSE     <32,93,30,30,132,93,132,93,32,93,93,93,93,93,3...
Name: 7790, dtype: object
ID                        36518
IP_SPLIT_RESULT    66.249.66.89
SEQUENCE_PARSE              <1>
Name: 7791, dtype: object
ID                          36519
IP_SPLIT_RESULT    173.252.124.11
SEQUENCE_PARSE            <1,5,1>
Name: 7792, dtype: object
ID                          36520
IP_SPLIT_RESULT    180.69.236.210
SEQUENCE_PARSE                <1>
Name: 7793, dtype: object
ID                       36521
IP_SPLIT_RESULT    180.70.46.4
SEQUENCE_PARSE             <1>
Name: 7794, dtype: object
ID                                                             36522
IP_SPLIT_RESULT                                         223.62.188.9
SEQUENCE_PARSE     <32,32,1,90,33,164,33,164,33,164,1,93,132,132,...
Name: 7795, dtype: object
ID                                                             36523
IP_SPLIT_RESULT                                       223.62.188.149
SEQUENCE_PARSE     <32,93,132,1,132,132,158,160,93,132,158,160,13...
Name: 7796, dtype: object
ID                                 36524
IP_SPLIT_RESULT            220.118.72.81
SEQUENCE_PARSE     <32,93,132,93,132,93>
Name: 7797, dtype: object
ID                                                             36525
IP_SPLIT_RESULT                                        223.38.10.197
SEQUENCE_PARSE     <1,92,23,92,132,162,166,162,132,93,132,32,93,3...
Name: 7798, dtype: object
ID                         36526
IP_SPLIT_RESULT    211.36.141.51
SEQUENCE_PARSE               <1>
Name: 7799, dtype: object
ID                                                             36527
IP_SPLIT_RESULT                                        211.248.3.102
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 7800, dtype: object
ID                                                             36528
IP_SPLIT_RESULT                                         223.62.188.9
SEQUENCE_PARSE     <32,93,32,93,1,132,93,132,132,93,132,93,93,33,...
Name: 7801, dtype: object
ID                                                             36529
IP_SPLIT_RESULT                                       223.33.153.139
SEQUENCE_PARSE     <29,113,132,113,132,113,113,31,113,31,113,132,...
Name: 7802, dtype: object
ID                          36530
IP_SPLIT_RESULT    101.236.19.241
SEQUENCE_PARSE                <1>
Name: 7803, dtype: object
ID                           36531
IP_SPLIT_RESULT      211.248.3.102
SEQUENCE_PARSE     <132,132,93,93>
Name: 7804, dtype: object
ID                                                             36532
IP_SPLIT_RESULT                                       223.62.188.149
SEQUENCE_PARSE     <1,32,93,132,162,166,162,132,93,132,93,1,132,1...
Name: 7805, dtype: object
ID                         36533
IP_SPLIT_RESULT    218.39.100.91
SEQUENCE_PARSE           <1,5,1>
Name: 7806, dtype: object
ID                                                          36534
IP_SPLIT_RESULT                                    175.223.49.238
SEQUENCE_PARSE     <1,132,93,132,132,158,160,113,132,113,132,113>
Name: 7807, dtype: object
ID                                                             36535
IP_SPLIT_RESULT                                        49.172.188.23
SEQUENCE_PARSE     <32,93,32,93,132,93,113,212,113,14,113,132,93,...
Name: 7808, dtype: object
ID                                                             36536
IP_SPLIT_RESULT                                      221.139.115.164
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,80,30...
Name: 7809, dtype: object
ID                                   36537
IP_SPLIT_RESULT             175.223.49.152
SEQUENCE_PARSE     <32,93,63,89,198,90,27>
Name: 7810, dtype: object
ID                                                             36538
IP_SPLIT_RESULT                                       223.62.203.132
SEQUENCE_PARSE     <32,93,132,162,166,162,93,32,93,132,93,132,93,...
Name: 7811, dtype: object
ID                         36539
IP_SPLIT_RESULT      39.7.57.251
SEQUENCE_PARSE     <32,93,32,93>
Name: 7812, dtype: object
ID                                  36540
IP_SPLIT_RESULT              223.38.18.38
SEQUENCE_PARSE     <1,12,132,158,160,164>
Name: 7813, dtype: object
ID                       36541
IP_SPLIT_RESULT    39.7.19.194
SEQUENCE_PARSE       <8,132,1>
Name: 7814, dtype: object
ID                                                             36542
IP_SPLIT_RESULT                                       223.62.203.152
SEQUENCE_PARSE     <1,31,113,132,113,132,113,31,113,31,113,132,16...
Name: 7815, dtype: object
ID                                  36543
IP_SPLIT_RESULT             210.97.92.182
SEQUENCE_PARSE     <1,132,132,158,160,93>
Name: 7816, dtype: object
ID                                                             36544
IP_SPLIT_RESULT                                          39.7.47.245
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,90,130,132,93,132...
Name: 7817, dtype: object
ID                                                             36545
IP_SPLIT_RESULT                                        116.125.9.166
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,90,92,5,1,87,189,132,132,31...
Name: 7818, dtype: object
ID                        36546
IP_SPLIT_RESULT    223.62.22.97
SEQUENCE_PARSE         <10,132>
Name: 7819, dtype: object
ID                                                             36547
IP_SPLIT_RESULT                                       175.223.44.168
SEQUENCE_PARSE     <93,92,80,22,132,93,132,93,93,32,93,32,93,32,9...
Name: 7820, dtype: object
ID                                                             36548
IP_SPLIT_RESULT                                       180.67.132.197
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,90,87...
Name: 7821, dtype: object
ID                          36549
IP_SPLIT_RESULT    218.157.159.32
SEQUENCE_PARSE                <1>
Name: 7822, dtype: object
ID                         36550
IP_SPLIT_RESULT    82.208.129.45
SEQUENCE_PARSE               <1>
Name: 7823, dtype: object
ID                             36551
IP_SPLIT_RESULT       125.178.50.142
SEQUENCE_PARSE     <5,1,132,1,90,92>
Name: 7824, dtype: object
ID                         36552
IP_SPLIT_RESULT    116.44.116.74
SEQUENCE_PARSE             <5,1>
Name: 7825, dtype: object
ID                                                             36553
IP_SPLIT_RESULT                                       220.79.254.197
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 7826, dtype: object
ID                         36554
IP_SPLIT_RESULT    125.181.75.19
SEQUENCE_PARSE               <1>
Name: 7827, dtype: object
ID                                                             36555
IP_SPLIT_RESULT                                       211.36.141.218
SEQUENCE_PARSE     <1,132,132,158,160,113,90,92,87,27,92,1,31,113...
Name: 7828, dtype: object
ID                          36556
IP_SPLIT_RESULT    125.178.50.142
SEQUENCE_PARSE               <92>
Name: 7829, dtype: object
ID                         36557
IP_SPLIT_RESULT    183.96.120.66
SEQUENCE_PARSE               <1>
Name: 7830, dtype: object
ID                        36558
IP_SPLIT_RESULT    1.231.88.126
SEQUENCE_PARSE              <1>
Name: 7831, dtype: object
ID                                                             36559
IP_SPLIT_RESULT                                       180.67.132.197
SEQUENCE_PARSE     <92,80,30,132,93,132,93,93,93,32,93,32,93,32,9...
Name: 7832, dtype: object
ID                                                             36560
IP_SPLIT_RESULT                                      221.139.115.164
SEQUENCE_PARSE     <90,92,87,89,113,113,212,113,14,113,132,93,132...
Name: 7833, dtype: object
ID                          36561
IP_SPLIT_RESULT    218.157.159.32
SEQUENCE_PARSE                <1>
Name: 7834, dtype: object
ID                                                        36562
IP_SPLIT_RESULT                                  114.207.199.56
SEQUENCE_PARSE     <1,63,195,1,31,113,113,113,31,31,31,31,31,1>
Name: 7835, dtype: object
ID                          36563
IP_SPLIT_RESULT    121.156.152.44
SEQUENCE_PARSE                <1>
Name: 7836, dtype: object
ID                                   36564
IP_SPLIT_RESULT              39.120.70.119
SEQUENCE_PARSE     <93,32,93,33,164,130,1>
Name: 7837, dtype: object
ID                                               36565
IP_SPLIT_RESULT                           14.42.41.243
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113>
Name: 7838, dtype: object
ID                        36566
IP_SPLIT_RESULT    223.38.10.57
SEQUENCE_PARSE        <1,90,92>
Name: 7839, dtype: object
ID                                                             36567
IP_SPLIT_RESULT                                          223.62.8.59
SEQUENCE_PARSE     <1,90,90,92,89,91,26,26,130,130,113,33,164,30,...
Name: 7840, dtype: object
ID                         36568
IP_SPLIT_RESULT    121.132.4.188
SEQUENCE_PARSE               <1>
Name: 7841, dtype: object
ID                          36569
IP_SPLIT_RESULT    46.252.194.178
SEQUENCE_PARSE                <1>
Name: 7842, dtype: object
ID                             36570
IP_SPLIT_RESULT        115.23.61.198
SEQUENCE_PARSE     <113,132,132,113>
Name: 7843, dtype: object
ID                       36571
IP_SPLIT_RESULT    39.115.8.58
SEQUENCE_PARSE         <1,5,1>
Name: 7844, dtype: object

ID                         36722
IP_SPLIT_RESULT    117.111.5.118
SEQUENCE_PARSE          <31,113>
Name: 7995, dtype: object
ID                           36723
IP_SPLIT_RESULT    175.195.110.181
SEQUENCE_PARSE             <32,93>
Name: 7996, dtype: object
ID                          36724
IP_SPLIT_RESULT    218.235.249.77
SEQUENCE_PARSE            <32,93>
Name: 7997, dtype: object
ID                                                36725
IP_SPLIT_RESULT                          210.183.241.67
SEQUENCE_PARSE     <1,5,1,130,130,132,93,1,5,1,5,1,5,1>
Name: 7998, dtype: object
ID                                                             36726
IP_SPLIT_RESULT                                         59.4.140.231
SEQUENCE_PARSE     <1,90,89,80,29,212,132,113,132,113,132,10,113,...
Name: 7999, dtype: object
ID                            36727
IP_SPLIT_RESULT        110.70.53.98
SEQUENCE_PARSE     <1,63,63,90,132>
Name: 8000, dtype: object
ID                                                             36728
IP_SPLIT_RESULT                                         59.4.140.231
SEQUENCE_PARSE     <92,87,212,132,113,132,113,31,113,113,113,113,...
Name: 8001, dtype: object
ID                                                           36729
IP_SPLIT_RESULT                                     121.135.204.42
SEQUENCE_PARSE     <39,164,93,132,132,158,160,113,132,158,160,164>
Name: 8002, dtype: object
ID                        36730
IP_SPLIT_RESULT    110.70.53.98
SEQUENCE_PARSE           <1,10>
Name: 8003, dtype: object
ID                          36731
IP_SPLIT_RESULT    220.117.39.231
SEQUENCE_PARSE                <1>
Name: 8004, dtype: object
ID                          36732
IP_SPLIT_RESULT    210.183.241.67
SEQUENCE_PARSE              <132>
Name: 8005, dtype: object
ID                                                     36733
IP_SPLIT_RESULT                               121.135.204.42
SEQUENCE_PARSE     <164,132,132,158,160,164,132,158,160,164>
Name: 8006, dtype: object
ID                           36734
IP_SPLIT_RESULT    221.160.245.144
SEQUENCE_PARSE             <1,5,1>
Name: 8007, dtype: object
ID                                                             36735
IP_SPLIT_RESULT                                       223.62.213.250
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,31,11...
Name: 8008, dtype: object
ID                         36736
IP_SPLIT_RESULT    39.113.245.62
SEQUENCE_PARSE         <1,90,87>
Name: 8009, dtype: object
ID                                                             36737
IP_SPLIT_RESULT                                       223.62.213.250
SEQUENCE_PARSE     <31,113,31,113,113,31,113,14,113,113,14,212,11...
Name: 8010, dtype: object
ID                           36738
IP_SPLIT_RESULT    221.150.249.142
SEQUENCE_PARSE       <32,93,32,93>
Name: 8011, dtype: object
ID                          36739
IP_SPLIT_RESULT    211.232.173.36
SEQUENCE_PARSE                <1>
Name: 8012, dtype: object
ID                          36740
IP_SPLIT_RESULT    121.183.233.19
SEQUENCE_PARSE          <1,32,93>
Name: 8013, dtype: object
ID                                                             36741
IP_SPLIT_RESULT                                       121.191.46.119
SEQUENCE_PARSE     <29,132,113,132,113,29,132,113,132,29,132,113,...
Name: 8014, dtype: object
ID                                                   36742
IP_SPLIT_RESULT                              110.70.26.139
SEQUENCE_PARSE     <113,132,113,132,113,113,113,113,113,1>
Name: 8015, dtype: object
ID                            36743
IP_SPLIT_RESULT       118.34.11.222
SEQUENCE_PARSE     <29,132,113,113>
Name: 8016, dtype: object
ID                         36744
IP_SPLIT_RESULT    27.124.155.63
SEQUENCE_PARSE               <1>
Name: 8017, dtype: object
ID                         36745
IP_SPLIT_RESULT    49.164.95.169
SEQUENCE_PARSE             <5,1>
Name: 8018, dtype: object
ID                          36746
IP_SPLIT_RESULT    117.111.27.159
SEQUENCE_PARSE                <1>
Name: 8019, dtype: object
ID                                                             36747
IP_SPLIT_RESULT                                        124.51.236.21
SEQUENCE_PARSE     <32,93,132,162,132,93,132,93,93,93,93,1,132,93...
Name: 8020, dtype: object
ID                                                             36748
IP_SPLIT_RESULT                                         59.9.149.188
SEQUENCE_PARSE     <1,90,87,132,39,164,130,164,39,164,1,132,1,132...
Name: 8021, dtype: object
ID                                                             36749
IP_SPLIT_RESULT                                       210.178.235.53
SEQUENCE_PARSE     <31,113,132,113,113,132,31,113,113,113,113,113...
Name: 8022, dtype: object
ID                                                             36750
IP_SPLIT_RESULT                                         59.9.149.188
SEQUENCE_PARSE     <92,89,80,29,212,132,113,132,113,132,10,1,132,...
Name: 8023, dtype: object
ID                          36751
IP_SPLIT_RESULT    216.218.206.66
SEQUENCE_PARSE                <1>
Name: 8024, dtype: object
ID                             36752
IP_SPLIT_RESULT       117.111.28.234
SEQUENCE_PARSE     <39,164,39,164,1>
Name: 8025, dtype: object
ID                           36753
IP_SPLIT_RESULT    211.255.219.139
SEQUENCE_PARSE                 <1>
Name: 8026, dtype: object
ID                          36754
IP_SPLIT_RESULT    175.223.36.231
SEQUENCE_PARSE                <1>
Name: 8027, dtype: object
ID                                                             36755
IP_SPLIT_RESULT                                           223.38.8.3
SEQUENCE_PARSE     <32,93,31,113,164,164,164,164,164,1,132,81,132...
Name: 8028, dtype: object
ID                        36756
IP_SPLIT_RESULT    66.249.66.74
SEQUENCE_PARSE              <1>
Name: 8029, dtype: object
ID                                36757
IP_SPLIT_RESULT          175.223.36.231
SEQUENCE_PARSE     <1,132,93,132,93,93>
Name: 8030, dtype: object
ID                          36758
IP_SPLIT_RESULT    117.111.28.234
SEQUENCE_PARSE            <164,1>
Name: 8031, dtype: object
ID                                                             36759
IP_SPLIT_RESULT                                        175.223.44.14
SEQUENCE_PARSE     <29,31,113,113,113,113,113,113,113,113,113,113...
Name: 8032, dtype: object
ID                             36760
IP_SPLIT_RESULT        175.223.44.14
SEQUENCE_PARSE     <132,113,132,113>
Name: 8033, dtype: object
ID                                                             36761
IP_SPLIT_RESULT                                       211.204.31.220
SEQUENCE_PARSE     <1,132,132,158,160,1,93,93,93,93,32,32,32,32,9...
Name: 8034, dtype: object
ID                               36762
IP_SPLIT_RESULT           211.51.35.28
SEQUENCE_PARSE     <32,93,32,93,32,93>
Name: 8035, dtype: object
ID                         36763
IP_SPLIT_RESULT    175.223.19.48
SEQUENCE_PARSE      <113,113,93>
Name: 8036, dtype: object
ID                          36764
IP_SPLIT_RESULT    211.201.89.224
SEQUENCE_PARSE            <32,93>
Name: 8037, dtype: object
ID                                                   36765
IP_SPLIT_RESULT                               223.62.8.177
SEQUENCE_PARSE     <1,130,130,132,93,132,93,93,93,93,93,1>
Name: 8038, dtype: object
ID                           36766
IP_SPLIT_RESULT    121.167.170.164
SEQUENCE_PARSE       <32,32,32,93>
Name: 8039, dtype: object
ID                                                             36767
IP_SPLIT_RESULT                                        223.62.10.222
SEQUENCE_PARSE     <32,93,32,93,32,93,32,93,1,132,113,132,113,31,...
Name: 8040, dtype: object
ID                                                             36768
IP_SPLIT_RESULT                                         223.33.165.1
SEQUENCE_PARSE     <32,32,1,132,113,132,33,164,81,132,81,132,113,...
Name: 8041, dtype: object
ID                                                             36769
IP_SPLIT_RESULT                                       117.111.18.154
SEQUENCE_PARSE     <1,93,132,93,132,32,93,32,93,32,93,32,93,32,93...
Name: 8042, dtype: object
ID                                                     36770
IP_SPLIT_RESULT                                110.70.26.196
SEQUENCE_PARSE     <1,93,132,132,93,132,113,132,113,1,93,93>
Name: 8043, dtype: object
ID                                                             36771
IP_SPLIT_RESULT                                        39.115.12.135
SEQUENCE_PARSE     <1,130,132,113,132,113,31,113,113,113,113,113,...
Name: 8044, dtype: object
ID                          36772
IP_SPLIT_RESULT    211.36.149.168
SEQUENCE_PARSE         <39,164,1>
Name: 8045, dtype: object
ID                         36773
IP_SPLIT_RESULT    223.62.21.185
SEQUENCE_PARSE            <39,1>
Name: 8046, dtype: object
ID                         36774
IP_SPLIT_RESULT    223.62.21.185
SEQUENCE_PARSE         <164,164>
Name: 8047, dtype: object
ID                                           36775
IP_SPLIT_RESULT                      223.39.138.17
SEQUENCE_PARSE     <113,113,1,130,130,130,130,130>
Name: 8048, dtype: object
ID                                                             36776
IP_SPLIT_RESULT                                        114.202.5.174
SEQUENCE_PARSE     <39,164,130,164,39,164,93,164,132,132,158,160,...
Name: 8049, dtype: object
ID                                                             36777
IP_SPLIT_RESULT                                        39.115.12.135
SEQUENCE_PARSE     <113,31,113,113,113,113,113,113,113,113,113,11...
Name: 8050, dtype: object
ID                                                             36778
IP_SPLIT_RESULT                                        114.202.5.174
SEQUENCE_PARSE     <1,93,39,164,39,164,93,14,93,93,212,14,93,14,9...
Name: 8051, dtype: object
ID                                                36779
IP_SPLIT_RESULT                            110.70.14.81
SEQUENCE_PARSE     <12,1,158,164,164,132,1,93,93,93,93>
Name: 8052, dtype: object
ID                                                             36780
IP_SPLIT_RESULT                                         223.38.8.168
SEQUENCE_PARSE     <1,132,132,158,160,132,113,132,113,113,113,31,...
Name: 8053, dtype: object
ID                               36781
IP_SPLIT_RESULT          110.70.55.254
SEQUENCE_PARSE     <1,132,93,132,1,90>
Name: 8054, dtype: object
ID                                                             36782
IP_SPLIT_RESULT                                         223.62.212.9
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,93,93,132,93,132,...
Name: 8055, dtype: object
ID                         36783
IP_SPLIT_RESULT    124.49.237.29
SEQUENCE_PARSE               <1>
Name: 8056, dtype: object
ID                                                     36784
IP_SPLIT_RESULT                                   39.7.18.72
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,87,89>
Name: 8057, dtype: object
ID                        36785
IP_SPLIT_RESULT    175.223.21.1
SEQUENCE_PARSE          <32,93>
Name: 8058, dtype: object
ID                                    36786
IP_SPLIT_RESULT                  39.7.18.72
SEQUENCE_PARSE     <90,92,91,26,26,26,23,1>
Name: 8059, dtype: object
ID                         36787
IP_SPLIT_RESULT    220.118.99.97
SEQUENCE_PARSE           <32,93>
Name: 8060, dtype: object
ID                                     36788
IP_SPLIT_RESULT                223.39.146.37
SEQUENCE_PARSE     <31,113,31,113,132,113,1>
Name: 8061, dtype: object
ID                                                             36789
IP_SPLIT_RESULT                                        118.42.115.69
SEQUENCE_PARSE     <1,93,93,93,1,93,87,93,212,14,93,1,93,87,1,93,...
Name: 8062, dtype: object
ID                         36790
IP_SPLIT_RESULT    223.39.146.37
SEQUENCE_PARSE          <31,113>
Name: 8063, dtype: object
ID                                                      36791
IP_SPLIT_RESULT                                211.36.142.107
SEQUENCE_PARSE     <132,113,113,132,113,31,113,113,113,87,89>
Name: 8064, dtype: object
ID                                                             36792
IP_SPLIT_RESULT                                         58.123.90.60
SEQUENCE_PARSE     <32,93,32,93,81,132,132,93,93,132,162,166,162,...
Name: 8065, dtype: object
ID                                                             36793
IP_SPLIT_RESULT                                         223.38.8.107
SEQUENCE_PARSE     <1,33,164,33,164,33,164,33,164,1,130,113,1,32,...
Name: 8066, dtype: object
ID                                                             36794
IP_SPLIT_RESULT                                        211.36.139.27
SEQUENCE_PARSE     <39,164,1,39,164,1,130,39,164,130,164,164,164,...
Name: 8067, dtype: object
ID                                                             36795
IP_SPLIT_RESULT                                         223.38.8.107
SEQUENCE_PARSE     <1,93,132,132,93,132,113,132,113,113,113,113,1...
Name: 8068, dtype: object
ID                       36796
IP_SPLIT_RESULT    77.75.77.95
SEQUENCE_PARSE             <1>
Name: 8069, dtype: object
ID                                                             36797
IP_SPLIT_RESULT                                      211.210.144.109
SEQUENCE_PARSE     <32,93,1,132,93,132,93,93,93,93,93,93,93,93,93...
Name: 8070, dtype: object
ID                                                             36798
IP_SPLIT_RESULT                                        117.111.5.235
SEQUENCE_PARSE     <1,130,132,113,113,132,1,132,113,113,132,113,1...
Name: 8071, dtype: object
ID                        36799
IP_SPLIT_RESULT    59.29.164.32
SEQUENCE_PARSE          <1,5,1>
Name: 8072, dtype: object
ID                                                             36800
IP_SPLIT_RESULT                                      116.124.142.150
SEQUENCE_PARSE     <29,132,113,132,113,113,113,113,113,113,113,11...
Name: 8073, dtype: object
ID                         36801
IP_SPLIT_RESULT    223.62.162.99
SEQUENCE_PARSE               <1>
Name: 8074, dtype: object
ID                                                             36802
IP_SPLIT_RESULT                                       220.86.113.213
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 8075, dtype: object
ID                                                             36803
IP_SPLIT_RESULT                                        175.223.23.35
SEQUENCE_PARSE     <1,31,132,132,132,113,31,113,113,31,113,31,113...
Name: 8076, dtype: object
ID                          36804
IP_SPLIT_RESULT    58.123.202.142
SEQUENCE_PARSE                <1>
Name: 8077, dtype: object
ID                                         36805
IP_SPLIT_RESULT                   223.131.59.214
SEQUENCE_PARSE     <1,5,1,90,92,132,132,132,132>
Name: 8078, dtype: object
ID                         36806
IP_SPLIT_RESULT    66.249.92.137
SEQUENCE_PARSE               <1>
Name: 8079, dtype: object
ID                                                     36807
IP_SPLIT_RESULT                               121.130.11.163
SEQUENCE_PARSE     <1,132,93,132,93,132,113,132,113,113,113>
Name: 8080, dtype: object
ID                                         36808
IP_SPLIT_RESULT                     116.37.5.233
SEQUENCE_PARSE     <32,93,33,164,32,93,32,32,93>
Name: 8081, dtype: object
ID                        36809
IP_SPLIT_RESULT    66.249.66.80
SEQUENCE_PARSE              <1>
Name: 8082, dtype: object
ID                                                36810
IP_SPLIT_RESULT                            116.37.5.233
SEQUENCE_PARSE     <1,132,132,158,160,32,93,93,1,32,93>
Name: 8083, dtype: object
ID                             36811
IP_SPLIT_RESULT       118.37.178.158
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 8084, dtype: object
ID                                                             36812
IP_SPLIT_RESULT                                           39.7.53.20
SEQUENCE_PARSE     <32,93,1,92,87,89,80,24,212,132,1,90,132,93,13...
Name: 8085, dtype: object
ID                                                             36813
IP_SPLIT_RESULT                                       223.131.59.214
SEQUENCE_PARSE     <132,93,132,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 8086, dtype: object
ID                                                         36814
IP_SPLIT_RESULT                                   175.223.11.188
SEQUENCE_PARSE     <29,132,113,132,113,31,113,31,113,113,113,29>
Name: 8087, dtype: object
ID                           36815
IP_SPLIT_RESULT    112.167.217.179
SEQUENCE_PARSE                 <1>
Name: 8088, dtype: object
ID                                                             36816
IP_SPLIT_RESULT                                       117.111.28.154
SEQUENCE_PARSE     <1,31,113,132,113,132,31,113,132,162,166,162,1...
Name: 8089, dtype: object
ID                                                             36817
IP_SPLIT_RESULT                                       175.223.11.188
SEQUENCE_PARSE     <29,132,113,132,113,31,113,29,132,113,132,113,...
Name: 8090, dtype: object
ID                                                             36818
IP_SPLIT_RESULT                                        110.70.27.198
SEQUENCE_PARSE     <1,33,164,132,162,132,162,1,132,93,132,93,93,3...
Name: 8091, dtype: object
ID                          36819
IP_SPLIT_RESULT    110.10.246.217
SEQUENCE_PARSE                <1>
Name: 8092, dtype: object
ID                               36820
IP_SPLIT_RESULT           223.39.150.2
SEQUENCE_PARSE     <132,132,158,160,1>
Name: 8093, dtype: object
ID                                36821
IP_SPLIT_RESULT          175.192.89.146
SEQUENCE_PARSE     <132,113,113,132,29>
Name: 8094, dtype: object
ID                        36822
IP_SPLIT_RESULT    125.131.4.42
SEQUENCE_PARSE          <25,90>
Name: 8095, dtype: object
ID                          36823
IP_SPLIT_RESULT    124.199.191.35
SEQUENCE_PARSE       <1,90,87,89>
Name: 8096, dtype: object
ID                          36824
IP_SPLIT_RESULT    115.126.232.76
SEQUENCE_PARSE                <1>
Name: 8097, dtype: object
ID                                                             36825
IP_SPLIT_RESULT                                       175.223.27.114
SEQUENCE_PARSE     <180,132,180,113,180,132,93,132,93,180,32,93,1...
Name: 8098, dtype: object
ID                                                             36826
IP_SPLIT_RESULT                                       175.223.27.114
SEQUENCE_PARSE     <180,93,93,180,93,93,180,32,93,180,32,180,93,1...
Name: 8099, dtype: object
ID                          36827
IP_SPLIT_RESULT    124.199.191.35
SEQUENCE_PARSE               <92>
Name: 8100, dtype: object
ID                                                             36828
IP_SPLIT_RESULT                                        211.36.146.51
SEQUENCE_PARSE     <1,93,132,132,93,132,93,132,93,93,132,132,93,9...
Name: 8101, dtype: object
ID                                                             36829
IP_SPLIT_RESULT                                          39.7.59.125
SEQUENCE_PARSE     <31,113,132,113,113,132,31,113,113,113,113,113...
Name: 8102, dtype: object
ID                                                             36830
IP_SPLIT_RESULT                                       211.36.139.221
SEQUENCE_PARSE     <1,90,93,132,132,93,93,1,90,92,87,92,89,1,132,...
Name: 8103, dtype: object
ID                                      36831
IP_SPLIT_RESULT                 175.223.26.74
SEQUENCE_PARSE     <39,93,93,132,132,158,160>
Name: 8104, dtype: object
ID                                                             36832
IP_SPLIT_RESULT                                        211.36.146.51
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,93,93,93,...
Name: 8105, dtype: object
ID                                                             36833

ID                                                             37005
IP_SPLIT_RESULT                                        14.46.160.203
SEQUENCE_PARSE     <31,113,132,113,113,132,113,113,31,113,1,113,1...
Name: 8278, dtype: object
ID                          37006
IP_SPLIT_RESULT    211.36.133.152
SEQUENCE_PARSE                <1>
Name: 8279, dtype: object
ID                                                             37007
IP_SPLIT_RESULT                                        118.222.78.98
SEQUENCE_PARSE     <89,80,26,26,26,25,87,1,5,1,5,1,5,1,5,1,132,1,...
Name: 8280, dtype: object
ID                                                             37008
IP_SPLIT_RESULT                                        49.143.95.149
SEQUENCE_PARSE     <1,27,132,93,132,93,93,93,93,93,93,93,93,93,93...
Name: 8281, dtype: object
ID                         37009
IP_SPLIT_RESULT    175.223.22.88
SEQUENCE_PARSE        <1,33,164>
Name: 8282, dtype: object
ID                                                             37010
IP_SPLIT_RESULT                                        14.46.160.203
SEQUENCE_PARSE     <31,113,132,93,132,93,132,113,132,113,113,113,...
Name: 8283, dtype: object
ID                          37011
IP_SPLIT_RESULT    121.140.65.222
SEQUENCE_PARSE          <5,1,5,1>
Name: 8284, dtype: object
ID                              37012
IP_SPLIT_RESULT         223.39.138.90
SEQUENCE_PARSE     <1,31,113,1,93,93>
Name: 8285, dtype: object
ID                                                             37013
IP_SPLIT_RESULT                                        49.166.193.71
SEQUENCE_PARSE     <1,63,89,195,90,87,89,80,26,25,63,1,130,93,87,...
Name: 8286, dtype: object
ID                                                             37014
IP_SPLIT_RESULT                                         223.38.8.168
SEQUENCE_PARSE     <1,132,132,158,160,132,132,113,132,113,113,113...
Name: 8287, dtype: object
ID                                   37015
IP_SPLIT_RESULT               122.32.57.58
SEQUENCE_PARSE     <1,93,132,132,93,90,92>
Name: 8288, dtype: object
ID                                                             37016
IP_SPLIT_RESULT                                        118.222.78.98
SEQUENCE_PARSE     <92,87,89,80,26,132,93,132,93,87,89,80,26,26,2...
Name: 8289, dtype: object
ID                        37017
IP_SPLIT_RESULT    61.253.133.9
SEQUENCE_PARSE              <1>
Name: 8290, dtype: object
ID                        37018
IP_SPLIT_RESULT    183.98.1.115
SEQUENCE_PARSE              <1>
Name: 8291, dtype: object
ID                                                             37019
IP_SPLIT_RESULT                                         1.229.162.30
SEQUENCE_PARSE     <1,90,92,25,90,92,25,90,1,90,92,87,80,24,212,1...
Name: 8292, dtype: object
ID                        37020
IP_SPLIT_RESULT    14.33.55.232
SEQUENCE_PARSE        <1,90,92>
Name: 8293, dtype: object
ID                                                             37021
IP_SPLIT_RESULT                                         1.235.59.243
SEQUENCE_PARSE     <1,132,93,132,93,132,113,132,113,113,113,113,1...
Name: 8294, dtype: object
ID                                                      37022
IP_SPLIT_RESULT                                61.254.172.124
SEQUENCE_PARSE     <1,113,132,113,132,113,113,31,113,113,113>
Name: 8295, dtype: object
ID                         37023
IP_SPLIT_RESULT    118.42.104.30
SEQUENCE_PARSE             <5,1>
Name: 8296, dtype: object
ID                         37024
IP_SPLIT_RESULT    223.39.131.82
SEQUENCE_PARSE         <5,1,5,1>
Name: 8297, dtype: object
ID                           37025
IP_SPLIT_RESULT    116.126.243.115
SEQUENCE_PARSE            <31,113>
Name: 8298, dtype: object
ID                                                             37026
IP_SPLIT_RESULT                                      121.140.224.141
SEQUENCE_PARSE     <30,132,132,93,93,93,93,93,132,132,93,93,93,93...
Name: 8299, dtype: object
ID                         37027
IP_SPLIT_RESULT    49.168.129.50
SEQUENCE_PARSE               <1>
Name: 8300, dtype: object
ID                                                             37028
IP_SPLIT_RESULT                                         59.28.30.235
SEQUENCE_PARSE     <31,113,1,132,113,113,132,113,113,31,113,31,93...
Name: 8301, dtype: object
ID                                       37029
IP_SPLIT_RESULT                   223.56.71.12
SEQUENCE_PARSE     <30,132,93,132,93,90,87,89>
Name: 8302, dtype: object
ID                                                             37030
IP_SPLIT_RESULT                                         211.51.35.28
SEQUENCE_PARSE     <32,93,132,32,93,32,93,32,93,32,93,32,93,32,93...
Name: 8303, dtype: object
ID                                                             37031
IP_SPLIT_RESULT                                         223.56.71.12
SEQUENCE_PARSE     <92,132,93,132,93,90,132,93,93,132,90,92,80,30...
Name: 8304, dtype: object
ID                          37032
IP_SPLIT_RESULT    211.232.252.87
SEQUENCE_PARSE                <1>
Name: 8305, dtype: object
ID                        37033
IP_SPLIT_RESULT    110.8.194.97
SEQUENCE_PARSE        <32,93,1>
Name: 8306, dtype: object
ID                                                             37034
IP_SPLIT_RESULT                                        211.36.142.20
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,113,113,113...
Name: 8307, dtype: object
ID                                                             37035
IP_SPLIT_RESULT                                         59.28.30.235
SEQUENCE_PARSE     <113,113,113,113,113,1,132,113,132,113,113,31,...
Name: 8308, dtype: object
ID                       37036
IP_SPLIT_RESULT    58.120.72.9
SEQUENCE_PARSE             <1>
Name: 8309, dtype: object
ID                                                             37037
IP_SPLIT_RESULT                                       58.238.199.178
SEQUENCE_PARSE     <31,1,113,132,132,132,174,172,170,1,132,174,17...
Name: 8310, dtype: object
ID                       37038
IP_SPLIT_RESULT    220.73.86.8
SEQUENCE_PARSE         <1,5,1>
Name: 8311, dtype: object
ID                                                             37039
IP_SPLIT_RESULT                                        223.62.213.80
SEQUENCE_PARSE     <31,113,132,31,113,132,93,132,93,93,93,32,93,9...
Name: 8312, dtype: object
ID                                               37040
IP_SPLIT_RESULT                           61.98.195.58
SEQUENCE_PARSE     <1,90,92,87,1,130,130,63,132,92,87>
Name: 8313, dtype: object
ID                                                             37041
IP_SPLIT_RESULT                                       223.39.149.239
SEQUENCE_PARSE     <31,31,31,31,31,1,132,132,1,90,92,87,89,80,24,...
Name: 8314, dtype: object
ID                                                             37042
IP_SPLIT_RESULT                                       223.39.149.239
SEQUENCE_PARSE     <31,113,113,132,93,132,93,93,93,93,93,93,93,21...
Name: 8315, dtype: object
ID                                                             37043
IP_SPLIT_RESULT                                       223.39.138.196
SEQUENCE_PARSE     <1,132,132,158,160,132,174,172,170,132,132,93,...
Name: 8316, dtype: object
ID                                                37044
IP_SPLIT_RESULT                          223.39.149.135
SEQUENCE_PARSE     <31,31,81,113,113,113,14,132,113,81>
Name: 8317, dtype: object
ID                           37045
IP_SPLIT_RESULT      223.62.179.17
SEQUENCE_PARSE     <31,113,31,113>
Name: 8318, dtype: object
ID                          37046
IP_SPLIT_RESULT    117.111.172.88
SEQUENCE_PARSE         <1,5,1,87>
Name: 8319, dtype: object
ID                          37047
IP_SPLIT_RESULT    117.111.172.88
SEQUENCE_PARSE            <90,92>
Name: 8320, dtype: object
ID                         37048
IP_SPLIT_RESULT    180.69.105.35
SEQUENCE_PARSE               <1>
Name: 8321, dtype: object
ID                                          37049
IP_SPLIT_RESULT                     223.62.179.17
SEQUENCE_PARSE     <31,113,132,162,93,132,93,113>
Name: 8322, dtype: object
ID                          37050
IP_SPLIT_RESULT    58.125.106.120
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 8323, dtype: object
ID                          37051
IP_SPLIT_RESULT    223.62.202.195
SEQUENCE_PARSE          <32,93,1>
Name: 8324, dtype: object
ID                          37052
IP_SPLIT_RESULT    112.168.89.247
SEQUENCE_PARSE                <1>
Name: 8325, dtype: object
ID                           37053
IP_SPLIT_RESULT      121.150.49.39
SEQUENCE_PARSE     <1,90,92,25,90>
Name: 8326, dtype: object
ID                          37054
IP_SPLIT_RESULT    58.140.209.147
SEQUENCE_PARSE                <1>
Name: 8327, dtype: object
ID                           37055
IP_SPLIT_RESULT       211.33.35.77
SEQUENCE_PARSE     <1,5,1,5,1,5,1>
Name: 8328, dtype: object
ID                           37056
IP_SPLIT_RESULT    222.109.102.242
SEQUENCE_PARSE          <1,29,212>
Name: 8329, dtype: object
ID                        37057
IP_SPLIT_RESULT    211.33.35.77
SEQUENCE_PARSE            <132>
Name: 8330, dtype: object
ID                                                 37058
IP_SPLIT_RESULT                            118.37.75.243
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,93,132,93>
Name: 8331, dtype: object
ID                                                             37059
IP_SPLIT_RESULT                                        223.62.213.80
SEQUENCE_PARSE     <31,113,132,93,93,132,93,93,132,113,132,113,13...
Name: 8332, dtype: object
ID                                                             37060
IP_SPLIT_RESULT                                         61.98.195.58
SEQUENCE_PARSE     <87,89,80,26,132,93,132,93,89,200,29,132,113,1...
Name: 8333, dtype: object
ID                          37061
IP_SPLIT_RESULT    103.224.118.85
SEQUENCE_PARSE                <1>
Name: 8334, dtype: object
ID                                                             37062
IP_SPLIT_RESULT                                       49.165.148.150
SEQUENCE_PARSE     <1,63,89,195,63,63,1,63,132,93,132,93,132,93,1...
Name: 8335, dtype: object
ID                                                             37063
IP_SPLIT_RESULT                                        119.71.139.74
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,113,113,132,...
Name: 8336, dtype: object
ID                          37064
IP_SPLIT_RESULT    121.148.19.246
SEQUENCE_PARSE              <5,1>
Name: 8337, dtype: object
ID                         37065
IP_SPLIT_RESULT    118.36.196.27
SEQUENCE_PARSE               <1>
Name: 8338, dtype: object
ID                           37066
IP_SPLIT_RESULT    175.119.117.175
SEQUENCE_PARSE                 <1>
Name: 8339, dtype: object
ID                           37067
IP_SPLIT_RESULT    220.116.244.190
SEQUENCE_PARSE                 <1>
Name: 8340, dtype: object
ID                          37068
IP_SPLIT_RESULT    222.105.100.97
SEQUENCE_PARSE                <1>
Name: 8341, dtype: object
ID                          37069
IP_SPLIT_RESULT    121.131.101.15
SEQUENCE_PARSE                <1>
Name: 8342, dtype: object
ID                                                             37070
IP_SPLIT_RESULT                                      125.141.116.185
SEQUENCE_PARSE     <1,93,93,132,132,93,93,93,93,93,93,93,93,41,1,...
Name: 8343, dtype: object
ID                        37071
IP_SPLIT_RESULT    182.93.6.195
SEQUENCE_PARSE          <1,164>
Name: 8344, dtype: object
ID                          37072
IP_SPLIT_RESULT    202.175.113.27
SEQUENCE_PARSE               <33>
Name: 8345, dtype: object
ID                          37073
IP_SPLIT_RESULT    180.224.63.182
SEQUENCE_PARSE                <1>
Name: 8346, dtype: object
ID                           37074
IP_SPLIT_RESULT    112.187.201.225
SEQUENCE_PARSE                 <1>
Name: 8347, dtype: object
ID                                                             37075
IP_SPLIT_RESULT                                      125.141.116.185
SEQUENCE_PARSE     <1,90,92,1,132,132,158,160,132,174,172,170,132...
Name: 8348, dtype: object
ID                         37076
IP_SPLIT_RESULT    222.237.74.85
SEQUENCE_PARSE               <1>
Name: 8349, dtype: object
ID                                                           37077
IP_SPLIT_RESULT                                      210.178.92.11
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93>
Name: 8350, dtype: object
ID                                                             37078
IP_SPLIT_RESULT                                        119.70.43.118
SEQUENCE_PARSE     <1,90,132,93,132,93,93,93,132,93,132,93,90,90,92>
Name: 8351, dtype: object
ID                           37079
IP_SPLIT_RESULT    112.214.200.233
SEQUENCE_PARSE                 <1>
Name: 8352, dtype: object
ID                                                             37080
IP_SPLIT_RESULT                                        223.33.52.157
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 8353, dtype: object
ID                           37081
IP_SPLIT_RESULT       1.226.95.222
SEQUENCE_PARSE     <33,164,63,164>
Name: 8354, dtype: object
ID                           37082
IP_SPLIT_RESULT    210.121.172.146
SEQUENCE_PARSE                 <1>
Name: 8355, dtype: object
ID                                                          37083
IP_SPLIT_RESULT                                      223.62.11.17
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,30,1>
Name: 8356, dtype: object
ID                                                             37084
IP_SPLIT_RESULT                                       110.11.202.230
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,1,132...
Name: 8357, dtype: object
ID                        37085
IP_SPLIT_RESULT    58.140.15.20
SEQUENCE_PARSE              <1>
Name: 8358, dtype: object
ID                                                             37086
IP_SPLIT_RESULT                                       110.11.202.230
SEQUENCE_PARSE     <31,113,31,113,31,113,31,113,31,113,31,113,113...
Name: 8359, dtype: object
ID                        37087
IP_SPLIT_RESULT    39.118.98.46
SEQUENCE_PARSE              <1>
Name: 8360, dtype: object
ID                           37088
IP_SPLIT_RESULT    211.201.193.107
SEQUENCE_PARSE                 <1>
Name: 8361, dtype: object
ID                                                             37089
IP_SPLIT_RESULT                                       175.203.148.29
SEQUENCE_PARSE     <1,130,130,130,130,130,130,130,132,1,132,132,9...
Name: 8362, dtype: object
ID                        37090
IP_SPLIT_RESULT    66.249.66.28
SEQUENCE_PARSE          <1,5,1>
Name: 8363, dtype: object
ID                                                             37091
IP_SPLIT_RESULT                                      211.213.112.100
SEQUENCE_PARSE     <31,113,29,132,113,132,113,132,93,132,130,132,...
Name: 8364, dtype: object
ID                           37092
IP_SPLIT_RESULT    182.229.162.226
SEQUENCE_PARSE                 <1>
Name: 8365, dtype: object
ID                                                             37093
IP_SPLIT_RESULT                                         61.98.144.52
SEQUENCE_PARSE     <1,93,132,93,132,93,93,32,93,93,93,1,93,132,13...
Name: 8366, dtype: object
ID                         37094
IP_SPLIT_RESULT    180.65.25.251
SEQUENCE_PARSE               <1>
Name: 8367, dtype: object
ID                                                     37095
IP_SPLIT_RESULT                               175.203.148.29
SEQUENCE_PARSE     <32,93,93,93,32,93,93,93,93,93,93,132,93>
Name: 8368, dtype: object
ID                                                             37096
IP_SPLIT_RESULT                                         61.98.144.52
SEQUENCE_PARSE     <32,93,93,93,32,93,32,93,132,166,162,162,132,9...
Name: 8369, dtype: object
ID                         37097
IP_SPLIT_RESULT    54.213.11.221
SEQUENCE_PARSE               <1>
Name: 8370, dtype: object
ID                          37098
IP_SPLIT_RESULT    124.146.40.125
SEQUENCE_PARSE                <1>
Name: 8371, dtype: object
ID                          37099
IP_SPLIT_RESULT    112.156.192.68
SEQUENCE_PARSE                <1>
Name: 8372, dtype: object
ID                           37100
IP_SPLIT_RESULT    114.203.122.223
SEQUENCE_PARSE                 <1>
Name: 8373, dtype: object
ID                          37101
IP_SPLIT_RESULT    182.222.44.241
SEQUENCE_PARSE                <1>
Name: 8374, dtype: object
ID                         37102
IP_SPLIT_RESULT    124.60.57.192
SEQUENCE_PARSE               <1>
Name: 8375, dtype: object
ID                        37103
IP_SPLIT_RESULT    110.14.16.72
SEQUENCE_PARSE              <1>
Name: 8376, dtype: object
ID                          37104
IP_SPLIT_RESULT    106.254.99.101
SEQUENCE_PARSE                <1>
Name: 8377, dtype: object
ID                          37105
IP_SPLIT_RESULT    175.223.48.132
SEQUENCE_PARSE                <1>
Name: 8378, dtype: object
ID                                         37106
IP_SPLIT_RESULT                   119.64.136.224
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 8379, dtype: object
ID                         37107
IP_SPLIT_RESULT    218.55.227.60
SEQUENCE_PARSE               <1>
Name: 8380, dtype: object
ID                          37108
IP_SPLIT_RESULT    119.77.121.247
SEQUENCE_PARSE                <1>
Name: 8381, dtype: object
ID                                                             37109
IP_SPLIT_RESULT                                       49.165.148.150
SEQUENCE_PARSE     <93,32,93,132,93,93,132,132,93,93,132,93,93,93...
Name: 8382, dtype: object
ID                         37110
IP_SPLIT_RESULT    218.52.201.41
SEQUENCE_PARSE           <1,5,1>
Name: 8383, dtype: object
ID                          37111
IP_SPLIT_RESULT    211.243.46.175
SEQUENCE_PARSE                <1>
Name: 8384, dtype: object
ID                          37112
IP_SPLIT_RESULT    119.18.114.150
SEQUENCE_PARSE                <1>
Name: 8385, dtype: object
ID                         37113
IP_SPLIT_RESULT    66.249.92.140
SEQUENCE_PARSE               <5>
Name: 8386, dtype: object
ID                                                             37114
IP_SPLIT_RESULT                                         203.90.46.20
SEQUENCE_PARSE     <29,132,113,132,113,29,132,113,132,113,29,132,...
Name: 8387, dtype: object
ID                                                             37115
IP_SPLIT_RESULT                                       122.44.107.206
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93,93,93,93,93,93,93...
Name: 8388, dtype: object
ID                         37116
IP_SPLIT_RESULT    116.36.92.204
SEQUENCE_PARSE               <1>
Name: 8389, dtype: object
ID                                                             37117
IP_SPLIT_RESULT                                        175.123.23.96
SEQUENCE_PARSE     <1,90,132,93,132,93,93,93,90,1,90,92,87,93,212...
Name: 8390, dtype: object
ID                           37118
IP_SPLIT_RESULT    125.191.177.171
SEQUENCE_PARSE                 <1>
Name: 8391, dtype: object
ID                         37119
IP_SPLIT_RESULT    125.209.1.223
SEQUENCE_PARSE               <1>
Name: 8392, dtype: object
ID                                                             37120
IP_SPLIT_RESULT                                       223.54.219.128
SEQUENCE_PARSE     <30,132,93,132,93,93,93,90,87,89,130,130,132,1...
Name: 8393, dtype: object
ID                                                             37121
IP_SPLIT_RESULT                                        175.123.23.96
SEQUENCE_PARSE     <1,90,92,90,89,80,24,212,10,132,132,81,92,212,...
Name: 8394, dtype: object
ID                                                             37122
IP_SPLIT_RESULT                                       49.168.156.126

ID                       37278
IP_SPLIT_RESULT    39.7.15.126
SEQUENCE_PARSE             <1>
Name: 8551, dtype: object
ID                                                             37279
IP_SPLIT_RESULT                                        223.62.10.186
SEQUENCE_PARSE     <31,113,113,113,31,113,113,113,31,113,31,113,1...
Name: 8552, dtype: object
ID                        37280
IP_SPLIT_RESULT    124.51.25.67
SEQUENCE_PARSE              <1>
Name: 8553, dtype: object
ID                          37281
IP_SPLIT_RESULT    175.223.23.105
SEQUENCE_PARSE                <1>
Name: 8554, dtype: object
ID                         37282
IP_SPLIT_RESULT    223.54.79.240
SEQUENCE_PARSE               <1>
Name: 8555, dtype: object
ID                                                     37283
IP_SPLIT_RESULT                               218.147.239.36
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93>
Name: 8556, dtype: object
ID                         37284
IP_SPLIT_RESULT    112.172.1.135
SEQUENCE_PARSE               <1>
Name: 8557, dtype: object
ID                                                     37285
IP_SPLIT_RESULT                                 124.58.83.34
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,90,92>
Name: 8558, dtype: object
ID                          37286
IP_SPLIT_RESULT    211.36.138.181
SEQUENCE_PARSE                <1>
Name: 8559, dtype: object
ID                         37287
IP_SPLIT_RESULT    182.231.96.70
SEQUENCE_PARSE           <1,5,1>
Name: 8560, dtype: object
ID                               37288
IP_SPLIT_RESULT          223.62.213.40
SEQUENCE_PARSE     <1,113,132,132,113>
Name: 8561, dtype: object
ID                                                       37289
IP_SPLIT_RESULT                                   124.58.83.34
SEQUENCE_PARSE     <113,113,1,132,113,132,113,113,113,113,113>
Name: 8562, dtype: object
ID                                                             37290
IP_SPLIT_RESULT                                       49.166.134.157
SEQUENCE_PARSE     <29,132,113,132,113,113,113,113,113,29,132,113...
Name: 8563, dtype: object
ID                                                             37291
IP_SPLIT_RESULT                                      123.111.184.139
SEQUENCE_PARSE     <29,132,113,132,113,1,130,132,113,113,132,113,...
Name: 8564, dtype: object
ID                         37292
IP_SPLIT_RESULT    58.229.139.28
SEQUENCE_PARSE               <1>
Name: 8565, dtype: object
ID                       37293
IP_SPLIT_RESULT    59.27.28.33
SEQUENCE_PARSE             <1>
Name: 8566, dtype: object
ID                          37294
IP_SPLIT_RESULT    175.213.84.242
SEQUENCE_PARSE                <1>
Name: 8567, dtype: object
ID                           37295
IP_SPLIT_RESULT    211.197.134.104
SEQUENCE_PARSE                 <1>
Name: 8568, dtype: object
ID                          37296
IP_SPLIT_RESULT    125.180.249.21
SEQUENCE_PARSE                <1>
Name: 8569, dtype: object
ID                         37297
IP_SPLIT_RESULT    211.36.156.80
SEQUENCE_PARSE               <1>
Name: 8570, dtype: object
ID                          37298
IP_SPLIT_RESULT    223.33.153.131
SEQUENCE_PARSE              <5,1>
Name: 8571, dtype: object
ID                                                             37299
IP_SPLIT_RESULT                                       210.223.241.48
SEQUENCE_PARSE     <27,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,...
Name: 8572, dtype: object
ID                           37300
IP_SPLIT_RESULT    125.181.207.155
SEQUENCE_PARSE                 <1>
Name: 8573, dtype: object
ID                           37301
IP_SPLIT_RESULT    203.243.225.165
SEQUENCE_PARSE                 <1>
Name: 8574, dtype: object
ID                           37302
IP_SPLIT_RESULT    121.157.161.106
SEQUENCE_PARSE                 <1>
Name: 8575, dtype: object
ID                         37303
IP_SPLIT_RESULT    66.249.92.139
SEQUENCE_PARSE               <5>
Name: 8576, dtype: object
ID                         37304
IP_SPLIT_RESULT    112.172.71.26
SEQUENCE_PARSE               <1>
Name: 8577, dtype: object
ID                         37305
IP_SPLIT_RESULT    61.76.192.215
SEQUENCE_PARSE               <1>
Name: 8578, dtype: object
ID                                   37306
IP_SPLIT_RESULT              117.111.17.18
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 8579, dtype: object
ID                         37307
IP_SPLIT_RESULT    14.32.120.166
SEQUENCE_PARSE     <32,93,32,93>
Name: 8580, dtype: object
ID                         37308
IP_SPLIT_RESULT    14.47.236.113
SEQUENCE_PARSE               <1>
Name: 8581, dtype: object
ID                          37309
IP_SPLIT_RESULT    122.47.178.197
SEQUENCE_PARSE             <1,90>
Name: 8582, dtype: object
ID                        37310
IP_SPLIT_RESULT    110.70.59.40
SEQUENCE_PARSE              <1>
Name: 8583, dtype: object
ID                         37311
IP_SPLIT_RESULT    175.223.16.38
SEQUENCE_PARSE             <5,1>
Name: 8584, dtype: object
ID                                                             37312
IP_SPLIT_RESULT                                      115.136.216.113
SEQUENCE_PARSE     <1,130,130,1,132,132,132,132,132,132,132,87,20...
Name: 8585, dtype: object
ID                          37313
IP_SPLIT_RESULT    61.102.146.136
SEQUENCE_PARSE                <1>
Name: 8586, dtype: object
ID                           37314
IP_SPLIT_RESULT    121.128.253.192
SEQUENCE_PARSE                 <1>
Name: 8587, dtype: object
ID                                                             37315
IP_SPLIT_RESULT                                         211.36.141.8
SEQUENCE_PARSE     <1,113,132,132,113,31,113,113,113,31,113,113,3...
Name: 8588, dtype: object
ID                          37316
IP_SPLIT_RESULT    124.58.170.161
SEQUENCE_PARSE                <1>
Name: 8589, dtype: object
ID                                                             37317
IP_SPLIT_RESULT                                      115.136.216.113
SEQUENCE_PARSE     <130,93,132,93,132,93,132,113,132,113,113,113,...
Name: 8590, dtype: object
ID                                                             37318
IP_SPLIT_RESULT                                        175.223.21.30
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,93,132,93,93,93,90,...
Name: 8591, dtype: object
ID                         37319
IP_SPLIT_RESULT    157.55.39.217
SEQUENCE_PARSE              <44>
Name: 8592, dtype: object
ID                          37320
IP_SPLIT_RESULT    175.127.14.239
SEQUENCE_PARSE                <1>
Name: 8593, dtype: object
ID                                                     37321
IP_SPLIT_RESULT                               118.34.184.125
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93>
Name: 8594, dtype: object
ID                                                             37322
IP_SPLIT_RESULT                                      124.197.207.152
SEQUENCE_PARSE     <31,113,31,113,31,113,31,113,31,113,132,162,31...
Name: 8595, dtype: object
ID                          37323
IP_SPLIT_RESULT    49.166.123.133
SEQUENCE_PARSE                <1>
Name: 8596, dtype: object
ID                                                             37324
IP_SPLIT_RESULT                                        14.42.147.117
SEQUENCE_PARSE     <1,132,93,132,93,93,93,32,93,32,93,32,93,93,93...
Name: 8597, dtype: object
ID                                                 37325
IP_SPLIT_RESULT                          220.120.237.178
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93>
Name: 8598, dtype: object
ID                          37326
IP_SPLIT_RESULT    124.63.189.130
SEQUENCE_PARSE                <1>
Name: 8599, dtype: object
ID                                                             37327
IP_SPLIT_RESULT                                        14.42.147.117
SEQUENCE_PARSE     <93,93,93,93,90,92,87,89,80,30,212,132,93,132,...
Name: 8600, dtype: object
ID                           37328
IP_SPLIT_RESULT    106.252.138.148
SEQUENCE_PARSE                 <1>
Name: 8601, dtype: object
ID                                                             37329
IP_SPLIT_RESULT                                        211.36.150.41
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,31,11...
Name: 8602, dtype: object
ID                                       37330
IP_SPLIT_RESULT                 175.223.32.149
SEQUENCE_PARSE     <1,132,113,132,113,113,113>
Name: 8603, dtype: object
ID                        37331
IP_SPLIT_RESULT    119.196.41.4
SEQUENCE_PARSE              <1>
Name: 8604, dtype: object
ID                                                             37332
IP_SPLIT_RESULT                                        175.223.21.30
SEQUENCE_PARSE     <80,30,212,132,93,132,93,32,93,93,93,32,32,32,...
Name: 8605, dtype: object
ID                         37333
IP_SPLIT_RESULT    223.55.102.75
SEQUENCE_PARSE        <1,33,164>
Name: 8606, dtype: object
ID                         37334
IP_SPLIT_RESULT    175.223.39.89
SEQUENCE_PARSE               <1>
Name: 8607, dtype: object
ID                        37335
IP_SPLIT_RESULT    49.143.104.2
SEQUENCE_PARSE              <1>
Name: 8608, dtype: object
ID                          37336
IP_SPLIT_RESULT    112.151.162.36
SEQUENCE_PARSE                <1>
Name: 8609, dtype: object
ID                         37337
IP_SPLIT_RESULT    223.62.190.12
SEQUENCE_PARSE      <1,29,113,1>
Name: 8610, dtype: object
ID                                                    37338
IP_SPLIT_RESULT                               223.55.102.75
SEQUENCE_PARSE     <164,132,81,113,132,113,132,132,132,164>
Name: 8611, dtype: object
ID                          37339
IP_SPLIT_RESULT    116.39.116.124
SEQUENCE_PARSE              <5,1>
Name: 8612, dtype: object
ID                          37340
IP_SPLIT_RESULT    121.55.168.237
SEQUENCE_PARSE                <1>
Name: 8613, dtype: object
ID                                                             37341
IP_SPLIT_RESULT                                         14.38.13.246
SEQUENCE_PARSE     <1,90,92,87,89,80,29,212,132,113,132,113,132,2...
Name: 8614, dtype: object
ID                         37342
IP_SPLIT_RESULT    158.85.81.124
SEQUENCE_PARSE               <1>
Name: 8615, dtype: object
ID                         37343
IP_SPLIT_RESULT    121.88.200.56
SEQUENCE_PARSE             <5,1>
Name: 8616, dtype: object
ID                           37344
IP_SPLIT_RESULT    172.104.108.109
SEQUENCE_PARSE                 <1>
Name: 8617, dtype: object
ID                                                             37345
IP_SPLIT_RESULT                                         1.227.85.186
SEQUENCE_PARSE     <1,90,90,87,89,113,113,31,113,113,113,31,113,1...
Name: 8618, dtype: object
ID                                                             37346
IP_SPLIT_RESULT                                         1.227.85.186
SEQUENCE_PARSE     <92,80,29,212,132,113,132,113,132,212,132,113,...
Name: 8619, dtype: object
ID                          37347
IP_SPLIT_RESULT    211.172.49.188
SEQUENCE_PARSE                <1>
Name: 8620, dtype: object
ID                           37348
IP_SPLIT_RESULT    114.203.219.197
SEQUENCE_PARSE                 <1>
Name: 8621, dtype: object
ID                                                             37349
IP_SPLIT_RESULT                                         14.38.13.246
SEQUENCE_PARSE     <87,93,132,132,132,132,132,93,132,113,132,113,...
Name: 8622, dtype: object
ID                                                             37350
IP_SPLIT_RESULT                                       220.103.255.59
SEQUENCE_PARSE     <32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,...
Name: 8623, dtype: object
ID                                                             37351
IP_SPLIT_RESULT                                      123.111.184.139
SEQUENCE_PARSE     <1,130,132,113,132,113,31,113,31,113,31,113,31...
Name: 8624, dtype: object
ID                                   37352
IP_SPLIT_RESULT               211.46.69.99
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 8625, dtype: object
ID                         37353
IP_SPLIT_RESULT    223.39.131.54
SEQUENCE_PARSE        <1,31,113>
Name: 8626, dtype: object
ID                                        37354
IP_SPLIT_RESULT                   117.111.24.10
SEQUENCE_PARSE     <32,32,93,93,93,93,93,93,93>
Name: 8627, dtype: object
ID                                                             37355
IP_SPLIT_RESULT                                        175.223.22.66
SEQUENCE_PARSE     <1,132,93,132,32,93,32,93,132,93,132,32,93,32,...
Name: 8628, dtype: object
ID                        37356
IP_SPLIT_RESULT    1.231.235.51
SEQUENCE_PARSE              <1>
Name: 8629, dtype: object
ID                               37357
IP_SPLIT_RESULT          223.39.146.61
SEQUENCE_PARSE     <1,113,113,113,113>
Name: 8630, dtype: object
ID                             37358
IP_SPLIT_RESULT        223.39.146.61
SEQUENCE_PARSE     <132,113,132,113>
Name: 8631, dtype: object
ID                          37359
IP_SPLIT_RESULT    220.117.30.185
SEQUENCE_PARSE          <1,90,92>
Name: 8632, dtype: object
ID                                                             37360
IP_SPLIT_RESULT                                        59.187.219.35
SEQUENCE_PARSE     <1,130,130,63,89,195,132,93,132,93,93,93,93,93...
Name: 8633, dtype: object
ID                        37361
IP_SPLIT_RESULT    183.98.21.38
SEQUENCE_PARSE          <1,5,1>
Name: 8634, dtype: object
ID                          37362
IP_SPLIT_RESULT    211.209.39.241
SEQUENCE_PARSE                <1>
Name: 8635, dtype: object
ID                                                             37363
IP_SPLIT_RESULT                                        223.62.203.23
SEQUENCE_PARSE     <1,90,92,89,113,113,212,25,12,132,158,160,164,...
Name: 8636, dtype: object
ID                            37364
IP_SPLIT_RESULT      124.51.104.135
SEQUENCE_PARSE     <1,5,1,90,92,25>
Name: 8637, dtype: object
ID                         37365
IP_SPLIT_RESULT    125.190.99.96
SEQUENCE_PARSE     <113,132,132>
Name: 8638, dtype: object
ID                          37366
IP_SPLIT_RESULT    220.117.30.185
SEQUENCE_PARSE               <87>
Name: 8639, dtype: object
ID                                                             37367
IP_SPLIT_RESULT                                         59.16.183.80
SEQUENCE_PARSE     <31,113,31,113,31,113,31,31,31,113,31,113,31,1...
Name: 8640, dtype: object
ID                                                             37368
IP_SPLIT_RESULT                                        211.207.204.3
SEQUENCE_PARSE     <1,132,132,93,93,93,93,93,93,132,93,132,93,93,...
Name: 8641, dtype: object
ID                          37369
IP_SPLIT_RESULT    124.51.104.135
SEQUENCE_PARSE            <132,1>
Name: 8642, dtype: object
ID                           37370
IP_SPLIT_RESULT    221.158.244.160
SEQUENCE_PARSE                 <1>
Name: 8643, dtype: object
ID                                                             37371
IP_SPLIT_RESULT                                        1.233.143.187
SEQUENCE_PARSE     <93,132,81,212,93,132,93,132,93,93,93,132,81,9...
Name: 8644, dtype: object
ID                                                             37372
IP_SPLIT_RESULT                                        175.123.31.26
SEQUENCE_PARSE     <32,32,32,93,30,132,93,132,32,32,32,93,1,132,9...
Name: 8645, dtype: object
ID                          37373
IP_SPLIT_RESULT    121.125.173.50
SEQUENCE_PARSE               <13>
Name: 8646, dtype: object
ID                          37374
IP_SPLIT_RESULT    211.36.136.166
SEQUENCE_PARSE            <32,32>
Name: 8647, dtype: object
ID                          37375
IP_SPLIT_RESULT    118.176.250.33
SEQUENCE_PARSE       <1,90,92,87>
Name: 8648, dtype: object
ID                         37376
IP_SPLIT_RESULT    14.47.236.113
SEQUENCE_PARSE               <1>
Name: 8649, dtype: object
ID                          37377
IP_SPLIT_RESULT    113.131.49.108
SEQUENCE_PARSE                <1>
Name: 8650, dtype: object
ID                           37378
IP_SPLIT_RESULT    207.154.253.248
SEQUENCE_PARSE                 <1>
Name: 8651, dtype: object
ID                           37379
IP_SPLIT_RESULT    207.154.253.248
SEQUENCE_PARSE                 <1>
Name: 8652, dtype: object
ID                       37380
IP_SPLIT_RESULT    39.7.47.148
SEQUENCE_PARSE             <1>
Name: 8653, dtype: object
ID                         37381
IP_SPLIT_RESULT    175.223.34.69
SEQUENCE_PARSE               <1>
Name: 8654, dtype: object
ID                                                             37382
IP_SPLIT_RESULT                                       121.191.46.119
SEQUENCE_PARSE     <29,132,113,132,113,31,113,113,31,113,31,113,1...
Name: 8655, dtype: object
ID                           37383
IP_SPLIT_RESULT    121.162.132.219
SEQUENCE_PARSE             <1,5,1>
Name: 8656, dtype: object
ID                                               37384
IP_SPLIT_RESULT                        125.134.164.111
SEQUENCE_PARSE     <1,113,113,113,113,113,113,113,113>
Name: 8657, dtype: object
ID                           37385
IP_SPLIT_RESULT    125.134.164.111
SEQUENCE_PARSE           <132,132>
Name: 8658, dtype: object
ID                          37386
IP_SPLIT_RESULT    124.51.114.142
SEQUENCE_PARSE                <1>
Name: 8659, dtype: object
ID                                                             37387
IP_SPLIT_RESULT                                       123.212.170.90
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,31,113,31,11...
Name: 8660, dtype: object
ID                                                             37388
IP_SPLIT_RESULT                                       211.36.135.233
SEQUENCE_PARSE     <1,132,113,132,113,113,113,31,113,113,113,31,1...
Name: 8661, dtype: object
ID                                                             37389
IP_SPLIT_RESULT                                       211.36.135.233
SEQUENCE_PARSE     <113,113,31,113,31,113,31,113,113,113,31,113,9...
Name: 8662, dtype: object
ID                        37390
IP_SPLIT_RESULT    66.249.66.90
SEQUENCE_PARSE              <1>
Name: 8663, dtype: object
ID                                                  37391
IP_SPLIT_RESULT                             175.223.15.83
SEQUENCE_PARSE     <5,1,93,93,93,93,93,93,93,93,93,93,93>
Name: 8664, dtype: object
ID                                         37392
IP_SPLIT_RESULT                  121.185.249.244
SEQUENCE_PARSE     <1,93,132,93,132,93,93,93,93>
Name: 8665, dtype: object
ID                                                             37393
IP_SPLIT_RESULT                                         1.235.107.51
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,1,90,92,87,80,30,...
Name: 8666, dtype: object
ID                                   37394
IP_SPLIT_RESULT            119.197.136.186
SEQUENCE_PARSE     <1,132,93,132,93,90,92>
Name: 8667, dtype: object
ID                           37395
IP_SPLIT_RESULT    222.113.105.171
SEQUENCE_PARSE                 <1>
Name: 8668, dtype: object
ID                           37396
IP_SPLIT_RESULT    211.217.249.242
SEQUENCE_PARSE                 <1>
Name: 8669, dtype: object
ID                                        37397
IP_SPLIT_RESULT                 219.254.246.184
SEQUENCE_PARSE     <29,132,113,132,113,113,113>
Name: 8670, dtype: object
ID                                                             37398
IP_SPLIT_RESULT                                       211.209.39.241
SEQUENCE_PARSE     <1,132,174,172,170,174,172,170,132,174,172,170...
Name: 8671, dtype: object
ID                          37399
IP_SPLIT_RESULT    219.250.250.14
SEQUENCE_PARSE              <5,1>
Name: 8672, dtype: object
ID                        37400
IP_SPLIT_RESULT    211.51.33.59
SEQUENCE_PARSE              <1>
Name: 8673, dtype: object
ID                                                 37401

ID                          41302
IP_SPLIT_RESULT    211.36.156.136
SEQUENCE_PARSE                <1>
Name: 8834, dtype: object
ID                        41303
IP_SPLIT_RESULT    69.58.178.59
SEQUENCE_PARSE              <1>
Name: 8835, dtype: object
ID                                                             41304
IP_SPLIT_RESULT                                       117.111.28.110
SEQUENCE_PARSE     <27,1,90,92,90,92,87,130,130,130,130,191,191,1...
Name: 8836, dtype: object
ID                                                             41305
IP_SPLIT_RESULT                                      175.124.214.162
SEQUENCE_PARSE     <1,93,132,132,1,132,93,132,1,132,113,132,113,1...
Name: 8837, dtype: object
ID                          41306
IP_SPLIT_RESULT    223.62.169.236
SEQUENCE_PARSE            <113,1>
Name: 8838, dtype: object
ID                                                             41307
IP_SPLIT_RESULT                                       221.145.64.182
SEQUENCE_PARSE     <132,93,132,93,93,93,30,132,93,132,93,93,93,13...
Name: 8839, dtype: object
ID                                                             41308
IP_SPLIT_RESULT                                         180.70.70.63
SEQUENCE_PARSE     <1,5,1,5,1,132,1,132,93,132,93,113,89,80,29,21...
Name: 8840, dtype: object
ID                                                             41309
IP_SPLIT_RESULT                                       221.153.69.118
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,90,92,87,13...
Name: 8841, dtype: object
ID                           41310
IP_SPLIT_RESULT    185.200.190.149
SEQUENCE_PARSE                 <1>
Name: 8842, dtype: object
ID                                                             41311
IP_SPLIT_RESULT                                        116.41.48.105
SEQUENCE_PARSE     <1,113,132,132,113,113,31,113,31,113,31,113,31...
Name: 8843, dtype: object
ID                           41312
IP_SPLIT_RESULT    185.200.190.149
SEQUENCE_PARSE                 <1>
Name: 8844, dtype: object
ID                          41313
IP_SPLIT_RESULT    175.210.40.217
SEQUENCE_PARSE              <5,1>
Name: 8845, dtype: object
ID                                                        41314
IP_SPLIT_RESULT                                   175.223.17.39
SEQUENCE_PARSE     <1,132,113,132,113,31,113,113,31,113,31,113>
Name: 8846, dtype: object
ID                                                             41315
IP_SPLIT_RESULT                                       211.195.96.210
SEQUENCE_PARSE     <1,5,1,5,1,80,29,212,132,113,132,132,132,132,1...
Name: 8847, dtype: object
ID                         41316
IP_SPLIT_RESULT    211.36.144.80
SEQUENCE_PARSE               <1>
Name: 8848, dtype: object
ID                             41317
IP_SPLIT_RESULT       175.223.20.197
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 8849, dtype: object
ID                                           41318
IP_SPLIT_RESULT                     223.62.162.128
SEQUENCE_PARSE     <32,93,1,132,132,132,132,132,1>
Name: 8850, dtype: object
ID                                                             41319
IP_SPLIT_RESULT                                       223.62.162.128
SEQUENCE_PARSE     <132,162,1,5,44,5,1,132,93,132,93,27,1,93,93,9...
Name: 8851, dtype: object
ID                                                             41320
IP_SPLIT_RESULT                                      175.124.214.162
SEQUENCE_PARSE     <113,113,31,113,31,113,113,113,31,113,113,113,...
Name: 8852, dtype: object
ID                                                             41321
IP_SPLIT_RESULT                                        175.223.3.239
SEQUENCE_PARSE     <1,113,132,132,113,113,87,89,80,24,212,132,212...
Name: 8853, dtype: object
ID                        41322
IP_SPLIT_RESULT    59.5.104.165
SEQUENCE_PARSE        <1,5,1,5>
Name: 8854, dtype: object
ID                        41323
IP_SPLIT_RESULT    52.43.146.95
SEQUENCE_PARSE              <1>
Name: 8855, dtype: object
ID                                                             41324
IP_SPLIT_RESULT                                       175.223.35.102
SEQUENCE_PARSE     <1,92,87,80,24,132,1,130,113,31,113,31,113,1,1...
Name: 8856, dtype: object
ID                                                             41325
IP_SPLIT_RESULT                                       223.39.138.146
SEQUENCE_PARSE     <89,198,130,132,93,132,132,93,132,93,93,93,30,...
Name: 8857, dtype: object
ID                                                             41326
IP_SPLIT_RESULT                                       49.166.129.197
SEQUENCE_PARSE     <1,90,87,89,87,189,1,132,93,132,93,130,130,130...
Name: 8858, dtype: object
ID                          41327
IP_SPLIT_RESULT    118.221.242.23
SEQUENCE_PARSE        <1,5,1,132>
Name: 8859, dtype: object
ID                                                             41328
IP_SPLIT_RESULT                                       49.166.129.197
SEQUENCE_PARSE     <92,87,80,29,212,132,113,132,132,130,130,132,1...
Name: 8860, dtype: object
ID                          41329
IP_SPLIT_RESULT    175.223.19.211
SEQUENCE_PARSE             <1,93>
Name: 8861, dtype: object
ID                                                             41330
IP_SPLIT_RESULT                                        210.105.5.253
SEQUENCE_PARSE     <5,1,93,132,132,132,93,132,93,93,93,93,93,93,9...
Name: 8862, dtype: object
ID                         41331
IP_SPLIT_RESULT    223.62.202.52
SEQUENCE_PARSE               <1>
Name: 8863, dtype: object
ID                               41332
IP_SPLIT_RESULT         175.223.19.211
SEQUENCE_PARSE     <132,93,132,93,1,5>
Name: 8864, dtype: object
ID                                                             41333
IP_SPLIT_RESULT                                      125.129.242.168
SEQUENCE_PARSE     <1,93,93,90,132,132,158,160,164,33,164,158,160...
Name: 8865, dtype: object
ID                           41334
IP_SPLIT_RESULT    106.245.144.138
SEQUENCE_PARSE             <1,5,1>
Name: 8866, dtype: object
ID                                                             41335
IP_SPLIT_RESULT                                        223.62.10.160
SEQUENCE_PARSE     <93,30,132,132,93,93,32,93,32,93,132,93,132,32...
Name: 8867, dtype: object
ID                                                             41336
IP_SPLIT_RESULT                                       221.153.69.118
SEQUENCE_PARSE     <87,32,93,1,130,130,130,130,130,191,32,93,93,9...
Name: 8868, dtype: object
ID                                                             41337
IP_SPLIT_RESULT                                        223.62.10.160
SEQUENCE_PARSE     <1,113,93,32,93,93,93,32,93,93,32,93,93,93,93,...
Name: 8869, dtype: object
ID                                                             41338
IP_SPLIT_RESULT                                       211.36.139.250
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,1,130,130,191,1,132,...
Name: 8870, dtype: object
ID                                                             41339
IP_SPLIT_RESULT                                         117.111.1.59
SEQUENCE_PARSE     <1,113,113,113,31,113,113,31,113,31,113,113,11...
Name: 8871, dtype: object
ID                                                             41340
IP_SPLIT_RESULT                                        211.36.139.43
SEQUENCE_PARSE     <132,132,113,113,1,113,1,132,1,132,31,113,113,...
Name: 8872, dtype: object
ID                          41341
IP_SPLIT_RESULT     112.149.75.51
SEQUENCE_PARSE     <1,132,93,132>
Name: 8873, dtype: object
ID                                 41342
IP_SPLIT_RESULT           223.62.172.117
SEQUENCE_PARSE     <1,132,174,172,170,1>
Name: 8874, dtype: object
ID                                                             41343
IP_SPLIT_RESULT                                         39.115.82.28
SEQUENCE_PARSE     <164,39,132,158,160,132,93,132,93,93,132,93,13...
Name: 8875, dtype: object
ID                                                             41344
IP_SPLIT_RESULT                                         180.70.70.63
SEQUENCE_PARSE     <132,132,90,92,87,1,130,132,113,132,113,31,113...
Name: 8876, dtype: object
ID                                             41345
IP_SPLIT_RESULT                      211.218.211.168
SEQUENCE_PARSE     <1,5,1,93,132,132,93,93,93,93,93>
Name: 8877, dtype: object
ID                        41346
IP_SPLIT_RESULT    211.40.28.33
SEQUENCE_PARSE          <1,5,1>
Name: 8878, dtype: object
ID                                                             41347
IP_SPLIT_RESULT                                      211.105.129.225
SEQUENCE_PARSE     <39,164,130,164,130,164,164,132,132,158,160,13...
Name: 8879, dtype: object
ID                        41348
IP_SPLIT_RESULT    66.249.79.77
SEQUENCE_PARSE          <1,5,1>
Name: 8880, dtype: object
ID                           41349
IP_SPLIT_RESULT    106.252.235.229
SEQUENCE_PARSE      <1,5,1,27,5,1>
Name: 8881, dtype: object
ID                          41350
IP_SPLIT_RESULT    211.36.144.191
SEQUENCE_PARSE      <5,1,5,1,5,1>
Name: 8882, dtype: object
ID                                                             41351
IP_SPLIT_RESULT                                          39.7.57.199
SEQUENCE_PARSE     <1,63,1,132,113,132,31,113,113,31,113,113,113,...
Name: 8883, dtype: object
ID                          41352
IP_SPLIT_RESULT    118.45.143.167
SEQUENCE_PARSE            <1,5,1>
Name: 8884, dtype: object
ID                                              41353
IP_SPLIT_RESULT                        223.39.138.146
SEQUENCE_PARSE     <93,93,32,93,32,93,93,93,32,32,32>
Name: 8885, dtype: object
ID                        41354
IP_SPLIT_RESULT    49.1.254.158
SEQUENCE_PARSE            <5,1>
Name: 8886, dtype: object
ID                                                             41355
IP_SPLIT_RESULT                                       118.219.136.77
SEQUENCE_PARSE     <1,5,1,93,132,132,93,93,93,1,5,1,113,113,113,113>
Name: 8887, dtype: object
ID                          41356
IP_SPLIT_RESULT    49.167.169.194
SEQUENCE_PARSE                <1>
Name: 8888, dtype: object
ID                               41357
IP_SPLIT_RESULT            39.7.57.199
SEQUENCE_PARSE     <113,113,31,31,113>
Name: 8889, dtype: object
ID                          41358
IP_SPLIT_RESULT    175.205.29.101
SEQUENCE_PARSE     <5,1,90,90,90>
Name: 8890, dtype: object
ID                                                             41359
IP_SPLIT_RESULT                                        49.172.188.23
SEQUENCE_PARSE     <32,93,113,113,212,113,14,113,132,93,132,93,32...
Name: 8891, dtype: object
ID                                             41360
IP_SPLIT_RESULT                      221.162.250.221
SEQUENCE_PARSE     <1,113,132,132,113,31,113,31,113>
Name: 8892, dtype: object
ID                                                             41361
IP_SPLIT_RESULT                                      125.129.242.168
SEQUENCE_PARSE     <132,93,132,93,93,93,92,164,164,132,158,160,16...
Name: 8893, dtype: object
ID                          41362
IP_SPLIT_RESULT    122.44.185.231
SEQUENCE_PARSE                <1>
Name: 8894, dtype: object
ID                                      41363
IP_SPLIT_RESULT               114.206.216.115
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93>
Name: 8895, dtype: object
ID                         41364
IP_SPLIT_RESULT    211.36.137.21
SEQUENCE_PARSE               <1>
Name: 8896, dtype: object
ID                       41365
IP_SPLIT_RESULT    180.69.58.6
SEQUENCE_PARSE         <1,5,1>
Name: 8897, dtype: object
ID                                                            41366
IP_SPLIT_RESULT                                      223.39.150.111
SEQUENCE_PARSE     <1,132,132,93,93,93,93,93,132,132,93,93,93,93,1>
Name: 8898, dtype: object
ID                        41367
IP_SPLIT_RESULT    110.70.26.78
SEQUENCE_PARSE            <5,1>
Name: 8899, dtype: object
ID                                                     41368
IP_SPLIT_RESULT                                 61.74.92.129
SEQUENCE_PARSE     <1,5,1,5,1,132,1,5,1,132,1,5,1,132,1,5,1>
Name: 8900, dtype: object
ID                          41369
IP_SPLIT_RESULT    223.39.150.111
SEQUENCE_PARSE            <90,92>
Name: 8901, dtype: object
ID                                             41370
IP_SPLIT_RESULT                      211.105.129.225
SEQUENCE_PARSE     <132,81,132,132,93,41,176,41,176>
Name: 8902, dtype: object
ID                        41371
IP_SPLIT_RESULT    118.130.97.6
SEQUENCE_PARSE          <1,5,1>
Name: 8903, dtype: object
ID                         41372
IP_SPLIT_RESULT    175.223.48.13
SEQUENCE_PARSE               <1>
Name: 8904, dtype: object
ID                          41373
IP_SPLIT_RESULT    211.36.142.216
SEQUENCE_PARSE         <39,164,1>
Name: 8905, dtype: object
ID                                                 41374
IP_SPLIT_RESULT                           175.223.37.141
SEQUENCE_PARSE     <5,1,92,113,113,31,113,31,113,31,113>
Name: 8906, dtype: object
ID                            41375
IP_SPLIT_RESULT       223.62.222.18
SEQUENCE_PARSE     <1,132,93,132,1>
Name: 8907, dtype: object
ID                                                             41376
IP_SPLIT_RESULT                                       175.113.64.133
SEQUENCE_PARSE     <39,164,130,164,93,162,93,132,93,113,132,162,1...
Name: 8908, dtype: object
ID                                                             41377
IP_SPLIT_RESULT                                       211.36.142.202
SEQUENCE_PARSE     <1,29,113,132,132,132,93,132,93,132,132,113,13...
Name: 8909, dtype: object
ID                           41378
IP_SPLIT_RESULT       211.45.65.70
SEQUENCE_PARSE     <1,5,1,5,1,132>
Name: 8910, dtype: object
ID                                     41379
IP_SPLIT_RESULT                 110.70.57.92
SEQUENCE_PARSE     <5,1,5,1,93,132,132,93,1>
Name: 8911, dtype: object
ID                      41380
IP_SPLIT_RESULT    39.7.47.57
SEQUENCE_PARSE         <1,90>
Name: 8912, dtype: object
ID                          41381
IP_SPLIT_RESULT    211.36.137.123
SEQUENCE_PARSE                <1>
Name: 8913, dtype: object
ID                        41382
IP_SPLIT_RESULT    1.228.248.61
SEQUENCE_PARSE            <5,1>
Name: 8914, dtype: object
ID                      41383
IP_SPLIT_RESULT    39.7.47.57
SEQUENCE_PARSE           <92>
Name: 8915, dtype: object
ID                                                             41384
IP_SPLIT_RESULT                                       183.96.237.173
SEQUENCE_PARSE     <1,132,93,132,93,93,132,93,132,93,93,90,92,87,...
Name: 8916, dtype: object
ID                          41385
IP_SPLIT_RESULT    203.226.207.90
SEQUENCE_PARSE          <1,90,92>
Name: 8917, dtype: object
ID                         41386
IP_SPLIT_RESULT    175.223.39.33
SEQUENCE_PARSE             <5,1>
Name: 8918, dtype: object
ID                          41387
IP_SPLIT_RESULT    118.35.210.177
SEQUENCE_PARSE                <1>
Name: 8919, dtype: object
ID                       41388
IP_SPLIT_RESULT    59.22.14.95
SEQUENCE_PARSE             <1>
Name: 8920, dtype: object
ID                                                             41389
IP_SPLIT_RESULT                                         39.115.82.28
SEQUENCE_PARSE     <81,32,1,132,10,113,31,113,31,113,113,113,113,...
Name: 8921, dtype: object
ID                         41390
IP_SPLIT_RESULT    1.248.242.231
SEQUENCE_PARSE               <1>
Name: 8922, dtype: object
ID                                           41391
IP_SPLIT_RESULT                      221.146.87.35
SEQUENCE_PARSE     <39,164,1,132,113,132,31,113,1>
Name: 8923, dtype: object
ID                        41392
IP_SPLIT_RESULT    110.70.57.92
SEQUENCE_PARSE     <132,93,132>
Name: 8924, dtype: object
ID                                                             41393
IP_SPLIT_RESULT                                       210.223.42.210
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,87,89,93,93,93,...
Name: 8925, dtype: object
ID                                                             41394
IP_SPLIT_RESULT                                        39.119.253.14
SEQUENCE_PARSE     <5,1,5,1,132,93,132,93,132,113,132,113,113,132...
Name: 8926, dtype: object
ID                           41395
IP_SPLIT_RESULT    106.243.207.150
SEQUENCE_PARSE                 <1>
Name: 8927, dtype: object
ID                          41396
IP_SPLIT_RESULT    58.121.221.136
SEQUENCE_PARSE                <1>
Name: 8928, dtype: object
ID                          41397
IP_SPLIT_RESULT    223.62.163.117
SEQUENCE_PARSE                <1>
Name: 8929, dtype: object
ID                          41398
IP_SPLIT_RESULT    118.219.136.77
SEQUENCE_PARSE          <132,132>
Name: 8930, dtype: object
ID                         41399
IP_SPLIT_RESULT    175.223.39.33
SEQUENCE_PARSE               <1>
Name: 8931, dtype: object
ID                                                             41400
IP_SPLIT_RESULT                                       175.113.64.133
SEQUENCE_PARSE     <164,132,93,29,113,113,31,113,132,162,31,113,3...
Name: 8932, dtype: object
ID                          41401
IP_SPLIT_RESULT    203.226.207.90
SEQUENCE_PARSE               <92>
Name: 8933, dtype: object
ID                                                             41402
IP_SPLIT_RESULT                                        223.62.163.62
SEQUENCE_PARSE     <1,164,1,113,31,113,31,113,132,162,93,93,14,93...
Name: 8934, dtype: object
ID                        41403
IP_SPLIT_RESULT    118.130.97.6
SEQUENCE_PARSE      <1,5,1,5,1>
Name: 8935, dtype: object
ID                                    41404
IP_SPLIT_RESULT               221.146.87.10
SEQUENCE_PARSE     <113,1,132,81,8,1,5,1,5>
Name: 8936, dtype: object
ID                         41405
IP_SPLIT_RESULT    175.223.45.66
SEQUENCE_PARSE              <31>
Name: 8937, dtype: object
ID                         41406
IP_SPLIT_RESULT    175.223.45.66
SEQUENCE_PARSE           <113,1>
Name: 8938, dtype: object
ID                          41407
IP_SPLIT_RESULT    203.226.207.67
SEQUENCE_PARSE         <1,31,113>
Name: 8939, dtype: object
ID                                                     41408
IP_SPLIT_RESULT                                110.9.249.208
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,92,32,93>
Name: 8940, dtype: object
ID                           41409
IP_SPLIT_RESULT    221.138.196.122
SEQUENCE_PARSE               <5,1>
Name: 8941, dtype: object
ID                                                             41410
IP_SPLIT_RESULT                                          39.7.53.228
SEQUENCE_PARSE     <1,93,132,132,1,93,93,1,130,63,132,81,132,93,8...
Name: 8942, dtype: object
ID                                 41411
IP_SPLIT_RESULT              39.7.53.228
SEQUENCE_PARSE     <30,1,132,132,93,9,1>
Name: 8943, dtype: object
ID                                        41412
IP_SPLIT_RESULT                  222.237.66.201
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93>
Name: 8944, dtype: object
ID                         41413
IP_SPLIT_RESULT    121.166.229.5
SEQUENCE_PARSE           <1,5,1>
Name: 8945, dtype: object
ID                                                       41414
IP_SPLIT_RESULT                                   117.111.1.30
SEQUENCE_PARSE     <1,132,113,132,113,113,113,132,174,172,170>
Name: 8946, dtype: object
ID                                                             41415
IP_SPLIT_RESULT                                       223.62.173.127
SEQUENCE_PARSE     <1,132,113,132,31,113,113,113,113,113,1,132,13...
Name: 8947, dtype: object
ID                         41416
IP_SPLIT_RESULT    117.111.25.99
SEQUENCE_PARSE               <1>
Name: 8948, dtype: object
ID                         41417
IP_SPLIT_RESULT    39.114.140.57
SEQUENCE_PARSE               <1>
Name: 8949, dtype: object
ID                         41418
IP_SPLIT_RESULT    110.9.249.208
SEQUENCE_PARSE              <90>

ID                                                             42575
IP_SPLIT_RESULT                                        175.223.19.94
SEQUENCE_PARSE     <1,132,113,132,113,32,93,164,164,31,113,132,11...
Name: 9112, dtype: object
ID                                    42576
IP_SPLIT_RESULT               223.52.79.184
SEQUENCE_PARSE     <31,113,132,162,166,162>
Name: 9113, dtype: object
ID                          42577
IP_SPLIT_RESULT    124.60.246.159
SEQUENCE_PARSE           <33,164>
Name: 9114, dtype: object
ID                          42578
IP_SPLIT_RESULT    223.39.140.231
SEQUENCE_PARSE                <1>
Name: 9115, dtype: object
ID                                                             42579
IP_SPLIT_RESULT                                        223.38.11.247
SEQUENCE_PARSE     <33,164,164,164,1,132,132,158,160,132,132,132,...
Name: 9116, dtype: object
ID                          42580
IP_SPLIT_RESULT    175.223.26.146
SEQUENCE_PARSE               <29>
Name: 9117, dtype: object
ID                           42581
IP_SPLIT_RESULT     175.223.26.146
SEQUENCE_PARSE     <132,113,132,1>
Name: 9118, dtype: object
ID                          42582
IP_SPLIT_RESULT    124.199.199.67
SEQUENCE_PARSE                <1>
Name: 9119, dtype: object
ID                                                             42583
IP_SPLIT_RESULT                                        117.111.28.82
SEQUENCE_PARSE     <1,90,92,132,93,132,93,93,93,1,93,132,132,1,13...
Name: 9120, dtype: object
ID                         42587
IP_SPLIT_RESULT    39.115.112.99
SEQUENCE_PARSE            <1,92>
Name: 9121, dtype: object
ID                                                42589
IP_SPLIT_RESULT                          211.36.136.219
SEQUENCE_PARSE     <1,39,132,132,158,160,132,93,132,93>
Name: 9122, dtype: object
ID                           42590
IP_SPLIT_RESULT    211.229.238.100
SEQUENCE_PARSE           <132,132>
Name: 9123, dtype: object
ID                                                     42591
IP_SPLIT_RESULT                                223.38.10.114
SEQUENCE_PARSE     <1,93,32,93,93,93,93,93,93,32,93,32,32,1>
Name: 9124, dtype: object
ID                                                             42592
IP_SPLIT_RESULT                                       222.107.75.213
SEQUENCE_PARSE     <32,93,93,132,93,132,132,132,32,32,93,32,5,32,...
Name: 9125, dtype: object
ID                                  42593
IP_SPLIT_RESULT            223.62.190.180
SEQUENCE_PARSE     <1,93,93,93,93,31,113>
Name: 9126, dtype: object
ID                           42594
IP_SPLIT_RESULT     223.62.190.180
SEQUENCE_PARSE     <132,93,132,93>
Name: 9127, dtype: object
ID                                                             42599
IP_SPLIT_RESULT                                        175.223.38.71
SEQUENCE_PARSE     <132,132,93,130,132,132,113,113,31,113,29,113,...
Name: 9128, dtype: object
ID                         42603
IP_SPLIT_RESULT    39.115.112.99
SEQUENCE_PARSE              <90>
Name: 9129, dtype: object
ID                          42604
IP_SPLIT_RESULT    222.107.167.75
SEQUENCE_PARSE       <113,31,113>
Name: 9130, dtype: object
ID                                                             42605
IP_SPLIT_RESULT                                        223.62.203.75
SEQUENCE_PARSE     <1,93,32,93,93,32,93,32,93,32,93,93,32,93,93,3...
Name: 9131, dtype: object
ID                                                             42606
IP_SPLIT_RESULT                                        175.223.38.71
SEQUENCE_PARSE     <1,132,132,113,113,113,113,31,113,1,63,132,92,...
Name: 9132, dtype: object
ID                                                             42607
IP_SPLIT_RESULT                                        110.70.55.181
SEQUENCE_PARSE     <93,93,32,93,93,93,32,1,132,93,132,93,93,32,93...
Name: 9133, dtype: object
ID                                                             42608
IP_SPLIT_RESULT                                        211.118.99.10
SEQUENCE_PARSE     <31,113,31,113,31,113,1,31,113,31,113,31,113,3...
Name: 9134, dtype: object
ID                          42609
IP_SPLIT_RESULT     211.36.130.22
SEQUENCE_PARSE     <31,113,9,132>
Name: 9135, dtype: object
ID                                                             42610
IP_SPLIT_RESULT                                       175.207.170.12
SEQUENCE_PARSE     <31,113,39,164,39,164,1,31,113,39,164,1,130,13...
Name: 9136, dtype: object
ID                                              42611
IP_SPLIT_RESULT                        223.62.188.168
SEQUENCE_PARSE     <1,130,1,93,90,1,5,1,132,93,132,1>
Name: 9137, dtype: object
ID                                                   42612
IP_SPLIT_RESULT                              211.109.6.248
SEQUENCE_PARSE     <1,5,1,132,5,1,164,39,164,39,164,164,1>
Name: 9138, dtype: object
ID                                                             42613
IP_SPLIT_RESULT                                         223.38.8.179
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,31,113,31,113,1...
Name: 9139, dtype: object
ID                         42614
IP_SPLIT_RESULT    183.97.20.200
SEQUENCE_PARSE               <1>
Name: 9140, dtype: object
ID                           42615
IP_SPLIT_RESULT       223.38.11.76
SEQUENCE_PARSE     <31,113,31,113>
Name: 9141, dtype: object
ID                          42616
IP_SPLIT_RESULT    112.167.108.54
SEQUENCE_PARSE                <1>
Name: 9142, dtype: object
ID                           42617
IP_SPLIT_RESULT    203.255.249.150
SEQUENCE_PARSE                 <1>
Name: 9143, dtype: object
ID                                                             42618
IP_SPLIT_RESULT                                        211.36.130.99
SEQUENCE_PARSE     <39,164,130,130,130,164,164,31,113,132,113,132...
Name: 9144, dtype: object
ID                                          42619
IP_SPLIT_RESULT                    121.134.32.111
SEQUENCE_PARSE     <31,113,132,162,31,113,31,113>
Name: 9145, dtype: object
ID                                                             42620
IP_SPLIT_RESULT                                       223.62.203.154
SEQUENCE_PARSE     <93,132,132,32,93,93,93,93,132,132,32,93,93,93...
Name: 9146, dtype: object
ID                                                             42621
IP_SPLIT_RESULT                                        211.36.130.99
SEQUENCE_PARSE     <31,113,132,113,132,113,113,113,113,113,113,11...
Name: 9147, dtype: object
ID                          42622
IP_SPLIT_RESULT    203.217.245.11
SEQUENCE_PARSE                <1>
Name: 9148, dtype: object
ID                                                             42623
IP_SPLIT_RESULT                                         223.62.163.6
SEQUENCE_PARSE     <1,191,1,130,132,81,212,132,132,132,132,132,15...
Name: 9149, dtype: object
ID                              42624
IP_SPLIT_RESULT          223.62.8.203
SEQUENCE_PARSE     <32,93,1,32,93,93>
Name: 9150, dtype: object
ID                                                             42625
IP_SPLIT_RESULT                                         124.58.184.6
SEQUENCE_PARSE     <39,164,130,164,130,164,164,132,39,164,39,164,...
Name: 9151, dtype: object
ID                                                             42626
IP_SPLIT_RESULT                                        211.36.141.65
SEQUENCE_PARSE     <32,93,132,162,32,93,39,39,164,1,90,87,1,113,1...
Name: 9152, dtype: object
ID                                                             42627
IP_SPLIT_RESULT                                       121.167.58.136
SEQUENCE_PARSE     <1,93,92,132,93,132,93,93,93,90,1,132,93,132,1...
Name: 9153, dtype: object
ID                                                             42628
IP_SPLIT_RESULT                                       121.167.58.136
SEQUENCE_PARSE     <132,132,90,1,29,1,132,113,132,113,1,132,174,1...
Name: 9154, dtype: object
ID                               42629
IP_SPLIT_RESULT         211.36.136.219
SEQUENCE_PARSE     <132,132,85,164,32>
Name: 9155, dtype: object
ID                                              42630
IP_SPLIT_RESULT                          175.223.35.3
SEQUENCE_PARSE     <29,132,113,132,31,113,113,31,113>
Name: 9156, dtype: object
ID                          42631
IP_SPLIT_RESULT    182.231.201.76
SEQUENCE_PARSE                <1>
Name: 9157, dtype: object
ID                                                             42632
IP_SPLIT_RESULT                                         223.38.10.64
SEQUENCE_PARSE     <31,1,63,132,93,39,164,63,164,1,39,164,39,164,...
Name: 9158, dtype: object
ID                                                             42633
IP_SPLIT_RESULT                                         223.38.10.64
SEQUENCE_PARSE     <113,164,1,90,92,87,89,1,132,93,132,93,93,93,6...
Name: 9159, dtype: object
ID                                                             42634
IP_SPLIT_RESULT                                        110.70.14.235
SEQUENCE_PARSE     <1,90,92,87,89,80,29,113,132,113,113,113,113,3...
Name: 9160, dtype: object
ID                                                       42635
IP_SPLIT_RESULT                                 211.193.176.58
SEQUENCE_PARSE     <1,130,1,25,1,90,92,132,93,132,93,93,93,93>
Name: 9161, dtype: object
ID                        42636
IP_SPLIT_RESULT    66.249.79.79
SEQUENCE_PARSE              <1>
Name: 9162, dtype: object
ID                          42637
IP_SPLIT_RESULT    211.197.241.93
SEQUENCE_PARSE            <1,5,1>
Name: 9163, dtype: object
ID                                                             42638
IP_SPLIT_RESULT                                        110.70.14.235
SEQUENCE_PARSE     <92,89,212,132,31,113,31,113,113,31,113,31,113...
Name: 9164, dtype: object
ID                                                             42639
IP_SPLIT_RESULT                                      203.234.230.199
SEQUENCE_PARSE     <39,164,63,164,31,113,39,1,132,164,132,158,160...
Name: 9165, dtype: object
ID                             42640
IP_SPLIT_RESULT       175.223.37.114
SEQUENCE_PARSE     <1,92,87,212,130>
Name: 9166, dtype: object
ID                        42641
IP_SPLIT_RESULT    218.54.69.45
SEQUENCE_PARSE              <1>
Name: 9167, dtype: object
ID                                                      42642
IP_SPLIT_RESULT                                223.39.140.170
SEQUENCE_PARSE     <1,132,93,132,93,93,92,1,132,93,132,93,93>
Name: 9168, dtype: object
ID                         42643
IP_SPLIT_RESULT    173.252.95.27
SEQUENCE_PARSE               <1>
Name: 9169, dtype: object
ID                                                             42644
IP_SPLIT_RESULT                                         220.74.66.58
SEQUENCE_PARSE     <1,90,92,90,90,92,89,80,29,212,132,113,132,132...
Name: 9170, dtype: object
ID                              42645
IP_SPLIT_RESULT          110.70.14.72
SEQUENCE_PARSE     <29,132,113,132,1>
Name: 9171, dtype: object
ID                             42646
IP_SPLIT_RESULT        175.223.22.80
SEQUENCE_PARSE     <1,93,132,132,90>
Name: 9172, dtype: object
ID                          42647
IP_SPLIT_RESULT    175.223.15.238
SEQUENCE_PARSE                <1>
Name: 9173, dtype: object
ID                                                          42648
IP_SPLIT_RESULT                                      61.99.88.167
SEQUENCE_PARSE     <1,132,132,158,160,132,113,132,113,113,31,113>
Name: 9174, dtype: object
ID                                                             42649
IP_SPLIT_RESULT                                         220.74.66.58
SEQUENCE_PARSE     <25,87,189,132,132,113,132,113,31,113,113,113,...
Name: 9175, dtype: object
ID                         42650
IP_SPLIT_RESULT    175.223.22.80
SEQUENCE_PARSE     <93,93,93,93>
Name: 9176, dtype: object
ID                                                             42651
IP_SPLIT_RESULT                                          39.7.58.172
SEQUENCE_PARSE     <1,93,132,132,93,93,132,113,132,90,92,132,10,3...
Name: 9177, dtype: object
ID                          42652
IP_SPLIT_RESULT    211.36.138.181
SEQUENCE_PARSE                <1>
Name: 9178, dtype: object
ID                                            42653
IP_SPLIT_RESULT                       124.50.127.11
SEQUENCE_PARSE     <132,93,132,1,5,1,132,93,132,93>
Name: 9179, dtype: object
ID                         42654
IP_SPLIT_RESULT    112.186.86.73
SEQUENCE_PARSE               <1>
Name: 9180, dtype: object
ID                                                             42655
IP_SPLIT_RESULT                                        58.236.248.95
SEQUENCE_PARSE     <32,32,1,132,132,132,132,158,160,164,132,158,1...
Name: 9181, dtype: object
ID                         42656
IP_SPLIT_RESULT    117.111.16.18
SEQUENCE_PARSE               <1>
Name: 9182, dtype: object
ID                         42657
IP_SPLIT_RESULT    220.94.43.219
SEQUENCE_PARSE               <1>
Name: 9183, dtype: object
ID                                                             42658
IP_SPLIT_RESULT                                      125.132.128.148
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 9184, dtype: object
ID                         42659
IP_SPLIT_RESULT    1.219.254.189
SEQUENCE_PARSE         <1,93,93>
Name: 9185, dtype: object
ID                                                             42660
IP_SPLIT_RESULT                                        223.62.22.205
SEQUENCE_PARSE     <1,90,92,87,32,93,1,132,93,132,93,93,32,93,93,...
Name: 9186, dtype: object
ID                                42661
IP_SPLIT_RESULT           1.219.254.189
SEQUENCE_PARSE     <90,132,132,132,132>
Name: 9187, dtype: object
ID                                                             42662
IP_SPLIT_RESULT                                        211.109.6.248
SEQUENCE_PARSE     <1,5,1,5,1,93,132,132,93,1,5,1,90,92,87,89,80,...
Name: 9188, dtype: object
ID                          42663
IP_SPLIT_RESULT    222.239.23.125
SEQUENCE_PARSE              <5,1>
Name: 9189, dtype: object
ID                                                             42664
IP_SPLIT_RESULT                                         61.78.69.117
SEQUENCE_PARSE     <29,29,29,29,29,29,29,29,29,29,29,29,1,29,29,1...
Name: 9190, dtype: object
ID                                                             42665
IP_SPLIT_RESULT                                       182.221.45.213
SEQUENCE_PARSE     <1,87,89,32,93,113,93,113,87,113,212,113,14,11...
Name: 9191, dtype: object
ID                                                             42666
IP_SPLIT_RESULT                                      211.209.248.180
SEQUENCE_PARSE     <1,132,132,158,160,93,132,158,160,132,9,132,32...
Name: 9192, dtype: object
ID                         42667
IP_SPLIT_RESULT    223.33.164.81
SEQUENCE_PARSE               <1>
Name: 9193, dtype: object
ID                          42668
IP_SPLIT_RESULT    163.180.32.245
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 9194, dtype: object
ID                           42669
IP_SPLIT_RESULT    211.112.186.106
SEQUENCE_PARSE                 <1>
Name: 9195, dtype: object
ID                        42670
IP_SPLIT_RESULT    1.225.122.50
SEQUENCE_PARSE           <1,90>
Name: 9196, dtype: object
ID                                                             42671
IP_SPLIT_RESULT                                          39.7.58.172
SEQUENCE_PARSE     <87,89,80,29,113,212,132,132,132,1,113,132,132...
Name: 9197, dtype: object
ID                                          42672
IP_SPLIT_RESULT                     117.111.1.158
SEQUENCE_PARSE     <1,132,132,158,160,132,31,113>
Name: 9198, dtype: object
ID                          42673
IP_SPLIT_RESULT    223.33.178.113
SEQUENCE_PARSE                <1>
Name: 9199, dtype: object
ID                      42674
IP_SPLIT_RESULT    39.7.53.26
SEQUENCE_PARSE            <1>
Name: 9200, dtype: object
ID                           42675
IP_SPLIT_RESULT      72.14.199.135
SEQUENCE_PARSE     <1,5,1,5,1,5,1>
Name: 9201, dtype: object
ID                                                             42676
IP_SPLIT_RESULT                                       182.221.45.213
SEQUENCE_PARSE     <132,93,132,90,92,80,30,212,132,93,132,32,93,9...
Name: 9202, dtype: object
ID                                                 42677
IP_SPLIT_RESULT                            72.14.199.132
SEQUENCE_PARSE     <5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1>
Name: 9203, dtype: object
ID                                                             42678
IP_SPLIT_RESULT                                        223.62.22.205
SEQUENCE_PARSE     <89,25,32,93,1,132,113,132,31,113,31,113,1,132...
Name: 9204, dtype: object
ID                         42679
IP_SPLIT_RESULT    223.62.202.90
SEQUENCE_PARSE           <32,93>
Name: 9205, dtype: object
ID                                                             42680
IP_SPLIT_RESULT                                         223.38.17.14
SEQUENCE_PARSE     <32,32,1,132,93,132,93,93,93,93,93,93,93,93,93...
Name: 9206, dtype: object
ID                                                             42681
IP_SPLIT_RESULT                                        223.55.224.45
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,1,132,93,13...
Name: 9207, dtype: object
ID                        42682
IP_SPLIT_RESULT    14.33.55.174
SEQUENCE_PARSE     <1,90,92,87>
Name: 9208, dtype: object
ID                             42683
IP_SPLIT_RESULT         14.33.55.174
SEQUENCE_PARSE     <63,89,195,63,87>
Name: 9209, dtype: object
ID                               42684
IP_SPLIT_RESULT          14.32.182.135
SEQUENCE_PARSE     <32,93,32,93,32,93>
Name: 9210, dtype: object
ID                         42685
IP_SPLIT_RESULT    114.201.63.38
SEQUENCE_PARSE               <1>
Name: 9211, dtype: object
ID                                                             42686
IP_SPLIT_RESULT                                      163.239.255.150
SEQUENCE_PARSE     <1,130,130,130,1,90,92,89,87,89,80,24,212,132,...
Name: 9212, dtype: object
ID                                             42687
IP_SPLIT_RESULT                        221.146.87.26
SEQUENCE_PARSE     <1,90,92,164,132,164,164,164,164>
Name: 9213, dtype: object
ID                               42688
IP_SPLIT_RESULT           14.63.38.178
SEQUENCE_PARSE     <1,132,93,132,93,1>
Name: 9214, dtype: object
ID                           42689
IP_SPLIT_RESULT    149.154.167.162
SEQUENCE_PARSE                 <1>
Name: 9215, dtype: object
ID                             42690
IP_SPLIT_RESULT      121.161.152.145
SEQUENCE_PARSE     <1,93,132,132,30>
Name: 9216, dtype: object
ID                                                             42691
IP_SPLIT_RESULT                                       119.70.195.214
SEQUENCE_PARSE     <1,90,92,90,87,89,80,29,212,132,113,132,132,21...
Name: 9217, dtype: object
ID                                                42692
IP_SPLIT_RESULT                         218.153.129.160
SEQUENCE_PARSE     <1,132,93,132,1,132,93,132,93,93,93>
Name: 9218, dtype: object
ID                                   42693
IP_SPLIT_RESULT               110.70.54.31
SEQUENCE_PARSE     <1,63,89,132,132,93,93>
Name: 9219, dtype: object
ID                                                             42694
IP_SPLIT_RESULT                                        211.36.142.77
SEQUENCE_PARSE     <1,93,132,132,93,93,32,93,132,162,166,162,93,9...
Name: 9220, dtype: object
ID                                                             42695
IP_SPLIT_RESULT                                        211.36.159.91
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 9221, dtype: object
ID                          42696
IP_SPLIT_RESULT    203.246.85.190
SEQUENCE_PARSE         <31,113,1>
Name: 9222, dtype: object
ID                         42697
IP_SPLIT_RESULT    223.62.188.67
SEQUENCE_PARSE            <31,1>
Name: 9223, dtype: object

ID                                42867
IP_SPLIT_RESULT           1.243.119.146
SEQUENCE_PARSE     <29,132,113,132,113>
Name: 9393, dtype: object
ID                                                      42868
IP_SPLIT_RESULT                                 223.39.138.54
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,132,93,132,93>
Name: 9394, dtype: object
ID                                                             42869
IP_SPLIT_RESULT                                        110.70.58.253
SEQUENCE_PARSE     <39,164,1,130,39,164,29,132,113,132,39,164,39,...
Name: 9395, dtype: object
ID                                                             42870
IP_SPLIT_RESULT                                        175.223.49.36
SEQUENCE_PARSE     <1,90,132,93,132,132,158,160,164,132,158,160,3...
Name: 9396, dtype: object
ID                            42871
IP_SPLIT_RESULT      121.139.199.48
SEQUENCE_PARSE     <90,132,113,132>
Name: 9397, dtype: object
ID                                                           42872
IP_SPLIT_RESULT                                     223.62.172.226
SEQUENCE_PARSE     <113,132,113,113,93,93,93,93,1,132,93,132,93,1>
Name: 9398, dtype: object
ID                          42873
IP_SPLIT_RESULT    117.111.28.138
SEQUENCE_PARSE              <113>
Name: 9399, dtype: object
ID                         42874
IP_SPLIT_RESULT    223.39.138.54
SEQUENCE_PARSE              <93>
Name: 9400, dtype: object
ID                                                             42875
IP_SPLIT_RESULT                                        1.243.119.146
SEQUENCE_PARSE     <29,132,113,132,113,113,132,93,132,132,113,132...
Name: 9401, dtype: object
ID                         42876
IP_SPLIT_RESULT    110.70.58.253
SEQUENCE_PARSE       <164,132,1>
Name: 9402, dtype: object
ID                                                             42877
IP_SPLIT_RESULT                                       223.62.169.147
SEQUENCE_PARSE     <32,93,1,113,132,93,132,158,160,132,178,132,17...
Name: 9403, dtype: object
ID                                           42878
IP_SPLIT_RESULT                      223.62.11.134
SEQUENCE_PARSE     <32,93,113,31,113,132,162,1,93>
Name: 9404, dtype: object
ID                         42879
IP_SPLIT_RESULT    175.223.20.91
SEQUENCE_PARSE           <32,93>
Name: 9405, dtype: object
ID                        42880
IP_SPLIT_RESULT    66.102.6.122
SEQUENCE_PARSE         <1,25,1>
Name: 9406, dtype: object
ID                          42881
IP_SPLIT_RESULT    175.223.15.196
SEQUENCE_PARSE            <32,93>
Name: 9407, dtype: object
ID                         42882
IP_SPLIT_RESULT    117.111.23.44
SEQUENCE_PARSE        <29,32,93>
Name: 9408, dtype: object
ID                         42883
IP_SPLIT_RESULT    165.132.5.147
SEQUENCE_PARSE           <1,5,1>
Name: 9409, dtype: object
ID                                                             42884
IP_SPLIT_RESULT                                       121.166.17.108
SEQUENCE_PARSE     <1,63,132,93,132,63,132,93,132,93,93,32,93,32,...
Name: 9410, dtype: object
ID                         42885
IP_SPLIT_RESULT    218.235.17.48
SEQUENCE_PARSE               <1>
Name: 9411, dtype: object
ID                         42886
IP_SPLIT_RESULT    223.55.24.143
SEQUENCE_PARSE            <1,90>
Name: 9412, dtype: object
ID                                                42887
IP_SPLIT_RESULT                          223.62.202.239
SEQUENCE_PARSE     <1,31,113,132,113,132,31,113,31,113>
Name: 9413, dtype: object
ID                                  42888
IP_SPLIT_RESULT            223.62.219.197
SEQUENCE_PARSE     <32,1,132,132,158,160>
Name: 9414, dtype: object
ID                          42889
IP_SPLIT_RESULT    223.62.219.197
SEQUENCE_PARSE               <93>
Name: 9415, dtype: object
ID                               42890
IP_SPLIT_RESULT          223.62.11.219
SEQUENCE_PARSE     <32,32,32,93,32,93>
Name: 9416, dtype: object
ID                                                             42891
IP_SPLIT_RESULT                                       121.166.17.108
SEQUENCE_PARSE     <1,130,130,63,1,132,93,132,191,63,63,63,63,63,...
Name: 9417, dtype: object
ID                                           42892
IP_SPLIT_RESULT                     175.223.21.253
SEQUENCE_PARSE     <1,132,93,132,93,30,132,93,132>
Name: 9418, dtype: object
ID                         42893
IP_SPLIT_RESULT    223.55.24.143
SEQUENCE_PARSE              <92>
Name: 9419, dtype: object
ID                          42894
IP_SPLIT_RESULT    114.206.236.21
SEQUENCE_PARSE     <1,132,93,132>
Name: 9420, dtype: object
ID                          42895
IP_SPLIT_RESULT    112.168.150.38
SEQUENCE_PARSE           <31,113>
Name: 9421, dtype: object
ID                                   42896
IP_SPLIT_RESULT              223.62.188.74
SEQUENCE_PARSE     <1,132,93,132,93,93,92>
Name: 9422, dtype: object
ID                             42897
IP_SPLIT_RESULT         175.223.3.89
SEQUENCE_PARSE     <132,113,132,113>
Name: 9423, dtype: object
ID                          42898
IP_SPLIT_RESULT    223.39.146.128
SEQUENCE_PARSE                <1>
Name: 9424, dtype: object
ID                                                             42899
IP_SPLIT_RESULT                                        223.54.34.169
SEQUENCE_PARSE     <1,93,132,132,93,32,93,32,93,32,93,32,93,32,93...
Name: 9425, dtype: object
ID                         42900
IP_SPLIT_RESULT    223.62.188.74
SEQUENCE_PARSE            <90,1>
Name: 9426, dtype: object
ID                                                             42901
IP_SPLIT_RESULT                                       121.134.91.250
SEQUENCE_PARSE     <1,33,164,164,164,32,93,132,162,162,113,113,21...
Name: 9427, dtype: object
ID                         42902
IP_SPLIT_RESULT    112.170.1.196
SEQUENCE_PARSE               <5>
Name: 9428, dtype: object
ID                                                             42903
IP_SPLIT_RESULT                                      182.221.140.136
SEQUENCE_PARSE     <93,93,14,93,87,93,212,14,93,212,93,14,93,93,2...
Name: 9429, dtype: object
ID                          42904
IP_SPLIT_RESULT     223.39.130.12
SEQUENCE_PARSE     <32,132,132,1>
Name: 9430, dtype: object
ID                         42905
IP_SPLIT_RESULT    223.39.130.12
SEQUENCE_PARSE              <93>
Name: 9431, dtype: object
ID                                                             42906
IP_SPLIT_RESULT                                       115.126.217.25
SEQUENCE_PARSE     <39,164,130,164,39,164,31,113,39,164,31,113,39...
Name: 9432, dtype: object
ID                         42907
IP_SPLIT_RESULT    110.70.14.116
SEQUENCE_PARSE           <32,93>
Name: 9433, dtype: object
ID                        42908
IP_SPLIT_RESULT    175.223.39.4
SEQUENCE_PARSE              <1>
Name: 9434, dtype: object
ID                                                             42909
IP_SPLIT_RESULT                                        110.70.55.120
SEQUENCE_PARSE     <1,164,164,93,132,132,32,93,32,93,32,93,32,93,...
Name: 9435, dtype: object
ID                                                             42910
IP_SPLIT_RESULT                                        110.70.55.120
SEQUENCE_PARSE     <132,93,132,132,33,93,132,132,93,132,93,93,93,...
Name: 9436, dtype: object
ID                                        42911
IP_SPLIT_RESULT                   163.152.3.189
SEQUENCE_PARSE     <1,5,1,30,132,93,132,31,113>
Name: 9437, dtype: object
ID                                                            42912
IP_SPLIT_RESULT                                       223.39.149.83
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,132,93,132,93,93,93>
Name: 9438, dtype: object
ID                          42913
IP_SPLIT_RESULT    183.97.181.221
SEQUENCE_PARSE                <1>
Name: 9439, dtype: object
ID                                                             42914
IP_SPLIT_RESULT                                        117.20.81.179
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,32,93,32,93,132,9...
Name: 9440, dtype: object
ID                                                             42915
IP_SPLIT_RESULT                                        203.207.17.17
SEQUENCE_PARSE     <1,113,132,132,113,31,113,31,113,31,113,113,11...
Name: 9441, dtype: object
ID                                                      42916
IP_SPLIT_RESULT                                  220.90.89.14
SEQUENCE_PARSE     <9,1,132,132,158,160,1,132,132,158,160,93>
Name: 9442, dtype: object
ID                                                             42917
IP_SPLIT_RESULT                                         223.62.202.9
SEQUENCE_PARSE     <32,1,132,93,132,93,93,130,164,164,164,178,132...
Name: 9443, dtype: object
ID                                   42918
IP_SPLIT_RESULT               117.111.2.19
SEQUENCE_PARSE     <1,113,132,132,113,132>
Name: 9444, dtype: object
ID                          42919
IP_SPLIT_RESULT    175.213.45.130
SEQUENCE_PARSE                <1>
Name: 9445, dtype: object
ID                         42920
IP_SPLIT_RESULT    175.223.19.97
SEQUENCE_PARSE              <27>
Name: 9446, dtype: object
ID                                                             42921
IP_SPLIT_RESULT                                       118.38.208.249
SEQUENCE_PARSE     <1,132,113,132,113,1,132,113,132,31,113,31,113...
Name: 9447, dtype: object
ID                                                             42922
IP_SPLIT_RESULT                                      116.126.240.135
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,90,87,89,80,30,212,1...
Name: 9448, dtype: object
ID                           42923
IP_SPLIT_RESULT    112.187.235.176
SEQUENCE_PARSE             <32,93>
Name: 9449, dtype: object
ID                         42924
IP_SPLIT_RESULT    119.67.239.68
SEQUENCE_PARSE               <1>
Name: 9450, dtype: object
ID                         42925
IP_SPLIT_RESULT    39.121.50.197
SEQUENCE_PARSE               <1>
Name: 9451, dtype: object
ID                          42926
IP_SPLIT_RESULT     223.62.22.246
SEQUENCE_PARSE     <32,93,31,113>
Name: 9452, dtype: object
ID                          42927
IP_SPLIT_RESULT    218.144.192.98
SEQUENCE_PARSE            <32,93>
Name: 9453, dtype: object
ID                         42928
IP_SPLIT_RESULT    211.42.193.84
SEQUENCE_PARSE               <1>
Name: 9454, dtype: object
ID                                                             42929
IP_SPLIT_RESULT                                        223.38.18.252
SEQUENCE_PARSE     <1,32,93,93,93,32,93,32,93,32,93,132,162,166,1...
Name: 9455, dtype: object
ID                          42930
IP_SPLIT_RESULT    218.154.121.78
SEQUENCE_PARSE                <1>
Name: 9456, dtype: object
ID                          42931
IP_SPLIT_RESULT    211.36.151.105
SEQUENCE_PARSE                <1>
Name: 9457, dtype: object
ID                                                          42932
IP_SPLIT_RESULT                                    211.36.139.213
SEQUENCE_PARSE     <1,93,132,132,93,93,32,93,1,132,113,132,113,1>
Name: 9458, dtype: object
ID                               42933
IP_SPLIT_RESULT         121.132.67.163
SEQUENCE_PARSE     <32,32,32,93,32,93>
Name: 9459, dtype: object
ID                                        42934
IP_SPLIT_RESULT                    223.38.10.92
SEQUENCE_PARSE     <32,32,93,132,162,166,162,1>
Name: 9460, dtype: object
ID                          42935
IP_SPLIT_RESULT    117.111.24.101
SEQUENCE_PARSE      <32,32,32,93>
Name: 9461, dtype: object
ID                                                           42936
IP_SPLIT_RESULT                                       223.38.10.92
SEQUENCE_PARSE     <93,1,90,92,1,132,93,132,132,93,132,93,93,93,1>
Name: 9462, dtype: object
ID                               42937
IP_SPLIT_RESULT              1.240.5.3
SEQUENCE_PARSE     <32,93,32,93,32,93>
Name: 9463, dtype: object
ID                          42938
IP_SPLIT_RESULT    223.62.190.222
SEQUENCE_PARSE              <5,1>
Name: 9464, dtype: object
ID                                                             42939
IP_SPLIT_RESULT                                       182.172.35.106
SEQUENCE_PARSE     <32,93,32,93,32,93,132,93,32,93,32,93,32,93,32...
Name: 9465, dtype: object
ID                         42940
IP_SPLIT_RESULT    221.146.87.21
SEQUENCE_PARSE              <25>
Name: 9466, dtype: object
ID                                                             42941
IP_SPLIT_RESULT                                       116.124.247.36
SEQUENCE_PARSE     <30,93,93,93,93,93,1,132,93,132,93,93,93,93,89...
Name: 9467, dtype: object
ID                                             42942
IP_SPLIT_RESULT                       116.124.247.36
SEQUENCE_PARSE     <132,132,93,1,93,1,93,90,92,87,1>
Name: 9468, dtype: object
ID                                                             42943
IP_SPLIT_RESULT                                         110.70.53.84
SEQUENCE_PARSE     <29,212,132,113,132,113,113,113,113,31,113,39,...
Name: 9469, dtype: object
ID                                                             42944
IP_SPLIT_RESULT                                          39.7.47.232
SEQUENCE_PARSE     <33,164,33,164,63,164,164,132,113,132,132,158,...
Name: 9470, dtype: object
ID                                                             42945
IP_SPLIT_RESULT                                       113.60.110.168
SEQUENCE_PARSE     <1,32,93,132,93,1,93,132,132,93,32,93,132,162,...
Name: 9471, dtype: object
ID                                                            42946
IP_SPLIT_RESULT                                      175.223.18.163
SEQUENCE_PARSE     <130,132,132,158,160,132,132,158,160,132,93,132>
Name: 9472, dtype: object
ID                                             42947
IP_SPLIT_RESULT                       211.187.39.241
SEQUENCE_PARSE     <29,132,113,132,29,132,113,132,1>
Name: 9473, dtype: object
ID                                                             42948
IP_SPLIT_RESULT                                      125.132.195.189
SEQUENCE_PARSE     <1,113,132,132,113,1,113,132,132,113,1,113,132...
Name: 9474, dtype: object
ID                         42949
IP_SPLIT_RESULT    211.36.157.42
SEQUENCE_PARSE           <32,93>
Name: 9475, dtype: object
ID                          42950
IP_SPLIT_RESULT    221.165.163.99
SEQUENCE_PARSE                <1>
Name: 9476, dtype: object
ID                         42951
IP_SPLIT_RESULT    117.111.3.118
SEQUENCE_PARSE           <32,93>
Name: 9477, dtype: object
ID                                          42952
IP_SPLIT_RESULT                     121.174.25.92
SEQUENCE_PARSE     <29,132,113,132,1,130,130,130>
Name: 9478, dtype: object
ID                                                             42953
IP_SPLIT_RESULT                                       211.246.116.45
SEQUENCE_PARSE     <1,113,1,33,164,130,130,164,164,164,164,1,63,1...
Name: 9479, dtype: object
ID                                                             42954
IP_SPLIT_RESULT                                      125.132.195.189
SEQUENCE_PARSE     <130,130,132,113,132,113,31,113,1,132,113,132,...
Name: 9480, dtype: object
ID                                           42955
IP_SPLIT_RESULT                     180.70.151.192
SEQUENCE_PARSE     <32,93,32,32,32,32,32,32,32,32>
Name: 9481, dtype: object
ID                                                             42956
IP_SPLIT_RESULT                                        223.39.146.92
SEQUENCE_PARSE     <32,93,1,132,93,132,93,93,32,93,32,93,93,32,93...
Name: 9482, dtype: object
ID                                                 42957
IP_SPLIT_RESULT                            122.42.21.155
SEQUENCE_PARSE     <32,32,31,113,132,132,113,158,31,113>
Name: 9483, dtype: object
ID                        42958
IP_SPLIT_RESULT    110.70.52.26
SEQUENCE_PARSE       <32,32,93>
Name: 9484, dtype: object
ID                         42959
IP_SPLIT_RESULT    180.230.45.23
SEQUENCE_PARSE               <1>
Name: 9485, dtype: object
ID                                                             42960
IP_SPLIT_RESULT                                       175.223.21.176
SEQUENCE_PARSE     <32,93,32,1,113,130,113,31,113,132,162,93,132,...
Name: 9486, dtype: object
ID                                                        42961
IP_SPLIT_RESULT                                    14.33.188.10
SEQUENCE_PARSE     <1,5,1,130,130,1,132,113,132,113,113,31,113>
Name: 9487, dtype: object
ID                                                             42962
IP_SPLIT_RESULT                                         110.70.59.56
SEQUENCE_PARSE     <25,132,1,132,113,132,31,113,113,132,132,158,1...
Name: 9488, dtype: object
ID                                                             42963
IP_SPLIT_RESULT                                       211.246.116.45
SEQUENCE_PARSE     <1,132,132,158,160,93,132,113,32,32,5,32,32,5,...
Name: 9489, dtype: object
ID                                                             42964
IP_SPLIT_RESULT                                       223.62.169.141
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,93,93,93,93,32,1,...
Name: 9490, dtype: object
ID                                                             42965
IP_SPLIT_RESULT                                         49.172.9.148
SEQUENCE_PARSE     <1,90,92,80,29,212,132,113,132,132,212,132,113...
Name: 9491, dtype: object
ID                          42966
IP_SPLIT_RESULT     220.74.109.74
SEQUENCE_PARSE     <1,132,93,132>
Name: 9492, dtype: object
ID                                                   42967
IP_SPLIT_RESULT                             223.62.202.167
SEQUENCE_PARSE     <31,113,1,93,132,132,32,93,32,93,32,93>
Name: 9493, dtype: object
ID                                                             42968
IP_SPLIT_RESULT                                       223.62.169.141
SEQUENCE_PARSE     <93,132,162,166,162,132,93,132,93,93,93,32,93,...
Name: 9494, dtype: object
ID                                42969
IP_SPLIT_RESULT            39.117.3.201
SEQUENCE_PARSE     <39,164,130,164,164>
Name: 9495, dtype: object
ID                        42970
IP_SPLIT_RESULT    220.85.7.165
SEQUENCE_PARSE            <5,1>
Name: 9496, dtype: object
ID                                                             42971
IP_SPLIT_RESULT                                        175.223.27.41
SEQUENCE_PARSE     <1,5,1,132,113,132,1,132,113,132,31,113,33,164...
Name: 9497, dtype: object
ID                                                             42972
IP_SPLIT_RESULT                                      211.206.147.229
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 9498, dtype: object
ID                                                             42973
IP_SPLIT_RESULT                                           39.7.53.48
SEQUENCE_PARSE     <32,92,87,195,93,132,132,132,132,132,132,132,1...
Name: 9499, dtype: object
ID                           42974
IP_SPLIT_RESULT    165.246.228.161
SEQUENCE_PARSE                 <1>
Name: 9500, dtype: object
ID                          42975
IP_SPLIT_RESULT    223.62.216.128
SEQUENCE_PARSE             <32,1>
Name: 9501, dtype: object
ID                         42976
IP_SPLIT_RESULT    52.51.178.126
SEQUENCE_PARSE               <1>
Name: 9502, dtype: object
ID                                                             42977
IP_SPLIT_RESULT                                       175.223.11.204
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,32,93,113,87,132,158...
Name: 9503, dtype: object
ID                            42978
IP_SPLIT_RESULT       223.62.219.59
SEQUENCE_PARSE     <32,93,132,1,93>
Name: 9504, dtype: object
ID                               42979
IP_SPLIT_RESULT          175.223.49.36
SEQUENCE_PARSE     <93,93,212,14,93,1>
Name: 9505, dtype: object
ID                                                             42980
IP_SPLIT_RESULT                                       223.33.165.112

ID                          43137
IP_SPLIT_RESULT    211.36.141.148
SEQUENCE_PARSE        <1,32,32,1>
Name: 9663, dtype: object
ID                                          43138
IP_SPLIT_RESULT                     175.223.10.91
SEQUENCE_PARSE     <1,132,113,132,113,113,212,14>
Name: 9664, dtype: object
ID                         43139
IP_SPLIT_RESULT    207.46.13.132
SEQUENCE_PARSE            <1,44>
Name: 9665, dtype: object
ID                                              43140
IP_SPLIT_RESULT                           122.34.7.79
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93>
Name: 9666, dtype: object
ID                                             43141
IP_SPLIT_RESULT                        175.223.10.91
SEQUENCE_PARSE     <113,113,132,132,132,158,160,132>
Name: 9667, dtype: object
ID                                                             43142
IP_SPLIT_RESULT                                          1.240.15.47
SEQUENCE_PARSE     <87,89,80,26,26,130,130,132,92,113,31,113,31,1...
Name: 9668, dtype: object
ID                                           43143
IP_SPLIT_RESULT                     211.226.157.95
SEQUENCE_PARSE     <29,132,113,132,29,132,113,132>
Name: 9669, dtype: object
ID                           43144
IP_SPLIT_RESULT    121.172.224.155
SEQUENCE_PARSE                <87>
Name: 9670, dtype: object
ID                         43145
IP_SPLIT_RESULT    122.43.219.39
SEQUENCE_PARSE               <1>
Name: 9671, dtype: object
ID                           43146
IP_SPLIT_RESULT    221.156.251.226
SEQUENCE_PARSE                 <1>
Name: 9672, dtype: object
ID                                                             43147
IP_SPLIT_RESULT                                       116.40.227.200
SEQUENCE_PARSE     <45,132,93,132,1,132,93,132,93,93,93,132,93,13...
Name: 9673, dtype: object
ID                                                             43148
IP_SPLIT_RESULT                                      121.152.243.164
SEQUENCE_PARSE     <113,113,132,132,113,113,31,113,31,113,113,113...
Name: 9674, dtype: object
ID                                               43149
IP_SPLIT_RESULT                         211.34.243.207
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93>
Name: 9675, dtype: object
ID                                           43150
IP_SPLIT_RESULT                     116.40.227.200
SEQUENCE_PARSE     <93,1,132,93,132,93,132,132,93>
Name: 9676, dtype: object
ID                          43151
IP_SPLIT_RESULT    211.226.157.95
SEQUENCE_PARSE          <113,113>
Name: 9677, dtype: object
ID                                43152
IP_SPLIT_RESULT          223.62.162.112
SEQUENCE_PARSE     <1,132,93,132,93,92>
Name: 9678, dtype: object
ID                                   43153
IP_SPLIT_RESULT              122.42.103.21
SEQUENCE_PARSE     <1,132,93,132,93,90,92>
Name: 9679, dtype: object
ID                         43154
IP_SPLIT_RESULT    27.117.177.74
SEQUENCE_PARSE               <1>
Name: 9680, dtype: object
ID                                                             43155
IP_SPLIT_RESULT                                       175.198.94.123
SEQUENCE_PARSE     <32,93,32,93,32,93,1,93,92,87,1,90,23,90,90,92...
Name: 9681, dtype: object
ID                                                             43156
IP_SPLIT_RESULT                                         110.70.53.84
SEQUENCE_PARSE     <31,113,113,31,113,31,113,113,113,113,113,113,...
Name: 9682, dtype: object
ID                           43157
IP_SPLIT_RESULT      39.118.14.200
SEQUENCE_PARSE     <30,132,93,132>
Name: 9683, dtype: object
ID                                                             43158
IP_SPLIT_RESULT                                       175.198.94.123
SEQUENCE_PARSE     <130,1,130,93,1,93,132,132,93,93,93,93,93,93,9...
Name: 9684, dtype: object
ID                                                             43159
IP_SPLIT_RESULT                                      220.149.206.234
SEQUENCE_PARSE     <8,132,132,93,132,32,93,32,93,32,93,93,93,93,3...
Name: 9685, dtype: object
ID                                                             43160
IP_SPLIT_RESULT                                        218.50.56.251
SEQUENCE_PARSE     <1,132,132,158,160,132,132,113,132,113,132,113...
Name: 9686, dtype: object
ID                        43161
IP_SPLIT_RESULT    14.46.54.250
SEQUENCE_PARSE        <1,90,92>
Name: 9687, dtype: object
ID                             43162
IP_SPLIT_RESULT        122.36.240.88
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 9688, dtype: object
ID                          43163
IP_SPLIT_RESULT    121.144.66.109
SEQUENCE_PARSE                <1>
Name: 9689, dtype: object
ID                                      43164
IP_SPLIT_RESULT                 121.129.24.63
SEQUENCE_PARSE     <39,164,1,132,132,158,160>
Name: 9690, dtype: object
ID                                                             43165
IP_SPLIT_RESULT                                      220.149.206.234
SEQUENCE_PARSE     <93,93,32,93,32,93,93,32,93,32,93,93,93,93,32,...
Name: 9691, dtype: object
ID                          43166
IP_SPLIT_RESULT    116.125.178.74
SEQUENCE_PARSE                <1>
Name: 9692, dtype: object
ID                                                             43167
IP_SPLIT_RESULT                                         1.226.81.200
SEQUENCE_PARSE     <1,132,113,132,1,132,113,132,113,90,92,132,113...
Name: 9693, dtype: object
ID                          43168
IP_SPLIT_RESULT    106.114.66.200
SEQUENCE_PARSE                <1>
Name: 9694, dtype: object
ID                                                             43169
IP_SPLIT_RESULT                                       223.62.188.186
SEQUENCE_PARSE     <1,63,132,113,132,31,113,31,113,31,113,31,113,...
Name: 9695, dtype: object
ID                                                         43170
IP_SPLIT_RESULT                                    223.39.139.64
SEQUENCE_PARSE     <1,31,113,31,113,132,162,166,162,132,113,132>
Name: 9696, dtype: object
ID                          43171
IP_SPLIT_RESULT    211.36.157.223
SEQUENCE_PARSE                <1>
Name: 9697, dtype: object
ID                                                             43172
IP_SPLIT_RESULT                                        218.50.56.251
SEQUENCE_PARSE     <31,113,113,31,113,113,31,113,31,113,31,113,31...
Name: 9698, dtype: object
ID                                                             43173
IP_SPLIT_RESULT                                        223.62.22.198
SEQUENCE_PARSE     <1,113,132,132,113,31,113,113,1,31,113,132,132...
Name: 9699, dtype: object
ID                       43174
IP_SPLIT_RESULT    39.7.15.131
SEQUENCE_PARSE             <1>
Name: 9700, dtype: object
ID                          43175
IP_SPLIT_RESULT     211.36.148.37
SEQUENCE_PARSE     <1,93,132,132>
Name: 9701, dtype: object
ID                          43176
IP_SPLIT_RESULT    114.207.134.67
SEQUENCE_PARSE                <1>
Name: 9702, dtype: object
ID                          43177
IP_SPLIT_RESULT    117.111.20.147
SEQUENCE_PARSE                <1>
Name: 9703, dtype: object
ID                                                   43178
IP_SPLIT_RESULT                              223.62.22.198
SEQUENCE_PARSE     <113,31,113,113,31,113,113,113,132,132>
Name: 9704, dtype: object
ID                                43179
IP_SPLIT_RESULT           180.71.254.61
SEQUENCE_PARSE     <1,132,93,132,90,92>
Name: 9705, dtype: object
ID                          43180
IP_SPLIT_RESULT    175.200.65.184
SEQUENCE_PARSE                <1>
Name: 9706, dtype: object
ID                          43181
IP_SPLIT_RESULT    122.96.128.202
SEQUENCE_PARSE                <1>
Name: 9707, dtype: object
ID                          43182
IP_SPLIT_RESULT    118.37.150.232
SEQUENCE_PARSE           <31,113>
Name: 9708, dtype: object
ID                                                             43183
IP_SPLIT_RESULT                                       175.223.23.131
SEQUENCE_PARSE     <31,113,132,113,132,176,132,1,41,130,132,113,1...
Name: 9709, dtype: object
ID                           43184
IP_SPLIT_RESULT    119.197.135.165
SEQUENCE_PARSE                 <1>
Name: 9710, dtype: object
ID                         43185
IP_SPLIT_RESULT    122.43.90.140
SEQUENCE_PARSE               <1>
Name: 9711, dtype: object
ID                         43186
IP_SPLIT_RESULT    223.33.165.69
SEQUENCE_PARSE         <1,90,92>
Name: 9712, dtype: object
ID                                                             43187
IP_SPLIT_RESULT                                        222.111.57.17
SEQUENCE_PARSE     <1,5,1,5,1,63,132,92,132,92,87,89,200,29,132,1...
Name: 9713, dtype: object
ID                                                             43188
IP_SPLIT_RESULT                                         14.46.54.250
SEQUENCE_PARSE     <87,89,80,26,130,1,191,191,130,132,92,87,200,2...
Name: 9714, dtype: object
ID                          43189
IP_SPLIT_RESULT    115.138.10.147
SEQUENCE_PARSE                <1>
Name: 9715, dtype: object
ID                           43190
IP_SPLIT_RESULT    220.126.113.110
SEQUENCE_PARSE                 <1>
Name: 9716, dtype: object
ID                          43191
IP_SPLIT_RESULT    118.38.137.116
SEQUENCE_PARSE                <1>
Name: 9717, dtype: object
ID                        43192
IP_SPLIT_RESULT    115.93.11.59
SEQUENCE_PARSE          <1,5,1>
Name: 9718, dtype: object
ID                        43193
IP_SPLIT_RESULT    218.38.42.13
SEQUENCE_PARSE              <1>
Name: 9719, dtype: object
ID                                                             43194
IP_SPLIT_RESULT                                       125.189.254.53
SEQUENCE_PARSE     <1,90,92,87,89,80,29,113,212,132,132,132,212,1...
Name: 9720, dtype: object
ID                                                43195
IP_SPLIT_RESULT                          112.155.122.74
SEQUENCE_PARSE     <1,93,132,132,132,93,132,132,93,132>
Name: 9721, dtype: object
ID                         43196
IP_SPLIT_RESULT    122.43.143.99
SEQUENCE_PARSE               <1>
Name: 9722, dtype: object
ID                         43197
IP_SPLIT_RESULT    223.33.165.69
SEQUENCE_PARSE            <87,1>
Name: 9723, dtype: object
ID                                                             43198
IP_SPLIT_RESULT                                            39.7.15.6
SEQUENCE_PARSE     <1,31,113,31,113,132,63,113,132,162,166,162,31...
Name: 9724, dtype: object
ID                         43199
IP_SPLIT_RESULT    1.246.192.189
SEQUENCE_PARSE               <1>
Name: 9725, dtype: object
ID                                     43200
IP_SPLIT_RESULT               49.164.116.253
SEQUENCE_PARSE     <32,93,32,93,93,93,113,1>
Name: 9726, dtype: object
ID                          43201
IP_SPLIT_RESULT    223.62.163.177
SEQUENCE_PARSE                <1>
Name: 9727, dtype: object
ID                                                            43202
IP_SPLIT_RESULT                                      211.246.116.68
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,93,1,132,93,132,93,93>
Name: 9728, dtype: object
ID                           43203
IP_SPLIT_RESULT    112.163.241.101
SEQUENCE_PARSE                 <1>
Name: 9729, dtype: object
ID                          43204
IP_SPLIT_RESULT    118.221.152.97
SEQUENCE_PARSE              <5,1>
Name: 9730, dtype: object
ID                                                             43205
IP_SPLIT_RESULT                                        1.244.223.109
SEQUENCE_PARSE     <29,132,113,132,113,113,29,132,113,132,113,113...
Name: 9731, dtype: object
ID                          43206
IP_SPLIT_RESULT    211.211.46.243
SEQUENCE_PARSE                <1>
Name: 9732, dtype: object
ID                                                             43207
IP_SPLIT_RESULT                                        119.192.60.27
SEQUENCE_PARSE     <29,113,93,113,31,113,31,113,31,113,31,113,132...
Name: 9733, dtype: object
ID                                         43208
IP_SPLIT_RESULT                    118.42.53.237
SEQUENCE_PARSE     <1,5,1,93,132,132,132,93,132>
Name: 9734, dtype: object
ID                                                             43209
IP_SPLIT_RESULT                                         61.84.170.98
SEQUENCE_PARSE     <31,113,132,113,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,...
Name: 9735, dtype: object
ID                          43210
IP_SPLIT_RESULT    121.156.152.44
SEQUENCE_PARSE                <1>
Name: 9736, dtype: object
ID                          43211
IP_SPLIT_RESULT    121.125.148.98
SEQUENCE_PARSE                <1>
Name: 9737, dtype: object
ID                        43212
IP_SPLIT_RESULT    14.33.204.21
SEQUENCE_PARSE              <1>
Name: 9738, dtype: object
ID                          43213
IP_SPLIT_RESULT    118.37.108.195
SEQUENCE_PARSE                <1>
Name: 9739, dtype: object
ID                         43214
IP_SPLIT_RESULT    203.207.23.26
SEQUENCE_PARSE               <1>
Name: 9740, dtype: object
ID                                      43215
IP_SPLIT_RESULT                223.33.181.173
SEQUENCE_PARSE     <1,90,92,90,132,93,132,93>
Name: 9741, dtype: object
ID                                                             43216
IP_SPLIT_RESULT                                       27.115.157.218
SEQUENCE_PARSE     <1,31,113,132,113,93,132,132,90,132,93,132,90,...
Name: 9742, dtype: object
ID                                                             43217
IP_SPLIT_RESULT                                       223.33.184.202
SEQUENCE_PARSE     <1,113,132,132,31,113,113,31,113,31,113,132,81...
Name: 9743, dtype: object
ID                              43218
IP_SPLIT_RESULT           39.7.51.154
SEQUENCE_PARSE     <1,93,93,93,32,93>
Name: 9744, dtype: object
ID                                                             43219
IP_SPLIT_RESULT                                       211.36.156.163
SEQUENCE_PARSE     <1,113,31,113,31,113,31,113,31,113,113,31,113,...
Name: 9745, dtype: object
ID                                                             43220
IP_SPLIT_RESULT                                        110.70.15.225
SEQUENCE_PARSE     <1,113,132,132,113,113,113,31,113,31,113,29,11...
Name: 9746, dtype: object
ID                                                             43221
IP_SPLIT_RESULT                                        110.70.15.225
SEQUENCE_PARSE     <130,113,132,162,93,93,14,93,93,92,93,14,93,11...
Name: 9747, dtype: object
ID                                                             43222
IP_SPLIT_RESULT                                      112.214.126.100
SEQUENCE_PARSE     <31,113,132,93,132,93,113,132,132,113,63,132,1...
Name: 9748, dtype: object
ID                             43223
IP_SPLIT_RESULT       211.36.143.212
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 9749, dtype: object
ID                                                             43224
IP_SPLIT_RESULT                                        175.223.2.208
SEQUENCE_PARSE     <1,93,132,132,93,93,32,93,32,93,32,93,93,93,32...
Name: 9750, dtype: object
ID                          43225
IP_SPLIT_RESULT    211.209.242.38
SEQUENCE_PARSE                <1>
Name: 9751, dtype: object
ID                                                             43226
IP_SPLIT_RESULT                                       121.168.52.201
SEQUENCE_PARSE     <39,164,39,164,1,39,164,1,130,93,132,93,132,93,1>
Name: 9752, dtype: object
ID                           43227
IP_SPLIT_RESULT    112.153.246.195
SEQUENCE_PARSE                 <1>
Name: 9753, dtype: object
ID                                                             43228
IP_SPLIT_RESULT                                      112.214.126.100
SEQUENCE_PARSE     <113,132,113,132,113,63,113,132,132,113,31,31,...
Name: 9754, dtype: object
ID                                                             43229
IP_SPLIT_RESULT                                         1.231.42.161
SEQUENCE_PARSE     <1,90,92,132,93,132,93,93,132,132,132,93,132,1...
Name: 9755, dtype: object
ID                                   43230
IP_SPLIT_RESULT             222.111.154.69
SEQUENCE_PARSE     <1,132,132,158,160,164>
Name: 9756, dtype: object
ID                                                             43231
IP_SPLIT_RESULT                                        124.63.252.37
SEQUENCE_PARSE     <1,90,80,30,212,132,93,132,93,90,92,80,26,23,2...
Name: 9757, dtype: object
ID                         43232
IP_SPLIT_RESULT    223.62.172.42
SEQUENCE_PARSE           <32,32>
Name: 9758, dtype: object
ID                           43233
IP_SPLIT_RESULT    165.227.184.185
SEQUENCE_PARSE                 <1>
Name: 9759, dtype: object
ID                                                             43234
IP_SPLIT_RESULT                                         223.39.131.4
SEQUENCE_PARSE     <1,80,24,212,132,212,1,130,132,113,132,113,113...
Name: 9760, dtype: object
ID                                                             43235
IP_SPLIT_RESULT                                        124.63.252.37
SEQUENCE_PARSE     <92,1,90,92,87,89,1,130,130,1,132,93,132,93,93...
Name: 9761, dtype: object
ID                                                             43236
IP_SPLIT_RESULT                                        117.111.4.137
SEQUENCE_PARSE     <1,90,92,87,130,132,93,93,14,93,93,93,14,93,13...
Name: 9762, dtype: object
ID                          43237
IP_SPLIT_RESULT    222.98.116.189
SEQUENCE_PARSE                <1>
Name: 9763, dtype: object
ID                                                             43238
IP_SPLIT_RESULT                                       223.39.145.165
SEQUENCE_PARSE     <113,113,132,162,166,1,80,22,212,178,132,180,1...
Name: 9764, dtype: object
ID                                                             43239
IP_SPLIT_RESULT                                          1.231.25.31
SEQUENCE_PARSE     <31,113,31,113,132,162,166,162,132,113,132,113...
Name: 9765, dtype: object
ID                                                             43240
IP_SPLIT_RESULT                                        222.111.57.17
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,191,1,5,1,132,1,63,93,132,8...
Name: 9766, dtype: object
ID                                                             43241
IP_SPLIT_RESULT                                      123.214.226.111
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,92,132,113,132,...
Name: 9767, dtype: object
ID                         43242
IP_SPLIT_RESULT    66.249.69.155
SEQUENCE_PARSE               <1>
Name: 9768, dtype: object
ID                          43243
IP_SPLIT_RESULT    201.149.11.243
SEQUENCE_PARSE                <1>
Name: 9769, dtype: object
ID                                  43244
IP_SPLIT_RESULT              14.33.188.10
SEQUENCE_PARSE     <31,113,31,113,39,164>
Name: 9770, dtype: object
ID                                                             43245
IP_SPLIT_RESULT                                      123.214.226.111
SEQUENCE_PARSE     <93,132,132,93,93,93,1,132,113,132,113,113,90,...
Name: 9771, dtype: object
ID                          43246
IP_SPLIT_RESULT    121.160.215.20
SEQUENCE_PARSE              <132>
Name: 9772, dtype: object
ID                                                             43247
IP_SPLIT_RESULT                                        58.236.248.95
SEQUENCE_PARSE     <132,158,160,93,132,158,160,113,14,212,113,113...
Name: 9773, dtype: object
ID                                                             43248
IP_SPLIT_RESULT                                        211.36.139.28
SEQUENCE_PARSE     <31,113,132,93,132,93,93,93,1,132,113,132,113,...
Name: 9774, dtype: object
ID                       43249
IP_SPLIT_RESULT    61.105.13.8
SEQUENCE_PARSE      <39,164,1>
Name: 9775, dtype: object
ID                                                             43250
IP_SPLIT_RESULT                                       118.39.121.206
SEQUENCE_PARSE     <1,132,113,132,113,31,113,1,132,113,132,113,31...

ID                         43394
IP_SPLIT_RESULT    114.207.81.62
SEQUENCE_PARSE               <1>
Name: 9920, dtype: object
ID                         43395
IP_SPLIT_RESULT    66.249.69.157
SEQUENCE_PARSE               <1>
Name: 9921, dtype: object
ID                      43396
IP_SPLIT_RESULT    14.63.8.13
SEQUENCE_PARSE            <1>
Name: 9922, dtype: object
ID                         43397
IP_SPLIT_RESULT    223.38.11.143
SEQUENCE_PARSE               <1>
Name: 9923, dtype: object
ID                                                             43398
IP_SPLIT_RESULT                                        221.153.50.50
SEQUENCE_PARSE     <31,113,39,164,39,164,164,39,164,39,164,39,164...
Name: 9924, dtype: object
ID                        43399
IP_SPLIT_RESULT    58.236.63.67
SEQUENCE_PARSE              <1>
Name: 9925, dtype: object
ID                                                             43400
IP_SPLIT_RESULT                                         175.124.46.6
SEQUENCE_PARSE     <31,113,132,132,158,160,32,93,132,8,132,8,132,...
Name: 9926, dtype: object
ID                                              43401
IP_SPLIT_RESULT                           14.51.54.88
SEQUENCE_PARSE     <1,132,113,132,113,113,31,113,113>
Name: 9927, dtype: object
ID                        43402
IP_SPLIT_RESULT    223.38.11.96
SEQUENCE_PARSE              <1>
Name: 9928, dtype: object
ID                         43403
IP_SPLIT_RESULT    49.163.73.168
SEQUENCE_PARSE               <1>
Name: 9929, dtype: object
ID                           43404
IP_SPLIT_RESULT    123.111.156.143
SEQUENCE_PARSE                 <1>
Name: 9930, dtype: object
ID                                                             43405
IP_SPLIT_RESULT                                       58.140.217.119
SEQUENCE_PARSE     <1,90,92,87,39,164,1,130,164,1,130,130,130,130...
Name: 9931, dtype: object
ID                                      43406
IP_SPLIT_RESULT                175.223.26.232
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93>
Name: 9932, dtype: object
ID                         43407
IP_SPLIT_RESULT    59.27.233.231
SEQUENCE_PARSE               <1>
Name: 9933, dtype: object
ID                                                             43408
IP_SPLIT_RESULT                                        58.232.146.29
SEQUENCE_PARSE     <32,93,32,93,33,164,164,164,164,164,33,164,33,...
Name: 9934, dtype: object
ID                                                             43409
IP_SPLIT_RESULT                                        218.146.174.3
SEQUENCE_PARSE     <1,63,132,93,132,132,93,132,132,113,132,113,11...
Name: 9935, dtype: object
ID                                                             43410
IP_SPLIT_RESULT                                       112.150.127.79
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,87,89,93...
Name: 9936, dtype: object
ID                                           43411
IP_SPLIT_RESULT                     211.36.135.134
SEQUENCE_PARSE     <1,29,1,113,132,132,31,113,113>
Name: 9937, dtype: object
ID                        43412
IP_SPLIT_RESULT    118.46.19.31
SEQUENCE_PARSE              <1>
Name: 9938, dtype: object
ID                          43413
IP_SPLIT_RESULT    180.66.245.139
SEQUENCE_PARSE                <1>
Name: 9939, dtype: object
ID                          43414
IP_SPLIT_RESULT    74.115.214.131
SEQUENCE_PARSE                <1>
Name: 9940, dtype: object
ID                                                             43415
IP_SPLIT_RESULT                                       112.150.127.79
SEQUENCE_PARSE     <132,132,90,92,80,30,212,132,93,132,93,93,32,9...
Name: 9941, dtype: object
ID                         43416
IP_SPLIT_RESULT    42.62.245.232
SEQUENCE_PARSE               <1>
Name: 9942, dtype: object
ID                                                             43417
IP_SPLIT_RESULT                                        223.62.219.99
SEQUENCE_PARSE     <32,93,1,90,92,87,89,212,113,132,132,113,132,9...
Name: 9943, dtype: object
ID                         43418
IP_SPLIT_RESULT    223.62.10.188
SEQUENCE_PARSE          <31,113>
Name: 9944, dtype: object
ID                          43419
IP_SPLIT_RESULT    122.32.179.240
SEQUENCE_PARSE                <1>
Name: 9945, dtype: object
ID                          43420
IP_SPLIT_RESULT    121.170.121.63
SEQUENCE_PARSE              <5,1>
Name: 9946, dtype: object
ID                                                             43421
IP_SPLIT_RESULT                                      222.107.154.209
SEQUENCE_PARSE     <1,132,93,132,1,132,93,132,93,93,132,93,132,93...
Name: 9947, dtype: object
ID                           43422
IP_SPLIT_RESULT     211.36.136.147
SEQUENCE_PARSE     <31,113,31,113>
Name: 9948, dtype: object
ID                      43423
IP_SPLIT_RESULT    39.7.19.44
SEQUENCE_PARSE            <1>
Name: 9949, dtype: object
ID                                        43424
IP_SPLIT_RESULT                  223.62.188.134
SEQUENCE_PARSE     <1,90,92,132,132,93,132,132>
Name: 9950, dtype: object
ID                          43425
IP_SPLIT_RESULT    118.103.220.12
SEQUENCE_PARSE                <1>
Name: 9951, dtype: object
ID                                                             43426
IP_SPLIT_RESULT                                      222.107.154.209
SEQUENCE_PARSE     <93,93,1,5,1,93,93,93,93,93,93,93,93,93,93,93,...
Name: 9952, dtype: object
ID                                                             43427
IP_SPLIT_RESULT                                       175.223.49.113
SEQUENCE_PARSE     <1,132,93,132,93,1,132,113,132,113,31,113,113,...
Name: 9953, dtype: object
ID                      43428
IP_SPLIT_RESULT    39.7.59.91
SEQUENCE_PARSE     <39,164,1>
Name: 9954, dtype: object
ID                                                             43429
IP_SPLIT_RESULT                                        118.42.11.103
SEQUENCE_PARSE     <1,63,132,113,132,113,31,113,113,31,113,31,113...
Name: 9955, dtype: object
ID                                                             43430
IP_SPLIT_RESULT                                       175.223.49.113
SEQUENCE_PARSE     <132,93,132,93,1,132,93,132,93,29,29,132,113,132>
Name: 9956, dtype: object
ID                                                    43431
IP_SPLIT_RESULT                              223.62.188.134
SEQUENCE_PARSE     <92,1,93,1,63,93,132,132,158,160,132,81>
Name: 9957, dtype: object
ID                         43432
IP_SPLIT_RESULT    218.50.205.75
SEQUENCE_PARSE               <1>
Name: 9958, dtype: object
ID                         43433
IP_SPLIT_RESULT    113.199.48.32
SEQUENCE_PARSE               <1>
Name: 9959, dtype: object
ID                                                43434
IP_SPLIT_RESULT                            58.78.67.212
SEQUENCE_PARSE     <31,113,31,113,31,113,31,113,31,113>
Name: 9960, dtype: object
ID                         43435
IP_SPLIT_RESULT    211.36.142.32
SEQUENCE_PARSE       <31,113,30>
Name: 9961, dtype: object
ID                                                             43436
IP_SPLIT_RESULT                                         58.78.67.212
SEQUENCE_PARSE     <132,113,132,113,1,113,132,132,113,113,31,113,...
Name: 9962, dtype: object
ID                          43437
IP_SPLIT_RESULT    183.96.150.235
SEQUENCE_PARSE                <1>
Name: 9963, dtype: object
ID                           43438
IP_SPLIT_RESULT    221.162.140.186
SEQUENCE_PARSE                 <1>
Name: 9964, dtype: object
ID                         43439
IP_SPLIT_RESULT    106.102.0.144
SEQUENCE_PARSE               <1>
Name: 9965, dtype: object
ID                             43440
IP_SPLIT_RESULT       117.111.24.109
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 9966, dtype: object
ID                         43441
IP_SPLIT_RESULT    122.37.251.44
SEQUENCE_PARSE               <1>
Name: 9967, dtype: object
ID                          43442
IP_SPLIT_RESULT    211.36.151.161
SEQUENCE_PARSE                <1>
Name: 9968, dtype: object
ID                                  43443
IP_SPLIT_RESULT              223.38.8.140
SEQUENCE_PARSE     <1,93,132,81,1,132,32>
Name: 9969, dtype: object
ID                           43444
IP_SPLIT_RESULT    211.117.107.211
SEQUENCE_PARSE                 <1>
Name: 9970, dtype: object
ID                          43445
IP_SPLIT_RESULT    125.190.249.19
SEQUENCE_PARSE                <1>
Name: 9971, dtype: object
ID                          43446
IP_SPLIT_RESULT    114.29.104.129
SEQUENCE_PARSE                <1>
Name: 9972, dtype: object
ID                           43447
IP_SPLIT_RESULT    112.140.159.205
SEQUENCE_PARSE                 <1>
Name: 9973, dtype: object
ID                           43448
IP_SPLIT_RESULT    221.158.118.252
SEQUENCE_PARSE                 <1>
Name: 9974, dtype: object
ID                                                             43449
IP_SPLIT_RESULT                                         117.111.25.4
SEQUENCE_PARSE     <1,132,93,132,93,1,132,93,132,93,90,92,132,93,...
Name: 9975, dtype: object
ID                          43450
IP_SPLIT_RESULT    218.235.152.47
SEQUENCE_PARSE                <1>
Name: 9976, dtype: object
ID                                           43451
IP_SPLIT_RESULT                     117.111.10.196
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113>
Name: 9977, dtype: object
ID                          43452
IP_SPLIT_RESULT      223.38.10.20
SEQUENCE_PARSE     <1,132,93,132>
Name: 9978, dtype: object
ID                                                             43453
IP_SPLIT_RESULT                                         223.62.21.75
SEQUENCE_PARSE     <1,29,32,93,132,130,93,32,32,93,132,130,93,132...
Name: 9979, dtype: object
ID                                                             43454
IP_SPLIT_RESULT                                        223.38.10.187
SEQUENCE_PARSE     <1,87,89,91,26,23,92,87,89,80,22,212,132,93,13...
Name: 9980, dtype: object
ID                        43455
IP_SPLIT_RESULT    223.62.21.95
SEQUENCE_PARSE         <1,31,1>
Name: 9981, dtype: object
ID                                                             43456
IP_SPLIT_RESULT                                       211.36.142.141
SEQUENCE_PARSE     <1,39,164,164,29,132,113,132,113,113,29,132,11...
Name: 9982, dtype: object
ID                          43457
IP_SPLIT_RESULT    112.166.57.143
SEQUENCE_PARSE                <1>
Name: 9983, dtype: object
ID                         43458
IP_SPLIT_RESULT    119.192.58.61
SEQUENCE_PARSE               <1>
Name: 9984, dtype: object
ID                                 43459
IP_SPLIT_RESULT             58.236.18.87
SEQUENCE_PARSE     <31,113,31,113,31,31>
Name: 9985, dtype: object
ID                               43460
IP_SPLIT_RESULT          58.232.20.245
SEQUENCE_PARSE     <33,164,164,132,81>
Name: 9986, dtype: object
ID                        43461
IP_SPLIT_RESULT    1.233.254.67
SEQUENCE_PARSE              <1>
Name: 9987, dtype: object
ID                           43462
IP_SPLIT_RESULT    175.210.155.248
SEQUENCE_PARSE                 <1>
Name: 9988, dtype: object
ID                         43463
IP_SPLIT_RESULT    183.98.34.116
SEQUENCE_PARSE           <1,5,1>
Name: 9989, dtype: object
ID                                                             43464
IP_SPLIT_RESULT                                       223.62.213.248
SEQUENCE_PARSE     <180,132,132,132,93,132,162,166,162,132,132,93...
Name: 9990, dtype: object
ID                         43465
IP_SPLIT_RESULT    220.119.57.66
SEQUENCE_PARSE               <1>
Name: 9991, dtype: object
ID                                                             43466
IP_SPLIT_RESULT                                      125.179.142.179
SEQUENCE_PARSE     <1,5,1,132,89,195,1,63,63,1,63,132,113,132,113...
Name: 9992, dtype: object
ID                                                             43467
IP_SPLIT_RESULT                                        175.223.14.85
SEQUENCE_PARSE     <1,80,24,132,132,81,132,81,90,93,132,132,1,93,...
Name: 9993, dtype: object
ID                         43468
IP_SPLIT_RESULT    218.52.214.83
SEQUENCE_PARSE               <1>
Name: 9994, dtype: object
ID                           43469
IP_SPLIT_RESULT    175.205.114.216
SEQUENCE_PARSE                 <1>
Name: 9995, dtype: object
ID                             43470
IP_SPLIT_RESULT         223.62.173.7
SEQUENCE_PARSE     <1,93,132,132,93>
Name: 9996, dtype: object
ID                           43471
IP_SPLIT_RESULT    203.252.146.148
SEQUENCE_PARSE                 <1>
Name: 9997, dtype: object
ID                                     43472
IP_SPLIT_RESULT               223.62.213.248
SEQUENCE_PARSE     <93,93,93,32,93,93,93,32>
Name: 9998, dtype: object
ID                                                             43473
IP_SPLIT_RESULT                                      125.179.142.179
SEQUENCE_PARSE     <1,63,1,63,93,1,63,132,113,132,113,113,31,113,31>
Name: 9999, dtype: object
ID                      43474
IP_SPLIT_RESULT    39.7.18.70
SEQUENCE_PARSE       <31,113>
Name: 10000, dtype: object
ID                         43475
IP_SPLIT_RESULT     175.223.16.6
SEQUENCE_PARSE     <1,132,132,1>
Name: 10001, dtype: object
ID                        43476
IP_SPLIT_RESULT    125.178.8.12
SEQUENCE_PARSE              <1>
Name: 10002, dtype: object
ID                         43477
IP_SPLIT_RESULT    61.109.15.100
SEQUENCE_PARSE               <1>
Name: 10003, dtype: object
ID                      43478
IP_SPLIT_RESULT    39.7.47.89
SEQUENCE_PARSE         <1,25>
Name: 10004, dtype: object
ID                          43479
IP_SPLIT_RESULT    223.62.190.130
SEQUENCE_PARSE           <31,113>
Name: 10005, dtype: object
ID                          43480
IP_SPLIT_RESULT    69.171.225.151
SEQUENCE_PARSE               <27>
Name: 10006, dtype: object
ID                       43481
IP_SPLIT_RESULT    39.7.47.109
SEQUENCE_PARSE             <1>
Name: 10007, dtype: object
ID                                           43482
IP_SPLIT_RESULT                       1.227.35.117
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93>
Name: 10008, dtype: object
ID                          43483
IP_SPLIT_RESULT    183.91.193.225
SEQUENCE_PARSE                <1>
Name: 10009, dtype: object
ID                          43484
IP_SPLIT_RESULT    119.64.100.148
SEQUENCE_PARSE                <1>
Name: 10010, dtype: object
ID                          43485
IP_SPLIT_RESULT    180.64.163.222
SEQUENCE_PARSE                <1>
Name: 10011, dtype: object
ID                          43486
IP_SPLIT_RESULT    117.111.13.254
SEQUENCE_PARSE       <1,93,93,93>
Name: 10012, dtype: object
ID                         43487
IP_SPLIT_RESULT    61.254.176.42
SEQUENCE_PARSE               <1>
Name: 10013, dtype: object
ID                          43488
IP_SPLIT_RESULT    222.232.73.191
SEQUENCE_PARSE                <1>
Name: 10014, dtype: object
ID                         43489
IP_SPLIT_RESULT    1.233.245.145
SEQUENCE_PARSE               <1>
Name: 10015, dtype: object
ID                          43490
IP_SPLIT_RESULT    211.36.136.147
SEQUENCE_PARSE           <31,113>
Name: 10016, dtype: object
ID                         43491
IP_SPLIT_RESULT    125.132.78.12
SEQUENCE_PARSE               <1>
Name: 10017, dtype: object
ID                                       43492
IP_SPLIT_RESULT                175.244.152.195
SEQUENCE_PARSE     <1,113,132,132,113,113,113>
Name: 10018, dtype: object
ID                                                             43493
IP_SPLIT_RESULT                                        175.223.22.23
SEQUENCE_PARSE     <1,33,164,130,164,33,164,164,132,132,158,160,3...
Name: 10019, dtype: object
ID                                       43494
IP_SPLIT_RESULT                   59.26.132.53
SEQUENCE_PARSE     <1,132,132,158,160,132,132>
Name: 10020, dtype: object
ID                                         43495
IP_SPLIT_RESULT                   183.97.120.215
SEQUENCE_PARSE     <31,113,31,113,31,113,31,113>
Name: 10021, dtype: object
ID                          43496
IP_SPLIT_RESULT    125.180.208.85
SEQUENCE_PARSE             <1,90>
Name: 10022, dtype: object
ID                                                             43497
IP_SPLIT_RESULT                                         223.38.11.69
SEQUENCE_PARSE     <39,164,1,130,130,130,130,130,130,130,191,191,...
Name: 10023, dtype: object
ID                                                             43498
IP_SPLIT_RESULT                                       223.62.169.106
SEQUENCE_PARSE     <1,132,93,132,93,93,132,132,158,160,132,1,132,...
Name: 10024, dtype: object
ID                                                             43499
IP_SPLIT_RESULT                                       122.43.188.103
SEQUENCE_PARSE     <1,5,1,5,1,39,164,132,158,160,132,132,158,160,...
Name: 10025, dtype: object
ID                         43500
IP_SPLIT_RESULT    211.198.98.53
SEQUENCE_PARSE               <1>
Name: 10026, dtype: object
ID                                                             43501
IP_SPLIT_RESULT                                         223.38.11.69
SEQUENCE_PARSE     <130,130,130,1,132,132,158,160,164,164,1,113,1...
Name: 10027, dtype: object
ID                         43502
IP_SPLIT_RESULT    58.140.209.67
SEQUENCE_PARSE               <1>
Name: 10028, dtype: object
ID                                                             43503
IP_SPLIT_RESULT                                       223.62.173.144
SEQUENCE_PARSE     <162,113,1,113,113,212,113,14,113,113,14,212,1...
Name: 10029, dtype: object
ID                                                             43504
IP_SPLIT_RESULT                                       211.112.90.135
SEQUENCE_PARSE     <1,5,1,5,1,5,1,194,5,1,93,14,93,132,93,132,132...
Name: 10030, dtype: object
ID                         43505
IP_SPLIT_RESULT    211.205.196.5
SEQUENCE_PARSE               <1>
Name: 10031, dtype: object
ID                                                             43506
IP_SPLIT_RESULT                                        58.76.176.168
SEQUENCE_PARSE     <45,132,113,132,113,31,113,113,31,113,31,113,3...
Name: 10032, dtype: object
ID                        43507
IP_SPLIT_RESULT     39.7.58.213
SEQUENCE_PARSE     <39,164,164>
Name: 10033, dtype: object
ID                         43508
IP_SPLIT_RESULT    219.249.126.8
SEQUENCE_PARSE               <1>
Name: 10034, dtype: object
ID                           43509
IP_SPLIT_RESULT    219.254.186.102
SEQUENCE_PARSE                 <1>
Name: 10035, dtype: object
ID                                                             43510
IP_SPLIT_RESULT                                          59.11.15.43
SEQUENCE_PARSE     <1,130,132,113,132,31,113,31,113,113,31,113,31...
Name: 10036, dtype: object
ID                         43511
IP_SPLIT_RESULT    58.122.112.65
SEQUENCE_PARSE               <1>
Name: 10037, dtype: object
ID                           43512
IP_SPLIT_RESULT    121.143.203.116
SEQUENCE_PARSE                 <1>
Name: 10038, dtype: object
ID                             43513
IP_SPLIT_RESULT        180.224.55.71
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 10039, dtype: object
ID                                         43514
IP_SPLIT_RESULT                     110.70.47.24
SEQUENCE_PARSE     <1,93,93,93,132,132,93,93,93>
Name: 10040, dtype: object
ID                          43515
IP_SPLIT_RESULT    121.169.64.212
SEQUENCE_PARSE                <1>
Name: 10041, dtype: object
ID                           43516
IP_SPLIT_RESULT    182.222.188.219
SEQUENCE_PARSE            <1,92,1>
Name: 10042, dtype: object
ID                                     43517
IP_SPLIT_RESULT                124.60.178.79
SEQUENCE_PARSE     <1,93,132,132,113,113,31>
Name: 10043, dtype: object
ID                                                             43518
IP_SPLIT_RESULT                                         110.70.47.24
SEQUENCE_PARSE     <132,93,132,93,132,93,132,93,93,132,93,132,93,...

ID                         43673
IP_SPLIT_RESULT      61.77.225.9
SEQUENCE_PARSE     <1,5,1,132,1>
Name: 10199, dtype: object
ID                         43674
IP_SPLIT_RESULT    219.254.63.21
SEQUENCE_PARSE           <92,93>
Name: 10200, dtype: object
ID                         43675
IP_SPLIT_RESULT    157.55.39.242
SEQUENCE_PARSE               <1>
Name: 10201, dtype: object
ID                                                             43676
IP_SPLIT_RESULT                                       223.62.215.203
SEQUENCE_PARSE     <31,113,132,93,132,132,113,132,132,113,132,130...
Name: 10202, dtype: object
ID                                43677
IP_SPLIT_RESULT           58.142.78.240
SEQUENCE_PARSE     <1,132,93,132,93,93>
Name: 10203, dtype: object
ID                         43678
IP_SPLIT_RESULT    219.254.37.21
SEQUENCE_PARSE               <1>
Name: 10204, dtype: object
ID                        43679
IP_SPLIT_RESULT    223.62.8.199
SEQUENCE_PARSE       <31,113,1>
Name: 10205, dtype: object
ID                                                             43680
IP_SPLIT_RESULT                                       223.62.173.179
SEQUENCE_PARSE     <39,164,130,130,130,130,130,130,130,130,130,13...
Name: 10206, dtype: object
ID                                                             43681
IP_SPLIT_RESULT                                       223.62.215.203
SEQUENCE_PARSE     <93,14,212,93,93,93,212,14,93,93,93,132,132,13...
Name: 10207, dtype: object
ID                                                             43682
IP_SPLIT_RESULT                                       220.103.255.59
SEQUENCE_PARSE     <32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,...
Name: 10208, dtype: object
ID                          43683
IP_SPLIT_RESULT     175.223.3.151
SEQUENCE_PARSE     <1,132,93,132>
Name: 10209, dtype: object
ID                          43684
IP_SPLIT_RESULT    125.134.205.35
SEQUENCE_PARSE               <93>
Name: 10210, dtype: object
ID                           43685
IP_SPLIT_RESULT    114.207.135.101
SEQUENCE_PARSE               <5,1>
Name: 10211, dtype: object
ID                                   43686
IP_SPLIT_RESULT                 61.73.3.23
SEQUENCE_PARSE     <1,93,132,132,93,93,93>
Name: 10212, dtype: object
ID                                             43687
IP_SPLIT_RESULT                       223.62.173.179
SEQUENCE_PARSE     <130,130,130,130,130,130,130,130>
Name: 10213, dtype: object
ID                                                    43688
IP_SPLIT_RESULT                               211.48.46.158
SEQUENCE_PARSE     <89,1,132,85,132,113,132,113,113,31,113>
Name: 10214, dtype: object
ID                                                             43689
IP_SPLIT_RESULT                                       114.201.88.215
SEQUENCE_PARSE     <29,113,212,132,132,29,212,132,113,132,12,132,...
Name: 10215, dtype: object
ID                                                             43690
IP_SPLIT_RESULT                                        211.48.46.158
SEQUENCE_PARSE     <80,29,212,132,113,132,132,87,10,132,87,189,21...
Name: 10216, dtype: object
ID                          43691
IP_SPLIT_RESULT    114.201.11.212
SEQUENCE_PARSE                <1>
Name: 10217, dtype: object
ID                      43692
IP_SPLIT_RESULT    61.73.3.23
SEQUENCE_PARSE        <93,93>
Name: 10218, dtype: object
ID                           43693
IP_SPLIT_RESULT    180.134.166.119
SEQUENCE_PARSE               <5,1>
Name: 10219, dtype: object
ID                               43694
IP_SPLIT_RESULT            58.141.96.3
SEQUENCE_PARSE     <32,32,32,32,32,32>
Name: 10220, dtype: object
ID                                                             43695
IP_SPLIT_RESULT                                       182.230.54.123
SEQUENCE_PARSE     <32,32,1,32,32,32,93,32,32,32,32,32,32,32,32,3...
Name: 10221, dtype: object
ID                                                             43696
IP_SPLIT_RESULT                                       112.185.69.215
SEQUENCE_PARSE     <1,90,92,87,89,132,93,132,132,113,132,113,132,...
Name: 10222, dtype: object
ID                         43697
IP_SPLIT_RESULT    14.47.117.208
SEQUENCE_PARSE             <5,1>
Name: 10223, dtype: object
ID                              43698
IP_SPLIT_RESULT        175.223.36.159
SEQUENCE_PARSE     <32,33,164,29,113>
Name: 10224, dtype: object
ID                          43699
IP_SPLIT_RESULT    175.223.36.159
SEQUENCE_PARSE       <93,132,113>
Name: 10225, dtype: object
ID                          43700
IP_SPLIT_RESULT    116.34.184.183
SEQUENCE_PARSE                <1>
Name: 10226, dtype: object
ID                                                             43701
IP_SPLIT_RESULT                                       117.111.19.157
SEQUENCE_PARSE     <29,132,113,132,113,31,113,31,113,113,113,113,...
Name: 10227, dtype: object
ID                         43702
IP_SPLIT_RESULT    1.224.139.207
SEQUENCE_PARSE           <1,5,1>
Name: 10228, dtype: object
ID                             43703
IP_SPLIT_RESULT        124.62.28.120
SEQUENCE_PARSE     <31,113,31,113,1>
Name: 10229, dtype: object
ID                          43704
IP_SPLIT_RESULT    125.190.252.78
SEQUENCE_PARSE                <1>
Name: 10230, dtype: object
ID                                                       43705
IP_SPLIT_RESULT                                   1.232.78.156
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,93,93>
Name: 10231, dtype: object
ID                           43706
IP_SPLIT_RESULT    119.192.125.251
SEQUENCE_PARSE               <5,1>
Name: 10232, dtype: object
ID                           43707
IP_SPLIT_RESULT      223.62.178.91
SEQUENCE_PARSE     <1,90,92,87,89>
Name: 10233, dtype: object
ID                           43708
IP_SPLIT_RESULT    218.232.190.151
SEQUENCE_PARSE                 <1>
Name: 10234, dtype: object
ID                         43709
IP_SPLIT_RESULT    223.62.178.91
SEQUENCE_PARSE              <92>
Name: 10235, dtype: object
ID                          43710
IP_SPLIT_RESULT    218.235.152.47
SEQUENCE_PARSE                <1>
Name: 10236, dtype: object
ID                          43711
IP_SPLIT_RESULT    125.182.24.159
SEQUENCE_PARSE                <1>
Name: 10237, dtype: object
ID                          43712
IP_SPLIT_RESULT    110.76.126.132
SEQUENCE_PARSE                <1>
Name: 10238, dtype: object
ID                          43713
IP_SPLIT_RESULT    175.223.15.196
SEQUENCE_PARSE                <1>
Name: 10239, dtype: object
ID                                                43714
IP_SPLIT_RESULT                            61.102.69.70
SEQUENCE_PARSE     <31,113,39,164,31,113,31,113,31,113>
Name: 10240, dtype: object
ID                                                             43715
IP_SPLIT_RESULT                                        211.36.139.62
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113,113,31,113,...
Name: 10241, dtype: object
ID                                                             43716
IP_SPLIT_RESULT                                         112.162.17.2
SEQUENCE_PARSE     <1,90,92,25,90,92,80,24,212,132,212,130,132,13...
Name: 10242, dtype: object
ID                           43717
IP_SPLIT_RESULT    219.249.186.174
SEQUENCE_PARSE                 <1>
Name: 10243, dtype: object
ID                                                    43718
IP_SPLIT_RESULT                              175.200.193.30
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93,93>
Name: 10244, dtype: object
ID                          43719
IP_SPLIT_RESULT    109.63.208.247
SEQUENCE_PARSE                <5>
Name: 10245, dtype: object
ID                                         43720
IP_SPLIT_RESULT                      1.230.36.30
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 10246, dtype: object
ID                        43721
IP_SPLIT_RESULT    95.24.21.193
SEQUENCE_PARSE              <1>
Name: 10247, dtype: object
ID                           43722
IP_SPLIT_RESULT      180.64.138.18
SEQUENCE_PARSE     <1,90,92,87,89>
Name: 10248, dtype: object
ID                          43723
IP_SPLIT_RESULT    118.221.208.18
SEQUENCE_PARSE                <1>
Name: 10249, dtype: object
ID                          43724
IP_SPLIT_RESULT    221.141.34.142
SEQUENCE_PARSE                <1>
Name: 10250, dtype: object
ID                         43725
IP_SPLIT_RESULT    211.36.140.77
SEQUENCE_PARSE               <1>
Name: 10251, dtype: object
ID                           43726
IP_SPLIT_RESULT    121.131.237.124
SEQUENCE_PARSE                 <1>
Name: 10252, dtype: object
ID                                                             43727
IP_SPLIT_RESULT                                        180.64.138.18
SEQUENCE_PARSE     <80,29,212,132,113,132,113,113,31,113,31,113,3...
Name: 10253, dtype: object
ID                                                             43728
IP_SPLIT_RESULT                                      125.183.134.195
SEQUENCE_PARSE     <32,32,32,32,33,164,1,93,132,132,93,32,93,32,9...
Name: 10254, dtype: object
ID                                                43729
IP_SPLIT_RESULT                           218.235.44.85
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,132,132>
Name: 10255, dtype: object
ID                           43730
IP_SPLIT_RESULT    125.128.209.162
SEQUENCE_PARSE                 <1>
Name: 10256, dtype: object
ID                                               43731
IP_SPLIT_RESULT                           14.33.12.121
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,113>
Name: 10257, dtype: object
ID                         43732
IP_SPLIT_RESULT    218.235.44.85
SEQUENCE_PARSE        <93,93,93>
Name: 10258, dtype: object
ID                          43733
IP_SPLIT_RESULT    223.39.130.158
SEQUENCE_PARSE                <1>
Name: 10259, dtype: object
ID                          43734
IP_SPLIT_RESULT    220.124.25.112
SEQUENCE_PARSE                <1>
Name: 10260, dtype: object
ID                                                      43735
IP_SPLIT_RESULT                               124.197.207.151
SEQUENCE_PARSE     <1,113,132,132,113,31,113,132,162,166,162>
Name: 10261, dtype: object
ID                          43736
IP_SPLIT_RESULT    125.188.198.99
SEQUENCE_PARSE                <1>
Name: 10262, dtype: object
ID                          43737
IP_SPLIT_RESULT    125.191.25.100
SEQUENCE_PARSE          <1,90,92>
Name: 10263, dtype: object
ID                          43738
IP_SPLIT_RESULT    175.204.76.130
SEQUENCE_PARSE                <1>
Name: 10264, dtype: object
ID                                43739
IP_SPLIT_RESULT           1.239.140.172
SEQUENCE_PARSE     <5,1,132,132,93,132>
Name: 10265, dtype: object
ID                            43740
IP_SPLIT_RESULT      182.221.244.51
SEQUENCE_PARSE     <1,132,93,132,1>
Name: 10266, dtype: object
ID                                        43741
IP_SPLIT_RESULT                   175.223.21.75
SEQUENCE_PARSE     <1,31,113,1,90,92,87,89,212>
Name: 10267, dtype: object
ID                                                             43742
IP_SPLIT_RESULT                                        223.33.178.61
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,93,132,93,132,93,9...
Name: 10268, dtype: object
ID                                           43743
IP_SPLIT_RESULT                     211.230.55.246
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,93>
Name: 10269, dtype: object
ID                          43744
IP_SPLIT_RESULT    182.221.244.51
SEQUENCE_PARSE            <93,93>
Name: 10270, dtype: object
ID                          43745
IP_SPLIT_RESULT    112.220.24.196
SEQUENCE_PARSE                <1>
Name: 10271, dtype: object
ID                          43746
IP_SPLIT_RESULT    220.72.113.111
SEQUENCE_PARSE             <1,90>
Name: 10272, dtype: object
ID                          43747
IP_SPLIT_RESULT    49.169.173.177
SEQUENCE_PARSE                <1>
Name: 10273, dtype: object
ID                         43748
IP_SPLIT_RESULT    207.46.13.132
SEQUENCE_PARSE               <1>
Name: 10274, dtype: object
ID                                     43749
IP_SPLIT_RESULT                58.123.130.54
SEQUENCE_PARSE     <1,132,93,132,132,93,132>
Name: 10275, dtype: object
ID                                                           43750
IP_SPLIT_RESULT                                      211.36.150.41
SEQUENCE_PARSE     <1,132,113,132,113,31,113,31,113,31,113,31,113>
Name: 10276, dtype: object
ID                          43751
IP_SPLIT_RESULT    220.72.113.111
SEQUENCE_PARSE                <1>
Name: 10277, dtype: object
ID                          43752
IP_SPLIT_RESULT    122.47.244.100
SEQUENCE_PARSE                <1>
Name: 10278, dtype: object
ID                           43753
IP_SPLIT_RESULT     208.80.194.120
SEQUENCE_PARSE     <1,5,1,5,1,5,1>
Name: 10279, dtype: object
ID                                                             43754
IP_SPLIT_RESULT                                       211.213.63.160
SEQUENCE_PARSE     <1,113,132,132,113,31,113,31,113,31,113,113,13...
Name: 10280, dtype: object
ID                         43755
IP_SPLIT_RESULT    1.235.214.210
SEQUENCE_PARSE            <1,90>
Name: 10281, dtype: object
ID                          43756
IP_SPLIT_RESULT    223.62.178.169
SEQUENCE_PARSE                <1>
Name: 10282, dtype: object
ID                         43757
IP_SPLIT_RESULT    1.235.214.210
SEQUENCE_PARSE              <92>
Name: 10283, dtype: object
ID                          43758
IP_SPLIT_RESULT    222.104.31.251
SEQUENCE_PARSE                <1>
Name: 10284, dtype: object
ID                            43759
IP_SPLIT_RESULT     121.180.124.117
SEQUENCE_PARSE     <29,132,113,132>
Name: 10285, dtype: object
ID                        43760
IP_SPLIT_RESULT    1.241.93.238
SEQUENCE_PARSE              <1>
Name: 10286, dtype: object
ID                           43761
IP_SPLIT_RESULT    182.227.170.186
SEQUENCE_PARSE                 <1>
Name: 10287, dtype: object
ID                                  43762
IP_SPLIT_RESULT            223.62.169.240
SEQUENCE_PARSE     <1,113,132,132,31,113>
Name: 10288, dtype: object
ID                           43763
IP_SPLIT_RESULT    175.116.149.163
SEQUENCE_PARSE              <1,90>
Name: 10289, dtype: object
ID                         43764
IP_SPLIT_RESULT    60.253.32.174
SEQUENCE_PARSE               <1>
Name: 10290, dtype: object
ID                                                 43765
IP_SPLIT_RESULT                              39.7.59.132
SEQUENCE_PARSE     <1,132,113,132,113,113,31,113,31,113>
Name: 10291, dtype: object
ID                                      43766
IP_SPLIT_RESULT                125.181.155.36
SEQUENCE_PARSE     <1,132,93,132,113,132,132>
Name: 10292, dtype: object
ID                                                             43767
IP_SPLIT_RESULT                                          39.7.59.132
SEQUENCE_PARSE     <31,113,31,113,113,31,113,113,31,113,113,31,11...
Name: 10293, dtype: object
ID                           43768
IP_SPLIT_RESULT    183.101.165.103
SEQUENCE_PARSE                 <1>
Name: 10294, dtype: object
ID                         43769
IP_SPLIT_RESULT    49.167.31.217
SEQUENCE_PARSE               <1>
Name: 10295, dtype: object
ID                           43770
IP_SPLIT_RESULT    125.185.247.117
SEQUENCE_PARSE      <1,132,93,132>
Name: 10296, dtype: object
ID                                                             43771
IP_SPLIT_RESULT                                      211.210.183.236
SEQUENCE_PARSE     <31,113,113,132,132,93,93,212,14,93,93,212,93,...
Name: 10297, dtype: object
ID                                                             43772
IP_SPLIT_RESULT                                      121.163.249.198
SEQUENCE_PARSE     <1,132,132,158,160,1,132,113,132,113,132,93,13...
Name: 10298, dtype: object
ID                                           43773
IP_SPLIT_RESULT                      223.62.222.95
SEQUENCE_PARSE     <31,113,63,132,113,132,132,132>
Name: 10299, dtype: object
ID                         43774
IP_SPLIT_RESULT    113.60.254.16
SEQUENCE_PARSE           <1,5,1>
Name: 10300, dtype: object
ID                         43775
IP_SPLIT_RESULT    54.198.49.119
SEQUENCE_PARSE               <5>
Name: 10301, dtype: object
ID                         43776
IP_SPLIT_RESULT    54.198.49.119
SEQUENCE_PARSE               <1>
Name: 10302, dtype: object
ID                         43777
IP_SPLIT_RESULT    113.60.254.16
SEQUENCE_PARSE               <5>
Name: 10303, dtype: object
ID                                                             43778
IP_SPLIT_RESULT                                      211.210.183.236
SEQUENCE_PARSE     <31,113,63,113,132,132,113,31,113,132,113,132,...
Name: 10304, dtype: object
ID                                43779
IP_SPLIT_RESULT         121.167.201.204
SEQUENCE_PARSE     <1,132,93,132,90,92>
Name: 10305, dtype: object
ID                                                             43780
IP_SPLIT_RESULT                                      121.167.201.204
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93,93,93,93,93,93,93,93,...
Name: 10306, dtype: object
ID                          43781
IP_SPLIT_RESULT    122.32.160.251
SEQUENCE_PARSE        <1,164,132>
Name: 10307, dtype: object
ID                      43782
IP_SPLIT_RESULT    1.231.9.74
SEQUENCE_PARSE            <1>
Name: 10308, dtype: object
ID                          43783
IP_SPLIT_RESULT    223.39.131.139
SEQUENCE_PARSE                <1>
Name: 10309, dtype: object
ID                          43784
IP_SPLIT_RESULT    175.214.81.211
SEQUENCE_PARSE                <1>
Name: 10310, dtype: object
ID                                                             43785
IP_SPLIT_RESULT                                        223.33.165.22
SEQUENCE_PARSE     <31,113,31,113,31,113,113,31,113,31,113,132,81...
Name: 10311, dtype: object
ID                                                             43786
IP_SPLIT_RESULT                                        58.232.120.42
SEQUENCE_PARSE     <31,113,39,164,164,164,164,164,164,164,164,39,...
Name: 10312, dtype: object
ID                                                             43787
IP_SPLIT_RESULT                                        223.33.165.22
SEQUENCE_PARSE     <113,1,132,93,132,1,93,132,132,93,93,132,93,13...
Name: 10313, dtype: object
ID                        43788
IP_SPLIT_RESULT    116.47.8.182
SEQUENCE_PARSE              <1>
Name: 10314, dtype: object
ID                          43789
IP_SPLIT_RESULT    180.233.207.94
SEQUENCE_PARSE                <1>
Name: 10315, dtype: object
ID                                     43790
IP_SPLIT_RESULT                121.132.2.107
SEQUENCE_PARSE     <1,132,93,132,132,93,132>
Name: 10316, dtype: object
ID                                              43791
IP_SPLIT_RESULT                         58.232.120.42
SEQUENCE_PARSE     <132,130,113,132,113,39,164,130,1>
Name: 10317, dtype: object
ID                                                             43792
IP_SPLIT_RESULT                                         58.78.148.95
SEQUENCE_PARSE     <1,5,1,132,87,89,80,30,132,93,132,212,93,93,32...
Name: 10318, dtype: object
ID                                                             43793
IP_SPLIT_RESULT                                         58.78.148.95
SEQUENCE_PARSE     <1,93,132,132,132,93,132,132,93,132,93,93,90,9...
Name: 10319, dtype: object
ID                             43794
IP_SPLIT_RESULT      211.222.250.173
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 10320, dtype: object
ID                           43795
IP_SPLIT_RESULT    211.222.250.173
SEQUENCE_PARSE                <93>
Name: 10321, dtype: object
ID                                                  43796
IP_SPLIT_RESULT                              1.240.65.205
SEQUENCE_PARSE     <32,93,32,93,1,93,132,132,93,33,164,1>
Name: 10322, dtype: object
ID                          43797
IP_SPLIT_RESULT    223.62.178.103
SEQUENCE_PARSE          <1,90,92>

ID                                                 43961
IP_SPLIT_RESULT                           175.223.44.110
SEQUENCE_PARSE     <113,1,31,113,113,113,113,113,113,31>
Name: 10487, dtype: object
ID                         43962
IP_SPLIT_RESULT    222.97.227.91
SEQUENCE_PARSE               <1>
Name: 10488, dtype: object
ID                           43963
IP_SPLIT_RESULT    182.221.197.146
SEQUENCE_PARSE                 <1>
Name: 10489, dtype: object
ID                        43964
IP_SPLIT_RESULT    223.54.79.37
SEQUENCE_PARSE              <1>
Name: 10490, dtype: object
ID                           43965
IP_SPLIT_RESULT    185.172.110.216
SEQUENCE_PARSE                 <1>
Name: 10491, dtype: object
ID                          43966
IP_SPLIT_RESULT    223.33.165.116
SEQUENCE_PARSE         <32,93,32>
Name: 10492, dtype: object
ID                                           43967
IP_SPLIT_RESULT                      223.62.178.26
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,1>
Name: 10493, dtype: object
ID                           43968
IP_SPLIT_RESULT    185.172.110.216
SEQUENCE_PARSE                 <1>
Name: 10494, dtype: object
ID                             43969
IP_SPLIT_RESULT       223.33.165.116
SEQUENCE_PARSE     <130,130,93,32,1>
Name: 10495, dtype: object
ID                           43970
IP_SPLIT_RESULT    173.212.246.139
SEQUENCE_PARSE                 <1>
Name: 10496, dtype: object
ID                          43971
IP_SPLIT_RESULT    221.147.35.146
SEQUENCE_PARSE           <31,113>
Name: 10497, dtype: object
ID                          43972
IP_SPLIT_RESULT    221.165.171.93
SEQUENCE_PARSE         <33,164,1>
Name: 10498, dtype: object
ID                        43973
IP_SPLIT_RESULT    110.70.15.69
SEQUENCE_PARSE            <164>
Name: 10499, dtype: object
ID                        43974
IP_SPLIT_RESULT    110.70.15.69
SEQUENCE_PARSE         <132,81>
Name: 10500, dtype: object
ID                                   43975
IP_SPLIT_RESULT               59.1.108.126
SEQUENCE_PARSE     <1,130,130,93,93,14,93>
Name: 10501, dtype: object
ID                                                             43976
IP_SPLIT_RESULT                                         220.89.79.21
SEQUENCE_PARSE     <1,130,130,130,93,87,93,212,93,14,93,92,93,212...
Name: 10502, dtype: object
ID                          43977
IP_SPLIT_RESULT    223.56.253.100
SEQUENCE_PARSE                <1>
Name: 10503, dtype: object
ID                                                             43978
IP_SPLIT_RESULT                                       175.223.10.114
SEQUENCE_PARSE     <1,130,130,130,130,130,1,90,113,113,113,31,113...
Name: 10504, dtype: object
ID                                                             43979
IP_SPLIT_RESULT                                         220.89.79.21
SEQUENCE_PARSE     <93,93,93,130,132,81,212,132,158,160,132,93,13...
Name: 10505, dtype: object
ID                                        43980
IP_SPLIT_RESULT                    59.1.108.126
SEQUENCE_PARSE     <93,14,93,93,14,93,93,93,93>
Name: 10506, dtype: object
ID                                                             43981
IP_SPLIT_RESULT                                        223.39.149.63
SEQUENCE_PARSE     <5,1,132,93,132,132,93,132,1,90,92,90,92,32,93...
Name: 10507, dtype: object
ID                         43982
IP_SPLIT_RESULT    223.62.178.26
SEQUENCE_PARSE               <1>
Name: 10508, dtype: object
ID                                                             43983
IP_SPLIT_RESULT                                       175.223.10.114
SEQUENCE_PARSE     <92,31,113,132,132,113,31,113,31,113,132,132,3...
Name: 10509, dtype: object
ID                                                   43984
IP_SPLIT_RESULT                             211.247.38.135
SEQUENCE_PARSE     <1,132,93,132,1,93,132,132,93,93,93,93>
Name: 10510, dtype: object
ID                          43985
IP_SPLIT_RESULT    180.68.124.151
SEQUENCE_PARSE                <1>
Name: 10511, dtype: object
ID                          43986
IP_SPLIT_RESULT    60.181.170.165
SEQUENCE_PARSE                <1>
Name: 10512, dtype: object
ID                                    43987
IP_SPLIT_RESULT               125.186.237.3
SEQUENCE_PARSE     <30,132,93,132,93,93,93>
Name: 10513, dtype: object
ID                                                             43988
IP_SPLIT_RESULT                                       175.223.38.146
SEQUENCE_PARSE     <1,113,132,132,113,31,113,113,113,31,113,132,1...
Name: 10514, dtype: object
ID                         43989
IP_SPLIT_RESULT    122.42.247.66
SEQUENCE_PARSE             <5,1>
Name: 10515, dtype: object
ID                                                             43990
IP_SPLIT_RESULT                                       223.62.173.175
SEQUENCE_PARSE     <1,93,132,132,93,93,132,93,132,93,93,93,93,93,...
Name: 10516, dtype: object
ID                       43991
IP_SPLIT_RESULT    223.62.8.11
SEQUENCE_PARSE             <1>
Name: 10517, dtype: object
ID                          43992
IP_SPLIT_RESULT        39.7.54.42
SEQUENCE_PARSE     <1,31,113,164>
Name: 10518, dtype: object
ID                           43993
IP_SPLIT_RESULT    121.128.252.176
SEQUENCE_PARSE               <113>
Name: 10519, dtype: object
ID                        43994
IP_SPLIT_RESULT    61.253.53.62
SEQUENCE_PARSE              <1>
Name: 10520, dtype: object
ID                             43995
IP_SPLIT_RESULT        223.38.11.142
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 10521, dtype: object
ID                                                             43996
IP_SPLIT_RESULT                                      121.139.143.221
SEQUENCE_PARSE     <31,113,31,113,31,113,31,113,132,162,31,113,31...
Name: 10522, dtype: object
ID                        43997
IP_SPLIT_RESULT    61.253.53.62
SEQUENCE_PARSE              <1>
Name: 10523, dtype: object
ID                                              43998
IP_SPLIT_RESULT                        223.39.140.199
SEQUENCE_PARSE     <29,132,113,132,113,31,113,31,113>
Name: 10524, dtype: object
ID                        43999
IP_SPLIT_RESULT    1.233.254.68
SEQUENCE_PARSE              <1>
Name: 10525, dtype: object
ID                         44000
IP_SPLIT_RESULT    223.62.163.53
SEQUENCE_PARSE               <1>
Name: 10526, dtype: object
ID                           44001
IP_SPLIT_RESULT    210.178.130.128
SEQUENCE_PARSE      <31,113,1,5,1>
Name: 10527, dtype: object
ID                                  44002
IP_SPLIT_RESULT              59.1.251.128
SEQUENCE_PARSE     <1,29,132,5,113,132,1>
Name: 10528, dtype: object
ID                                             44003
IP_SPLIT_RESULT                       223.39.140.199
SEQUENCE_PARSE     <132,162,31,113,113,31,31,113,32>
Name: 10529, dtype: object
ID                           44004
IP_SPLIT_RESULT    222.237.160.238
SEQUENCE_PARSE                 <1>
Name: 10530, dtype: object
ID                          44005
IP_SPLIT_RESULT    118.218.90.169
SEQUENCE_PARSE                <1>
Name: 10531, dtype: object
ID                         44006
IP_SPLIT_RESULT    1.212.161.170
SEQUENCE_PARSE           <1,5,1>
Name: 10532, dtype: object
ID                         44007
IP_SPLIT_RESULT    223.39.131.70
SEQUENCE_PARSE               <1>
Name: 10533, dtype: object
ID                          44008
IP_SPLIT_RESULT    114.113.237.92
SEQUENCE_PARSE                <1>
Name: 10534, dtype: object
ID                         44009
IP_SPLIT_RESULT    113.246.31.10
SEQUENCE_PARSE               <1>
Name: 10535, dtype: object
ID                         44010
IP_SPLIT_RESULT    117.36.116.60
SEQUENCE_PARSE               <1>
Name: 10536, dtype: object
ID                          44011
IP_SPLIT_RESULT    139.170.70.210
SEQUENCE_PARSE                <1>
Name: 10537, dtype: object
ID                          44012
IP_SPLIT_RESULT    60.208.165.223
SEQUENCE_PARSE                <1>
Name: 10538, dtype: object
ID                         44013
IP_SPLIT_RESULT    125.211.31.76
SEQUENCE_PARSE               <1>
Name: 10539, dtype: object
ID                         44014
IP_SPLIT_RESULT    175.152.29.22
SEQUENCE_PARSE               <1>
Name: 10540, dtype: object
ID                          44015
IP_SPLIT_RESULT    116.113.49.112
SEQUENCE_PARSE                <1>
Name: 10541, dtype: object
ID                                                             44016
IP_SPLIT_RESULT                                           39.7.54.50
SEQUENCE_PARSE     <31,113,31,31,132,132,93,113,31,113,31,113,31,...
Name: 10542, dtype: object
ID                          44017
IP_SPLIT_RESULT    223.62.215.156
SEQUENCE_PARSE              <5,1>
Name: 10543, dtype: object
ID                          44018
IP_SPLIT_RESULT    221.145.30.198
SEQUENCE_PARSE      <31,113,1,93>
Name: 10544, dtype: object
ID                         44019
IP_SPLIT_RESULT    1.212.161.170
SEQUENCE_PARSE           <1,5,1>
Name: 10545, dtype: object
ID                          44020
IP_SPLIT_RESULT    203.210.49.248
SEQUENCE_PARSE                <1>
Name: 10546, dtype: object
ID                          44021
IP_SPLIT_RESULT    210.91.142.175
SEQUENCE_PARSE     <1,132,93,132>
Name: 10547, dtype: object
ID                        44022
IP_SPLIT_RESULT    1.210.106.11
SEQUENCE_PARSE              <1>
Name: 10548, dtype: object
ID                                                             44023
IP_SPLIT_RESULT                                       115.139.175.82
SEQUENCE_PARSE     <31,113,1,130,132,113,132,113,31,113,113,31,11...
Name: 10549, dtype: object
ID                                                44024
IP_SPLIT_RESULT                           117.111.22.30
SEQUENCE_PARSE     <1,93,1,32,1,132,93,132,93,93,93,93>
Name: 10550, dtype: object
ID                            44025
IP_SPLIT_RESULT       223.62.212.98
SEQUENCE_PARSE     <1,93,132,132,1>
Name: 10551, dtype: object
ID                                              44026
IP_SPLIT_RESULT                         223.38.11.240
SEQUENCE_PARSE     <1,90,92,32,93,132,162,166,162,93>
Name: 10552, dtype: object
ID                         44027
IP_SPLIT_RESULT    124.53.91.176
SEQUENCE_PARSE               <1>
Name: 10553, dtype: object
ID                          44028
IP_SPLIT_RESULT    222.113.179.63
SEQUENCE_PARSE                <1>
Name: 10554, dtype: object
ID                                   44029
IP_SPLIT_RESULT             115.136.76.150
SEQUENCE_PARSE     <29,132,113,132,113,92>
Name: 10555, dtype: object
ID                       44030
IP_SPLIT_RESULT    59.18.82.53
SEQUENCE_PARSE             <1>
Name: 10556, dtype: object
ID                                                             44031
IP_SPLIT_RESULT                                        223.62.212.98
SEQUENCE_PARSE     <191,1,113,132,132,31,113,132,132,158,160,132,...
Name: 10557, dtype: object
ID                                                             44032
IP_SPLIT_RESULT                                       115.136.76.150
SEQUENCE_PARSE     <90,1,132,93,132,1,90,132,113,132,29,132,113,1...
Name: 10558, dtype: object
ID                             44033
IP_SPLIT_RESULT       223.62.173.242
SEQUENCE_PARSE     <1,39,164,39,164>
Name: 10559, dtype: object
ID                           44034
IP_SPLIT_RESULT    216.169.110.211
SEQUENCE_PARSE                 <1>
Name: 10560, dtype: object
ID                                                             44035
IP_SPLIT_RESULT                                       121.173.135.12
SEQUENCE_PARSE     <32,93,32,93,32,93,32,93,63,63,1,93,1,32,93,32...
Name: 10561, dtype: object
ID                           44036
IP_SPLIT_RESULT    139.162.119.197
SEQUENCE_PARSE     <1,5,1,5,1,5,1>
Name: 10562, dtype: object
ID                          44037
IP_SPLIT_RESULT    175.223.48.145
SEQUENCE_PARSE                <1>
Name: 10563, dtype: object
ID                                 44038
IP_SPLIT_RESULT             117.111.4.80
SEQUENCE_PARSE     <1,132,132,158,160,1>
Name: 10564, dtype: object
ID                        44039
IP_SPLIT_RESULT    1.240.97.172
SEQUENCE_PARSE              <1>
Name: 10565, dtype: object
ID                                                             44040
IP_SPLIT_RESULT                                        223.62.162.86
SEQUENCE_PARSE     <5,1,5,1,87,89,80,24,212,132,1,132,93,132,132,...
Name: 10566, dtype: object
ID                          44041
IP_SPLIT_RESULT    117.111.17.225
SEQUENCE_PARSE                <1>
Name: 10567, dtype: object
ID                           44042
IP_SPLIT_RESULT    211.221.175.238
SEQUENCE_PARSE                 <1>
Name: 10568, dtype: object
ID                          44043
IP_SPLIT_RESULT    125.177.40.252
SEQUENCE_PARSE                <1>
Name: 10569, dtype: object
ID                         44044
IP_SPLIT_RESULT    58.142.24.154
SEQUENCE_PARSE          <31,113>
Name: 10570, dtype: object
ID                           44045
IP_SPLIT_RESULT    112.155.221.164
SEQUENCE_PARSE                 <1>
Name: 10571, dtype: object
ID                       44046
IP_SPLIT_RESULT    59.5.114.15
SEQUENCE_PARSE         <1,5,1>
Name: 10572, dtype: object
ID                                                             44047
IP_SPLIT_RESULT                                       117.111.13.102
SEQUENCE_PARSE     <1,31,113,132,113,132,113,132,93,132,132,113,1...
Name: 10573, dtype: object
ID                                                             44048
IP_SPLIT_RESULT                                       116.47.210.120
SEQUENCE_PARSE     <1,132,132,158,160,132,113,31,113,113,113,31,1...
Name: 10574, dtype: object
ID                                     44049
IP_SPLIT_RESULT              112.168.133.106
SEQUENCE_PARSE     <1,30,132,5,93,132,1,5,1>
Name: 10575, dtype: object
ID                         44050
IP_SPLIT_RESULT    182.209.74.62
SEQUENCE_PARSE               <1>
Name: 10576, dtype: object
ID                        44051
IP_SPLIT_RESULT    112.163.7.10
SEQUENCE_PARSE              <1>
Name: 10577, dtype: object
ID                                     44052
IP_SPLIT_RESULT              182.222.111.230
SEQUENCE_PARSE     <1,132,93,132,132,93,132>
Name: 10578, dtype: object
ID                            44053
IP_SPLIT_RESULT          223.62.8.5
SEQUENCE_PARSE     <31,113,1,32,93>
Name: 10579, dtype: object
ID                          44054
IP_SPLIT_RESULT    121.173.223.13
SEQUENCE_PARSE                <1>
Name: 10580, dtype: object
ID                              44055
IP_SPLIT_RESULT        112.158.173.22
SEQUENCE_PARSE     <1,90,92,91,26,25>
Name: 10581, dtype: object
ID                          44056
IP_SPLIT_RESULT    211.251.97.146
SEQUENCE_PARSE                <1>
Name: 10582, dtype: object
ID                          44057
IP_SPLIT_RESULT    141.223.153.83
SEQUENCE_PARSE            <1,5,1>
Name: 10583, dtype: object
ID                          44058
IP_SPLIT_RESULT    121.158.42.228
SEQUENCE_PARSE              <5,1>
Name: 10584, dtype: object
ID                                                             44059
IP_SPLIT_RESULT                                        223.62.212.22
SEQUENCE_PARSE     <1,132,93,132,93,31,113,1,93,132,132,93,93,93,...
Name: 10585, dtype: object
ID                          44060
IP_SPLIT_RESULT    112.158.173.22
SEQUENCE_PARSE            <87,89>
Name: 10586, dtype: object
ID                          44061
IP_SPLIT_RESULT    58.235.132.106
SEQUENCE_PARSE                <1>
Name: 10587, dtype: object
ID                                                             44062
IP_SPLIT_RESULT                                       223.39.149.146
SEQUENCE_PARSE     <1,32,93,93,32,93,93,32,93,1,87,200,113,132,13...
Name: 10588, dtype: object
ID                                                        44063
IP_SPLIT_RESULT                                   110.70.54.144
SEQUENCE_PARSE     <1,39,164,63,164,1,39,164,63,164,164,132,81>
Name: 10589, dtype: object
ID                                       44064
IP_SPLIT_RESULT                 223.55.158.111
SEQUENCE_PARSE     <1,132,93,132,1,132,93,132>
Name: 10590, dtype: object
ID                                                             44065
IP_SPLIT_RESULT                                        223.62.22.128
SEQUENCE_PARSE     <93,93,132,93,132,162,93,32,93,32,93,132,162,1...
Name: 10591, dtype: object
ID                          44066
IP_SPLIT_RESULT    222.106.126.26
SEQUENCE_PARSE             <1,92>
Name: 10592, dtype: object
ID                                                             44067
IP_SPLIT_RESULT                                       175.223.27.192
SEQUENCE_PARSE     <1,113,113,113,113,113,113,113,113,113,113,31,...
Name: 10593, dtype: object
ID                          44068
IP_SPLIT_RESULT    117.111.18.177
SEQUENCE_PARSE                <1>
Name: 10594, dtype: object
ID                          44069
IP_SPLIT_RESULT    222.106.126.26
SEQUENCE_PARSE               <90>
Name: 10595, dtype: object
ID                                44070
IP_SPLIT_RESULT           125.130.12.92
SEQUENCE_PARSE     <29,132,113,132,113>
Name: 10596, dtype: object
ID                           44071
IP_SPLIT_RESULT    211.237.255.233
SEQUENCE_PARSE                 <1>
Name: 10597, dtype: object
ID                          44072
IP_SPLIT_RESULT    211.36.156.229
SEQUENCE_PARSE                <1>
Name: 10598, dtype: object
ID                                      44073
IP_SPLIT_RESULT                  1.237.76.113
SEQUENCE_PARSE     <32,93,32,93,93,1,113,212>
Name: 10599, dtype: object
ID                          44074
IP_SPLIT_RESULT    223.39.139.179
SEQUENCE_PARSE                <1>
Name: 10600, dtype: object
ID                        44075
IP_SPLIT_RESULT    1.243.214.71
SEQUENCE_PARSE            <5,1>
Name: 10601, dtype: object
ID                         44076
IP_SPLIT_RESULT    222.120.17.80
SEQUENCE_PARSE               <1>
Name: 10602, dtype: object
ID                      44077
IP_SPLIT_RESULT    59.7.75.17
SEQUENCE_PARSE            <1>
Name: 10603, dtype: object
ID                             44078
IP_SPLIT_RESULT        14.37.190.131
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 10604, dtype: object
ID                          44079
IP_SPLIT_RESULT    123.215.196.69
SEQUENCE_PARSE                <1>
Name: 10605, dtype: object
ID                                                             44080
IP_SPLIT_RESULT                                        180.70.151.75
SEQUENCE_PARSE     <1,90,92,80,29,212,132,113,132,132,87,92,189,2...
Name: 10606, dtype: object
ID                             44081
IP_SPLIT_RESULT       121.157.196.66
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 10607, dtype: object
ID                       44082
IP_SPLIT_RESULT    1.210.2.174
SEQUENCE_PARSE           <113>
Name: 10608, dtype: object
ID                       44083
IP_SPLIT_RESULT    1.210.2.168
SEQUENCE_PARSE           <113>
Name: 10609, dtype: object
ID                          44084
IP_SPLIT_RESULT    211.36.135.134
SEQUENCE_PARSE              <113>
Name: 10610, dtype: object
ID                                        44085
IP_SPLIT_RESULT                     1.210.2.168
SEQUENCE_PARSE     <29,132,113,113,113,132,132>
Name: 10611, dtype: object
ID                             44086
IP_SPLIT_RESULT         59.30.169.30
SEQUENCE_PARSE     <1,93,132,132,93>
Name: 10612, dtype: object
ID                          44087
IP_SPLIT_RESULT    218.152.74.146
SEQUENCE_PARSE                <1>
Name: 10613, dtype: object
ID                                                             44088
IP_SPLIT_RESULT                                       223.62.173.132
SEQUENCE_PARSE     <1,39,113,93,93,93,93,93,1,132,93,132,93,93,13...
Name: 10614, dtype: object
ID                      44089
IP_SPLIT_RESULT    110.12.5.6
SEQUENCE_PARSE            <1>
Name: 10615, dtype: object
ID                                                             44090
IP_SPLIT_RESULT                                          223.38.8.30
SEQUENCE_PARSE     <1,90,92,80,22,212,132,93,132,1,93,132,132,132...

ID                        44229
IP_SPLIT_RESULT    117.17.32.91
SEQUENCE_PARSE              <1>
Name: 10755, dtype: object
ID                       44230
IP_SPLIT_RESULT    223.62.10.6
SEQUENCE_PARSE             <1>
Name: 10756, dtype: object
ID                       44231
IP_SPLIT_RESULT    61.98.68.67
SEQUENCE_PARSE             <1>
Name: 10757, dtype: object
ID                                                44232
IP_SPLIT_RESULT                             39.7.18.216
SEQUENCE_PARSE     <1,113,31,113,132,113,132,132,132,1>
Name: 10758, dtype: object
ID                                                             44233
IP_SPLIT_RESULT                                         119.70.60.27
SEQUENCE_PARSE     <31,113,132,113,132,113,31,113,31,113,132,162,...
Name: 10759, dtype: object
ID                                  44234
IP_SPLIT_RESULT           175.117.250.210
SEQUENCE_PARSE     <1,90,93,32,180,30,27>
Name: 10760, dtype: object
ID                                                             44235
IP_SPLIT_RESULT                                      175.117.250.210
SEQUENCE_PARSE     <92,87,89,80,26,26,23,27,1,191,191,130,132,93,...
Name: 10761, dtype: object
ID                           44236
IP_SPLIT_RESULT    114.202.156.151
SEQUENCE_PARSE                 <1>
Name: 10762, dtype: object
ID                           44237
IP_SPLIT_RESULT     218.158.37.169
SEQUENCE_PARSE     <31,113,31,113>
Name: 10763, dtype: object
ID                          44238
IP_SPLIT_RESULT    182.139.134.98
SEQUENCE_PARSE                <1>
Name: 10764, dtype: object
ID                        44239
IP_SPLIT_RESULT    119.6.13.178
SEQUENCE_PARSE              <1>
Name: 10765, dtype: object
ID                                                             44240
IP_SPLIT_RESULT                                        211.36.142.64
SEQUENCE_PARSE     <93,132,132,93,93,1,90,87,89,80,24,212,132,113...
Name: 10766, dtype: object
ID                                                             44241
IP_SPLIT_RESULT                                      106.102.128.221
SEQUENCE_PARSE     <87,80,29,212,132,113,132,132,87,189,87,92,189...
Name: 10767, dtype: object
ID                           44242
IP_SPLIT_RESULT    112.187.236.242
SEQUENCE_PARSE             <1,5,1>
Name: 10768, dtype: object
ID                          44243
IP_SPLIT_RESULT    111.85.179.101
SEQUENCE_PARSE                <1>
Name: 10769, dtype: object
ID                          44244
IP_SPLIT_RESULT    123.191.147.40
SEQUENCE_PARSE                <1>
Name: 10770, dtype: object
ID                           44245
IP_SPLIT_RESULT    112.193.194.130
SEQUENCE_PARSE                 <1>
Name: 10771, dtype: object
ID                       44246
IP_SPLIT_RESULT    113.0.39.54
SEQUENCE_PARSE             <1>
Name: 10772, dtype: object
ID                         44247
IP_SPLIT_RESULT    116.113.49.46
SEQUENCE_PARSE               <1>
Name: 10773, dtype: object
ID                          44248
IP_SPLIT_RESULT    111.85.179.202
SEQUENCE_PARSE                <1>
Name: 10774, dtype: object
ID                          44249
IP_SPLIT_RESULT    111.85.179.182
SEQUENCE_PARSE                <1>
Name: 10775, dtype: object
ID                        44250
IP_SPLIT_RESULT    123.145.3.75
SEQUENCE_PARSE              <1>
Name: 10776, dtype: object
ID                       44251
IP_SPLIT_RESULT    175.223.3.6
SEQUENCE_PARSE        <31,113>
Name: 10777, dtype: object
ID                                                             44252
IP_SPLIT_RESULT                                       175.223.39.116
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,93,132,93,132,39,3...
Name: 10778, dtype: object
ID                                                             44253
IP_SPLIT_RESULT                                         1.229.245.34
SEQUENCE_PARSE     <31,113,93,93,14,93,132,81,93,212,93,14,132,93...
Name: 10779, dtype: object
ID                                                             44254
IP_SPLIT_RESULT                                        125.130.12.60
SEQUENCE_PARSE     <1,93,132,130,130,130,130,130,1,130,191,132,13...
Name: 10780, dtype: object
ID                                                             44255
IP_SPLIT_RESULT                                       125.143.56.199
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 10781, dtype: object
ID                                                             44256
IP_SPLIT_RESULT                                       111.65.157.144
SEQUENCE_PARSE     <31,113,132,1,130,31,113,132,130,113,132,162,9...
Name: 10782, dtype: object
ID                         44257
IP_SPLIT_RESULT    49.161.40.169
SEQUENCE_PARSE               <1>
Name: 10783, dtype: object
ID                             44258
IP_SPLIT_RESULT        218.144.48.68
SEQUENCE_PARSE     <1,31,113,31,113>
Name: 10784, dtype: object
ID                          44259
IP_SPLIT_RESULT    61.109.126.149
SEQUENCE_PARSE                <1>
Name: 10785, dtype: object
ID                                                             44260
IP_SPLIT_RESULT                                        125.130.12.60
SEQUENCE_PARSE     <1,87,89,80,26,132,130,130,132,132,93,132,93,1...
Name: 10786, dtype: object
ID                                                             44261
IP_SPLIT_RESULT                                       222.232.99.136
SEQUENCE_PARSE     <1,93,93,93,92,93,212,14,93,212,93,14,93,1,132...
Name: 10787, dtype: object
ID                                                             44262
IP_SPLIT_RESULT                                        223.62.172.90
SEQUENCE_PARSE     <1,113,113,31,113,113,132,162,113,31,113,31,11...
Name: 10788, dtype: object
ID                         44263
IP_SPLIT_RESULT    123.143.59.91
SEQUENCE_PARSE               <1>
Name: 10789, dtype: object
ID                         44264
IP_SPLIT_RESULT    223.33.184.13
SEQUENCE_PARSE               <1>
Name: 10790, dtype: object
ID                                                             44265
IP_SPLIT_RESULT                                       111.65.157.144
SEQUENCE_PARSE     <93,14,93,93,212,14,93,31,113,132,162,93,31,11...
Name: 10791, dtype: object
ID                          44266
IP_SPLIT_RESULT    117.111.10.130
SEQUENCE_PARSE                <1>
Name: 10792, dtype: object
ID                                                             44267
IP_SPLIT_RESULT                                          2.50.135.49
SEQUENCE_PARSE     <132,132,158,160,164,132,158,160,132,132,132,1...
Name: 10793, dtype: object
ID                        44268
IP_SPLIT_RESULT    1.239.60.188
SEQUENCE_PARSE            <5,1>
Name: 10794, dtype: object
ID                          44269
IP_SPLIT_RESULT    176.58.105.244
SEQUENCE_PARSE                <1>
Name: 10795, dtype: object
ID                                 44270
IP_SPLIT_RESULT            72.14.199.137
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5>
Name: 10796, dtype: object
ID                                                             44271
IP_SPLIT_RESULT                                       223.39.131.118
SEQUENCE_PARSE     <1,132,132,158,160,132,132,132,113,1,113,132,1...
Name: 10797, dtype: object
ID                          44272
IP_SPLIT_RESULT    173.252.90.236
SEQUENCE_PARSE                <1>
Name: 10798, dtype: object
ID                                                             44273
IP_SPLIT_RESULT                                        58.145.79.237
SEQUENCE_PARSE     <1,132,93,132,32,93,32,93,93,32,93,32,93,93,32...
Name: 10799, dtype: object
ID                          44274
IP_SPLIT_RESULT    176.58.105.244
SEQUENCE_PARSE            <90,92>
Name: 10800, dtype: object
ID                                                             44275
IP_SPLIT_RESULT                                       223.39.131.118
SEQUENCE_PARSE     <132,113,132,113,113,31,113,31,113,31,113,113,...
Name: 10801, dtype: object
ID                          44276
IP_SPLIT_RESULT     121.141.2.163
SEQUENCE_PARSE     <1,132,93,132>
Name: 10802, dtype: object
ID                                                             44277
IP_SPLIT_RESULT                                         39.119.68.60
SEQUENCE_PARSE     <1,132,113,132,113,31,113,1,132,113,132,113,11...
Name: 10803, dtype: object
ID                         44278
IP_SPLIT_RESULT    58.145.79.237
SEQUENCE_PARSE        <93,32,93>
Name: 10804, dtype: object
ID                          44279
IP_SPLIT_RESULT    211.203.32.144
SEQUENCE_PARSE                <1>
Name: 10805, dtype: object
ID                           44280
IP_SPLIT_RESULT    211.117.207.213
SEQUENCE_PARSE             <1,5,1>
Name: 10806, dtype: object
ID                                                             44281
IP_SPLIT_RESULT                                       222.232.99.136
SEQUENCE_PARSE     <1,93,132,85,85,1,93,93,212,93,14,93,14,93,93,...
Name: 10807, dtype: object
ID                                   44282
IP_SPLIT_RESULT                59.7.12.120
SEQUENCE_PARSE     <1,132,132,158,160,164>
Name: 10808, dtype: object
ID                                                             44283
IP_SPLIT_RESULT                                       123.212.195.70
SEQUENCE_PARSE     <132,113,132,113,113,31,31,113,113,113,113,31,...
Name: 10809, dtype: object
ID                                                             44284
IP_SPLIT_RESULT                                        110.70.56.209
SEQUENCE_PARSE     <1,31,113,132,132,113,113,31,113,31,113,113,29...
Name: 10810, dtype: object
ID                                                             44285
IP_SPLIT_RESULT                                        110.70.47.211
SEQUENCE_PARSE     <1,132,93,132,132,158,160,164,1,132,1,132,132,...
Name: 10811, dtype: object
ID                                                             44286
IP_SPLIT_RESULT                                        1.209.174.107
SEQUENCE_PARSE     <1,132,132,113,132,113,113,113,31,113,31,113,1...
Name: 10812, dtype: object
ID                                                             44287
IP_SPLIT_RESULT                                         116.47.108.8
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,132,132,93,93,93>
Name: 10813, dtype: object
ID                                                             44288
IP_SPLIT_RESULT                                      211.198.109.126
SEQUENCE_PARSE     <39,164,63,89,195,39,164,130,164,1,63,132,92,3...
Name: 10814, dtype: object
ID                         44289
IP_SPLIT_RESULT    198.27.65.122
SEQUENCE_PARSE               <1>
Name: 10815, dtype: object
ID                                           44290
IP_SPLIT_RESULT                     211.36.136.175
SEQUENCE_PARSE     <1,92,89,80,24,164,130,164,132>
Name: 10816, dtype: object
ID                                                             44291
IP_SPLIT_RESULT                                       218.236.54.137
SEQUENCE_PARSE     <1,113,132,132,31,113,1,113,132,132,31,113,113...
Name: 10817, dtype: object
ID                         44292
IP_SPLIT_RESULT    39.119.214.37
SEQUENCE_PARSE             <5,1>
Name: 10818, dtype: object
ID                                   44293
IP_SPLIT_RESULT             203.246.82.110
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1>
Name: 10819, dtype: object
ID                          44294
IP_SPLIT_RESULT    175.223.17.174
SEQUENCE_PARSE                <1>
Name: 10820, dtype: object
ID                          44295
IP_SPLIT_RESULT    211.55.123.138
SEQUENCE_PARSE              <5,1>
Name: 10821, dtype: object
ID                                                             44296
IP_SPLIT_RESULT                                      180.134.178.102
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,132,113,132,113,90...
Name: 10822, dtype: object
ID                                                      44297
IP_SPLIT_RESULT                                223.62.216.141
SEQUENCE_PARSE     <1,132,93,132,93,132,113,132,113,1,5,1,93>
Name: 10823, dtype: object
ID                                                             44298
IP_SPLIT_RESULT                                         223.38.8.204
SEQUENCE_PARSE     <113,31,113,31,113,113,31,113,113,31,113,113,3...
Name: 10824, dtype: object
ID                                                             44299
IP_SPLIT_RESULT                                       115.41.116.135
SEQUENCE_PARSE     <1,93,132,132,90,92,93,132,132,93,93,93,90,92,...
Name: 10825, dtype: object
ID                                       44300
IP_SPLIT_RESULT                  218.157.64.35
SEQUENCE_PARSE     <1,29,1,63,132,113,132,113>
Name: 10826, dtype: object
ID                                                             44301
IP_SPLIT_RESULT                                       211.244.118.88
SEQUENCE_PARSE     <1,132,93,132,132,113,132,132,113,132,113,90,1...
Name: 10827, dtype: object
ID                                                             44302
IP_SPLIT_RESULT                                       175.223.22.138
SEQUENCE_PARSE     <1,90,92,80,26,130,130,1,130,130,1,87,89,200,2...
Name: 10828, dtype: object
ID                                          44303
IP_SPLIT_RESULT                    222.99.207.104
SEQUENCE_PARSE     <1,113,132,132,113,31,113,113>
Name: 10829, dtype: object
ID                                                             44304
IP_SPLIT_RESULT                                         223.38.8.204
SEQUENCE_PARSE     <31,113,31,113,132,162,166,162,132,113,132,1,1...
Name: 10830, dtype: object
ID                                                             44305
IP_SPLIT_RESULT                                       223.62.216.141
SEQUENCE_PARSE     <113,113,113,113,1,5,1,5,1,132,1,132,93,132,93...
Name: 10831, dtype: object
ID                                              44306
IP_SPLIT_RESULT                          61.43.55.104
SEQUENCE_PARSE     <32,93,1,132,93,132,93,93,93,93,1>
Name: 10832, dtype: object
ID                          44307
IP_SPLIT_RESULT    223.39.140.124
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 10833, dtype: object
ID                             44308
IP_SPLIT_RESULT      210.123.184.210
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 10834, dtype: object
ID                         44309
IP_SPLIT_RESULT    117.111.10.33
SEQUENCE_PARSE           <32,93>
Name: 10835, dtype: object
ID                          44310
IP_SPLIT_RESULT    49.173.196.131
SEQUENCE_PARSE          <1,90,90>
Name: 10836, dtype: object
ID                         44311
IP_SPLIT_RESULT    110.70.51.243
SEQUENCE_PARSE               <1>
Name: 10837, dtype: object
ID                           44312
IP_SPLIT_RESULT        39.7.53.247
SEQUENCE_PARSE     <1,132,113,132>
Name: 10838, dtype: object
ID                          44313
IP_SPLIT_RESULT    211.244.118.88
SEQUENCE_PARSE        <1,132,132>
Name: 10839, dtype: object
ID                             44314
IP_SPLIT_RESULT       211.200.229.94
SEQUENCE_PARSE     <1,93,132,132,93>
Name: 10840, dtype: object
ID                          44315
IP_SPLIT_RESULT    175.223.44.209
SEQUENCE_PARSE          <1,90,92>
Name: 10841, dtype: object
ID                                                             44316
IP_SPLIT_RESULT                                       121.131.25.220
SEQUENCE_PARSE     <130,93,132,130,130,130,130,130,191,191,130,19...
Name: 10842, dtype: object
ID                          44317
IP_SPLIT_RESULT    175.223.17.152
SEQUENCE_PARSE                <1>
Name: 10843, dtype: object
ID                                                             44318
IP_SPLIT_RESULT                                       175.223.22.138
SEQUENCE_PARSE     <87,89,90,92,80,26,25,191,130,130,130,191,191,...
Name: 10844, dtype: object
ID                          44319
IP_SPLIT_RESULT    219.255.207.83
SEQUENCE_PARSE                <1>
Name: 10845, dtype: object
ID                                44320
IP_SPLIT_RESULT          223.62.203.151
SEQUENCE_PARSE     <1,31,30,132,93,132>
Name: 10846, dtype: object
ID                                                             44321
IP_SPLIT_RESULT                                       123.212.195.70
SEQUENCE_PARSE     <29,132,113,132,29,132,113,132,93,93,212,93,14...
Name: 10847, dtype: object
ID                                                             44322
IP_SPLIT_RESULT                                         110.70.47.81
SEQUENCE_PARSE     <39,39,164,1,132,113,132,113,31,113,31,113,113...
Name: 10848, dtype: object
ID                                            44323
IP_SPLIT_RESULT                        110.70.47.81
SEQUENCE_PARSE     <164,113,33,164,130,130,164,164>
Name: 10849, dtype: object
ID                                                             44324
IP_SPLIT_RESULT                                       211.36.142.244
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,93,31,113,132,113,...
Name: 10850, dtype: object
ID                                                             44325
IP_SPLIT_RESULT                                        223.38.10.103
SEQUENCE_PARSE     <1,93,132,132,93,32,93,32,93,32,93,93,32,93,13...
Name: 10851, dtype: object
ID                                                             44326
IP_SPLIT_RESULT                                        1.209.174.107
SEQUENCE_PARSE     <1,113,113,31,113,31,113,113,132,132,158,160,1...
Name: 10852, dtype: object
ID                                                             44327
IP_SPLIT_RESULT                                        175.223.18.49
SEQUENCE_PARSE     <1,90,92,87,89,80,24,212,132,132,1,132,93,132,...
Name: 10853, dtype: object
ID                                                44328
IP_SPLIT_RESULT                         203.226.208.189
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,132,132>
Name: 10854, dtype: object
ID                                                             44329
IP_SPLIT_RESULT                                       121.131.25.220
SEQUENCE_PARSE     <32,132,162,113,113,212,113,14,113,32,93,132,1...
Name: 10855, dtype: object
ID                                                      44330
IP_SPLIT_RESULT                                211.36.142.244
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,132,93,132,93,1>
Name: 10856, dtype: object
ID                                                       44331
IP_SPLIT_RESULT                                  223.62.21.202
SEQUENCE_PARSE     <1,132,113,132,113,31,113,113,31,113,113,1>
Name: 10857, dtype: object
ID                                                     44332
IP_SPLIT_RESULT                               222.107.55.157
SEQUENCE_PARSE     <132,132,132,132,132,132,1,30,132,132,93>
Name: 10858, dtype: object
ID                                                             44333
IP_SPLIT_RESULT                                        223.62.21.202
SEQUENCE_PARSE     <63,31,31,113,31,113,113,31,113,113,93,132,132...
Name: 10859, dtype: object
ID                         44334
IP_SPLIT_RESULT    47.91.237.147
SEQUENCE_PARSE               <1>
Name: 10860, dtype: object
ID                         44335
IP_SPLIT_RESULT    47.91.237.147
SEQUENCE_PARSE               <1>
Name: 10861, dtype: object
ID                        44336
IP_SPLIT_RESULT    124.53.20.81
SEQUENCE_PARSE              <1>
Name: 10862, dtype: object
ID                                                             44337
IP_SPLIT_RESULT                                       128.134.35.241
SEQUENCE_PARSE     <31,113,132,113,132,113,132,132,158,160,132,13...
Name: 10863, dtype: object
ID                                                44338
IP_SPLIT_RESULT                             59.9.254.77
SEQUENCE_PARSE     <31,113,31,113,31,113,31,113,31,113>
Name: 10864, dtype: object
ID                           44339
IP_SPLIT_RESULT    121.173.219.182
SEQUENCE_PARSE         <1,5,1,132>
Name: 10865, dtype: object
ID                                                             44340
IP_SPLIT_RESULT                                        223.38.10.103
SEQUENCE_PARSE     <93,93,93,1,130,130,132,113,132,113,31,113,31,...

Name: 10946, dtype: object
ID                                                          44421
IP_SPLIT_RESULT                                     223.62.219.25
SEQUENCE_PARSE     <31,113,132,162,166,162,132,174,172,170,132,1>
Name: 10947, dtype: object
ID                                                             44422
IP_SPLIT_RESULT                                       175.192.228.43
SEQUENCE_PARSE     <1,132,93,132,93,93,92,91,26,93,132,132,90,92,...
Name: 10948, dtype: object
ID                        44423
IP_SPLIT_RESULT    117.111.5.67
SEQUENCE_PARSE         <31,113>
Name: 10949, dtype: object
ID                          44424
IP_SPLIT_RESULT    223.62.203.186
SEQUENCE_PARSE                <1>
Name: 10950, dtype: object
ID                                   44425
IP_SPLIT_RESULT             218.54.124.220
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 10951, dtype: object
ID                                                             44426
IP_SPLIT_RESULT                                       175.192.228.43
SEQUENCE_PARSE     <90,87,89,87,89,212,132,132,93,93,93,93,93,93,...
Name: 10952, dtype: object
ID                         44427
IP_SPLIT_RESULT    110.70.51.121
SEQUENCE_PARSE               <1>
Name: 10953, dtype: object
ID                                                             44428
IP_SPLIT_RESULT                                        125.176.29.62
SEQUENCE_PARSE     <1,132,93,132,30,132,93,132,93,132,93,132,132,...
Name: 10954, dtype: object
ID                                                       44429
IP_SPLIT_RESULT                                  175.223.2.180
SEQUENCE_PARSE     <1,191,1,90,92,87,113,113,81,81,212,81,132>
Name: 10955, dtype: object
ID                                                             44430
IP_SPLIT_RESULT                                       223.62.169.153
SEQUENCE_PARSE     <31,132,1,92,87,89,212,132,113,132,113,113,113...
Name: 10956, dtype: object
ID                                                             44431
IP_SPLIT_RESULT                                       223.62.169.153
SEQUENCE_PARSE     <113,31,113,1,90,80,24,212,132,113,132,31,113,...
Name: 10957, dtype: object
ID                                                             44432
IP_SPLIT_RESULT                                        220.75.218.42
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 10958, dtype: object
ID                               44433
IP_SPLIT_RESULT           223.33.7.206
SEQUENCE_PARSE     <113,113,113,31,29>
Name: 10959, dtype: object
ID                           44434
IP_SPLIT_RESULT    121.138.115.117
SEQUENCE_PARSE                <32>
Name: 10960, dtype: object
ID                           44435
IP_SPLIT_RESULT    121.138.115.117
SEQUENCE_PARSE                <93>
Name: 10961, dtype: object
ID                          44436
IP_SPLIT_RESULT    211.114.121.81
SEQUENCE_PARSE            <1,5,1>
Name: 10962, dtype: object
ID                          44437
IP_SPLIT_RESULT    218.188.86.200
SEQUENCE_PARSE            <1,5,1>
Name: 10963, dtype: object
ID                          44438
IP_SPLIT_RESULT    112.161.67.198
SEQUENCE_PARSE           <31,113>
Name: 10964, dtype: object
ID                                                             44439
IP_SPLIT_RESULT                                        117.111.5.100
SEQUENCE_PARSE     <5,1,32,32,32,93,32,32,32,93,32,93,32,93,32,93...
Name: 10965, dtype: object
ID                                    44440
IP_SPLIT_RESULT               119.71.27.206
SEQUENCE_PARSE     <1,5,1,132,93,132,1,5,1>
Name: 10966, dtype: object
ID                                                             44441
IP_SPLIT_RESULT                                        223.33.153.16
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,1,90,92,25,90,1,132,...
Name: 10967, dtype: object
ID                       44442
IP_SPLIT_RESULT    39.7.58.205
SEQUENCE_PARSE        <33,164>
Name: 10968, dtype: object
ID                                                             44443
IP_SPLIT_RESULT                                      183.100.209.107
SEQUENCE_PARSE     <132,174,172,170,174,172,170,132,132,113,132,1...
Name: 10969, dtype: object
ID                                                             44444
IP_SPLIT_RESULT                                        110.70.58.231
SEQUENCE_PARSE     <1,132,93,132,93,90,92,1,130,63,132,92,87,89,2...
Name: 10970, dtype: object
ID                         44445
IP_SPLIT_RESULT    72.141.40.157
SEQUENCE_PARSE               <1>
Name: 10971, dtype: object
ID                       44446
IP_SPLIT_RESULT    39.7.58.205
SEQUENCE_PARSE           <164>
Name: 10972, dtype: object
ID                                                             44447
IP_SPLIT_RESULT                                        175.223.2.180
SEQUENCE_PARSE     <87,89,80,29,113,212,132,132,132,113,212,132,1...
Name: 10973, dtype: object
ID                                                             44448
IP_SPLIT_RESULT                                       121.172.222.60
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,93,132,93,93,93,1,1...
Name: 10974, dtype: object
ID                         44449
IP_SPLIT_RESULT    175.223.27.43
SEQUENCE_PARSE               <1>
Name: 10975, dtype: object
ID                                44450
IP_SPLIT_RESULT          221.162.247.97
SEQUENCE_PARSE     <1,132,93,132,93,90>
Name: 10976, dtype: object
ID                                      44451
IP_SPLIT_RESULT                221.162.247.97
SEQUENCE_PARSE     <92,1,132,93,132,93,93,93>
Name: 10977, dtype: object
ID                         44452
IP_SPLIT_RESULT    58.224.106.59
SEQUENCE_PARSE               <1>
Name: 10978, dtype: object
ID                         44453
IP_SPLIT_RESULT    115.90.40.242
SEQUENCE_PARSE               <5>
Name: 10979, dtype: object
ID                          44454
IP_SPLIT_RESULT    175.211.105.56
SEQUENCE_PARSE                <1>
Name: 10980, dtype: object
ID                         44455
IP_SPLIT_RESULT    47.88.102.233
SEQUENCE_PARSE               <1>
Name: 10981, dtype: object
ID                          44456
IP_SPLIT_RESULT    203.249.21.239
SEQUENCE_PARSE          <1,90,92>
Name: 10982, dtype: object
ID                           44457
IP_SPLIT_RESULT    218.145.138.119
SEQUENCE_PARSE              <1,90>
Name: 10983, dtype: object
ID                          44458
IP_SPLIT_RESULT    223.33.184.209
SEQUENCE_PARSE                <1>
Name: 10984, dtype: object
ID                                                             44459
IP_SPLIT_RESULT                                       218.145.245.78
SEQUENCE_PARSE     <1,5,1,5,1,132,1,90,92,1,130,191,191,191,130,1...
Name: 10985, dtype: object
ID                          44460
IP_SPLIT_RESULT    223.62.188.171
SEQUENCE_PARSE              <5,1>
Name: 10986, dtype: object
ID                          44461
IP_SPLIT_RESULT    112.214.16.171
SEQUENCE_PARSE     <1,132,93,132>
Name: 10987, dtype: object
ID                          44462
IP_SPLIT_RESULT    175.223.22.140
SEQUENCE_PARSE       <33,164,164>
Name: 10988, dtype: object
ID                                                             44463
IP_SPLIT_RESULT                                        119.71.27.206
SEQUENCE_PARSE     <32,93,32,93,132,81,132,158,160,132,132,113,13...
Name: 10989, dtype: object
ID                           44464
IP_SPLIT_RESULT    121.137.109.233
SEQUENCE_PARSE                 <1>
Name: 10990, dtype: object
ID                        44465
IP_SPLIT_RESULT    61.78.79.253
SEQUENCE_PARSE              <5>
Name: 10991, dtype: object
ID                                                             44466
IP_SPLIT_RESULT                                        223.62.22.251
SEQUENCE_PARSE     <5,32,32,33,164,33,164,33,164,33,164,1,132,81,...
Name: 10992, dtype: object
ID                        44467
IP_SPLIT_RESULT    110.70.51.66
SEQUENCE_PARSE              <1>
Name: 10993, dtype: object
ID                          44468
IP_SPLIT_RESULT    121.172.222.60
SEQUENCE_PARSE       <132,132,93>
Name: 10994, dtype: object
ID                                44469
IP_SPLIT_RESULT          121.173.15.188
SEQUENCE_PARSE     <1,93,132,132,93,93>
Name: 10995, dtype: object
ID                                             44470
IP_SPLIT_RESULT                       203.249.21.239
SEQUENCE_PARSE     <87,89,80,29,212,113,132,132,132>
Name: 10996, dtype: object
ID                         44471
IP_SPLIT_RESULT    180.81.19.115
SEQUENCE_PARSE           <1,5,1>
Name: 10997, dtype: object
ID                           44472
IP_SPLIT_RESULT    123.215.248.160
SEQUENCE_PARSE                 <1>
Name: 10998, dtype: object
ID                                               44473
IP_SPLIT_RESULT                          117.111.22.30
SEQUENCE_PARSE     <93,93,63,132,93,132,93,93,32,93,1>
Name: 10999, dtype: object
ID                          44474
IP_SPLIT_RESULT    112.156.249.10
SEQUENCE_PARSE              <5,1>
Name: 11000, dtype: object
ID                                     44475
IP_SPLIT_RESULT               223.39.145.179
SEQUENCE_PARSE     <39,164,63,39,164,63,164>
Name: 11001, dtype: object
ID                        44476
IP_SPLIT_RESULT    110.70.53.75
SEQUENCE_PARSE              <5>
Name: 11002, dtype: object
ID                         44477
IP_SPLIT_RESULT    117.111.13.79
SEQUENCE_PARSE               <1>
Name: 11003, dtype: object
ID                                                             44478
IP_SPLIT_RESULT                                       117.111.28.143
SEQUENCE_PARSE     <1,113,31,113,31,113,31,113,130,29,113,113,113...
Name: 11004, dtype: object
ID                                              44479
IP_SPLIT_RESULT                        117.111.10.252
SEQUENCE_PARSE     <1,132,93,132,93,93,93,5,1,31,113>
Name: 11005, dtype: object
ID                         44480
IP_SPLIT_RESULT    110.70.47.211
SEQUENCE_PARSE             <132>
Name: 11006, dtype: object
ID                         44481
IP_SPLIT_RESULT    106.102.1.162
SEQUENCE_PARSE       <1,90,92,1>
Name: 11007, dtype: object
ID                                                             44482
IP_SPLIT_RESULT                                       117.111.28.143
SEQUENCE_PARSE     <130,130,130,132,113,132,113,31,113,29,113,1,1...
Name: 11008, dtype: object
ID                         44483
IP_SPLIT_RESULT    110.70.27.184
SEQUENCE_PARSE               <5>
Name: 11009, dtype: object
ID                                   44484
IP_SPLIT_RESULT             223.39.145.179
SEQUENCE_PARSE     <39,164,63,164,164,164>
Name: 11010, dtype: object
ID                       44485
IP_SPLIT_RESULT    39.7.19.161
SEQUENCE_PARSE           <5,1>
Name: 11011, dtype: object
ID                         44486
IP_SPLIT_RESULT    202.198.62.54
SEQUENCE_PARSE               <1>
Name: 11012, dtype: object
ID                                             44487
IP_SPLIT_RESULT                         183.99.73.14
SEQUENCE_PARSE     <1,113,132,132,113,31,113,31,113>
Name: 11013, dtype: object
ID                          44488
IP_SPLIT_RESULT    118.43.108.180
SEQUENCE_PARSE                <1>
Name: 11014, dtype: object
ID                                                             44489
IP_SPLIT_RESULT                                        165.132.5.138
SEQUENCE_PARSE     <31,113,31,113,31,113,113,31,39,164,39,164,132...
Name: 11015, dtype: object
ID                                                             44490
IP_SPLIT_RESULT                                        211.36.156.70
SEQUENCE_PARSE     <31,113,1,132,132,113,31,113,113,113,31,113,11...
Name: 11016, dtype: object
ID                                          44491
IP_SPLIT_RESULT                    175.255.109.85
SEQUENCE_PARSE     <29,113,132,132,113,31,113,31>
Name: 11017, dtype: object
ID                         44492
IP_SPLIT_RESULT    106.102.1.203
SEQUENCE_PARSE               <1>
Name: 11018, dtype: object
ID                          44493
IP_SPLIT_RESULT    121.151.71.228
SEQUENCE_PARSE                <1>
Name: 11019, dtype: object
ID                             44494
IP_SPLIT_RESULT        223.33.164.13
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 11020, dtype: object
ID                                                             44495
IP_SPLIT_RESULT                                           39.7.58.80
SEQUENCE_PARSE     <93,132,132,132,158,160,132,93,132,132,93,93,3...
Name: 11021, dtype: object
ID                                                             44496
IP_SPLIT_RESULT                                           39.7.58.80
SEQUENCE_PARSE     <132,132,132,158,160,93,32,93,1,33,164,164,32,...
Name: 11022, dtype: object
ID                          44497
IP_SPLIT_RESULT    119.71.248.226
SEQUENCE_PARSE                <1>
Name: 11023, dtype: object
ID                         44498
IP_SPLIT_RESULT    125.133.77.52
SEQUENCE_PARSE           <1,5,1>
Name: 11024, dtype: object
ID                                   44499
IP_SPLIT_RESULT             182.224.156.66
SEQUENCE_PARSE     <32,93,32,32,32,5,32,1>
Name: 11025, dtype: object
ID                                                             44500
IP_SPLIT_RESULT                                       115.41.116.135
SEQUENCE_PARSE     <113,113,14,93,113,132,132,113,31,113,31,113,1...
Name: 11026, dtype: object
ID                                                             44501
IP_SPLIT_RESULT                                       223.62.188.238
SEQUENCE_PARSE     <32,132,132,162,132,132,93,32,93,93,32,93,93,9...
Name: 11027, dtype: object
ID                                                             44502
IP_SPLIT_RESULT                                       223.62.188.238
SEQUENCE_PARSE     <93,1,132,113,132,132,158,160,164,132,158,160,...
Name: 11028, dtype: object
ID                          44503
IP_SPLIT_RESULT    223.39.150.227
SEQUENCE_PARSE                <1>
Name: 11029, dtype: object
ID                         44504
IP_SPLIT_RESULT    223.39.146.92
SEQUENCE_PARSE        <32,93,32>
Name: 11030, dtype: object
ID                                                             44505
IP_SPLIT_RESULT                                        1.255.180.174
SEQUENCE_PARSE     <1,90,87,89,132,132,1,130,130,1,90,92,1,92,87,...
Name: 11031, dtype: object
ID                       44506
IP_SPLIT_RESULT    61.41.65.24
SEQUENCE_PARSE           <113>
Name: 11032, dtype: object
ID                          44507
IP_SPLIT_RESULT    112.214.194.49
SEQUENCE_PARSE                <1>
Name: 11033, dtype: object
ID                                                     44508
IP_SPLIT_RESULT                                223.62.10.171
SEQUENCE_PARSE     <1,33,164,164,33,164,33,164,1,132,93,132>
Name: 11034, dtype: object
ID                                                             44509
IP_SPLIT_RESULT                                        110.70.55.108
SEQUENCE_PARSE     <29,132,113,132,31,113,1,132,93,132,87,80,26,1...
Name: 11035, dtype: object
ID                         44510
IP_SPLIT_RESULT    117.111.18.58
SEQUENCE_PARSE           <32,93>
Name: 11036, dtype: object
ID                          44511
IP_SPLIT_RESULT    223.39.150.227
SEQUENCE_PARSE                <1>
Name: 11037, dtype: object
ID                          44512
IP_SPLIT_RESULT    121.66.218.245
SEQUENCE_PARSE          <5,1,5,1>
Name: 11038, dtype: object
ID                           44513
IP_SPLIT_RESULT    114.206.243.124
SEQUENCE_PARSE                 <1>
Name: 11039, dtype: object
ID                                                             44514
IP_SPLIT_RESULT                                       117.111.28.191
SEQUENCE_PARSE     <1,93,132,132,93,93,93,1,93,132,132,93,93,93,3...
Name: 11040, dtype: object
ID                        44515
IP_SPLIT_RESULT    110.70.14.86
SEQUENCE_PARSE         <31,113>
Name: 11041, dtype: object
ID                                                             44516
IP_SPLIT_RESULT                                        175.223.17.65
SEQUENCE_PARSE     <1,93,1,93,132,1,132,1,132,113,132,132,93,132,...
Name: 11042, dtype: object
ID                                                             44517
IP_SPLIT_RESULT                                        116.45.246.59
SEQUENCE_PARSE     <1,132,93,132,93,93,93,113,212,132,113,132,25,...
Name: 11043, dtype: object
ID                                                             44518
IP_SPLIT_RESULT                                        110.70.47.109
SEQUENCE_PARSE     <1,113,132,158,160,113,132,158,160,113,132,162...
Name: 11044, dtype: object
ID                                                             44519
IP_SPLIT_RESULT                                        110.70.47.109
SEQUENCE_PARSE     <39,164,162,166,162,113,132,158,160,132,132,15...
Name: 11045, dtype: object
ID                                                             44520
IP_SPLIT_RESULT                                       183.106.210.59
SEQUENCE_PARSE     <29,132,113,132,113,29,132,113,132,113,113,113...
Name: 11046, dtype: object
ID                         44521
IP_SPLIT_RESULT    223.62.11.223
SEQUENCE_PARSE        <31,113,1>
Name: 11047, dtype: object
ID                                                             44522
IP_SPLIT_RESULT                                        124.60.178.79
SEQUENCE_PARSE     <30,132,93,132,132,174,172,170,176,132,132,132...
Name: 11048, dtype: object
ID                           44523
IP_SPLIT_RESULT    182.162.206.111
SEQUENCE_PARSE             <1,5,1>
Name: 11049, dtype: object
ID                                                             44524
IP_SPLIT_RESULT                                        116.45.246.59
SEQUENCE_PARSE     <132,132,90,92,87,89,80,29,212,132,113,132,132...
Name: 11050, dtype: object
ID                           44525
IP_SPLIT_RESULT       211.36.155.9
SEQUENCE_PARSE     <31,113,31,113>
Name: 11051, dtype: object
ID                         44526
IP_SPLIT_RESULT    223.62.188.53
SEQUENCE_PARSE             <5,1>
Name: 11052, dtype: object
ID                                                             44527
IP_SPLIT_RESULT                                       117.111.12.207
SEQUENCE_PARSE     <1,113,132,132,113,31,113,132,162,166,162,113,...
Name: 11053, dtype: object
ID                          44528
IP_SPLIT_RESULT    175.223.22.140
SEQUENCE_PARSE           <33,164>
Name: 11054, dtype: object
ID                           44529
IP_SPLIT_RESULT    221.151.151.165
SEQUENCE_PARSE             <1,5,1>
Name: 11055, dtype: object
ID                          44530
IP_SPLIT_RESULT    223.39.140.226
SEQUENCE_PARSE     <1,132,93,132>
Name: 11056, dtype: object
ID                           44531
IP_SPLIT_RESULT    175.115.242.174
SEQUENCE_PARSE                 <1>
Name: 11057, dtype: object
ID                             44532
IP_SPLIT_RESULT        122.32.40.105
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 11058, dtype: object
ID                             44533
IP_SPLIT_RESULT         110.70.52.81
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 11059, dtype: object
ID                           44534
IP_SPLIT_RESULT    222.117.165.198
SEQUENCE_PARSE                 <1>
Name: 11060, dtype: object
ID                                44535
IP_SPLIT_RESULT          119.56.141.187
SEQUENCE_PARSE     <1,132,93,132,93,93>
Name: 11061, dtype: object
ID                           44536
IP_SPLIT_RESULT    112.216.244.162
SEQUENCE_PARSE                <33>
Name: 11062, dtype: object
ID                                   44537
IP_SPLIT_RESULT            119.193.136.250
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 11063, dtype: object
ID                          44538
IP_SPLIT_RESULT    211.36.144.235
SEQUENCE_PARSE           <164,93>
Name: 11064, dtype: object
ID                        44539
IP_SPLIT_RESULT    110.70.58.42
SEQUENCE_PARSE             <31>
Name: 11065, dtype: object
ID                        44540
IP_SPLIT_RESULT    110.70.58.42
SEQUENCE_PARSE            <113>
Name: 11066, dtype: object

ID                         44676
IP_SPLIT_RESULT    223.62.219.56
SEQUENCE_PARSE               <1>
Name: 11202, dtype: object
ID                          44677
IP_SPLIT_RESULT    211.52.174.141
SEQUENCE_PARSE                <1>
Name: 11203, dtype: object
ID                          44678
IP_SPLIT_RESULT    64.246.165.160
SEQUENCE_PARSE                <1>
Name: 11204, dtype: object
ID                                                             44679
IP_SPLIT_RESULT                                      203.254.122.195
SEQUENCE_PARSE     <1,90,92,1,132,113,132,113,31,113,31,113,31,11...
Name: 11205, dtype: object
ID                                                             44680
IP_SPLIT_RESULT                                        61.79.184.111
SEQUENCE_PARSE     <31,113,132,162,93,132,31,113,132,162,166,162,...
Name: 11206, dtype: object
ID                           44681
IP_SPLIT_RESULT    168.188.238.159
SEQUENCE_PARSE                 <1>
Name: 11207, dtype: object
ID                          44682
IP_SPLIT_RESULT    175.223.36.173
SEQUENCE_PARSE                <1>
Name: 11208, dtype: object
ID                          44683
IP_SPLIT_RESULT     211.48.46.155
SEQUENCE_PARSE     <1,5,1,31,113>
Name: 11209, dtype: object
ID                          44684
IP_SPLIT_RESULT    211.104.13.209
SEQUENCE_PARSE        <1,5,1,5,1>
Name: 11210, dtype: object
ID                          44685
IP_SPLIT_RESULT    175.223.11.111
SEQUENCE_PARSE              <5,1>
Name: 11211, dtype: object
ID                          44686
IP_SPLIT_RESULT    125.130.12.124
SEQUENCE_PARSE           <31,113>
Name: 11212, dtype: object
ID                                                             44687
IP_SPLIT_RESULT                                       223.62.219.208
SEQUENCE_PARSE     <1,113,132,132,113,31,113,31,113,31,113,113,31...
Name: 11213, dtype: object
ID                                             44688
IP_SPLIT_RESULT                      203.254.122.195
SEQUENCE_PARSE     <87,89,80,29,212,132,113,132,113>
Name: 11214, dtype: object
ID                                                     44689
IP_SPLIT_RESULT                               223.62.222.175
SEQUENCE_PARSE     <1,90,1,93,132,81,93,212,93,14,132,93,81>
Name: 11215, dtype: object
ID                                                             44690
IP_SPLIT_RESULT                                          39.7.55.243
SEQUENCE_PARSE     <1,33,164,1,132,132,158,160,164,32,93,32,93,32...
Name: 11216, dtype: object
ID                                                             44691
IP_SPLIT_RESULT                                      222.112.203.235
SEQUENCE_PARSE     <1,5,1,130,132,132,174,172,170,174,172,170,176...
Name: 11217, dtype: object
ID                                                             44692
IP_SPLIT_RESULT                                        223.62.172.98
SEQUENCE_PARSE     <1,132,93,132,93,93,93,130,130,1,90,92,93,93,9...
Name: 11218, dtype: object
ID                           44693
IP_SPLIT_RESULT    116.126.159.166
SEQUENCE_PARSE                 <1>
Name: 11219, dtype: object
ID                                                             44694
IP_SPLIT_RESULT                                         117.111.1.52
SEQUENCE_PARSE     <113,31,113,31,113,31,113,31,113,32,93,1,132,9...
Name: 11220, dtype: object
ID                                      44695
IP_SPLIT_RESULT                175.223.15.143
SEQUENCE_PARSE     <1,113,132,132,113,31,113>
Name: 11221, dtype: object
ID                         44696
IP_SPLIT_RESULT    125.180.63.83
SEQUENCE_PARSE               <1>
Name: 11222, dtype: object
ID                                  44697
IP_SPLIT_RESULT           165.194.252.230
SEQUENCE_PARSE     <31,113,31,113,31,113>
Name: 11223, dtype: object
ID                          44698
IP_SPLIT_RESULT    180.71.131.181
SEQUENCE_PARSE                <1>
Name: 11224, dtype: object
ID                                                             44699
IP_SPLIT_RESULT                                        223.62.172.98
SEQUENCE_PARSE     <87,89,191,191,130,132,132,132,132,132,93,93,9...
Name: 11225, dtype: object
ID                                                        44700
IP_SPLIT_RESULT                                     39.7.58.162
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,113,132,132,113>
Name: 11226, dtype: object
ID                                                             44701
IP_SPLIT_RESULT                                       121.155.28.102
SEQUENCE_PARSE     <1,132,93,132,93,93,1,113,113,113,113,1,63,132...
Name: 11227, dtype: object
ID                                                             44702
IP_SPLIT_RESULT                                        223.62.172.92
SEQUENCE_PARSE     <33,33,164,164,30,132,93,132,32,93,32,93,32,93...
Name: 11228, dtype: object
ID                          44703
IP_SPLIT_RESULT    220.67.153.165
SEQUENCE_PARSE     <31,113,1,132>
Name: 11229, dtype: object
ID                                                             44704
IP_SPLIT_RESULT                                       121.155.28.102
SEQUENCE_PARSE     <63,89,195,132,132,158,160,132,132,132,174,172...
Name: 11230, dtype: object
ID                          44705
IP_SPLIT_RESULT    121.191.17.115
SEQUENCE_PARSE                <1>
Name: 11231, dtype: object
ID                         44706
IP_SPLIT_RESULT    211.168.1.148
SEQUENCE_PARSE               <1>
Name: 11232, dtype: object
ID                           44707
IP_SPLIT_RESULT    106.102.128.113
SEQUENCE_PARSE                 <1>
Name: 11233, dtype: object
ID                          44708
IP_SPLIT_RESULT    210.126.48.136
SEQUENCE_PARSE        <39,63,164>
Name: 11234, dtype: object
ID                          44709
IP_SPLIT_RESULT    210.126.48.136
SEQUENCE_PARSE       <164,31,113>
Name: 11235, dtype: object
ID                                                             44710
IP_SPLIT_RESULT                                         124.49.98.40
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,1,132,93,132,132,...
Name: 11236, dtype: object
ID                           44711
IP_SPLIT_RESULT    182.162.206.111
SEQUENCE_PARSE                 <1>
Name: 11237, dtype: object
ID                         44712
IP_SPLIT_RESULT    115.21.109.27
SEQUENCE_PARSE               <1>
Name: 11238, dtype: object
ID                                                             44713
IP_SPLIT_RESULT                                      165.194.252.230
SEQUENCE_PARSE     <93,31,113,132,162,166,162,132,113,132,31,113,...
Name: 11239, dtype: object
ID                         44714
IP_SPLIT_RESULT    49.143.191.71
SEQUENCE_PARSE               <1>
Name: 11240, dtype: object
ID                        44715
IP_SPLIT_RESULT    1.231.118.58
SEQUENCE_PARSE              <1>
Name: 11241, dtype: object
ID                                                             44716
IP_SPLIT_RESULT                                      168.188.235.144
SEQUENCE_PARSE     <30,132,93,132,93,32,93,132,113,132,113,31,113...
Name: 11242, dtype: object
ID                                                             44717
IP_SPLIT_RESULT                                        223.38.18.143
SEQUENCE_PARSE     <8,132,132,113,132,113,31,113,31,113,113,31,11...
Name: 11243, dtype: object
ID                                                             44718
IP_SPLIT_RESULT                                        175.213.9.245
SEQUENCE_PARSE     <1,132,132,158,160,93,132,158,160,162,1,132,13...
Name: 11244, dtype: object
ID                                                             44719
IP_SPLIT_RESULT                                       175.223.17.177
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,90,87,89,80,26,1,130...
Name: 11245, dtype: object
ID                          44720
IP_SPLIT_RESULT    45.112.154.149
SEQUENCE_PARSE                <1>
Name: 11246, dtype: object
ID                                                             44721
IP_SPLIT_RESULT                                       223.62.219.183
SEQUENCE_PARSE     <33,132,93,132,93,132,132,93,132,93,132,93,30,...
Name: 11247, dtype: object
ID                                44722
IP_SPLIT_RESULT          223.62.219.183
SEQUENCE_PARSE     <164,1,93,1,93,1,93>
Name: 11248, dtype: object
ID                         44723
IP_SPLIT_RESULT    58.233.227.57
SEQUENCE_PARSE             <5,1>
Name: 11249, dtype: object
ID                         44724
IP_SPLIT_RESULT    218.157.64.32
SEQUENCE_PARSE            <1,90>
Name: 11250, dtype: object
ID                                                             44725
IP_SPLIT_RESULT                                        223.62.22.119
SEQUENCE_PARSE     <41,1,93,93,32,93,132,162,32,93,93,93,32,93,32...
Name: 11251, dtype: object
ID                                                             44726
IP_SPLIT_RESULT                                       175.223.44.180
SEQUENCE_PARSE     <30,113,132,132,31,113,113,31,113,113,113,113,...
Name: 11252, dtype: object
ID                          44727
IP_SPLIT_RESULT    175.223.17.177
SEQUENCE_PARSE               <92>
Name: 11253, dtype: object
ID                         44728
IP_SPLIT_RESULT    223.38.18.143
SEQUENCE_PARSE      <113,31,113>
Name: 11254, dtype: object
ID                                                             44729
IP_SPLIT_RESULT                                        223.62.22.119
SEQUENCE_PARSE     <176,132,32,93,32,93,32,93,32,93,93,93,32,93,9...
Name: 11255, dtype: object
ID                                                             44730
IP_SPLIT_RESULT                                       175.223.44.180
SEQUENCE_PARSE     <113,31,113,113,113,113,113,31,113,31,113,31,1...
Name: 11256, dtype: object
ID                                                             44731
IP_SPLIT_RESULT                                       115.22.220.218
SEQUENCE_PARSE     <1,5,1,90,92,87,89,80,29,212,132,113,132,1,5,1...
Name: 11257, dtype: object
ID                                                             44732
IP_SPLIT_RESULT                                        183.109.82.26
SEQUENCE_PARSE     <31,113,1,113,132,132,113,113,113,113,31,113,1...
Name: 11258, dtype: object
ID                                                 44733
IP_SPLIT_RESULT                           223.62.219.181
SEQUENCE_PARSE     <1,93,93,132,162,178,132,178,132,180>
Name: 11259, dtype: object
ID                         44734
IP_SPLIT_RESULT    1.218.236.182
SEQUENCE_PARSE               <1>
Name: 11260, dtype: object
ID                         44735
IP_SPLIT_RESULT    218.157.64.32
SEQUENCE_PARSE            <92,1>
Name: 11261, dtype: object
ID                                                             44736
IP_SPLIT_RESULT                                      168.188.235.144
SEQUENCE_PARSE     <93,212,93,14,93,30,132,93,132,132,132,113,132...
Name: 11262, dtype: object
ID                           44737
IP_SPLIT_RESULT    203.226.207.236
SEQUENCE_PARSE                 <1>
Name: 11263, dtype: object
ID                                                           44738
IP_SPLIT_RESULT                                      223.62.173.64
SEQUENCE_PARSE     <1,93,132,132,93,1,132,93,132,132,93,132,93,90>
Name: 11264, dtype: object
ID                                                      44739
IP_SPLIT_RESULT                                222.108.25.251
SEQUENCE_PARSE     <30,132,93,132,130,132,93,132,93,93,93,93>
Name: 11265, dtype: object
ID                           44740
IP_SPLIT_RESULT    211.225.183.251
SEQUENCE_PARSE         <1,5,1,5,1>
Name: 11266, dtype: object
ID                                                         44741
IP_SPLIT_RESULT                                    175.223.34.10
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,132,93,93,132,132>
Name: 11267, dtype: object
ID                                                             44742
IP_SPLIT_RESULT                                        175.223.26.14
SEQUENCE_PARSE     <33,164,164,164,164,164,33,164,130,164,164,1,1...
Name: 11268, dtype: object
ID                       44743
IP_SPLIT_RESULT    14.63.68.39
SEQUENCE_PARSE           <5,1>
Name: 11269, dtype: object
ID                             44744
IP_SPLIT_RESULT        58.140.211.61
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 11270, dtype: object
ID                                                      44745
IP_SPLIT_RESULT                                  124.49.98.40
SEQUENCE_PARSE     <132,93,132,1,132,93,132,132,93,132,93,93>
Name: 11271, dtype: object
ID                                                             44748
IP_SPLIT_RESULT                                        121.174.25.23
SEQUENCE_PARSE     <1,132,113,132,113,31,113,31,113,29,132,113,13...
Name: 11272, dtype: object
ID                         45113
IP_SPLIT_RESULT    211.252.64.35
SEQUENCE_PARSE        <93,93,93>
Name: 11273, dtype: object
ID                                                             45114
IP_SPLIT_RESULT                                       222.108.209.71
SEQUENCE_PARSE     <1,32,93,32,93,32,93,32,93,32,93,32,93,32,93,9...
Name: 11274, dtype: object
ID                          45633
IP_SPLIT_RESULT    223.39.140.136
SEQUENCE_PARSE        <32,93,132>
Name: 11275, dtype: object
ID                            45634
IP_SPLIT_RESULT       223.62.22.157
SEQUENCE_PARSE     <92,132,158,160>
Name: 11276, dtype: object
ID                              45635
IP_SPLIT_RESULT         175.114.67.55
SEQUENCE_PARSE     <92,132,93,132,93>
Name: 11277, dtype: object
ID                                                45636
IP_SPLIT_RESULT                          175.223.18.253
SEQUENCE_PARSE     <5,1,132,113,132,31,113,87,89,91,26>
Name: 11278, dtype: object
ID                        45637
IP_SPLIT_RESULT    117.111.28.9
SEQUENCE_PARSE         <39,164>
Name: 11279, dtype: object
ID                                                             45638
IP_SPLIT_RESULT                                        223.62.172.92
SEQUENCE_PARSE     <33,164,164,30,212,132,93,132,178,132,180,212,...
Name: 11280, dtype: object
ID                                                             45639
IP_SPLIT_RESULT                                      182.162.206.106
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 11281, dtype: object
ID                         45640
IP_SPLIT_RESULT    110.70.51.123
SEQUENCE_PARSE             <5,1>
Name: 11282, dtype: object
ID                         45641
IP_SPLIT_RESULT    223.39.131.82
SEQUENCE_PARSE               <1>
Name: 11283, dtype: object
ID                                                             45642
IP_SPLIT_RESULT                                        117.111.28.56
SEQUENCE_PARSE     <39,164,164,132,81,132,158,160,164,132,158,160...
Name: 11284, dtype: object
ID                                                          45643
IP_SPLIT_RESULT                                    223.39.145.254
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,1,33,164,164>
Name: 11285, dtype: object
ID                                                             45644
IP_SPLIT_RESULT                                         61.73.143.78
SEQUENCE_PARSE     <1,33,164,33,164,33,164,33,164,164,33,164,1,13...
Name: 11286, dtype: object
ID                                                             45645
IP_SPLIT_RESULT                                       39.117.138.178
SEQUENCE_PARSE     <1,132,93,132,93,1,132,132,113,132,31,113,113,...
Name: 11287, dtype: object
ID                                    45646
IP_SPLIT_RESULT              223.39.131.204
SEQUENCE_PARSE     <1,132,113,132,31,113,1>
Name: 11288, dtype: object
ID                                                             45647
IP_SPLIT_RESULT                                         61.73.143.78
SEQUENCE_PARSE     <162,93,132,164,132,132,178,158,42,132,160,33,...
Name: 11289, dtype: object
ID                           45648
IP_SPLIT_RESULT    175.197.220.181
SEQUENCE_PARSE      <1,132,93,132>
Name: 11290, dtype: object
ID                                                             45649
IP_SPLIT_RESULT                                        175.223.16.15
SEQUENCE_PARSE     <31,113,1,113,132,132,113,31,113,113,113,113,1...
Name: 11291, dtype: object
ID                         45650
IP_SPLIT_RESULT     59.6.191.122
SEQUENCE_PARSE     <31,113,1,90>
Name: 11292, dtype: object
ID                                                             45651
IP_SPLIT_RESULT                                        110.70.59.186
SEQUENCE_PARSE     <1,130,130,130,63,89,195,132,113,132,113,31,11...
Name: 11293, dtype: object
ID                                                             45652
IP_SPLIT_RESULT                                         223.38.10.88
SEQUENCE_PARSE     <93,93,33,164,1,132,93,132,1,32,93,32,93,93,32...
Name: 11294, dtype: object
ID                                                             45653
IP_SPLIT_RESULT                                       39.117.138.178
SEQUENCE_PARSE     <132,132,93,32,93,93,132,162,113,212,113,113,9...
Name: 11295, dtype: object
ID                                                             45654
IP_SPLIT_RESULT                                        175.223.16.15
SEQUENCE_PARSE     <31,31,31,113,31,113,113,132,93,132,132,113,13...
Name: 11296, dtype: object
ID                                             45655
IP_SPLIT_RESULT                       175.223.26.172
SEQUENCE_PARSE     <1,113,132,132,113,31,113,29,113>
Name: 11297, dtype: object
ID                                                             45656
IP_SPLIT_RESULT                                       223.62.216.198
SEQUENCE_PARSE     <30,132,93,132,32,93,32,93,93,132,93,1,132,93,...
Name: 11298, dtype: object
ID                                45657
IP_SPLIT_RESULT           211.218.62.90
SEQUENCE_PARSE     <1,93,132,132,93,93>
Name: 11299, dtype: object
ID                                                             45658
IP_SPLIT_RESULT                                       223.62.216.198
SEQUENCE_PARSE     <32,93,1,93,32,93,132,93,32,93,32,93,93,32,93,...
Name: 11300, dtype: object
ID                                                             45659
IP_SPLIT_RESULT                                        112.153.49.40
SEQUENCE_PARSE     <39,164,130,130,1,132,93,132,93,1,132,132,132,...
Name: 11301, dtype: object
ID                         45660
IP_SPLIT_RESULT    110.70.26.177
SEQUENCE_PARSE      <29,132,113>
Name: 11302, dtype: object
ID                                          45661
IP_SPLIT_RESULT                      223.38.8.218
SEQUENCE_PARSE     <1,132,113,32,93,32,93,113,14>
Name: 11303, dtype: object
ID                                                             45662
IP_SPLIT_RESULT                                        211.48.46.143
SEQUENCE_PARSE     <31,113,132,63,113,132,162,132,162,132,166,63,...
Name: 11304, dtype: object
ID                                                             45663
IP_SPLIT_RESULT                                         223.38.8.218
SEQUENCE_PARSE     <113,113,14,113,14,113,113,14,113,132,93,132,9...
Name: 11305, dtype: object
ID                                                             45664
IP_SPLIT_RESULT                                      114.202.116.162
SEQUENCE_PARSE     <31,113,31,113,31,113,31,113,31,113,31,113,31,...
Name: 11306, dtype: object
ID                                                             45665
IP_SPLIT_RESULT                                       223.62.216.190
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,90,92,87,89,33,16...
Name: 11307, dtype: object
ID                               45666
IP_SPLIT_RESULT        220.230.184.125
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1>
Name: 11308, dtype: object
ID                                                             45667
IP_SPLIT_RESULT                                       125.184.19.105
SEQUENCE_PARSE     <1,90,80,30,212,93,132,132,93,32,93,32,93,32,9...
Name: 11309, dtype: object
ID                           45668
IP_SPLIT_RESULT    106.255.169.176

ID                          45847
IP_SPLIT_RESULT    173.252.91.248
SEQUENCE_PARSE              <5,1>
Name: 11487, dtype: object
ID                         45848
IP_SPLIT_RESULT    66.220.156.56
SEQUENCE_PARSE               <1>
Name: 11488, dtype: object
ID                                                             45849
IP_SPLIT_RESULT                                           39.7.59.45
SEQUENCE_PARSE     <1,63,89,195,93,93,212,93,14,93,93,212,14,93,9...
Name: 11489, dtype: object
ID                                                   45850
IP_SPLIT_RESULT                              117.111.25.92
SEQUENCE_PARSE     <1,113,132,132,113,113,31,113,31,113,1>
Name: 11490, dtype: object
ID                                                           45851
IP_SPLIT_RESULT                                      117.111.15.85
SEQUENCE_PARSE     <162,132,93,132,93,93,32,93,32,93,32,93,162,93>
Name: 11491, dtype: object
ID                         45852
IP_SPLIT_RESULT    66.220.151.89
SEQUENCE_PARSE               <1>
Name: 11492, dtype: object
ID                          45853
IP_SPLIT_RESULT    66.220.151.211
SEQUENCE_PARSE                <1>
Name: 11493, dtype: object
ID                         45854
IP_SPLIT_RESULT    69.171.225.51
SEQUENCE_PARSE               <1>
Name: 11494, dtype: object
ID                         45855
IP_SPLIT_RESULT    69.171.225.32
SEQUENCE_PARSE         <1,5,1,5>
Name: 11495, dtype: object
ID                         45856
IP_SPLIT_RESULT    69.171.225.50
SEQUENCE_PARSE               <1>
Name: 11496, dtype: object
ID                          45857
IP_SPLIT_RESULT    173.252.88.250
SEQUENCE_PARSE              <5,1>
Name: 11497, dtype: object
ID                           45858
IP_SPLIT_RESULT    211.186.124.162
SEQUENCE_PARSE                 <1>
Name: 11498, dtype: object
ID                                                             45859
IP_SPLIT_RESULT                                       175.223.17.171
SEQUENCE_PARSE     <29,132,113,132,113,113,113,113,113,29,113,113...
Name: 11499, dtype: object
ID                                   45860
IP_SPLIT_RESULT             175.223.17.171
SEQUENCE_PARSE     <113,113,132,113,132,1>
Name: 11500, dtype: object
ID                          45861
IP_SPLIT_RESULT    182.229.177.32
SEQUENCE_PARSE                <1>
Name: 11501, dtype: object
ID                          45862
IP_SPLIT_RESULT    216.218.206.68
SEQUENCE_PARSE                <1>
Name: 11502, dtype: object
ID                          45863
IP_SPLIT_RESULT    66.220.152.173
SEQUENCE_PARSE                <1>
Name: 11503, dtype: object
ID                           45864
IP_SPLIT_RESULT    173.252.105.112
SEQUENCE_PARSE                 <1>
Name: 11504, dtype: object
ID                         45865
IP_SPLIT_RESULT    69.63.185.121
SEQUENCE_PARSE               <1>
Name: 11505, dtype: object
ID                         45866
IP_SPLIT_RESULT    54.175.160.76
SEQUENCE_PARSE               <1>
Name: 11506, dtype: object
ID                         45867
IP_SPLIT_RESULT    223.39.149.39
SEQUENCE_PARSE               <1>
Name: 11507, dtype: object
ID                           45868
IP_SPLIT_RESULT    167.114.243.147
SEQUENCE_PARSE                 <1>
Name: 11508, dtype: object
ID                          45869
IP_SPLIT_RESULT    211.221.21.160
SEQUENCE_PARSE           <31,113>
Name: 11509, dtype: object
ID                                                             45870
IP_SPLIT_RESULT                                         61.78.69.114
SEQUENCE_PARSE     <29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,...
Name: 11510, dtype: object
ID                          45871
IP_SPLIT_RESULT    66.220.151.181
SEQUENCE_PARSE                <1>
Name: 11511, dtype: object
ID                          45872
IP_SPLIT_RESULT    66.220.151.177
SEQUENCE_PARSE                <1>
Name: 11512, dtype: object
ID                        45873
IP_SPLIT_RESULT    86.49.19.200
SEQUENCE_PARSE              <1>
Name: 11513, dtype: object
ID                                                  45874
IP_SPLIT_RESULT                            223.33.184.197
SEQUENCE_PARSE     <31,132,162,166,162,132,132,113,113,1>
Name: 11514, dtype: object
ID                          45875
IP_SPLIT_RESULT    223.33.184.197
SEQUENCE_PARSE              <113>
Name: 11515, dtype: object
ID                                         45876
IP_SPLIT_RESULT                    219.252.48.67
SEQUENCE_PARSE     <1,90,92,87,27,25,1,90,92,87>
Name: 11516, dtype: object
ID                                                             45877
IP_SPLIT_RESULT                                        59.20.220.171
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 11517, dtype: object
ID                                                             45878
IP_SPLIT_RESULT                                       175.223.14.196
SEQUENCE_PARSE     <1,132,93,132,93,93,130,130,130,130,1,130,130,...
Name: 11518, dtype: object
ID                         45879
IP_SPLIT_RESULT    175.223.18.29
SEQUENCE_PARSE              <25>
Name: 11519, dtype: object
ID                         45880
IP_SPLIT_RESULT    39.121.33.219
SEQUENCE_PARSE               <1>
Name: 11520, dtype: object
ID                                                             45881
IP_SPLIT_RESULT                                       175.223.34.195
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,31,113,31,113,3...
Name: 11521, dtype: object
ID                       45882
IP_SPLIT_RESULT    1.243.60.74
SEQUENCE_PARSE             <1>
Name: 11522, dtype: object
ID                       45883
IP_SPLIT_RESULT    77.75.77.11
SEQUENCE_PARSE             <1>
Name: 11523, dtype: object
ID                                         45884
IP_SPLIT_RESULT                     223.62.8.131
SEQUENCE_PARSE     <1,180,42,178,132,180,31,113>
Name: 11524, dtype: object
ID                           45885
IP_SPLIT_RESULT    210.105.167.184
SEQUENCE_PARSE            <31,113>
Name: 11525, dtype: object
ID                         45886
IP_SPLIT_RESULT    69.171.225.13
SEQUENCE_PARSE               <1>
Name: 11526, dtype: object
ID                          45887
IP_SPLIT_RESULT    175.223.34.195
SEQUENCE_PARSE        <93,33,164>
Name: 11527, dtype: object
ID                           45888
IP_SPLIT_RESULT    182.211.159.119
SEQUENCE_PARSE                 <1>
Name: 11528, dtype: object
ID                          45889
IP_SPLIT_RESULT    125.184.211.16
SEQUENCE_PARSE                <1>
Name: 11529, dtype: object
ID                           45890
IP_SPLIT_RESULT    121.138.118.185
SEQUENCE_PARSE                 <1>
Name: 11530, dtype: object
ID                          45891
IP_SPLIT_RESULT    211.36.158.120
SEQUENCE_PARSE                <1>
Name: 11531, dtype: object
ID                                                             45892
IP_SPLIT_RESULT                                         223.62.21.23
SEQUENCE_PARSE     <1,132,113,132,113,113,113,113,31,1,132,113,13...
Name: 11532, dtype: object
ID                                                             45893
IP_SPLIT_RESULT                                          223.62.10.2
SEQUENCE_PARSE     <1,93,132,132,93,93,132,113,132,113,31,113,113...
Name: 11533, dtype: object
ID                                                             45894
IP_SPLIT_RESULT                                        112.153.49.40
SEQUENCE_PARSE     <164,132,93,132,132,132,93,132,93,132,93,93,93...
Name: 11534, dtype: object
ID                      45895
IP_SPLIT_RESULT    39.7.55.74
SEQUENCE_PARSE            <1>
Name: 11535, dtype: object
ID                                 45896
IP_SPLIT_RESULT           175.223.14.196
SEQUENCE_PARSE     <93,1,90,92,27,90,92>
Name: 11536, dtype: object
ID                           45897
IP_SPLIT_RESULT    211.117.116.194
SEQUENCE_PARSE                 <1>
Name: 11537, dtype: object
ID                                                             45898
IP_SPLIT_RESULT                                       210.178.60.111
SEQUENCE_PARSE     <29,132,113,132,113,113,29,132,113,132,113,113...
Name: 11538, dtype: object
ID                                                             45899
IP_SPLIT_RESULT                                          223.62.10.2
SEQUENCE_PARSE     <113,113,113,1,90,92,1,113,132,132,113,130,132...
Name: 11539, dtype: object
ID                                                             45900
IP_SPLIT_RESULT                                         223.62.21.23
SEQUENCE_PARSE     <113,132,162,93,113,132,162,166,162,132,132,15...
Name: 11540, dtype: object
ID                            45901
IP_SPLIT_RESULT       182.31.30.226
SEQUENCE_PARSE     <39,164,130,164>
Name: 11541, dtype: object
ID                                              45902
IP_SPLIT_RESULT                        117.111.12.116
SEQUENCE_PARSE     <1,29,132,113,132,113,113,113,113>
Name: 11542, dtype: object
ID                                                             45903
IP_SPLIT_RESULT                                       117.111.11.210
SEQUENCE_PARSE     <1,63,132,113,132,113,113,31,113,113,113,31,11...
Name: 11543, dtype: object
ID                                             45904
IP_SPLIT_RESULT                         1.243.101.27
SEQUENCE_PARSE     <33,164,164,41,32,93,32,93,32,93>
Name: 11544, dtype: object
ID                         45905
IP_SPLIT_RESULT    218.53.56.150
SEQUENCE_PARSE            <1,90>
Name: 11545, dtype: object
ID                         45906
IP_SPLIT_RESULT    182.31.30.226
SEQUENCE_PARSE          <39,164>
Name: 11546, dtype: object
ID                         45907
IP_SPLIT_RESULT    112.161.91.73
SEQUENCE_PARSE               <1>
Name: 11547, dtype: object
ID                                                             45908
IP_SPLIT_RESULT                                       223.62.173.246
SEQUENCE_PARSE     <1,132,113,132,113,90,92,87,89,80,29,212,132,1...
Name: 11548, dtype: object
ID                                           45909
IP_SPLIT_RESULT                      175.223.23.16
SEQUENCE_PARSE     <1,93,132,132,93,90,132,93,132>
Name: 11549, dtype: object
ID                        45910
IP_SPLIT_RESULT    61.39.147.44
SEQUENCE_PARSE            <5,1>
Name: 11550, dtype: object
ID                        45911
IP_SPLIT_RESULT    223.56.8.241
SEQUENCE_PARSE              <1>
Name: 11551, dtype: object
ID                          45912
IP_SPLIT_RESULT    173.252.84.112
SEQUENCE_PARSE                <1>
Name: 11552, dtype: object
ID                          45913
IP_SPLIT_RESULT    182.212.20.221
SEQUENCE_PARSE                <1>
Name: 11553, dtype: object
ID                       45914
IP_SPLIT_RESULT    14.63.38.70
SEQUENCE_PARSE             <1>
Name: 11554, dtype: object
ID                        45915
IP_SPLIT_RESULT    1.251.114.62
SEQUENCE_PARSE              <1>
Name: 11555, dtype: object
ID                          45916
IP_SPLIT_RESULT    66.220.152.169
SEQUENCE_PARSE                <1>
Name: 11556, dtype: object
ID                          45917
IP_SPLIT_RESULT    66.220.152.135
SEQUENCE_PARSE                <1>
Name: 11557, dtype: object
ID                          45918
IP_SPLIT_RESULT    180.224.115.95
SEQUENCE_PARSE                <1>
Name: 11558, dtype: object
ID                                           45919
IP_SPLIT_RESULT                      175.223.23.16
SEQUENCE_PARSE     <92,93,132,132,1,93,132,132,93>
Name: 11559, dtype: object
ID                          45920
IP_SPLIT_RESULT    175.200.193.47
SEQUENCE_PARSE                <1>
Name: 11560, dtype: object
ID                                                             45921
IP_SPLIT_RESULT                                       121.128.211.15
SEQUENCE_PARSE     <31,113,31,113,1,132,113,132,113,113,31,113,11...
Name: 11561, dtype: object
ID                         45922
IP_SPLIT_RESULT    117.111.25.92
SEQUENCE_PARSE               <1>
Name: 11562, dtype: object
ID                                  45923
IP_SPLIT_RESULT            115.161.187.74
SEQUENCE_PARSE     <1,90,132,93,132,90,1>
Name: 11563, dtype: object
ID                                                             45924
IP_SPLIT_RESULT                                       117.111.11.210
SEQUENCE_PARSE     <113,113,31,113,113,132,113,132,132,93,132,93,...
Name: 11564, dtype: object
ID                         45925
IP_SPLIT_RESULT    39.112.194.14
SEQUENCE_PARSE               <1>
Name: 11565, dtype: object
ID                         45926
IP_SPLIT_RESULT    61.105.162.95
SEQUENCE_PARSE               <1>
Name: 11566, dtype: object
ID                          45927
IP_SPLIT_RESULT    66.220.152.177
SEQUENCE_PARSE                <1>
Name: 11567, dtype: object
ID                          45928
IP_SPLIT_RESULT    66.220.152.132
SEQUENCE_PARSE                <1>
Name: 11568, dtype: object
ID                       45929
IP_SPLIT_RESULT    27.1.226.98
SEQUENCE_PARSE           <5,1>
Name: 11569, dtype: object
ID                                                             45930
IP_SPLIT_RESULT                                       223.62.173.246
SEQUENCE_PARSE     <113,1,132,31,113,113,113,113,31,113,113,113,1...
Name: 11570, dtype: object
ID                             45931
IP_SPLIT_RESULT        117.111.17.33
SEQUENCE_PARSE     <1,176,132,132,1>
Name: 11571, dtype: object
ID                         45932
IP_SPLIT_RESULT      27.1.226.98
SEQUENCE_PARSE     <5,1,5,1,5,1>
Name: 11572, dtype: object
ID                                                             45933
IP_SPLIT_RESULT                                        175.223.30.12
SEQUENCE_PARSE     <1,93,132,132,90,92,87,89,212,1,132,132,132,11...
Name: 11573, dtype: object
ID                         45934
IP_SPLIT_RESULT    1.232.165.100
SEQUENCE_PARSE               <1>
Name: 11574, dtype: object
ID                                                45935
IP_SPLIT_RESULT                         211.193.190.155
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,93,93,1>
Name: 11575, dtype: object
ID                                                    45936
IP_SPLIT_RESULT                              223.62.172.112
SEQUENCE_PARSE     <1,93,132,132,93,33,164,164,113,132,162>
Name: 11576, dtype: object
ID                           45937
IP_SPLIT_RESULT    116.124.158.189
SEQUENCE_PARSE                 <1>
Name: 11577, dtype: object
ID                                           45938
IP_SPLIT_RESULT                      117.111.17.33
SEQUENCE_PARSE     <1,132,174,172,170,174,172,170>
Name: 11578, dtype: object
ID                                                             45939
IP_SPLIT_RESULT                                         1.235.29.117
SEQUENCE_PARSE     <1,90,89,80,29,212,132,113,132,132,212,113,132...
Name: 11579, dtype: object
ID                         45940
IP_SPLIT_RESULT    223.62.21.249
SEQUENCE_PARSE         <1,90,92>
Name: 11580, dtype: object
ID                           45941
IP_SPLIT_RESULT    222.112.146.227
SEQUENCE_PARSE               <5,1>
Name: 11581, dtype: object
ID                        45942
IP_SPLIT_RESULT    115.136.49.6
SEQUENCE_PARSE              <1>
Name: 11582, dtype: object
ID                         45943
IP_SPLIT_RESULT    119.64.228.60
SEQUENCE_PARSE             <5,1>
Name: 11583, dtype: object
ID                         45944
IP_SPLIT_RESULT    157.55.39.139
SEQUENCE_PARSE               <1>
Name: 11584, dtype: object
ID                          45945
IP_SPLIT_RESULT    211.36.159.152
SEQUENCE_PARSE          <1,90,92>
Name: 11585, dtype: object
ID                          45946
IP_SPLIT_RESULT    112.158.51.206
SEQUENCE_PARSE     <1,132,93,132>
Name: 11586, dtype: object
ID                                                             45947
IP_SPLIT_RESULT                                         1.235.29.117
SEQUENCE_PARSE     <92,87,113,31,113,113,113,25,90,132,93,132,93,...
Name: 11587, dtype: object
ID                        45948
IP_SPLIT_RESULT    180.66.76.15
SEQUENCE_PARSE     <1,90,87,25>
Name: 11588, dtype: object
ID                                                             45949
IP_SPLIT_RESULT                                       223.33.165.230
SEQUENCE_PARSE     <32,32,32,93,33,164,1,130,132,81,132,132,81,13...
Name: 11589, dtype: object
ID                           45950
IP_SPLIT_RESULT    114.206.122.236
SEQUENCE_PARSE                 <1>
Name: 11590, dtype: object
ID                          45951
IP_SPLIT_RESULT    211.36.159.152
SEQUENCE_PARSE               <92>
Name: 11591, dtype: object
ID                        45952
IP_SPLIT_RESULT    180.66.76.15
SEQUENCE_PARSE             <92>
Name: 11592, dtype: object
ID                                                             45953
IP_SPLIT_RESULT                                        175.223.30.12
SEQUENCE_PARSE     <80,30,132,93,132,93,93,93,23,90,132,93,132,93...
Name: 11593, dtype: object
ID                                                             45954
IP_SPLIT_RESULT                                        125.185.26.61
SEQUENCE_PARSE     <176,132,174,172,170,132,130,132,132,113,113,1...
Name: 11594, dtype: object
ID                                                             45955
IP_SPLIT_RESULT                                        210.219.128.3
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,93...
Name: 11595, dtype: object
ID                                                             45956
IP_SPLIT_RESULT                                      124.197.207.162
SEQUENCE_PARSE     <31,113,1,63,195,113,113,113,31,31,1,113,132,1...
Name: 11596, dtype: object
ID                          45957
IP_SPLIT_RESULT    182.215.142.81
SEQUENCE_PARSE                <1>
Name: 11597, dtype: object
ID                                                             45958
IP_SPLIT_RESULT                                       124.49.210.202
SEQUENCE_PARSE     <31,113,132,113,132,113,31,113,31,113,31,113,1...
Name: 11598, dtype: object
ID                        45959
IP_SPLIT_RESULT    168.126.8.16
SEQUENCE_PARSE         <31,113>
Name: 11599, dtype: object
ID                          45960
IP_SPLIT_RESULT    121.130.52.149
SEQUENCE_PARSE           <31,113>
Name: 11600, dtype: object
ID                       45961
IP_SPLIT_RESULT    59.5.94.130
SEQUENCE_PARSE          <1,90>
Name: 11601, dtype: object
ID                                                             45962
IP_SPLIT_RESULT                                        61.98.214.252
SEQUENCE_PARSE     <39,164,164,132,132,93,132,132,113,132,113,31,...
Name: 11602, dtype: object
ID                         45963
IP_SPLIT_RESULT    175.112.0.138
SEQUENCE_PARSE               <1>
Name: 11603, dtype: object
ID                       45964
IP_SPLIT_RESULT    59.5.94.130
SEQUENCE_PARSE            <92>
Name: 11604, dtype: object
ID                                              45965
IP_SPLIT_RESULT                         61.98.214.252
SEQUENCE_PARSE     <113,31,113,31,113,113,31,113,113>
Name: 11605, dtype: object
ID                           45966
IP_SPLIT_RESULT    121.148.211.245
SEQUENCE_PARSE                 <1>
Name: 11606, dtype: object
ID                                                             45967
IP_SPLIT_RESULT                                       124.49.210.202
SEQUENCE_PARSE     <113,113,31,31,113,31,113,132,113,132,113,31,1...
Name: 11607, dtype: object
ID                         45968
IP_SPLIT_RESULT    121.136.19.13
SEQUENCE_PARSE               <1>
Name: 11608, dtype: object
ID                          45969
IP_SPLIT_RESULT    125.209.212.22
SEQUENCE_PARSE            <1,5,1>
Name: 11609, dtype: object
ID                                                             45970
IP_SPLIT_RESULT                                        49.172.166.43
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93,93,93,13...
Name: 11610, dtype: object
ID                        45971
IP_SPLIT_RESULT    14.37.123.23
SEQUENCE_PARSE              <1>
Name: 11611, dtype: object
ID                                                             45972

ID                         46124
IP_SPLIT_RESULT    58.122.106.40
SEQUENCE_PARSE               <1>
Name: 11764, dtype: object
ID                         46125
IP_SPLIT_RESULT    222.97.227.91
SEQUENCE_PARSE               <1>
Name: 11765, dtype: object
ID                                                            46126
IP_SPLIT_RESULT                                      114.199.55.220
SEQUENCE_PARSE     <1,90,92,80,30,212,132,93,132,93,93,93,93,93,93>
Name: 11766, dtype: object
ID                                           46127
IP_SPLIT_RESULT                     175.223.20.173
SEQUENCE_PARSE     <29,132,113,132,113,113,29,113>
Name: 11767, dtype: object
ID                                                             46128
IP_SPLIT_RESULT                                       223.62.169.253
SEQUENCE_PARSE     <92,1,93,132,132,93,93,93,132,132,93,132,93,13...
Name: 11768, dtype: object
ID                         46129
IP_SPLIT_RESULT    124.51.248.95
SEQUENCE_PARSE               <1>
Name: 11769, dtype: object
ID                           46130
IP_SPLIT_RESULT     175.223.30.171
SEQUENCE_PARSE     <93,132,132,87>
Name: 11770, dtype: object
ID                          46131
IP_SPLIT_RESULT    125.190.54.161
SEQUENCE_PARSE                <1>
Name: 11771, dtype: object
ID                          46132
IP_SPLIT_RESULT    211.229.94.130
SEQUENCE_PARSE                <1>
Name: 11772, dtype: object
ID                         46133
IP_SPLIT_RESULT    106.248.197.3
SEQUENCE_PARSE               <1>
Name: 11773, dtype: object
ID                        46134
IP_SPLIT_RESULT    117.111.5.86
SEQUENCE_PARSE              <1>
Name: 11774, dtype: object
ID                             46135
IP_SPLIT_RESULT        223.62.162.67
SEQUENCE_PARSE     <1,90,92,87,89,1>
Name: 11775, dtype: object
ID                                            46136
IP_SPLIT_RESULT                       223.62.162.67
SEQUENCE_PARSE     <92,80,29,212,132,113,132,132,1>
Name: 11776, dtype: object
ID                         46137
IP_SPLIT_RESULT    223.62.219.71
SEQUENCE_PARSE               <1>
Name: 11777, dtype: object
ID                         46138
IP_SPLIT_RESULT    157.55.39.182
SEQUENCE_PARSE     <1,5,1,5,1,5>
Name: 11778, dtype: object
ID                          46139
IP_SPLIT_RESULT    182.161.224.69
SEQUENCE_PARSE                <1>
Name: 11779, dtype: object
ID                          46140
IP_SPLIT_RESULT    122.42.238.134
SEQUENCE_PARSE                <1>
Name: 11780, dtype: object
ID                          46141
IP_SPLIT_RESULT    180.66.233.161
SEQUENCE_PARSE                <1>
Name: 11781, dtype: object
ID                         46142
IP_SPLIT_RESULT    173.252.95.30
SEQUENCE_PARSE               <1>
Name: 11782, dtype: object
ID                                                             46143
IP_SPLIT_RESULT                                       223.62.169.253
SEQUENCE_PARSE     <87,81,212,132,158,160,132,113,132,113,113,212...
Name: 11783, dtype: object
ID                           46144
IP_SPLIT_RESULT    114.201.236.210
SEQUENCE_PARSE                 <1>
Name: 11784, dtype: object
ID                                                             46145
IP_SPLIT_RESULT                                       223.62.204.118
SEQUENCE_PARSE     <1,132,132,113,31,1,130,132,113,132,132,158,16...
Name: 11785, dtype: object
ID                                                            46146
IP_SPLIT_RESULT                                      118.218.174.99
SEQUENCE_PARSE     <1,93,132,132,93,93,87,89,93,32,93,164,33,164,1>
Name: 11786, dtype: object
ID                                    46147
IP_SPLIT_RESULT                110.70.59.86
SEQUENCE_PARSE     <1,93,93,93,93,93,90,92>
Name: 11787, dtype: object
ID                            46148
IP_SPLIT_RESULT       218.39.97.138
SEQUENCE_PARSE     <32,93,32,32,93>
Name: 11788, dtype: object
ID                                                             46149
IP_SPLIT_RESULT                                       118.218.174.99
SEQUENCE_PARSE     <90,92,80,30,212,132,93,132,93,32,93,32,93,32,...
Name: 11789, dtype: object
ID                           46150
IP_SPLIT_RESULT    121.135.126.223
SEQUENCE_PARSE                 <1>
Name: 11790, dtype: object
ID                                    46151
IP_SPLIT_RESULT              218.148.206.85
SEQUENCE_PARSE     <29,132,113,132,113,113>
Name: 11791, dtype: object
ID                                                             46152
IP_SPLIT_RESULT                                       211.36.144.138
SEQUENCE_PARSE     <1,132,132,113,132,31,113,29,31,113,31,113,113...
Name: 11792, dtype: object
ID                             46153
IP_SPLIT_RESULT        124.56.208.76
SEQUENCE_PARSE     <1,30,132,5,93,1>
Name: 11793, dtype: object
ID                          46154
IP_SPLIT_RESULT    117.111.28.216
SEQUENCE_PARSE              <5,1>
Name: 11794, dtype: object
ID                          46155
IP_SPLIT_RESULT    211.212.67.162
SEQUENCE_PARSE                <1>
Name: 11795, dtype: object
ID                           46156
IP_SPLIT_RESULT       39.115.50.16
SEQUENCE_PARSE     <1,32,93,32,93>
Name: 11796, dtype: object
ID                                                             46157
IP_SPLIT_RESULT                                        115.21.139.60
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,1,93,93,93,93,...
Name: 11797, dtype: object
ID                                                             46158
IP_SPLIT_RESULT                                       223.62.188.203
SEQUENCE_PARSE     <93,132,132,93,93,32,93,32,93,93,32,93,93,93,9...
Name: 11798, dtype: object
ID                        46159
IP_SPLIT_RESULT    124.49.65.27
SEQUENCE_PARSE          <1,5,1>
Name: 11799, dtype: object
ID                        46160
IP_SPLIT_RESULT    223.62.219.4
SEQUENCE_PARSE           <1,90>
Name: 11800, dtype: object
ID                                    46161
IP_SPLIT_RESULT                223.62.21.19
SEQUENCE_PARSE     <1,132,93,132,93,33,164>
Name: 11801, dtype: object
ID                                                             46162
IP_SPLIT_RESULT                                        115.21.139.60
SEQUENCE_PARSE     <132,132,93,93,93,90,1,132,93,132,93,93,132,93...
Name: 11802, dtype: object
ID                                                             46163
IP_SPLIT_RESULT                                       223.62.188.203
SEQUENCE_PARSE     <93,132,162,162,113,113,212,14,113,113,132,93,...
Name: 11803, dtype: object
ID                          46164
IP_SPLIT_RESULT    222.121.210.18
SEQUENCE_PARSE                <1>
Name: 11804, dtype: object
ID                           46165
IP_SPLIT_RESULT    123.254.174.136
SEQUENCE_PARSE             <1,5,1>
Name: 11805, dtype: object
ID                         46166
IP_SPLIT_RESULT    122.34.177.47
SEQUENCE_PARSE               <1>
Name: 11806, dtype: object
ID                           46167
IP_SPLIT_RESULT    121.181.172.210
SEQUENCE_PARSE                 <1>
Name: 11807, dtype: object
ID                          46168
IP_SPLIT_RESULT    121.185.36.246
SEQUENCE_PARSE                <1>
Name: 11808, dtype: object
ID                         46169
IP_SPLIT_RESULT    203.132.171.3
SEQUENCE_PARSE      <1,93,93,93>
Name: 11809, dtype: object
ID                         46170
IP_SPLIT_RESULT    61.98.205.141
SEQUENCE_PARSE               <1>
Name: 11810, dtype: object
ID                         46171
IP_SPLIT_RESULT    218.144.195.7
SEQUENCE_PARSE          <31,113>
Name: 11811, dtype: object
ID                                             46172
IP_SPLIT_RESULT                       222.118.155.73
SEQUENCE_PARSE     <30,132,93,132,93,93,93,93,93,93>
Name: 11812, dtype: object
ID                         46173
IP_SPLIT_RESULT    66.249.79.146
SEQUENCE_PARSE               <1>
Name: 11813, dtype: object
ID                                                             46174
IP_SPLIT_RESULT                                          14.40.96.45
SEQUENCE_PARSE     <1,90,87,89,91,26,132,93,132,93,25,27,25,25,25...
Name: 11814, dtype: object
ID                                                             46175
IP_SPLIT_RESULT                                         66.102.6.143
SEQUENCE_PARSE     <5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,5...
Name: 11815, dtype: object
ID                                46176
IP_SPLIT_RESULT           124.54.191.69
SEQUENCE_PARSE     <1,132,93,132,93,93>
Name: 11816, dtype: object
ID                         46177
IP_SPLIT_RESULT    182.230.19.70
SEQUENCE_PARSE               <1>
Name: 11817, dtype: object
ID                         46178
IP_SPLIT_RESULT    115.137.121.3
SEQUENCE_PARSE               <1>
Name: 11818, dtype: object
ID                       46179
IP_SPLIT_RESULT    14.40.96.45
SEQUENCE_PARSE            <92>
Name: 11819, dtype: object
ID                          46180
IP_SPLIT_RESULT    66.220.151.208
SEQUENCE_PARSE                <1>
Name: 11820, dtype: object
ID                                    46181
IP_SPLIT_RESULT              223.62.162.111
SEQUENCE_PARSE     <39,164,1,130,130,130,1>
Name: 11821, dtype: object
ID                                                             46182
IP_SPLIT_RESULT                                        222.232.154.2
SEQUENCE_PARSE     <132,93,93,132,93,93,32,93,32,93,32,93,32,93,1...
Name: 11822, dtype: object
ID                                                             46183
IP_SPLIT_RESULT                                       218.38.190.187
SEQUENCE_PARSE     <1,132,113,132,1,132,81,1,132,81,1,132,81,1,13...
Name: 11823, dtype: object
ID                           46184
IP_SPLIT_RESULT    175.193.146.155
SEQUENCE_PARSE                 <1>
Name: 11824, dtype: object
ID                          46185
IP_SPLIT_RESULT    211.186.114.31
SEQUENCE_PARSE                <1>
Name: 11825, dtype: object
ID                          46186
IP_SPLIT_RESULT    175.197.18.234
SEQUENCE_PARSE            <1,5,1>
Name: 11826, dtype: object
ID                                                             46187
IP_SPLIT_RESULT                                        222.232.154.2
SEQUENCE_PARSE     <93,93,93,32,93,132,132,93,93,93,93,32,93,32,9...
Name: 11827, dtype: object
ID                                                             46188
IP_SPLIT_RESULT                                       175.223.10.192
SEQUENCE_PARSE     <1,90,92,89,93,93,32,93,93,32,93,32,93,93,93,9...
Name: 11828, dtype: object
ID                         46189
IP_SPLIT_RESULT    14.52.228.211
SEQUENCE_PARSE               <1>
Name: 11829, dtype: object
ID                         46190
IP_SPLIT_RESULT    58.125.169.84
SEQUENCE_PARSE               <1>
Name: 11830, dtype: object
ID                           46191
IP_SPLIT_RESULT      117.16.236.96
SEQUENCE_PARSE     <39,164,63,164>
Name: 11831, dtype: object
ID                     46192
IP_SPLIT_RESULT    1.11.0.95
SEQUENCE_PARSE         <5,1>
Name: 11832, dtype: object
ID                         46193
IP_SPLIT_RESULT    122.45.174.60
SEQUENCE_PARSE           <25,90>
Name: 11833, dtype: object
ID                                     46194
IP_SPLIT_RESULT                219.249.41.18
SEQUENCE_PARSE     <1,132,93,132,93,132,132>
Name: 11834, dtype: object
ID                                                             46195
IP_SPLIT_RESULT                                        117.16.236.96
SEQUENCE_PARSE     <164,132,93,132,93,92,93,212,14,93,93,39,164,6...
Name: 11835, dtype: object
ID                          46196
IP_SPLIT_RESULT    223.62.190.108
SEQUENCE_PARSE                <1>
Name: 11836, dtype: object
ID                          46197
IP_SPLIT_RESULT    223.62.215.253
SEQUENCE_PARSE                <1>
Name: 11837, dtype: object
ID                           46198
IP_SPLIT_RESULT    125.133.249.116
SEQUENCE_PARSE             <1,5,1>
Name: 11838, dtype: object
ID                           46199
IP_SPLIT_RESULT    218.145.180.216
SEQUENCE_PARSE                 <5>
Name: 11839, dtype: object
ID                         46200
IP_SPLIT_RESULT    118.218.50.30
SEQUENCE_PARSE               <1>
Name: 11840, dtype: object
ID                             46201
IP_SPLIT_RESULT        223.38.11.143
SEQUENCE_PARSE     <1,31,113,31,113>
Name: 11841, dtype: object
ID                         46202
IP_SPLIT_RESULT    219.249.41.18
SEQUENCE_PARSE        <93,93,93>
Name: 11842, dtype: object
ID                                        46203
IP_SPLIT_RESULT                    110.70.54.74
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,1>
Name: 11843, dtype: object
ID                                                             46204
IP_SPLIT_RESULT                                       223.62.188.115
SEQUENCE_PARSE     <32,32,93,132,162,166,162,132,93,132,93,32,93,...
Name: 11844, dtype: object
ID                                                             46205
IP_SPLIT_RESULT                                       175.223.10.192
SEQUENCE_PARSE     <87,80,29,212,132,132,113,132,1,132,93,132,32,...
Name: 11845, dtype: object
ID                        46206
IP_SPLIT_RESULT    220.94.43.88
SEQUENCE_PARSE           <1,90>
Name: 11846, dtype: object
ID                                                             46207
IP_SPLIT_RESULT                                        211.36.142.50
SEQUENCE_PARSE     <1,31,1,130,1,113,113,113,113,31,31,113,113,11...
Name: 11847, dtype: object
ID                                                             46208
IP_SPLIT_RESULT                                        39.118.92.164
SEQUENCE_PARSE     <1,5,1,5,1,5,1,132,93,132,132,93,1,5,1,130,130...
Name: 11848, dtype: object
ID                                                             46209
IP_SPLIT_RESULT                                       223.62.188.115
SEQUENCE_PARSE     <93,93,93,32,93,132,162,166,162,132,93,132,32,...
Name: 11849, dtype: object
ID                       46210
IP_SPLIT_RESULT    39.7.20.154
SEQUENCE_PARSE         <92,30>
Name: 11850, dtype: object
ID                          46211
IP_SPLIT_RESULT    122.43.252.231
SEQUENCE_PARSE                <1>
Name: 11851, dtype: object
ID                          46212
IP_SPLIT_RESULT    39.116.154.214
SEQUENCE_PARSE                <1>
Name: 11852, dtype: object
ID                                                       46213
IP_SPLIT_RESULT                                182.211.247.101
SEQUENCE_PARSE     <30,132,93,132,93,93,93,93,113,113,113,113>
Name: 11853, dtype: object
ID                        46214
IP_SPLIT_RESULT    1.234.244.12
SEQUENCE_PARSE              <1>
Name: 11854, dtype: object
ID                         46215
IP_SPLIT_RESULT    110.70.57.208
SEQUENCE_PARSE               <1>
Name: 11855, dtype: object
ID                          46216
IP_SPLIT_RESULT    222.97.117.149
SEQUENCE_PARSE                <1>
Name: 11856, dtype: object
ID                          46217
IP_SPLIT_RESULT    27.119.204.155
SEQUENCE_PARSE                <1>
Name: 11857, dtype: object
ID                          46218
IP_SPLIT_RESULT    223.62.212.239
SEQUENCE_PARSE                <1>
Name: 11858, dtype: object
ID                                                             46219
IP_SPLIT_RESULT                                         110.70.27.67
SEQUENCE_PARSE     <1,132,113,132,113,113,31,113,113,31,113,31,11...
Name: 11859, dtype: object
ID                                                             46220
IP_SPLIT_RESULT                                      182.211.247.101
SEQUENCE_PARSE     <132,132,132,132,90,92,90,132,113,132,132,113,...
Name: 11860, dtype: object
ID                          46221
IP_SPLIT_RESULT    218.148.10.179
SEQUENCE_PARSE                <1>
Name: 11861, dtype: object
ID                                                             46222
IP_SPLIT_RESULT                                       175.127.148.16
SEQUENCE_PARSE     <29,113,132,132,113,31,113,31,113,31,113,31,11...
Name: 11862, dtype: object
ID                         46223
IP_SPLIT_RESULT    58.236.181.19
SEQUENCE_PARSE               <1>
Name: 11863, dtype: object
ID                         46224
IP_SPLIT_RESULT    110.70.56.254
SEQUENCE_PARSE               <1>
Name: 11864, dtype: object
ID                         46225
IP_SPLIT_RESULT    211.58.111.21
SEQUENCE_PARSE               <1>
Name: 11865, dtype: object
ID                         46226
IP_SPLIT_RESULT    1.237.212.111
SEQUENCE_PARSE               <1>
Name: 11866, dtype: object
ID                                                             46227
IP_SPLIT_RESULT                                       110.14.146.184
SEQUENCE_PARSE     <32,93,1,132,132,132,32,93,93,93,93,93,93,93,9...
Name: 11867, dtype: object
ID                          46228
IP_SPLIT_RESULT    116.124.158.71
SEQUENCE_PARSE                <1>
Name: 11868, dtype: object
ID                                                           46229
IP_SPLIT_RESULT                                      106.102.0.244
SEQUENCE_PARSE     <1,92,87,89,212,113,132,132,113,113,31,113,113>
Name: 11869, dtype: object
ID                                                             46230
IP_SPLIT_RESULT                                        106.102.0.244
SEQUENCE_PARSE     <90,92,87,80,29,113,212,132,132,132,10,1,31,11...
Name: 11870, dtype: object
ID                       46231
IP_SPLIT_RESULT    59.7.62.167
SEQUENCE_PARSE             <1>
Name: 11871, dtype: object
ID                           46232
IP_SPLIT_RESULT    182.226.174.138
SEQUENCE_PARSE                 <1>
Name: 11872, dtype: object
ID                                                             46233
IP_SPLIT_RESULT                                         110.70.27.67
SEQUENCE_PARSE     <31,113,1,132,113,132,31,113,113,113,113,31,11...
Name: 11873, dtype: object
ID                                                   46234
IP_SPLIT_RESULT                              39.118.92.164
SEQUENCE_PARSE     <132,132,158,160,164,132,158,160,132,1>
Name: 11874, dtype: object
ID                          46235
IP_SPLIT_RESULT    116.39.111.183
SEQUENCE_PARSE                <1>
Name: 11875, dtype: object
ID                                           46236
IP_SPLIT_RESULT                     124.48.206.186
SEQUENCE_PARSE     <1,90,92,132,132,1,130,130,130>
Name: 11876, dtype: object
ID                                                             46237
IP_SPLIT_RESULT                                         218.48.93.35
SEQUENCE_PARSE     <1,130,63,89,195,93,87,93,93,14,93,93,212,93,1...
Name: 11877, dtype: object
ID                           46238
IP_SPLIT_RESULT    211.184.142.203
SEQUENCE_PARSE                 <1>
Name: 11878, dtype: object
ID                                                             46239
IP_SPLIT_RESULT                                       175.223.27.155
SEQUENCE_PARSE     <39,164,164,39,164,1,132,93,132,93,191,130,130...
Name: 11879, dtype: object
ID                                                 46240
IP_SPLIT_RESULT                            122.36.215.47
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93>
Name: 11880, dtype: object
ID                           46241
IP_SPLIT_RESULT    218.235.192.184
SEQUENCE_PARSE                 <1>
Name: 11881, dtype: object
ID                                                             46242
IP_SPLIT_RESULT                                      125.178.180.191
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,130,132,93,132,93,93...
Name: 11882, dtype: object
ID                        46243
IP_SPLIT_RESULT    110.8.84.188
SEQUENCE_PARSE              <1>
Name: 11883, dtype: object
ID                         46244
IP_SPLIT_RESULT    182.173.240.7
SEQUENCE_PARSE               <1>
Name: 11884, dtype: object
ID                                                             46245
IP_SPLIT_RESULT                                       124.48.206.186
SEQUENCE_PARSE     <93,93,93,132,93,132,93,93,93,93,132,93,132,93...
Name: 11885, dtype: object
ID                         46246
IP_SPLIT_RESULT    124.61.160.12
SEQUENCE_PARSE               <1>
Name: 11886, dtype: object

ID                         46395
IP_SPLIT_RESULT    112.66.73.229
SEQUENCE_PARSE               <1>
Name: 12035, dtype: object
ID                         46396
IP_SPLIT_RESULT    175.152.31.81
SEQUENCE_PARSE               <1>
Name: 12036, dtype: object
ID                          46397
IP_SPLIT_RESULT    111.85.179.181
SEQUENCE_PARSE                <1>
Name: 12037, dtype: object
ID                          46398
IP_SPLIT_RESULT    150.255.113.94
SEQUENCE_PARSE                <1>
Name: 12038, dtype: object
ID                          46399
IP_SPLIT_RESULT    116.113.51.105
SEQUENCE_PARSE                <1>
Name: 12039, dtype: object
ID                        46400
IP_SPLIT_RESULT    106.4.199.68
SEQUENCE_PARSE              <1>
Name: 12040, dtype: object
ID                                                             46401
IP_SPLIT_RESULT                                       175.223.30.185
SEQUENCE_PARSE     <31,113,31,113,113,132,132,113,31,113,132,162,...
Name: 12041, dtype: object
ID                          46402
IP_SPLIT_RESULT    171.113.253.69
SEQUENCE_PARSE                <1>
Name: 12042, dtype: object
ID                          46403
IP_SPLIT_RESULT    118.81.239.193
SEQUENCE_PARSE                <1>
Name: 12043, dtype: object
ID                          46404
IP_SPLIT_RESULT    123.145.10.152
SEQUENCE_PARSE                <1>
Name: 12044, dtype: object
ID                         46405
IP_SPLIT_RESULT    120.32.70.181
SEQUENCE_PARSE               <1>
Name: 12045, dtype: object
ID                           46406
IP_SPLIT_RESULT    150.255.188.109
SEQUENCE_PARSE                 <1>
Name: 12046, dtype: object
ID                          46407
IP_SPLIT_RESULT    125.211.31.244
SEQUENCE_PARSE                <1>
Name: 12047, dtype: object
ID                                   46408
IP_SPLIT_RESULT             125.132.234.35
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 12048, dtype: object
ID                         46409
IP_SPLIT_RESULT    121.138.62.18
SEQUENCE_PARSE              <25>
Name: 12049, dtype: object
ID                           46410
IP_SPLIT_RESULT    182.229.159.176
SEQUENCE_PARSE              <1,90>
Name: 12050, dtype: object
ID                                                             46411
IP_SPLIT_RESULT                                          39.7.57.136
SEQUENCE_PARSE     <1,113,132,132,113,113,113,31,113,113,113,113,...
Name: 12051, dtype: object
ID                         46412
IP_SPLIT_RESULT    61.41.234.141
SEQUENCE_PARSE               <1>
Name: 12052, dtype: object
ID                        46413
IP_SPLIT_RESULT    1.253.21.229
SEQUENCE_PARSE              <1>
Name: 12053, dtype: object
ID                           46414
IP_SPLIT_RESULT    183.185.226.182
SEQUENCE_PARSE                 <1>
Name: 12054, dtype: object
ID                          46415
IP_SPLIT_RESULT    150.255.85.163
SEQUENCE_PARSE                <1>
Name: 12055, dtype: object
ID                         46416
IP_SPLIT_RESULT    220.250.10.22
SEQUENCE_PARSE               <1>
Name: 12056, dtype: object
ID                         46417
IP_SPLIT_RESULT    60.186.195.33
SEQUENCE_PARSE               <1>
Name: 12057, dtype: object
ID                          46418
IP_SPLIT_RESULT    101.248.181.95
SEQUENCE_PARSE                <1>
Name: 12058, dtype: object
ID                          46419
IP_SPLIT_RESULT    175.152.30.194
SEQUENCE_PARSE                <1>
Name: 12059, dtype: object
ID                         46420
IP_SPLIT_RESULT    221.235.67.48
SEQUENCE_PARSE               <1>
Name: 12060, dtype: object
ID                          46421
IP_SPLIT_RESULT    112.151.250.18
SEQUENCE_PARSE                <1>
Name: 12061, dtype: object
ID                                                             46422
IP_SPLIT_RESULT                                          39.7.57.136
SEQUENCE_PARSE     <113,113,113,113,113,113,113,113,31,113,31,113...
Name: 12062, dtype: object
ID                           46423
IP_SPLIT_RESULT    182.229.159.176
SEQUENCE_PARSE                <92>
Name: 12063, dtype: object
ID                          46424
IP_SPLIT_RESULT     218.236.20.59
SEQUENCE_PARSE     <1,132,93,132>
Name: 12064, dtype: object
ID                          46425
IP_SPLIT_RESULT    211.105.51.224
SEQUENCE_PARSE                <1>
Name: 12065, dtype: object
ID                          46426
IP_SPLIT_RESULT    223.33.181.203
SEQUENCE_PARSE                <1>
Name: 12066, dtype: object
ID                          46427
IP_SPLIT_RESULT    111.65.184.188
SEQUENCE_PARSE                <1>
Name: 12067, dtype: object
ID                          46428
IP_SPLIT_RESULT    211.244.19.243
SEQUENCE_PARSE                <1>
Name: 12068, dtype: object
ID                                                             46429
IP_SPLIT_RESULT                                       175.125.55.162
SEQUENCE_PARSE     <1,132,93,132,93,93,132,132,132,132,132,132,1,...
Name: 12069, dtype: object
ID                                              46430
IP_SPLIT_RESULT                        211.105.51.224
SEQUENCE_PARSE     <132,93,132,132,93,132,93,132,132>
Name: 12070, dtype: object
ID                          46431
IP_SPLIT_RESULT    112.154.83.224
SEQUENCE_PARSE                <1>
Name: 12071, dtype: object
ID                                                             46432
IP_SPLIT_RESULT                                          222.96.62.3
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,132,93,132,93,93,93,...
Name: 12072, dtype: object
ID                                                             46433
IP_SPLIT_RESULT                                          14.54.30.39
SEQUENCE_PARSE     <1,90,10,93,132,132,93,93,93,132,132,132,132,1...
Name: 12073, dtype: object
ID                          46434
IP_SPLIT_RESULT    175.223.32.250
SEQUENCE_PARSE                <1>
Name: 12074, dtype: object
ID                                                             46435
IP_SPLIT_RESULT                                       175.125.55.162
SEQUENCE_PARSE     <93,93,93,93,93,132,113,132,113,113,113,93,93,93>
Name: 12075, dtype: object
ID                         46436
IP_SPLIT_RESULT    61.78.236.200
SEQUENCE_PARSE               <1>
Name: 12076, dtype: object
ID                                              46437
IP_SPLIT_RESULT                         211.36.149.17
SEQUENCE_PARSE     <1,41,1,93,93,132,189,174,172,170>
Name: 12077, dtype: object
ID                        46438
IP_SPLIT_RESULT    220.84.32.99
SEQUENCE_PARSE            <5,1>
Name: 12078, dtype: object
ID                                                             46439
IP_SPLIT_RESULT                                          14.54.30.39
SEQUENCE_PARSE     <92,87,89,80,29,212,132,113,132,113,31,113,31,...
Name: 12079, dtype: object
ID                                                    46440
IP_SPLIT_RESULT                              110.10.198.112
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,132,93,132,93>
Name: 12080, dtype: object
ID                                      46441
IP_SPLIT_RESULT                 211.36.149.17
SEQUENCE_PARSE     <1,132,87,132,132,132,132>
Name: 12081, dtype: object
ID                         46442
IP_SPLIT_RESULT    59.20.177.187
SEQUENCE_PARSE               <1>
Name: 12082, dtype: object
ID                                                             46443
IP_SPLIT_RESULT                                        58.224.147.86
SEQUENCE_PARSE     <1,132,93,132,93,130,132,92,93,93,1,132,93,132...
Name: 12083, dtype: object
ID                                                             46444
IP_SPLIT_RESULT                                        58.224.147.86
SEQUENCE_PARSE     <93,93,1,130,191,191,130,130,1,132,93,132,93,9...
Name: 12084, dtype: object
ID                          46445
IP_SPLIT_RESULT    110.15.228.244
SEQUENCE_PARSE                <1>
Name: 12085, dtype: object
ID                                                          46446
IP_SPLIT_RESULT                                     39.115.103.21
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,132,93,132,93,90,92>
Name: 12086, dtype: object
ID                         46447
IP_SPLIT_RESULT    117.16.240.19
SEQUENCE_PARSE           <1,5,1>
Name: 12087, dtype: object
ID                                                        46448
IP_SPLIT_RESULT                                    223.53.32.43
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,113,132,132,113,113>
Name: 12088, dtype: object
ID                                                        46449
IP_SPLIT_RESULT                                     58.127.1.18
SEQUENCE_PARSE     <1,113,132,132,113,31,113,31,113,113,31,113>
Name: 12089, dtype: object
ID                        46450
IP_SPLIT_RESULT    223.53.32.43
SEQUENCE_PARSE        <132,132>
Name: 12090, dtype: object
ID                         46451
IP_SPLIT_RESULT    123.212.23.74
SEQUENCE_PARSE               <1>
Name: 12091, dtype: object
ID                           46452
IP_SPLIT_RESULT    121.165.119.118
SEQUENCE_PARSE           <1,90,92>
Name: 12092, dtype: object
ID                         46453
IP_SPLIT_RESULT    223.33.184.26
SEQUENCE_PARSE               <1>
Name: 12093, dtype: object
ID                                                             46454
IP_SPLIT_RESULT                                        1.241.196.136
SEQUENCE_PARSE     <1,130,132,92,132,92,87,200,29,132,113,132,31,...
Name: 12094, dtype: object
ID                                     46455
IP_SPLIT_RESULT                39.115.103.21
SEQUENCE_PARSE     <1,132,93,132,93,93,1,92>
Name: 12095, dtype: object
ID                         46456
IP_SPLIT_RESULT    73.83.105.140
SEQUENCE_PARSE               <1>
Name: 12096, dtype: object
ID                                                             46457
IP_SPLIT_RESULT                                        175.223.23.47
SEQUENCE_PARSE     <113,162,166,162,31,113,132,63,113,132,162,166...
Name: 12097, dtype: object
ID                        46458
IP_SPLIT_RESULT    58.231.64.21
SEQUENCE_PARSE              <1>
Name: 12098, dtype: object
ID                         46459
IP_SPLIT_RESULT    223.33.180.47
SEQUENCE_PARSE            <29,1>
Name: 12099, dtype: object
ID                                                             46460
IP_SPLIT_RESULT                                       58.143.150.178
SEQUENCE_PARSE     <1,132,93,132,93,93,93,90,92,87,89,80,30,212,1...
Name: 12100, dtype: object
ID                           46461
IP_SPLIT_RESULT    221.166.167.129
SEQUENCE_PARSE                 <1>
Name: 12101, dtype: object
ID                         46462
IP_SPLIT_RESULT    180.224.5.111
SEQUENCE_PARSE               <1>
Name: 12102, dtype: object
ID                            46463
IP_SPLIT_RESULT      115.21.148.197
SEQUENCE_PARSE     <1,132,93,132,1>
Name: 12103, dtype: object
ID                                      46464
IP_SPLIT_RESULT               221.166.167.129
SEQUENCE_PARSE     <132,93,132,93,93,93,93,1>
Name: 12104, dtype: object
ID                          46465
IP_SPLIT_RESULT    121.174.23.213
SEQUENCE_PARSE                <1>
Name: 12105, dtype: object
ID                          46466
IP_SPLIT_RESULT    211.246.69.172
SEQUENCE_PARSE                <1>
Name: 12106, dtype: object
ID                        46467
IP_SPLIT_RESULT    61.79.170.26
SEQUENCE_PARSE              <1>
Name: 12107, dtype: object
ID                                              46468
IP_SPLIT_RESULT                        223.62.163.169
SEQUENCE_PARSE     <1,93,132,132,93,30,132,93,132,93>
Name: 12108, dtype: object
ID                                                             46469
IP_SPLIT_RESULT                                       220.126.159.66
SEQUENCE_PARSE     <1,90,92,90,92,87,89,25,90,93,93,93,32,1,130,1...
Name: 12109, dtype: object
ID                          46470
IP_SPLIT_RESULT    54.152.251.185
SEQUENCE_PARSE                <1>
Name: 12110, dtype: object
ID                          46471
IP_SPLIT_RESULT    54.152.251.185
SEQUENCE_PARSE                <1>
Name: 12111, dtype: object
ID                                        46472
IP_SPLIT_RESULT                  223.62.163.169
SEQUENCE_PARSE     <32,93,132,162,166,162,93,1>
Name: 12112, dtype: object
ID                         46473
IP_SPLIT_RESULT    175.223.39.38
SEQUENCE_PARSE               <1>
Name: 12113, dtype: object
ID                                                             46474
IP_SPLIT_RESULT                                        1.241.196.136
SEQUENCE_PARSE     <87,113,113,31,113,31,113,31,113,31,113,31,113...
Name: 12114, dtype: object
ID                       46475
IP_SPLIT_RESULT    39.7.56.122
SEQUENCE_PARSE          <1,93>
Name: 12115, dtype: object
ID                                                             46476
IP_SPLIT_RESULT                                          39.7.56.122
SEQUENCE_PARSE     <132,132,93,93,93,93,90,90,92,1,132,81,132,132...
Name: 12116, dtype: object
ID                          46477
IP_SPLIT_RESULT    175.119.209.83
SEQUENCE_PARSE              <5,1>
Name: 12117, dtype: object
ID                         46478
IP_SPLIT_RESULT    110.35.191.89
SEQUENCE_PARSE               <1>
Name: 12118, dtype: object
ID                         46479
IP_SPLIT_RESULT    223.62.10.252
SEQUENCE_PARSE          <31,113>
Name: 12119, dtype: object
ID                                                             46480
IP_SPLIT_RESULT                                        110.70.55.115
SEQUENCE_PARSE     <32,32,93,130,1,130,90,1,90,32,93,93,1,132,93,...
Name: 12120, dtype: object
ID                                                             46481
IP_SPLIT_RESULT                                        110.70.55.115
SEQUENCE_PARSE     <93,93,132,132,130,93,132,132,132,93,132,93,93...
Name: 12121, dtype: object
ID                          46482
IP_SPLIT_RESULT    223.62.219.179
SEQUENCE_PARSE            <1,113>
Name: 12122, dtype: object
ID                                                             46483
IP_SPLIT_RESULT                                       58.143.150.178
SEQUENCE_PARSE     <32,93,93,32,93,93,93,93,93,32,93,32,93,32,93,...
Name: 12123, dtype: object
ID                           46484
IP_SPLIT_RESULT    125.128.144.133
SEQUENCE_PARSE                 <1>
Name: 12124, dtype: object
ID                        46485
IP_SPLIT_RESULT    221.157.4.84
SEQUENCE_PARSE              <1>
Name: 12125, dtype: object
ID                                 46486
IP_SPLIT_RESULT             115.21.14.81
SEQUENCE_PARSE     <1,32,93,32,93,32,93>
Name: 12126, dtype: object
ID                                                 46487
IP_SPLIT_RESULT                           119.201.134.40
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,1,90,92>
Name: 12127, dtype: object
ID                          46488
IP_SPLIT_RESULT    35.201.145.147
SEQUENCE_PARSE      <5,1,5,1,5,1>
Name: 12128, dtype: object
ID                                                             46489
IP_SPLIT_RESULT                                         115.21.14.81
SEQUENCE_PARSE     <93,132,132,93,93,93,90,92,87,89,80,30,93,212,...
Name: 12129, dtype: object
ID                        46490
IP_SPLIT_RESULT    110.9.168.97
SEQUENCE_PARSE           <1,90>
Name: 12130, dtype: object
ID                         46491
IP_SPLIT_RESULT    211.245.9.177
SEQUENCE_PARSE           <1,5,1>
Name: 12131, dtype: object
ID                               46492
IP_SPLIT_RESULT         121.128.238.67
SEQUENCE_PARSE     <1,132,93,132,93,1>
Name: 12132, dtype: object
ID                          46493
IP_SPLIT_RESULT    208.80.194.122
SEQUENCE_PARSE                <1>
Name: 12133, dtype: object
ID                             46494
IP_SPLIT_RESULT       203.210.58.166
SEQUENCE_PARSE     <31,113,31,113,1>
Name: 12134, dtype: object
ID                           46495
IP_SPLIT_RESULT    221.162.249.121
SEQUENCE_PARSE                 <1>
Name: 12135, dtype: object
ID                                                             46496
IP_SPLIT_RESULT                                        211.209.13.62
SEQUENCE_PARSE     <31,113,31,113,1,132,132,132,158,160,132,174,1...
Name: 12136, dtype: object
ID                                         46497
IP_SPLIT_RESULT                    175.223.44.77
SEQUENCE_PARSE     <31,113,87,89,33,164,164,164>
Name: 12137, dtype: object
ID                         46498
IP_SPLIT_RESULT    94.102.60.144
SEQUENCE_PARSE               <1>
Name: 12138, dtype: object
ID                                                  46499
IP_SPLIT_RESULT                            49.161.125.213
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,93>
Name: 12139, dtype: object
ID                         46500
IP_SPLIT_RESULT    180.67.56.252
SEQUENCE_PARSE               <1>
Name: 12140, dtype: object
ID                         46501
IP_SPLIT_RESULT    112.166.2.178
SEQUENCE_PARSE               <1>
Name: 12141, dtype: object
ID                                                             46502
IP_SPLIT_RESULT                                       220.126.159.66
SEQUENCE_PARSE     <27,80,29,212,132,113,132,132,93,132,93,132,93...
Name: 12142, dtype: object
ID                         46503
IP_SPLIT_RESULT    112.166.2.178
SEQUENCE_PARSE            <1,90>
Name: 12143, dtype: object
ID                          46504
IP_SPLIT_RESULT    211.58.191.116
SEQUENCE_PARSE                <1>
Name: 12144, dtype: object
ID                             46505
IP_SPLIT_RESULT       211.36.142.143
SEQUENCE_PARSE     <1,31,113,132,31>
Name: 12145, dtype: object
ID                        46506
IP_SPLIT_RESULT    113.30.41.75
SEQUENCE_PARSE              <1>
Name: 12146, dtype: object
ID                         46507
IP_SPLIT_RESULT    220.72.113.27
SEQUENCE_PARSE               <1>
Name: 12147, dtype: object
ID                           46508
IP_SPLIT_RESULT    211.207.250.166
SEQUENCE_PARSE               <5,1>
Name: 12148, dtype: object
ID                                                             46509
IP_SPLIT_RESULT                                      116.123.124.248
SEQUENCE_PARSE     <31,113,113,31,113,31,113,113,31,31,113,31,113...
Name: 12149, dtype: object
ID                         46510
IP_SPLIT_RESULT    121.183.24.46
SEQUENCE_PARSE               <1>
Name: 12150, dtype: object
ID                         46511
IP_SPLIT_RESULT    219.250.95.61
SEQUENCE_PARSE            <1,90>
Name: 12151, dtype: object
ID                                                 46512
IP_SPLIT_RESULT                            223.33.184.68
SEQUENCE_PARSE     <1,33,164,164,164,164,164,164,63,164>
Name: 12152, dtype: object
ID                          46513
IP_SPLIT_RESULT    14.138.210.223
SEQUENCE_PARSE                <1>
Name: 12153, dtype: object
ID                         46514
IP_SPLIT_RESULT    118.35.162.47
SEQUENCE_PARSE               <1>
Name: 12154, dtype: object
ID                        46515
IP_SPLIT_RESULT    27.126.27.82
SEQUENCE_PARSE              <1>
Name: 12155, dtype: object
ID                          46516
IP_SPLIT_RESULT    210.103.68.186
SEQUENCE_PARSE     <1,132,93,132>
Name: 12156, dtype: object
ID                           46517
IP_SPLIT_RESULT     119.201.134.40
SEQUENCE_PARSE     <93,132,132,93>
Name: 12157, dtype: object
ID                             46518
IP_SPLIT_RESULT       175.223.49.138
SEQUENCE_PARSE     <132,132,158,160>
Name: 12158, dtype: object
ID                         46519
IP_SPLIT_RESULT    218.50.205.75
SEQUENCE_PARSE            <1,90>
Name: 12159, dtype: object
ID                                    46520
IP_SPLIT_RESULT                223.62.216.5
SEQUENCE_PARSE     <1,33,164,33,164,33,164>
Name: 12160, dtype: object
ID                           46521
IP_SPLIT_RESULT    221.141.216.200
SEQUENCE_PARSE                 <1>
Name: 12161, dtype: object
ID                          46522
IP_SPLIT_RESULT    118.216.67.230
SEQUENCE_PARSE              <5,1>
Name: 12162, dtype: object
ID                           46523
IP_SPLIT_RESULT     175.223.38.226
SEQUENCE_PARSE     <32,93,93,32,1>
Name: 12163, dtype: object

ID                           46686
IP_SPLIT_RESULT    118.222.136.207
SEQUENCE_PARSE                 <1>
Name: 12326, dtype: object
ID                          46687
IP_SPLIT_RESULT    58.230.138.134
SEQUENCE_PARSE                <1>
Name: 12327, dtype: object
ID                         46688
IP_SPLIT_RESULT    66.249.79.129
SEQUENCE_PARSE               <1>
Name: 12328, dtype: object
ID                        46689
IP_SPLIT_RESULT    49.164.21.30
SEQUENCE_PARSE            <5,1>
Name: 12329, dtype: object
ID                           46690
IP_SPLIT_RESULT    175.125.200.239
SEQUENCE_PARSE        <29,132,113>
Name: 12330, dtype: object
ID                         46691
IP_SPLIT_RESULT    42.82.119.169
SEQUENCE_PARSE               <1>
Name: 12331, dtype: object
ID                          46692
IP_SPLIT_RESULT    211.214.144.78
SEQUENCE_PARSE                <1>
Name: 12332, dtype: object
ID                         46693
IP_SPLIT_RESULT    39.115.179.92
SEQUENCE_PARSE               <1>
Name: 12333, dtype: object
ID                         46694
IP_SPLIT_RESULT    180.92.78.117
SEQUENCE_PARSE               <1>
Name: 12334, dtype: object
ID                           46695
IP_SPLIT_RESULT    211.178.205.188
SEQUENCE_PARSE             <32,93>
Name: 12335, dtype: object
ID                                        46696
IP_SPLIT_RESULT                 182.222.238.188
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,1>
Name: 12336, dtype: object
ID                         46697
IP_SPLIT_RESULT    182.211.79.18
SEQUENCE_PARSE               <1>
Name: 12337, dtype: object
ID                                            46698
IP_SPLIT_RESULT                        1.235.67.204
SEQUENCE_PARSE     <1,132,132,158,160,164,39,164,1>
Name: 12338, dtype: object
ID                         46699
IP_SPLIT_RESULT    175.215.97.19
SEQUENCE_PARSE               <1>
Name: 12339, dtype: object
ID                        46700
IP_SPLIT_RESULT    223.38.8.210
SEQUENCE_PARSE              <1>
Name: 12340, dtype: object
ID                           46701
IP_SPLIT_RESULT    182.222.188.219
SEQUENCE_PARSE                 <1>
Name: 12341, dtype: object
ID                           46702
IP_SPLIT_RESULT    182.222.188.219
SEQUENCE_PARSE              <25,1>
Name: 12342, dtype: object
ID                                                      46703
IP_SPLIT_RESULT                                 175.223.19.15
SEQUENCE_PARSE     <1,32,32,1,132,93,132,93,132,93,132,93,93>
Name: 12343, dtype: object
ID                         46704
IP_SPLIT_RESULT    121.129.69.86
SEQUENCE_PARSE               <1>
Name: 12344, dtype: object
ID                                        46705
IP_SPLIT_RESULT                   175.223.17.15
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93,1>
Name: 12345, dtype: object
ID                                                             46706
IP_SPLIT_RESULT                                       112.164.32.179
SEQUENCE_PARSE     <1,93,132,132,130,132,81,132,132,81,132,158,16...
Name: 12346, dtype: object
ID                                                             46707
IP_SPLIT_RESULT                                        175.223.16.54
SEQUENCE_PARSE     <9,132,132,158,160,113,132,32,93,1,132,93,132,...
Name: 12347, dtype: object
ID                          46708
IP_SPLIT_RESULT    124.60.113.110
SEQUENCE_PARSE                <1>
Name: 12348, dtype: object
ID                                             46709
IP_SPLIT_RESULT                        175.223.16.54
SEQUENCE_PARSE     <132,113,92,1,90,1,132,93,132,93>
Name: 12349, dtype: object
ID                                                             46710
IP_SPLIT_RESULT                                         61.254.54.51
SEQUENCE_PARSE     <31,113,31,113,132,113,132,113,31,113,31,113,1...
Name: 12350, dtype: object
ID                          46711
IP_SPLIT_RESULT    220.118.38.164
SEQUENCE_PARSE                <1>
Name: 12351, dtype: object
ID                           46712
IP_SPLIT_RESULT    121.174.141.109
SEQUENCE_PARSE                 <1>
Name: 12352, dtype: object
ID                                      46713
IP_SPLIT_RESULT                180.229.93.122
SEQUENCE_PARSE     <1,93,132,132,93,93,93,93>
Name: 12353, dtype: object
ID                         46714
IP_SPLIT_RESULT      58.121.93.4
SEQUENCE_PARSE     <5,1,5,1,5,1>
Name: 12354, dtype: object
ID                        46715
IP_SPLIT_RESULT    219.251.87.3
SEQUENCE_PARSE              <1>
Name: 12355, dtype: object
ID                          46716
IP_SPLIT_RESULT    182.224.66.234
SEQUENCE_PARSE                <1>
Name: 12356, dtype: object
ID                          46717
IP_SPLIT_RESULT    122.45.105.213
SEQUENCE_PARSE                <1>
Name: 12357, dtype: object
ID                                                             46718
IP_SPLIT_RESULT                                         61.254.54.51
SEQUENCE_PARSE     <132,93,31,113,31,113,31,113,31,113,132,113,13...
Name: 12358, dtype: object
ID                         46719
IP_SPLIT_RESULT    211.36.155.21
SEQUENCE_PARSE               <1>
Name: 12359, dtype: object
ID                                                             46720
IP_SPLIT_RESULT                                        122.42.18.254
SEQUENCE_PARSE     <113,132,132,29,132,132,113,31,113,113,113,1,1...
Name: 12360, dtype: object
ID                       46721
IP_SPLIT_RESULT    58.121.93.4
SEQUENCE_PARSE           <5,1>
Name: 12361, dtype: object
ID                           46722
IP_SPLIT_RESULT    116.120.226.154
SEQUENCE_PARSE                 <1>
Name: 12362, dtype: object
ID                          46723
IP_SPLIT_RESULT    175.223.16.117
SEQUENCE_PARSE                <1>
Name: 12363, dtype: object
ID                          46724
IP_SPLIT_RESULT    58.120.121.149
SEQUENCE_PARSE                <1>
Name: 12364, dtype: object
ID                       46725
IP_SPLIT_RESULT    117.111.1.8
SEQUENCE_PARSE          <1,93>
Name: 12365, dtype: object
ID                       46726
IP_SPLIT_RESULT    124.28.5.25
SEQUENCE_PARSE             <1>
Name: 12366, dtype: object
ID                         46727
IP_SPLIT_RESULT    1.235.242.169
SEQUENCE_PARSE               <1>
Name: 12367, dtype: object
ID                        46728
IP_SPLIT_RESULT    66.249.79.72
SEQUENCE_PARSE              <1>
Name: 12368, dtype: object
ID                         46729
IP_SPLIT_RESULT    211.244.90.80
SEQUENCE_PARSE               <1>
Name: 12369, dtype: object
ID                           46730
IP_SPLIT_RESULT      1.235.197.130
SEQUENCE_PARSE     <1,5,1,5,1,132>
Name: 12370, dtype: object
ID                                                             46731
IP_SPLIT_RESULT                                           39.7.55.20
SEQUENCE_PARSE     <132,132,158,160,132,39,164,1,132,113,132,113,...
Name: 12371, dtype: object
ID                          46732
IP_SPLIT_RESULT    180.66.233.161
SEQUENCE_PARSE                <1>
Name: 12372, dtype: object
ID                         46733
IP_SPLIT_RESULT    112.221.76.11
SEQUENCE_PARSE               <1>
Name: 12373, dtype: object
ID                        46734
IP_SPLIT_RESULT    1.225.62.109
SEQUENCE_PARSE              <1>
Name: 12374, dtype: object
ID                           46735
IP_SPLIT_RESULT         39.7.55.20
SEQUENCE_PARSE     <132,113,132,1>
Name: 12375, dtype: object
ID                                                             46736
IP_SPLIT_RESULT                                       175.223.21.113
SEQUENCE_PARSE     <1,178,132,180,132,178,132,132,93,132,93,93,32...
Name: 12376, dtype: object
ID                             46737
IP_SPLIT_RESULT        223.62.172.87
SEQUENCE_PARSE     <1,93,132,93,132>
Name: 12377, dtype: object
ID                           46738
IP_SPLIT_RESULT    175.116.197.152
SEQUENCE_PARSE                 <1>
Name: 12378, dtype: object
ID                                   46739
IP_SPLIT_RESULT             223.62.163.238
SEQUENCE_PARSE     <1,132,132,158,160,113>
Name: 12379, dtype: object
ID                        46740
IP_SPLIT_RESULT    211.52.250.6
SEQUENCE_PARSE              <1>
Name: 12380, dtype: object
ID                             46741
IP_SPLIT_RESULT       125.131.68.204
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 12381, dtype: object
ID                          46742
IP_SPLIT_RESULT    119.197.132.19
SEQUENCE_PARSE                <1>
Name: 12382, dtype: object
ID                        46743
IP_SPLIT_RESULT    122.36.39.95
SEQUENCE_PARSE              <1>
Name: 12383, dtype: object
ID                           46744
IP_SPLIT_RESULT    115.139.223.160
SEQUENCE_PARSE                 <1>
Name: 12384, dtype: object
ID                                            46745
IP_SPLIT_RESULT                      211.36.141.200
SEQUENCE_PARSE     <39,164,1,132,93,132,132,93,132>
Name: 12385, dtype: object
ID                        46746
IP_SPLIT_RESULT    122.36.39.95
SEQUENCE_PARSE              <1>
Name: 12386, dtype: object
ID                        46747
IP_SPLIT_RESULT    122.36.39.95
SEQUENCE_PARSE              <1>
Name: 12387, dtype: object
ID                         46748
IP_SPLIT_RESULT    39.120.240.52
SEQUENCE_PARSE               <1>
Name: 12388, dtype: object
ID                                            46749
IP_SPLIT_RESULT                       49.166.185.58
SEQUENCE_PARSE     <31,113,31,113,39,164,63,89,195>
Name: 12389, dtype: object
ID                                                             46750
IP_SPLIT_RESULT                                       121.130.52.149
SEQUENCE_PARSE     <31,113,1,130,63,132,174,172,170,132,132,158,1...
Name: 12390, dtype: object
ID                          46751
IP_SPLIT_RESULT    112.156.150.22
SEQUENCE_PARSE                <1>
Name: 12391, dtype: object
ID                          46752
IP_SPLIT_RESULT    110.13.250.100
SEQUENCE_PARSE                <1>
Name: 12392, dtype: object
ID                                                             46753
IP_SPLIT_RESULT                                        211.49.149.33
SEQUENCE_PARSE     <1,132,132,158,160,93,132,158,160,164,132,158,...
Name: 12393, dtype: object
ID                          46754
IP_SPLIT_RESULT    124.111.169.15
SEQUENCE_PARSE                <1>
Name: 12394, dtype: object
ID                         46755
IP_SPLIT_RESULT    223.39.130.86
SEQUENCE_PARSE       <1,132,132>
Name: 12395, dtype: object
ID                        46756
IP_SPLIT_RESULT    223.62.22.16
SEQUENCE_PARSE              <1>
Name: 12396, dtype: object
ID                                                     46757
IP_SPLIT_RESULT                               223.62.162.199
SEQUENCE_PARSE     <1,132,132,158,160,164,132,158,160,132,1>
Name: 12397, dtype: object
ID                       46758
IP_SPLIT_RESULT    1.242.90.48
SEQUENCE_PARSE             <1>
Name: 12398, dtype: object
ID                        46759
IP_SPLIT_RESULT    119.75.77.87
SEQUENCE_PARSE              <1>
Name: 12399, dtype: object
ID                         46760
IP_SPLIT_RESULT    175.223.45.61
SEQUENCE_PARSE               <1>
Name: 12400, dtype: object
ID                                                             46761
IP_SPLIT_RESULT                                        175.124.78.43
SEQUENCE_PARSE     <113,132,132,158,160,132,132,132,113,132,132,9...
Name: 12401, dtype: object
ID                        46762
IP_SPLIT_RESULT    66.249.71.70
SEQUENCE_PARSE              <1>
Name: 12402, dtype: object
ID                           46763
IP_SPLIT_RESULT    119.194.189.153
SEQUENCE_PARSE                 <1>
Name: 12403, dtype: object
ID                          46764
IP_SPLIT_RESULT    61.255.149.146
SEQUENCE_PARSE                <1>
Name: 12404, dtype: object
ID                           46765
IP_SPLIT_RESULT    218.159.226.247
SEQUENCE_PARSE                 <1>
Name: 12405, dtype: object
ID                                                             46766
IP_SPLIT_RESULT                                        223.62.162.52
SEQUENCE_PARSE     <1,32,93,132,162,166,162,93,32,93,132,132,158,...
Name: 12406, dtype: object
ID                      46767
IP_SPLIT_RESULT    39.7.18.23
SEQUENCE_PARSE            <1>
Name: 12407, dtype: object
ID                          46768
IP_SPLIT_RESULT    175.223.49.119
SEQUENCE_PARSE                <1>
Name: 12408, dtype: object
ID                                                             46769
IP_SPLIT_RESULT                                        223.33.164.72
SEQUENCE_PARSE     <1,33,164,1,31,113,31,1,132,93,132,93,93,93,1,...
Name: 12409, dtype: object
ID                          46770
IP_SPLIT_RESULT    223.33.178.101
SEQUENCE_PARSE                <1>
Name: 12410, dtype: object
ID                                              46771
IP_SPLIT_RESULT                        58.236.177.183
SEQUENCE_PARSE     <1,132,93,132,93,93,132,93,132,93>
Name: 12411, dtype: object
ID                          46772
IP_SPLIT_RESULT    180.68.199.136
SEQUENCE_PARSE                <1>
Name: 12412, dtype: object
ID                         46773
IP_SPLIT_RESULT    122.43.223.67
SEQUENCE_PARSE               <1>
Name: 12413, dtype: object
ID                         46774
IP_SPLIT_RESULT    223.54.10.124
SEQUENCE_PARSE               <1>
Name: 12414, dtype: object
ID                                                             46775
IP_SPLIT_RESULT                                        223.62.204.33
SEQUENCE_PARSE     <1,113,113,31,113,1,113,31,113,31,113,90,92,1,...
Name: 12415, dtype: object
ID                         46776
IP_SPLIT_RESULT    115.139.1.176
SEQUENCE_PARSE               <1>
Name: 12416, dtype: object
ID                                       46777
IP_SPLIT_RESULT                  223.62.204.33
SEQUENCE_PARSE     <132,113,132,132,113,132,1>
Name: 12417, dtype: object
ID                       46778
IP_SPLIT_RESULT    211.187.6.4
SEQUENCE_PARSE             <1>
Name: 12418, dtype: object
ID                                                  46779
IP_SPLIT_RESULT                             117.111.2.164
SEQUENCE_PARSE     <1,132,93,132,93,93,31,113,31,113,113>
Name: 12419, dtype: object
ID                                                             46780
IP_SPLIT_RESULT                                        106.102.1.178
SEQUENCE_PARSE     <32,93,130,130,130,130,130,130,130,130,130,130...
Name: 12420, dtype: object
ID                        46781
IP_SPLIT_RESULT    110.70.54.72
SEQUENCE_PARSE     <32,93,92,1>
Name: 12421, dtype: object
ID                                                             46782
IP_SPLIT_RESULT                                        112.150.49.45
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,132,132,132,...
Name: 12422, dtype: object
ID                          46783
IP_SPLIT_RESULT    175.223.21.192
SEQUENCE_PARSE                <1>
Name: 12423, dtype: object
ID                           46784
IP_SPLIT_RESULT    112.153.179.158
SEQUENCE_PARSE                 <1>
Name: 12424, dtype: object
ID                       46785
IP_SPLIT_RESULT    115.41.67.7
SEQUENCE_PARSE             <1>
Name: 12425, dtype: object
ID                                                             46786
IP_SPLIT_RESULT                                        223.38.18.150
SEQUENCE_PARSE     <1,90,92,31,113,31,113,113,31,113,113,31,113,3...
Name: 12426, dtype: object
ID                          46787
IP_SPLIT_RESULT    223.39.150.150
SEQUENCE_PARSE                <1>
Name: 12427, dtype: object
ID                         46788
IP_SPLIT_RESULT    175.205.98.30
SEQUENCE_PARSE               <1>
Name: 12428, dtype: object
ID                          46789
IP_SPLIT_RESULT    223.62.212.115
SEQUENCE_PARSE                <1>
Name: 12429, dtype: object
ID                                                             46790
IP_SPLIT_RESULT                                       175.223.15.182
SEQUENCE_PARSE     <1,130,191,191,1,130,130,132,81,93,132,81,93,2...
Name: 12430, dtype: object
ID                          46791
IP_SPLIT_RESULT    49.161.210.161
SEQUENCE_PARSE                <1>
Name: 12431, dtype: object
ID                                   46792
IP_SPLIT_RESULT              112.150.49.45
SEQUENCE_PARSE     <93,1,132,93,132,93,90>
Name: 12432, dtype: object
ID                           46793
IP_SPLIT_RESULT    211.110.223.249
SEQUENCE_PARSE                 <1>
Name: 12433, dtype: object
ID                          46794
IP_SPLIT_RESULT    117.52.141.206
SEQUENCE_PARSE                <1>
Name: 12434, dtype: object
ID                                                             46795
IP_SPLIT_RESULT                                        121.152.6.220
SEQUENCE_PARSE     <1,132,93,132,93,1,90,92,89,80,26,26,25,27,130...
Name: 12435, dtype: object
ID                           46796
IP_SPLIT_RESULT    221.139.226.160
SEQUENCE_PARSE                <31>
Name: 12436, dtype: object
ID                          46797
IP_SPLIT_RESULT    211.36.136.232
SEQUENCE_PARSE               <33>
Name: 12437, dtype: object
ID                         46798
IP_SPLIT_RESULT    211.41.243.25
SEQUENCE_PARSE               <1>
Name: 12438, dtype: object
ID                                                             46799
IP_SPLIT_RESULT                                        223.33.180.86
SEQUENCE_PARSE     <1,5,1,5,1,5,1,132,1,132,132,113,132,31,113,11...
Name: 12439, dtype: object
ID                          46800
IP_SPLIT_RESULT    117.111.21.227
SEQUENCE_PARSE           <33,164>
Name: 12440, dtype: object
ID                         46801
IP_SPLIT_RESULT    211.46.223.71
SEQUENCE_PARSE               <1>
Name: 12441, dtype: object
ID                            46802
IP_SPLIT_RESULT        117.111.2.71
SEQUENCE_PARSE     <1,31,113,113,1>
Name: 12442, dtype: object
ID                          46803
IP_SPLIT_RESULT    114.201.159.83
SEQUENCE_PARSE                <1>
Name: 12443, dtype: object
ID                                                             46804
IP_SPLIT_RESULT                                        121.152.6.220
SEQUENCE_PARSE     <87,6,29,132,113,132,132,113,29,132,113,132,13...
Name: 12444, dtype: object
ID                          46805
IP_SPLIT_RESULT    114.201.159.83
SEQUENCE_PARSE          <1,90,90>
Name: 12445, dtype: object
ID                             46806
IP_SPLIT_RESULT         223.38.11.65
SEQUENCE_PARSE     <39,164,63,164,1>
Name: 12446, dtype: object
ID                                            46807
IP_SPLIT_RESULT                       58.227.89.114
SEQUENCE_PARSE     <1,132,93,132,93,93,132,113,132>
Name: 12447, dtype: object
ID                                      46808
IP_SPLIT_RESULT                  223.38.11.65
SEQUENCE_PARSE     <39,164,63,164,1,33,164,1>
Name: 12448, dtype: object
ID                           46809
IP_SPLIT_RESULT    125.177.149.215
SEQUENCE_PARSE               <5,1>
Name: 12449, dtype: object
ID                           46810
IP_SPLIT_RESULT    125.177.149.215
SEQUENCE_PARSE                 <1>
Name: 12450, dtype: object
ID                           46811
IP_SPLIT_RESULT    219.248.166.148
SEQUENCE_PARSE                 <1>
Name: 12451, dtype: object
ID                       46812
IP_SPLIT_RESULT    59.31.7.192
SEQUENCE_PARSE             <1>
Name: 12452, dtype: object
ID                                                             46813
IP_SPLIT_RESULT                                         223.62.8.234
SEQUENCE_PARSE     <1,90,32,5,32,5,32,93,1,130,130,130,130,130,13...
Name: 12453, dtype: object
ID                                                             46814
IP_SPLIT_RESULT                                       125.31.154.145
SEQUENCE_PARSE     <1,132,93,132,93,93,93,132,113,132,132,93,132,...
Name: 12454, dtype: object
ID                          46815
IP_SPLIT_RESULT    211.36.130.172
SEQUENCE_PARSE             <1,90>
Name: 12455, dtype: object
ID                                                             46816
IP_SPLIT_RESULT                                        175.223.44.59
SEQUENCE_PARSE     <1,132,93,132,93,93,132,93,132,92,87,80,24,132...

ID                        46940
IP_SPLIT_RESULT    223.62.169.7
SEQUENCE_PARSE              <1>
Name: 12580, dtype: object
ID                         46941
IP_SPLIT_RESULT    54.183.78.253
SEQUENCE_PARSE               <1>
Name: 12581, dtype: object
ID                          46942
IP_SPLIT_RESULT       39.7.53.251
SEQUENCE_PARSE     <1,132,93,132>
Name: 12582, dtype: object
ID                                 46943
IP_SPLIT_RESULT            117.111.28.47
SEQUENCE_PARSE     <1,132,113,132,90,92>
Name: 12583, dtype: object
ID                          46944
IP_SPLIT_RESULT    121.128.187.52
SEQUENCE_PARSE                <1>
Name: 12584, dtype: object
ID                       46945
IP_SPLIT_RESULT    39.7.19.236
SEQUENCE_PARSE         <1,113>
Name: 12585, dtype: object
ID                          46946
IP_SPLIT_RESULT    221.157.43.232
SEQUENCE_PARSE                <1>
Name: 12586, dtype: object
ID                          46947
IP_SPLIT_RESULT    218.52.125.137
SEQUENCE_PARSE                <1>
Name: 12587, dtype: object
ID                          46948
IP_SPLIT_RESULT    210.116.34.222
SEQUENCE_PARSE                <1>
Name: 12588, dtype: object
ID                                  46949
IP_SPLIT_RESULT             223.62.11.127
SEQUENCE_PARSE     <32,29,132,113,132,12>
Name: 12589, dtype: object
ID                         46950
IP_SPLIT_RESULT    223.62.169.10
SEQUENCE_PARSE               <1>
Name: 12590, dtype: object
ID                        46951
IP_SPLIT_RESULT    220.66.25.70
SEQUENCE_PARSE          <1,5,1>
Name: 12591, dtype: object
ID                           46952
IP_SPLIT_RESULT    175.208.131.133
SEQUENCE_PARSE                 <1>
Name: 12592, dtype: object
ID                         46953
IP_SPLIT_RESULT    125.130.12.18
SEQUENCE_PARSE             <132>
Name: 12593, dtype: object
ID                                                             46954
IP_SPLIT_RESULT                                        110.70.58.222
SEQUENCE_PARSE     <1,132,93,132,93,93,92,93,32,93,32,93,32,93,32...
Name: 12594, dtype: object
ID                         46955
IP_SPLIT_RESULT    175.223.48.23
SEQUENCE_PARSE               <1>
Name: 12595, dtype: object
ID                           46956
IP_SPLIT_RESULT    221.167.195.111
SEQUENCE_PARSE                 <1>
Name: 12596, dtype: object
ID                          46957
IP_SPLIT_RESULT    180.230.175.71
SEQUENCE_PARSE                <1>
Name: 12597, dtype: object
ID                         46958
IP_SPLIT_RESULT    117.111.23.92
SEQUENCE_PARSE               <1>
Name: 12598, dtype: object
ID                                                             46959
IP_SPLIT_RESULT                                         110.70.15.39
SEQUENCE_PARSE     <23,1,132,93,132,93,1,132,93,132,93,90,92,89,8...
Name: 12599, dtype: object
ID                                                             46960
IP_SPLIT_RESULT                                       223.62.188.152
SEQUENCE_PARSE     <93,93,32,93,93,32,93,32,93,32,93,32,93,32,93,...
Name: 12600, dtype: object
ID                        46961
IP_SPLIT_RESULT    1.229.124.72
SEQUENCE_PARSE            <5,1>
Name: 12601, dtype: object
ID                           46962
IP_SPLIT_RESULT    218.152.206.203
SEQUENCE_PARSE                 <1>
Name: 12602, dtype: object
ID                         46963
IP_SPLIT_RESULT    39.113.16.102
SEQUENCE_PARSE               <1>
Name: 12603, dtype: object
ID                             46964
IP_SPLIT_RESULT         1.251.100.63
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 12604, dtype: object
ID                                                             46965
IP_SPLIT_RESULT                                         110.70.15.39
SEQUENCE_PARSE     <87,1,93,132,132,93,93,32,93,32,93,32,93,93,32...
Name: 12605, dtype: object
ID                                                             46966
IP_SPLIT_RESULT                                        117.111.2.232
SEQUENCE_PARSE     <1,14,93,93,93,132,132,93,32,93,132,162,132,16...
Name: 12606, dtype: object
ID                           46967
IP_SPLIT_RESULT      110.70.26.249
SEQUENCE_PARSE     <39,41,176,132>
Name: 12607, dtype: object
ID                          46968
IP_SPLIT_RESULT     110.70.26.249
SEQUENCE_PARSE     <164,93,132,1>
Name: 12608, dtype: object
ID                                                             46969
IP_SPLIT_RESULT                                       223.62.169.252
SEQUENCE_PARSE     <1,31,31,113,132,162,132,93,81,14,132,93,14,81...
Name: 12609, dtype: object
ID                         46970
IP_SPLIT_RESULT    163.152.54.77
SEQUENCE_PARSE               <1>
Name: 12610, dtype: object
ID                       46971
IP_SPLIT_RESULT    1.255.24.50
SEQUENCE_PARSE         <1,5,1>
Name: 12611, dtype: object
ID                                                             46972
IP_SPLIT_RESULT                                        61.83.220.220
SEQUENCE_PARSE     <1,132,93,132,93,93,92,87,89,80,30,212,132,93,...
Name: 12612, dtype: object
ID                          46973
IP_SPLIT_RESULT    61.102.234.151
SEQUENCE_PARSE                <1>
Name: 12613, dtype: object
ID                          46974
IP_SPLIT_RESULT    221.145.29.194
SEQUENCE_PARSE                <1>
Name: 12614, dtype: object
ID                          46975
IP_SPLIT_RESULT    221.139.226.74
SEQUENCE_PARSE                <1>
Name: 12615, dtype: object
ID                                                             46976
IP_SPLIT_RESULT                                        61.83.220.220
SEQUENCE_PARSE     <90,92,113,31,31,31,31,113,113,31,113,32,93,32...
Name: 12616, dtype: object
ID                         46977
IP_SPLIT_RESULT    222.108.225.3
SEQUENCE_PARSE           <1,5,1>
Name: 12617, dtype: object
ID                                                             46978
IP_SPLIT_RESULT                                       223.62.163.247
SEQUENCE_PARSE     <1,132,132,1,132,132,93,132,93,93,93,32,93,32,...
Name: 12618, dtype: object
ID                                                             46979
IP_SPLIT_RESULT                                        223.38.11.105
SEQUENCE_PARSE     <1,5,1,5,1,130,130,130,130,130,132,87,189,1,13...
Name: 12619, dtype: object
ID                         46980
IP_SPLIT_RESULT    182.212.20.34
SEQUENCE_PARSE               <1>
Name: 12620, dtype: object
ID                                      46981
IP_SPLIT_RESULT                223.39.140.172
SEQUENCE_PARSE     <1,132,93,132,93,1,31,113>
Name: 12621, dtype: object
ID                                                             46982
IP_SPLIT_RESULT                                        117.111.10.67
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,93,113,132,132,113...
Name: 12622, dtype: object
ID                             46983
IP_SPLIT_RESULT       119.67.178.199
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 12623, dtype: object
ID                                         46984
IP_SPLIT_RESULT                     223.38.11.94
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 12624, dtype: object
ID                       46985
IP_SPLIT_RESULT    27.179.92.7
SEQUENCE_PARSE             <1>
Name: 12625, dtype: object
ID                                          46986
IP_SPLIT_RESULT                   210.125.129.131
SEQUENCE_PARSE     <1,113,132,132,113,113,31,113>
Name: 12626, dtype: object
ID                                                46987
IP_SPLIT_RESULT                           223.62.213.22
SEQUENCE_PARSE     <31,113,132,113,132,1,132,93,132,93>
Name: 12627, dtype: object
ID                                                             46988
IP_SPLIT_RESULT                                        175.223.32.23
SEQUENCE_PARSE     <31,113,113,132,132,93,132,93,93,93,132,132,93...
Name: 12628, dtype: object
ID                        46989
IP_SPLIT_RESULT    223.38.11.94
SEQUENCE_PARSE              <1>
Name: 12629, dtype: object
ID                        46990
IP_SPLIT_RESULT    124.56.41.43
SEQUENCE_PARSE              <1>
Name: 12630, dtype: object
ID                         46991
IP_SPLIT_RESULT    114.206.82.18
SEQUENCE_PARSE               <1>
Name: 12631, dtype: object
ID                                                             46992
IP_SPLIT_RESULT                                      210.125.129.145
SEQUENCE_PARSE     <1,113,132,132,31,113,31,113,113,31,113,113,31...
Name: 12632, dtype: object
ID                         46993
IP_SPLIT_RESULT    210.221.91.61
SEQUENCE_PARSE               <1>
Name: 12633, dtype: object
ID                               46994
IP_SPLIT_RESULT          223.38.11.136
SEQUENCE_PARSE     <31,113,93,132,132>
Name: 12634, dtype: object
ID                          46995
IP_SPLIT_RESULT    112.167.166.27
SEQUENCE_PARSE                <1>
Name: 12635, dtype: object
ID                                                     46996
IP_SPLIT_RESULT                                223.62.11.222
SEQUENCE_PARSE     <1,90,92,87,89,80,30,93,212,132,132,93,1>
Name: 12636, dtype: object
ID                                                             46997
IP_SPLIT_RESULT                                        223.62.22.233
SEQUENCE_PARSE     <5,1,113,132,132,31,113,132,162,166,162,113,31...
Name: 12637, dtype: object
ID                         46998
IP_SPLIT_RESULT    27.124.210.71
SEQUENCE_PARSE          <39,164>
Name: 12638, dtype: object
ID                          46999
IP_SPLIT_RESULT    211.36.141.200
SEQUENCE_PARSE       <1,93,93,93>
Name: 12639, dtype: object
ID                                                             47000
IP_SPLIT_RESULT                                       223.39.131.159
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,93,93,1,132,93,132...
Name: 12640, dtype: object
ID                         47001
IP_SPLIT_RESULT    61.72.169.127
SEQUENCE_PARSE               <1>
Name: 12641, dtype: object
ID                                                  47002
IP_SPLIT_RESULT                           121.144.131.105
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,92>
Name: 12642, dtype: object
ID                         47003
IP_SPLIT_RESULT    175.223.2.133
SEQUENCE_PARSE            <1,93>
Name: 12643, dtype: object
ID                          47004
IP_SPLIT_RESULT    124.49.184.137
SEQUENCE_PARSE                <1>
Name: 12644, dtype: object
ID                          47005
IP_SPLIT_RESULT    211.36.132.249
SEQUENCE_PARSE                <1>
Name: 12645, dtype: object
ID                                                             47006
IP_SPLIT_RESULT                                       175.223.20.178
SEQUENCE_PARSE     <1,132,93,132,93,93,93,1,132,93,132,93,93,93,9...
Name: 12646, dtype: object
ID                                                       47007
IP_SPLIT_RESULT                                  121.143.87.77
SEQUENCE_PARSE     <1,90,92,87,1,132,93,132,93,93,93,93,93,93>
Name: 12647, dtype: object
ID                      47008
IP_SPLIT_RESULT    39.7.47.75
SEQUENCE_PARSE            <1>
Name: 12648, dtype: object
ID                                                  47009
IP_SPLIT_RESULT                            175.197.196.16
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,90,92,90,92>
Name: 12649, dtype: object
ID                                                             47010
IP_SPLIT_RESULT                                        211.109.6.252
SEQUENCE_PARSE     <1,5,1,132,93,132,93,93,132,132,158,160,132,13...
Name: 12650, dtype: object
ID                          47011
IP_SPLIT_RESULT    182.212.48.158
SEQUENCE_PARSE                <1>
Name: 12651, dtype: object
ID                           47012
IP_SPLIT_RESULT    121.144.131.105
SEQUENCE_PARSE     <90,132,93,132>
Name: 12652, dtype: object
ID                                  47013
IP_SPLIT_RESULT            223.33.160.105
SEQUENCE_PARSE     <1,93,132,132,32,93,1>
Name: 12653, dtype: object
ID                         47014
IP_SPLIT_RESULT    115.21.34.143
SEQUENCE_PARSE               <1>
Name: 12654, dtype: object
ID                           47015
IP_SPLIT_RESULT    203.226.208.211
SEQUENCE_PARSE                 <1>
Name: 12655, dtype: object
ID                           47016
IP_SPLIT_RESULT    211.214.209.130
SEQUENCE_PARSE               <1,5>
Name: 12656, dtype: object
ID                        47017
IP_SPLIT_RESULT    116.127.22.3
SEQUENCE_PARSE         <31,113>
Name: 12657, dtype: object
ID                               47018
IP_SPLIT_RESULT           223.38.11.36
SEQUENCE_PARSE     <1,93,132,132,93,1>
Name: 12658, dtype: object
ID                                47019
IP_SPLIT_RESULT             59.9.200.15
SEQUENCE_PARSE     <1,132,93,132,93,93>
Name: 12659, dtype: object
ID                                                             47020
IP_SPLIT_RESULT                                       223.62.163.247
SEQUENCE_PARSE     <132,132,93,132,132,113,113,212,14,113,113,113...
Name: 12660, dtype: object
ID                           47021
IP_SPLIT_RESULT    121.138.136.245
SEQUENCE_PARSE                 <1>
Name: 12661, dtype: object
ID                         47022
IP_SPLIT_RESULT    58.140.209.18
SEQUENCE_PARSE             <5,1>
Name: 12662, dtype: object
ID                          47023
IP_SPLIT_RESULT    58.140.210.172
SEQUENCE_PARSE                <1>
Name: 12663, dtype: object
ID                                       47024
IP_SPLIT_RESULT                  219.255.71.11
SEQUENCE_PARSE     <1,132,113,132,113,113,113>
Name: 12664, dtype: object
ID                                                             47025
IP_SPLIT_RESULT                                      210.125.129.145
SEQUENCE_PARSE     <31,113,31,113,31,113,113,31,113,31,113,31,113...
Name: 12665, dtype: object
ID                         47026
IP_SPLIT_RESULT    175.114.224.7
SEQUENCE_PARSE               <1>
Name: 12666, dtype: object
ID                           47027
IP_SPLIT_RESULT    112.172.255.172
SEQUENCE_PARSE            <31,113>
Name: 12667, dtype: object
ID                          47028
IP_SPLIT_RESULT    211.206.166.53
SEQUENCE_PARSE     <1,90,92,1,93>
Name: 12668, dtype: object
ID                           47029
IP_SPLIT_RESULT       116.36.14.31
SEQUENCE_PARSE     <31,113,31,113>
Name: 12669, dtype: object
ID                                         47030
IP_SPLIT_RESULT                     61.38.255.84
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 12670, dtype: object
ID                           47031
IP_SPLIT_RESULT     223.52.180.173
SEQUENCE_PARSE     <31,113,31,113>
Name: 12671, dtype: object
ID                         47032
IP_SPLIT_RESULT    211.36.159.24
SEQUENCE_PARSE               <1>
Name: 12672, dtype: object
ID                                                             47033
IP_SPLIT_RESULT                                       175.223.18.231
SEQUENCE_PARSE     <1,132,81,132,113,132,113,113,113,31,113,31,11...
Name: 12673, dtype: object
ID                                                          47034
IP_SPLIT_RESULT                                     117.111.15.47
SEQUENCE_PARSE     <31,113,1,32,93,32,132,130,93,132,162,132,162>
Name: 12674, dtype: object
ID                         47035
IP_SPLIT_RESULT    223.62.11.222
SEQUENCE_PARSE              <93>
Name: 12675, dtype: object
ID                                47036
IP_SPLIT_RESULT             39.7.18.194
SEQUENCE_PARSE     <1,31,113,31,113,31>
Name: 12676, dtype: object
ID                         47040
IP_SPLIT_RESULT    121.88.241.86
SEQUENCE_PARSE               <1>
Name: 12677, dtype: object
ID                           47042
IP_SPLIT_RESULT      175.223.3.114
SEQUENCE_PARSE     <93,1,90,92,87>
Name: 12678, dtype: object
ID                          47043
IP_SPLIT_RESULT    210.104.62.156
SEQUENCE_PARSE            <1,5,1>
Name: 12679, dtype: object
ID                                                             48736
IP_SPLIT_RESULT                                       117.111.12.160
SEQUENCE_PARSE     <132,63,93,93,32,30,9,132,132,158,160,93,12,13...
Name: 12680, dtype: object
ID                                                             48737
IP_SPLIT_RESULT                                        182.216.235.2
SEQUENCE_PARSE     <89,113,113,113,113,113,31,113,29,212,113,113,...
Name: 12681, dtype: object
ID                          48738
IP_SPLIT_RESULT    175.223.21.188
SEQUENCE_PARSE       <113,31,113>
Name: 12682, dtype: object
ID                         48739
IP_SPLIT_RESULT    110.70.47.121
SEQUENCE_PARSE           <92,87>
Name: 12683, dtype: object
ID                                                             48740
IP_SPLIT_RESULT                                       106.253.59.212
SEQUENCE_PARSE     <32,93,93,32,93,93,93,32,93,93,93,32,93,132,16...
Name: 12684, dtype: object
ID                                                             48741
IP_SPLIT_RESULT                                       117.111.12.160
SEQUENCE_PARSE     <1,132,132,32,93,166,162,93,32,93,132,162,166,...
Name: 12685, dtype: object
ID                                  48742
IP_SPLIT_RESULT               59.6.203.90
SEQUENCE_PARSE     <93,93,93,93,90,1,5,1>
Name: 12686, dtype: object
ID                                                             48743
IP_SPLIT_RESULT                                        223.38.10.117
SEQUENCE_PARSE     <32,93,132,93,132,93,93,93,93,93,93,32,32,93,3...
Name: 12687, dtype: object
ID                                                             48744
IP_SPLIT_RESULT                                       175.223.10.230
SEQUENCE_PARSE     <93,93,93,93,93,93,93,93,93,93,93,93,93,93,93,...
Name: 12688, dtype: object
ID                                                             48745
IP_SPLIT_RESULT                                       175.223.10.230
SEQUENCE_PARSE     <32,93,32,93,93,32,93,32,93,93,32,93,93,32,93,...
Name: 12689, dtype: object
ID                          48746
IP_SPLIT_RESULT    175.223.21.188
SEQUENCE_PARSE          <113,113>
Name: 12690, dtype: object
ID                        48747
IP_SPLIT_RESULT    1.241.188.74
SEQUENCE_PARSE              <1>
Name: 12691, dtype: object
ID                                       48748
IP_SPLIT_RESULT                 223.62.219.190
SEQUENCE_PARSE     <1,33,164,33,164,33,164,33>
Name: 12692, dtype: object
ID                                 48749
IP_SPLIT_RESULT             117.111.1.59
SEQUENCE_PARSE     <1,113,132,132,132,1>
Name: 12693, dtype: object
ID                                   48750
IP_SPLIT_RESULT            125.186.183.194
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 12694, dtype: object
ID                             48751
IP_SPLIT_RESULT           39.7.59.29
SEQUENCE_PARSE     <132,158,160,164>
Name: 12695, dtype: object
ID                                                             48755
IP_SPLIT_RESULT                                       223.33.178.146
SEQUENCE_PARSE     <180,32,180,93,180,32,180,93,180,32,180,93,180...
Name: 12696, dtype: object
ID                                     48756
IP_SPLIT_RESULT                 14.33.236.29
SEQUENCE_PARSE     <130,132,132,158,160,113>
Name: 12697, dtype: object
ID                         48757
IP_SPLIT_RESULT    117.111.11.32
SEQUENCE_PARSE             <5,1>
Name: 12698, dtype: object
ID                         48758
IP_SPLIT_RESULT    211.36.140.55
SEQUENCE_PARSE               <1>
Name: 12699, dtype: object
ID                           48759
IP_SPLIT_RESULT    221.153.242.125
SEQUENCE_PARSE             <1,5,1>
Name: 12700, dtype: object
ID                           48760
IP_SPLIT_RESULT       110.70.54.63
SEQUENCE_PARSE     <1,93,93,93,93>
Name: 12701, dtype: object
ID                         48761
IP_SPLIT_RESULT    218.209.11.81
SEQUENCE_PARSE      <39,164,164>
Name: 12702, dtype: object
ID                        48762
IP_SPLIT_RESULT    115.21.4.153
SEQUENCE_PARSE              <1>
Name: 12703, dtype: object
ID                         48763
IP_SPLIT_RESULT    223.62.172.10
SEQUENCE_PARSE               <1>
Name: 12704, dtype: object
ID                         48764

ID                        48906
IP_SPLIT_RESULT    110.70.54.17
SEQUENCE_PARSE              <5>
Name: 12847, dtype: object
ID                        48907
IP_SPLIT_RESULT    223.62.10.52
SEQUENCE_PARSE              <1>
Name: 12848, dtype: object
ID                        48908
IP_SPLIT_RESULT    106.51.71.31
SEQUENCE_PARSE              <1>
Name: 12849, dtype: object
ID                          48909
IP_SPLIT_RESULT    58.122.201.168
SEQUENCE_PARSE                <1>
Name: 12850, dtype: object
ID                          48910
IP_SPLIT_RESULT    175.121.88.236
SEQUENCE_PARSE                <1>
Name: 12851, dtype: object
ID                                                             48911
IP_SPLIT_RESULT                                      211.114.122.163
SEQUENCE_PARSE     <1,5,1,132,1,5,1,132,1,5,1,5,1,5,1,5,1,5,1,5,1...
Name: 12852, dtype: object
ID                           48912
IP_SPLIT_RESULT    172.114.161.220
SEQUENCE_PARSE                 <1>
Name: 12853, dtype: object
ID                           48913
IP_SPLIT_RESULT    175.116.197.140
SEQUENCE_PARSE                 <1>
Name: 12854, dtype: object
ID                                                             48914
IP_SPLIT_RESULT                                       223.33.164.226
SEQUENCE_PARSE     <1,132,93,132,39,164,164,132,93,132,113,132,1,...
Name: 12855, dtype: object
ID                                                             48915
IP_SPLIT_RESULT                                       223.33.164.226
SEQUENCE_PARSE     <130,90,29,132,113,132,31,113,113,113,31,132,1...
Name: 12856, dtype: object
ID                                                          48916
IP_SPLIT_RESULT                                     220.118.90.41
SEQUENCE_PARSE     <1,132,132,132,158,160,164,132,158,160,132,81>
Name: 12857, dtype: object
ID                       48917
IP_SPLIT_RESULT    118.33.38.8
SEQUENCE_PARSE             <1>
Name: 12858, dtype: object
ID                         48918
IP_SPLIT_RESULT    175.223.20.45
SEQUENCE_PARSE             <5,1>
Name: 12859, dtype: object
ID                                                             48919
IP_SPLIT_RESULT                                       223.62.163.104
SEQUENCE_PARSE     <31,113,93,93,132,162,166,162,132,132,31,113,1...
Name: 12860, dtype: object
ID                           48920
IP_SPLIT_RESULT    222.237.112.243
SEQUENCE_PARSE             <1,5,1>
Name: 12861, dtype: object
ID                          48921
IP_SPLIT_RESULT    211.36.147.187
SEQUENCE_PARSE                <1>
Name: 12862, dtype: object
ID                          48922
IP_SPLIT_RESULT    223.62.172.218
SEQUENCE_PARSE                <5>
Name: 12863, dtype: object
ID                                                             48923
IP_SPLIT_RESULT                                      203.234.230.198
SEQUENCE_PARSE     <1,63,89,195,132,132,1,93,1,113,132,132,113,31...
Name: 12864, dtype: object
ID                         48924
IP_SPLIT_RESULT    211.36.149.72
SEQUENCE_PARSE               <1>
Name: 12865, dtype: object
ID                                              48925
IP_SPLIT_RESULT                          117.111.24.2
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,1>
Name: 12866, dtype: object
ID                          48926
IP_SPLIT_RESULT    115.140.227.62
SEQUENCE_PARSE                <1>
Name: 12867, dtype: object
ID                                                             48927
IP_SPLIT_RESULT                                       211.36.139.210
SEQUENCE_PARSE     <5,1,132,113,132,31,113,113,31,113,113,113,113...
Name: 12868, dtype: object
ID                          48928
IP_SPLIT_RESULT    211.209.220.44
SEQUENCE_PARSE                <1>
Name: 12869, dtype: object
ID                                                             48929
IP_SPLIT_RESULT                                        117.111.1.168
SEQUENCE_PARSE     <1,113,113,31,113,113,113,31,113,113,113,113,3...
Name: 12870, dtype: object
ID                                                             48930
IP_SPLIT_RESULT                                        117.111.1.168
SEQUENCE_PARSE     <132,113,132,1,132,93,132,132,113,132,113,113,...
Name: 12871, dtype: object
ID                                                             48931
IP_SPLIT_RESULT                                       223.62.173.132
SEQUENCE_PARSE     <1,164,1,132,113,132,113,113,93,32,93,132,162,...
Name: 12872, dtype: object
ID                         48932
IP_SPLIT_RESULT    110.10.38.247
SEQUENCE_PARSE               <1>
Name: 12873, dtype: object
ID                                                             48933
IP_SPLIT_RESULT                                       125.183.27.143
SEQUENCE_PARSE     <1,90,92,87,89,80,26,1,130,130,130,132,81,212,...
Name: 12874, dtype: object
ID                           48934
IP_SPLIT_RESULT    121.167.126.239
SEQUENCE_PARSE        <1,25,90,92>
Name: 12875, dtype: object
ID                                                             48935
IP_SPLIT_RESULT                                          223.38.8.97
SEQUENCE_PARSE     <1,132,132,93,93,1,90,92,113,113,113,31,113,11...
Name: 12876, dtype: object
ID                                                             48936
IP_SPLIT_RESULT                                          223.62.8.80
SEQUENCE_PARSE     <132,132,113,31,113,31,113,113,31,113,132,162,...
Name: 12877, dtype: object
ID                                                             48937
IP_SPLIT_RESULT                                       223.62.173.165
SEQUENCE_PARSE     <1,132,93,132,93,93,132,132,158,160,132,132,11...
Name: 12878, dtype: object
ID                         48938
IP_SPLIT_RESULT    223.38.11.155
SEQUENCE_PARSE               <1>
Name: 12879, dtype: object
ID                       48939
IP_SPLIT_RESULT    1.255.24.49
SEQUENCE_PARSE             <5>
Name: 12880, dtype: object
ID                           48940
IP_SPLIT_RESULT    222.237.112.243
SEQUENCE_PARSE         <1,5,1,5,1>
Name: 12881, dtype: object
ID                                                    48941
IP_SPLIT_RESULT                               117.111.1.106
SEQUENCE_PARSE     <1,90,92,93,14,93,1,132,93,132,93,93,93>
Name: 12882, dtype: object
ID                                                             48942
IP_SPLIT_RESULT                                        110.70.58.231
SEQUENCE_PARSE     <30,132,93,132,93,93,93,93,93,93,93,132,32,93,...
Name: 12883, dtype: object
ID                           48943
IP_SPLIT_RESULT    106.243.156.248
SEQUENCE_PARSE     <1,5,1,5,1,132>
Name: 12884, dtype: object
ID                         48944
IP_SPLIT_RESULT    118.37.248.27
SEQUENCE_PARSE               <1>
Name: 12885, dtype: object
ID                                                             48945
IP_SPLIT_RESULT                                       218.152.156.37
SEQUENCE_PARSE     <31,113,39,164,63,89,195,132,132,158,160,164,3...
Name: 12886, dtype: object
ID                      48946
IP_SPLIT_RESULT    39.7.19.28
SEQUENCE_PARSE            <5>
Name: 12887, dtype: object
ID                         48947
IP_SPLIT_RESULT    112.168.62.23
SEQUENCE_PARSE               <1>
Name: 12888, dtype: object
ID                          48948
IP_SPLIT_RESULT    218.55.221.128
SEQUENCE_PARSE                <1>
Name: 12889, dtype: object
ID                                   48949
IP_SPLIT_RESULT               59.16.176.48
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 12890, dtype: object
ID                                                             48950
IP_SPLIT_RESULT                                        223.62.162.51
SEQUENCE_PARSE     <1,132,93,132,1,132,113,132,113,113,162,113,16...
Name: 12891, dtype: object
ID                        48951
IP_SPLIT_RESULT    58.230.13.71
SEQUENCE_PARSE              <1>
Name: 12892, dtype: object
ID                          48952
IP_SPLIT_RESULT    182.227.146.46
SEQUENCE_PARSE                <1>
Name: 12893, dtype: object
ID                        48953
IP_SPLIT_RESULT    183.99.95.30
SEQUENCE_PARSE              <1>
Name: 12894, dtype: object
ID                          48954
IP_SPLIT_RESULT     118.220.76.55
SEQUENCE_PARSE     <1,132,93,132>
Name: 12895, dtype: object
ID                                                 48955
IP_SPLIT_RESULT                           125.183.27.143
SEQUENCE_PARSE     <87,189,132,93,93,93,212,14,93,93,32>
Name: 12896, dtype: object
ID                           48956
IP_SPLIT_RESULT    114.204.190.152
SEQUENCE_PARSE      <1,132,93,132>
Name: 12897, dtype: object
ID                         48957
IP_SPLIT_RESULT    223.38.10.203
SEQUENCE_PARSE               <5>
Name: 12898, dtype: object
ID                           48958
IP_SPLIT_RESULT    211.114.117.189
SEQUENCE_PARSE                 <1>
Name: 12899, dtype: object
ID                         48959
IP_SPLIT_RESULT    223.39.141.80
SEQUENCE_PARSE               <1>
Name: 12900, dtype: object
ID                          48960
IP_SPLIT_RESULT    121.157.207.39
SEQUENCE_PARSE                <1>
Name: 12901, dtype: object
ID                                48961
IP_SPLIT_RESULT         121.166.147.129
SEQUENCE_PARSE     <1,132,93,132,93,93>
Name: 12902, dtype: object
ID                          48962
IP_SPLIT_RESULT    221.140.15.122
SEQUENCE_PARSE                <1>
Name: 12903, dtype: object
ID                          48963
IP_SPLIT_RESULT    121.129.106.42
SEQUENCE_PARSE                <1>
Name: 12904, dtype: object
ID                           48964
IP_SPLIT_RESULT    121.166.147.129
SEQUENCE_PARSE           <90,92,1>
Name: 12905, dtype: object
ID                         48965
IP_SPLIT_RESULT    1.224.152.214
SEQUENCE_PARSE            <1,90>
Name: 12906, dtype: object
ID                                                  48966
IP_SPLIT_RESULT                              223.38.10.69
SEQUENCE_PARSE     <5,1,132,113,31,113,31,113,113,31,113>
Name: 12907, dtype: object
ID                                          48967
IP_SPLIT_RESULT                      223.62.22.42
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,1>
Name: 12908, dtype: object
ID                          48968
IP_SPLIT_RESULT    223.52.133.245
SEQUENCE_PARSE           <31,113>
Name: 12909, dtype: object
ID                                                             48969
IP_SPLIT_RESULT                                        124.50.35.177
SEQUENCE_PARSE     <1,93,132,132,132,113,132,113,113,113,93,132,1...
Name: 12910, dtype: object
ID                                                            48970
IP_SPLIT_RESULT                                      211.36.130.179
SEQUENCE_PARSE     <1,132,81,132,132,81,132,158,160,132,132,81,132>
Name: 12911, dtype: object
ID                                             48971
IP_SPLIT_RESULT                        183.99.19.200
SEQUENCE_PARSE     <1,32,31,1,18,18,18,29,30,1,18,1>
Name: 12912, dtype: object
ID                          48972
IP_SPLIT_RESULT    223.62.222.226
SEQUENCE_PARSE             <1,45>
Name: 12913, dtype: object
ID                                      48973
IP_SPLIT_RESULT                    39.7.58.55
SEQUENCE_PARSE     <29,113,29,113,132,31,113>
Name: 12914, dtype: object
ID                                                   48974
IP_SPLIT_RESULT                                 39.7.58.55
SEQUENCE_PARSE     <132,132,113,31,113,29,132,113,132,113>
Name: 12915, dtype: object
ID                          48975
IP_SPLIT_RESULT    182.221.233.26
SEQUENCE_PARSE                <1>
Name: 12916, dtype: object
ID                                                             48976
IP_SPLIT_RESULT                                         223.38.8.225
SEQUENCE_PARSE     <1,31,113,31,113,31,113,31,113,31,113,31,113,3...
Name: 12917, dtype: object
ID                          48977
IP_SPLIT_RESULT    211.36.134.185
SEQUENCE_PARSE                <1>
Name: 12918, dtype: object
ID                                           48978
IP_SPLIT_RESULT                      1.224.211.153
SEQUENCE_PARSE     <1,93,132,132,132,93,132,93,93>
Name: 12919, dtype: object
ID                          48979
IP_SPLIT_RESULT    223.62.172.125
SEQUENCE_PARSE                <1>
Name: 12920, dtype: object
ID                          48980
IP_SPLIT_RESULT    211.36.134.185
SEQUENCE_PARSE               <90>
Name: 12921, dtype: object
ID                          48981
IP_SPLIT_RESULT    125.136.228.11
SEQUENCE_PARSE     <1,132,93,132>
Name: 12922, dtype: object
ID                          48982
IP_SPLIT_RESULT    117.111.21.114
SEQUENCE_PARSE                <1>
Name: 12923, dtype: object
ID                          48983
IP_SPLIT_RESULT    182.226.213.98
SEQUENCE_PARSE                <1>
Name: 12924, dtype: object
ID                          48984
IP_SPLIT_RESULT    218.238.230.59
SEQUENCE_PARSE                <1>
Name: 12925, dtype: object
ID                                                             48985
IP_SPLIT_RESULT                                          223.62.8.80
SEQUENCE_PARSE     <132,132,113,132,132,158,160,132,132,113,1,30,...
Name: 12926, dtype: object
ID                        48986
IP_SPLIT_RESULT    119.64.44.39
SEQUENCE_PARSE              <1>
Name: 12927, dtype: object
ID                          48987
IP_SPLIT_RESULT    211.246.69.209
SEQUENCE_PARSE                <1>
Name: 12928, dtype: object
ID                          48988
IP_SPLIT_RESULT    116.255.93.233
SEQUENCE_PARSE           <39,164>
Name: 12929, dtype: object
ID                          48989
IP_SPLIT_RESULT    211.36.148.118
SEQUENCE_PARSE                <1>
Name: 12930, dtype: object
ID                                                             48990
IP_SPLIT_RESULT                                       116.255.93.233
SEQUENCE_PARSE     <63,89,195,132,132,132,93,39,164,63,164,39,164...
Name: 12931, dtype: object
ID                       48991
IP_SPLIT_RESULT    39.7.47.230
SEQUENCE_PARSE             <1>
Name: 12932, dtype: object
ID                         48992
IP_SPLIT_RESULT    61.72.187.108
SEQUENCE_PARSE       <1,5,1,132>
Name: 12933, dtype: object
ID                                              48993
IP_SPLIT_RESULT                        121.141.16.239
SEQUENCE_PARSE     <31,113,93,132,81,31,113,31,113,1>
Name: 12934, dtype: object
ID                         48994
IP_SPLIT_RESULT    119.199.78.93
SEQUENCE_PARSE               <1>
Name: 12935, dtype: object
ID                                                             48995
IP_SPLIT_RESULT                                        223.62.11.106
SEQUENCE_PARSE     <1,90,92,87,89,80,24,212,132,212,132,212,132,2...
Name: 12936, dtype: object
ID                                                             48996
IP_SPLIT_RESULT                                        112.161.87.85
SEQUENCE_PARSE     <5,1,132,93,132,93,93,132,93,132,132,113,132,1...
Name: 12937, dtype: object
ID                          48997
IP_SPLIT_RESULT      211.36.134.5
SEQUENCE_PARSE     <1,93,132,132>
Name: 12938, dtype: object
ID                                         48998
IP_SPLIT_RESULT                      39.7.47.225
SEQUENCE_PARSE     <5,1,132,81,132,93,81,132,81>
Name: 12939, dtype: object
ID                          48999
IP_SPLIT_RESULT    223.62.172.218
SEQUENCE_PARSE                <5>
Name: 12940, dtype: object
ID                          49000
IP_SPLIT_RESULT    120.142.187.58
SEQUENCE_PARSE              <5,1>
Name: 12941, dtype: object
ID                                                             49001
IP_SPLIT_RESULT                                        112.161.87.85
SEQUENCE_PARSE     <1,132,132,132,132,132,132,10,132,89,93,93,14,...
Name: 12942, dtype: object
ID                                                             49002
IP_SPLIT_RESULT                                          110.70.51.7
SEQUENCE_PARSE     <1,87,89,32,93,1,164,132,158,160,113,132,158,1...
Name: 12943, dtype: object
ID                      49003
IP_SPLIT_RESULT    39.7.19.28
SEQUENCE_PARSE            <5>
Name: 12944, dtype: object
ID                                                             49004
IP_SPLIT_RESULT                                        1.225.186.148
SEQUENCE_PARSE     <1,30,93,132,132,132,132,158,160,132,158,160,1...
Name: 12945, dtype: object
ID                                                             49005
IP_SPLIT_RESULT                                         1.225.76.127
SEQUENCE_PARSE     <32,93,132,132,158,160,164,132,158,160,132,33,...
Name: 12946, dtype: object
ID                          49006
IP_SPLIT_RESULT    223.33.165.154
SEQUENCE_PARSE                <1>
Name: 12947, dtype: object
ID                           49007
IP_SPLIT_RESULT    125.134.207.248
SEQUENCE_PARSE                 <1>
Name: 12948, dtype: object
ID                                         49008
IP_SPLIT_RESULT                    116.126.52.50
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 12949, dtype: object
ID                                                             49009
IP_SPLIT_RESULT                                         1.209.175.48
SEQUENCE_PARSE     <1,31,113,1,132,132,113,132,113,132,113,31,113...
Name: 12950, dtype: object
ID                        49010
IP_SPLIT_RESULT    110.70.59.68
SEQUENCE_PARSE              <5>
Name: 12951, dtype: object
ID                         49011
IP_SPLIT_RESULT    124.56.175.76
SEQUENCE_PARSE               <1>
Name: 12952, dtype: object
ID                        49012
IP_SPLIT_RESULT    124.62.93.24
SEQUENCE_PARSE              <1>
Name: 12953, dtype: object
ID                         49013
IP_SPLIT_RESULT    211.108.78.71
SEQUENCE_PARSE               <1>
Name: 12954, dtype: object
ID                          49014
IP_SPLIT_RESULT    122.37.100.148
SEQUENCE_PARSE                <1>
Name: 12955, dtype: object
ID                                   49015
IP_SPLIT_RESULT            117.123.108.100
SEQUENCE_PARSE     <1,132,93,132,93,93,93>
Name: 12956, dtype: object
ID                        49016
IP_SPLIT_RESULT    211.36.134.5
SEQUENCE_PARSE           <1,93>
Name: 12957, dtype: object
ID                                                             49017
IP_SPLIT_RESULT                                        223.62.21.220
SEQUENCE_PARSE     <1,132,81,132,132,81,113,132,81,132,132,113,11...
Name: 12958, dtype: object
ID                           49018
IP_SPLIT_RESULT    114.204.190.152
SEQUENCE_PARSE                 <1>
Name: 12959, dtype: object
ID                                                             49019
IP_SPLIT_RESULT                                        117.111.1.254
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,1,132,93,132...
Name: 12960, dtype: object
ID                                                        49020
IP_SPLIT_RESULT                                 117.123.108.100
SEQUENCE_PARSE     <132,113,132,113,113,113,113,113,132,93,132>
Name: 12961, dtype: object
ID                         49021
IP_SPLIT_RESULT    121.160.90.20
SEQUENCE_PARSE               <1>
Name: 12962, dtype: object
ID                                                   49022
IP_SPLIT_RESULT                             175.223.22.172
SEQUENCE_PARSE     <29,132,113,132,113,31,113,113,113,113>
Name: 12963, dtype: object
ID                         49023
IP_SPLIT_RESULT    223.57.17.211
SEQUENCE_PARSE               <1>
Name: 12964, dtype: object
ID                          49024
IP_SPLIT_RESULT    117.111.10.181
SEQUENCE_PARSE                <1>
Name: 12965, dtype: object
ID                                                             49025
IP_SPLIT_RESULT                                        123.111.91.35
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,132,93,132,93,...
Name: 12966, dtype: object
ID                                                             49026
IP_SPLIT_RESULT                                         223.62.10.85
SEQUENCE_PARSE     <32,93,93,93,93,113,113,31,113,113,31,113,31,1...
Name: 12967, dtype: object
ID                                                             49027

ID                         49175
IP_SPLIT_RESULT    42.82.226.170
SEQUENCE_PARSE               <1>
Name: 13116, dtype: object
ID                                                   49176
IP_SPLIT_RESULT                             175.223.39.186
SEQUENCE_PARSE     <32,32,32,93,132,132,93,93,93,93,93,93>
Name: 13117, dtype: object
ID                        49177
IP_SPLIT_RESULT    1.242.106.59
SEQUENCE_PARSE              <1>
Name: 13118, dtype: object
ID                         49178
IP_SPLIT_RESULT    180.230.89.10
SEQUENCE_PARSE               <1>
Name: 13119, dtype: object
ID                          49179
IP_SPLIT_RESULT    182.216.63.252
SEQUENCE_PARSE                <1>
Name: 13120, dtype: object
ID                        49180
IP_SPLIT_RESULT    59.0.150.183
SEQUENCE_PARSE              <1>
Name: 13121, dtype: object
ID                          49181
IP_SPLIT_RESULT    223.62.202.234
SEQUENCE_PARSE             <1,32>
Name: 13122, dtype: object
ID                                                             49182
IP_SPLIT_RESULT                                         223.62.21.66
SEQUENCE_PARSE     <1,93,132,132,93,132,93,93,93,1,132,93,132,93,93>
Name: 13123, dtype: object
ID                                      49183
IP_SPLIT_RESULT                 175.223.45.54
SEQUENCE_PARSE     <1,132,93,132,93,93,87,89>
Name: 13124, dtype: object
ID                               49184
IP_SPLIT_RESULT           122.34.42.42
SEQUENCE_PARSE     <1,132,132,158,160>
Name: 13125, dtype: object
ID                          49185
IP_SPLIT_RESULT    116.36.245.109
SEQUENCE_PARSE                <1>
Name: 13126, dtype: object
ID                          49186
IP_SPLIT_RESULT    116.125.105.65
SEQUENCE_PARSE                <1>
Name: 13127, dtype: object
ID                                                             49187
IP_SPLIT_RESULT                                        175.223.45.54
SEQUENCE_PARSE     <1,90,92,80,30,212,132,93,132,32,93,93,93,93,3...
Name: 13128, dtype: object
ID                          49188
IP_SPLIT_RESULT    49.143.190.156
SEQUENCE_PARSE                <1>
Name: 13129, dtype: object
ID                          49189
IP_SPLIT_RESULT    118.37.207.183
SEQUENCE_PARSE            <1,5,1>
Name: 13130, dtype: object
ID                           49190
IP_SPLIT_RESULT    121.170.231.157
SEQUENCE_PARSE                 <1>
Name: 13131, dtype: object
ID                                                             49191
IP_SPLIT_RESULT                                      124.197.207.151
SEQUENCE_PARSE     <1,132,113,132,113,31,113,113,113,31,113,132,1...
Name: 13132, dtype: object
ID                        49192
IP_SPLIT_RESULT    58.235.41.36
SEQUENCE_PARSE              <1>
Name: 13133, dtype: object
ID                                                     49193
IP_SPLIT_RESULT                              221.138.212.156
SEQUENCE_PARSE     <29,113,132,132,132,113,132,31,113,32,93>
Name: 13134, dtype: object
ID                         49194
IP_SPLIT_RESULT    61.70.245.134
SEQUENCE_PARSE               <1>
Name: 13135, dtype: object
ID                                                             49195
IP_SPLIT_RESULT                                        223.38.10.147
SEQUENCE_PARSE     <1,90,92,87,1,132,93,132,132,132,158,160,164,1...
Name: 13136, dtype: object
ID                                                             49196
IP_SPLIT_RESULT                                      182.221.248.218
SEQUENCE_PARSE     <1,132,132,158,160,93,132,158,160,93,132,158,1...
Name: 13137, dtype: object
ID                              49197
IP_SPLIT_RESULT        175.223.19.122
SEQUENCE_PARSE     <1,33,164,164,164>
Name: 13138, dtype: object
ID                          49198
IP_SPLIT_RESULT    175.223.45.102
SEQUENCE_PARSE     <1,93,132,132>
Name: 13139, dtype: object
ID                                                             49199
IP_SPLIT_RESULT                                        175.223.20.27
SEQUENCE_PARSE     <1,132,93,132,1,132,93,132,93,90,87,89,113,14,...
Name: 13140, dtype: object
ID                          49200
IP_SPLIT_RESULT    218.239.98.193
SEQUENCE_PARSE     <1,113,31,113>
Name: 13141, dtype: object
ID                                 49201
IP_SPLIT_RESULT             117.111.2.23
SEQUENCE_PARSE     <132,132,93,30,132,1>
Name: 13142, dtype: object
ID                                                             49202
IP_SPLIT_RESULT                                        175.223.3.243
SEQUENCE_PARSE     <31,130,130,130,130,130,130,130,130,113,132,13...
Name: 13143, dtype: object
ID                          49203
IP_SPLIT_RESULT    112.151.39.240
SEQUENCE_PARSE                <1>
Name: 13144, dtype: object
ID                                                             49204
IP_SPLIT_RESULT                                        175.223.3.243
SEQUENCE_PARSE     <113,1,132,113,132,113,130,31,113,31,113,31,11...
Name: 13145, dtype: object
ID                          49205
IP_SPLIT_RESULT    222.106.128.51
SEQUENCE_PARSE                <1>
Name: 13146, dtype: object
ID                                                             49206
IP_SPLIT_RESULT                                         122.37.63.64
SEQUENCE_PARSE     <113,31,113,113,93,113,113,1,113,132,132,31,11...
Name: 13147, dtype: object
ID                           49207
IP_SPLIT_RESULT    182.216.242.177
SEQUENCE_PARSE                 <1>
Name: 13148, dtype: object
ID                                49208
IP_SPLIT_RESULT          49.166.204.219
SEQUENCE_PARSE     <1,132,93,132,93,93>
Name: 13149, dtype: object
ID                                                             49209
IP_SPLIT_RESULT                                       175.223.37.167
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,132,93,132,93,8,11...
Name: 13150, dtype: object
ID                                                             49210
IP_SPLIT_RESULT                                      175.211.162.159
SEQUENCE_PARSE     <29,132,113,132,113,113,113,113,31,113,29,132,...
Name: 13151, dtype: object
ID                           49211
IP_SPLIT_RESULT    112.153.179.158
SEQUENCE_PARSE                 <1>
Name: 13152, dtype: object
ID                          49212
IP_SPLIT_RESULT    125.179.237.83
SEQUENCE_PARSE                <1>
Name: 13153, dtype: object
ID                          49213
IP_SPLIT_RESULT    49.170.160.224
SEQUENCE_PARSE                <1>
Name: 13154, dtype: object
ID                        49214
IP_SPLIT_RESULT    42.82.227.35
SEQUENCE_PARSE              <1>
Name: 13155, dtype: object
ID                        49215
IP_SPLIT_RESULT    49.165.2.161
SEQUENCE_PARSE              <1>
Name: 13156, dtype: object
ID                          49216
IP_SPLIT_RESULT    117.111.23.157
SEQUENCE_PARSE                <1>
Name: 13157, dtype: object
ID                                                             49217
IP_SPLIT_RESULT                                       175.223.27.212
SEQUENCE_PARSE     <29,132,113,132,31,113,113,31,113,113,113,31,1...
Name: 13158, dtype: object
ID                          49218
IP_SPLIT_RESULT    117.111.10.157
SEQUENCE_PARSE          <1,32,93>
Name: 13159, dtype: object
ID                         49219
IP_SPLIT_RESULT    122.37.253.15
SEQUENCE_PARSE               <1>
Name: 13160, dtype: object
ID                                        49220
IP_SPLIT_RESULT                  125.141.73.147
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93>
Name: 13161, dtype: object
ID                         49221
IP_SPLIT_RESULT    223.62.11.123
SEQUENCE_PARSE           <1,132>
Name: 13162, dtype: object
ID                           49222
IP_SPLIT_RESULT    218.147.203.227
SEQUENCE_PARSE                 <1>
Name: 13163, dtype: object
ID                        49223
IP_SPLIT_RESULT    61.99.128.15
SEQUENCE_PARSE              <1>
Name: 13164, dtype: object
ID                                                             49224
IP_SPLIT_RESULT                                        118.34.25.213
SEQUENCE_PARSE     <1,90,92,87,89,1,93,130,93,132,113,132,113,1,2...
Name: 13165, dtype: object
ID                                        49225
IP_SPLIT_RESULT                  221.164.29.115
SEQUENCE_PARSE     <1,132,93,132,93,90,92,1,90>
Name: 13166, dtype: object
ID                                  49226
IP_SPLIT_RESULT            223.33.153.251
SEQUENCE_PARSE     <1,132,93,132,93,93,1>
Name: 13167, dtype: object
ID                        49227
IP_SPLIT_RESULT    61.75.164.52
SEQUENCE_PARSE              <1>
Name: 13168, dtype: object
ID                          49228
IP_SPLIT_RESULT    175.123.195.85
SEQUENCE_PARSE                <1>
Name: 13169, dtype: object
ID                          49229
IP_SPLIT_RESULT    39.121.114.203
SEQUENCE_PARSE                <1>
Name: 13170, dtype: object
ID                          49230
IP_SPLIT_RESULT    211.248.13.183
SEQUENCE_PARSE                <1>
Name: 13171, dtype: object
ID                          49231
IP_SPLIT_RESULT    125.189.48.161
SEQUENCE_PARSE            <32,93>
Name: 13172, dtype: object
ID                         49232
IP_SPLIT_RESULT    161.122.72.29
SEQUENCE_PARSE           <1,5,1>
Name: 13173, dtype: object
ID                           49233
IP_SPLIT_RESULT    188.167.253.133
SEQUENCE_PARSE                 <1>
Name: 13174, dtype: object
ID                           49234
IP_SPLIT_RESULT    116.125.202.211
SEQUENCE_PARSE                 <1>
Name: 13175, dtype: object
ID                      49235
IP_SPLIT_RESULT    1.11.2.252
SEQUENCE_PARSE            <1>
Name: 13176, dtype: object
ID                        49236
IP_SPLIT_RESULT    1.240.35.185
SEQUENCE_PARSE              <1>
Name: 13177, dtype: object
ID                                                        49237
IP_SPLIT_RESULT                                    223.62.22.77
SEQUENCE_PARSE     <1,90,92,113,132,132,132,93,132,93,93,93,93>
Name: 13178, dtype: object
ID                                                             49238
IP_SPLIT_RESULT                                       223.62.219.190
SEQUENCE_PARSE     <32,93,1,132,113,132,113,31,113,113,31,113,113...
Name: 13179, dtype: object
ID                         49239
IP_SPLIT_RESULT    222.102.40.49
SEQUENCE_PARSE               <1>
Name: 13180, dtype: object
ID                        49240
IP_SPLIT_RESULT    58.140.22.62
SEQUENCE_PARSE              <1>
Name: 13181, dtype: object
ID                                                             49241
IP_SPLIT_RESULT                                       175.223.27.212
SEQUENCE_PARSE     <113,31,113,31,113,113,31,113,113,31,113,31,11...
Name: 13182, dtype: object
ID                         49242
IP_SPLIT_RESULT    14.52.251.131
SEQUENCE_PARSE               <1>
Name: 13183, dtype: object
ID                           49243
IP_SPLIT_RESULT    123.212.148.126
SEQUENCE_PARSE        <1,90,92,87>
Name: 13184, dtype: object
ID                                         49244
IP_SPLIT_RESULT                  125.185.229.171
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93>
Name: 13185, dtype: object
ID                          49245
IP_SPLIT_RESULT    58.122.239.110
SEQUENCE_PARSE                <1>
Name: 13186, dtype: object
ID                                 49246
IP_SPLIT_RESULT           223.39.149.110
SEQUENCE_PARSE     <33,164,1,90,1,90,92>
Name: 13187, dtype: object
ID                            49247
IP_SPLIT_RESULT      118.221.182.41
SEQUENCE_PARSE     <29,132,113,132>
Name: 13188, dtype: object
ID                          49248
IP_SPLIT_RESULT    222.110.206.26
SEQUENCE_PARSE                <1>
Name: 13189, dtype: object
ID                                                             49249
IP_SPLIT_RESULT                                      123.212.148.126
SEQUENCE_PARSE     <89,80,29,212,132,113,132,132,10,212,132,113,1...
Name: 13190, dtype: object
ID                          49250
IP_SPLIT_RESULT    219.249.175.55
SEQUENCE_PARSE                <1>
Name: 13191, dtype: object
ID                        49251
IP_SPLIT_RESULT    175.223.32.3
SEQUENCE_PARSE            <5,1>
Name: 13192, dtype: object
ID                        49252
IP_SPLIT_RESULT    59.17.242.46
SEQUENCE_PARSE              <1>
Name: 13193, dtype: object
ID                          49253
IP_SPLIT_RESULT    49.165.137.111
SEQUENCE_PARSE                <1>
Name: 13194, dtype: object
ID                             49254
IP_SPLIT_RESULT        180.69.116.31
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 13195, dtype: object
ID                          49255
IP_SPLIT_RESULT    126.253.100.53
SEQUENCE_PARSE                <1>
Name: 13196, dtype: object
ID                           49256
IP_SPLIT_RESULT    121.135.134.229
SEQUENCE_PARSE                 <1>
Name: 13197, dtype: object
ID                          49257
IP_SPLIT_RESULT    58.140.210.242
SEQUENCE_PARSE                <1>
Name: 13198, dtype: object
ID                       49258
IP_SPLIT_RESULT    59.25.57.24
SEQUENCE_PARSE             <1>
Name: 13199, dtype: object
ID                                                    49259
IP_SPLIT_RESULT                              221.157.162.72
SEQUENCE_PARSE     <29,132,113,132,130,132,113,132,113,113>
Name: 13200, dtype: object
ID                                         49260
IP_SPLIT_RESULT                    180.69.116.31
SEQUENCE_PARSE     <93,93,1,132,93,132,93,93,93>
Name: 13201, dtype: object
ID                                49261
IP_SPLIT_RESULT         125.132.234.220
SEQUENCE_PARSE     <1,93,132,132,93,93>
Name: 13202, dtype: object
ID                         49262
IP_SPLIT_RESULT    116.40.228.61
SEQUENCE_PARSE               <1>
Name: 13203, dtype: object
ID                          49263
IP_SPLIT_RESULT    219.248.103.39
SEQUENCE_PARSE                <1>
Name: 13204, dtype: object
ID                                                             49264
IP_SPLIT_RESULT                                       223.62.216.170
SEQUENCE_PARSE     <1,32,93,93,93,32,93,32,93,32,93,32,93,32,93,9...
Name: 13205, dtype: object
ID                         49265
IP_SPLIT_RESULT    197.239.7.105
SEQUENCE_PARSE           <1,5,1>
Name: 13206, dtype: object
ID                       49266
IP_SPLIT_RESULT    124.5.64.24
SEQUENCE_PARSE           <5,1>
Name: 13207, dtype: object
ID                          49267
IP_SPLIT_RESULT    218.235.108.32
SEQUENCE_PARSE                <1>
Name: 13208, dtype: object
ID                                       49268
IP_SPLIT_RESULT                  223.55.205.69
SEQUENCE_PARSE     <5,1,132,93,132,132,93,132>
Name: 13209, dtype: object
ID                                                    49269
IP_SPLIT_RESULT                               223.38.10.235
SEQUENCE_PARSE     <31,29,29,132,113,132,113,31,113,31,113>
Name: 13210, dtype: object
ID                              49270
IP_SPLIT_RESULT         223.38.10.235
SEQUENCE_PARSE     <113,1,132,93,132>
Name: 13211, dtype: object
ID                           49271
IP_SPLIT_RESULT    218.235.192.184
SEQUENCE_PARSE                 <1>
Name: 13212, dtype: object
ID                                                             49272
IP_SPLIT_RESULT                                       223.62.219.201
SEQUENCE_PARSE     <31,113,31,113,132,162,39,164,1,132,93,132,93,...
Name: 13213, dtype: object
ID                                                             49273
IP_SPLIT_RESULT                                          39.7.59.165
SEQUENCE_PARSE     <1,29,132,113,132,31,113,29,132,113,132,113,31...
Name: 13214, dtype: object
ID                          49274
IP_SPLIT_RESULT    175.214.163.43
SEQUENCE_PARSE                <1>
Name: 13215, dtype: object
ID                                                49275
IP_SPLIT_RESULT                         175.211.162.159
SEQUENCE_PARSE     <132,162,132,162,132,113,132,31,113>
Name: 13216, dtype: object
ID                           49276
IP_SPLIT_RESULT    119.196.210.195
SEQUENCE_PARSE             <1,5,1>
Name: 13217, dtype: object
ID                         49277
IP_SPLIT_RESULT    110.14.67.107
SEQUENCE_PARSE               <1>
Name: 13218, dtype: object
ID                           49278
IP_SPLIT_RESULT    180.229.138.188
SEQUENCE_PARSE                 <1>
Name: 13219, dtype: object
ID                      49279
IP_SPLIT_RESULT    39.7.58.98
SEQUENCE_PARSE            <1>
Name: 13220, dtype: object
ID                        49280
IP_SPLIT_RESULT    223.38.8.136
SEQUENCE_PARSE       <1,31,113>
Name: 13221, dtype: object
ID                         49281
IP_SPLIT_RESULT    182.227.85.41
SEQUENCE_PARSE               <1>
Name: 13222, dtype: object
ID                                                             49282
IP_SPLIT_RESULT                                        121.141.23.30
SEQUENCE_PARSE     <1,130,132,93,132,93,32,93,132,132,93,32,93,93...
Name: 13223, dtype: object
ID                          49283
IP_SPLIT_RESULT    58.124.141.162
SEQUENCE_PARSE                <1>
Name: 13224, dtype: object
ID                          49284
IP_SPLIT_RESULT    121.142.254.79
SEQUENCE_PARSE                <1>
Name: 13225, dtype: object
ID                         49285
IP_SPLIT_RESULT    211.213.36.86
SEQUENCE_PARSE               <1>
Name: 13226, dtype: object
ID                                   49286
IP_SPLIT_RESULT              110.70.14.214
SEQUENCE_PARSE     <32,93,132,93,132,32,5>
Name: 13227, dtype: object
ID                                                             49287
IP_SPLIT_RESULT                                        121.141.23.30
SEQUENCE_PARSE     <93,132,162,132,162,178,132,180,132,113,132,16...
Name: 13228, dtype: object
ID                              49288
IP_SPLIT_RESULT         110.70.14.214
SEQUENCE_PARSE     <93,132,132,32,93>
Name: 13229, dtype: object
ID                                                    49289
IP_SPLIT_RESULT                              182.216.72.131
SEQUENCE_PARSE     <1,132,93,132,93,90,132,93,132,93,93,93>
Name: 13230, dtype: object
ID                                           49290
IP_SPLIT_RESULT                       223.62.22.77
SEQUENCE_PARSE     <132,113,132,113,113,113,1,5,1>
Name: 13231, dtype: object
ID                              49291
IP_SPLIT_RESULT       211.119.252.254
SEQUENCE_PARSE     <1,93,93,93,93,93>
Name: 13232, dtype: object
ID                                                             49292
IP_SPLIT_RESULT                                      125.188.206.215
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,93,90,92,80,30,132...
Name: 13233, dtype: object
ID                         49293
IP_SPLIT_RESULT    121.177.61.77
SEQUENCE_PARSE               <1>
Name: 13234, dtype: object
ID                          49294
IP_SPLIT_RESULT    211.36.139.159
SEQUENCE_PARSE          <32,93,1>
Name: 13235, dtype: object
ID                             49295
IP_SPLIT_RESULT      180.182.197.120
SEQUENCE_PARSE     <1,132,93,132,93>
Name: 13236, dtype: object
ID                      49296
IP_SPLIT_RESULT    39.7.51.78
SEQUENCE_PARSE            <1>
Name: 13237, dtype: object
ID                         49297
IP_SPLIT_RESULT    211.247.3.237
SEQUENCE_PARSE               <1>
Name: 13238, dtype: object
ID                                                             49298
IP_SPLIT_RESULT                                         14.46.146.41
SEQUENCE_PARSE     <1,132,113,132,113,31,113,31,113,31,113,132,11...
Name: 13239, dtype: object
ID                                                             49299
IP_SPLIT_RESULT                                       175.223.20.146
SEQUENCE_PARSE     <1,5,1,132,81,81,212,81,132,113,132,1,132,113,...
Name: 13240, dtype: object
ID                                                             49300
IP_SPLIT_RESULT                                      163.239.255.150
SEQUENCE_PARSE     <1,92,87,80,24,212,132,1,132,93,132,132,113,13...
Name: 13241, dtype: object
ID                                                             49301
IP_SPLIT_RESULT                                          61.98.83.81

ID                         49433
IP_SPLIT_RESULT    211.36.141.38
SEQUENCE_PARSE               <1>
Name: 13374, dtype: object
ID                                                             49434
IP_SPLIT_RESULT                                      175.244.211.140
SEQUENCE_PARSE     <132,113,132,113,113,113,113,31,113,132,162,16...
Name: 13375, dtype: object
ID                            49435
IP_SPLIT_RESULT      223.39.139.108
SEQUENCE_PARSE     <32,32,32,32,93>
Name: 13376, dtype: object
ID                           49436
IP_SPLIT_RESULT    114.203.133.248
SEQUENCE_PARSE      <1,132,93,132>
Name: 13377, dtype: object
ID                                           49437
IP_SPLIT_RESULT                      223.62.22.208
SEQUENCE_PARSE     <1,93,132,132,132,93,132,93,93>
Name: 13378, dtype: object
ID                                                             49438
IP_SPLIT_RESULT                                      182.211.105.149
SEQUENCE_PARSE     <1,5,1,132,1,93,132,132,93,93,93,113,132,132,1...
Name: 13379, dtype: object
ID                         49439
IP_SPLIT_RESULT    121.168.78.24
SEQUENCE_PARSE             <5,1>
Name: 13380, dtype: object
ID                          49440
IP_SPLIT_RESULT    221.157.43.232
SEQUENCE_PARSE                <1>
Name: 13381, dtype: object
ID                         49441
IP_SPLIT_RESULT    58.148.82.178
SEQUENCE_PARSE               <1>
Name: 13382, dtype: object
ID                        49442
IP_SPLIT_RESULT    1.234.244.39
SEQUENCE_PARSE              <1>
Name: 13383, dtype: object
ID                                                49443
IP_SPLIT_RESULT                            211.249.68.6
SEQUENCE_PARSE     <1,5,1,5,1,5,1,5,1,5,1,5,1,5,1,31,1>
Name: 13384, dtype: object
ID                                                             49444
IP_SPLIT_RESULT                                       182.224.144.75
SEQUENCE_PARSE     <1,93,93,93,93,93,93,93,93,93,93,93,93,93,93,9...
Name: 13385, dtype: object
ID                          49445
IP_SPLIT_RESULT    54.196.176.130
SEQUENCE_PARSE                <1>
Name: 13386, dtype: object
ID                          49446
IP_SPLIT_RESULT    175.196.203.50
SEQUENCE_PARSE                <1>
Name: 13387, dtype: object
ID                       49447
IP_SPLIT_RESULT    39.7.15.202
SEQUENCE_PARSE          <1,92>
Name: 13388, dtype: object
ID                       49448
IP_SPLIT_RESULT    39.7.15.202
SEQUENCE_PARSE          <90,1>
Name: 13389, dtype: object
ID                                                         49449
IP_SPLIT_RESULT                                   211.36.135.154
SEQUENCE_PARSE     <1,93,93,93,93,93,132,132,93,1,132,93,132,93>
Name: 13390, dtype: object
ID                         49450
IP_SPLIT_RESULT    223.39.130.93
SEQUENCE_PARSE            <1,90>
Name: 13391, dtype: object
ID                          49451
IP_SPLIT_RESULT    218.234.146.10
SEQUENCE_PARSE                <1>
Name: 13392, dtype: object
ID                        49452
IP_SPLIT_RESULT    14.60.22.162
SEQUENCE_PARSE              <1>
Name: 13393, dtype: object
ID                           49453
IP_SPLIT_RESULT    125.178.225.226
SEQUENCE_PARSE             <1,5,1>
Name: 13394, dtype: object
ID                           49454
IP_SPLIT_RESULT    121.148.211.245
SEQUENCE_PARSE                 <1>
Name: 13395, dtype: object
ID                                      49455
IP_SPLIT_RESULT                  49.166.50.23
SEQUENCE_PARSE     <1,132,93,132,93,93,90,92>
Name: 13396, dtype: object
ID                         49456
IP_SPLIT_RESULT    116.124.9.240
SEQUENCE_PARSE               <1>
Name: 13397, dtype: object
ID                                                             49457
IP_SPLIT_RESULT                                       117.111.10.237
SEQUENCE_PARSE     <45,1,31,113,31,113,31,113,132,162,93,132,93,1...
Name: 13398, dtype: object
ID                                                             49458
IP_SPLIT_RESULT                                       117.111.10.237
SEQUENCE_PARSE     <113,132,132,31,113,31,113,113,31,113,31,113,1...
Name: 13399, dtype: object
ID                                         49459
IP_SPLIT_RESULT                     117.111.11.2
SEQUENCE_PARSE     <1,132,81,132,113,132,132,81>
Name: 13400, dtype: object
ID                           49460
IP_SPLIT_RESULT    112.151.156.152
SEQUENCE_PARSE                <38>
Name: 13401, dtype: object
ID                         49461
IP_SPLIT_RESULT    49.166.61.155
SEQUENCE_PARSE               <1>
Name: 13402, dtype: object
ID                          49462
IP_SPLIT_RESULT    223.62.173.113
SEQUENCE_PARSE     <30,1,5,1,5,1>
Name: 13403, dtype: object
ID                         49463
IP_SPLIT_RESULT    66.220.156.18
SEQUENCE_PARSE               <1>
Name: 13404, dtype: object
ID                         49464
IP_SPLIT_RESULT    66.220.156.17
SEQUENCE_PARSE             <5,1>
Name: 13405, dtype: object
ID                                         49465
IP_SPLIT_RESULT                    117.111.2.164
SEQUENCE_PARSE     <1,132,132,113,31,113,31,113>
Name: 13406, dtype: object
ID                         49466
IP_SPLIT_RESULT    66.220.156.16
SEQUENCE_PARSE               <1>
Name: 13407, dtype: object
ID                          49467
IP_SPLIT_RESULT    183.96.157.161
SEQUENCE_PARSE            <1,5,1>
Name: 13408, dtype: object
ID                                                 49468
IP_SPLIT_RESULT                            118.43.177.15
SEQUENCE_PARSE     <1,132,93,132,93,132,93,132,93,93,93>
Name: 13409, dtype: object
ID                       49469
IP_SPLIT_RESULT    61.74.20.25
SEQUENCE_PARSE            <92>
Name: 13410, dtype: object
ID                                                             49470
IP_SPLIT_RESULT                                         49.166.50.23
SEQUENCE_PARSE     <87,89,80,30,132,212,93,132,93,93,32,93,93,93,...
Name: 13411, dtype: object
ID                       49471
IP_SPLIT_RESULT    59.14.90.96
SEQUENCE_PARSE             <1>
Name: 13412, dtype: object
ID                          49472
IP_SPLIT_RESULT    211.36.147.167
SEQUENCE_PARSE                <1>
Name: 13413, dtype: object
ID                                                             49473
IP_SPLIT_RESULT                                       211.246.69.223
SEQUENCE_PARSE     <1,132,93,132,90,87,89,80,30,212,132,93,132,93...
Name: 13414, dtype: object
ID                         49474
IP_SPLIT_RESULT    222.120.44.39
SEQUENCE_PARSE               <1>
Name: 13415, dtype: object
ID                           49475
IP_SPLIT_RESULT    114.205.194.102
SEQUENCE_PARSE                 <1>
Name: 13416, dtype: object
ID                       49476
IP_SPLIT_RESULT    39.7.53.237
SEQUENCE_PARSE             <5>
Name: 13417, dtype: object
ID                         49477
IP_SPLIT_RESULT    223.33.180.34
SEQUENCE_PARSE               <1>
Name: 13418, dtype: object
ID                                                             49478
IP_SPLIT_RESULT                                       211.246.69.223
SEQUENCE_PARSE     <92,93,93,93,32,93,32,93,132,162,132,162,30,23...
Name: 13419, dtype: object
ID                         49479
IP_SPLIT_RESULT    118.34.111.57
SEQUENCE_PARSE               <1>
Name: 13420, dtype: object
ID                                                             49480
IP_SPLIT_RESULT                                         119.67.6.149
SEQUENCE_PARSE     <1,132,132,113,132,31,113,1,93,132,132,132,132...
Name: 13421, dtype: object
ID                          49481
IP_SPLIT_RESULT    203.104.145.48
SEQUENCE_PARSE                <1>
Name: 13422, dtype: object
ID                                                             49482
IP_SPLIT_RESULT                                       223.62.212.127
SEQUENCE_PARSE     <1,132,93,132,93,93,93,93,93,93,93,1,90,1,132,...
Name: 13423, dtype: object
ID                                                             49483
IP_SPLIT_RESULT                                       211.36.139.153
SEQUENCE_PARSE     <1,93,132,132,132,93,132,93,90,87,89,80,30,93,...
Name: 13424, dtype: object
ID                           49484
IP_SPLIT_RESULT    116.122.152.228
SEQUENCE_PARSE                 <1>
Name: 13425, dtype: object
ID                          49485
IP_SPLIT_RESULT    121.150.233.15
SEQUENCE_PARSE                <1>
Name: 13426, dtype: object
ID                         49486
IP_SPLIT_RESULT    124.216.48.72
SEQUENCE_PARSE               <1>
Name: 13427, dtype: object
ID                         49487
IP_SPLIT_RESULT    110.35.224.29
SEQUENCE_PARSE               <1>
Name: 13428, dtype: object
ID                          49488
IP_SPLIT_RESULT    115.143.88.133
SEQUENCE_PARSE                <1>
Name: 13429, dtype: object
ID                                                             49489
IP_SPLIT_RESULT                                       112.161.31.244
SEQUENCE_PARSE     <29,132,113,132,113,113,113,113,113,113,113,11...
Name: 13430, dtype: object
ID                                                             49490
IP_SPLIT_RESULT                                        110.70.59.185
SEQUENCE_PARSE     <1,132,132,158,160,132,132,113,132,113,113,31,...
Name: 13431, dtype: object
ID                                                             49491
IP_SPLIT_RESULT                                       203.228.12.197
SEQUENCE_PARSE     <1,132,132,158,160,113,132,158,160,113,132,158...
Name: 13432, dtype: object
ID                                                       49492
IP_SPLIT_RESULT                                  124.216.48.72
SEQUENCE_PARSE     <1,93,132,132,93,93,90,132,93,132,93,93,93>
Name: 13433, dtype: object
ID                                                             49493
IP_SPLIT_RESULT                                        117.111.1.106
SEQUENCE_PARSE     <1,132,113,132,113,31,113,1,132,93,132,93,93,3...
Name: 13434, dtype: object
ID                                                             49494
IP_SPLIT_RESULT                                       211.36.139.153
SEQUENCE_PARSE     <92,32,93,32,93,32,93,93,93,32,93,32,93,32,93,...
Name: 13435, dtype: object
ID                                                             49495
IP_SPLIT_RESULT                                        211.36.142.82
SEQUENCE_PARSE     <1,39,164,164,1,132,1,39,164,31,113,132,113,13...
Name: 13436, dtype: object
ID                          49496
IP_SPLIT_RESULT    49.172.141.243
SEQUENCE_PARSE                <1>
Name: 13437, dtype: object
ID                        49497
IP_SPLIT_RESULT    110.70.27.76
SEQUENCE_PARSE              <1>
Name: 13438, dtype: object
ID                         49498
IP_SPLIT_RESULT    110.70.47.206
SEQUENCE_PARSE           <1,113>
Name: 13439, dtype: object
ID                                                             49499
IP_SPLIT_RESULT                                       211.195.178.30
SEQUENCE_PARSE     <1,132,93,132,90,87,89,32,93,32,93,32,93,32,93...
Name: 13440, dtype: object
ID                         49500
IP_SPLIT_RESULT    121.154.247.6
SEQUENCE_PARSE           <1,5,1>
Name: 13441, dtype: object
ID                          49501
IP_SPLIT_RESULT    175.223.21.244
SEQUENCE_PARSE                <1>
Name: 13442, dtype: object
ID                                                             49502
IP_SPLIT_RESULT                                       211.195.178.30
SEQUENCE_PARSE     <92,80,30,93,212,132,132,93,32,93,32,93,32,93,...
Name: 13443, dtype: object
ID                         49503
IP_SPLIT_RESULT    39.113.252.37
SEQUENCE_PARSE               <1>
Name: 13444, dtype: object
ID                          49504
IP_SPLIT_RESULT    183.102.75.198
SEQUENCE_PARSE                <1>
Name: 13445, dtype: object
ID                           49505
IP_SPLIT_RESULT    112.167.117.175
SEQUENCE_PARSE                 <1>
Name: 13446, dtype: object
ID                                                          49506
IP_SPLIT_RESULT                                    203.228.12.197
SEQUENCE_PARSE     <113,31,113,113,113,113,113,113,31,113,31,113>
Name: 13447, dtype: object
ID                       49507
IP_SPLIT_RESULT    59.18.149.7
SEQUENCE_PARSE             <1>
Name: 13448, dtype: object
ID                                                            49508
IP_SPLIT_RESULT                                      112.161.31.244
SEQUENCE_PARSE     <113,113,113,113,113,113,113,113,113,31,113,113>
Name: 13449, dtype: object
ID                                                             49509
IP_SPLIT_RESULT                                        110.70.59.185
SEQUENCE_PARSE     <132,132,113,132,113,31,113,31,113,113,31,113,...
Name: 13450, dtype: object
ID                           49510
IP_SPLIT_RESULT    119.202.218.186
SEQUENCE_PARSE                 <1>
Name: 13451, dtype: object
ID                         49511
IP_SPLIT_RESULT    39.121.195.15
SEQUENCE_PARSE               <1>
Name: 13452, dtype: object
ID                                                             49512
IP_SPLIT_RESULT                                        223.38.10.141
SEQUENCE_PARSE     <1,31,113,1,31,31,113,31,113,63,31,113,31,113,...
Name: 13453, dtype: object
ID                           49513
IP_SPLIT_RESULT    112.167.216.220
SEQUENCE_PARSE                 <1>
Name: 13454, dtype: object
ID                          49514
IP_SPLIT_RESULT    115.139.75.224
SEQUENCE_PARSE                <1>
Name: 13455, dtype: object
ID                         49515
IP_SPLIT_RESULT    116.126.82.81
SEQUENCE_PARSE               <1>
Name: 13456, dtype: object
ID                          49516
IP_SPLIT_RESULT    58.121.102.108
SEQUENCE_PARSE                <1>
Name: 13457, dtype: object
ID                                                             49517
IP_SPLIT_RESULT                                        117.111.2.212
SEQUENCE_PARSE     <1,93,132,132,93,93,1,32,93,113,93,132,174,172...
Name: 13458, dtype: object
ID                                              49518
IP_SPLIT_RESULT                         1.229.227.174
SEQUENCE_PARSE     <1,132,93,132,132,93,132,93,93,93>
Name: 13459, dtype: object
ID                          49519
IP_SPLIT_RESULT    211.58.161.131
SEQUENCE_PARSE                <1>
Name: 13460, dtype: object
ID                          49520
IP_SPLIT_RESULT    118.219.206.85
SEQUENCE_PARSE                <1>
Name: 13461, dtype: object

KeyboardInterrupt:

## Mining

Description

### Define extract ngram function

Description

## Analysis